<div class="container-height">
    <div [id]="'oos-card-' + index" class="pdp-container pdpCard" *ngIf="showProduct">
        <span class="blueTag">{{(index - GLOBAL_CONSTANT.oosSimilarCardCountTop) + 1}}</span>
        <div class="prod-carsl" 
            [class.hasOneImage]="similarProductData[index].productAllImages?.length === 1"
            [ngClass]="[carouselInitialized ? '' : 'before-init']">
            <ng-container #productCrousel></ng-container>
            <div class="prod-carsl-pseudo" data-swipe (next)="onRotateNext()" #productCrouselPseudo
                (previous)="onRotatePrevious()">
                <div class="img-block-pseudo">
                    <div class="inner-block-pseudo" (click)="firstImageClicked()">
                        <div class="pinch-zoom element-pseudo" style="transform-origin: 0% 0%;">
                            <img *ngIf="!isProductCrouselLoaded" enhanceImgByNetwork
                                src="{{similarProductData[index].productAllImages[0]['large'] }}"
                                height="330" width="330"
                                alt="{{similarProductData[index].productName}}">
                            <img *ngIf="isProductCrouselLoaded"
                                src="{{productService.imagePathAsset}}assets/img/loader_new.gif" class="loader-image" />
                        </div>
                    </div>
                    <ng-container
                        *ngIf="!isProductCrouselLoaded && !productCrouselInstance && iOptions.pager && similarProductData[index].productAllImages.length>1">
                        <ul class="pager">
                            <ng-container *ngFor="let item of similarProductData[index].productAllImages;let i=index">
                                <li *ngIf="item['contentType'] == 'IMAGE'" class="pager_dot" (click)="loadProductCrousel(i)"
                                    [ngClass]="{'active': ( i==0 && !isProductCrouselLoaded ) || ( i==1 && isProductCrouselLoaded) }">
                                </li>
                                <li *ngIf="item['contentType'] == 'YOUTUBE_VIDEO'" (click)="loadProductCrousel(i)" class="pager_icon_dot">
                                    <em class="icon-youtube"></em>
                                </li>
                            </ng-container>
                        </ul>
                    </ng-container>
                </div>
            </div>
        </div>
        
        <product-description 
            (checkCartQuantityAndUpdate$)="checkCartQuantityAndUpdate($event)"
            [productPrice]="similarProductData[index].productPrice"
            [qunatityFormControl]="qunatityFormControl"
            [productName]="similarProductData[index].productName" 
            [productDiscount]=" similarProductData[index]['discount'] || similarProductData[index].productDiscount"
            [bulkPriceWithoutTax]="similarProductData[index].bulkPriceWithoutTax"
            [priceWithoutTax]="similarProductData[index].priceWithoutTax"
            [productMrp]="similarProductData[index].productMrp"
            [taxPercentage]="similarProductData[index].taxPercentage" 
            [bulkSellingPrice]="similarProductData[index].bulkSellingPrice"
            [productMinimmumQuantity]="similarProductData[index].productMinimmumQuantity"
            [priceQuantityCountry]="similarProductData[index].priceQuantityCountry"
            [starsCount]="similarProductData[index].avgRating" 
            [rawReviewsData]="similarProductData[index].rawReviewsData"
            [rawProductCountMessage]="similarProductData[index].recentBoughtMessage"
        ></product-description>

        <ng-template #pdpinfo [ngTemplateOutlet]="pdpinfo" let-section="section" let-product="product"
            [ngTemplateOutletContext]="{ product:similarProductData[index] , section: similarProductData[index] | productInfoSection }">
            <ng-container [ngSwitch]="section">
                <!--Features-->
                <div *ngSwitchCase="'features'" class="key-features">
                    <product-feature-details [applyExtraMargin]="false" [isFromOosSimilarCard]="true" [productKeyFeatures]="product.productKeyFeatures | sliceArray:3"></product-feature-details>
                    <div class="show-all-strip spec pwa-col-12">
                        <span
                            (click)="showAllKeyFeatureClickEvent.emit({index: index, section: 'key features', type: 'show all specifications'});">View
                            Details
                            <i class="icon-next"></i>
                        </span>
                    </div>
                </div>
                <!--Specifications-->
                <div *ngSwitchCase="'specifications'" class="product-specification pwa-row">
                    <h2 *ngIf="product.productAttributes?.length > 0" class="heading-3 pwa-col-12">Product Specifications</h2>
                    <product-feature-details  [applyExtraMargin]="false" [productBrandDetails]="product.productBrandDetails" [productAttributes]="product.productAttributes" [isFromOosSimilarCard]="true"></product-feature-details>
                    <div (click)="showAllKeyFeatureClickEvent.emit({index: index, section: 'specifications', type: 'show all specifications'});"
                        class="show-all-strip spec pwa-col-12">
                        <span>View Details
                            <i class="icon-next"></i>
                        </span>
                    </div>
                </div>
                <!--Details-->
                <div *ngSwitchCase="'details'" class="prod-detail pwa-row">
                    <app-product-oos-similar-product-detail 
                        [product]="product"
                    ></app-product-oos-similar-product-detail>                    
                    <div (click)="showAllKeyFeatureClickEvent.emit({index: index, section: 'product details', type: 'read more'});"
                        class="show-all-strip pwa-col-12">
                        <span>View Details
                            <i class="icon-next"></i>
                        </span>
                    </div>
                </div>
            </ng-container>
        </ng-template>
        <div class="bottom-bar nonFixed" data-observeVisibility [debounceTime]="100" (visible)="onVisibleInViewPort()">
            <button class="cart-btn ml-5 bold-txt f-14 f-left" (click)="buyNow(false)">
                <i class="icon-cart1"></i>
                <span>ADD TO CART</span>
            </button>
            <div class="buy-now f-right f-14">
                <button class="f-14" (click)="buyNow(true)">BUY NOW</button>
            </div>
        </div>
        <ng-container *ngIf="breadcrumData && breadcrumData.length > 0">
            <breadcrumb-nav [breadcrumb]="breadcrumData"></breadcrumb-nav>
        </ng-container>
    </div>
</div>


<ng-container #variantPopup></ng-container>
<ng-container #addToCartToast></ng-container>
<ng-container #productRFQ></ng-container>
<ng-container #alertBox></ng-container>