<div [id]="'oos-card-' + index" class="pdp-container pdpCard" *ngIf="showProduct">
    <span class="blueTag">{{(index - GLOBAL_CONSTANT.oosSimilarCardCountTop) + 1}}</span>
    <div class="prod-carsl" addClass
        [class.hasOneImage]="productService.oosSimilarProductsData.similarData[index].productAllImages?.length === 1"
        [ngClass]="[carouselInitialized ? '' : 'before-init']">
        <ng-container #productCrousel></ng-container>
        <div class="prod-carsl-pseudo" swipe (next)="onRotateNext()" #productCrouselPseudo
            (previous)="onRotatePrevious()">
            <div class="img-block-pseudo">
                <div class="inner-block-pseudo" (click)="firstImageClicked()">
                    <div class="pinch-zoom element-pseudo" style="transform-origin: 0% 0%;">
                        <img *ngIf="!isProductCrouselLoaded" enhanceImgByNetwork
                            src="{{productService.oosSimilarProductsData.similarData[index].productAllImages[0]['large'] }}"
                            height="330" width="330"
                            alt="{{productService.oosSimilarProductsData.similarData[index].productName}}">
                        <img *ngIf="isProductCrouselLoaded"
                            src="{{productService.imagePathAsset}}assets/img/loader_new.gif" class="loader-image" />
                    </div>
                </div>
                <ul class="pager">
                    <ng-container
                        *ngIf="!isProductCrouselLoaded && !productCrouselInstance && iOptions.pager && productService.oosSimilarProductsData.similarData[index].productAllImages.length>1">
                        <ng-container
                            *ngFor="let item of productService.oosSimilarProductsData.similarData[index].productAllImages;let i=index">
                            <li *ngIf="item['contentType'] == 'IMAGE'" class="pager_dot" (click)="loadProductCrousel(i)"
                                [ngClass]="{'active': ( i==0 && !isProductCrouselLoaded ) || ( i==1 && isProductCrouselLoaded) }">
                            </li>
                            <li *ngIf="item['contentType'] == 'YOUTUBE_VIDEO'" (click)="loadProductCrousel(i)"
                                class="pager_icon_dot">
                                <em class="icon-youtube"></em>
                            </li>
                        </ng-container>
                    </ng-container>
                </ul>
            </div>
        </div>
    </div>
    <div class="prod-description">
        <h1 class="prod-name heading" *ngIf="productService.oosSimilarProductsData.similarData[index].productName">
            {{productService.oosSimilarProductsData.similarData[index].productName}}</h1>
        <div class="pdp-price-qty-block">
            <div class="price-block" *ngIf="productService.oosSimilarProductsData.similarData[index].productMrp > 0">
                <ng-container *ngIf="productService.oosSimilarProductsData.similarData[index].productMrp > 0">
                    <p class="mrp"
                        *ngIf="productService.oosSimilarProductsData.similarData[index].productMrp > productService.oosSimilarProductsData.similarData[index].priceWithoutTax">
                        <small>{{productService.oosSimilarProductsData.similarData[index].productMrp | currency: 'INR' :
                            'symbol' : '1.0-0'}}</small>
                        <span
                            *ngIf="productService.oosSimilarProductsData.similarData[index].productDiscount != undefined && productService.oosSimilarProductsData.similarData[index].productDiscount>0 && productService.oosSimilarProductsData.similarData[index].productMrp > 0 && productService.oosSimilarProductsData.similarData[index].bulkPriceWithoutTax==null">
                            {{((productService.oosSimilarProductsData.similarData[index].productMrp -
                            productService.oosSimilarProductsData.similarData[index].priceWithoutTax)/productService.oosSimilarProductsData.similarData[index].productMrp)*100
                            | mathFloor | number:'1.0-0'}}% OFF
                        </span>
                        <span
                            *ngIf="productService.oosSimilarProductsData.similarData[index].productDiscount != undefined && productService.oosSimilarProductsData.similarData[index].productDiscount>0 && productService.oosSimilarProductsData.similarData[index].productMrp > 0 && productService.oosSimilarProductsData.similarData[index].bulkPriceWithoutTax!=null">
                            {{ productService.oosSimilarProductsData.similarData[index].bulkDiscount | mathFloor |
                            number:'1.0-0'}}% OFF
                        </span>
                    </p>
                    <p class="actual-price"
                        *ngIf="productService.oosSimilarProductsData.similarData[index].priceWithoutTax > 0 && productService.oosSimilarProductsData.similarData[index].bulkPriceWithoutTax==null">
                        {{productService.oosSimilarProductsData.similarData[index].priceWithoutTax | currency: 'INR' :
                        'symbol' : '1.0-0'}}
                        <small *ngIf="productService.oosSimilarProductsData.similarData[index].taxPercentage">
                            GST @{{productService.oosSimilarProductsData.similarData[index].taxPercentage}}% Inc. Price:
                            {{productService.oosSimilarProductsData.similarData[index].productPrice | mathFloor |
                            currency: 'INR' :
                            'symbol' : '1.0-0'}}
                        </small>
                    </p>
                    <!-- <p class="actual-price"
                        *ngIf="productService.oosSimilarProductsData.similarData[index].bulkPriceWithoutTax!==null">
                        {{productService.oosSimilarProductsData.similarData[index].bulkPriceWithoutTax | currency: 'INR'
                        : 'symbol' : '1.0-0'}}
                        <small *ngIf="productService.oosSimilarProductsData.similarData[index].taxPercentage">
                            GST @{{productService.oosSimilarProductsData.similarData[index].taxPercentage}}% Inc. Price:
                            {{productService.oosSimilarProductsData.similarData[index].bulkSellingPrice | mathFloor |
                            currency: 'INR' :
                            'symbol' : '1.0-0'}}
                        </small>
                    </p> -->
                </ng-container>
            </div>
            <div class="qty_section" *ngIf="productService.oosSimilarProductsData.similarData[index].productMrp > 0">
                <div class="quantity-block">
                    <span class="add-qty qty-block"
                        (click)="changeBulkPriceQuantity(-1, 'decrementButton')">&#8722;</span>
                    <input id="product_quantity"
                        [value]="productService.oosSimilarProductsData.similarData[index].productMinimmumQuantity"
                        (focusout)="changeBulkPriceQuantity(0)" type="text" min="1" maxlength="3">
                    <span class="remove-qty qty-block"
                        (click)="changeBulkPriceQuantity(1, 'incrementButton')">&#43;</span>
                </div>
                <div class="quan-details"
                    *ngIf="productService.oosSimilarProductsData.similarData[index].productMinimmumQuantity>1">
                    <p>Qty Per Pack :
                        <span>{{productService.oosSimilarProductsData.similarData[index].priceQuantityCountry['packageUnit']}}</span>
                    </p>
                    <p>Min Order Qty :
                        <span>{{productService.oosSimilarProductsData.similarData[index].productMinimmumQuantity}}
                            Pack</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="prod-inner-desc">
            <span class="rating-box"
                *ngIf="productService.oosSimilarProductsData.similarData[index].starsCount > 0">{{productService.oosSimilarProductsData.similarData[index].starsCount
                | number : '1.1-1'}}
                <i class="icon-rating-star"></i>
            </span>
            <div class="prod-status">
                <p class="prod-status-right">
                    <small class="review"
                        *ngIf="productService.oosSimilarProductsData.similarData[index].rawReviewsData?.reviewList?.length > 0">
                        {{productService.oosSimilarProductsData.similarData[index].rawReviewsData.reviewList.length}}
                        Reviews
                    </small>
                </p>
            </div>
        </div>
    </div>
    <div *ngIf="productService.oosSimilarProductsData.similarData[index].productKeyFeatures && productService.oosSimilarProductsData.similarData[index].productKeyFeatures.length > 0"
        class="key-features">
        <div class="inline-heading">
            <h3 class="heading-3">Key Features</h3>
            <div class="show-all-strip pad-t-0"><span (click)="showAllKeyFeatureClickEvent.emit(index);">View All
                    <i class="icon-next"></i></span></div>
        </div>
        <ul class="feature-list">
            <li
                *ngFor="let feature of productService.oosSimilarProductsData.similarData[index].productKeyFeatures | sliceArray:3">
                <p>
                    <span>{{feature}}.</span>
                </p>
            </li>
        </ul>
    </div>
    <div class="bottom-bar nonFixed">
        <button class="cart-btn ml-5 bold-txt f-14 f-left" (click)="buyNow(false)">
            <i class="icon-cart1"></i>
            <span>ADD TO CART</span>
        </button>
        <div class="buy-now f-right f-14">
            <button class="f-14" (click)="buyNow(true)">BUY NOW</button>
        </div>
    </div>
    <div class="pdp-card-breadcrumb" *ngIf="breadcrumData?.length > 0">
        <ul>
            <li *ngFor="let bread of breadcrumData">
                <span (click)="navigateTo(bread?.categoryLink)">
                    {{ bread?.categoryName }}
                </span>
            </li>
        </ul>
    </div>
</div>

<ng-container #variantPopup></ng-container>
<ng-container #addToCartToast></ng-container>
<ng-container #productRFQ></ng-container>
<ng-container #alertBox></ng-container>