<div class="container-height">
    <div [id]="'oos-card-' + index" class="pdp-container pdpCard" *ngIf="showProduct">
        <span class="blueTag">{{(index - GLOBAL_CONSTANT.oosSimilarCardCountTop) + 1}}</span>
        <div class="prod-carsl" addClass
            [class.hasOneImage]="similarData[index].productAllImages?.length === 1"
            [ngClass]="[carouselInitialized ? '' : 'before-init']">
            <ng-container #productCrousel></ng-container>
            <div class="prod-carsl-pseudo" swipe (next)="onRotateNext()" #productCrouselPseudo
                (previous)="onRotatePrevious()">
                <div class="img-block-pseudo">
                    <div class="inner-block-pseudo" (click)="firstImageClicked()">
                        <div class="pinch-zoom element-pseudo" style="transform-origin: 0% 0%;">
                            <img *ngIf="!isProductCrouselLoaded" enhanceImgByNetwork
                                src="{{similarData[index].productAllImages[0]['large'] }}"
                                height="330" width="330"
                                alt="{{similarData[index].productName}}">
                            <img *ngIf="isProductCrouselLoaded"
                                src="{{productService.imagePathAsset}}assets/img/loader_new.gif" class="loader-image" />
                        </div>
                    </div>
                    <ul class="pager">
                        <ng-container
                            *ngIf="!isProductCrouselLoaded && !productCrouselInstance && iOptions.pager && similarData[index].productAllImages.length>1">
                            <ng-container
                                *ngFor="let item of similarData[index].productAllImages;let i=index">
                                <li *ngIf="item['contentType'] == 'IMAGE'" class="pager_dot"
                                    (click)="loadProductCrousel(i)"
                                    [ngClass]="{'active': ( i==0 && !isProductCrouselLoaded ) || ( i==1 && isProductCrouselLoaded) }">
                                </li>
                                <li *ngIf="item['contentType'] == 'YOUTUBE_VIDEO'" (click)="loadProductCrousel(i)"
                                    class="pager_icon_dot">
                                    <em class="icon-youtube"></em>
                                </li>
                            </ng-container>
                        </ng-container>
                    </ul>
                </div>
            </div>
        </div>
        <div class="prod-description">
            <h1 class="prod-name heading" *ngIf="similarData[index].productName">
                {{similarData[index].productName}}</h1>
            <div class="pdp-price-qty-block">
                <div class="price-block"
                    *ngIf="similarData[index].productMrp > 0">
                    <ng-container *ngIf="similarData[index].productMrp > 0">
                        <p class="actual-price"
                            *ngIf="similarData[index].priceWithoutTax > 0 && similarData[index].bulkPriceWithoutTax==null">
                            <small *ngIf="((+similarData[index].productPrice - +similarData[index].priceWithoutTax)) > 0">
                                {{similarData[index].productPrice | mathFloor |
                                    currency: 'INR' :'symbol' : '1.0-0'}} (Incl. of all taxes)
                            </small>
                        </p>
                        <p class="actual-price main-price">
                            <strong>{{similarData[index].priceWithoutTax | currency: 'INR' :
                                'symbol' : '1.0-0'}}</strong>
                            <small class="inline-price" *ngIf="((+similarData[index].productPrice - +similarData[index].priceWithoutTax)) > 0" >
                                <i class="icon-expand"></i>
                                ₹{{(+similarData[index].productPrice - +similarData[index].priceWithoutTax) | currency: 'INR' :
                                'symbol' : '1.0-0'}} GST
                            </small>
                        </p>
                        <p class="mrp"
                            *ngIf="similarData[index].productMrp > similarData[index].salesPrice">
                            <small>{{similarData[index].productMrp | currency:
                                'INR' :
                                'symbol' : '1.0-0'}}</small>
                            <span
                                *ngIf="similarData[index].productDiscount != undefined && similarData[index].productDiscount>0 && similarData[index].productMrp > 0 && similarData[index].bulkPriceWithoutTax==null">
                                {{((similarData[index].productMrp -
                                similarData[index].salesPrice)/similarData[index].productMrp)*100
                                | mathCeil | number:'1.0-0'}}% OFF
                            </span>
                            <span
                                *ngIf="similarData[index].productDiscount != undefined && similarData[index].productDiscount>0 && similarData[index].productMrp > 0 && similarData[index].bulkPriceWithoutTax!=null">
                                {{ similarData[index].bulkDiscount | mathCeil |
                                number:'1.0-0'}}% OFF
                            </span>
                        </p>
                        
                    </ng-container>
                </div>
                <div class="qty_section"
                    *ngIf="similarData[index].productMrp > 0">
                    <div class="quantity-block">
                        <span class="add-qty qty-block" (click)="updateProductQunatity('DECREMENT')">&#8722;</span>
                        <input id="product_quantity" [formControl]="qunatityFormControl"
                            (focusout)="onChangeCartQuanityValue()" type="text" min="1" maxlength="3" numbersOnly />
                        <span class="remove-qty qty-block" (click)="updateProductQunatity('INCREMENT')">&#43;</span>
                    </div>
                    <div class="quan-details"
                        *ngIf="similarData[index].productMinimmumQuantity>1">
                        <p>Qty Per Pack :
                            <span>{{similarData[index].priceQuantityCountry['packageUnit']}}</span>
                        </p>
                        <p>Min Order Qty :
                            <span>{{similarData[index].productMinimmumQuantity}}
                                Pack</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="prod-inner-desc">
                <span (click)="getReviewsAndRatings()" class="rating-box"
                    *ngIf="similarData[index].avgRating > 0">{{similarData[index].avgRating
                    | number : '1.1-1'}}
                    <i class="icon-rating-star"></i>
                </span>
                <div class="prod-status">
                    <p class="prod-status-right">
                        <small (click)="getReviewsAndRatings()" class="review"
                            *ngIf="similarData[index].reviewCount > 0">
                            {{similarData[index].reviewCount}}
                            Reviews
                        </small>
                    </p>
                </div>
            </div>
            <!--recently bought product section -->
            <div class="recent-bought-wrap"
                *ngIf="similarData[index].recentBoughtMessage">
                <i class="icon-trending"></i>
                <span
                    class="inner-text">{{similarData[index].recentBoughtMessage}}</span>
            </div>
        </div>
        <!--fallback keyfeatures|specifications|details-->
        <ng-template #pdpinfo [ngTemplateOutlet]="pdpinfo" let-section="section" let-product="product"
            [ngTemplateOutletContext]="{ product:similarData[index] , section: similarData[index] | productInfoSection }">
            <ng-container [ngSwitch]="section">
                <!--Features-->
                <div *ngSwitchCase="'features'" class="key-features">
                    <div class="inline-heading">
                        <h3 class="heading-3">Key Features</h3>
                    </div>
                    <ul class="feature-list">
                        <li *ngFor="let feature of product.productKeyFeatures | sliceArray:3">
                            <p>
                                <span>{{feature}}.</span>
                            </p>
                        </li>
                    </ul>
                    <div class="show-all-strip">
                        <span
                            (click)="showAllKeyFeatureClickEvent.emit({index: index, section: 'key features', type: 'show all specifications'});">View
                            Details
                            <i class="icon-next"></i>
                        </span>
                    </div>
                </div>
                <!--Specifications-->
                <div *ngSwitchCase="'specifications'" class="product-specification">
                    <h2 class="heading-3">Product Specifications</h2>
                    <table width="100%" class="product-spec" cellpadding="0" cellspacing="0">
                        <tr>
                            <td class="left">
                                <div>Brand</div>
                            </td>
                            <td class="right">
                                <div>
                                    <a class="brandName"
                                        (click)="commonService.navigateTo(getBrandLink(product.productBrandDetails))">{{product['brandName']}}</a>
                                </div>
                            </td>
                        </tr>
                        <tr
                            *ngFor="let attr of product.productAttributes | objectToArray:'associative' | sliceArray:3s">
                            <td class="left">
                                <div>{{attr.key}}</div>
                            </td>
                            <td class="right">
                                <div *ngFor="let item of attr.value">
                                    {{item}}
                                </div>
                            </td>
                        </tr>
                    </table>
                    <div (click)="showAllKeyFeatureClickEvent.emit({index: index, section: 'specifications', type: 'show all specifications'});"
                        class="show-all-strip spec">
                        <span>View Details
                            <i class="icon-next"></i>
                        </span>
                    </div>
                </div>
                <!--Details-->
                <div *ngSwitchCase="'details'" class="prod-detail">
                    <h2 class="heading-3">Product Details</h2>
                    <ng-container *ngIf="product.productDescripton != undefined else noProdDesc">
                        <p [innerHTML]="product.productDescripton"></p>
                        <p class="static-desc"> Browse through the extensive list of
                            <a class="blueText"
                                (click)="navigateLink('/'+ (product.productCategoryDetails ? product.productCategoryDetails['categoryLink'] : ''))">
                                {{product.productCategoryDetails['categoryName']}}</a> at Moglix. Shop online for other
                            <a class="blueText"
                                (click)="navigateLink('/'+ product.productBrandCategoryUrl)">{{product.productBrandDetails
                                ?
                                product.productBrandDetails['brandName'] : ''}}
                                {{product.productCategoryDetails['categoryName']}}.</a> available at Moglix in the
                            lowest
                            price range.
                        </p>
                    </ng-container>
                    <ng-template #noProdDesc>
                        <p>
                            {{product.productName}} is a premium quality product from {{product.productBrandDetails ?
                            product.productBrandDetails['brandName'] : ''}}. Moglix is a
                            well-known ecommerce platform for qualitative range of <a class="blueText"
                                (click)="navigateLink('/'+product.productCategoryDetails['categoryLink'])">{{product.productCategoryDetails
                                ?
                                product.productCategoryDetails['categoryName'] : ''}}</a>.
                            All {{product.productName}} are manufactured by using quality assured material and advanced
                            techniques,
                            which make them up to the standard in this highly challenging field. The materials utilized
                            to
                            manufacture {{product.productName}}, are sourced
                            from the most reliable and official vendors, chosen after performing detailed market
                            surveys.
                            {{product.productBrandDetails ? product.productBrandDetails['brandName'] : ''}} products are
                            widely acknowledged in
                            the market for their high
                            quality. We are dedicatedly involved in
                            providing an excellent quality array of <a class="blueText"
                                (click)="navigateLink('/'+product.productBrandCategoryUrl)">
                                {{product.productBrandDetails ? product.productBrandDetails['brandName'] : ''}}
                                {{product.productCategoryDetails ?
                                product.productCategoryDetails['categoryName'] : ''}}</a>.
                        </p>
                    </ng-template>
                    <div (click)="showAllKeyFeatureClickEvent.emit({index: index, section: 'product details', type: 'read more'});"
                        class="show-all-strip">
                        <span>View Details
                            <i class="icon-next"></i>
                        </span>
                    </div>
                </div>
            </ng-container>
        </ng-template>
        <div class="bottom-bar nonFixed" observeVisibility [debounceTime]="100" (visible)="onVisibleInViewPort()">
            <button class="cart-btn ml-5 bold-txt f-14 f-left" (click)="buyNow(false)">
                <i class="icon-cart1"></i>
                <span>ADD TO CART</span>
            </button>
            <div class="buy-now f-right f-14">
                <button class="f-14" (click)="buyNow(true)">BUY NOW</button>
            </div>
        </div>
        <div class="pdp-card-breadcrumb" *ngIf="breadcrumData?.length > 0">
            <ul class="oos-card-{{index}}">
                <li *ngFor="let bread of breadcrumData">
                    <span (click)="navigateTo(bread?.categoryLink)">
                        {{ bread?.categoryName }}
                    </span>
                </li>
            </ul>
        </div>
    </div>
</div>


<ng-container #variantPopup></ng-container>
<ng-container #addToCartToast></ng-container>
<ng-container #productRFQ></ng-container>
<ng-container #alertBox></ng-container>