
@import "../../scss/variables";
@import "../../scss/utils/utilities.scss";
.mobikwik-wallet {
    height: calc(100% - 60px);
    overflow: auto;
    background: var(--white);
    .wallet-block{
        background: var(--ghost-white);
        img {
            padding-left: 20px;
            width: 200px;
        }
        .top-txt {
            padding: 20px 60px 20px 20px;
            line-height: $large-line-height;
            font-size: $extra-large-font;
            color: var(--onyx-black);
            p{
                font-weight: $font-bolder;
                font-size: $large-font;
                line-height: $medium-line-height;
            }
        }
    }
    .wallet-body {
        .heading-3 {
            padding-bottom: 0px;
        }
        background: white;
        .wallet-condtn {
            font-size: $large-font;
            line-height: $large-line-height;
        }
    }
}
