@import '../../scss/components/checkbox.scss';
.radio_wrap input[type="radio"] + i{
    margin-right: 5px;
    top: 3px;
}

.select-type{
    height: calc(100% - 205px);
}
.customer-popup {
    height: 100%;
    .content-popup {
        height: 100%;
    }
    &>.container {
        width: 100%;
    }
    .head {
        padding: 15px;
        background: var(--white);
        box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
        text-align: center;
    }
    .question {
        margin: 15px 0;
        text-align: center;
        font-size: 18px;
        font-weight: 500;
    }
    .types-of-customer {
        width: 85%;
        margin: auto;
        &.h-100 {
            height: 100%;
            padding-top: 1px;
        }
        .select-type {
            label {
                width: 48%;
                border: 2px solid $border-color;
                height: calc(100% / 2 - 15px);
                min-height: 156px;
                text-align: center;
                font-weight: bold;
                border-radius: 8px;
                margin-bottom: 13px;
                padding: 10px;
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: center;
                input {
                    display: none;
                }
                &:hover,
                &.selected {
                    border-color: $active-border-color;
                }
                img {
                    width: 100px;
                    height: 100px;
                }
            }
        }
        .next {
            background: none;
            border: 0;
        }
    }
    .next {
        font-size: 40px;
        color: $active-color;
        display: block;
        width: 40px;
        line-height: 40px;
        margin: 20px auto 0 auto;
        &:disabled {
            color: var(--silver);
        }
    }
    .skip-btn {
        color: #D8D8D8;
        font-size: 18px;
        margin: 30px auto 0 auto;
        font-weight: bold;
        display: block;
        border: none;
        background: none
    }
    .step-2 {
        p.note-msg {
            font-size: 14px;
            text-align: center;
            margin: 15px 0;
        }
        .trending-category {
            .categories {
                @extend %cards;
                padding: 0;
                border-width: 0;
                border-top: 1px solid $border-color;
                label {
                    @include gridForCategory('3', null);
                    text-align: center;
                    height: 135px;
                    position: relative;
                    @extend %custom-check-box;
                    .icon-box {
                        top: 3px;
                        position: absolute;
                        right: 3px;
                        margin-right: 0;
                        opacity: 0;
                    }
                    .overlay-container {
                        display: block;
                        height: 100%;
                        width: 100%;
                        padding: 25px 5px 5px 5px;
                        border: solid $border-color;
                        border-width: 0 1px 1px 0;
                        &:nth-child(n + 4) {
                            .overlay-container {
                                border-bottom: 0;
                            }
                        }
                        input {
                            display: none
                        }
                        i {
                            font-size: 40px;
                            margin-bottom: 10px;
                            display: block;
                        }
                    }
                    input:checked {
                        &~.overlay-container {
                            background: $checkbox-overly;
                        }
                        &+.icon-box {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
}