.bannerBlock{
    background-position: center center;
    background-repeat: no-repeat;
    height: 100%;
    background-size: cover !important;
    height: 220px;
    position: relative;
}
.bannerTxtBlock{
    position: absolute;
    top: 20%;
    left: 40px;
    width: 85%;
    h3{
        font-size:28px;
        color:#fff;
        margin-bottom:10px;
    }
    p{
        font-size:14px;
        line-height:20px;
        color:#fff;
    }
}
.mfrNewarrivalBlock{
    position: relative;
    background:#fff;
    padding:60px;   
}
.mfrPercentageWrap{
    padding: 15px 15px;
    background: #fff;
  .leftSection{
    float: left;
    width:50%;
    img{
        width:100%;
        padding-right:10px;
    }
  }
}
.mfrFeaturesblock{
    background: #D9232D;
    padding: 15px 5px;
    .block{
        text-align:center;
        width:20%;
        position: relative;
        float:left;
        padding:5px 0px;
        &:last-child{
          &:after{
              display:none;
          }
        }
        &:after{
            border-right:1px solid #d1b8b5; 
            content:"";
            position: absolute;
            right:0;
            top: 15px;
            bottom: 5px;
          }
        small{
         color:#fff;
         display:block;
         font-size:14px;
         font-weight:800; 
        }
        img{
            width:30px;
            height:45px;
        }
        span{
            color:#fff;
            font-size:10px;
            font-weight:600; 
        }
    }
    
}

.whyChooseUs{
    background:#D3C1A9;
    padding:15px 0px;
  .whyChooseUs_sec1{
   .whyChooseUsBlock{
    padding:15px;
      img{
        float: left;
        padding-right: 30px;
       }
       .txtBlock{
         float:left;
         width:calc(100% - 100px);
        h4{
            font-size:20px; 
            padding-bottom:15px;
        }
        p{
          line-height: 26px;
          font-size:14px; 
        }
      }
    }
  }
  .whyChooseUs_sec2{
    float:left;
    width:40%;
    img{
        width:100%;
    }
  }  
}
.ourClientsBlock{
   background:#F1F4FC;
   padding:15px;
}
.awardsSection{
    background:#fff;
    padding:40px;
    .inner-section{
       text-align:center; 
       .award_img-section{
           margin-top:15px;
           margin: 0 auto;
           &>div {
               width:70%;
               padding:15px;
               margin:0 auto; 
               img{
                width:100%; 
            }
           }
       }
    }
}
.mfr-heading{
   margin-bottom:10px; 
  h3.center-border{
    font-size:18px;
    &:after{
        border-bottom:2px solid #000;
        content:"";
        bottom:0;
    }
  }
  h3.left-border{
    font-size:18px;
    &:after{
        border-bottom:2px solid #000;
        content:"";
        bottom:0;
        left:0;
    }
  }  
}
.wp-70{
    width:70%;
}
.desc-text{
    line-height: 26px;
    font-size: 14px;
}
.supplier-carousel{
    padding-top:60px;
    margin:0 auto; 
    position: relative; 
}
.all-products {
    background:#fff;
    padding:15px 0px;
    .view-products{
        border-top: 1px solid #ddd;
    }
}
.mfr_product_block{
    // width:20%;
    // float:left;
    background:#fff;
  img{
      width:100%;
  } 
  .mfr_product_details{
    .discount{
        padding: 8px 0;
        height: 30px;
        text-align: center;
        display: inline-block;
        background: #20a012;
        width: 65px;
        font-weight: 500;
        color: white !important; 
    }
    .prod-name{
        padding-top:5px;
        line-height: 16px;
        font-weight: bold;
        font-size: 12px;
    }
    .mrp{
        font-size:20px;
        line-height:25px;
        font-weight:500;
        padding-top:5px;
    }
  } 
}
.mfr-bestSeller{
    background:#fff;
    position: relative;
    padding:10px 30px;
}
.ss_sec-heading-left{
    position: relative;
    color: #2A2A2A;
    font-size:21px;
    padding: 0 15px 10px;
    margin-bottom:15px;
    &:before{
      width:80px;
      content: '';
      height:2px;
      position: absolute;
      bottom:0;
      background: #2A2A2A;
    }
  }
  .ss_sec-heading-center{
    position: relative;
    color: #2A2A2A;
    font-size:21px;
    padding: 0 15px 10px;
    margin-bottom:15px;
    text-align:center;
    &:before{
      width:80px;
      content: '';
      height:2px;
      position: absolute;
      bottom:0;
      left:0;
      right:0;
      margin:0 auto;
      background: #2A2A2A;
    }
  }
  .viewallbs{
    color: #d9232d !important;
    border: 1px solid #d9232d;
    border-radius: 2px;
    text-transform: uppercase;
    font-size: 12px;
    position: absolute;
    right: 12px;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    top: 0;
    padding: 0px 16px;
  }
  .mfr_brand_block{
    background:#fff;
    img{
        width:100%;
    } 
    .mfr_product_details{
      .discount{
          padding: 8px 0;
          height: 30px;
          text-align: center;
          display: inline-block;
          background: #20a012;
          width: 65px;
          font-weight: 500;
          color: white !important; 
      }
      .prod-name{
          padding-top:5px;
          line-height: 16px;
          font-weight: bold;
          font-size: 12px;
      }
      .mrp{
          font-size:20px;
          line-height:25px;
          font-weight:500;
          padding-top:5px;
          .before-discount{
            padding-left:10px;
            text-decoration: line-through;
            opacity: 0.5;
            margin: 0 6px 0 0;
            color: #635d5d;
            font-size: 15px;
          }
      }
    } 
  }
  