@import '../../../scss/variables';
@import '../../../scss/payment-continue-btn.scss';
.upiBlockInner {
    padding-bottom: 10px;
}
.upi_icons {
    .upi_label {
        display: block;
        font-size: $small-font;
        margin-bottom: 5px;
        color: #606060;
        font-weight: bold;
    }
    .upi-box-wrap {
        display: inline-flex;
        .upi_box {
            padding-right: 10px;
            img {
                width: 24px;
            }
        }
    }
}

.payment-notification {
    color: $logo-color;
    background: #FFEDEE;
    padding: 6px 10px;
    font-size: $small-font;
    line-height: 14px;
    box-shadow: 0px 0px 2px #0000001A;
    border-radius: 4px;
    margin-bottom: 10px;
}

.upi-block {
    .custom-cbox {
        label {
            padding: 10px 15px;
            border-bottom: 1px solid $border-color;
            &:last-child {
                border-bottom: 0;
            }
            img {
                width: 130px;
            }
            .custom-box {
                margin-top: 10px;
            }
        }
    }
}
.all_upi-icons {
    display: flex;
    width: 60%;
    .img {
        width: 25px;
    }
}