<section id="view_all-page" class="category-container">
  <nav id="sidebar" class="sidebar">
    <div class="sidebar-content">
      <div class="view-card-category">
          <category-card *ngFor="let item of clusterCategoryData['data'];let i=index" 
          [data]="productDataToCategoryCardObject(i,clusterCategoryData['data'])"
          [routerLink]="['/'+item.image_general[0].general_url]">
        </category-card>
      </div>
      <div class="clearfix breadcrumbs border-bottom">
        <h1 (click)="goto(0)" style="font-size:16px;">All Categories</h1>
        <ng-container *ngFor="let cat of clickedCategories; let i=index;">
          <i class="icon-next"></i>
          <span (click)="goto(i+1,cat.index)">{{cat.name}}</span>
        </ng-container>
      </div>
      <div class="sidebar-menu" id="tabs" #tabs>
        <!-- <ul class=""> -->
          <div class="category-list" *ngFor="let categoryL1 of categoriesData; let L1Index=index;"
            [ngClass]="{'active':currentL1Index==L1Index,'sidebar-dropdown':currentL1Index==L1Index, 'header-menu':currentL1Index==L1Index}">
            <a (click)="_commonService.setSectionClickInformation('all_categories', 'listing')"
              [routerLink]="'/'+categoryL1?.categoryDetails?.categoryLink" data-toggle="tab">
              <i class="cat-icon-bg icon-{{categoryL1?.categoryDetails?.categoryId}}"></i>
              <ng-container *ngIf="!categoryL1?.categoryDetails?.imageURL">
                <i class="imagefalse"></i>
              </ng-container>
              <span class="l1Title">{{categoryL1?.categoryDetails?.categoryName}}</span>
              <ng-container *ngIf="categoryL1.children.length>0 && !categoryL1['showChild']">
                <i class="icon-next" aria-hidden="true" style="font-size:16px;padding:10px;"
                  [ngClass]="{'active':currentL1Index==L1Index}" (click)="getDownArrow(L1Index, categoryL1)"></i>
              </ng-container>
            </a>
            
            <ng-container *ngIf="categoryL1['showChild']">
              <img src="http://img.moglimg.com/img/down_arrow.png" aria-hidden="true"
                [ngClass]="{'downarrow':categoryL1['showChild']==true}" (click)="getUpArrow(L1Index, categoryL1)"
                style="font-size:24px;margin-left:5px;" />
            </ng-container>
            <div *ngIf="categoryL1['showChild']" class="sidebar-submenu">
              <ul class="submenu-li ull2">
                <li *ngFor="let submenu of categoryL1.children">
                  <a [routerLink]="'/'+submenu.categoryDetails.categoryLink">
                    {{submenu.categoryDetails.categoryName}} </a>
                </li>
              </ul>
            </div>
          </div>
        <!-- </ul> -->
      </div>
      <!-- <div class="sidebar-menu" id="tabs" #tabs>
        <ul class="">
          <li class="category-list" *ngFor="let categoryL1 of categoriesData; let L1Index=index;"
            [ngClass]="{'active':currentL1Index==L1Index,'sidebar-dropdown':currentL1Index==L1Index, 'header-menu':currentL1Index==L1Index}">
            <a (click)="_commonService.setSectionClickInformation('all_categories', 'listing')"
              [routerLink]="'/'+categoryL1?.categoryDetails?.categoryLink" data-toggle="tab">
              <i class="cat-icon-bg icon-{{categoryL1?.categoryDetails?.categoryId}}"></i>
              <ng-container *ngIf="!categoryL1?.categoryDetails?.imageURL">
                <i class="imagefalse"></i>
              </ng-container>
              <span class="l1Title">{{categoryL1?.categoryDetails?.categoryName}}</span>
            </a>
            <ng-container *ngIf="categoryL1.children.length>0 && !categoryL1['showChild']">
              <i class="icon-next" aria-hidden="true" style="font-size:16px;padding:10px;"
                [ngClass]="{'active':currentL1Index==L1Index}" (click)="getDownArrow(L1Index, categoryL1)"></i>
            </ng-container>
            <ng-container *ngIf="categoryL1['showChild']">
              <img src="http://img.moglimg.com/img/down_arrow.png" aria-hidden="true"
                [ngClass]="{'downarrow':categoryL1['showChild']==true}" (click)="getUpArrow(L1Index, categoryL1)"
                style="font-size:24px;margin-left:5px;" />
            </ng-container>
            <div *ngIf="categoryL1['showChild']" class="sidebar-submenu">
              <ul class="submenu-li ull2">
                <li *ngFor="let submenu of categoryL1.children">
                  <a [routerLink]="'/'+submenu.categoryDetails.categoryLink">
                    {{submenu.categoryDetails.categoryName}} </a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div> -->
    </div>
  </nav>
</section>