<ng-container [ngSwitch]="flow">
    <app-bottom-menu>
        <div content>
            <shared-login (removeAuthComponent$)="removeAuthComponent()" (togglePopUp$)="togglePopUp($event)" [isLoginPopup]="true" *ngSwitchCase="'login'"></shared-login>
            <shared-otp (togglePopUp$)="togglePopUp($event)" (backButtonClicked$)="togglePopUp($event)" (otpSuccess$)="otpSuccessPopUp($event)" [isLoginPopup]="true" *ngSwitchCase="'otp'"></shared-otp>
            <shared-forgot-password (togglePopUp$)="togglePopUp($event)" *ngSwitchCase="'forgot-password'" [isLoginPopup]="true" ></shared-forgot-password>
            <shared-singup (removeAuthComponent$)="removeAuthComponent()" (togglePopUp$)="togglePopUp($event)" [isLoginPopup]="true" *ngSwitchCase="'sign-up'"></shared-singup>
        </div>
    </app-bottom-menu>
</ng-container>
