<div class="e-gifting">
    <div class="e-gifting-banner">
        <h1>Get Best Discounts from us on Buying Bulk E-Gift Cards for your Team, Business partners, Dealers, Family.
        </h1>
        <h3>200+ Brands to choose from!</h3>
    </div>
    <div class="gifting-form-container">
        <div class="gifting-form-heading">
            <h2>Fill your E-gift card requirements and we will call you with the <span>best discounts</span> within 30 min.
            </h2>
        </div>
        <div class="centered-btn">
            <h5 (click)="togglePopUp2()">Check list of 200+ brands e-Gift<br> vouchers & validity</h5>
        </div>
        <form [formGroup]="eGiftForm">
            <div class="personal-details" formGroupName="rfqEnquiryCustomer">
                <div class="row">
                    <div class="form-pd-field">
                        <label>Full Name*</label>
                        <input type="text" (keypress)="checkForspecialChars($event)" formControlName="name"
                            placeholder="Enter full name">
                        <p *ngIf="name.touched && (name.hasError('required') || name.hasError('whitespace'))">Kindly enter your name
                            <span>(Special characters are not allowed)</span>
                        </p>
                    </div>
                    <div class="form-pd-field">
                        <label>Email ID*</label>
                        <input type="text" formControlName="email" placeholder="Enter email Id">
                        <p *ngIf="email.touched && email.hasError('required')" class="">Kindly enter valid email ID</p>
                        <p *ngIf="!email.hasError('required') && email.hasError('invalidEmail')" class="">Kindly enter
                            valid email ID. Ex: abc@xxx.com
                        </p>
                    </div>
                    <div class="form-pd-field">
                        <label>Mobile No*</label>
                        <input type="text" (keypress)="checkNumberic($event)" maxlength="10" minlength="10"
                            formControlName="mobile" placeholder="Enter mobile no">
                        <p *ngIf="mobile.touched && mobile.hasError('required')" class="">Kindly enter your phone no.
                        </p>
                        <p *ngIf="!mobile.hasError('required') && mobile.hasError('minlength')" class="">Kindly enter
                            10 digit contact no.</p>
                    </div>
                    <div class="form-pd-field">
                        <label>Company (Optional)</label>
                        <input (keypress)="checkForspecialChars($event)" type="text" formControlName="company"
                            placeholder="Enter company name">
                    </div>
                </div>
            </div>
            <div class="gift-card-req" formArrayName="rfqEnquiryItemsList" >
                <div class="gift-card-req-form">
                      <h3>Enter your gift card requirement:</h3>
                    <ng-container *ngFor="let requirement of rfqEnquiryItemsList['controls'];let rIndex=index">
                        <div class="req-flex" [class.valid-row]="requirement.valid" [formGroup]="requirement"
                            *ngIf="brandList.length">
                            <div class="brand req-flex-child">
                                 <span class="gift-card-heading">Gift Card {{rIndex+1}}</span>
                             </div>
                            <div class="brand req-flex-child">
                                <list-autocomplete [placeholder]="'Brand'" [brandList]="brandList"
                                    [control]="requirement.get('brandName')"
                                    (onSelect)="updateBrand(requirement.get('brandName'), $event)"></list-autocomplete>
                                    <i class="icon-down list-icon-arrow-down"></i>
                                <p *ngIf="requirement.get('brandName').touched && requirement.get('brandName').invalid"
                                    class="error-txt">
                                    Kindly select brand name.
                                </p>
                            </div>
                            <div class="multiple-form-field">
                                <div class="value req-flex-child">
                                    <list-autocomplete class="value-auto-co" [control]="requirement.get('itemValue')" [placeholder]="'Value (INR)'" [amountList]="PRICE_VALUES">
                                    </list-autocomplete>
                                    <i class="icon-down"></i>
                                    <p *ngIf="requirement.get('itemValue').touched && requirement.get('itemValue').invalid"
                                        class="error-txt">
                                        Kindly select value.
                                    </p>
                                </div>
                                <div class="qty req-flex-child">
                                    <input (change)="updateItemTotalValue(requirement)" type="text"
                                        placeholder="Enter Qty" formControlName="quantity">
                                    <p *ngIf="requirement.get('quantity').touched && requirement.get('quantity').invalid"
                                        class="error-txt">
                                        Kindly enter valid quantity.
                                    </p>
                                </div>
                            </div>
                            <div class="multiple-form-field">
                                <div class="total-value req-flex-child">
                                    <span [class.validated-dark-text]="requirement.get('totalValue').value > 0">
                                        <ng-container *ngIf="requirement.get('totalValue').value > 0">
                                            {{requirement.get('totalValue').value | mathFloor | indianCurrency }}
                                        </ng-container>
                                        <ng-container *ngIf="requirement.get('totalValue').value == 0">
                                            Total Value (INR)
                                        </ng-container>
                                    </span>
                                </div>
                                <div class="action req-flex-child" (click)="removeProduct(rIndex);">
                                    <div class="bin-area">
                                        <i  [class.selectedIcon]="requirement.valid" class="icon-bin"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
            <div class="add-another-card" [ngClass]="{ 'add-another-card-enabled': eGiftForm.valid}">
                <input type="button" [disabled]="eGiftForm.invalid" (click)="addRequirementForm()"
                    value="+ ADD ANOTHER CARD">
            </div>
            <div class="row submit-and-total">
                <div class="col-md-4 total-area">
                    <span class="total">Total</span><br>
                    <span class="amount" [class.validated-dark-text]="totalValue > 0">{{totalValue | mathFloor | indianCurrency}} INR</span>
                </div>
                <div class="col-md-8 submit-area">
                    <input class="submit-button" type="button" value="SUBMIT REQUEST" (click)="saveGift()">
                </div>
            </div>
        </form>
    </div>
</div>

<!-- category+brand+validity popup -->
<app-bottom-menu *ngIf="showListPopup" (outData$)="togglePopUp2()">
    <div content>
        <div class="list-of-brand-e-gifts">
            <div class="top-head">
                <div class="th-left">
                    <h2>List of 200+ brands e-Gift<br> vouchers & validity</h2>
                </div>
                <div class="th-right" (click)="togglePopUp2()">
                    <img src="assets/img/close-circle-fill.svg">
                </div>
            </div>
            <div class="table-area">
                <table>
                    <thead>
                        <tr>
                            <th>Category</th>
                            <th>Brands</th>
                            <th>Validity</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let category of categoryList">
                            <tr *ngFor="let brands of categoryBrandInfo[category]">
                                <td>{{category}}</td>
                                <td>{{brands.brandName}}</td>
                                <td>{{brands.validity}}</td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</app-bottom-menu>


<!-- success popup -->
<app-bottom-menu *ngIf="showSuccessPopup" (outData$)="togglePopUp1()">
    <div content>
        <div class="thanks-pop">
            <div class="top-cross-area" (click)="togglePopUp1()">
                <img src="assets/img/close-circle-fill.svg">
            </div>
            <div class="pop-img-area">
                <img src="assets/img/checkbox-circle-fill-m.svg">
            </div>
            <div class="pop-text-area">
                <h5>Thanks for submitting the query, we will call you with the best discounts within 30 min.</h5>
            </div>
            <div class="pop-rnr" (click)="togglePopUp1()">
                <button>RAISE NEW REQUEST</button>
            </div>
        </div>
    </div>
</app-bottom-menu>
