<div class="e-gifting">
    <div class="e-gifting-banner">
      <h1>Get Best Discounts from us on Buying Bulk E-Gift Cards for your Team, Business partners, Dealers, Family.</h1>
      <h3>200+ Brands to choose from!</h3>
    </div>
    <div class="gifting-form-container">
      <h2>Fill your E-gift card requirements and we will call you with the <span>best discounts</span> within 30 min.</h2>
      <h5 (click)="togglePopUp2()">Check list of 200+ brands e-Gift vouchers & validity</h5>
      <form [formGroup]="eGiftForm">
        <div class="personal-details">
          <div class="row">
            <div class="col-md-6 form-pd-field">
              <label>Full Name*</label>
              <input type="text"  (keypress)="firstName($event)" formControlName="fullName">
              <div *ngIf="eGiftForm.controls['fullName'].touched && eGiftForm.controls['fullName'].hasError('required')" class="f-size-12 text-red pad-t-5 pad-l-5">Kindly enter your name <span class="f-size-10">(Special characters are not allowed)</span></div>
            </div>
            <div class="col-md-6 form-pd-field">
              <label>Email ID*</label>
              <input type="text" formControlName="emailId">
              <div *ngIf="eGiftForm.controls['emailId'].touched && eGiftForm.controls['emailId'].hasError('required')" class="f-size-12 text-red pad-t-5 pad-l-5">Kindly enter valid email ID</div>
              <div *ngIf="!eGiftForm.controls['emailId'].hasError('required') && eGiftForm.controls['emailId'].hasError('invalidCharT')" class="f-size-12 text-red pad-t-5 pad-l-5">Kindly enter valid email ID. Ex: abc@xxx.com</div>
            </div>
            <div class="col-md-6 form-pd-field">
              <label>Mobile No*</label>
              <input type="text" (keypress)="checkQuantityCode($event)" maxlength="10" minlength="10" formControlName="phone">
              <div *ngIf="eGiftForm.controls['phone'].touched && eGiftForm.controls['phone'].hasError('required')" class="f-size-12 text-red pad-t-5 pad-l-5">Kindly enter your phone no.</div>
              <div *ngIf="!eGiftForm.controls['phone'].hasError('required') && eGiftForm.controls['phone'].hasError('minlength')" class="f-size-12 text-red pad-t-5 pad-l-5">Kindly enter 10 digit contact no.</div>       
            </div>
            <div class="col-md-6 form-pd-field">
              <label>Company (optional)</label>
              <input (keypress)="firstName($event)" type="text" formControlName="company">
            </div>
          </div>
        </div>
        <div class="gift-card-req">
          <h3>Enter your gift card requirement:</h3>
          <div class="gift-card-req-form">
               <!--Requirements-->
               <ng-container *ngFor="let requirement of requirements['controls'];let index=index">
                <div class="req-flex" [formGroup]="requirement">
                    <div class="catogary req-flex-child" placeholder="Select">
                        <select (change)="updateTotatQuantity()" formControlName="category">
                            <option value="" selected disabled hidden>Select</option>                                        
                            <option *ngFor="let category of categoryList">{{category.categoryName}}</option>
                          </select>
                          <i class="icon-down"></i>
                    </div>
                    <div class="brand req-flex-child" >
                        <select  (change)="updateTotatQuantity()"  formControlName="brand">
                            <option value="" selected disabled hidden>Select</option>                               
                            <option *ngFor="let brand of brandList">{{brand.brandName}}</option>
                        </select>
                        <i class="icon-down"></i>
                    </div>
                    <div class="value req-flex-child" >
                        <select  (change)="updateTotatQuantity()" #singleItemPrice formControlName="value">
                          <option value="" selected disabled hidden>Select</option>                                        
                          <option>500</option>
                          <option>1000</option>
                          <option>2000</option>
                          <option>5000</option>
                          <option>10000</option>
                        </select>
                        <i class="icon-down"></i>
                    </div>
                    <div class="qty req-flex-child">
                        <input (change)="updateTotatQuantity()" #quantity value="10" min="1" type="number"  formControlName="quantity"  step="1" onkeypress="return event.charCode >= 48 && event.charCode <= 57" >
                    </div>
                    <div class="total-value req-flex-child">
                        <input [value]="(singleItemPrice.value*quantity.value)" type="text" formControlName="totalvalue" disabled readonly>
                    </div>
                    <div class="action req-flex-child" (click)="removeProduct(index);updateTotatQuantity();" *ngIf="requirements['controls'].length > 1">
                        <div class="bin-area">
                          <img src="assets/img/gift-bin-icon.png">
                        </div>
                    </div>
                </div>
            </ng-container>






<!-- 
            <div class="req-flex">
              <div class="catogary req-flex-child">
                <select aria-placeholder="val">
                  <option>Apparel</option>
                  <option>Apparel</option>
                  <option>Apparel</option>
                </select>
              </div>
              <div class="brand req-flex-child">
                <select>
                  <option>Max Lifestyle</option>
                  <option>Max Lifestyle</option>
                  <option>Max Lifestyle</option>
                </select> 
              </div>
              <div class="value req-flex-child">
                <select>
                  <option>1000</option>
                  <option>1000</option>
                  <option>1000</option>
                </select> 
              </div>
              <div class="qty req-flex-child">
                <input value="10" type="text">
              </div>
              <div class="total-value req-flex-child">
                <input value="10000" type="text">
              </div>
              <div class="action req-flex-child">
                <div class="bin-area">
                    <img src="assets/img/gift-bin-icon.png">
                  </div>
                
              </div>
            </div> -->
            
          </div>
        </div>
        <div [ngClass]="{'add-another-card-disabled':!requirements.valid, 'add-another-card': requirements.valid}">
          <input type="button"
          [disabled]="!requirements.valid"
          (click)="addProducts()"
           value="+ ADD ANOTHER CARD">
        </div>
        <div class="row submit-and-total">
            <div class="col-md-4 total-area">
                <span class="total">Total</span><br>
                <span class="amount">{{TotalValue}}.00 INR</span>
              </div>
          <div class="col-md-8 submit-area">
            <input class="submit-button" [disabled]="!requirements.valid " type="button" value="SUBMIT REQUEST" (click)="onSubmit(eGiftForm.value)">
          </div>
        </div>
      </form>
    </div>
  </div>
  
  <!-- start popup 1 -->
  <div class="popup_container"  *ngIf="showListPopup">
    <div class="list-of-brand-e-gifts">
      <div class="top-head">
        <div class="th-left">
          <h2>List of 200+ brands e-Gift vouchers & validity</h2>
        </div>
        <div class="th-right"  (click)="togglePopUp2()">
          <img src="assets/img/close-circle-fill.svg">
        </div>
      </div>
      <div class="table-area">
        <table>
          <thead>
            <tr>
              <th>Category</th>
              <th>Brands</th>
              <th>Validity</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Accessories</td>
              <td>Hidesign</td>
              <td>1 Year</td>
            </tr>
            <tr>
              <td>Accessories</td>
              <td>Hidesign</td>
              <td>1 Year</td>
            </tr>
            <tr>
              <td>Apparel</td>
              <td>The Man Company</td>
              <td>1 Year</td>
            </tr>
            <tr>
              <td>Accessories</td>
              <td>Hidesign</td>
              <td>10 monthhs</td>
            </tr>
            <tr>
              <td>Apparel</td>
              <td>The Man Company</td>
              <td>1 Year</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  
  <!-- popup 2 -->
  <div class="popup_container"  *ngIf="showSuccessPopup">
    <div class="thanks-pop">
      <div class="top-cross-area"  (click)="togglePopUp1()">
          <img src="assets/img/close-circle-fill.svg">
      </div>
      <div class="pop-img-area">
        <img src="assets/img/checkbox-circle-fill-m.svg">
      </div>
      <div class="pop-text-area">
        <h5>Thanks for submitting the query, we will call you with the best discounts within 30 min.</h5>
      </div>
      <div class="pop-rnr"  (click)="togglePopUp1()">
        <button>RAISE NEW REQUEST</button>
      </div>
    </div>
    
    
  </div>