<div class="cart-errors" *ngIf="displayNotifications">
    <div class="panel-head" [appKpToggle]="{idName: 'cart-errors' ,iconMode : true}">
        <h3 class="heading titleError">
            Updates for your cart items
        </h3>
    </div>
    <div class="panel-body" id="cart-errors">
        <ul>
            <li *ngFor="let ivm of notfications | oosValitionMessage">
                <ng-container *ngIf="ivm.type == 'oos' || ivm.type == 'unserviceable'">
                    <p class="unservicable">
                        <span class="prod-name">{{ivm.count}} {{ivm['data']['text1']}}</span>
                        <span class="mar-l-10 view-btn" (click)="viewUnavailableItems()"> VIEW ITEMS </span>
                    </p>
                </ng-container>
                <ng-container *ngIf="ivm.type == 'price'">
                    <span class="prod-name">{{ivm['data']['productName']}}</span>
                    {{ivm['data']['text1']}}
                    <span class="bold">
                        {{ivm['data']['oPrice'] | currency:'INR' : 'symbol' : '1.2-2'}} to
                        {{ivm['data']['nPrice'] | currency:'INR' : 'symbol' : '1.2-2'}}
                    </span>
                </ng-container>
                <ng-container *ngIf="displaySecondaryNotifications(ivm.type)">
                    {{ivm['data']['text1']}}
                </ng-container>
            </li>
        </ul>
    </div>
</div>