@import '../../../scss/variables';
.cart-errors {
    border: 1px solid #F5681E;
    // border-bottom: 1px solid #F5681E;
    background: $cart-errors-bg;
    // width: 100%;
    padding: 0px 2px 10px;
    border-radius: 8px;
    margin: 15px;
    .panel-head {
        background: none;
        margin: 0px;
        .titleError {
            color: $txt-color;
            padding: 10px 15px 5px 10px;
            font-size: $large-font;
        }
    }
    .panel-body {
        padding: 0px 20px;
        ul {
            list-style: outside;
            li {
                margin: 8px 0px;
                line-height: 18px;
            }
        }
    }
    .prod-name {
        color: #278BED;
        font-weight: 500;
    }
}

.unservicable {
    @extend %clear-fix;
    .prod-name {
        float: left;
        width: calc(100% - 110px);
        color: $txt-color;
        font-weight: medium; 
        margin-top: 1px;
        font-size: $small-font;
    }
    .quaternary-btn-2 {
        float: right;
        padding: 5px 8px;
    }
}