<global-loader></global-loader>
<header-nav class="show inner_head"></header-nav>
<div>
    <router-outlet></router-outlet>
</div>
<section *ngIf="iData && iData.footer && isFooter" class="test toggle-panel mt-10 about_moglix" id="footerContainer">
    <div class="toggle-head pad-lr-0">
        <div class="container" (click)="clickFooter()">
            <p class="f-left heading">More about Moglix</p>
        </div>
    </div>
    <footer class="card-30 toggle-content footerScroll">
        <div *ngIf="iData && iData.footer" [innerHTML]="kfooter?.footerData()"></div>
    </footer>
</section>