@import '../scss/variables';
@import '../../app/scss/layout/grid.scss';
footer {
    font-size: $large-font;
    &.card-30 {
        background: $white;
        padding-bottom: 0;
    }
    b {
        display: block;
    }
}

#footerContainer {
    h1 {
        font-size: 10px;
    }
}

// .social-links {
//     display: table;
//     margin: auto;
//     li {
//         display: table-cell;
//         a {
//             font-size: 32px;
//             margin-right: 10px;
//             display: block;
//             color: $logo-color !important;
//         }
//         &:last-child {
//             a {
//                 margin-right: 0;
//             }
//         }
//         .icon-facebook {
//             color: #3B5998;
//         }
//         .icon-instagram {
//             color: #852CAE;
//         }
//         .icon-linkedin {
//             color: #0077B5;
//         }
//         .icon-twitter {
//             color: #1DA1F2;
//         }
//         .icon-google {
//             color: #DD4B39;
//         }
//         .icon-blog {
//             color: #E96E1D;
//         }
//         .icon-mail {
//             color: #1451d8;
//         }
//         .icon-whatsapp {
//             color: #25D366;
//         }
//     }
// }

// .links {
//     padding: 20px 0;
//     display: table;
//     margin: auto;
//     width: auto;
//     li {
//         display: inline-block;
//         padding: 0;
//         a {
//             margin: 5px 0;
//             padding: 0 10px;
//             font-size: 12px;
//             display: block;
//             border-right: 1px solid #303030;
//         }
//         &:last-child {
//             a {
//                 border: none;
//             }
//         }
//         &.no-border {
//             border-right: 0;
//         }
//         &.ml {
//             margin-left: 65px;
//         }
//         &:last-child {
//             border-right: 0;
//         }
//     }
// }

// .main-links {
//     width: 100%;
//     text-align: center;
// }

.other-links {
    text-align: center;
    font-size: $small-font;
    li {
        padding: 0;
        display: inline-block;
    }
}

// .copyright {
//     font-size: $small-font;
//     text-align: center;
// }

// .footer-note {
//     font-size: $small-font;
//     background: $body-color;
//     line-height: 18px;
//     padding: 10px;
//     p {
//         margin-bottom: 15px;
//     }
// }

// .socsharehead {
//     padding: 20px;
// }

.subscription-content {
    width: 100%;
    padding: 0 3%;
}

.scroll_top {
    position: fixed;
    right: 10px;
    opacity: 1;
    bottom: 40px;
    visibility: visible;
    background: #222;
    width: 30px;
    height: 30px;
    text-align: center;
    transition: all 0.5s ease-in-out;
    line-height: 30px;
    z-index: 33;
    color: #fff;
    font-size: 16px;
    border-radius: 50%;
    &.opacityzero {
        opacity: 0;
        visibility: hidden;
        z-index: -1;
        transition: all 0.5s ease-in-out;
    }
}

.block {
    display: block;
}

//Popup
.open {
    .screen-view {
        top: 0 !important;
    }
}

.ishomepage {
    margin-top: 115px !important;
}