<section class="creditDebitCardInner">
    <h3 class="heading-3">Please enter you debit/credit card details</h3>
    <form class="material-form material-form-boxed" [formGroup]="creditDebitCardForm"
        (ngSubmit)="pay(creditDebitCardForm.value,creditDebitCardForm.valid)">
        <div class="custom-cbox clearfix">
            <label class="wp-50 f-left">
                <input type="radio" (change)="getPrePaidDiscount('CC')" formControlName="mode" value="CC">
                <span class="custom-box icon-box"></span>
                <span class="chk-txt">Credit Card</span>
            </label>
            <label class="wp-50 f-left">
                <input type="radio" (change)="getPrePaidDiscount('DC')" formControlName="mode" value="DC">
                <span class="custom-box icon-box"></span>
                <span class="chk-txt">Debit Card</span>
            </label>
        </div>
        <ng-container formGroupName="requestParams">
            <div class="input-field-boxed">
                <label>Card Number</label>
                <input type="text" id="cc-number" formControlName="ccnum" type="tel" #ccNumber kpAutocompleteOff
                    placeholder="Enter Card Details">
            </div>
            <div class="card-expiryDate">
                <label>Expiry Date</label>
                <div class="multiple-form-field">
                    <div class="input-field-boxed">
                        <select placeholder="MM" formControlName="ccexpmon" #expireMonth>
                            <option *ngFor="let expMon of expMons" [value]="expMon.key">{{expMon.value}}</option>
                        </select>
                    </div>
                    <div class="input-field-boxed">
                        <select placeholder="YYYY" formControlName="ccexpyr" #expireYear>
                            <option *ngFor="let expYr of expYrs" [value]="expYr">{{expYr}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="cvvField">
                <label>Card Number</label>
                <div class="multiple-form-field">
                    <div class="input-field-boxed">
                        <input type="text" placeholder="CVV" id="cc-cvc" formControlName="ccvv" type="password"
                            class="w-60" #ccCvc kpAutocompleteOff>
                    </div>
                    <i class="icon-cvv"></i>
                    <span class="cvv-text">
                        Last 3 digits printed on <br /> the back of the card.
                    </span>
                </div>
            </div>
            <div class="input-field-boxed">
                <label>Name On Card</label>
                <input type="text" placeholder="Name On Card" formControlName="ccname" type="text" #nameOnCard>
            </div>
        </ng-container>
        <div class="custom-cbox">
            <label>
                <input class="hidden" type="checkbox" formControlName="store_card">
                <span class="custom-box icon-box"></span>
                <span class="chk-txt">Save this card for faster payments</span>
            </label>
        </div>
        <div class="continue-button">
            <div class="container">
                <p class="total-mount" *ngIf="totalPayableAmount>0">
                    <span class="payable-amnt">Payable Amount</span> ₹ {{totalPayableAmount | mathCeil | number : '1.2-2'}}
                </p>
                <button type="submit" [disabled]="!creditDebitCardForm.valid" class="btn">PAY</button>
            </div>
        </div>
    </form>
</section>


<payu-form *ngIf="isValid&&type=='retail'" [data]="payuData"></payu-form>
<razor-pay *ngIf="isValid&&type=='tax'" [data]="payuData"></razor-pay>