<div class="panel-bg pwa-row mt-10 pad-tb-5">
    <div class="price-table">

        <h3 class="heading titleCategory" (click)="_commonService.scrollTo($event)"
            [appKpToggle]="{idName: 'openCat2' , iconMode : true}">
            <span class="panel-heading">{{heading}} -
                Price Range</span>
            </h3>

    </div>
    <div id="openCat2" style="display:block" class="seo-table-container">
        <div class="seo-table-data">
            <table style="width:100%">
                <thead>
                    <tr>
                        <th>
                            {{priceRangeData?.getRelatedCatgory?.categoryDetails?.categoryName}}
                        </th>
                        <th>
                            Min Price
                        </th>
                        <th>
                            Max Price
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let PRTA of priceRangeData?.PRTA | slice:0:100, let i=index">
                        <tr *ngIf="PRTA.minPrice>0 && PRTA.maxPrice!==0">
                            <td>
                                <a
                                    [routerLink]="[PRTA?.categoryLink ? '/' + PRTA?.categoryLink : './']">{{PRTA.newName}}</a>
                            </td>
                            <td>₹{{PRTA.minPrice}}</td>
                            <td>₹{{PRTA.maxPrice}}</td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>

        <span class="date-text">This data was last updated on {{ todayDate | date:'shortDate'}}.</span>
    </div>

</div>