<!-- gold member benifits -->
<div class="pwa-row pwa-row-noPad gold-member-benefits mt-10 pad-t-0" *ngIf=" _localAuthService.IsUserGoldMember() && !productOutOfStock && moduleUsedIn != 'orders'">
    <div class="pdp-section-header">
        <h3 class="heading-3">
            Gold Member Benefits
        </h3>
    </div>
    <div class="pwa-col-12 pwa-tabs-container pad-lr-15">
        <div class="pwa-image-tab">
            <span class="tab-img">
                <i class="icon-restart-line"></i>
            </span>
            <span class="tab-img-txt-gray">
                Hassle-Free <br /> Return
            </span>
        </div>
        <div class="pwa-image-tab" >
            <span class="tab-img">
                <i class="icon-restart-line-1"></i>
            </span>
            <span class="tab-img-txt-gray">
                Priority <br /> Dispatch
            </span>
        </div>
        <div class="pwa-image-tab">
            <span class="tab-img">
                <i class="icon-customer-service-fill"></i>
            </span>
            <span class="tab-img-txt-gray">
                Priority <br /> Support
            </span>
        </div>
        <div class="pwa-image-tab">
            <span class="tab-img">
                <i class="icon-Group-14030"></i>
            </span>
            <span class="tab-img-txt-gray">
                GST Invoice<br> Available
            </span>
        </div>
        <div class="pwa-image-tab">
            <span class="tab-img">
                <i class="icon-secure-payment-fill"></i>
            </span>
            <span class="tab-img-txt-gray">
                Secure <br> Payments
            </span>
        </div>
    </div>
</div>

<div class="pwa-row pwa-row-noPad moglix-benefits mt-10 pad-t-0" *ngIf="isProductReturnAble && !productOutOfStock && _localAuthService.IsUserGoldMember() && moduleUsedIn !== 'orders'"  >
    <div class="pdp-section-header">
        <h3 class="heading-3">
            {{productStaticData.moglix_benefits}}
        </h3>
    </div>
    <div class="pwa-col-12 pwa-tabs-container pad-lr-15">
        <div class="pwa-image-tab" (click)="$event.stopPropagation();navigateToFAQ();">
            <span class="tab-img">
                <i class="icon-restart-line-1"></i>
            </span>
            <span class="tab-img-txt">
                Wrong <br /> Product
            </span>
        </div>
        <div class="pwa-image-tab" (click)="$event.stopPropagation();navigateToFAQ();">
            <span class="tab-img">
                <i class="icon-restart-line-3"></i>
            </span>
            <span class="tab-img-txt">
                Damaged <br /> Product
            </span>
        </div>
        <div class="pwa-image-tab" (click)="$event.stopPropagation();navigateToFAQ();">
            <span class="tab-img">
                <i class="icon-restart-line-2"></i>
            </span>
            <span class="tab-img-txt">
                Defective <br />Product
            </span>
        </div>
    </div>
</div>


<div class="pwa-row pwa-row-noPad moglix-benefits mt-10 pad-t-0" *ngIf="isProductReturnAble && !productOutOfStock && !_localAuthService.IsUserGoldMember()"  >
    <!-- start moglix benifits -->
    <div class="pdp-section-header" *ngIf="moduleUsedIn != 'orders'">
        <h3 class="heading-3">
            {{productStaticData.moglix_benefits}}
        </h3>
    </div>
    <div class="pwa-col-12 pwa-tabs-container pad-lr-15" *ngIf="moduleUsedIn != 'orders'">
        <div class="pwa-image-tab">
            <span class="tab-img">
                <i class="icon-Group-14030"></i>
            </span>
            <span class="tab-img-txt-gray">
                {{productStaticData.gst_invoice}}<br>{{productStaticData.available}}
            </span>
        </div>
        <div class="pwa-image-tab">
            <span class="tab-img">
                <i class="icon-secure-payment-fill"></i>
            </span>
            <span class="tab-img-txt-gray">
                {{productStaticData.secure}} <br> {{productStaticData.payments}} 
            </span>
        </div>
        <div class="pwa-image-tab">
            <span class="tab-img">
                <i class="icon-customer-service-fill"></i>
            </span>
            <span class="tab-img-txt-gray">
                {{productStaticData.days_365}} <br> {{productStaticData.help_desk}}
            </span>
        </div>
    </div>
    <div class="pdp-section-header">
        <h3 class="heading-3">
            {{productStaticData.return_policy}}
        </h3>
    </div>
    <div class="pwa-col-12 pwa-tabs-container pad-lr-15">
        <div class="pwa-image-tab" (click)="$event.stopPropagation(); navigateToFAQ();">
            <span class="tab-img">
                <i class="icon-restart-line"></i>
            </span>
            <span class="tab-img-txt">
                {{productStaticData.upto_7days.replace('___number___', isBrandMsn ? '2' : '7')}} <br/>{{productStaticData.returnable}}
            </span>
        </div>
        <div class="pwa-image-tab" (click)="$event.stopPropagation();navigateToFAQ();">
            <span class="tab-img">
                <!-- <i class="icon-restart-line-1"></i> -->
                <img src="../../../assets/img/missing-product-icon.png" class="image-sec">
            </span>
            <span class="tab-img-txt">
                {{productStaticData.missing}} <br />   {{productStaticData.product}}
            </span>
        </div>
        <div class="pwa-image-tab" (click)="$event.stopPropagation();navigateToFAQ();">
            <span class="tab-img">
                <i class="icon-restart-line-1"></i>
            </span>
            <span class="tab-img-txt">
                {{productStaticData.wrong}} <br />   {{productStaticData.product}}
            </span>
        </div>
        <div class="pwa-image-tab" (click)="$event.stopPropagation();navigateToFAQ();">
            <span class="tab-img">
                <i class="icon-restart-line-3"></i>
            </span>
            <span class="tab-img-txt">
                {{productStaticData.damaged}} <br /> {{productStaticData.product}}
            </span>
        </div>
        <div class="pwa-image-tab" *ngIf='!isBrandMsn' (click)="$event.stopPropagation();navigateToFAQ();">
            <span class="tab-img">
                <i class="icon-restart-line-2"></i>
            </span>
            <span class="tab-img-txt">
                {{productStaticData.defective}} <br />{{productStaticData.product}}
            </span>
        </div>
    </div>
</div>