@import "../../scss/variables";
@import "../../scss/components/tabs.scss";

.moglix-benefits {
    background: var(--white);
    padding: 15px 15px 5px;

    i {
        font-size: $extra-large-font;
        color: var(--primary);
    }

    .moglix-ben-n-ret-policy-InnerContainer {
        overflow-y: hidden;
        overflow-x: scroll;
        display: flex;
        align-items: center;
        scrollbar-width: none;
        padding-bottom: 15px;

        &::-webkit-scrollbar {
            display: none;
        }

        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;

        .moglix-ben-n-ret-policy-Inner {
            display: inline-flex;
            align-items: center;
            border: 1px solid var(--ghost-white);
            border-radius: $border-radius-8;
            min-width: 120px;
            width: 120px;
            margin-right: 10px;
            padding: 6px;

            .returnImg {
                margin-right: 10px;
                background: var(--misty-rose);
                padding: 2px;
                border-radius: $border-radius-4;

                img {
                    width: 16px;
                }
            }

            .returnTxt {
                color: var(--bleu-de-france);
                font-size: $small-font;
                width: calc($fullwidth - 45px);
                line-height: 14px;

                &.benefits-txt {
                    color: var(--gray-web);
                }
            }
        }
    }
}