<section class="{{pClass}}">    
    <div class="pop-up-header">
        <div class="head-sec">
            <div class="container">
                <i class="icon-circle-delete" (click)="closePopup()"></i>
                <p class="txt">{{headerText}}</p>
            </div>
        </div>
    </div>
    <div class="pop-up-header1">
        <i class="icon-back-arrow"></i>
        <span class="page-name">
            Dummy text
        </span>
    </div>
    
    <!-- <ng-container *ngIf="headerCustom">
        <ng-content select="[header]"></ng-content>
    </ng-container> -->
    <ng-content select="[content]"></ng-content>
    <ng-content select="[footer]"></ng-content>
</section>