@import '../../scss/variables';
.container {
    height: 100%;
    // padding-top: 1px;
}

.popup {
    position: fixed;
    // display: none;
    z-index: 99;
    &.screen-view {
        width: 100%;
        height: 100%;
        top: 120%;
        left: 0;
        background: $white;
        @extend %transition;
        .head-sec {
            padding: 12px 0;
            margin: 0;
            z-index: 5;
            position: relative;
            i {
                font-size: 20px;
                line-height: 24px;
                float: left;
            }
            i+.page-name {
                font-size: $extra-large-font;
                margin-left: 10px;
            }
            .txt {
                font-size: 16px;
                font-weight: 600;
                line-height: 21px;
                margin-left: 20px;
                float: left;
                span.subtxt {
                    display: block;
                    font-weight: normal;
                    font-size: $large-font;
                }
            }
        }
        &.payment-popup {
            background: $body-color;
            .head-sec {
                @extend %box-shadow;
                background: $white;
            }
            &>.container {
                width: 100%;
            }
            .head-sec {
                padding: 12px 0;
                margin: 0;
                @extend %box-shadow;
                background: $white;
                i {
                    font-size: 20px;
                    line-height: 24px;
                }
                i+.page-name {
                    font-size: $extra-large-font;
                    margin-left: 10px;
                    line-height: 26px;
                    color: #fff;
                }
            }
        }
        &.addAddressPopup {
            // background: #fff !important;
            &.screen-view {
                .head-sec {
                    background: $logo-color !important;
                    i {
                        color: $white;
                        font-size:16px;
                    }
                }
                .content-popup {
                    height: calc(100% - 100px);
                    overflow: auto;
                    margin-top: 0px;
                    padding-top: 0px;
                    .address-list {
                        // padding: 15px;
                    }
                }
            }
            &.addEmi{
                background:#F7F7FA !important;
            }
            &.addEmiSteps{
                    .emiStepContent{
                        background:#F7F7FA !important;
                        height:100% !important;
                    }
                }
        }
        .content-popup {
            height: 85%;
            height: calc(100% - 54px);
            overflow: auto;
            &.bulkRequest {
                height: calc(100% - 120px);
            }
        }
    }
}

.info-update-popup {
    .head-sec {
        @extend %ico-txt;
        margin: 20px 0;
        .txt {
            font-size: $extra-large-font;
            font-weight: 600;
            line-height: 21px;
            margin-left: 20px;
        }
    }
    .input-field {
        margin-bottom: 20px;
    }
    .help-txt {
        position: absolute;
        right: 0;
        top: 24px;
        font-size: 14px;
        color: $blue-link-color;
    }
}

.bs-popup {
    .content-popup {
        border: 0;
        padding-top: 5px;
    }
}

.bulkRequest {
    height: calc(100% - 120px);
}

.alert-box {
    .overlay {
        z-index: 11;
    }
    .content-area {
        @include translate(0, -50%);
        position: fixed;
        top: 50%;
        left: 7.5%;
        width: 85%;
        background: $white;
        z-index: 12;
        font-size: $large-font;
        @extend %border-radius;
        @extend %clear-fix;
        .green-block {
            background: #36BD40;
            .del-ico {
                color: white;
                font-size: 20px;
                padding: 10px 0px 0px 10px;
                display: inline-block;
            }
            .inner-txt {
                padding: 10px 0px 50px 0px;
                text-align: center;
                color: white;
                .info-title {
                    font-weight: 600;
                    color: white;
                    font-size: 16px;
                    letter-spacing: 0.5px;
                }
                i {
                    font-size: 35px;
                    display: inline-block;
                    padding-bottom: 15px;
                }
            }
        }
        .info-area {
            padding: 25px;
            .info-title {
                margin-bottom: 10px;
                line-height: 19px;
                font-size: $extra-large-font;
                font-weight: 500;
            }
            .info {
                line-height: 20px;
                font-size: $large-font;
            }
        }
        .button-area {
            border-top: 1px solid $border-color;
            position: relative;
            button {
                border: 0;
                background: $white;
                height: 50px;
                text-align: center;
                width: 50%;
                float: left;
                font-weight: 600;
                font-size: $large-font;
                &.continue {
                    color: $blue-link-color;
                    border-left: 1px solid $border-color;
                }
            }
        }
        &.bottom-layout {
            transform: none;
            bottom: 0px;
            left: 0;
            right: 0;
            width: 100%;
            top: auto;
        }
        .rfq-thanks-popup {
            text-align: center;
            padding: 30px;
            position: relative;
            i.del-ico {
                position: absolute;
                right: 15px;
                top: 15px;
            }
            img {
                width: 110px;
            }
            .rfq-thanks-title {
                color: #393939;
                font-size: $medium-font;
                margin-top: 30px;
                margin-bottom: 10px;
                font-weight: bold;
            }
            .rfq-support-txt {
                font-size: 10px;
                color: RGBA(57, 57, 57, 0.5);
                line-height: 14px;
            }
            .alert-btn-row {
                margin-top: 30px;
                button {
                    font-size: 12px;
                    font-weight: bold;
                    background: #F2720F;
                    padding: 10px 20px;
                }
                p {
                    margin-top: 20px;
                    font-size: 12px;
                    font-weight: bold;
                }
            }
        }
    }
}

.addCustomHeight {
    .content-popup {
        height: calc(100% - 50px) !important;
    }
}
.page-name {
    line-height: 26px;
    font-weight: 500;
    text-transform: capitalize;
    color: $white;
}