<div class="orderdtDesc clearfix" *ngIf="detail">    
    <div class="orderdtBoxinner">
        <div class="orderproImg">
            <img src="{{(detail.productImg && detail.productImg.length > 2) ? detail.productImg : imagePath+'web/dist/assets/img/placeholder.svg'}}">
        </div>
        <div class="orderproDesc" *ngIf="detail.product_name">
            <p (click)="trackAndNavigateToProductPage(detail.productUrl, detail.product_msn, $event)">{{detail.product_name}}</p>
            <div class="orderqty clearfix ">
                <span class="qtyleft "><span>Qty :{{detail.Quantity}} | {{detail.price}}</span><small class="greytxt ">(Price Inclusive of GST)</small></span>
                <span class="orderstatus f-left">Status:<span [ngClass]="detail.status == 'ACCEPTED' || detail.status == 'PROCESSING' || detail.status == 'PACKED' || detail.status == 'SHIPPED' || detail.status == 'DELIVERED' || detail.status == 'RETURN DONE' || detail.status == 'RETURN REQUESTED' || detail.status == 'RETURN APPROVED' || detail.status == 'RETURN PICKED' || detail.status == 'EXCHANGE REQUESTED' || detail.status == 'EXCHANGE PICKED' || detail.status == 'EXCHANGE APPROVED' || detail.status == 'EXCHANGE DONE' ? 'green-txt':'red-txt'">{{detail.status}}</span></span>
            </div>
        </div>
    </div>
</div>

<ng-container *ngIf="detail && detail.requestType !=='cancel' && detail.status !=='PAYMENT FAILED' && detail.status !=='
AWAITING PAYMENT CONFIRMATION' && !customerReturn">
    <div class="trackOrderBox singleproStatus ">
        <div class="trackerWrap ">
            <ul>
                <li class="grsolid ">
                    <span class="grtrackerline "></span>
                    <div class="trackerdate dateTxt " *ngIf="detail && trackOrderBoxDetail ">
                        <div class="dateTxt ">
                            <span>{{trackOrderBoxDetail.firstDateLabel}}</span>
                            <small>{{trackOrderBoxDetail.firstDate | date : 'dd-MM-yyyy'}}</small>
                        </div>
                    </div>
                </li>
                <li [ngClass]="trackOrderBoxDetail.lastDateFlag ? (detail.requestType=='forward' && (detail.status !=='RETURN REJECTED' && detail.status !=='EXCHANGE REJECTED' )) ? 'grsolid' : 'yellsolid' : 'grdashed' ">
                    <span class="grtrackerline "></span>
                    <div class="track-id-info " *ngIf="(detail.status==='DELIVERED' || detail.status==='SHIPPED' ) && detail[ 'shipment_detail'] !='null' ">
                        <span class="track_id ">Tracking ID: &nbsp;{{detail['shipment_detail']['awb']}}</span>
                        <span class="track_id ">Courier By: &nbsp;{{detail['shipment_detail']['shipper_name']}}</span>
                    </div>
                    <div class="trackerdate flex-date-col " *ngIf="detail && trackOrderBoxDetail ">
                        <div>
                            <span class="dateTxt ">{{trackOrderBoxDetail.lastDateLabel}}
                            <small>{{trackOrderBoxDetail.lastDate | date : 'dd-MM-yyyy'}}</small>
                            </span>
                        </div>

                        <div>
                            <span class="gotoTrackerpage " (click)="fetchTrackingData(detail) ">Track Now
                                    <i class="icon-next "></i>
                                    <span class="see-details ">See Details</span>
                            </span>
                        </div>
                        <div>
                            <span *ngIf="showBuyAgain_Invoice(detail['status']) " class="buy-again "><a  (click)="trackAndNavigateToProductPage(detail.productUrl, detail.product_msn, $event)" >BUY AGAIN</a></span>
                        </div>
                    </div>
                    <!-- {{showReturn(detail.dates.delivered.date)}} {{'ShowReturn'+detail.show_return_exchange }} -->

                    <p *ngIf="detail && detail.dates.delivered.flag && showReturn" class="policyTxt">Return Policy valid till {{returnEndDate}}</p>
                    <p *ngIf="detail.dates.delivered.flag &&  !showReturn" class="policyTxt">Return Policy ended on {{returnEndDate}}</p>
                    <!-- <p *ngIf="!showReturn(detail.dates.delivered.date)">Return Policy ended on {{returnEndDate}}</p> -->
                </li>
            </ul>
            <div class="bottomft ">
                <span *ngIf="detail && detail.cancel_active" (click)="openPopup='cancel' ;getDataforCancel(detail.product_name,detail.price,detail.customer_id,detail.item_id,detail.status); ">CANCEL</span>
                <span *ngIf="detail && detail.status==='DELIVERED' && detail.requestType !='return' && detail.requestType !='exchange' && showReturn && detail.show_return_exchange " (click)="openPopup='return' ;getDataforCancel(detail.product_name,detail.price,detail.customer_id,detail.item_id,detail.status); ">RETURN/EXCHANGE</span>
                <span [routerLink]="[ '/faq'] " [queryParams]="{redirectUrl:pageUrl}">NEED HELP ?</span>
            </div>
        </div>
    </div>
    <div *ngIf="showBuyAgain_Invoice(detail[ 'status']) " class="invoiceSection ">
        <a [href]="detail.customer_invoice " target="_blank ">
            <span><img src="../../../../../assets/img/file-download-line.svg ">DOWNLOAD INVOICE</span></a>
    </div>
</ng-container>


<!-- order cancellation pop up  -->
<app-pop-up *ngIf="openPopup && openPopup=='cancel' " (outData$)="outData($event) " class="bs-popup " [data]="{selector: 'openPopup',headerText: ' Cancel Order'} ">
    <div content>
        <div class="cancelOrderBox " [ngClass]="{ 'show': (cancel_step && cancel_step==1 ), 'hide': cancel_step !==1 } ">
            <div class="input-field pos-rel ">
                <label class="indusrty show ">
                    <select [(ngModel)]="reason_id " class="select-form ">
                        <option [ngValue]="undefined ">Select cancel reason</option>
                        <option *ngFor="let item of cancelReasons; let i=i ndex " [ngValue]="item.id ">{{item.text}}</option>
                    </select>
                    <i class="icon-down "></i>
                </label>
            </div>
            <h4 class="mt-15 mb-10 ">Comments(optional)</h4>
            <textarea class="commentBox "></textarea>
            <button class="bottomBtn confirmbtn btn " (click)="reason_id ? openAlert=true : '' ">Confirm</button>
            <div class="alert-box " *ngIf="openAlert ">
                <div class="overlay "></div>
                <div class="content-area ">
                    <div class="info-area ">
                        <p class="info-title ">Cancel order</p>
                        <p class="info ">Are You sure you want to Cancel?</p>
                    </div>
                    <div class="button-area ">
                        <button class="cancel " (click)="openAlert=false ">CANCEL</button>
                        <button class="continue " (click)="cancelOrder(reason_id,customerId,itemId); ">CONFIRM</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="cancelOrderBox " [ngClass]="{ 'show': cancel_step==2 , 'hide': cancel_step !==2 } ">
            <div class="returnedOrder orderdtBox ">
                <div class="orderdtBoxinner ">
                    <div class="orderdtDesc clearfix ">
                        <div class="orderproImg ">
                            <img src="{{(detail.productImg && detail.productImg.length> 2) ? detail.productImg : imagePath+'web/dist/assets/img/placeholder.svg'}}">
                        </div>

                        <div class="orderproDesc">
                            <p>{{detail.product_name}}</p>
                            <div class="orderqty clearfix mar-t-10">
                                <span class="priceright">Order Cancelled :
                                        <span>{{currentDate | date: 'd-MMMM-y'}}</span>
                                </span>
                                <span class="priceright">Price Inclusive of GST
                                        <span>&#8377; {{detail.price}}</span>
                                </span>
                            </div>
                        </div>

                    </div>
                    <p *ngIf="detail.payment_type === 'COD' || detail.payment_type === 'NEFT'">Your order has been cancelled.</p>
                    <p *ngIf="detail.payment_type != 'COD' && detail.payment_type != 'NEFT'">Your order has been cancelled the amount will be reflected in your account within 7-10 business days</p>
                </div>
            </div>
        </div>
    </div>
</app-pop-up>

<!-- final message after confirmation -->

<app-pop-up *ngIf="openPopup && openPopup=='return'" (outData$)="outData($event)" class="bs-popup returnPopup" [data]="{selector: 'openPopup', headerText:' Return Order'}">
    <div class="content-popup" content>
        <form [formGroup]="returnForm" enctype="multipart/form-data" (ngSubmit)="returnProduct(returnForm.value, returnForm.valid)" class="form-horizontal">
            <div class="cancelOrderBox material-form">

                <div [ngClass]="{'show': step == 1, 'hide': step !== 1}">
                    <div class="input-field">
                        <label class="indusrty show pos-rel" [class.is-focus]="actionType.value.length > 0">
                            <span class="label">Select Action*</span>
                            <select formControlName="requestType" (change)=changeRequestType($event) #actionType class="select-form">
                                <!-- <option value="">Select</option> -->
                                <option value="return">Return</option>
                                <option value="exchange">Exchange </option>
                            </select>
                            <i class="icon-down"></i>
                        </label>
                        <p *ngIf="returnForm.controls['requestType'].touched && !returnForm.controls['requestType'].valid && returnForm.controls['requestType'].errors.required" class="f-size-10 text-red text-400 absolute top-33 error-txt">Mandatory</p>
                    </div>
                    <div class="input-field">
                        <label class="indusrty show pos-rel" [class.is-focus]="reason.value.length > 0">
                            <span class="label">Select {{reason_id}} Reason*</span>

                            <select formControlName="reason" #reason class="select-form">
                                <!-- <option value="">Select your reason</option> -->
                                <option *ngFor="let returnReason of returnReasons" [value]="returnReason.text">{{returnReason.text}}</option>
                            </select>
                            <i class="icon-down"></i>
                        </label>
                        <p *ngIf="returnForm.controls['reason'].touched && !returnForm.controls['reason'].valid && returnForm.controls['reason'].errors.required" class="f-size-10 text-red text-400 absolute top-33 error-txt">Mandatory</p>
                    </div>

                    <div class="input-field">
                        <label class="indusrty show pos-rel" [class.is-focus]="quantity.value.length > 0">
                            <span class="label">Select Quantity*</span>
                            <input type="number" formControlName="quantity" #quantity>
                            <!-- <i class="icon-down"></i> -->
                        </label>

                        <p *ngIf="returnForm.controls['quantity'].touched && !returnForm.controls['quantity'].valid && returnForm.controls['quantity'].errors.required" class="f-size-10 text-red text-400 absolute top-33 error-txt">Mandatory</p>
                        <p *ngIf="returnForm.controls['quantity'].touched && !returnForm.controls['quantity'].valid && returnForm.controls['quantity'].errors.min" class="f-size-10 text-red text-400 absolute top-33 error-txt">Enter valid quantity</p>
                        <p *ngIf="returnForm.controls['quantity'].touched && !returnForm.controls['quantity'].valid && returnForm.controls['quantity'].errors.max" class="f-size-10 text-red text-400 absolute top-33 error-txt">Maximum quantity exceeded</p>

                    </div>
                    <div class="input-field commentFld">
                        <label class="pos-rel" [class.is-focus]="commentMsg.value.length > 0">
                            <textarea formControlName="comment" #commentMsg></textarea>
                            <span class="label">Comment</span>
                        </label>
                    </div>

                    <div class="clearfix">
                        <span class="label"></span>
                        <p class="photoNotetxt">Upload Photo* <span>Max. 8 images with jpeg, jpg & png formats allowed. Please include images of <strong>(1) Exterior Packaging/Box &nbsp;(2) Interior Packaging/Box or Bubble Wrap &nbsp;(3) Complete Product &nbsp;(4) Shipping label</strong></span></p>
                        <label class="upload-img" [class.imgDisable]="itemImages.length > 7">
                            <input formControlName="productImage" type="file" class="hide" accept="image/*" (change)="addItemImage($event)">
                            <i class="icon-expand"></i>
                        </label>
                        <label class="upload-img" *ngFor="let itemImage of itemImages; let i = index">
                            <img src="{{imagePath}}web/dist/assets/img/placeholder.svg" appImageToSrc [itemImage]="itemImage['file']">
                            <i class="icon-circle-delete" (click)="removeItemImage(i)"></i>
                        </label>
                        <p *ngIf="showFileError" class="f-size-10 text-red text-400 absolute top-33 error-txt">Mandatory</p>

                    </div>

                    <!-- {{returnForm.controls['quantity'].valid}} -->
                    <button class="bottomBtn confirmbtn btn" *ngIf="step==1" [disabled]="!returnForm.controls['quantity'].valid || !returnForm.controls['reason'].valid || !returnForm.controls['requestType'].valid || this.itemImages.length == 0" (click)="returnForm.controls['quantity'].valid && returnForm.controls['reason'].valid && returnForm.controls['requestType'].valid && this.itemImages.length>0 ? step = 2 : ''">NEXT</button>

                </div>
                <ng-container *ngIf="returnForm['controls']['bankDetail']">
                    <div formGroupName="bankDetail" class="bankdetail" [ngClass]="{'show': step == 2, 'hide': step !== 2}">
                        <div class="set-two-form">
                            <div class="input-field">
                                <label class="pos-rel" [class.is-focus]="bankName.value.length > 0">
                                    <input type="text" onPaste="return false" onCopy="return false" formControlName="bankName" #bankName>
                                    <span class="label">Bank Name*</span>
                                </label>
                                <p *ngIf="returnForm.controls['bankDetail'].controls['bankName'].touched && !returnForm.controls['bankDetail'].controls['bankName'].valid && returnForm.controls['bankDetail'].controls['bankName'].errors.required" class="f-size-10 text-red text-400 absolute top-33 error-txt">Mandatory</p>

                                <p *ngIf="returnForm['controls']['bankDetail'].controls['bankName'].touched && !returnForm.controls['bankDetail'].controls['bankName'].valid && returnForm.controls['bankDetail'].controls['bankName'].errors.invalidBankName && returnForm.controls['bankDetail'].controls['bankName'].value.length>0"
                                    class="f-size-10 text-red right-5 text-400 absolute top-40 error-txt">Bank name is invalid</p>
                            </div>

                            <div class="input-field">
                                <label class="pos-rel" [class.is-focus]="IFSCCode.value.length > 0">
                                    <input type="text"  style="text-transform:uppercase" onPaste="return false" onCopy="return false" formControlName="ifscCode" #IFSCCode>
                                    <span class="label">IFSC Code(11-digit)*</span>
                                </label>
                                <p *ngIf="returnForm.controls['bankDetail'].controls['ifscCode'].touched && !returnForm.controls['bankDetail'].controls['ifscCode'].valid && returnForm.controls['bankDetail'].controls['ifscCode'].errors.required" class="f-size-10 text-red text-400 absolute top-33 error-txt">Mandatory</p>

                                <p *ngIf="returnForm['controls']['bankDetail'].controls['ifscCode'].touched && !returnForm.controls['bankDetail'].controls['ifscCode'].valid && returnForm.controls['bankDetail'].controls['ifscCode'].errors.invalidIfsc && returnForm.controls['bankDetail'].controls['ifscCode'].value.length>0"
                                    class="f-size-10 text-red right-5 text-400 absolute top-40 error-txt">Only alpha-numerical values allowed</p>
                            </div>

                            <div class="input-field">
                                <label class="pos-rel" [class.is-focus]="accountName.value.length > 0">
                                    <input type="text"  style="text-transform:uppercase" onPaste="return false" onCopy="return false" formControlName="acountName" #accountName>
                                    <span class="label">Account Holder Name*</span>
                                </label>
                                <p *ngIf="returnForm.controls['bankDetail'].controls['acountName'].touched && !returnForm.controls['bankDetail'].controls['acountName'].valid && returnForm.controls['bankDetail'].controls['acountName'].errors.required" class="f-size-10 text-red text-400 absolute top-33 error-txt">Mandatory</p>

                                <p *ngIf="returnForm['controls']['bankDetail'].controls['acountName'].touched && !returnForm.controls['bankDetail'].controls['acountName'].valid && returnForm.controls['bankDetail'].controls['acountName'].errors.invalidBankName && returnForm.controls['bankDetail'].controls['acountName'].value.length>0"
                                    class="f-size-10 text-red right-5 text-400 absolute top-40 error-txt"> Kindly enter a valid name</p>


                            </div>

                            <div class="input-field">
                                <label class="pos-rel" [class.is-focus]="accountNum.value.length > 0">
                                    <input type="text" onPaste="return false" onCopy="return false" formControlName="acountNo" #accountNum>
                                    <span class="label">Account Number*</span>
                                </label>
                                <p *ngIf="returnForm.controls['bankDetail'].controls['acountNo'].touched && !returnForm.controls['bankDetail'].controls['acountNo'].valid && returnForm.controls['bankDetail'].controls['acountNo'].errors.required" class="f-size-10 text-red text-400 absolute top-33 error-txt">Mandatory</p>

                                <p *ngIf="returnForm['controls']['bankDetail'].controls['acountNo'].touched && !returnForm.controls['bankDetail'].controls['acountNo'].valid && returnForm.controls['bankDetail'].controls['acountNo'].errors.invalidAccount && returnForm.controls['bankDetail'].controls['acountNo'].value.length>0"
                                    class="f-size-10 text-red right-5 text-400 absolute top-40 error-txt"> Kindly enter a valid account number</p>
                            </div>
                            <div class="clearfix">
                                <p class="photoNotetxt">Upload Cheque (optional) <span class="note-txt">jpeg, jpg & png formats allowed</span></p>
                                <label class="upload-img">
                                    <input type="file" class="hide" accept="image/*" formControlName="chequeUrl" (change)="addChequeImage($event)">
                                    <i class="icon-expand"></i>
                                </label>

                                <label class="upload-img" *ngIf="chequeImage">
                                    <img src="{{imagePath}}web/dist/assets/img/placeholder.svg" appImageToSrc [itemImage]="chequeImage['file']">
                                    <i class="icon-circle-delete" (click)="removeChequeImage(i)"></i>
                                </label>
                            </div>
                            <!-- <i class="icon-circle-next prev active" (click)="step = 1"></i> -->
                        </div>
                    </div>
                </ng-container>
                <div>
                    <div class="cancelOrderBox material-form">
                        <form [formGroup]="returnForm" class="form-horizontal">
                            <div class="" class="returnwrap" [ngClass]="{'show': step == 3, 'hide': step !== 3}">
                                <div class="cancitem clearfix">
                                    <img src="{{(detail.productImg && detail.productImg.length > 2) ? detail.productImg : imagePath+'web/dist/assets/img/placeholder.svg'}}" width="100" height="100" alt="imagename" />
                                    <div class="itemname">
                                        <h3 class="">{{detail.product_name}}</h3>
                                        <p class="mar-b-10">Qty :
                                            <span class="text-500">{{detail.Quantity}}</span>
                                        </p>
                                        <p>Price :
                                            <span class="text-500 price">₹ {{detail.price}}</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="returnMesg clearfix">
                                    <p *ngIf="detail.payment_type === 'COD' || detail.payment_type === 'NEFT'" class="light-txt">Your order has been Returned.</p>
                                    <p *ngIf="detail.payment_type != 'COD' && detail.payment_type != 'NEFT'" class="light-txt">Your order has been Returned the amount will be reflected in your account within 7-10 business days once the product reaches to our fulfillment center</p>
                                    <span class="f-left note">Note :</span>
                                    <p class="f-left">Please return the package in the same condition as received</p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <button class="continue bottomBtn white-bg" (click)="navigateTo('/')" *ngIf="step == 3">Continue</button>
                <div class="bottomBar" [ngClass]="{'show': step == 2 || !returnForm['controls']['bankDetail'], 'hide': step !== 2}">
                    <i class="icon-back" *ngIf="step==2" (click)="step = 1" id="icon-profile"></i>
                    <button type="submit" [style.width.%]="!returnForm['controls']['bankDetail'] ? 100 : 85" class="confirmbtn btn" type="submit" [disabled]="!returnForm.valid || this.itemImages.length == 0">Confirm</button>
                </div>

            </div>
        </form>
    </div>
</app-pop-up>


<app-pop-up *ngIf="spp" class="" (outData$)="outData($event)" [data]="{selector: 'spp',headerText:'Order Status'}">
    <div class="content-popup" content>
        <div class="trackOrderBox static_pos">
            <!-- <h3>Order Status</h3> -->
            <div class="orderdet">
                <h4>Order Id : {{detail.order_id}}</h4>
                <p class="">{{detail.product_name}} </p>
                <p class="">Qty:{{detail.Quantity}}</p>
                <p><span class="track_id" *ngIf="detail.status === 'DELIVERED' && detail['shipment_detail'] != null">Tracking ID:{{detail['shipment_detail']['awb']}}</span>
                    <span class="shipper_id" *ngIf="shipmentDetail != null">{{shipmentDetail.shipper_name}}</span></p>

            </div>
            <div class="trackerWrap">
                <ul>

                    <li class="newTrackerStyle" *ngFor="let obj of detail.dates | trackOrderStatus: detail.requestType : detail.status: true ; let i = index" [ngClass]="obj.cClass">
                        <div class="grLeftTracker">
                            <strong>{{obj.date | date:'EEEE, dd MMM yyyy'}}</strong>
                            <span class="grtrackerline grtrackerline-40"></span>
                        </div>
                        <div class="grRightTracker">
                            <div class="trackerdate">
                                <strong>{{trackStatusKeyName[obj.name]}} </strong>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</app-pop-up>

<div class="orderShipDet">
    <div class="ordersumBox">
        <h5 class="clearfix" *ngIf="detail && detail.dates && detail.dates.accepted.date">Order Date:
            <span>{{detail.dates.accepted.date | date : 'dd-MM-yyyy'}}</span>
        </h5>

        <div class="chargestext clearfix" *ngIf="detail && detail.shipping_charge">Total Shipping:
            <span>₹ {{detail.shipping_charge}}</span>
        </div>

        <div class="chargestext " *ngIf="detail && detail.discount > 0">Discount:
            <span class="textgreen">₹ {{detail.discount | mathFloor | number : '1.2-2'}}</span>
        </div>
        <div class="chargestext " *ngIf="detail && detail.emi_discount > 0">No Cost EMI Discount:
            <span class="textgreen">₹ {{detail.emi_discount | mathFloor | number : '1.2-2'}}</span>
        </div>
        <div class="chargestext " *ngIf="detail && detail.payment_type">Payment Mode:
            <span>{{detail.payment_type}}</span>
        </div>
        <div class="totPrice" *ngIf="detail && detail.price">Total Paid :
            <span class="paymode">₹ {{totalPrice(detail.price, detail.Quantity, detail.shipping_charge, detail.discount)}}</span>
        </div>
    </div>
    <div class="orderaddressBox" *ngIf="detail && detail.address.shipping_address">
        <h3>Shipping address</h3>
        <span>{{detail.address.shipping_address.firstname}}</span>
        <span>{{detail.address.shipping_address.address}}</span>
        <span>{{detail.address.shipping_address.address2}}</span>
        <span>{{detail.address.shipping_address.city}}</span>
        <span>{{detail.address.shipping_address.pincode}}</span>
        <span>{{detail.address.shipping_address.state}}</span>
        <span>Contact: {{detail.address.shipping_address.phone}}</span>

    </div>
    <div class="mt-10 orderaddressBox" *ngIf="detail && detail.address.billing_address">
        <h3>Billing address</h3>
        <span>{{detail.address.billing_address.firstname}}</span>
        <span>{{detail.address.billing_address.address}}</span>
        <span>{{detail.address.billing_address.address2}}</span>
        <span>{{detail.address.billing_address.city}}</span>
        <span>{{detail.address.billing_address.pincode}}</span>
        <span>{{detail.address.billing_address.state}}</span>
        <span>Contact: {{detail.address.billing_address.phone}}</span>

    </div>
</div>