@import "../../scss/variables";
@import "../../scss/header-global-icon.scss";
.pwa-header-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    flex-grow: 1;
    padding: 0px 10px;
    align-items: center;

    &>* {
        padding: 12px 0px;
        vertical-align: middle;
        display: flex;
        justify-content: center;
        position: relative;
        font-size: $large-font;
        color: var(--onyx-black);
        // width: 30px;
    }

    .page-name {
        width: 60%;
        justify-content: flex-start;
        font-size: $extra-large-font;
    }

    .moglix-app-logo {
        i {
            font-size: $extra-large-3-font;
        }
    }

    .search-bar-mini {
        position: relative;
        width: 55%;
        margin-left: 5px;

        input {
            background: var(--white);
            border: none;
            font-size: $medium-font  !important;
            font-weight: 400;
            height: 35px;
            width: 100%;
            padding: 0px 5px 0 30px;
            border-radius: $border-radius-8;
            border: 1px solid var(--silver);
        }

        i {
            color: #303030;
            font-size: $large-font;
            position: absolute;
            z-index: 1;
            left: 8px;
            top: 20px;
            border-radius: 6px 0 0 6px;
        }
    }
}