.card-container {
    width: 100%;
    padding: 15px 10px;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .left {
        width: 100px;
        text-align: center;
        position: relative;
        img {
            width: 100%;
            height: auto;
            max-width: 100px;
        }
        .tags {
            position: absolute;
            top: 0px;
            left: 0px;
            img{
                height: 18px;
                width: 80px;
            }
        }
    }
    .right {
        width: calc(100% - 115px);
        .rating {
            font-size: 10px;
            margin-bottom: 10px;
            span {
                margin-right: 5px;
            }
            .avgrating {
                display: inline;
                background-color: #458D00;
                padding: 3px 5px;
                color: #FFF;
                border-radius: 3px;
                font-size: 10px;
                i {
                    padding-left: 2px;
                    font-size: 7px;
                }
            }
            .count {
                color: #C0C0C0;
            }
        }
        .name {
            span {
                text-align: left;
                font-size: 14px;
                color: #303030;
                line-height: 16px;
            }
        }
        .brand {
            span {
                margin-top: 4px;
                text-align: left;
                font-size: 10px;
                color: #B1B1B1;
            }
            margin-bottom: 10px;
        }
        .price-details {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .left {
                text-align: left;
                width: calc(100% - 120px);
                .price {
                    font-size: 10px;
                    margin-bottom: 5px;
                    span {
                        margin-right: 4px;
                    }
                    .crossed {
                        color: #2B2B2B;
                        text-decoration: line-through;
                        opacity: 0.5;
                    }
                    .green-label {
                        font-weight: bold;
                        color: #3B9E26;
                    }
                }
                .main-price {
                    font-size: 16px;
                    color: #2B2B2B;
                    font-weight: bold;
                }
                .out-of-stock-text {
                    font-size: 10px;
                    color: #2B2B2B;
                    opacity: 0.5;
                }
                .out-of-stock-price {
                    font-size: 14px;
                    color: #2B2B2B;
                    opacity: 0.5;
                    font-weight: bold;
                    margin-top: 4px;
                }
            }
            .right {
                text-align: right;
                width: 115px;
                button {
                    padding: 10px 10px;
                    background-color: #D9232D;
                    text-transform: uppercase;
                    color: #FFF;
                    border: 0;
                    margin: 0;
                    border-radius: 3px;
                    display: inline;
                    font-size: 11px;
                    font-weight: bold;
                }
                button.white {
                    padding: 6px 8px;
                    background-color: #FFF;
                    margin-right: 5px;
                    color: #D9232D;
                    border: 1px solid #D9232D;
                    i {
                        color: #D9232D;
                    }
                }
            }
        }
    }
}

.youtubeThumbnail-listing {
    padding-top: 10px;
    .thumbnail {
        background-size: cover;
        height: 120px;
        background-position: center center;
        background-repeat: no-repeat;
        position: relative;
        margin: 0px 10px;
        border-radius: 8px;
    }
    .youtube_icon {
        width: 70px;
        height: 70px;
        transform: translate(-50%, -50%);
        position: absolute;
        top: 50%;
        left: 50%;
    }
}

.add_cart_btn {
    border: 1px solid #D9232D;
    display: inline-block;
    border-radius: 4px;
    margin-right: 8px;
    width: 32px;
    text-align: center;
    vertical-align: middle;
    line-height: 29px;
    i {
        font-size: 20px;
        color: #D9232D;
        vertical-align: middle;
    }
}

.product-card {
    border-bottom: 1px solid #E2E2E2;
    background: #fff;
}

.keyfeatures {
    background-color: #FFF;
    padding: 0px 8px 8px 18px;
    ul {
        list-style: disc;
        li {
            color: #7B7B7B;
            font-size: 12px;
            margin-bottom: 5px;
        }
    }
}

// Changes made for Skeleton section by Ankit 

.skeleton-pd-card-container{
    width: 100%;
    padding: 0.938rem 0.625rem;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .left-sectn{
        width: 100px;
        text-align: center;
        position: relative;

        .disc-tag{
            height: 15px;
            background: #F1F1F1;
            width: calc(100% - 30px);
            position: relative;
            position: relative;
        }
        .disc-tag::after{
            content: '';
            position: absolute;
            right: -3px;
            border-top: 7px solid transparent;
            border-right: 10px solid #fff;
            border-bottom: 8px solid transparent;
        }

        .img{
            width: 100%;
            height: 110px;
            background: #F1F1F1;
            border-radius: 3px;
            margin-top: 10px;
            max-width: 120px;
            position: relative;
            overflow: hidden;

        }

    }

    .right-sectn{
        width: calc(100% - 115px);

        .avg-rating{
           display: inline;
           background-color: #F1F1F1;
           padding: 0.125rem 1.375rem;
           border-radius: 3px;
           margin-right: 3px;
           position: relative;
           overflow: hidden;
        }

        .counts{
            display: inline;
            background-color: #F1F1F1;
            padding: 0.063rem 1.25rem;
            border-radius: 3px;
            margin-left: 3px;
            position: relative;
            overflow: hidden;
         }

         .p-name{
            height: 15px;
            background: #F1F1F1;
            border-radius: 3px;
            margin-top: 10px;
            position: relative;
            overflow: hidden;
         }

         .brand-name{
            height: 15px;
            background: #F1F1F1;
            border-radius: 3px;
            margin-top: 3px;
            width: 70%;
            position: relative;
            overflow: hidden;
         }

         .m-price{
            height: 15px;
            background: #F1F1F1;
            border-radius: 3px;
            margin-top: 20px;
            width: 35%;
            position: relative;
            overflow: hidden;
         }

         .price-details{
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .left-sectn{
                text-align: left;
                width: calc(100% - 120px);
                margin-top: 8px;
                .price{
                
                    margin-bottom: 5px;

                    .striked{
                        display: inline;
                        background-color: #F1F1F1;
                        padding: 0.063rem 0.938rem;
                        border-radius: 3px;
                        margin-right:2px;
                        position: relative;
                        overflow: hidden;
                    }

                
                    .disc-offer{
                        display: inline;
                        background-color: #F1F1F1;
                        padding: 0.063rem 1.375rem;
                        border-radius: 3px;
                        margin-left: 2px;
                        position: relative;
                        overflow: hidden;
                    }
               }
               .a-price{
                display: inline;
                background-color: #F1F1F1;
                padding: 0.063rem 1.563rem;
                border-radius: 3px;
                position: relative;
                overflow: hidden;
              }
            }
            .right-sectn{
                text-align: right;
                width: 115px;
                margin-top: 8px;
                
                .add-cart-butn{
                    display: inline-block;
                    border-radius: 4px;
                    margin-right: 8px;
                    text-align: center;
                    vertical-align: middle;
                    line-height: 29px;
                    background-color: #F1F1F1;
                    padding: 0.938rem;
                    position: relative;
                    overflow: hidden;
                }

                .buy-now-btn{
                    display: inline-block;
                    border-radius: 4px;
                    text-align: center;
                    vertical-align: middle;
                    line-height: 29px;
                    background-color: #F1F1F1;
                    padding: 0.938rem 1.875rem;
                    border: none;
                    outline: none;
                    position: relative;
                    overflow: hidden;
                }
            }               
         }

    }
    .disc-tag::before, .img::before, .avg-rating::before, .counts::before, .p-name::before, .brand-name::before, .m-price::before, .striked::before, .disc-offer::before, .a-price::before, .add-cart-butn::before, .buy-now-btn::before{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to right, #F1F1F1 0%, rgba(0,0,0,0.1) 10%, #F1F1F1 30%,  #F1F1F1 70%);
        background-size: 450px 400px;
        background-repeat: no-repeat;
        animation: shimmer 1s linear infinite;
        top:0;
        right: 0;
    }

    .avg-rating::before, .counts::before, .p-name::before, .brand-name::before, .m-price::before, .striked::before, .disc-offer::before, .a-price::before, .add-cart-butn::before, .buy-now-btn::before{
        animation-delay: 0.2s;
    }
}

@keyframes shimmer{
    0%{
        background-position: -450px 0;
    }

    100%{
        background-position: 450px 0;
    }
}

@media screen and (max-width: 320px) {
    
    .skeleton-pd-card-container{
        .left-sectn {
            width: 85px;
            text-align: center;
            img {
                max-width: 100%;
            }
        }
        .right-sectn {
            width: calc(100% - 95px);
        }
    }
    
    .card-container {
        .left {
            width: 85px;
            text-align: center;
            img {
                max-width: 100%;
            }
        }
        .right {
            width: calc(100% - 95px);
        }
    }
}