<product-horizontal-scroll [numberOfItems]="3">
    <div class="product-horizontal-card">
        <div class="price-details">
            <div class="left">
                <div class="price">
                    <span class="crossed">1000</span>
                    <span class="green-label">20% OFF</span>
                </div>
                <div class="main-price">
                    <span>800</span>
                </div>
                <div class="out-of-stock-text">
                    <span>Available on Request</span>
                </div>
                <div class="out-of-stock-price">
                    <span>900</span>
                </div>
            </div>
        <div class="right">
            <ng-container>
                <span class="add_cart_btn">
                    <i class="icon-cart1"></i>
                </span>
                <button class="btn btn-red-bg">BUY NOW</button>
            </ng-container>
            <ng-container>
                <button class="btn">SEND QUERY</button>
            </ng-container>
        </div> 
        </div>  
    </div> 
</product-horizontal-scroll>
<div class="product-horizontal-card">
    <div class="price-details">
        <div class="left">
            <div class="price">
                <span class="crossed">1000</span>
                <span class="green-label">20% OFF</span>
            </div>
            <div class="main-price">
                <span>800</span>
            </div>
            <div class="out-of-stock-text">
                <span>Available on Request</span>
            </div>
            <div class="out-of-stock-price">
                <span>900</span>
            </div>
        </div>
    <div class="right">
        <ng-container>
            <span class="add_cart_btn">
                <i class="icon-cart1"></i>
            </span>
            <button class="btn btn-red-bg">BUY NOW</button>
        </ng-container>
        <ng-container>
            <button class="btn">SEND QUERY</button>
        </ng-container>
    </div> 
  </div>  
</div> 





