<!-- <div class="product-horizontal-card">
    <div class="pwa-row pwa-left-fixed-100">
        <div class="pwa-col-left">
            <img src="https://cdn.moglix.com/p/I/9/D/d/MINI9DWPIGYL3-thumbnail.jpg" alt="">
        </div>
        <div class="pwa-col-right">
            <div class="rating">
                <span class="avgrating">
                    4.8
                    <i class="icon-rating-star"></i>
                </span>
                <span class="count">(50 Reviews)</span>
            </div>
            <div class="name">
                Shree Jee Fresh Safety Helm
            </div>
            <div class="pwa-row pwa-row-noPad pwa-right-fixed-125">
                <div class="pwa-col-left">
                    <div class="prod-brand">
                        <span>By:Bosch</span>
                    </div>
                    <div class="prod-price-row">
                        <span class="prod-mrp">500</span>
                        <span class="prod-discount">44% OFF</span>
                        <div class="prod-selling-price">
                            <span>400</span>
                        </div>
                    </div>
                </div>
                <div class="pwa-col-right">
                    <ng-container>
                        <span class="add_cart_btn">
                            <i class="icon-cart1"></i>
                        </span>
                        <button class="btn btn-red-small">BUY NOW</button>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</div> -->
<div class="product-vertical-card">
    <div class="pwa-row">
        <div class="pwa-image">
            <img src="https://cdn.moglix.com/p/I/9/D/d/MINI9DWPIGYL3-thumbnail.jpg" alt="">
        </div>
        <div class="pwa-prod-detail">
            <!-- rating -->
            <div class="rating">
                <span class="avgrating">
                    4.8
                    <i class="icon-rating-star"></i>
                </span>
                <span class="count">(50 Reviews)</span>
            </div>
            <!-- name -->
            <div class="pwa-row name">
                Shree Jee Fresh Safety Helm
            </div>
            <!-- Price row -->
                <div class="prod-brand">
                    <span>By:Bosch</span>
                </div>
                <div class="prod-price-row">
                    <span class="prod-mrp">500</span>
                    <span class="prod-discount">44% OFF</span>
                    <div class="prod-selling-price">
                        <span>400</span>
                    </div>
                </div>
                <div class="">
                    <span class="add_cart_btn">
                        <i class="icon-cart1"></i>
                    </span>
                    <button class="btn btn-red-small">BUY NOW</button>
                </div>
            </div>
        </div>
</div>



