    <div class="product-horizontal-card">
        <div class="pwa-row">
            <div class="pwa-col-4">
                <div class="image">
                    <img src="https://cdn.moglix.com/p/I/9/D/d/MINI9DWPIGYL3-thumbnail.jpg" alt="">
                </div>
            </div>
        <div class="pwa-col-8">
            <div class="price">
                <span class="crossed">1000</span>
                <span class="green-label">20% OFF</span>
            </div>
            <div class="main-price">
                <span>800</span>
            </div>
            <div class="out-of-stock-text">
                <span>Available on Request</span>
            </div>
            <div class="out-of-stock-price">
                <span>900</span>
            </div>
            <ng-container>
                <span class="add_cart_btn">
                    <i class="icon-cart1"></i>
                </span>
                <button class="btn btn-red-bg">BUY NOW</button>
            </ng-container>
            <ng-container>
                <button class="btn">SEND QUERY</button>
            </ng-container>
        </div> 
      </div>  
    </div> 











