@import "../../scss/variables";

.product-horizontal-card{
   display:flex;
   width:100%;;
}
// .horizontal-scroll{
//     :host.blue-color {
//         color: blue;
//         display: block;
//         background:#cdf3cd;
//         .product-horizontal-card{
//             background:green
//         }
//     }
// }
.left {
    width: 100%;
    text-align: center;
    position: relative;
}
.right {
    width: 100%;
    .name {
        -webkit-line-clamp: 2;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        height: 2.8em;
        margin-bottom: 5px;
        line-height: 1.6em;
    }
    .brand {
        span {
            text-align: left;
        }

        margin-bottom: 10px;
    }

    .price-details {
        flex-direction: column;
        min-height: 45px;

        .left {
            text-align: left;
            width: 100%;

            .main-price {
                margin-bottom: 8px;
            }
        }

        .right {
            text-align: left;
            width: 100%;
        }
    
    }
}  
