    @import '../../scss/variables';
    @import '../../scss/components/checkbox.scss';
    .mob_filter {
        @extend %transition;
        top: 115%;
        display: block;
        .custom-cbox {
            label {
                display: block;
                padding: 10px 0;
                @extend %clear-fix;
                @extend %custom-check-box-checkout;
            }
        }
        &.upTrans {
            top: 0;
        }
        .filter-header{
            display:flex;
            align-items:center;
            padding:15px;
            border:1px solid var(--ghost-white);
            i{
                font-size: $extra-large-3-font;
                margin-right:10px;
            }
            .clear-filter{
                margin-left:auto;
                font-weight:bold;
                color:var(--silver);
                &.applied{
                  color:var(--primary);
                }
            }
        }
        &.upTrans {
            .apply-filter {
                display: block;
            }
        }
    }
    .filters-content {
        width: $fullwidth;
        display: flex;
        flex-direction: column;
        height: calc(100vh - 60px);

        .side-filters {
            height: calc(100% - 55px);
            overflow-y: auto;
            background: var(--ghost-white);
            width: 135px;
            display: inline-flex;
            flex-direction: column;
            overflow-x: hidden;
            li {
                padding: 18px 15px;
                border-bottom: 1px solid var(--silver);
                .filter-parent {
                    font-size: $large-font;
                    line-height: $medium-line-height;
                    text-transform: capitalize;
                }
                .selected-no {
                    // float: right;
                    font-size: $small-font;
                    line-height: $medium-line-height;
                    margin-left: 10px;
                    color: var(--spanish-gray);
                }
                &.active {
                    background: var(--white);
                    margin-right: -1px;
                    .filter-options,
                    app-f-category {
                        display: block;
                    }
                }
            }
        }
        app-f-category {
            display: inline-flex;
            flex-direction: column;
        }
        .filter-options {
            display: none;
            position: absolute;
            left: 135px;
            top: 58px;
            width: 70%;
            width: calc(100% - 135px);
            height: 100%;
            .filter-search {
                position: absolute;
                top: 0;
                width: $fullwidth;
                padding: 0 10px 0 10px;
                background: var(--white);
                input {
                    width: $fullwidth;
                    height: 35px;
                    border: 1px solid var(--silver);
                    border-radius: 8px;
                    padding-left: 10px;
                    margin-top: 8px;
                }
                .icon-search {
                    position: absolute;
                    right: 20px;
                    top: 17px;
                    font-size: $extra-large-1-font;
                }
            }
            .filter-brands {
                position: relative;
                width: $fullwidth;
                padding-top: 1px;
            }
            .filter-search+.custom-cbox {
                margin-top: 55px;
            }
            .filter-list {
                height: calc(100vh - 100px);
                overflow: auto;
                .custom-cbox {
                  .custom-box{
                      font-size:$extra-large-font;
                  }
                    label {
                        padding: 15px;
                        &.selected {
                            // background: var(--mint-cream);
                        }
                        .chk-txt{
                            font-size: $medium-font;
                            line-height: $small-line-height;
                        }
                    }
                }
            }
        }
    }
    .filter-rating {
        font-size: $small-font;
        display: inline-block;
        vertical-align: middle;
        line-height: 20px;
        padding-left:5px;
        span {
            margin-right: 5px;
        }
        .avgrating {
            display: inline;
            padding: 3px 5px;
            color: var(--black);
            border-radius: $border-radius-4;
            font-size: $medium-font;
            i {
                padding-left: 2px;
                font-size: $medium-font;
            }
        }
        .count {
            font-size: $medium-font;
        }
    }
    // to be removed when app-popup is integrated
    .popup.screen-view {
        position: fixed;
        width: $fullwidth;
        height: 100%;
        top: 120%;
        left: 0;
        background: var(--white);
        &.upTrans {
            top: 0px;
            z-index: 99;
        }
    }
    
    