    @import '../../scss/variables';
    @import '../../scss/components/checkbox.scss';
    .mob_filter {
        @extend %transition;
        top: 115%;
        display: block;
        &.upTrans {
            top: 0;
        }
        .popup-head {
            padding: 10px;
            position: relative;
            @extend %clear-fix;
            i {
                float: left;
                font-size: $large-font;
                line-height: $large-line-height;
            }
            .txt-name {
                font-size: $medium-font;
                font-weight: $font-bold;
                float: left;
                line-height: $large-line-height;
                margin-left: 15px;
            }
            .clear-filter {
                float: right;
                color: var(--silver);
                line-height: $large-line-height;
                font-size: $medium-font;
                font-weight: $font-bold;
            }
        }
        &.upTrans {
            .apply-filter {
                display: block;
            }
        }
    }
    
    .filters-content {
        width: $fullwidth;
        display: flex;
        flex-direction: column;
        height: calc(100vh - 60px);

        .side-filters {
            height: 95%;
            height: calc(100% - 32px);
            overflow: auto;
            background: var(--ghost-white);
            width: $filter-fix-width;
            display: inline-flex;
            flex-direction: column;
            li {
                padding: 20px 10px 20px 15px;
                @extend %clear-fix;
                border-bottom: 1px solid var(--silver);
                .filter-parent {
                    font-size: $medium-font;
                    line-height: $medium-line-height;
                    // float: left;
                    text-transform: capitalize;
                }
                .selected-no {
                    float: right;
                    font-size: $small-font;
                    line-height: $medium-line-height;
                    margin-left: 10px;
                    color: var(--spanish-gray);
                }
                &.active {
                    background: var(--white);
                    margin-right: -1px;
                    .filter-options,
                    app-f-category {
                        display: block;
                    }
                }
            }
        }
        app-f-category {
            display: inline-flex;
            flex-direction: column;
            
        }
        .filter-options {
            display: none;
            position: absolute;
            left: 135px;
            top: 52px;
            width: 70%;
            width: calc(100% - 135px);
            height: 100%;
            .filter-search {
                position: absolute;
                top: 0;
                width: $fullwidth;
                padding: 0 10px 0 10px;
                background: var(--white);
                input {
                    width: $fullwidth;
                    height: 35px;
                    border: 1px solid var(--silver);
                    border-radius: 8px;
                    padding-left: 10px;
                    margin-top: 8px;
                }
                .icon-search {
                    position: absolute;
                    right: 20px;
                    top: 17px;
                    font-size: $extra-large-1-font;
                }
            }
            .filter-brands {
                position: relative;
                width: $fullwidth;
                padding-top: 1px;
            }
            .filter-search+.custom-cbox {
                margin-top: 55px;
            }
            .filter-list {
                height: calc(100vh - 100px);
                overflow: auto;
                .custom-cbox {
                    label {
                        padding: 15px;
                        &.selected {
                            background: var(--mint-cream);
                        }
                        .chk-txt{
                            font-size: $medium-font;
                            line-height: $small-line-height;
                        }
                    }
                }
            }
        }
    }
    
    .custom-cbox {
        label {
            display: block;
            padding: 10px 0;
            @extend %clear-fix;
            @extend %custom-check-box;
        }
    }
    
    .popup.screen-view {
        position: fixed;
        width: $fullwidth;
        height: 100%;
        top: 120%;
        left: 0;
        background: var(--white);
        &.upTrans {
            top: 0px;
            z-index: 99;
        }
    }
    
    .filter-rating {
        font-size: $small-font;
        display: inline-block;
        vertical-align: middle;
        line-height: 20px;
        padding-left: 10px;
        span {
            margin-right: 5px;
        }
        .avgrating {
            display: inline;
            padding: 3px 5px;
            color: var(--black);
            border-radius: $border-radius-4;
            font-size: $medium-font;
            i {
                padding-left: 2px;
                font-size: $medium-font;
            }
        }
        .count {
            font-size: $medium-font;
        }
    }