<section class="screen-view popup mob_filter" *ngIf="filterData && filterData.length" id="mob_filter">
    <div class="popup-head">
        <i class="icon-back" (click)="toggleFilter.emit()"></i>
        <span class="txt-name">FILTER</span>
        <span (click)="_commonService.selectedFilterData.filter = {}; toggleFilter.emit(); _commonService.applyFilter()" class="clear-filter">CLEAR ALL</span>
    </div>
    <div (click)="toggleFilter.emit(); _commonService.applyFilter()" class="apply-filter">
        <button class="btn continue-btn">APPLY</button>
    </div>

    <div class="filters-content">
        <ul class="side-filters">
            <li *ngFor="let filter of filterData; let i = index;" (click)="selectedFilterIndex = i" [class.active]="selectedFilterIndex == i">
                <div class="filter-label">
                    <span class="filter-parent">{{ filter.name }} <ng-container *ngIf="(filter.terms | enabledFilter)">({{ filter.terms | enabledFilter }})</ng-container> <span
                            *ngIf="filter.count>0">({{ filter.count }})</span></span>
                </div>
                <div class="filter-options">
                    <ng-container *ngIf="filter.name === 'category'">
                        <filter-category-list [brandName]='brandName' [brandUrl]='brandUrl' [isBrandPage]="isBrandPage" [categoryFilterData]="filter.terms"></filter-category-list>
                    </ng-container>
                    <ng-container *ngIf="filter.name != 'category'">
                        <div class="filter-list">
                            <div class="filter-search" *ngIf="filter.name != 'availability' && filter.name != 'discount' && filter.name != 'price' && filter.terms.length > 7 ">
                                <input type="text" placeholder="Search" filterSearchBox>
                                <i class="icon-search"></i>
                            </div>
                            <div class="custom-cbox">
                                <ng-container *ngFor="let item of filter.terms; let z = index;">
                                    <label [class.selected]="categoryCheckBox.checked" *ngIf="item.count">
                                        <span class="chk-box">
                                            <input 
                                                (click)="updateSelectedFilterData($event, filter.name, item)"
                                                class="hidden" 
                                                type="checkbox"
                                                [disabled]="!item.enabled " 
                                                [checked]="item.selected"
                                                #categoryCheckBox>
                                            <span class="custom-box icon-box"></span>
                                        </span>
                                        <ng-container *ngIf="filter.name !== 'ratings'">
                                            <div>
                                                <span class="chk-txt">{{item.term | addFilterSymbol:filter.name}}</span>
                                            </div>
                                        </ng-container>
                                        <ng-container *ngIf="filter.name === 'ratings'">
                                            <div class="filter-rating">
                                                <span class="avgrating">
                                                    {{ item.term }}
                                                    <i class="icon-rating-star"></i>
                                                </span>
                                                <span class="count">& Above</span>
                                            </div>
                                        </ng-container>
                                    </label>
                                </ng-container>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </li>
        </ul>
    </div>
</section>