<section class="screen-view popup mob_filter" *ngIf="buckets.length" id="mob_filter">
    <div class="popup-head">
        <i class="icon-back" (click)="filterUp()"></i>
        <span class="txt-name">FILTER</span>
        <span (click)="applyMobileFilter({productFilterData: {}})" class="clear-filter">CLEAR ALL</span>
    </div>
    <button class="apply-filter btn continue-btn" (click)="applyMobileFilter()">APPLY</button>
    <div class="filters-content">
        <ul class="side-filters">
            <li *ngFor="let bucket of buckets; let i = index;" (click)="updateFilterActiveIndex(i)" [class.active]="filterActiveIndex == i">
                <div class="filter-label">
                    <span class="filter-parent">{{ bucket.name }}<span
                            *ngIf="bucket.count>0">({{ bucket.count }})</span></span>
                </div>
                <div class="filter-options">
                    <ng-container *ngIf="bucket.name === 'category'">
                        <app-f-category [terms]="bucket.terms"></app-f-category>
                    </ng-container>
                    <ng-container *ngIf="bucket.name != 'category'">
                        <div class="filter-list">
                            <div class="filter-search" *ngIf="bucket.name != 'availability' && bucket.name != 'discount' && bucket.name != 'price'">
                                <input type="text" placeholder="Search" filterSearchBox>
                                <i class="icon-search"></i>
                            </div>
                            <div class="custom-cbox">
                                <ng-container *ngFor="let item of bucket.terms">
                                    <label [class.selected]="categoryCheckBox.checked" *ngIf="item.count">
                                        <span class="chk-box">
                                            <input class="hidden" type="checkbox"
                                                [disabled]="(!item.enabled || item.count==0)" [checked]="item.selected"
                                                (click)="updateProductFilterData($event, bucket.name, item, true)"
                                                #categoryCheckBox>
                                            <span class="custom-box icon-box"></span>
                                        </span>
                                        <div *ngIf="bucket.name!=='price' && bucket.name!=='discount'">
                                            <span class="chk-txt">{{item.term}}</span>
                                        </div>
                                        <div *ngIf="bucket.name=='price'">
                                            <span class="chk-txt">{{addRupee(item.term)}}</span>
                                        </div>
                                        <div *ngIf="bucket.name=='discount'">
                                            <span class="chk-txt">{{addDiscount(item.term)}}</span>
                                        </div>
                                    </label>
                                </ng-container>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </li>
        </ul>
    </div>
</section>