@import "./../../scss/variables";
@import "../../../scss/components/checkbox";
@import "../../../scss/layout/forms";
@import '../../../scss/components/bottom-popup';
@import '../../bottomMenu/bottom-menu.component';

.column-field {
    .w-65 {
        width: 65%;
        float: left;
    }
    .w-30 {
        width: 30%;
        float: right;
    }
}

.varified-checkbox {
    @extend %custom-check-box-checkout;
}


