<div class="allCategoryBlock bg-white" *ngIf="data['data'] && data['data'].length > 0">
  <h3 class="l0_heading">{{data.title}}({{data['data'].length}})</h3>
  <div class="pwa-row outer-view-container">
    <div *ngFor="let item of data['data'] | slice:0:5;let i=index" class="pwa-col-4 all-category-setion">
        <div [routerLink]="['/'+item?.category_url]" class="inner_category">
            <div class="allcategoryImage">
            <img src="{{imagePath + item.category_image}}" alt="{{item['CategoryName']}}">
                <!-- [src]="defaultImage" lazyLoad="{{imagePath}}{{product.imageLink_medium}} -->
            </div>
            <p class="categoryName">{{item['CategoryName']}}</p>
        </div>
    </div> 
    <div *ngIf ="data['data'].length > 5" (click)="openPopup = true;" class="view_all_category" class="pwa-col-4 all-category-setion">
        <div class="inner_category">
            <div class="viewall_category">
                <span>VIEW {{data.title}}</span>
            </div>
        </div>
    </div>
  </div>
</div>
<app-pop-up *ngIf="openPopup" (outData$)="outData($event)"  [data]="{headerText: ''}" [headerType]="'pop-up-header1'">
    <div class="allCategoryBlock content-popup" content>
      <div class="pwa-row pwa-row-noPad">
        <div *ngFor="let prod of data['data'] ;let i=index" class="pwa-col-4 all-category-setion">
            <div [routerLink]="['/'+prod?.category_url]" class="inner_category">
                <div class="allcategoryImage">
                  <img src="{{imagePath + prod.category_image}}" alt="{{prod['CategoryName']}}">
                </div>
                <p class="categoryName">{{prod['CategoryName']}}</p>
            </div>
        </div>
      </div>
    </div>
</app-pop-up>
