@import '../../../scss/variables';
@import '../../../scss/root';
@import '../../../scss/layout/grid.scss';

.allCategoryBlock {
    padding: 10px;
    height: calc(100% - 60px);
    overflow: auto;
    .l0_heading{
        padding: 0 5px;
    }
    .allCategory-setion{
        display: flex;
        flex-wrap: wrap;
        width: $fullwidth;
        .inner_category {
            width: 33.33%;
            display:inline-flex;
            align-items:center;
            .inner-category-data{
                border-radius: $border-radius-8;
                text-align: center;
                background: var(--white);
                padding:10px 5px;
                margin: 10px 5px 0 5px;
                min-height: 148px;
                width: 100%;
                .viewall_category{
                    background: var(--misty-rose);
                    height: 80%;
                    color: var(--primary);
                    padding: 34px 10px;
                    line-height: $medium-line-height;
                    border-radius: $border-radius-4;
                    text-transform: capitalize;
                    font-size: $small-font;
                    margin: 0 5px;
                    min-height: 130px;
                }
                img {
                    width: 90px;
                    margin-bottom: 5px;
                    border-radius:$border-radius-4;
                }
            }
        }
    }
}