<div class="pwa-row allCategoryBlock" *ngIf="data['data'] && data['data'].length > 0">
  <div class="pwa-col-12">
    <h3 class="heading-3">{{data.title}}({{data['data'].length}})</h3>
    <div class="allCategory-setion pwa-row pad-lr-0 row-gutter-space">
      <div  *ngFor="let item of data['data'] | slice:0:5;let i=index" class="inner_category pwa-col-4">
        <div class="inner-category-data" [routerLink]="['/'+item?.category_url]">
         <div class="allcategoryImage">
          <img src="{{imagePath + item.category_image}}" alt="{{item['CategoryName']}}">
          <!-- [src]="defaultImage" lazyLoad="{{imagePath}}{{product.imageLink_medium}} -->
         </div>
            <p class="categoryName">{{item['CategoryName']}}</p>
        </div>
      </div>
      <div *ngIf ="data['data'].length > 5" (click)="openPopup = true;" class="inner_category">
        <div class="inner-category-data">
            <div class="viewall_category">
                <p>VIEW {{data.title}}</p>
            </div>
        </div>
    </div>
    </div>

  </div>
</div>
<app-pop-up *ngIf="openPopup" (outData$)="outData($event)"  [data]="{headerText: ''}" [headerType]="'pop-up-header1'">
    <div class="allCategoryBlock content-popup" content>
      <div class="allCategory-setion row-gutter-space">
        <div *ngFor="let prod of data['data'] ;let i=index" class="inner_category pwa-col-4">
            <div [routerLink]="['/'+prod?.category_url]" class="inner-category-data">
                <div class="allcategoryImage">
                  <img src="{{imagePath + prod.category_image}}" alt="{{prod['CategoryName']}}">
                </div>
                <p class="categoryName">{{prod['CategoryName']}}</p>
            </div>
        </div>
      </div>
    </div>
</app-pop-up>
