@import '../../../scss/variables';
@import '../../../scss/root';
@import '../../../scss/layout/grid.scss';

.allCategoryBlock {
    padding: 10px 15px;
    height: calc(100% - 60px);
    overflow: auto;
    .heading-3{
        padding: 0 5px;
    }
    .allCategory-setion{
        display: flex;
        flex-wrap: wrap;
        width: $fullwidth;
        padding: 5px 5px;
        .inner_category {
            flex-basis:31.3%;
            display:inline-flex;
            .inner-category-data{
                border-radius: $border-radius-8;
                text-align: center;
                background: var(--white);
                padding:10px 5px;
                min-height: 135px;
                width: $fullwidth;
                border: 1px solid var(--platinum);
                .viewall_category{
                    background: var(--misty-rose);
                    height: 80%;
                    color: var(--primary);
                    padding: 34px 10px;
                    line-height: $medium-line-height;
                    border-radius: $border-radius-4;
                    text-transform: capitalize;
                    font-size: $small-font;
                    margin: 0 5px;
                    min-height: 135px;
                }
                img {
                    width: 90px;
                    margin-bottom: 5px;
                    border-radius:$border-radius-4;
                }
            }
        }
    }
}