@import '../../../scss/variables';
@import '../../../scss/root';
@import '../../../scss/layout/grid.scss';

.allCategoryBlock{
    background: var(--ghost-white);
    padding: 15px 5px;
    &.grey_bg{
        background:var(--ghost-white);
    }
    h3{
        color: var(--onyx-black);
        font-size: $large-font;
        padding: 10px 0;
        font-weight: $font-bolder;
    }
    .outer-view-container{
        padding: 0;
    }
    .all-category-setion{
        background: var(--white);
        padding: 10px 5px;
        margin: 5px;
        flex: 0 0 calc(33.33% - 10px);
        justify-content: center;
        display: inline-flex;
        border-radius:$border-radius;
       .inner_category{
           text-align: center;
           .allcategoryImage{
               width:70px;
               img{
                  max-width:100%;
                  max-height:100%;
               }
           }
           p{
               font-size: $small-font;
               padding-top: 5px;
               line-height: $small-line-height;
           }
       }
       .inner_category{
        word-break: break-word;
        }
        .viewall_category{
            background: var(--champagne-pink);
            height:100%;
            color:var(--primary);
            padding: 15px 5px;
            line-height: $small-line-height;
            text-transform:capitalize;
            border-radius:$border-radius;
            font-size:$extra-small-font;
        } 
    } 
 }