@import './../../../scss/variables';
.youtubeWrap{
    box-shadow: 0px 3px 6px #00000029; 
    padding: 5px 15px 10px;
    background:#fff;

    .yotubeHeading {
        font-size: $large-font;
        padding: 0 9px 5px;
        text-transform: uppercase;
    }
    .categoryOverBlk{
        overflow-y:hidden;
        overflow-x:scroll;
        width:auto;
    }
    .commonCategorySlide{
    width: 250px;
    float: left;
    padding: 10px 5px;
    margin-right: 2px;
        &.selected{
            border: 1px solid var(--primary);
            background: #F4E1E5;
        }
    }
}