@import '../../../../scss/variables';

.productdetails-article {
    margin: 0px;
    padding: 0px 15px;
    .view-all{
        text-align: right;
        span{
            padding: 7px;
            font-size: $large-font;
            color: var(--primary);
            border: 2px solid var(--primary);
        }
    }
    .attributeHeading {
        font-size: $extra-large-font;
        font-weight: $font-bold;
        line-height: $medium-line-height;
        text-transform: capitalize;
        color: var(--onyx-black);
        margin: 15px 0px;
    }
    .innerContentWrapper{
        background: var(--white);
        border-radius: $border-radius-4;
        box-sizing: border-box;
        margin: 0px;
        border: 1px solid var(--silver);
        padding: 15px;
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            li {
                cursor: pointer;
                width: $fullwidth;
                text-align: left;
                display: flex;
                justify-content: space-between;
                .reviewRatingWrap {
                    width: 30%;
                    .product-img {
                        display: inline-block;
                        width: $fullwidth;
                    }
                }
                .rightSide {
                    width: 68%;
                    padding: 0 0 0 2%;
                    .productName {
                        font-size: $medium-font;
                        color: var(--onyx-black);
                        padding: 5px 0 2px 0;
                    }
                    .productBrand {
                        color: var(--silver);
                        font-size: $small-font;
                        line-height: 8px;
                        font-weight: 500;
                        padding: 5px 0 10px;
                    }
                    .pricedetails {
                        span {
                            color: var(--spanish-gray);
                            font-size: $medium-font;
                            font-weight: $font-normal;
                            line-height: 11px;
                            text-decoration: line-through;
                        }
                        strong {
                            color: var(--slimy-green);
                            font-size: $medium-font;
                            font-weight: $font-normal;
                            line-height: 13px;
                            display: inline-block;
                            padding-left: 6px;
                        }
                    }
                    .fixedPrice {
                        font-size: $extra-large-font;
                        color: var(--black);
                        padding: 5px 0;
                        font-weight: $font-bold;
                    }
                    .packSize {
                        font-size: $small-font;
                        color: var(--onyx-black);
                    }
                }
            }
        }
    }
}