.productdetails-article {
    margin: 0px;
    padding: 0px 15px;
    .view-all{
        text-align: right;
        span{
            padding: 7px;
            font-size: 14px;
            color: red;
            border: 2px solid red;
        }
    }
    .attributeHeading {
        font-size: 16px;
        font-weight: bold;
        line-height: 21px;
        text-transform: capitalize;
        color: #2b2b2b;
        margin: 15px 0px;
    }
    .innerContentWrapper {
        background: #fff;
        border-radius: 4px;
        box-sizing: border-box;
        margin: 0px;
        border: 1px solid #e0e0e0;
        padding: 15px;
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            li {
                cursor: pointer;
                width: 100%;
                text-align: left;
                display: flex;
                justify-content: space-between;
                .reviewRatingWrap {
                    width: 30%;
                    .product-img {
                        display: inline-block;
                        width: 100%;
                    }
                }
                .rightSide {
                    width: 68%;
                    padding: 0 0 0 2%;
                    .productName {
                        font-size: 12px;
                        color: #3c3c3c;
                        padding: 5px 0 2px 0;
                    }
                    .productBrand {
                        color: #c9c9c9;
                        font-size: 10px;
                        line-height: 8px;
                        font-weight: 500;
                        padding: 5px 0 10px;
                    }
                    .pricedetails {
                        span {
                            color: #7b7b7b;
                            font-size: 12px;
                            font-weight: 400;
                            line-height: 11px;
                            text-decoration: line-through;
                        }
                        strong {
                            color: #299e22;
                            font-size: 12px;
                            font-weight: 400;
                            line-height: 13px;
                            display: inline-block;
                            padding-left: 6px;
                        }
                    }
                    .fixedPrice {
                        font-size: 16px;
                        color: #000;
                        padding: 5px 0;
                        font-weight: bold;
                    }
                    .packSize {
                        font-size: 10px;
                        color: #3c3c3c;
                    }
                }
            }
        }
    }
}