@import '../../scss/variables';
/*Toast Message*/
.toast-message{
    text-align: center;
    position: fixed;
    top: 70px;
    left: 6%;
    width: 88%;
    color: #fff;
    z-index: 99;
    & > div{
        background:var(--onyx-black);
        padding: 10px;
        margin-bottom: 5px;
        width: 100%;
        border-radius:$border-radius-8;
    }
}