
  <div class="profile-card profile-name">
    <div class="profile-card-inner name"><i class="icon-profile"></i>
    </div>
    <div class="material-form update-name-form">
      <div class="outline-input-label"><label [class.is-focus]="nameVal.value.length">
        <input [value]="userInfo?.pname + ' ' +userInfo?.lname" [disabled]="isNameInputDisabled" #nameVal type="text">
        <span class="label">Update Name</span><span *ngIf="!isNameInputDisabled" (click)="onSubmit(nameVal.value.trim())" class="form-inline-cta">UPDATE</span>
        <span *ngIf="isNameInputDisabled" (click)="activateInput()" class="form-inline-cta">Edit</span></label>
      </div>
    </div>
  </div>
<!-- email and phone -->
<form #personalInfodForm2="ngForm" (ngSubmit)="onSubmit(personalInfodForm2.value)" class="material-form profile-form" novalidate>
    <div class="container input-field custom-profile-input">
        <label class="is-focus">
      <input type="text" name="email" [ngModel]="userInfo?.email" readonly>
      <span class="label">Email *</span>
    </label>
        <label class="is-focus">
      <input type="number" name="phone" [ngModel]="userInfo?.phone" readonly>
      <span class="label">Phone No. *</span>
    </label>
    </div>
</form>
<div class="profile-card profile-bottom-card">
  <div class="profile-card-inner profile-bottom-card-inner">
      <i class="icon-map-pin-fill"></i>
      <span class="profile-card-inner-2 ">Addresses</span>
  </div>
  <span><i class="icon-next"></i></span>
</div>
<div class="profile-card profile-bottom-card " (click)="toPasswordPage()">
    <div class="profile-card-inner profile-bottom-card-inner">
        <i class="icon-change_password"></i>
        <span class="profile-card-inner-2 ">Change Password</span>
    </div>
    <span><i class="icon-next"></i></span>
</div>
<div class="profile-card profile-bottom-card" (click)="logout()">
    <div class="profile-card-inner profile-bottom-card-inner">
        <i class="icon-logout1"></i>
        <span class="profile-card-inner-2 ">Logout</span>
    </div>
    <!-- <span><i class="icon-logout"></i></span> -->
</div>
<!-- 
<div class="card logout" (click)="logout()">
  <i class="icon-map-pin-fill"></i>
  <a class="other-strip">
    <h3>Logout</h3>
    <i class="icon-logout"></i>
  </a>
</div> -->

<!--Search Popup-->
<!-- <section class="screen-view popup info-update-popup">
  <div class="container">
    <div class="head-sec">
      <i class="icon-circle-delete f-left"></i>
      <p class="txt">Mobile/Email Update</p>
    </div>

    <form class="material-form">
      <div class="input-field">
        <label [class.is-focus]="isMobile.value.length > 0">
          <input type="number" #isMobile>
          <span class="label">Phone No</span>
        </label>
      </div>
      <div class="input-field">
        <label [class.is-focus]="isEmail.value.length > 0">
          <input type="text" #isEmail>
          <span class="label">Email</span>
        </label>
      </div>
      <div class="input-field">
        <label [class.is-focus]="isFocus.value.length > 0">
          <input type="text" #isFocus>
          <span class="label">Enter OTP</span>
          <span class="help-txt">Resend OTP</span>
        </label>
        <p class="error-txt" *ngIf="isFocus.value != 12345 &&  isFocus.value">You have entered a Wrong OTP </p>
      </div>

      <p>An OTP has been Sent To +91 {{isMobile}} / {{isEmail}}</p>
    </form>
  </div>
</section> -->