<div class="profile-card profile-name" [ngClass]="{'full-border-radius': !_localAuthService.IsUserGoldMember()}">
  <div class="profile-card-inner name"><i class="icon-profile"></i>
  </div>
  <div class="material-form update-name-form">
    <div class="outline-input-label"><label [class.is-focus]="nameVal.value.length">
        <input [value]="userName" [disabled]="isNameInputDisabled" #nameVal type="text" data-alphabetsOnly>
      <span class="label">Name</span><span *ngIf="!isNameInputDisabled"
        (click)="onSubmit(nameVal.value.trim(),'name')" class="form-inline-cta">UPDATE</span>
        <span *ngIf="isNameInputDisabled" (click)="activateInput('name')" class="form-inline-cta">EDIT</span></label>
    </div>
  </div>
</div>
<a *ngIf="_localAuthService.IsUserGoldMember()" (click)="_commonService.showgoldMembershipPopup()">
  <div class="gold-member-strip ">
    <p>GOLD MEMBER</p>
    <span class="lottie-span">
      <lottie-player src="/assets/json/arrow.json" background="transparent" speed="1" style="width:40px; height: 40px;"
        loop autoplay></lottie-player>
    </span>
  </div>
</a>
<!-- email and phone -->
<form #personalInfodForm2="ngForm" (ngSubmit)="onSubmit(personalInfodForm2.value,'email')"
  class="material-form profile-form" novalidate>
  <p class="userDetail">User Details</p>
  <div class="material-form email-field-section">
    <div class="outline-input-label mb-0">
      <label [class.is-focus]="email.value.length">
        <input  type="email" name="email" [disabled]="isEmailInputDisabled" [ngModel]="userInfo?.email" 
        (input)="email.value = email.value.trim()" #email >
         <span class="label" >Email ID*</span>
        <span class="form-inline-btn" *ngIf="!isEmailAvailable && userInfo?.email?.length == 0" (click)="activateInput('email')">ADD</span>
        <span class="form-inline-btn" *ngIf="isEmailAvailable" (click)="activateInput('email')">EDIT</span>
        <span class="form-inline-btn"  *ngIf="!isEmailInputDisabled" (click)="onSubmit(email.value,'email')"
        >SAVE</span>      
      </label>
    </div>
  </div>
  <div class="container input-field custom-profile-input">
    <!-- <div>
      <div>
        <label class="is-focus">
          <input type="email" name="email" [ngModel]="userInfo?.email" #email>
          <span class="label">Email*</span>
        </label>
      </div>
    </div> -->


    <div>
      <label class="is-focus">
        <input type="number" name="phone" [ngModel]="userInfo?.phone" readonly>
        <span class="label">Phone No.*</span>
      </label>
    </div>
  </div>
</form>
<div class="profile-card profile-bottom-card" (click)="loadSelectLanguagePopUp()">
  <div class="profile-card-inner profile-bottom-card-inner">
    <span class="st-icon-vernacular translate-icon">
      <span class="icon-vernacular_1"></span>
      <span class="icon-vernacular_2"></span>
      <span class="icon-vernacular_3"></span>
      <span class="icon-vernacular_4"></span>
  </span>
      <span class="profile-card-inner-2 ">Select Language</span>
  </div>
</div>
<div class="profile-card profile-bottom-card" [routerLink]="['/dashboard/address']">
  <div class="profile-card-inner profile-bottom-card-inner">
    <i class="icon-map-pin-fill"></i>
    <span class="profile-card-inner-2 ">Addresses</span>
  </div>
  <span><i class="icon-next"></i></span>
</div>
<div class="profile-card profile-bottom-card " (click)="toPasswordPage()">
  <div class="profile-card-inner profile-bottom-card-inner">
    <i class="icon-change_password"></i>
    <span class="profile-card-inner-2 ">Change Password</span>
  </div>
  <span><i class="icon-next"></i></span>
</div>
<div class="profile-card profile-bottom-card" (click)="logout()">
  <div class="profile-card-inner profile-bottom-card-inner">
    <i class="icon-logout1"></i>
    <span class="profile-card-inner-2 ">Logout</span>
  </div>
  <!-- <span><i class="icon-logout"></i></span> -->
</div>

<ng-container *ngIf="selectLanguagePopUp">
  <div class="alert-box" >
    <div class="overlay"></div>
    <div class="content-area">
        <div class="info-area">
            <div class="popup-header">
                <p>
                    <img src="assets/img/vernacular-icon.svg">
                    <b>Language to Translate into</b>
                </p>
                <i class="icon-circle-delete" (click)="updateLanguage(null)"></i>
            </div>
            <div class="popup-body-section">
                <ul>
                    <li (click)="updateLanguage('en')"><a  [ngClass]="{'selected': selectedLanguage == 'en'}">English</a></li>
                    <li (click)="updateLanguage('hi')"><a [ngClass]="{'selected': selectedLanguage == 'hi'}">हिंदी</a></li>
                </ul>
                <p *ngIf="selectedLanguage == 'en'">You choose <b>‘English’</b> as your preferred language</p>
                <p *ngIf="selectedLanguage == 'hi'">आपने अपनी पसंदीदा भाषा के रूप में <b>’हिंदी’</b> को चुना हैं</p>
            </div>
        </div>
    </div>
</div>
</ng-container>
<!-- 
<div class="card logout" (click)="logout()">
  <i class="icon-map-pin-fill"></i>
  <a class="other-strip">
    <h3>Logout</h3>
    <i class="icon-logout"></i>
  </a>
</div> -->

<!--Search Popup-->
<!-- <section class="screen-view popup info-update-popup">
  <div class="container">
    <div class="head-sec">
      <i class="icon-circle-delete f-left"></i>
      <p class="txt">Mobile/Email Update</p>
    </div>

    <form class="material-form">
      <div class="input-field">
        <label [class.is-focus]="isMobile.value.length > 0">
          <input type="number" #isMobile>
          <span class="label">Phone No</span>
        </label>
      </div>
      <div class="input-field">
        <label [class.is-focus]="isEmail.value.length > 0">
          <input type="text" #isEmail>
          <span class="label">Email</span>
        </label>
      </div>
      <div class="input-field">
        <label [class.is-focus]="isFocus.value.length > 0">
          <input type="text" #isFocus>
          <span class="label">Enter OTP</span>
          <span class="help-txt">Resend OTP</span>
        </label>
        <p class="error-txt" *ngIf="isFocus.value != 12345 &&  isFocus.value">You have entered a Wrong OTP </p>
      </div>

      <p>An OTP has been Sent To +91 {{isMobile}} / {{isEmail}}</p>
    </form>
  </div>
</section> -->