@import "./../../../scss/variables";
@import "./../../../scss/layout/forms.scss";
.material-form {
    position: relative;
    .card {
        padding: 20px 0 1px 0;
        position: relative;
        label:not(:last-child) {
            margin-bottom: 10px;
        }
    }
    .edit-form {
        position: absolute;
        top: 17px;
        z-index: 1;
        right: 10px;
        background: none;
        border: none;
        &:focus {
            outline: none;
        }
    }
}

.card {
    margin-top: 10px;
    position: relative;
    .edit-form {
        position: absolute;
        top: 10px;
        right: 15px;
        z-index: 1;
    }
    &.logout {
        margin-bottom: 10px;
    }
}

.preference-container {
    .item-2 {
        margin-top: 15px;
        ul {
            margin: 5px 0;
            li {
                @extend %clear-fix;
                i {
                    font-size: 22px;
                    float: left;
                    line-height: 26px;
                }
                .txt {
                    float: left;
                    line-height: 26px;
                    margin-left: 15px;
                }
            }
        }
    }
}

.edit-btn {
    cursor: pointer;
}

.edit-btn,
.edit-form {
    color: $blue-link-color;
    font-size: $large-font;
    font-weight: 600;
    padding: 10px 0;
}

.info-update-popup {
    .head-sec {
        @extend %ico-txt;
        margin: 20px 0;
        .txt {
            font-size: $extra-large-font;
            font-weight: 600;
            line-height: 21px;
            margin-left: 20px;
        }
    }
    .input-field {
        margin-bottom: 20px;
    }
    .help-txt {
        position: absolute;
        right: 0;
        top: 24px;
        font-size: 14px;
        color: $blue-link-color;
    }
}

// .other-strip {
//     display: block;
//     @extend %container;
//     @extend %clear-fix;
//     h3 {
//         float: left;
//         font-size: $extra-large-font;
//         font-weight: 400;
//         line-height: 30px;
//     }
//     i {
//         float: right;
//         font-size: 17px;
//         line-height: 30px;
//         padding: 10px 0;
//         top: 0 !important;
//     }
// }



.profile-card {
    @extend %white-card;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .profile-card-inner {
        display: flex;
        align-items: center;
        .profile-card-inner-2 {
            margin-left: 10px;
        }
    }
}
.profile-name {
    background-color: var(--primary);
    color: var(--white);
    margin-top: 65px;
    padding: 25px 15px;
    .name {
        .icon-profile {
            font-size: 40px;
        }
        .name-space {
            font-size: $medium-font;
            line-height: $medium-line-height;
            .name-main {
                font-size: $large-font;
                line-height: $large-line-height;
                font-weight: bold;
            }
        }
    }
    .update-name {
        background-color: #e72b35;
        padding: 5px 10px;
        font-weight: bold;
        border-radius: $border-radius-4;
    }
}
.material-static-form {
    @extend %white-card;
    padding-left: 10px;

}
.profile-bottom-card{
    background-color: var(--white);
    .profile-bottom-card-inner{
        i{
            font-size: $extra-large-3-font;
        }
        span{
            font-size: $large-font;
            font-weight: bold;
        }
    }
    .icon-next{
        font-size: $large-font;
    }
}
.profile-form{
    @extend %white-card;
    padding: 0px;
    .custom-profile-input{
        width: 100% !important;
        padding: 15px 0px 15px 15px;
        // border: 1px solid red;
            label{
                border-bottom: 1px solid var(--ghost-white);
                padding: 5px 0px;
                &:last-child{
                    border-bottom: none;
                }
                input{
                    border: none;
                }
                
            }
        
    }
}