@import '../../scss/variables';
.mob_filter{
  @extend %transition;
  top:115%;
  display: block;
  &.upTrans{
    top: 0;
  }
  .popup-head{
    padding:10px;
    position: relative;
    @extend %box-shadow;
    @extend %clear-fix;
    i{
      float: left;
      font-size: 20px; 
      line-height: 25px;

    }
    .txt-name{
      font-size: $extra-large-font;
      font-weight: 500;
      float: left;
      line-height: 25px;
      margin-left: 10px;
    }
    .clear-filter{
      float: right;
      color: $blue-link-color;
      line-height: 25px;
      font-size: $large-font;
      font-weight: 500;
    }

  }
  .apply-filter{
    position: fixed;
    bottom: 0;
    left: 0;
    display: none;
    z-index: 5;
  }
  &.upTrans{
    .apply-filter{
      display: block;
    }
  }
}
.filters-content{
  width: 100%;
  height: 80%;
  height: calc(100vh - 60px);
  .side-filters{
    height: 95%;
    height: calc(100% - 32px);
    overflow: auto;
    background: $body-color;
    width: 136px;
    float: left;
    border-right: 1px solid $border-color; 
    li{
      padding: 20px 10px 20px 20px;
      @extend %clear-fix;
      border-bottom: 1px solid $border-color;
      .filter-parent{
        font-size: $large-font;
        line-height: 20px;
        float: left;
        text-transform: capitalize;
      }
      .selected-no{
        float: right;
        font-size: $small-font;
        line-height: 20px;
        margin-left: 10px;
        color: #999;
      }
      &.active{
        background: $white;
        .filter-options , app-f-category{
          display: block;  
        }
      }
    }
  }
  app-f-category{
    display: none
  }
  .filter-options{
    display: none;  
    position: absolute;
    left: 136px;
    top: 52px;
    width: 70%;
    width: calc(100% - 136px);
    height: 100%;
    .filter-search{
      position: absolute;
      top: 0;
      width: 100%;
      padding: 0 10px 0 10px;
      background: $white;
      input{
        width: 100%;
        height: 35px;
        border: solid $border-color;
        border-width: 0 0 1px 0;
        margin-top: 8px;
      }
      .icon-search{
        position: absolute;
        right: 9px;
        top: 17px;
        font-size: 15px;
      }
    }
    .filter-brands{
      position: relative;
      width: 100%;
      padding-top: 1px;
    }
    .filter-search + .custom-cbox{
      margin-top: 55px;
    }
    .filter-list{
      height: 80%;
      height: calc(100vh - 100px);
      overflow: auto;
      .custom-cbox{
        label{
          border-bottom:1px solid $border-color;
          padding: 15px;
          &.selected{
            background: $selected-color;
          }
        }
      }
    }
  }
}
// .text-lightgrey {
//   color: #c3c2c2 !important;
// }
// .custom-filter-opt{
//   z-index: 2;
// }
// filter{
//   .prod_filter{
//     ul{
//       list-style-type: none !important;
//       li{
//         padding: 0px 0px;
//       }
//     }
//   }
//   ul#demo1{
//     overflow: auto;
//     max-height: 200px;
//   }
//   ul#demo1 li label{
//     cursor: pointer;
//   }
// }

// h4:after{
//   content: "\e919";
//   float: right;
//   color: #ababab;
//   font-family: 'icomooon';
// }

// h4.minus:after{
//   content:"\e910";
//   float: right;
//   color: #ababab;
//   font-family: 'icomooon';
// }

// .enabled-filter{
//   //max-height: 81vh;
//   //overflow-y: auto;
//   //background: white !important;
//   //transition: 0.6s;
// }

// .enabled-filter span span{
//   color: #2c2c2c !important;
//   display: inline-block !important;
//   background: #e0edf5 !important;
//   padding: 5px 10px;
//   padding-right: 20px;
//   border-radius: 5px;
//   margin-bottom: 10px;
//   margin-right: 10px;
//   letter-spacing: 0.75px;
//   button{
//     padding: 0px;
//     background: transparent;
//     font-size: 9px;
//     border: 0px;
//     display: inline-block;
//     padding-left: 5px;
//     color: #0080d8 !important;
//   }
// }

// h4.enabled_heading:after{
//   content: '';
// }

// .max-200{
//   max-height: 200px;
//   overflow-y: auto;
// }

// label{
//   display: inline-block !important;
//   margin-bottom: .5rem !important;
// }

// input[type="checkbox"] + span:before{
//   content: "";
//   font-family: 'icomoon';
//   color: #fff;
//   margin-right: 10px;
//   font-size: 11px;
//   display: inline-block;
//   background-color: transparent;
//   border: 1.4px solid #c2c2c2;
//   border-radius: 1.5px;
//   width: 14px;
//   height: 14px;
// }

// input[type="checkbox"]:checked + span:before{
//   content: "\e959";
//   color: #3365e2;
//   width: 14px;
//   height: 14px;
//   font-size: 14px;
//   border: none;
// }

// input[type="checkbox"]:disabled + span{
//   color: #c3c2c2 !important;
//   i.fa.fa-inr{
//     color: #c3c2c2 !important;
//   }
// }

// span i.disabled{
//   color: #c3c2c2 !important;
// }


// input[type="checkbox"]:disabled + span + span{
//   color: #c3c2c2 !important;
//   i.fa.fa-inr{
//     color: #c3c2c2 !important;
//   }
// }

// .mob_filter{
//   // transform: translateY(93%) !important;
//   transition: 1s;
//   .mobile_filter{
//     .filt_left{
//       ul{
//         li{
//           padding: 15px 30px !important;
//           border-bottom: 1px solid #e2e2e2;
//           border-right: 1px solid  #e2e2e2;
//           cursor: pointer;
//           &.active{
//             border-right: 0px !important;
//             background: #f1f1f1;
//           }
//         }
//       }
//     }
//     .filt_right{
//       height: 100%;
//       overflow-y: auto;
//     }
//   }
//   #lev_one0{
//     li{
//       padding: 5px 0px;
//     }
//   }
//   #lev_two0{
//     li{
//       padding: 5px 0px;
//     }
//   }
//   #lev_three0{
//     li{
//       padding: 5px 0px;
//     }
//   }
//   #lev_four0{
//     li{
//       padding: 5px 0px;
//     }
//   }
//   .filter_search + ul{
//     padding-top: 30px !important;
//   }
// }

// .mob_filter{
//   box-shadow: 1px 1px 8px #cecece; position: fixed; top: 115%; left: 15px; width: 100%; height: 100%; z-index: 100;
// }

// .mob_filter.upTrans{
//   top: 0%;
// }

// .disbled{
//   text-decoration: line-through;
//   color: #8e8e8e !important;
//   span{
//   color: #8e8e8e !important;  
//   text-decoration: line-through;  
//   }
//   i{
//     color: #8e8e8e !important;
//   }
// }

// .clear-btn {
//   position: relative;
//   span {
//     position: absolute;
//     right: 0px;
//     font-size: 12px;
//     color: #a4a4a4 !important;
//     margin-top:3px;
//     font-weight:500 !important;
//     &.clear-active {
//       color: #0061d5 !important;
//       cursor: pointer;
//       &:hover {
//         opacity: .8;
//       }
//     }
//   }
// }


// .filter-check {
//   width: 100%;
//   height: 14px;
//   position: relative;
//   margin: 0 0 0.5rem !important;
//   span.f-ock {
//     width: 14px;
//     height: 14px;
//     float: left;
//     margin-right: 10px;
//     // position:absolute;
    
//     &:before {
//       width: 100% !important;
//       height: 100% !important;
//       font-size: 9px;
//       margin: 0px !important;
//     }

//     & + .filName{ 
//       float: left;
//       width: calc(100% - 35px) !important;
//     }
    
//   }
//   .filName{
//     // padding-left:20px;
//     width: 100% !important;
//     span{
//       &.rightValue{font-size:11px;}
//     }
//   }
// }

// // @media (max-width:767px){
  
// //   .filter-check {
// //     span.f-ock {
      
// //     }
// //   }
// // }

// // input[type="checkbox"] + .checkbox{
// // 	&:before{
// // 		content: '\f096';
// // 		font-family: 'fontAwesome';
// // 		color: #53534f !important;
// // 	}
// // }
// // input[type="checkbox"]:checked + .checkbox{
// // 	&:before{
// // 		content: '\f046';
// // 		font-family: 'fontAwesome';
// // 		color: #53534f !important;
// // 	}
// // }

// input[type="checkbox"] + .checkbox{
// 	&:before{
// 		content: "";
// 		font-family: 'icomooon';
// 		color: #fff;
// 		margin-right: 10px;
// 		display: inline-block;
// 		background-color: transparent;
// 		border: 1.4px solid #c2c2c2;
// 		border-radius: 1.5px;
// 		width: 14px;
// 		height: 14px;
// 	}
// }
// input[type="checkbox"]:checked + .checkbox{
// 	&:before{
// 		content: "\e959";
// 		color: #3365e2;
// 		font-size: 14px;
// 		border: none;
// 	}
// }

// input[type="checkbox"] + .checkbox_new{
//     width: 16px;
//     height: 16px;
//     border-radius: 3px;
//     border: 1px solid #777;
//     display: inline-block;
//     position: relative;
//     &:before{
//       content: '';
//     }
// }
// input[type="checkbox"]:checked + .checkbox_new{
//   &:before{
//     display: block;
//     width: 6px;
//     height: 10px;
//     border: solid #777;
//     border-width: 0 2px 2px 0;
//     position: absolute;
//     transform: rotate(45deg);
//     left: 4px;
//     top: 1px;
//   }
// }

// .disbled i.fa.fa-inr{
//   color: #c3c2c2 !important;
// }
// .collapse{
//   i{
//     width: 15px; 
//     height: 17px; 
//     line-height: 17px; 
//     -ms-transition: all ease-in-out 0.25s;
//     -moz-transition: all ease-in-out 0.25s;
//     -webkit-transition: all ease-in-out 0.25s;
//     transition: all ease-in-out 0.25s;
//     -ms-transform: rotate(0deg);
//     -moz-transform: rotate(0deg);
//     -webkit-transform: rotate(0deg);
//     transform: rotate(0deg);
//     -ms-transform-origin: 24% 52%;
//     -moz-transform-origin: 24% 52%;
//     -webkit-transform-origin: 24% 52%;
//     transform-origin: 24% 52%;
//     &.arrow-rotate{
//       -ms-transform: rotate(90deg);
//       -moz-transform: rotate(90deg);
//       -webkit-transform: rotate(90deg);
//       transform: rotate(90deg);
//     }
//   }

// }

// .trunket_text{
//   display: inline-block;
//   white-space: nowrap;
//   overflow: hidden;
//   text-overflow: ellipsis;
//   max-width: 68% !important; 
//   visibility: visible !important;
// }
// .left-20{
//   left:20px;
// }

// h4.categoryBar + ul{ display: none;}
// h4.categoryBar.minus + ul{
//   display: block;
// }


