<section class="{{pClass}}">
    <div class="container">
        <div class="pop-header">
            <div class="head-sec">
                <div class="container">
                    <i class="icon-circle-delete" (click)="closePopup()"></i>
                    <p class="txt">{{headerText}}</p>
                </div>
            </div>
        </div>
        <!-- <ng-container *ngIf="headerCustom">
            <ng-content select="[header]"></ng-content>
        </ng-container> -->
        <!-- <div class="head-sec">
        <i class="icon-circle-delete f-left" (click)="closePopup()"></i>
        <p class="txt">{{data.heading}}</p>
        <span class="add-address">ADD</span>
        </div> -->
        <ng-content select="[content]"></ng-content>
        <!-- <app-address-list [addresses]="data.addresses" [type]="data.type"></app-address-list>       -->

        <ng-content select="[footer]"></ng-content>
    </div>
</section>