@import "../../scss/variables";
.container {
    height: 100%;
}

.popup {
    position: fixed;
    // display: none;
    z-index: 99;
    &.screen-view {
        width: 100%;
        height: 100%;
        top: 120%;
        left: 0;
        background: $white;
        @extend %transition;
        .head-sec {
            padding: 12px 0;
            margin: 0;
            z-index: 5;
            position: relative;
            @extend %box-shadow;
            background: $white;
            i {
                font-size: 20px;
                line-height: 24px;
            }
            i+.page-name {
                font-size: $extra-large-font;
                margin-left: 10px;
            }
            .txt {
                font-size: 16px;
                font-weight: 600;
                line-height: 21px;
                margin-left: 20px;
            }
        }
        &.payment-popup {
            background: $body-color;
            .head-sec {
                @extend %box-shadow;
                background: $white;
            }
            &>.container {
                width: 100%;
            }
            .head-sec {
                padding: 12px 0;
                margin: 0;
                @extend %box-shadow;
                background: $white;
                i {
                    font-size: 20px;
                    line-height: 24px;
                }
                i+.page-name {
                    font-size: $extra-large-font;
                    margin-left: 10px;
                    line-height: 26px;
                    color: #fff;
                }
            }
        }
        &.addAddressPopup {
            background: #fff !important;
            &.screen-view {
                .head-sec {
                    background: $logo-color !important;
                    i {
                        color: $white
                    }
                }
                .content-popup {
                    height: calc(100% - 100px);
                    overflow: auto;
                    .address-list {
                        padding: 15px;
                    }
                }
            }
        }
    }
}

.info-update-popup {
    .head-sec {
        @extend %ico-txt;
        margin: 20px 0;
        .txt {
            font-size: $extra-large-font;
            font-weight: 600;
            line-height: 21px;
            margin-left: 20px;
        }
    }
    .input-field {
        margin-bottom: 20px;
    }
    .help-txt {
        position: absolute;
        right: 0;
        top: 24px;
        font-size: 14px;
        color: $blue-link-color;
    }
}