<section class="{{pClass}}">
    <div *ngIf="headerType === 'pop-up-header'" class="pop-up-header">
        <span class="page-name">
            {{headerText}}
        </span>
        <i class="icon-circle-delete" (click)="closePopup()"></i>
    </div>
        <div *ngIf="headerType === 'pop-up-header1'" class="pop-up-header1">
            <i class="icon-back-arrow"  (click)="closePopup()"></i>
            <span class="page-name">
                {{headerText}}
            </span>
        </div>
        <!-- <ng-container *ngIf="headerCustom">
            <ng-content select="[header]"></ng-content>
        </ng-container> -->
        <!-- <div class="head-sec">
        <i class="icon-circle-delete f-left" (click)="closePopup()"></i>
        <p class="txt">{{data.heading}}</p>
        <span class="add-address">ADD</span>
        </div> -->
        <ng-content select="[content]"></ng-content>
        <!-- <app-address-list [addresses]="data.addresses" [type]="data.type"></app-address-list>       -->

        <ng-content select="[footer]"></ng-content>
</section>