<!-- <div class="prod-detail">
    <h2 class="heading-3">PRODUCT DETAILS</h2>
    <ng-container>
        <p></p>
        <p> Browse through the extensive list of
            <a class="blueText">
               Safety Tools</a> at Moglix. Shop online for other
            <a class="blueText"
                >Makita
                Safety tools.</a> available at Moglix in the lowest price range.
        </p>
    </ng-container>
    <ng-template>
        <p>
            Makita is a premium quality product from Makita. Moglix is a
            well-known ecommerce platform for qualitative range of <a class="blueText"
            >Main</a>.
            All product name are manufactured by using quality assured material and advanced techniques,
            which make them up to the standard in this highly challenging field. The materials utilized to
            manufacture productNamr, are sourced
            from the most reliable and official vendors, chosen after performing detailed market surveys.
            Makita products are widely acknowledged in the market for their high
            quality. We are dedicatedly involved in
            providing an excellent quality array of <a class="blueText"
               >
                </a>.
        </p>
    </ng-template>
</div> -->

