@import '../../../scss/variables';
.prod-detail {
    padding: 5px 15px 15px;
    background: var(--white);
    p {
        font-size: $large-font;
        line-height: $medium-line-height;
        &:first-of-type {
            //@Yajya:changed below properties
            //-webkit-line-clamp: 4;
            //height: 6em;
            -webkit-line-clamp: none;
            height: initial;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        &.static-desc {
            height: 0;
            visibility: hidden;
        }
    }
    .blueText {
        color: var(--blue);
        font-size: $medium-font;
    }
    .youtube_icon {
        width: 50px;
        height: 50px;
        transform: translate(-50%, -50%);
        position: absolute;
        top: 50%;
        left: 50%;
    }
    .read-more {
        background: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        color: var(--blue);
        font-size: $large-font;
        border: none;
        padding-top: 10px;
        text-transform: capitalize;
    }
    &.detail-videos {
        border-top: 1px solid var(--platinum);
        padding: 5px 15px 15px;
        .heading-3 {
            padding-bottom: 10px;
        }
    }
}