@import "../../scss/variables";
// to be moved in crousel css components
@import "../../scss/components/carousel";
@import '../../scss/tags'; 

.prod-carsl {
    position: relative;
    &.oos {
        position: relative;
        & + .image_tag {
            top: 147px;
        }

        p {
            background: #000;
            color: #fff;
            font-size: 14px;
            position: absolute;
            left: 50%;
            top: 50%;
            font-weight: bold;
            padding: 15px;
            opacity: 0.5;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }

        .img-block {
            img {
                position: relative;
            }
        }
    }

    &.before-init {
        height: 360px;
        overflow: hidden;

        &.hasOneImage {
            height: 333px;
        }
    }
}
.prod-carsl {
    background: #fff;

    .img-siema {
        .img-block {
            width: 100%;
            height: 330px;
            background: white;
            position: relative;
            padding: 30px;
        }

        .inner_block {
            position: relative;
        }
    }

    &.oos {
        .img-block {
            img {
                opacity: 0.6;
            }
        }
    }

    .img-block {
        width: 100%;
        height: 330px;
        background: white;
        position: relative;
        padding: 30px;

        .inner_block {
            height: 100%;
        }
    }
}

.floating-cta-strip {
    position: absolute;
    right: 20px;
    display: flex;
    flex-direction: column;
    z-index: 4;
    top: 30px;
    height: 300px;

    .fixed_ico {
        border: 1px solid #efeff4;
        background: #fff;
        padding: 8px 6px;
        border-radius: 4px;
        margin-bottom: 15px;
        box-shadow: 1px 3px 6px #efe7e7;
        display: inline-flex;
        text-align: center;
        justify-content: center;

        img {
            line-height: 28px;
            display: inline-block;
            vertical-align: middle;
        }

        i {
            font-size: 14px;
            line-height: 18px;
        }

        &.wishlist {
            i {
                font-size: 22px;
            }

            &.active {
                border: 1px solid $logo-color;

                i {
                    color: $btn-color-red;
                }
            }
        }

        &.fixed_ico-img {
            margin-top: auto;
        }
    }
}