<div class="oos-main-container">
    <div class="oos-tag" *ngIf="productOutOfStock">
        <span>
            {{productStaticData.available_on_request}}
        </span>
    </div>

    <div class="prod-carsl" [class.hasOneImage]="productAllImages?.length === 1"
        [ngClass]="[carouselInitialized ? '' : 'before-init']">
        <div class="floating-cta-strip">
            <span class="fixed_ico" (click)="loadProductShare()"><i class="icon-product_share"></i></span>
            <span class="fixed_ico wishlist" [class.active]="isPurcahseListProduct" (click)="addToPurchaseList()">
                <i [ngClass]="isPurcahseListProduct ? 'icon-wishlist1-active' : 'icon-wishlist1-inactive'"></i>
            </span>
            <a [href]="whatsappUrl">
                <span class="fixed_ico whatsapp"><i class="icon-whatsapp"></i></span>
            </a>
            <span *ngIf="productOutOfStock  && productService.oosSimilarProductsData.similarData.length > 2"
                (click)="$event.stopPropagation();scrollToId(!productOutOfStock ? 'similarProducts' : 'similarProductsOos')"
                class="fixed_ico fixed_ico-img"><img src="{{imagePathAsset}}assets/img/similar-ico.svg">
            </span>
            <span *ngIf="isAcceptLanguage" class="fixed_ico fixed_ico-img" (click)="translate()">
                <img height="24" width="24" [src]="defaultImage" [lazyLoad]="baseImgPath + 'assets/img/translate.gif'" />
            </span>
        </div>
        <ng-container #productCrousel></ng-container>
        <!-- (click)="$event.stopPropagation();openPopUpcrousel(0)"-->
        <div class="prod-carsl-pseudo" data-swipe (next)="onRotateNext()" #productCrouselPseudo
            (previous)="onRotatePrevious()">
            <!-- style="height: 100%;" -->
            <div class="img-block img-block-pseudo" >
                <div class="inner_block inner-block-pseudo">
                    <div class="pinch-zoom element-pseudo"
                        (click)="$event.stopPropagation();sendProductImageClickTracking()"
                        style="transform-origin: 0% 0%;">
                        <ng-container *ngIf="productAllImages && productAllImages[0] && productAllImages[0]['xxlarge']" >
                            <img *ngIf="!isProductCrouselLoaded" fetchpriority="high" src="{{productAllImages[0]['xxlarge'] }}"
                                 alt="{{productName}}">
                            <img *ngIf="isProductCrouselLoaded" src="{{imagePathAsset}}assets/img/loader_new.gif"
                                class="loader-image" />
                        </ng-container>
                    </div>
                </div>
            </div>

        </div>
        <ul class="pager">
            <ng-container
                *ngIf="!isProductCrouselLoaded && !productCrouselInstance && iOptions?.pager && productAllImages?.length>1">
                <ng-container *ngFor="let item of productAllImages;let i=index">
                    <li *ngIf="item['contentType'] == 'IMAGE'" class="pager_dot"
                        (click)="$event.stopPropagation();loadProductCrousel(i)"
                        [ngClass]="{'active': ( i==0 && !isProductCrouselLoaded ) || ( i==1 && isProductCrouselLoaded) }">
                    </li>
                    <li *ngIf="item['contentType'] == 'YOUTUBE_VIDEO'"
                        (click)="$event.stopPropagation();loadProductCrousel(i)" class="pager_icon_dot">
                        <em class="icon-youtube"></em>
                    </li>
                </ng-container>
            </ng-container>
        </ul>
        <!-- TODO: check how this section is used in PQA -->
        <ng-container *ngIf="productTags != undefined && !this.productOutOfStock">
            <div class="image_tag">
                <div class="tag_container"
                    *ngFor="let tag of productTags | slice:0:1;let i = index;">
                    <img [lazyLoad]="tag.imageUrl" alt="{{tag.name}}">
                </div>
            </div>
        </ng-container>
    </div>
</div>