<section class="Bestseller card card-wrap" *ngIf="similarProducts && similarProducts.length>0">
    <div class="view-all-strip">
            <h4>Similar Products</h4>
            <a href="" class="btn-red">VIEW ALL</a>
    </div>
    <product-card-vertical-container [numberOfItems]="similarProducts.length || 0">
        <ng-container *ngFor="let product of similarProducts;let pIndex=index">
            <product-horizontal-card [section]="'similar'" [product]="product" [cardMetaInfo]='cardMetaInfo'
                [cardFeaturesConfig]='cardFeaturesConfig' [pIndex]="pIndex" [enableTracking]="true"
                [analytics]="analytics">
            </product-horizontal-card>
        </ng-container>
    </product-card-vertical-container>
</section>