<section class="Bestseller card similar-prod" *ngIf="similarProducts && similarProducts.length>0">
    <div class="upper-view-all-sec">
        <div class="upper-view-all-sec-left">
            <h4>Products Related To This Item</h4>
        </div>
        <div class="upper-view-all-sec-right">
            <button>VIEW ALL</button>
        </div>
    </div>
    <div class="vertical-scroll-container">
        <div class="inner-scroll-container" [style.width.px]="4 * 170">
            <div *ngFor="let i of [1,2,3,4]" class="card">
                <div class="card-container grid-view">
                    <div class="left" >
                        <img alt="priner" src="https://cdn.moglix.com/p/VrvdW4CQBz2Ck.jpg" height="125"
                            width="125" />
                    </div>
                    <div class="right">
                        <div class="rating">
                            <span class="avgrating">
                                4.5 <i class="icon-rating-star"></i>
                            </span>
                            <span class="count">1034</span>
                        </div>
                        <div class="name">
                            <span>Epson EcoTank L6190 Wi-Fi Duplex Mu....<span>...</span></span>
                        </div>
                        <div class="brand">
                            <span>By: Luminious</span>
                        </div>
                        <div class="price-details">
                            <div class="left">
                                <div class="price">
                                    <span class="crossed">424</span>
                                    <span class="green-label">12% OFF</span>
                                </div>
                                <div class="main-price">
                                    <span>371</span>
                                </div>
                                <!-- <div class="out-of-stock-text">
                                    <span>Available on Request</span>
                                </div> -->
                                <div class="out-of-stock-price">
                                    <!-- <span>2000</span> -->
                                </div>
                            </div>
                            <div class="right">
                                    <span class="add_cart_btn">
                                        <i class="icon-cart1"></i>
                                    </span>
                                    <button >BUY NOW</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<!-- Similar Products-->
<!-- <section class="Bestseller card similar-prod" *ngIf="similarProducts && similarProducts.length>0">
    <div class="clearfix border-bottom">
        <div class="container pad-tb-10">
            <h3 class="f-left">SIMILAR PRODUCTS</h3>
            <a *ngIf="similarProducts && similarProducts.length>2" href="javascript:void(0);" (click)="showAllSimilar()" class="btn-red f-right">
                VIEW ALL
            </a>
        </div>
    </div>
    <ul class="list view-products">
        <ng-container *ngFor="let similarProduct of similarProducts; let i = index;">
            <li *ngIf="i<2">
                <a  (click)="navigateTo(similarProduct.productUrl)" class="clearfix">
                    <div class="product-img">
                        <img src="{{imagePath+similarProduct.mainImageLink}}" alt="product Image">
                    </div>
                    <div class="product-description">
                        <p class="description-txt">{{similarProduct.productName}}</p>
                        <p class="price">
                            <span class="before-discount"> &#x20B9;{{similarProduct.mrp | mathFloor | number:
                                '1.0-0'}}</span>
                            <span class="discount">{{((similarProduct.mrp -
                                similarProduct.priceWithoutTax)/similarProduct.mrp)*100 | mathFloor
                                | number: '1.0-0'}}% OFF</span>
                            <span class="after-discount">&#x20B9;{{similarProduct.priceWithoutTax | mathFloor |
                                number: '1.0-0'}}</span>
                        </p>
                        <ng-container *ngFor="let itemEl of similarProduct.shortDesc;">
                            <p *ngIf="itemEl.key==='Brand'" class="seller">
                                <span>By :</span> {{itemEl.value}}
                            </p>
                        </ng-container>
                    </div>
                </a>
            </li>
        </ng-container>
    </ul>
</section> -->