<section class="pwa-row" *ngIf="similarProducts && similarProducts.length>0">
    <section class="pwa-col-12">
        <div class="view-all-strip">
            <h4>Similar Products</h4>
            <a href="" class="btn-red">VIEW ALL</a>
    </div>
    <product-card-vertical-container [numberOfItems]="similarProducts.length || 0">
        <ng-container *ngFor="let product of similarProducts;let pIndex=index">
            <product-card-vertical-grid-view [section]="'similar'" [product]="product" [cardMetaInfo]='cardMetaInfo'
                [cardFeaturesConfig]='cardFeaturesConfig' [pIndex]="pIndex" [enableTracking]="true"
                [analytics]="analytics">
            </product-card-vertical-grid-view>
        </ng-container>
    </product-card-vertical-container>
    </section>
</section>