@import "../../scss/variables";

.sidemenu {
  @extend %transition;
  box-shadow: var(--boxshadow-2);
  position: fixed;
  top: 0;
  left: -100%;
  height: 100%;
  z-index: 14;
  width: 80%;
  min-width: 275px;
  .sidemenu-overlay {
    display: none;
  }
  &.open {
    left: 0;

    .sidemenu-overlay {
      display: block;
      background: rgba(0, 0, 0, 0.8);
    }
  }
  .menu-content {
    width: $fullwidth;
    height: 100%;
    position: relative;
    background: var(--cultured);
    overflow: scroll;
  }
  .menu-header {
    background: var(--primary);
    color: var(--white);
    display: flex;
    align-items: center;
    border-radius: $border-radius-8;
    .icon-profile {
      font-size: $extra-large-5-font;
      margin: 7px 0 7px 8px;
    }
    .customer-detail {
      font-size: $large-font;
      margin-left: 10px;
      font-weight: $font-bold;
      .user-name {
        margin-right: 10px;
      }
    }
    .login-sign-text {
      background-color: var(--primary);
      border-radius: $border-radius-4;
    }
  }

  .scrolled {
    height: calc(100% - 150px);
    overflow: auto;
    .menu-list {
      margin-top: 15px;
      padding-left: 10px;
      background-color: var(--white);
      border: 1px solid var(--ghost-white);
      border-radius: $border-radius-8;
      li {
        border-bottom: 1px solid var(--ghost-white);

        &:last-child {
          border-bottom: none
        }
        a {
          display: flex;
          align-items: center;
          padding: 15px 10px;
        }
        i {
          font-size: $extra-large-3-font;
          margin-right: 15px;
          float: left;
          line-height: $large-line-height;
        }
        .text {
          font-size: $extra-large-font;
          float: left;
          line-height: $medium-line-height;
        }
        .sideList {
          @extend %clear-fix;
          display: block;
          padding: 12px 10px;
        }
      }
      .side-menu-footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        left: 0;
        padding: 20px;
        border-top: 1px solid var(--ghost-white);
      }
    }
  }
}

.promo-container {
  margin-top: 10px;
  position: absolute;
  padding: 0;
  left: 0;
  right: 0;
  bottom: 0;
}