@import '../../../scss/variables';


.apply-promo{
  @extend %cards;
  padding: 25px 0 15px 0;
  margin: 10px 0;
  .open-offers{
    text-align: center;
    font-weight: 600;
    color:$blue-link-color;
    margin-top: 18px;
  }
}

.order-summary{
  @extend %white-card;
  padding: 15px 0;
  font-size: $medium-font;
  display: block !important;
  h3{
    padding: 0 0 0 15px;
    font-size: $large-font
  }
  li{
    padding: 8px 15px;
  }
  .border{
    border: solid $border-color;
    border-width: 1px 0 0px 0px;
    margin: 15px 0 0px 0;
    span{
      font-size: $large-font;
    }
  }
  .bold-txt{
    font-size: $large-font;
    padding:15px 15px 0 15px;
    border-top: 1px solid $border-color;
  }
}
.shop-btn{
  
  background: $white;
  color: $blue-link-color;
 
  border: solid $border-color;
  border-width: 1px 0 1px 0;
  
}
.btn{
  width: 100%;
  height: 60px;
  font-size: $large-font;
  font-weight: 600;
  margin-top: 10px;
}
.heading{
  color: #9c9292;
  font-size: 13px;
  margin-top: 3px;

}


/*new css 20-05-2021*/
#payment_summary{
  .txt-list{   
    li{
      &:after{
        content: ''; display: block; clear: both;
      }
      .tag-label { float: left; }
      .tag-value { float: right; }
      &.bold-txt{
        font-weight: 600;
      }
    }
  }
}