<ng-template #cartAddProductTemplate>
  <div class="pwa-row plp-card-list">
    <div class="pwa-col-12">
      <ng-container *ngFor="let item of cartAddProductSimilarData;let pIndex=index;">
        <product-card-horizontal-list-view [moduleUsedIn]="'CART-ADD-SIMILAR-PRODUCT'" [pageName]="pageName"
          [product]="item" [cardFeaturesConfig]='cardFeaturesConfig' [pIndex]="pIndex">
        </product-card-horizontal-list-view>
      </ng-container>
    </div>
  </div>
</ng-template>

<app-bottom-menu>
  <ng-container content *ngTemplateOutlet="cartAddProductTemplate"></ng-container>
</app-bottom-menu>