@import '../payment-continue-btn.scss';
@import '../../../scss/components/checkbox';
@import '../../../scss/layout/forms';
@import '../../../scss/components/radio.scss';
.creditDebitSection{
    .outline-input-label{
        margin-bottom:20px;
    }
}
.save_faster_label {
    display: flex;
    align-items: center;
    label{
        width: 20px;
        @extend %custom-check-box-checkout;
    }
    .chk-txt {
        font-size:$medium-font;
        color:var(--onyx-black);
        padding-left:10px;
    }
}

.radio-with-label-container {
    display: flex;
    margin: 10px 0px;
    label.radio-with-label {
        display: inline-flex;
        @extend %pwa-universal-radio;
        width: 45%;
        align-items: center;
        .custom-box {
            margin-right: 10px;
        }
        .radio-text {
            font-size: $medium-font;
        }
    }
}

.card-row{
  display:flex;
  .date-type-select{
      width:70%;
  }
  .outline-input-label{
     width:30%;
  }
}
