<section class="pwa-row pad-0 creditDebitSection">
    <!-- <h3 class="heading-3">Please Enter Your Debit/Credit Card Details</h3> -->
    <div class="pwa-col-12">
        <form class="material-form material-form-boxed" [formGroup]="creditDebitCardForm"
            (ngSubmit)="pay(creditDebitCardForm.value,creditDebitCardForm.valid)">
            <div class="radio-with-label-container">
                <label class="radio-with-label ">
                    <input type="radio" (change)="getPrePaidDiscount('CC')" formControlName="mode" value="CC">
                    <span class="custom-box"></span>
                    <span class="radio-text">Credit Card</span>
                </label>
                <label class="radio-with-label ">
                    <input type="radio" (change)="getPrePaidDiscount('DC')" formControlName="mode" value="DC">
                    <span class="custom-box"></span>
                    <span class="radio-text">Debit Card</span>
                </label>
            </div>
            <ng-container formGroupName="requestParams">
                <div class="outline-input-label">
                    <label [class.is-focus]="ccNumber.value.length!=0">
                        <input type="text" id="cc-number" formControlName="ccnum" type="tel" #ccNumber
                            kpAutocompleteOff>
                        <span class="label">
                            Card Number
                        </span>
                    </label>
                </div>
                <span class="small-heading">Valid thru</span>
                <div class="card-row">
                    <div class="date-type-select">
                        <div class="multiple-form-field">
                            <div class="input-field-boxed">
                                <input type="hidden" formControlName="ccexpmon" #expireMonth />
                                <div class="custom_select_box" (click)="openMonthPopUp()">
                                    <div class="custom_select_input" [class.selectedInput]="selectedMonth">
                                        <span>{{selectedMonth || 'MM'}}</span>
                                        <i class="icon-down"></i>
                                    </div>
                                </div>
                                <select-popup [itemArray]="expMons" [displayKey]="'value'" [valueKey]="'key'"
                                    [headerLabel]="'Select Month'" [isVisible]="monthSelectPopupStatus"
                                    (selectedValue$)="selectMonth($event)" [type]="'MONTH'" [compare]="selectedMonth">
                                </select-popup>
                            </div>
                            <div class="input-field-boxed">
                                <input type="hidden" formControlName="ccexpyr" #expireYear />
                                <div class="custom_select_box" (click)="openYearPopUp()">
                                    <div class="custom_select_input" [class.selectedInput]="selectedYear">
                                        <span>{{selectedYear || 'YYYY'}}</span>
                                        <i class="icon-down"></i>
                                    </div>
                                </div>
                                <select-popup [itemArray]="expYrs" [displayKey]="'value'" [valueKey]="'key'"
                                    [headerLabel]="'Select Year'" [isVisible]="yearSelectPopupStatus"
                                    (selectedValue$)="selectYear($event)" [type]="'YEAR'" [compare]="selectedYear">
                                </select-popup>
                            </div>
                        </div>
                    </div>
                    <div class="outline-input-label">
                        <label [class.is-focus]="ccCvc.value.length!=0">
                            <input type="password" id="cc-cvc" formControlName="ccvv" type="password" #ccCvc
                                kpAutocompleteOff maxlength="3">
                            <span class="label">CVV</span>
                        </label>
                    </div>

                </div>
                <div class="outline-input-label">
                    <label [class.is-focus]="nameOnCard.value.length!=0">
                        <input type="text" formControlName="ccname" type="text" #nameOnCard>
                        <span class="label">Name on Card</span>
                    </label>
                </div>
            </ng-container>
            <div class="custom-cbox save_faster_label">
                <label>
                    <input type="checkbox" formControlName="store_card">
                    <span class="custom-box"></span>
                </label>
                <span class="chk-txt">Save this card</span>
            </div>
            <div class="continue-button">
                <div class="container">
                    <p class="total-mount" *ngIf="totalPayableAmount>0">
                        <span class="payable-amnt">Payable Amount</span> ₹ {{totalPayableAmount | mathCeil | number :
                        '1.2-2'}}
                    </p>
                    <button type="submit" [disabled]="!creditDebitCardForm.valid" class="btn">PAY</button>
                </div>
            </div>
        </form>
    </div>
</section>
<payu-form *ngIf="isValid&&type=='retail'" [data]="payuData"></payu-form>
<razor-pay *ngIf="isValid&&type=='tax'" [data]="payuData"></razor-pay>