@import '../../../scss/payment-common';
.column-field {
    .w-45 {
        width: 45%;
    }
    .w-30 {
        width: 30%;
    }
    .w-65 {
        width: 65%;
    }
}

.cvv-info {
    .icon-cvv {
        font-size: 22px;
        float: left;
        margin-top: 22px;
    }
    p {
        width: calc(100% - 45px);
        float: right;
        margin-top: 17px;
    }
}

.save_faster_label {
    @extend %custom-check-box-checkout;
    input[type='radio'] {
        display: none;
        &:checked+.custom-box::before {
            font-size: 14px;
        }
    }
    .custom-box {
        &:before {
            font-size: 14px;
        }
    }
    .chk-txt {
        font-size: 12px;
        color: #B5B5B5;
    }
}

.radio-with-label-container {
    display: flex;
    margin: 10px 0px;
    label.radio-with-label {
        display: inline-flex;
        @extend %pwa-universal-radio;
        width: 160px;
        align-items: center;
        .custom-box {
            margin-right: 10px;
        }
        .radio-text {
            font-size: $medium-font;
        }
    }
}