@import '../../../scss/variables';
.forgot_password_container {
    padding: 15px;
    .stepHeader {
        margin-bottom: 25px;
    }
}

.resendOtpField {
    .disabled {
        color: $dark-gray-color;
    }
    .resendOtpTxt {
        position: absolute;
        top: 0;
        right: 0;
    }
    .icon-done {
        position: absolute;
        right: 10px;
        top: 23px;
        font-size: $large-font;
        font-weight: 600;
        color: $green-color;
    }
}

.show-pass {
    position: absolute;
    top: 24px;
    right: 0px;
    font-size: $medium-font;
    color: $dark-gray-color;
    &.green-txt {
        color: $green-color;
    }
}