@import '../../../../src/app/modules/continue/continue.scss';
@import '../../scss/layout/cards.scss';

.order-container {
    .order-confirmation-banner{
        padding: 15px;
        .card{
            padding: 20px;
            border: 1px solid var(--cultured);
            text-align: center;
            .green-txt{
                font-size:$extra-large-1-font;
                font-weight: $font-bolder;
            }
            img{
                width: 120px;
                margin: auto;
                padding: 25px 0 15px 0;
            }
        }
    }
    .order-item-section{
        background: var(--white);
        padding: 15px;
        .item-number{
            display: flex;
            span{
                display: block;
            }
            p{
                font-size: $large-font;
                color: var(--onyx-black);
            }
            .items{
                margin-left: auto;
            }
        }
        .tag-label{
            font-size: $large-font;
            color: var(--onyx-black);
            padding-top: 10px;
        }
        .txt-list {
            margin-left: -10px;
            li {
                padding: 2px 0;
                span {
                    width: 50%;
                    float: left !important;
                }
                .tag-label {
                    font-weight: bold;
                }
            }
        }
        .note-info{
            font-size: $medium-font;
            color: var(--onyx-black);
            padding-top: 10px;
        }
    }
    .button-section{
        padding: 20px 0 0;
        button{
            width: 48%;
            height: 40px;
            border-radius: 8px;
        }
        .otulineButton{
            margin-right: 13px;
        }
    }
    .promo-section{
        margin-top: 30px;
        padding: 0;
        .inner-promo{
            width: 100%;
        }
    }
}
