@import '../../../../src/app/modules/continue/continue.scss';
.order-container {
    padding-bottom: 33px;
    .card-30 {
        padding-top: 10px;
    }
    .txt-list {
        li {
            padding: 2px 0;
            span {
                width: 50%;
                float: left !important;
            }
            .tag-label {
                font-weight: bold;
            }
        }
    }
    .main-img {
        width: 120px;
    }
}

.order-detail {
    text-align: left;
}

.continue-button p {
    line-height: 20px;
    margin: 10px 0 0 20px;
    font-size: 16px;
}