<div class="dashboard-header">
    <div class="dashboard-inner">
        <a class="icon-menu header-icon" (click)="loadSideNav$.emit()"></a>
        <a>
            <span class="page-name" *ngIf="title">
                {{ title }}
            </span>
        </a>
    </div>
    <div class="dashboard-inner">
        <a (click)="loadSearchNav$.emit()" class="icon-search "></a>
        <a (click)="_commonService.navigateTo('/quickorder', true)" class="icon-cart1">
            <span class="badge" *ngIf="noOfCart != 0">{{ noOfCart }}</span>
        </a>
    </div>
</div>