<section class="payment-container payment-modal-bottom">
    <!-- <div class="card-30">
        <saved-card *ngIf="isSavedCardExist" [savedCardsData]="savedCardsData" [type]="invoiceType" (removeTab$)="removeTab($event)"></saved-card>
    </div> -->
    <section class="payment_accordion">
        <div id="creditDebitCardSection" [class.selectedAccordion]="paymentBlock==globalConstants['creditDebitCard']" class="payment_accordion_item">
            <div (click)="updatePaymentBlock(globalConstants['creditDebitCard'], 'creditDebitCard', 'creditDebitCardSection')" class="payment-accordion_header">
                <i class="icon-credit-line-home ico-accord-left"></i>
                <span class="accordion-text">Credit/Debit Card</span>
                <i class="icon-down"></i>
            </div>
            <div class="payment-accordion_body">
                <div *ngIf="paymentBlock==globalConstants['creditDebitCard']">
                    <credit-debit-card [type]="invoiceType"></credit-debit-card>
                </div>
            </div>
        </div>
        <div id="netBankingSection" [class.selectedAccordion]="paymentBlock==globalConstants['netBanking']" class="payment_accordion_item">
            <div (click)="updatePaymentBlock(globalConstants['netBanking'], 'netBanking', 'netBankingSection')" class="payment-accordion_header">
                <i class="icon-credit-line-home ico-accord-left"></i>
                <span class="accordion-text">Net Banking</span>
                <i class="icon-down"></i>
            </div>
            <div class="payment-accordion_body">
                <div *ngIf="paymentBlock==globalConstants['netBanking']">
                    <net-banking [type]="invoiceType"></net-banking>
                </div>
            </div>
        </div>
        <div id="walletSection" [class.selectedAccordion]="paymentBlock==globalConstants['netBanking']" class="payment_accordion_item">
            <div (click)="updatePaymentBlock(globalConstants['wallet'], 'wallet', 'walletSection')" class="payment-accordion_header">
                <i class="icon-credit-line-home ico-accord-left"></i>
                <span class="accordion-text">Wallet</span>
                <i class="icon-down"></i>
            </div>
            <div class="payment-accordion_body">
                <div *ngIf="paymentBlock==globalConstants['wallet']">
                    <wallet [type]="invoiceType"></wallet>
                </div>
            </div>
        </div>
        <div id="emiSection" [class.selectedAccordion]="paymentBlock==globalConstants['emi']" class="payment_accordion_item">
            <div (click)="updatePaymentBlock(globalConstants['emi'], 'emi', 'emiSection')" class="payment-accordion_header">
                <i class="icon-credit-line-home ico-accord-left"></i>
                <span class="accordion-text">EMI</span>
                <i class="icon-down"></i>
            </div>
            <div class="payment-accordion_body">
                <div>
                    <emi [type]="invoiceType"></emi>
                </div>
            </div>
        </div>
        <div id="neftRtgsSection" *ngIf="canNEFT_RTGS" [class.selectedAccordion]="paymentBlock==globalConstants['emi']" class="payment_accordion_item">
            <div (click)="updatePaymentBlock(globalConstants['emi'], 'emi', 'emiSection')" class="payment-accordion_header">
                <i class="icon-credit-line-home ico-accord-left"></i>
                <span class="accordion-text">EMI</span>
                <i class="icon-down"></i>
            </div>
            <div class="payment-accordion_body">
                <div *ngIf="paymentBlock==globalConstants['neftRtgs']" class="payment-popup">
                    <neft-rtgs></neft-rtgs>
                </div>
            </div>
        </div>
        <div id="upiSection" [class.selectedAccordion]="paymentBlock==globalConstants['upi']" class="payment_accordion_item">
            <div (click)="updatePaymentBlock(globalConstants['upi'],'upi', 'upiSection')" class="payment-accordion_header">
                <i class="icon-credit-line-home ico-accord-left"></i>
                <span class="accordion-text">UPI</span>
                <i class="icon-down"></i>
            </div>
            <div class="payment-accordion_body">
                <div *ngIf="paymentBlock==globalConstants['upi']" class="payment-popup">
                    <upi *ngIf="paymentBlock==globalConstants['upi']" [type]="invoiceType"></upi>
                </div>
            </div>
        </div>
        <div id="paytmUpiSection" [class.selectedAccordion]="paymentBlock==globalConstants['paytmUpi']" class="payment_accordion_item">
            <div (click)="updatePaymentBlock(globalConstants['paytmUpi'],'paytmUpi', 'paytmUpiSection')" class="payment-accordion_header">
                <i class="icon-credit-line-home ico-accord-left"></i>
                <span class="accordion-text">Paytm UPI</span>
                <i class="icon-down"></i>
            </div>
            <div class="payment-accordion_body">
                <div *ngIf="paymentBlock==globalConstants['paytmUpi']" class="payment-popup">
                    <paytm-upi *ngIf="paymentBlock==globalConstants['paytmUpi']" [type]="invoiceType"></paytm-upi>
                </div>
            </div>
        </div>
    </section>
    <form style="display:none;">
        <div class="payment-options mt-10">
            <div *ngIf="isSavedCardExist" id="savedCardSection">
                <a class="other-strip other-strip-payment" (click)="updatePaymentBlock(globalConstants['savedCard'], 'savedCard', 'savedCardSection')">
                    <label class="payment-radio-btn">
                            <input [checked]="paymentBlock==globalConstants['savedCard']" type="radio" name="saved_card" value="saved_card">
                            <span class ="custom-box"></span>
                    </label>
                    <div class="payment-content">
                        <h3>Saved Card Details</h3>
                        <div *ngIf="paymentBlock==globalConstants['savedCard']" class="payment-popup">
                            <saved-card [savedCardsData]="savedCardsData" [type]="invoiceType" (removeTab$)="removeTab($event)"></saved-card>
                        </div>
                    </div>
                    <!-- <i class="icon-next"></i> -->
                </a>
            </div>
            <div id="creditDebitCardSection">
                <a class="other-strip other-strip-payment" (click)="updatePaymentBlock(globalConstants['creditDebitCard'], 'creditDebitCard', 'creditDebitCardSection')">
                    <label class="payment-radio-btn">
                           
                                 <input [checked]="paymentBlock==globalConstants['creditDebitCard']" type="radio" name="cr_radio" value="cr_radio">
                                 <span class ="custom-box"></span>
                        </label>
                    <div class="payment-content">
                        <h3>Credit/Debit Card</h3>
                        <div *ngIf="paymentBlock==globalConstants['creditDebitCard']" class="payment-popup">
                            <credit-debit-card [type]="invoiceType"></credit-debit-card>
                        </div>
                    </div>
                    <!-- <i class="icon-next"></i> -->
                </a>
            </div>
            <div id="netBankingSection">
                <a class="other-strip other-strip-payment" (click)="updatePaymentBlock(globalConstants['netBanking'], 'netBanking', 'netBankingSection')">
                    <label class="payment-radio-btn">
                        <input [checked]="paymentBlock==globalConstants['netBanking']" type="radio" name="net_radio"  value="net_radio">
                        <span class ="custom-box"></span>
                    </label>
                    <div class="payment-content">
                        <h3>Net Banking</h3>
                        <div *ngIf="paymentBlock==globalConstants['netBanking']" class="payment-popup">
                            <net-banking [type]="invoiceType"></net-banking>
                        </div>
                    </div>
                </a>
            </div>

            <div id="walletSection">
                <a class="other-strip other-strip-payment" (click)="updatePaymentBlock(globalConstants['wallet'], 'wallet', 'walletSection')">
                    <label class="payment-radio-btn">
                        <input [checked]="paymentBlock==globalConstants['wallet']" type="radio" name="wallet_radio" value="wallet_radio">
                        <span class ="custom-box"></span>
                    </label>
                    <div class="payment-content">
                        <h3>Wallet</h3>
                        <div *ngIf="paymentBlock==globalConstants['wallet']" class="payment-popup">
                            <wallet [type]="invoiceType"></wallet>
                        </div>
                    </div>
                </a>
            </div>

            <div id="emiSection">
                <a class="other-strip other-strip-payment" (click)="updatePaymentBlock(globalConstants['emi'], 'emi', 'emiSection')">
                    <label class="payment-radio-btn">
                        <input [checked]="paymentBlock==globalConstants['emi']" type="radio" [disabled]="messageEmi"  name="emi_radio" value="emi_radio">
                        <span class ="custom-box"></span>
                    </label>
                    <div class="payment-content">
                        <h3><span>EMI</span>
                            <small class="error-txt emierror">{{messageEmi}} </small>
                        </h3>
                        <div *ngIf="paymentBlock==globalConstants['emi']" class="payment-popup">
                            <emi [type]="invoiceType"></emi>
                        </div>
                    </div>
                </a>
            </div>

            <div id="neftRtgsSection" *ngIf="canNEFT_RTGS">
                <a class="other-strip other-strip-payment" (click)="updatePaymentBlock(globalConstants['neftRtgs'],'neftRtgs', 'neftRtgsSection')">
                    <label class="payment-radio-btn">
                        <input [checked]="paymentBlock==globalConstants['neftRtgs']" type="radio" [disabled]="messageNeft"  name="neft_radio" value="neft_radio">
                        <span class ="custom-box"></span>
                    </label>
                    <div class="payment-content">
                        <h3><span>NEFT/RTGS</span>
                            <small class="error-txt nefterror">{{messageNeft}} </small>
                        </h3>
                        <div *ngIf="paymentBlock==globalConstants['neftRtgs']" class="payment-popup">
                            <neft-rtgs></neft-rtgs>
                        </div>
                    </div>
                </a>
            </div>

            <div id="upiSection">
                <a class="other-strip other-strip-payment" (click)="updatePaymentBlock(globalConstants['upi'],'upi', 'upiSection')">
                    <label class="payment-radio-btn">
                        <input [checked]="paymentBlock==globalConstants['upi']" type="radio"  name="upi_radio" value="upi_radio">
                        <span class ="custom-box"></span>
                    </label>
                    <div class="payment-content">
                        <h3>UPI</h3>
                        <div *ngIf="paymentBlock==globalConstants['upi']" class="payment-popup">
                            <upi *ngIf="paymentBlock==globalConstants['upi']" [type]="invoiceType"></upi>
                        </div>
                    </div>
                </a>
            </div>

            <div id="paytmUpiSection">
                <a class="other-strip other-strip-payment" (click)="updatePaymentBlock(globalConstants['paytmUpi'],'paytmUpi', 'paytmUpiSection')">
                    <label class="payment-radio-btn">
                        <input [checked]="paymentBlock==globalConstants['paytmUpi']" type="radio"  name="paytmupi_radio" value="paytmupi_radio">
                        <span class ="custom-box"></span>
                    </label>
                    <div class="payment-content">
                        <h3>Paytm UPI</h3>
                        <div *ngIf="paymentBlock==globalConstants['paytmUpi']" class="payment-popup">
                            <paytm-upi *ngIf="paymentBlock==globalConstants['paytmUpi']" [type]="invoiceType"></paytm-upi>
                        </div>
                    </div>
                </a>
            </div>

            <div id="pseudoSection" *ngIf="!isPaymentSelected">
                <div class="continue-button">
                    <div class="container">
                        <p class="total-mount">
                            <span class="payable-amnt">Payable Amount</span> ₹ {{totalAmount | number : '1.2-2'}} </p>
                        <button type="submit" [disabled]="true" class="btn">PAY</button>
                    </div>
                </div>
            </div>

            <div [class.disableCod]="disableCod" id="cashOnDeliverySection" (click)="updatePaymentBlock(globalConstants['cashOnDelivery'], 'cashOnDelivery', 'cashOnDeliverySection')">

                <a class="other-strip other-strip-payment">
                    <label class="payment-radio-btn">
                        <input [checked]="paymentBlock==globalConstants['cashOnDelivery']" type="radio" [disabled]="messageCod"  name="paytmupi_radio" value="paytmupi_radio">
                        <span class ="custom-box"></span>
                    </label>
                    <div class="payment-content">
                        <h3><span>Cash on Delivery</span>
                            <span class="learn-more" *ngIf="disableCod" (click)="learnMore($event)">Learn More</span>
                            <small class="error-txt coderror">{{messageCod}} </small>
                        </h3>
                        <div *ngIf="paymentBlock==globalConstants['cashOnDelivery']" class="payment-popup">
                            <cash-on-delivery *ngIf="paymentBlock==globalConstants['cashOnDelivery']" (updateTabIndex)="tabIndexUpdated($event)"></cash-on-delivery>
                        </div>
                    </div>
                </a>
            </div>

        </div>
    </form>

</section>


<!-- <app-pop-up *ngIf="spp"  class="link-color" (outData$)="outData($event)" [data]="{closeClass:'icon-back f-left',paraClass:'f-left page-name f-16',class: 'payment-popup', selector: 'spp', headerText:getPopupHeading()}">
    <div class="content-popup mt-15" content>
        <credit-debit-card *ngIf="paymentBlock==globalConstants['creditDebitCard']" [type]="invoiceType"></credit-debit-card>
        <net-banking *ngIf="paymentBlock==globalConstants['netBanking']" [type]="invoiceType" ></net-banking>
        <wallet *ngIf="paymentBlock==globalConstants['wallet']" [type]="invoiceType" ></wallet>
        <emi *ngIf="paymentBlock==globalConstants['emi']" [type]="invoiceType"></emi>
        <cash-on-delivery *ngIf="paymentBlock==globalConstants['cashOnDelivery']" (updateTabIndex)="tabIndexUpdated($event)"></cash-on-delivery>
        <neft-rtgs *ngIf="paymentBlock==globalConstants['neftRtgs']"></neft-rtgs>
        <upi *ngIf="paymentBlock==globalConstants['upi']" [type]="invoiceType"></upi>
        <paytm-upi *ngIf="paymentBlock==globalConstants['paytmUpi']" [type]="invoiceType"></paytm-upi>
    </div>
</app-pop-up> -->

<div class="row-eq-height payment_block" style="border: 1px solid #d6d6d6;">
    <div class="col-sm-3 bg-grey no-padding min-h-470 minh-auto-xs payment_sidebar">
    </div>
    <div class="tab-content col-sm-9 pad-tb-30 pad-lr-30 pad-lr-sm-15 pad-tb-sm-15 pad-lr-xs-10 min-h-470">
    </div>
</div>
<app-pop-up *ngIf="showPopup" (outData$)="outData($event)" class="bs-popup codUnavailable" [data]="{closeClass:'icon-back f-left',paraClass:'f-left page-name f-16 page-name-black',class: 'payment-popup',selector:'showPopup',headerText:'COD Unavailable'}">
    <div class="content-popup" content>
        <p class="sub-heading">Following product(s) in your Cart are not available for COD</p>
        <div class="card relative" *ngFor="let product of unAvailableMsnList">
            <div class="container pb-15">
                <div class="product-left">
                    <div class="product-img">
                        <img src="{{product.productImg}}">
                    </div>
                </div>
                <div class="product-detail pad-tb-10">
                    <div class="p-name f-14">
                        <a class="blue-txt"> {{ (product.productName.length>50)? (product.productName | slice:0:48)+'..':(product.productName) }}</a>
                        <!-- <i class="icon-dot" (click)="sbm.index = i; getProductId(item.productId)"></i> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</app-pop-up>