@import '../../scss/variables';

.continue-button {
    padding: 10px 0;
    background: #fff;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 10;
    width: 100%;
    text-transform: uppercase;
    box-shadow: 0 -3px 5px rgba(0, 0, 0, .16);
    p {
        font-size: 18px;
        font-weight: 600;
        float: left;
        padding-left: 15px;
        line-height: 20px;
    }
    .payable-amnt {
        display: block;
        font-size: $large-font;
        font-weight: 400;
        text-transform: capitalize;
        color: #3030308c;
        padding-bottom: 4px;
        span {
            img {
                width: auto;
            }
        }
        img {
            vertical-align: middle;
        }
    }
    button {
        width: 175px;
        background: $btn-color-red;
        float: right;
        height: 55px;
        text-transform: uppercase;
    }
    button:disabled,
    button[disabled]{
        background-color: #bdbdbd;;
        color: $white;
    }
}