#emailer {
  margin-top: 65px;
  width: 96%; margin-left: auto; margin-right: auto;
  .container-fluid{background: none; }                                                                                                                                              
  .hidden-sm-down{display: none;}
  .hidden-sm-up a {
    display: block;
}
  ul.emailer-tab{
    height:138px;
    padding: 0 0px; box-shadow: 0 3px 5px rgba(0,0,0,0.2); position: relative;
    li {
       height:52 px;
      font-size: 14px;
      float: left; width: 33.3% !important;  text-align: center; padding: 15px 0px; height: 65px;
      overflow: hidden; cursor: pointer;
      &.active {
        height:50 px;
        border-bottom: 2px solid #e1443b;
        color: #e1443b !important;
        font-weight: 500;
        cursor: pointer;
      }
    }
  } 
  .tab_num{
    padding: 0 0px;
    & > .bg-white{
      &:after{
        clear: both; content: '';display: block;
      }
    }
  }
  .wp-xs-50 {width: 50%;}
  .prod_img { margin-bottom: 10px;}
  .prod_detail{
    h3 {font-weight: 400;line-height: 16px;  padding: 0; color: #3875fd;  }
    .prod_block { position: relative;   margin-top: 10px;  }
    .prod_price { font-size: 16px; font-weight: 500; }
    .line-through { text-decoration: line-through;  color: #737373!important; font-size: 12px;
      font-weight: 400; }
    .prod_discount { position: absolute; top: 24px!important; right: 0; color: #3b9e26; }
     h5 { font-weight: 600; color: #737373!important;  font-size: 14px;  }
  } 
  .wp-20{
    .prod_grid {
      height: 330px;
      padding: 15px;
  }
  } 
}