@import "../../scss/variables";
@import "../../scss/components/tabs.scss";

.moglix-benefits {
    background: var(--white);
    @extend %hide-scrollbar;
}

.gold-member-benefits {
    background: #F0E3B6;
    @extend %hide-scrollbar;
    opacity: .9;
    .pdp-section-header{
        background-color: #F0E3B6;
    }
    .pwa-tabs-container{
        .pwa-image-tab{
            border: 1px solid #D3C780;
            background-color: var(--white);
            align-items: center;
            .tab-img{
                background-color: #F0E3B6;
            }
        }
    }
}