@import '../../../../scss/variables';

.popupHeading {
  font-size: 18px;
  color: #303030;
  font-weight: 500;
  padding: 20px 15px;
  border-bottom: 2px solid #f0f0f0;
}

.realTimePricePopupBtn {
  background: #F17A24;
  border: 1px solid #F17A24;
  border-radius: 3px;
  width: 320px;
  height: 40px;
  display: inline-block;
  float: right;
  margin: 20px;
  color: #fff;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: bold;
}

.oosProduct{
  opacity: 0.5;
}
.crossIcon{
display: inline-block;
border: none;
position: absolute;
right: 13px;
color: #fff;
background: #000;
font-size: 11px;
border-radius: 50%;
padding: 1px 5px;
z-index: 0;
top: 13px;

.crossIconOos{
  color: #fff;
}
}

.unavailableItems{
  margin-bottom: 35px;
  padding: 15px 0px;
  .container-head-sec{
    padding:0 15px;
  }
  .price{
    font-weight:bold;
    padding-top:5px;
  }
  .card{
    padding:15px;
    margin-top:0px;
  }
  .red-text{
    color:#D9232D;
    font-size:$small-font;
    padding-top:10px;
    line-height:14px;
  }
  .oos{
    opacity:0.5;
    pointer-events:none;
  }
}