<div [class.search_open]="ssp" [class.search_open_mini]="!ssp && (data == undefined || data.type == undefined || data.type !== 'home')" [class.second-scroll]="data && data['className']">
    <div class="head-popup clearfix" *ngIf="ssp">
        <div class="container" id="search-input-block">
            <i class="icon-back f-left" (click)="enableScroll();resetSearchBar();ssp=false"></i>
            <i class="icon-search"></i>
            <form class="searchForm" [formGroup]="searchForm" (ngSubmit)="searchData(searchForm.value, searchForm.valid)">
                <input formControlName="searchTerm" type="text" autocomplete="off" placeholder="Search Product/Category/Brand..." aria-describedby="basic-addon2" id="search-input">
                <i class="icon-circle-delete icon-del" *ngIf="ssp && showSuggestionBlock" (click)="resetSearchBar()"></i>
                <button *ngIf="ssp" class="searchBtn" type="submit"><i class="icon-search"
                        style="display: block;"></i></button>
            </form>
        </div>
    </div>
    <section *ngIf="isBrowser" class="search-popup" #scrollable>
        <div *ngIf="!showSuggestionBlock" class="scroll-able">
            <app-trending-search (outData$)="outData($event)"></app-trending-search>
            <div class="search-result">
                <app-search-history (outData$)="outData($event)" (sendTextToSearchBar)="handleSendTextToSearchBar($event)"></app-search-history>
            </div>
        </div>
        <div class="ac_results search-result" *ngIf="showSuggestionBlock" id="ac_results">
            <div class="container">
                <div class="search_suggestion">
                    <h3 class="search_heading">Popular Suggestions</h3>
                    <ul class="plan-list">
                        <ng-container *ngFor="let prod of suggestionList | slice:0:5; let i = index;">
                            <li *ngIf="prod.productCount" class="ac_even" type="suggestionList" (click)="navigateTo('SEARCH', prod.term,null,prod.categoryId,prod.attributes, prod['brandName'] )" [attr.data-index]="i">
                                <span class="search-text">{{prod.term}}</span>
                                <div class="search-count">
                                    <span class="prodCount" *ngIf="prod.productCount">{{prod.productCount}}</span>
                                    <!-- <img (click)="handleSendTextToSearchBar(prod.term, $event)" src="{{imageAssetPath}}assets/img/interface.png"> -->
                                    <i (click)="handleSendTextToSearchBar(prod.term, $event)" class="icon-share-box-line interfaceIcon"></i>
                                </div>
                            </li>
                        </ng-container>
                    </ul>
                    <!--categories-->
                    <ng-container *ngIf="categorySuggestionList.length > 0">
                        <h3 class="search_heading rel-cat">Relevant Categories</h3>
                        <div class="search_product_categories">
                            <ng-container *ngFor="let prod of categorySuggestionList | slice:0:12; let i = index">
                                <div *ngIf="prod.imageLink" class="search_product_category" [attr.data-index]="i" (click)="navigateTo('SEARCH', prod.term,prod.redirectionLink,null,null)">
                                    <img src="{{imagePath + prod.imageLink}}">
                                    <span class="prodText">{{prod.term}}</span>
                                </div>
                            </ng-container>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="brandSuggestionList.length > 0">
                        <h3 class="search_heading">Explore By Brands </h3>
                        <ng-container *ngFor="let prod of brandSuggestionList | slice:0:12; let i = index;">
                            <div *ngIf="prod.term" class="search_product_category brand" (click)="navigateTo('SEARCH', prod.term,prod.redirectionLink,null,null)" [attr.data-index]="i">
                                <span class="prodText">{{prod.term}}</span>
                            </div>
                        </ng-container>
                    </ng-container>
                </div>
            </div>
        </div>

    </section>
</div>