@import "../../scss/variables";
@import "../../scss/layout/horizontalProductListing";

.rel-cat {
    margin-top: 15px;
}

.search_heading {
    color: #a8a8a8;
    font-size: $small-font;
    i {
        font-size: 12px;
        margin-right: 5px;
    }
}

.mar-t--10 {
    margin-top: -10px;
}

.search-popup {
    display: none;

    .search-result {
        // padding: 15px 0;
        .heading-4 {
            color: #969696;
        }

        .plan-list {
            // padding: 0 0 0 25px;
            li {
                font-size: 12px;
                color: #3c3c3c;
                text-transform: capitalize;
                border-bottom: 1px solid #f1f1f1;
                width: 100%;
                display: block;
                padding: 4px 0;

                .search-text {
                    display: inline-block;
                    vertical-align: middle;
                    line-height: 31px;
                    float: left;
                    width: calc(100% - 65px);
                }

                .search-count {
                    float: right;
                    padding: 5px 0 2px;
                    color: #a8a8a8;
                    max-width: 65px;
                    vertical-align: top;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    span {
                        display: inline-block;
                        padding-right: 10px;
                    }

                    .interfaceIcon {
                        float: right;
                        font-size: 22px;
                        color: #a3a3ab;
                    }
                }

                @extend %clear-fix;
            }
        }
    }
}

.tags-list {
    li {
        float: left;
        margin: 0 10px 10px 0;
        padding: 3px 12px;
        border: 1px solid #707070;

        &:last-child {
            margin-right: 0;
        }

        a {
            color: $blue-link-color;
            font-size: $extra-large-font;
        }

        @extend %border-radius;
    }
}

app-search-bar {
    .search_open_mini {
        .head-popup {
            box-shadow: none;

            input {
                width: 40px;
                height: 23px;
                z-index: 9;
                background: transparent;
                margin: 0;
                // line-height:initial;
                padding: 5px 10px;
                opacity: 0;
            }

            i.icon-search {
                top: 3px;
                color: #fff;
                left: 0px;
            }
        }
    }

    .search_open {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: 100;
        background: #fff;

        .head-popup {
            background: #fff;
            box-shadow: 0px 3px 6px #00000029;

            .icon-back {
                display: block;
                left: 0px;
                top: 12px;
            }
        }

        .search-popup {
            display: block;

            .scroll-able {
                overflow: auto;
                height: calc(100vh - 150px);
            }
        }

        .icon-search {
            display: none;
        }

        form {
            @include placeholder {
                color: $place-holder-color;
                font-size: $large-font;
            }

            width: 85%;
        }

        .searchBtn {
            right: 0px;
            position: absolute;
            background: transparent;
            border-radius: 4px;
            border: none;
            box-shadow: none;
            top: 4px;
            width: 33px;
            height: 33px;
            i {
                right: 0px;
                top: 6px;
                left: 0;
                font-size: 20px;
                color: var(--primary) !important;
            }
        }

        .icon-del {
            position: absolute;
            right: 40px;
            font-size: 18px;
            color: #c4c4c4;
            z-index: 21;
            right: 60px;
            left: auto;
            top: 12px;
        }
    }
}

.head-popup {
    padding: 1px 0;
    @extend %clear-fix;
    background: $logo-color;
    margin-bottom: 0px;
    .container {
        position: relative;
    }
    i {
        position: absolute;
        z-index: 1;
        &.icon-back-arrow {
            left: 5px;
            top: 8px;
            font-size: 24px;
            color: #303030;
        }

        &.icon-delete {
            right: 10px;
            font-size: 14px;
            left: auto;
            margin-top: 0px;
        }
    }

    .icon-back {
        display: none;
    }

    input {
        border-radius: 3px;
        margin: 10px 0;
        height: 21px;
        width: 100%;
        border: 0;
        padding: 0 36px 0 40px;
        font-size: $large-font !important;
        background: #fff;
        ::placeholder{
            font-size: 18px !important;
        }
        &:focus-visible {
            outline: none;
        }
    }
}

.scrolled {
    .head-popup {
        box-shadow: none;

        i {
            top: 10px;
        }

        input {
            margin: 0px;
        }
    }
}

.search-strip.all-search {
    background: $logo-color;

    ::placeholder {
        color: #707070;
        font-size: 14px;
        opacity: 1;
        /* Firefox */
    }

    :-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: #707070;
        font-size: 14px;
    }

    ::-ms-input-placeholder {
        /* Microsoft Edge */
        color: #707070;
        font-size: 14px;
    }

    .container {
        position: relative;
        padding: 1px 0;

        .searchTextBox {
            margin: 10px 0;
            height: 40px;
            line-height: 40px;
            width: 100%;
            border: 0;
            padding: 0 8px 0 40px;
            background: $white;
            font-size: $large-font;
            color: $border-sec-color;
            @extend %border-radius;
            display: inline-block;
            vertical-align: middle;
        }

        i {
            position: absolute;
            left: 10px;
            top: 20px;
            font-size: 18px;
            color: $link-color;
            z-index: 15;
        }
    }

    &.second-scroll {
        background: none !important;
        margin-top: 3px;

        .container {
            width: 100% !important;

            i {
                right: 7px;
                top: 10px;
            }

            .searchTextBox {
                margin: 0 !important;
                font-size: 12px;
            }
        }
    }
}

.icon-search {
    position: relative;

    em {
        position: absolute;
        top: 0;
        left: 0;
        color: transparent;
        width: 21px;
        height: 22px;
        overflow: hidden;
    }
}

.pdpIco {
    .head-popup {
        box-shadow: none;
    }
}

//search screen
section.search-popup {
    padding: 10px 10px;
}

.popularCategoryHeading {
    color: #969696;
    font-size: 10px;
    padding: 15px 0 0;
}

.productImage {
    width: 10%;
    float: left;

    .productCategory {
        width: 24px;
        vertical-align: top;
    }
}

.search_product_categories {
    display: flex;
    flex-wrap: nowrap;
    overflow: scroll;

    .search_product_category {
        display: inline-flex;
        align-items: center;
        border: 1px solid #efeff4;
        border-radius: 8px;
        padding: 5px;
        margin-right: 10px;
        flex: 0 0 45%;
        margin-bottom: 10px;
        overflow: auto;

        &.brand {
            justify-content: center;
        }

        img {
            width: 36px;
        }

        .prodText {
            padding-left: 5px;
            line-height: 10px;
            font-size: 11px;
        }
    }
}

@media screen and (max-width: 320px) {
    .search-strip.all-search {
        .searchTextBox {
            padding: 0 8px 0 35px !important;

            i {
                font-size: 16px;
            }
        }
    }
}

.search_product_category {
    display: inline-flex;
    align-items: center;
    border: 1px solid #efeff4;
    border-radius: 8px;
    padding: 5px;
    margin-right: 5px;
    width: 48%;
    margin-bottom: 10px;
    min-height: 45px;
    overflow: hidden;

    &.brand {
        justify-content: center;
    }
}

.search-popup {
    overflow-y: scroll;
    height: 90vh;
}

.similar-prod {
    padding: 0px !important;
}

.card {
    border: none;
}

.card-vertical,
.upper-view-all-sec {
    &:first-child {
        padding-left: 0px !important;
    }
}
