<div class="allCategory">
    <div class="categoryOverBlk">
        <div class="clearfix">
            <div class="commonCategorySlide">
                <div class="innerSlide">
                    <a>
                        <div class="categoryImg">
                            <img src="./../../assets/img/emi-icici.png">
                        </div>
                        <div class="categoryName">
                            <span>Here Is Name</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>