@import '../../scss/variables';
@import '../../scss/utils/spacing.scss';

    .category-OverBlk{
        margin-bottom: 10px;
        .category-block{
            display:flex;
            border: 1px solid $border-color;
            border-radius: $border-radius-8;
            background: var(--white);
            min-height: 80px;
            padding: 5px;
            align-items: center;
            .category-Img{
                margin-right: 5px;
                width:60px;
                img{
                    width:100%;
                }        
            }
            .category-Name{
                width:calc(100% - 60px);
                font-size: $medium-font;
                font-weight: $font-normal;
                margin-top: 5px;
            }    
        }
    }

