<!-- TODO's -->
<!-- 1. create a variable in spacing.scss and use it in category card component  -->
<!-- 2. use border variable and need to create varibale in variable.scss -->

<div class="category-card-container">
    <div class="category-OverBlk">
        <div class="category-block">
            <div class="category-Img">
                <img [lazyLoad]="image">
            </div>
            <div class="category-Name">
                <span>{{title}}</span>
            </div>
        </div>
    </div>
</div>