@import '../../scss/variables';
@import '../../scss/spacing';

.category-card-contatiner{
    padding: var(--padding);  
    background: $body-color; 
    .category-OverBlk{
        display: flex;
        .category-block{
            display: flex;
            margin: var(--margin);
            width: 49%;
            padding: var(--padding-tb-rl);
            border: 1px solid $border-color;
            border-radius: $border-radius;
            background: $white-color;
            .category-Img{
                display: inline-flex;
                width: 45px;
                img{
                    width: $fullwidth;
                }
            }
            .category-Name{
                display: inline-flex;
                font-size: $medium-font;
                font-weight: $font-normal;
                margin-top: 5px;
            }    
            
        }
    }
}