@import '../../../scss/variables';
@import '../../../scss/root';

.otherCategoryBlock {
    .heading-3{
        text-transform: uppercase;
        padding-top: 5px;
    }
    .trending-category-block {
        margin: 0px;
        padding-top: 5px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .inner-trending-category {
            list-style: none;
            width: calc(50% - 8px);
            margin-bottom: 15px;
            .innerCategory {
                background: var(--white);
                box-shadow: var(--cluster-store-shadow);
                min-height: 255px;
                border-radius: $border-radius-8;
                img {
                    max-height: 100%;
                    max-width: 100%;
                    width: $fullwidth;
                    border-radius: 8px 8px 0px 0px;
                }
                .imgBlock {
                    height: 160px;
                }
            }
            .detailsBlock {
                position: relative;
                text-align: center;
                padding: 10px 10px 10px 10px;
                h3 {
                    font-size: $large-font;
                    color: var(--onyx-black);
                    padding: 0px 0px 5px 0px;
                }
                p {
                    color: var(--primary);
                    font-size: $medium-font;
                }
            }
        }
    }
}