<div class="otherCategoryBlock manufacturer">
    <h3 class="l0_heading">{{data.title}}</h3>
    <ul class="clearfix">
        <li *ngFor="let item of data['data'] | slice:0:4;let i=index">
                <div [routerLink] ="['/'+item.image_link]" class="innerCategory">
                    <div class="imgBlock">
                        <img alt="{{item['image_title']}}" src ="{{imagePath + item['image_name']}}">
                    </div>
                    <div class="detailsBlock">
                        <h3>{{item['image_title']}}</h3>
                        <p *ngIf ="item['image_general']  && item['image_general'].length >0">{{item['image_general'][0]['general_text']}}</p>
                    </div>
                </div>
            
        </li>
    </ul>
</div>