<section class="pwa-row popularDeals mt-10 pad-r-0" *ngIf="polpularDealsProducts && polpularDealsProducts.length>0">
    <section class="pwa-col-12">
        <div class="view-all-strip">
            <h3>Our Popular Deals</h3>
        </div>
        <div class="pwa-tabs-container">
            <div class="pwa-tab pwa-tab-variant2">
                Top Seller
            </div>
            <div  class="pwa-tab pwa-tab-variant2 selectedTab">
                In Demand
            </div>
            <div class="pwa-tab pwa-tab-variant2">
                People's Choice
            </div>
            <div class="pwa-tab pwa-tab-variant2">
                One
            </div>
            <div class="pwa-tab pwa-tab-variant2">
                One
            </div>
        </div>
        <product-card-vertical-container [numberOfItems]="polpularDealsProducts.length || 0">
            <ng-container *ngFor="let product of polpularDealsProducts;let pIndex=index">
                <product-card-vertical-grid-view [section]="'similar'" [product]="product" [cardMetaInfo]='cardMetaInfo'
                    [cardFeaturesConfig]='cardFeaturesConfig' [pIndex]="pIndex" [enableTracking]="true"
                    [analytics]="analytics">
                </product-card-vertical-grid-view>
            </ng-container>
        </product-card-vertical-container>
    </section>
</section>