<section class="walletInner">
    <div class="payment-notification" *ngIf="lsrMessage.length > 0">
        Low success rate currently observed in some cases. If possible, use an alternate payment mode
    </div>
    <form [formGroup]="walletForm" (ngSubmit)="pay(walletForm.value, walletForm.valid)" class="form-horizontal">
        <ul class="bank-list">
            <li *ngFor="let wallet of walletMapKeys" class="bank-list-item">
                <label class="payment-radio-btn">
                    <input type="radio" formControlName="wType" [value]="wallet">
                    <span class="custom-box"></span>
                </label>
                <div>
                    <img class="wallet-img" src="{{imagePath+imageFolder + '/' + walletMap[wallet].imgUrl}}">
                    <span class="lowsuccessRate  pad-l-8"
                        *ngIf="successPercentageData && successPercentageData[walletMap[wallet]['type']] && successPercentageData[walletMap[wallet]['type']]['up_status'] != 1">Low
                        success rate observed</span>
                </div>
            </li>
        </ul>
        <div class="continue-button">
            <div class="container">
                <p class="total-mount" *ngIf="totalPayableAmount>0">
                    <span class="payable-amnt">Payable Amount</span> ₹ {{totalPayableAmount | mathCeil | number :
                    '1.2-2'}}
                </p>
                <button type="submit" [disabled]="!walletForm.valid" class="btn">PAY</button>
            </div>
        </div>
    </form>
</section>

<paytm-wallet-form *ngIf="isValid==true && wType=='walletPaytm'" [data]="walletData"></paytm-wallet-form>
<payu-wallet-form
    *ngIf="isValid&&type!='tax' &&  (wType=='walletAirtel' || wType=='walletFreecharge' || wType=='walletHdfcpay' || wType=='walletOlamoney' || wType=='walletOxigen')"
    [data]="walletData"></payu-wallet-form>
<mobikwik-wallet-form *ngIf="type=='retail' && isValid==true && wType=='walletMobikwik'" [data]="walletData">
</mobikwik-wallet-form>
<razor-pay *ngIf="isValid&&type=='tax' && wType!='walletPaytm'" [data]="walletData"></razor-pay>