<ng-container *ngIf="data && data.length > 0">
    <div class="promoted-brand-container mb-10 mt-10">
        <h1 class="pad-lr-pdp">Featured Brand Categories</h1>
        <div class="promoted-brand-outer-section pad-l-pdp">
            <div class="promoted-brand-inner-section" *ngFor="let ad of data">
                <img src="{{ad['pictureUrl']}}">
                <p class="brand-name">{{ad['categoryName']}}</p>
                <p class="explore-btn">
                    <a target="_blank" href="{{ad['landingPageUrl']}}">EXPLORE NOW</a>
                </p>
            </div>
        </div>
    </div>
</ng-container>