<ng-container *ngIf="data && data.length > 0">
    <div class="promoted-brand-container mb-10 mt-10" data-observeVisibility [debounceTime]="200"
        (visible)="onVisisble($event)">
        <h1 class="pad-lr-pdp" [ngClass]="{'pad-lr-pdp' :isPdpPage}">Featured Brand Categories</h1>
        <div class="promoted-brand-outer-section" [ngClass]="{'pad-l-pdp' :isPdpPage}">
            <div class="promoted-brand-inner-section" *ngFor="let ad of data">
                <a href="{{ad['landingPageUrl']}}"
                    (click)="$event.stopPropagation();analyticsClick(ad['categoryName']);">
                    <img src="{{ad['pictureUrl']}}">
                    <p class="brand-name">{{ad['categoryName']}}</p>
                    <p class="explore-btn">
                        <a href="{{ad['landingPageUrl']}}"
                            (click)="$event.stopPropagation();analyticsClick(ad['categoryName']);">EXPLORE NOW</a>
                    </p>
                </a>
            </div>
        </div>
    </div>
</ng-container>