<div class="container-fluid">
    <div class="row">
        <cms [background]="'bg-trans'" [cmsData]="API_RESPONSE?.brand[2]?.data?.data"></cms>
    </div>
</div>

<!-- Breadcrump of brand page -->
<ul class="bread-head no-margin mar-b-15">
    <li [routerLink]="['/']" class="f-size-12">Home</li>
    <li [routerLink]="['/brand-store']" class="item f-size-12">Brand</li>
    <li class="item f-size-12">
        <a [routerLink]="['/brands/' + _activatedRoute.snapshot.params.brand]" style="text-transform: capitalize">
            {{_activatedRoute.snapshot.params.brand}}</a>
    </li>
    <li *ngIf="API_RESPONSE['brand'][1]?.categoryName" class="item f-size-12">
        <a [routerLink]="['/brands/' + _activatedRoute.snapshot.params.brand]" style="text-transform: capitalize">
            {{API_RESPONSE['brand'][1]?.categoryName}}</a>
    </li>
</ul>

<!-- Brand Product List Data -->
<div class="cate-container">
    <div class="sub-cate-container">
        <div class="container pt-10">
            <h1 *ngIf="!API_RESPONSE['brand'][1].categoryName" style="text-transform: capitalize" class="f-16 pad-tb-10 bold-txt">
                Shop {{API_RESPONSE['brand'][1]?.heading ? (API_RESPONSE['brand'][1]?.heading | removeHTML) : _activatedRoute.snapshot.params.brand}} Products
            </h1>

            <h1 *ngIf="API_RESPONSE['brand'][1].categoryName" style="text-transform: capitalize" class="f-16 pad-tb-10 bold-txt">
                Shop {{API_RESPONSE['brand'][1]?.heading ? (API_RESPONSE['brand'][1]?.heading | removeHTML) : _activatedRoute.snapshot.params.brand}} Online
            </h1>

        </div>

        <div class="container pt-10">
            <p *ngIf="API_RESPONSE['brand'][1].categoryName && _commonService.selectedFilterData.page < 2" class="desc-brand"> Moglix offers superior quality and genuine
                <a class="text-blue" [routerLink]="['/brands/' + _activatedRoute.snapshot.params.brand]" style="text-transform: capitalize">
                    {{API_RESPONSE['brand'][1].categoryName}}
                </a> from a renowned brand
                <a class="text-blue" [routerLink]="['/brands/' + _activatedRoute.snapshot.params.brand]">{{_activatedRoute.snapshot.params.brand}}</a>. 
                Easily browse through our assortment and explore more about price, specifications, availability, and deals online for {{(API_RESPONSE['brand'][1]?.heading | removeHTML)}}. Buy these products
                at best prices and get them delivered at your doorstep across India.
            </p>
        </div>
    </div>
    <div class="clearfix"></div>
</div>

<shared-product-listing 
    [productsListingData]="_productListService?.productListingData" >
</shared-product-listing>

<div class="popularCategories" *ngIf="popularLinks.length > 0">
    <div class="innerPopularSection">
        <h4 class="heading-3">Popular Categories</h4>
        <a *ngFor="let category of popularLinks;last as isLast" href="{{this.API_RESPONSE.brand[1].categoryLinkList[category]}}" class="popularCategoriesList">{{ category }} <span *ngIf="!(isLast)">. </span></a>
    </div>
</div>

<brand-details-footer  *ngIf="_commonService.selectedFilterData.page < 2" [brandDetailsFooterData]="brandFooterData"></brand-details-footer>
