@import '../../../scss/variables';
.featuredBrands{
    background:var(--white);
    .heading-3{
        text-transform: uppercase;
        padding-top: 5;
    }
    .featrOverBlock{
        overflow-y:hidden;
        overflow-x:scroll;
        width:auto;
        padding: 10px 5px;
    }
    .featrSlide{
        box-shadow: var(--cluster-store-shadow);
        float: left;
        margin-right:10px;
        width:80px;
        padding:20px 5px;
        background:var(--white);
        height:75px;
        img{
            width:$fullwidth;
        }
     }
}
    
