<app-pop-up [data]="{class: 'payment-popup addAddressPopup', headerCustom:true}">
    <div class="head-sec header_add_edit" header>
        <div class="container">
            <i class="icon-back f-left white_text" (click)="closeVariant2Popup('backToAskQues')"></i>
            <p class="txt header_text page-name">Question posted successfully</p>
        </div>
    </div>
    <div class="content-popup card mt-15 hp-100 pad-b-70" content>
        <section class="pdp-section-card">
            <div class="pwa-row">
                <div class="ask-question-area pad-15 mt-10">
                    <div class="success-popup mt-10">
                        <div class="popup-img-area">
                            <img src="assets/img/checkbox-circle-fill-m.svg">
                        </div>
                        <div class="popup-text-area">
                            <h5>Question posted successfully</h5>
                            <p>We will notify you when someone<br> answer your question.</p>
                        </div>
                        <div class="popup-btn">
                            <button (click)="closeVariant2Popup('backToPdp')" class="btn btn-red">BACK TO PRODUCT</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</app-pop-up>