<app-pop-up-variant2 [data]="{class: 'payment-popup addAddressPopup', headerCustom:true}">
    <div class="head-sec header_add_edit" header>
        <div class="container">
            <i class="icon-back f-left white_text" (click)="closeVariant2Popup('backToAskQues')"></i>
            <p class="txt header_text page-name">Question posted successfully</p>
        </div>
    </div>
    <div class="content-popup ask-question-success-popup" content>
        <section class="pwa-row">
            <div class="pwa-col-12 success-popup">
                <div class="popup-img-area">
                    <img src="assets/img/checkbox-circle-fill-m.svg">
                </div>
                <div class="popup-text-area">
                    <h5>Question posted successfully</h5>
                    <p>We will notify you when someone<br> answer your question.</p>
                </div>
                <button (click)="closeVariant2Popup('pdpPage')" class="btn tertiary-btn">BACK TO PRODUCT</button>
            </div>
        </section>
    </div>
</app-pop-up-variant2>