@import '../../scss/variables';
@import '../../scss/root';
// @import '../../scss/layout/grid.scss';

.contact-container {
    .top-banner {
        padding: 0;
        background:  var(--white);
        border-radius: 11px;
        margin: 20px 15px;
        display: inline-block;
        .banner-content {
            text-align: left;
            display: inline-block;
            width: 55%;
            vertical-align: top;
            padding: 23px 0;
            span {
                padding: 20px 15px;
                display: block;
                h1 {
                    font-size: $extra-large-font;
                    color: var(--text-color);
                    font-weight: $font-bolder;
                }
                p {
                    font-size: $medium-font;
                    font-weight: $font-normal;
                    line-height: $small-line-height;
                    padding-top: 10px;
                }
            }
        }
        .banner-img {
            display: inline-block;
            text-align: right;
            width: 40%;
            padding: 20px 0;
        }
    }
    .contact-description {
        padding: 0 15px;
        p {
            font-size: $medium-font;
            color: var(--text-color);
            font-weight: $font-normal;
            line-height: $medium-line-height;
        }
    }
    .contact-info {
        padding: 15px 15px;
        .faq-wrap {
            border: 1px solid var(--ghost-white);
            background:  var(--white);
            border-radius: 11px;
            padding: 20px 7px;
            margin-bottom: 15px;
            &:last-child {
                margin-bottom: 0;
            }
            span {
                display: inline-block;
                h6 {
                    font-size: $extra-large-font;
                    color:var(--text-color);
                    font-weight: $font-bolder;
                    line-height: $medium-line-height;
                }
                p {
                    font-size: $medium-font;
                    font-weight: $font-normal;
                    line-height: $small-line-height;
                    padding-top: 2px;
                    color:var(--bleu-de-france);
                }
                .faq-txt{
                    color: var(--onyx-black);
                }
            }
            .contact-content {
                padding: 0px 6px 0 11px;
                width: 80%;
            }
            .right-arrow {
                float: right;
                padding: 5px 3px;
            }
            .icons {
                vertical-align: top;
                i{
                    font-size: 30px;
                    &.icon-whatsapp{
                        color: var(--slimy-green);
                    }
                }
            }
        }
        .get-in-touch{
            p{
                font-size: 12px;
                line-height: 20px;
                a{
                    color: var(--bleu-de-france);
                }
                span{
                    color: var(--spanish-gray);
                }
            }
        }
    }
    .office-address-info,
    .customer-care {
        padding: 15px;
        p {
            font-size: $extra-large-font;
            font-weight: $font-normal;
            line-height: $medium-line-height;
            padding-bottom: 10px;
        }
        .international {
            background:  var(--white);
            border-radius: 11px;
            padding: 15px;
            margin-bottom: 15px;
            &:last-child {
                margin-bottom: 0;
            }
            span {
                background: var(--ghost-white);
                border-radius: $border-radius;
                color: var(--spanish-gray);
                font-size: $medium-font;
                font-weight: $font-bolder;
                line-height: $small-line-height;
                padding: 5px 10px;
                margin-bottom: 12px;
                display: inline-block;
            }
            h6 {
                color: var(--text-color);
                font-size: $extra-large-font;
                font-weight: $font-bold;
                line-height: $medium-line-height;
                padding-bottom: 5px;
            }
            p {
                font-size: $medium-font;
                color: var(--text-color);
                font-weight: $font-normal;
                line-height: $small-line-height;
            }
            .call-timings {
                padding: 8px 0;
            }
        }
    }
    .customer-care {
        padding: 0 15px 30px;
    }
}
