@import '../../scss/variables';
@import '../../scss/root';
@import '../../scss/layout/cards.scss';
// @import '../../scss/layout/grid.scss';

.contact-container {
    padding-bottom: 130px;
    .contact-text{
        background: var(--white);
        h2{
            color: var(--primary);
        }
        p{
            font-size:$large-font;
            padding-top: 5px;
            line-height: $medium-line-height;
        }
        .contact-desc{
            padding-top: 10px;
        }
    }
    .contact-img{
        padding-top: 15px;
        background: var(--white);
        img{
            width: 100%;
            display: block;
        }
    }
    .contact-info{
        padding: 15px 15px;
        .faq-wrap{
            border: 1px solid var(--ghost-white);
            background:  var(--white);
            border-radius: 11px;
            padding: 20px 7px;
            margin-bottom: 15px;
            border: 1px solid var(--platinum);
            &:last-child {
                margin-bottom: 0;
            }
            a{
                display: flex;
                align-items: center;
                .icons{
                    width: 10%;
                    font-size: $extra-large-2-font;
                }
                .contact-content{
                    width: 80%;
                    h3{
                        padding: 0;
                    }
                    .faq-txt{
                        font-size: $small-font;
                    }
                }
                .right-arrow{
                    margin-left: auto;
                    img{
                        width: 18px;
                        height: 18px;
                    }
                }
            }
        }
        .address-info{
            font-size: $medium-font;
            padding: 5px 0px 10px;
            font-weight: $font-bold;
        }
        .card{
            padding: 0;
            border: 1px solid var(--platinum);
            .international-office-info{
                padding: 15px;
                border-bottom: 1px solid var(--platinum);
                span {
                    background: var(--ghost-white);
                    border-radius: $border-radius-8;
                    color: var(--spanish-gray);
                    font-size: $medium-font;
                    font-weight: $font-bolder;
                    line-height: $small-line-height;
                    padding: 5px 10px;
                    margin-bottom: 12px;
                    display: inline-block;
                }
                p {
                    font-size: $medium-font;
                    color: var(--text-color);
                    font-weight: $font-bold;
                }
                .add-location{
                    font-weight: $font-normal;
                    padding-top: 5px;
                }
            }
        }
    }
    .customer-support{
        font-size: $small-font;
        line-height: $small-line-height;
        color: var(--onyx-black);
        padding: 0 15px;
    }
    .call-timing{
        font-size:  $small-font;
        text-align: center;
        padding: 5px 15px 0;
        color: var(--spanish-gray);
    }
    .fixed-whatsapp-cta{
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        background: #D3FBC1;
        border-top-left-radius:16px;
        border-top-right-radius:16px;
        border: .5px solid #ABE292;
        padding: 15px 6px 5px 6px;
        p{
            text-align: center;
            font-size: $extra-large-font;
            font-weight: $font-bold;
        }
        .whatsapp-btn{
            border: 0;
            height: 50px;
            width: 100%;
            color: var(--white);
            border: none;
            background-color: var(--slimy-green);
            border-radius: $border-radius-8;
            font-size: $large-font;
            font-weight: $font-bold;
            margin-top: 15px;
            .st-icon-whatsapp{
                font-size: $extra-large-2-font;
                margin-right: 4px;
                vertical-align: middle;
            }
        }
        .international {
            background:  var(--white);
            border-radius: 11px;
            padding: 15px;
            margin-bottom: 15px;
            &:last-child {
                margin-bottom: 0;
            }
            span {
                background: var(--ghost-white);
                border-radius: $border-radius-4;
                color: var(--spanish-gray);
                font-size: $medium-font;
                font-weight: $font-bolder;
                line-height: $small-line-height;
                padding: 5px 10px;
                margin-bottom: 12px;
                display: inline-block;
            }
            h6 {
                color: var(--text-color);
                font-size: $extra-large-font;
                font-weight: $font-bold;
                line-height: $medium-line-height;
                padding-bottom: 5px;
            }
            p {
                font-size: $medium-font;
                color: var(--text-color);
                font-weight: $font-normal;
                line-height: $small-line-height;
            }
            .call-timings {
                padding: 8px 0;
            }
           
        }
    }
}