<!--Recent View Start-->
<section *ngIf="prodList && prodList.length>0 && shortDescParsed" class="Recently-view card">
  <div class="clearfix container pad-tb-10">
    <h3 class="f-left">RECENTLY VIEWED</h3>
    <a (click)="openPopup=true;viewAllClicked()" class="btn-red f-right">View All</a>
  </div>
  <ul class="list view-products border-top">
    <li *ngFor="let item of prodList | slice : 0:4" (click)="goToProducturl(item.url);setCookieLink('Recently_Viewed',item.canonical_url)">
    
      <a  class="clearfix">
        <div class="product-img">
          <img  src="{{imagePath}}{{item.productImage}}">
        </div>
        <div class="product-description">
            <p class="description-txt">{{item.productName}}</p>
          <!--<p class="description-txt" *ngFor="let desc of item.shortDesc">{{desc.key}}:{{desc.value}}</p>-->
          <p class="price" *ngIf="!item.outOfStock">
            <span class="before-discount">{{item.priceMrp | currency: 'INR' : 'symbol' : '1.0-0'}}</span>
            <!-- <span class="discount" *ngIf="item.discount > 0">{{item.discount | mathCeil}}% OFF</span> -->
            <span class="discount" *ngIf='item.priceMrp>item.priceWithoutTax'> {{((item.priceMrp - item.priceWithoutTax)/item.priceMrp)*100 | mathFloor| number : '1.0-0'}}% OFF</span>
            <span class="after-discount">{{item.priceWithoutTax | currency: 'INR' : 'symbol' : '1.0-0'}}</span>
          </p>
          <div class='prod_detail pad-t-5 pad-lr-10' *ngIf="item.outOfStock">
            <span class='f-size-13 text-darkgrey text-400 text-left' style="width: 100% !important;">
                Available on request
            </span>
          </div>
          <p class="seller"><span>By :</span> {{item.brandName}}</p>
        </div>
      </a>
    </li>
  </ul>
</section>
<app-pop-up *ngIf="openPopup" (outData$)="outData($event)" class="bs-popup" [data]="{closeClass:'icon-back f-left',paraClass:'f-left page-name f-16',class: 'payment-popup',selector:'openPopup',headerText:'Recently viewed'}">
  
  <div class="content-popup card-30" content>
      <!-- <p class="pad-10 f-14 bold-txt upper-case">{{categoryNameFromHomePage}}</p> -->
      <ul class="view-products list no-border" [class.border-top]="categoryNameFromHomePage !== ''">
          <li *ngFor="let item of prodList" (click)="goToProducturl(item.url)">
              <a  class="clearfix">
                  <div class="product-img">
                      <img [defaultImage]="defaultImage" lazyLoad="{{imagePath}}{{item.productImage}}" alt="product Image">
                  </div>
                  <div class="product-description">
                      <p class="description-txt">{{item.productName}}</p>
                    <!--<p class="description-txt" *ngFor="let desc of item.shortDesc">{{desc.key}}:{{desc.value}}</p>-->
                    <p class="price" *ngIf="!item.outOfStock">
                      <span class="before-discount">{{item.priceMrp | currency: 'INR' : 'symbol' : '1.0-0'}}</span>
                      <!-- <span class="discount" *ngIf="item.discount">{{item.discount | mathCeil}}% OFF</span> -->
                      <span class="discount" *ngIf='item.priceMrp>item.priceWithoutTax'> {{((item.priceMrp - item.priceWithoutTax)/item.priceMrp)*100 | mathFloor| number : '1.0-0'}}% OFF</span>

                      <span class="after-discount">{{item.priceWithoutTax | currency: 'INR' : 'symbol' : '1.0-0'}}</span>
                    </p>
                    <div class='prod_detail pad-t-5 pad-lr-10' *ngIf="item.outOfStock">
                      <span class='f-size-13 text-darkgrey text-400 text-left' style="width: 100% !important;">
                          Available on request
                      </span>
                    </div>
                    <p class="seller"><span>By :</span> {{item.brandName}}</p>
                  </div>
              </a>
          </li>
      </ul>


  </div>
</app-pop-up>
<!--Recent View End-->