<section *ngIf="isRecentDataLoaded && (recentlyViewedProducts && recentlyViewedProducts.length>1)"
  class="recently-view">
  <div class="view-all-strip">
    <h2>RECENTLY VIEWED</h2>
  </div>
  <product-card-vertical-container [numberOfItems]="recentlyViewedProducts.length || 0">
    <ng-container *ngFor="let product of recentlyViewedProducts">
      <product-card-vertical-grid-view [moduleUsedIn]="'HOME_RECENT'"  [product]="product"> </product-card-vertical-grid-view >
    </ng-container>
  </product-card-vertical-container>
</section>