@import '../../scss/variables';
.custom-cbox {
    padding: 10px;
}
.recently-view{
    padding-left:15px;
    margin-bottom:10px;
    .view-all-strip{
        @extend %view-all-strip;
        padding-bottom:10px;
        padding-top:10px;
    }
}