<app-pop-up (outData$)="outData($event)" [data]="{headerText: 'REVIEW & RATING', selector:'openReviewPopup'}">
    <div class="content-popup submit-review"   content>
        <div class="pwa-row">
            <div class="pwa-col-12">
                <p class="product-name">
                    {{productInfo.productName}}
                </p>
                <p class="rate_review-product">Rate your product:</p>
            </div>
            <div class="pwa-col-12 stars-block">
                <i *ngFor="let star of [1,2,3,4,5];let i=index;" (click)="ratingValue=star;" [ngClass]="{'with-rating': ratingValue>=star, 'without-rating': ratingValue < star}" class="star icon-rating-star"></i>
            </div>
            <div class="pwa-col-12">
                <p class="rate_review-product">Write your review :</p>
            </div>
            <form class="pwa-col-12 material-form material-form-boxed" [formGroup]="reviewForm">
                <div class="input-field-boxed">
                    <label class="max-char">(Maximum 100 characters)</label>
                    <input type="text" formControlName="review_subject" maxlength="100" #title placeholder="Title">
                </div>
                <div class="input-field">
                    <label>
                        <label class="max-char">(Maximum 600 characters)</label>
                        <textarea class="message-field" type="text" formControlName="review_text" maxlength="600" #review placeholder="Your thoughts (Optional)"></textarea>
                    </label>
                </div>
            </form>
            <button class="btn submit-btn popup-bottom" [ngClass]="{'active':reviewForm.valid && ratingValue > 0}" (click)="postReview();">SUBMIT</button>
        </div>
    </div>
</app-pop-up>