@import '../../../scss/variables';
@import '../../../scss/layout/cards.scss';

.no-item-section{
    padding: 0 15px;
    .card{
        border: none;
        padding: 25px 25px 15px;
        margin-bottom: 10px;
        .emptycart-section{
            text-align: center;
            img{
                width: 103px;
            }
            .noitems-txt{
                font-size: $extra-large-font;
                font-weight: $font-bold;
                color: var(--light-black);
                margin-top: 15px;
            }
            button{
                width: 100%;
                margin-top: 20px;
            }
            .small-txt{
                font-size: $small-font;
                color: var(--light-black);
                margin-top: 5px;
            }
        }
    }
}