<div class="no-item-section ">
    <div class="card br-0 mar-lr-m-15">
        <div class="emptycart-section">
            <!-- <div class="sachin">
                <img src="../../../../assets/img/empty-car-img.svg">
            </div> -->
            <div class="emptycart-animation">
                <img src="assets/img/empty-cart-img.svg" alt="empty cart">
                <!-- <lottie-player src="../../../../assets/json/empty-cart.json" background="transparent" speed="1"
                     loop autoplay></lottie-player> -->
            </div>
           
            <p class="noitems-txt">Your cart is currently empty!</p>
            <p class="add-item-txt mt-5">Add your favourite product to proceed</p>
            <!-- <ng-container *ngIf="!isLoggedIn">
                <button class="btn secondry-btn" (click)="$event.stopPropagation();navigateToLogin()">LOGIN NOW</button>
                <p class="small-txt">To see the items you added previously</p>
            </ng-container> -->
            <ng-container *ngIf="!isLoggedIn">
                <button class="btn secondry-btn" (click)="$event.stopPropagation();navigateToLogin()">LOGIN NOW</button>
                <p class="small-txt">To see the items you added previously</p>
            </ng-container>
            <button class="btn" [ngClass]="!isLoggedIn ? 'secondry-btn-1':'secondry-btn'" (click)="continueToShopping()">CONTINUE SHOPPING</button>
        </div>
    </div>
    <!-- <img class="w-100 mt-5 mb-10" src="assets/img/search-for-product.svg" alt=""> -->
    <trending-categories [tocd]="'Trending Categories'" [flyOutData]="flyOutData"></trending-categories>
</div>