<div class="no-item-section ">
    <div class="card">
        <div class="emptycart-section">
            <img src="../../../../assets/img/empty_cart.png" width="103px">
            <p class="noitems-txt">No items in your cart</p>
            <ng-container *ngIf="!isLoggedIn">
                <button class="btn secondry-btn" (click)="$event.stopPropagation();navigateToLogin()">LOGIN NOW</button>
                <p class="small-txt">To see the items you added previously</p>
            </ng-container>
            <button class="btn secondry-btn-1" [routerLink]="['/']">CONTINUE SHOPPING</button>
        </div>
    </div>
    <trending-categories [tocd]="'Trending Categories'" [flyOutData]="flyOutData"></trending-categories>
</div>