@import '../../../scss/variables';
@import '../../../scss/layout/cards.scss';

.no-item-section{
    padding: 0 15px;
    margin-top: -10px;
    .card{
        border: none;
        padding: 30px 35px;
        margin-bottom: 10px;
        .emptycart-section{
            text-align: center;
            img{
                width: 250px;
            }
            .noitems-txt{
                font-size: $extra-large-font;
                font-weight: $font-bold;
                line-height: 21px;
                color: var(--dim-gray);
                margin-top: 35px;
            }
            .add-item-txt{
                font-size: $large-font;
                line-height: 19px;
                color: var(--dim-gray);

            }
            button{
                width: 100%;
                margin-top: 30px;
            }
            .small-txt{
                font-size: $medium-font;
                line-height: $small-line-height;
                color: var(--dim-gray);
                margin-top: 5px;
            }
        }
    }
}
.emptycart-animation{
    height: 200px;
    width: 100%;
    img{
        width: 100px;
    }
}
.dark-btn{
    background-color: var(--primary) !important;
    color: var(--white) !important;
}
::ng-deep{
    .category-grid-card{
        background-color: var(--white) !important;
        border: 1px solid var(--ghost-white) !important;
    }
}