<!-- <div class="noitem mb-60">
    <div class="emptycart">
        <img src="{{imagePath}}web/dist/assets/img/empty_cart.svg">
    </div>
    <div class="catlink">
        <ul class="categories-list">
            <li [routerLink]="['/electricals/211000000']">
                <i class="icon-electricals"></i>
                <span>Electricals</span>
            </li>
            <li [routerLink]="['/hand-tools/112000000']">
                <i class="icon-hand-tool"></i>
                <span>Hand Tools</span>
            </li>

            <li [routerLink]="['/safety-and-security/116000000']">
                <i class="icon-safety"></i>
                <span>Safety</span>
            </li>
            <li [routerLink]="['/security/120000000']">
                <i class="icon-security"></i>
                <span>Security</span>
            </li>
            <li [routerLink]="['/power-tools/114000000']">
                <i class="icon-power-tool"></i>
                <span>Power Tools</span>
            </li>
            <li [routerLink]="['/all-categories']">
                <i class="icon-all-category"></i>
                <span>more</span>
            </li>
        </ul>
    </div>
    <button class="continue-btn white-btn" [routerLink]="['/']">CONTINUE SHOPPING</button>
</div> -->

<div class="no-item-section ">
<div class="card">
    <div class="emptycart-section">
        <img src="../../../../assets/img/empty_cart.png" width="103px">
        <p class="noitems-txt">No items in your cart</p>
        <button class="btn secondry-btn">SIGN IN NOW</button>
        <p class="small-txt">To see the items you added previously</p>
        <button class="btn secondry-btn-1">CONTINUE SHOPPING</button>
    </div>
</div>
</div>