<div class="prod-carsl" addClass [class.hasOneImage]="productAllImages?.length === 1"
    [ngClass]="[carouselInitialized ? '' : 'before-init']">
    <div class="floating-cta-strip">
        <span class="fixed_ico" (click)="loadProductshare()"><i class="icon-product_share"></i></span>
        <span class="fixed_ico wishlist" [class.active]="isPurcahseListProduct" (click)="addToPurchaselist()">
            <i [ngClass]="isPurcahseListProduct ? 'icon-wishlist1-active' : 'icon-wishlist1-inactive'"></i>
        </span>
        <span *ngIf="productOutOfStock  && productService.oosSimilarProductsData.similarData.length > 2"
            (click)="scrollToid(!productOutOfStock ? 'similarProducts' : 'similarProductsOos')"
            class="fixed_ico fixed_ico-img"><img src="{{imagePathAsset}}assets/img/similar-ico.svg">
        </span>
    </div>
    <ng-container #productCrousel></ng-container>
    <div class="prod-carsl-pseudo" (click)="openPopUpCrousel(0)" swipe (next)="onRotatenext()" #productCrouselPseudo
        (previous)="onRotateprevious()">
        <div class="oos-tag" *ngIf="productOutOfStock">
            <span>
                AVAILABLE ON REQUEST
            </span>
        </div>
        <div class="img-block-pseudo">
            <div class="inner-block-pseudo">
                <div class="pinch-zoom element-pseudo" (click)="sendProductImageClicktracking()"
                    style="transform-origin: 0% 0%;">
                    <img *ngIf="!isProductCrouselLoaded" src="{{productAllImages[0]['large'] }}" height="330"
                        width="330" alt="{{productName}}">
                    <img *ngIf="isProductCrouselLoaded" src="{{imagePathAsset}}assets/img/loader_new.gif"
                        class="loader-image" />
                </div>
            </div>
            <ul class="pager">
                <ng-container
                    *ngIf="!isProductCrouselLoaded && !productCrouselInstance && iOptions?.pager && productAllImages?.length>1">
                    <ng-container *ngFor="let item of productAllImages;let i=index">
                        <li *ngIf="item['contentType'] == 'IMAGE'" class="pager_dot" (click)="loadProductcrousel(i)"
                            [ngClass]="{'active': ( i==0 && !isProductCrouselLoaded ) || ( i==1 && isProductCrouselLoaded) }">
                        </li>
                        <li *ngIf="item['contentType'] == 'YOUTUBE_VIDEO'" (click)="loadProductcrousel(i)"
                            class="pager_icon_dot">
                            <em class="icon-youtube"></em>
                        </li>
                    </ng-container>
                </ng-container>
            </ul>
        </div>
    </div>
    <ng-container *ngIf="productTags != undefined && !this.productOutOfStock">

        <div class="image_tag">
            <div class="tag_container"
                *ngFor="let tag of productTags | arrayFilterPipe : 'type': 'image': 'object' | slice:0:1;let i = index;">
                <img src="{{tag.imageUrl}}">
            </div>
        </div>
    </ng-container>
</div>