@import "./../../scss/variables";
.order-container {
  padding-bottom: 33px;
  .card-30 {
    p {
      width: 100%;
    }
    .order-detail {
      text-align: left;
      ul {
        li {
          padding-left: 14px;
          position: relative;
          &::before {
            content: "-";
            position: absolute;
            left: -1px;
          }
        }
      }
    }
    .main-img {
      width: 120px;
      margin: auto;
    }
  }
  .continue-button p {
    line-height: $ml-line-height;
    margin: 10px 0 0 20px;
  }
}
