<app-bottom-menu *ngIf="bm" (outData$)="onUpdate($event)">
    <div class="rbi-bottom-popup" content>
        <div class="pdp-section-header">
            <h3 class="heading-3"> RBI guidelines details
                <i (click)="resetBottomOpt()" class="icon-circle-delete del-ico" style="float: right;"></i>
            </h3>
        </div>
        <div class="rbi-guidlines-txt">
            <h4>1. What are the updated RBI (Reserve Bank of India) regulations?</h4>
            <p>The new RBI regulations prohibit retailers from saving consumer credit or debit card information as of October 1, 2022. Customers must submit all necessary card information for every card payment.</p>
            <h4>2. How can I stop having to enter my credit card information each time I pay?</h4>
            <p>Customers can give Moglix permission to tokenize (encrypt) and save their card in accordance with the new RBI regulations. This indicates that Moglix requests further authentication and encryption of your card information from your card network. Instead, then receiving your actual card data, Moglix receives encrypted information that will be retained and used in subsequent transactions.</p>
            <h4>3. How can I give my permission for the card to be saved?</h4>
            <p>You will notice a checkbox asking for your consent when you add a new card or choose a saved card to make a purchase. Simply check the box, then proceed to pay with that card. Once the payment has been made, your consent will be effectively obtained. </p>
            <h4>4. How will I know which of my cards are not being saved in accordance with the new rules? </h4>
            <p>To identify the cards that are not stored in accordance with the new requirements, you will notice a badge that reads Card not saved yet on the payment page till 30th September 2022.</p>
            <h4>5. Do I have to give my permission for each card separately? </h4>
            <p>Yes, you must give permission to save each card separately and Cards will be saved post Transaction with the untokenized Card, as per RBI regulations.</p>
            <h4>6. Which of my cards can be saved in accordance with the new RBI regulations? </h4>
            <p>All credit and debit cards can be secured with your permission.</p>
            <h4>7. What will happen to the cards I have already added?</h4>
            <p>You can provide permission for all your saved cards to be encrypted before September 30, 2022. This will guarantee that you may place orders and make payments in the same effortless manner as before. Cards that we do not receive your approval for by September 30, 2022, will be withdrawn, and you will be required to provide all necessary card information to complete each transaction. To make things easier for you, we also provide you with the choice to give permission and store your cards for the future.</p>
            <h4>8. Another friend's or relative's Moglix account also has my card on file, do they also have to re-save the card in accordance with RBI regulations?</h4>
            <p>Yes, each consumer must save their card separately on each Moglix account.</p>
            <h4>9. Is there a limit on the number of accounts in which one card can be saved? </h4>
            <p>Only cards issued in India are subject to the new RBI regulations for debit and credit cards. Cards issued outside of India and the Bajaj Finserve EMI card (BFL card) are unaffected, so you may continue to save money and use them as usual.</p>
            <h4>10. Will I be asked for permission to conduct transactions in-person or over the phone? </h4>
            <p>No, only online/e-commerce transactions are covered by the new RBI regulations.</p>
            <h4>11. Are there any fees associated with saving my card? </h4>
            <p>No fee is required to save your card. </p>
            <h4>12. Is it necessary to save my card or cards? </h4>
            <p>You have the option of saving your cards or not. However, doing so will ensure that your purchase and payment experiences are as frictionless as they were before, so we strongly advise you to do so. According to RBI norms, cards that are not saved by September 30, 2022, would be erased.</p>
                <p>Terms and conditions apply.</p>
        </div>
    </div>
</app-bottom-menu>