<div class="model-view-css-fix" style="text-align: center; margin: auto;padding: 10px;">
    <!-- HIGH DEFINITION PRE LOADER -->
    <div id="hd-loading" style="text-align: center;" class="hd-loading"> HighDefinition Loading :
        <span
    id="loadingval">0</span>%</div>
    <!-- HIGH DEFINITION PRE LOADER ENDS -->

    <!-- 3D Viewer -->
    <div id='model'>
    </div>
    
    <!-- 360 Viewer -->
    <div id="product360" class="turntable">
        <ul id="product360ul">
        </ul>
    </div>
    <!-- 360 Viewer ENDS -->
</div>