<div class="RTO-wrap">
    <div class="cancellation-feedback-wrap">
        <div class="cancellation-head">
            <div class="text">
                <h1>Cancellation Feedback</h1>
                <p>Please share your feedback to help us serve you better</p>
            </div>
            <div class="image">
                <img src="assets/img/rto-feedback.png">
            </div>
        </div>
        <div class="order-id">
            <p>For your Order ID : <strong>ID 593GSGA7733</strong> with product</p>

            <div class="product-details">
                <span class="image"> <img src="assets/img/chair.png" class="chair"></span>
                <span class="text">
                    <p>Allen Cooper AC-1156 Antistatic Steel Toe Allen Cooper<br> Steel Toe Cooper AC-1156 Antistatic
                        Steel Toe …
                    </p>
                    <strong>Qty: 2</strong>
                </span>
            </div>
        </div>
    </div>
    <div class="cancel-order-radio">
        <p>Q1. Did you cancel the order ? *</p>
        <form [formGroup]="canelOrder">
            <span>
                <input type="radio" id="yes" name="cancel order" value="yes" formControlName="value">
                <label for="yes">YES</label><br>
            </span>
            <span>
                <input type="radio" id="no" name="cancel order" value="no" formControlName="value">
                <label for="no">NO</label>
            </span>
        </form>
    </div>
    <div class="cancel-order-radio">
        <p>Q2. Was the delivery attempted ? </p>
        <form [formGroup]="deliveryAttempted">
            <span>
                <input type="radio" id="1" name="delivery attempted" value="yes" formControlName="value">
                <label for="1">YES</label><br>
            </span>
            <span>
                <input type="radio" id="2" name="delivery attempted" value="no" formControlName="value">
                <label for="2">NO</label>
            </span>
        </form>
    </div>
    <div class="cancel-order-radio">
        <p>Q3. Did the delivery executive call you? </p>
        <form [formGroup]="executiveCall">
            <span>
                <input type="radio" id="3" name="delivery executive" value="yes" formControlName="value">
                <label for="3">YES</label><br>
            </span>
            <span>
                <input type="radio" id="4" name="delivery executive" value="no" formControlName="value">
                <label for="4">NO</label>
            </span>
        </form>

    </div>
    <div class="cancel-order-radio">
        <p>Q4. Why did you cancel ? *</p>
        <form>
            <div class="form-group">
                <input type="checkbox" id="Purchased" checked>
                <label for="Purchased">Purchased from somewhere else</label>
            </div>
            <div class="form-group">
                <input type="checkbox" id="delivery">
                <label for="delivery">Delivery took longer than expected</label>
            </div>
            <div class="form-group">
                <input type="checkbox" id="duplicate">
                <label for="duplicate">Duplicate order</label>
            </div>
            <div class="form-group">
                <input type="checkbox" id="cod">
                <label for="cod">COD order amount not ready</label>
            </div>
            <div class="form-group">
                <input type="checkbox" id="previous">
                <label for="previous">Previous bad experience with Moglix</label>
            </div>
            <div class="form-group">
                <input type="checkbox" id="others">
                <label for="others">Others</label>
                <textarea name="Add comment" id="comment" cols="60" rows="0">Add comment</textarea>
            </div>
        </form>
    </div>
    <div class="cancel-order-radio">
        <p>Q5. Any other details you would like to share with us..</p>
        <textarea name="Add comment" id="comment" cols="100" rows="5">Add comment</textarea>
    </div>
    <button class="submit" (click)="$event.stopPropagation();submitFeedback()">
        SUBMIT SURVEY
    </button>
</div>

<!--thank you page-->
<div class="thank-you-wrap">
    <img src="assets/img/thank_you.png" class="thankyou">
    <p>Thank you for submitting your feedback!</p>
    <button class="shop">CONTINUE Shopping</button>
</div>