<div class="promoted-brand-container mb-10">
    <h1>Printer Brands</h1>
    <div class="promoted-brand-outer-section">
        <div class="promoted-brand-inner-section">
            <img src="../../../assets/img/banner_3.png">
            <p class="brand-name">Samsung Printers</p>
            <p class="explore-btn">EXPLORE NOW</p>
        </div>
        <div class="promoted-brand-inner-section">
            <img src="../../../assets/img/banner_3.png">
            <p class="brand-name">Samsung Printers</p>
            <p class="explore-btn">EXPLORE NOW</p>
        </div>
        <div class="promoted-brand-inner-section">
            <img src="../../../assets/img/banner_3.png">
            <p class="brand-name">Samsung Printers</p>
            <p class="explore-btn">EXPLORE NOW</p>
        </div>
        <div class="promoted-brand-inner-section">
            <img src="../../../assets/img/banner_3.png">
            <p class="brand-name">Samsung Printers</p>
            <p class="explore-btn">EXPLORE NOW</p>
        </div>
        <div class="promoted-brand-inner-section">
            <img src="../../../assets/img/banner_3.png">
            <p class="brand-name">Samsung Printers</p>
            <p class="explore-btn">EXPLORE NOW</p>
        </div>
    </div>
</div>

