<header class="inner-pages inner-pages-for-listing" *ngIf="!extraData.hideHeader">
    <div class="main-header" [ngSwitch]="activeModuleName">
        <ng-container *ngSwitchCase="MODULE_NAME.HOME">
            <ng-container *ngIf="!_commonService.isScrolledHeader">
                <home-expanded-header (loadSideNav$)="loadSideNav()" (navigateToLogin$)="navigateToLogin($event)"
                    (loadSearchNav$)="loadSearchNav()" (goBack$)="goBack()" [noOfCart]="noOfCart"
                    [isUserLogin]="isUserLogin" [imgAssetPath]="imgAssetPath"
                    [enableBackBtn]="(!_commonService.isHomeHeader || _commonService.isPLPHeader) && (routerData && !routerData['menuBar'])">
                </home-expanded-header>
            </ng-container>
            <ng-container *ngIf="_commonService.isScrolledHeader">
                <home-fixed-header [noOfCart]="noOfCart" (loadSearchNav$)="loadSearchNav()"
                    (loadSideNav$)="loadSideNav()">
                </home-fixed-header>
            </ng-container>
        </ng-container>

        <ng-container *ngSwitchCase="MODULE_NAME.PRODUCT_LISTING_PAGE">
            <ng-container *ngIf="!_commonService.isScrolledHeader">
                <home-expanded-header (loadSideNav$)="loadSideNav()" (navigateToLogin$)="navigateToLogin($event)"
                    (loadSearchNav$)="loadSearchNav()" (goBack$)="goBack()" [noOfCart]="noOfCart"
                    [isUserLogin]="isUserLogin" [imgAssetPath]="imgAssetPath"
                    [enableBackBtn]="(!_commonService.isHomeHeader || _commonService.isPLPHeader) && (routerData && !routerData['menuBar'])">
                </home-expanded-header>
            </ng-container>
            <ng-container *ngIf="_commonService.isScrolledHeader">
                <plp-fixed-header [noOfCart]="noOfCart" (goBack$)="goBack()" (loadBottomSheet$)="loadBottomSheet()"
                    (loadSearchNav$)="loadSearchNav()">
                </plp-fixed-header>
            </ng-container>
        </ng-container>
        <ng-container *ngSwitchCase="MODULE_NAME.CART">
            <ng-container *ngTemplateOutlet="cartheader"></ng-container>
        </ng-container>
        <ng-container *ngSwitchCase="MODULE_NAME.QUICKORDER">
            <ng-container *ngTemplateOutlet="cartheader"></ng-container>
        </ng-container>
        <ng-container *ngSwitchCase="MODULE_NAME.DASHBOARD">
            <ng-container *ngTemplateOutlet="dashboardheader"></ng-container>
        </ng-container>
        <ng-container *ngSwitchCase="MODULE_NAME.ORDER_FAILURE">
            <ng-container *ngTemplateOutlet="dashboardheader"></ng-container>
        </ng-container>
        <ng-container *ngSwitchDefault>
            <plp-fixed-header [noOfCart]="noOfCart" (goBack$)="goBack()" (loadBottomSheet$)="loadBottomSheet()"
                (loadSearchNav$)="loadSearchNav()">
            </plp-fixed-header>
        </ng-container>
    </div>
</header>

<!-- sideMenu component is loaded on demand  -->
<ng-container #sideMenu></ng-container>
<ng-container #bottomSheet></ng-container>
<ng-container #searchBar></ng-container>

<ng-template #cartheader>
    <cart-header (loadSideNav$)="loadSideNav()" [title]="routerData['title']"
        (navigateToLogin$)="navigateToLogin($event)" (loadSearchNav$)="loadSearchNav()" (goBack$)="goBack()"
        [noOfCart]="noOfCart" [imgAssetPath]="imgAssetPath">
    </cart-header>
</ng-template>
<ng-template #dashboardheader>
    <dashboard-header (loadSideNav$)="loadSideNav()" [title]="routerData['title']" (loadBottomSheet$)="loadBottomSheet()"
        (navigateToLogin$)="navigateToLogin($event)" (loadSearchNav$)="loadSearchNav()" (goBack$)="goBack()"
        [noOfCart]="noOfCart" [imgAssetPath]="imgAssetPath">
    </dashboard-header>
</ng-template>

<!-- When Home page Header is scrolled , header varient 3 -->