@import "../../scss/variables";
header {
    &.inner-pages {
        @extend %box-shadow;
        border-bottom: 1px solid var(--ghost-white);
        position: fixed;
        top: 0;
        width: 100vw;
        z-index: 6;
    }
    .main-header {
        background: var(--white);
    }
}

