@import "../../scss/variables";
header {
    &.inner-pages {
        @extend %box-shadow;
        position: fixed;
        top: 0;
        width: 100vw;
        z-index: 6;
    }
    .main-header {
        background: $logo-color;
        // start header varient 1
        .header-varient-1 {
            display: flex;
            justify-content: space-between;
            width: 96%;
            margin: auto;
            min-height: 52px;
            .icon-back {
                font-size: 20px;
                color: $white-color;
                margin-right: 10px;
            }
            .head-d-flex-inner {
                display: flex;
                align-items: center;
                flex-grow: 1;
                &:last-child {
                    justify-content: flex-end;
                }
                .icon-menu {
                    font-size: 15px;
                    padding: 0px 20px 0 0;
                    color: $white-color;
                    margin-top: -5px;
                }
            }
        }
        // header varient-2
        .header-varient-2 {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            width: 100%;
            flex-grow: 1;
            padding: 0px 10px;
            align-items: center;
            & > * {
                padding: 12px 0px;
                vertical-align: middle;
                display: flex;
                justify-content: center;
                position: relative;
                font-size: 18px;
                color: $white;
            }
            .page-name {
                width: 70%;
                justify-content: flex-start;
                font-size: $extra-large-font;
            }
            .moglix-app-logo {
                i {
                    font-size: 24px;
                }
            }
            .search-bar-mini {
                position: relative;
                width: 58%;
                input {
                    background: #fff;
                    border: none;
                    font-size: 13px !important;
                    color: #898989;
                    font-weight: 400;
                    height: 30px;
                    width: 100%;
                    padding: 0px 5px 0 30px;
                    border-radius: 3px;
                }
                i {
                    color: #303030 !important;
                    font-size: 15px;
                    position: absolute;
                    z-index: 1;
                    left: 8px;
                    top: 20px;
                    border-radius: 6px 0 0 6px;
                }
            }
        }
        // header varient 3
        .scrolledHeader {
            max-width: 96%;
            margin: auto;
            height: 54px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            a {
                color: $white;
                text-align: center;
                &.search-bar {
                    width: 80%;
                    margin: 2px 0px 2px 10px;
                }
                &.header-icon {
                    &.icon-menu {
                        font-size: 15px;
                    }
                }
            }
        }
        // Common Search Bar
        .search-bar {
            margin: 10px;
            position: relative;
            @include placeholder {
                color: $place-holder-color;
                font-size: 16px;
            }
            .search-bar-input {
                height: 40px;
                width: 100%;
                border: 0;
                padding: 0 25px 0 40px;
                background: #fff;
                letter-spacing: -0.2px;
                display: inline-block;
                vertical-align: middle;
                border-radius: 3px;
                background-color: #fff;
                line-height: 40px;
            }
            &:after {
                content: "\e972";
                font-family: "icomooon_pwa";
                position: absolute;
                left: 10px;
                top: 10px;
                color: #303030;
                font-size: 18px;
            }
        }

        .logo-2x {
            width: 64px;
            height: 22px;
        }
        .icon-cart1 {
            font-size: 22px;
            position: relative;
            padding: 10px 5px;
            min-width: 40px !important;
            .badge {
                position: absolute;
                top: 2px !important;
                right: 0px;
                width: 18px;
                height: 18px;
                text-align: center;
                line-height: 18px;
                border-radius: 50%;
                color: $logo-color;
                background: $white;
                font-size: 11px;
                font-family: "Roboto", sans-serif;
            }
        }
    }
}
