<header class="inner-pages">
    <div class="style-1">
        <div *ngIf="isHomePage && !isScrolledHeader" class="head-strip container">
            <div class="f-left logo-container">
                <i *ngIf="isHomePage || (routerData && routerData['menuBar'])" class="icon-menu" id="icon-menu" (click)="loadSideNav()"></i>
                <i *ngIf="!isHomePage && (routerData && !routerData['menuBar'])" (click)="goBack()" class="icon-back" id="icon-back"></i>
                <a [routerLink]="['/']" class="icon-logo" *ngIf="(routerData && routerData['logo']) && isHomePage"></a>
                <a *ngIf="!isHomePage && !(routerData && routerData['title'])" class="moglix-app-logo" [routerLink]="['/']" >
                    <img src="{{imgAssetPath}}assets/img/moglix-logo.svg">
                </a>
            </div>
            <div class="f-right head-icons" [ngClass]="{'home-icons': isHomePage}" *ngIf="hideElLogin">
                <a [routerLink]="['/login']" *ngIf="isHomePage && (isUserLogin == 'false' || !isUserLogin )" class="f-size-16 login-txt text-500">Login</a>
                <a [routerLink]="['/deals']" *ngIf="isHomePage" class="icon-home-deal red-txt"></a>
                <!-- <a *ngIf="!isHomePage" (click)="loadSearchNav()" class="icon-search red-txt"></a> -->
                <div class="search-bar" *ngIf="!isHomePage">
                    <i class="icon-search"></i>
                    <input type="text" placeholder="Search Product/Category" (click)="loadSearchNav()">
                </div>
                <a [routerLink]="['/quickorder']" class="icon-cart-header">
                    <span class="badge" *ngIf="noOfCart != 0">{{noOfCart}}</span>
                </a>
                <a *ngIf="!isHomePage && (routerData && !routerData['menuBar'])" (click)="loadBottomSheet()" class="icon-dot"></a>
            </div>
        </div>
        <div *ngIf="isHomePage && !isScrolledHeader" class="search-bar search-bar-custom">
            <input class="search-bar-input" type="text" autocomplete="off" (click)="loadSearchNav();" placeholder="Search Product/Category">
        </div>
        <!--Category Header-->
        <div class="common-category-header container">
            <i *ngIf="!isHomePage && router.url.includes('dashboard/') || routerData['title'] == 'Feedback'" class="icon-menu" id="icon-menu" (click)="loadSideNav()"></i>
            <i *ngIf="!isHomePage && (routerData && !routerData['menuBar']) && !router.url.includes('dashboard/')" [ngClass]="{'login-back-icon': (routerData && routerData['title'])}" (click)="goBack()" class="icon-back" id="icon-back"></i>
            <span class="page-name f-16" *ngIf="(routerData && routerData['title'])">{{ routerData['title'] }} {{cartHeaderText}}</span>
            <a *ngIf="!isHomePage && !(routerData && routerData['title'])" class="moglix-app-logo" [routerLink]="['/']">
                <img src="{{imgAssetPath}}assets/img/moglix-logo.svg">
            </a>
            <a class="search-bar-mini" *ngIf="!isHomePage && !isLoginPage && !(routerData && routerData['title'])">
                <i class="icon-search"></i>
                <input type="text" placeholder="Search Product/Category" (click)="loadSearchNav()">
            </a>
            <a *ngIf="!isHomePage  && !isLoginPage && (routerData && routerData['title'])" (click)="loadSearchNav()" class="icon-search red-txt"></a>
            <a *ngIf="!isHomePage && !isLoginPage" [routerLink]="['/quickorder']" class="icon-cart-header">
                <span class="badge" *ngIf="noOfCart != 0">{{noOfCart}}</span>
            </a>
            <a *ngIf="!isHomePage && (routerData && !routerData['menuBar']) && !isLoginPage" (click)="loadBottomSheet()" class="icon-dot"></a>
        </div>
        <!-- When Home page Header is scrolled -->
        <div class="scrolledHeader" *ngIf="isHomePage && isScrolledHeader" [ngClass]="{'headerFixed': isScrolledHeader}">
            <a *ngIf="isHomePage && isScrolledHeader" class="icon-menu header-icon" id="icon-menu" (click)="loadSideNav()"></a>
            <a class="search-bar">
                <input class="search-bar-input" type="text" autocomplete="off" (click)="loadSearchNav();" placeholder="Search Product/Category">
            </a>
            <a *ngIf="isHomePage && isScrolledHeader" [routerLink]="['/quickorder']" class="icon-cart-header header-icon">
                <span class="badge" *ngIf="noOfCart != 0">{{noOfCart}}</span>
            </a>
        </div>
        <ng-container #searchBar></ng-container>
        <!--Search Popup-->
    </div>
</header>

<!-- sideMenu component is loaded on demand  -->
<ng-container #sideMenu></ng-container>
<ng-container #bottomSheet></ng-container>