<div *ngIf="noOfCart>0">
    <div class="apply-promo no-border">
        <app-promo-apply (updateCartSession$)="updateCartSession($event)" (outData$)="outData($event)" [iData]="pad"></app-promo-apply>
        <p class="open-offers" (click)="openOfferPopUp()">VIEW ALL OFFERS</p>
    </div>

    <app-promo-offer *ngIf="vof" [iData]="{pcd: {text: pad?.text, isApplied: pad['isApplied']}}" (closePopup$)="closePopup()" (outData$)="outData($event)" (updateCartSession$)="updateCartSession($event)"></app-promo-offer>

    <div class="order-summary no-border" id="payment_summary">
        <h3>Payment Summary</h3>
        <ul class="txt-list">
            <li class="border">
                <span class="tag-label">Total Amount</span>
                <span class="tag-value">₹ {{cartSession.cart.tawot | mathFloor | number : '1.2-2'}}</span>
                <br>
            </li>

            <li>
                <span class="tag-label">Total GST</span>
                <span class="tag-value">₹ {{cartSession.cart.tpt | mathFloor | number : '1.2-2'}}</span>
            </li>

            <li>
                <span class="tag-label">Total Shipping</span>
                <span class="tag-value">₹ {{shippingCharges | mathFloor | number :'1.2-2'}}</span>
            </li>
            <li>
                <span class="tag-label">Total Coupon Discount</span>
                <span class="tag-value green-txt" *ngIf="cartSession.cart.totalOffer!==0 && cartSession.cart.totalOffer!==null">-₹
            {{cartSession.cart.totalOffer | mathFloor | number : '1.2-2'}}</span>
                <span class="tag-value green-txt" *ngIf="cartSession.cart.totalOffer==0 || cartSession.cart.totalOffer==null">₹ 0.00</span>
            </li>
            <li class="bold-txt">
                <span class="tag-label">Total Price</span>
                <span class="tag-value">₹ {{cartSession.cart.totalAmount + shippingCharges - cartSession.cart.totalOffer |
            mathCeil | number : '1.2-2'}}</span>
            </li>
        </ul>

    </div>
</div>