// Toggle
.toggle-panel {
    width: 100%;

    &.about_moglix {
        .toggle-head {
            background: var(--white);
            border: 0;
        }

        .toggle-content {
            margin: 0;
            border: 0;
        }
    }

    .toggle-head {
        border: solid var(--platinum);
        border-width: 1px 0 1px 0;
        padding: 15px 10px;
        background: var(--platinum);
        @extend %clear-fix;

        p {
            font-weight: 600;
        }

        i {
            font-size: 16px;
        }
    }
    .toggle-content {
        margin-top: 10px;
    }
}