@import '../variables';
.on-full-banner{
    padding:var(--base-padding);
    width:$fullwidth;
    img {
        width:$fullwidth;
        max-width:$fullwidth;
    }
}
.on-half-banner{
    padding:var(--base-padding);
    display:flex;
    .inner-banner{
       width:$half-width;
    }
    img {
        width:$fullwidth;
        max-width:$fullwidth;
    }
    // &:nth-child(odd){
    //     padding-right: $default-gap15/2;
    // }
    // &:nth-child(even){
    //     padding-left: $default-gap15/2;
    // }
}


