@import '../variables';
.pwa-banner{
    display:flex;
    flex-wrap:wrap;
    background:$white;
    img {
        width:$fullwidth;
        max-width:$fullwidth;
    }
    .full-banner{
        padding:5px;
        width:$fullwidth;
    }
    .half-banner{
        padding:5px;
        width:$half-width;
    }
}



