// .btn-red {
//     border: 1px solid $logo-color;
//     padding: 7px 9px;
//     color: $logo-color;
//     border-radius: 2px;
//     text-transform: uppercase;
//     font-weight: 600;
//     background:$white;
// }

// Buttons
.btn {
    color: $white;
    border: 0;
    outline: 0;
    font-weight: $font-bold;
    @extend %ripple;

    &.btn-transparent-red {
        background: transparent;
        color: var(--primary);
        text-align: center;
        box-shadow: none;
        font-size: $large-font;

        &.btn-disabled {
            color: #c4c4c4;
        }
    }
    &:disabled {
        background: var(--silver);
        border-radius: 8px !important;
    }
}
.continue-btn {
    background: $btn-color-red;
    text-align: center;
    width: 100%;
    height: 45px;
    @extend %ripple;
    font-weight: 800;
    &.disabledButton {
        border-color: $disabled;
        color: #fff;
        background: #b6b6b6;
    }
}

// final button scss

// Primery Buttons
.primary-btn {
    border-radius: $border-radius-8;
    padding: 0px 15px;
    height: 50px;
    background: var(--primary);
    font-size: $large-font;
}

.primary-full-btn {
    border-radius: $border-radius-8;
    padding: 0px 15px;
    height: 50px;
    background: var(--primary);
    font-size: $large-font;
    width: $fullwidth;
}

.primary-btn-1 {
    border-radius: $border-radius-8;
    padding: 0px 15px;
    height: 50px;
    background: var(--white);
    font-size: $large-font;
    color: var(--primary);
}

// Secondry Buttons
.secondry-btn {
    border-radius: $border-radius-8;
    padding: 0px 15px;
    height: 40px;
    font-size: $large-font;
    background: var(--primary);
}

.secondry-full-btn {
    border-radius: $border-radius-8;
    padding: 0px 15px;
    height: 40px;
    font-size: $large-font;
    width: $fullwidth;
    color: var(--primary);
    background: var(--white);
}

.secondry-btn-1 {
    border-radius: $border-radius-8;
    padding: 0px 15px;
    height: 40px;
    font-size: $large-font;
    background: var(--misty-rose);
    color: var(--primary);
}

//  Tertiary Buttons
.tertiary-btn {
    border-radius: $border-radius-6;
    padding: 10px 12px;
    background: var(--primary);
    font-size: $medium-font;
}
.tertiary-btn-1{
    border-radius: $border-radius-6;
    font-size: $medium-font;
    padding: 5px 15px;
    height: 35px;
    background: var(--misty-rose);
    color: var(--primary);
}
.tertiary-outline-cta {
    background: var(--white);
    color: var(--primary);
    border: 1px solid var(--primary);
    font-size: $medium-font;
    padding: 10px 12px;
    border-radius: $border-radius-6;
   &.tertiary-outline-cta-8{
       padding:8px;
   } 
}

//   Quaternary Buttons
.quaternary-btn {
    border-radius: $border-radius-6;
    font-size: $medium-font;
    padding: 5px 15px;
    height: 30px;
    background: var(--primary);

}

.quaternary-full-btn {
    border-radius: $border-radius-6;
    font-size: $medium-font;
    padding: 5px 15px;
    height: 30px;
    background: var(--misty-rose);
    color: var(--primary);
    width: 100%;
}

.quaternary-btn-1 {
    border-radius: $border-radius-6;
    font-size: $medium-font;
    padding: 5px 15px;
    height: 30px;
    background: var(--misty-rose);
    color: var(--primary);
}

.quaternary-btn-2 {
    border-radius: $border-radius-6;
    font-size: $medium-font;
    padding: 5px 15px;
    height: 30px;
    background: var(--white);
    color: var(--primary);
}
.quaternary-btn-3{
    border-radius: $border-radius-6;
    font-size: $medium-font;
    padding: 5px 15px;
    height: 30px;
    background: var(--primary);
    color: var(--white);
    width:100%;
}

// Quinary Buttons

.quinary-btn {
    background: var(--misty-rose);
    color: var(--primary);
    padding: 8px 10px;
    font-size: $small-font;
    font-weight: $font-bold;
    border-radius: $border-radius-6;
}

.quinary-btn-1 {
    background: var(--light-black);
    padding: 8px 10px;
    font-size: $small-font;
    font-weight: $font-bold;
    border-radius: $border-radius-6;
}

.add_cart_btn {
    border: 1px solid var(--primary);
    display: inline-block;
    border-radius: $border-radius-6;
    margin-right: 8px;
    width: 32px;
    text-align: center;
    vertical-align: middle;
    line-height: $extra-large-line-height;

    i {
        font-size: $extra-large-2-font;
        color: $logo-color;
        vertical-align: middle;
    }
}

.fixed-bottom-cta {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 13;
    padding: 5px;
    box-shadow: 0px -3px 6px #00000029;
    background: var(--ghost-white);

    .continue-btn {
        width: 100%;
        color: #fff;
        background-color: #d9232d;
        border: 0;
        height: 50px;
    }
}