// button {
//     outline: 0;
// }
.btn-red {
    border: 1px solid $logo-color;
    padding: 7px 9px;
    color: $logo-color;
    border-radius: 2px;
    text-transform: uppercase;
    font-weight: 600;
    background:$white;
}

.btn-red-bg {
    padding: 10px 20px;
    background-color: $btn-color-red;
    text-transform: uppercase;
    color: #fff;
    border: 0;
    margin: 0;
    border-radius: 3px;
    display: inline;
    font-size: $medium-font;
    font-weight: bold;
}
// Buttons
.btn {
    // padding: 7px 9px;
    color: $white;
    border: 0;
    outline: 0;
    // font-size: $extra-large-font;
     font-weight: $font-bold;
    // @extend %border-radius;
    // @extend %box-shadow;
    // border: 0;
    // outline: 0;
    @extend %ripple;

   
    &.btn-variant1 {
        width: 100%;
        color: #fff;
        background-color: #d9232d;
        border: 0;
        height: 40px;
        font-size: $large-font;
        &.btn-dark-grey {
            background-color: #3c3c3c;
            color: #ffffff;
        }
        &.btn-disabled {
            border-color: $disabled;
            color: #fff;
            background: #c4c4c4;
        }
    }
    &.btn-white{
        background:var(--white);
        padding: 8px 15px;
        color:var(--primary);
    }

    &.btn-transparent-red {
        background: transparent;
        color: var(--primary);
        text-align: center;
        box-shadow: none;
        font-size: $large-font;
        &.btn-disabled {
            color: #c4c4c4;
        }
    }
    &.btn-red-bordered {
        background-color: var(--white);
        color: var(--primary);
        border: 1px solid var(--primary);
        box-shadow: none;
    }
    &:disabled {
        background: var(--silver);
    }
    &.disabled {
        background: var(--silver);
    }
}

.continue-btn,
.signInbtn {
    background: $btn-color-red;
    text-align: center;
    width: 100%;
    height: 45px;
    @extend %ripple;
    font-weight: 800;

    &.disabledButton {
        border-color: $disabled;
        color: #fff;
        background: #b6b6b6;
    }
}

.outlineButton {
    background: $white-color;
    color: $btn-color-red;
    font-weight: 800;
    width: 100%;
    height: 45px;
    border: 1px solid $btn-color-red;
    font-size: $large-font;
}

.redBgButton {
    background: $color-red-light;
    color: var(--primary);
    font-weight: bold;
    font-size: $medium-font;
    padding: 8px 15px;
    box-shadow: none;
    box-shadow: none !important;
}
// Blue btn
.blue-border-btn-full {
    color: $blue-link-color;
    border: 1px solid #278bed;
    padding: 8px 10px;
    width: 100%;
    text-align: center;
    background: $white;
    font-weight: 600;
    font-size: $medium-font;
}
.center-aligned-button-noborder{
    width: 100%;
    text-align: center;
    border: none !important;
    border-radius: 9px;
}


// Fixed Button
.bottom-stick {
    position: fixed;
    left: 0;
    width: 100%;
    bottom: 0;
    z-index: 2;
}

.btn-red-small{
    padding: 10px;
    background-color: var(--primary);
    text-transform: uppercase;
    color: $white;
    font-size: $small-font;
    font-weight: bold;
    color: var(--white);
}
span.form-inline-cta{
    padding: 8px 15px;
    background-color: #d9232d;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 10px;
    font-weight: bold;
    position: absolute;
    right: 5px;
    border-radius: 6px;
    top: 5px;
    &.success{
        background-color: #209F19;
    }
}


  






// final button scss
 .primary-btn{
    border-radius: $border-radius-8;
    padding: 0px 15px;
    height: 50px;
    background: var(--primary);
    font-size: $large-font;
}
.primary-full-btn{
    border-radius: $border-radius-8;
    padding: 0px 15px;
    height: 50px;
    background: var(--primary);
    font-size: $large-font;
    width: $fullwidth;
}

.secondry-btn{
    border-radius: $border-radius-8;
    padding: 0px 15px;
    height: 40px;
    font-size: $large-font;
    background: var(--primary);
}

.secondry-full-btn{
    border-radius: $border-radius-8;
    padding: 0px 15px;
    height: 40px;
    font-size: $large-font;
    width: $fullwidth;
    color: var(--primary);
    background: var(--white);
}
.secondry-btn-2{
    border-radius: $border-radius-8;
    padding: 0px 15px;
    height: 40px;
    font-size: $large-font;
    background:var(--misty-rose);
    color: var(--primary);
 } 
.tertiary-btn{
    border-radius: $border-radius-6;
    padding: 10px 15px;
    background: var(--primary);
    font-size: $small-font;
}
.tertiary-outline-cta{
    background: var(--white);
    color: var(--primary);
    border: 1px solid var(--primary);
    font-size: $small-font;
    padding:10px 15px;
    border-radius: $border-radius-6;
  }
.quaternary-btn{
    border-radius: $border-radius-6;
    font-size: $medium-font;
    padding: 5px 15px; 
    height: 30px;
    background: var(--primary);

}
.quaternary-btn-2{
    border-radius: $border-radius-6;
    font-size: $medium-font;
    padding: 5px 15px; 
    height: 30px;
    background: var(--misty-rose);
    color: var(--primary);
}
.add_cart_btn {
    border: 1px solid var(--primary);
    display: inline-block;
    border-radius: $border-radius-6;
    margin-right: 8px;
    width: 32px;
    text-align: center;
    vertical-align: middle;
    line-height: $extra-large-line-height;
    i {
        font-size: $extra-large-2-font;
        color: $logo-color;
        vertical-align: middle;
    }
}
.fixed-bottom-cta {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 15;
    padding: 5px;
    box-shadow: 0px -3px 6px #00000029;
    background: var(--ghost-white);
    .continue-btn {
        width: 100%;
        color: #fff;
        background-color: #d9232d;
        border: 0;
        height: 50px;
    }
    .btn-variant1 {
        width: 100%;
        color: #fff;
        background-color: #d9232d;
        border: 0;
        height: 40px;
        &.btn-dark-grey {
            background-color: #3c3c3c;
            color: #ffffff;
        }
    }
}