.category-grid-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  text-align: center;
  .category-grid-card {
    width: calc(33.3% - 6px);
    border-radius: 8px;
    min-height: 100px;
    text-align: center;
    align-items: center;
    margin-top: 10px;
    img {
      width: 100px;
    }
    .category-text {
      text-align: center;
      padding-top: 5px;
      &.view-all-cate {
        color: var(--primary);
      }
    }
  }
}
