.category-grid-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  text-align: center;
  .category-grid-card {
    flex-basis: 31.3%;
    border-radius: 8px;
    min-height: 100px;
    text-align: center;
    align-items: center;
    img {
      width: 97px;
    }
    .category-text {
      text-align: center;
      padding-top: 5px;
      &.view-all-cate {
        color: var(--primary);
        font-weight: 500;
      }
    }
  }
  .view-all-strip{
    @extend %view-all-strip;
    padding-top:15px !important;
    padding-bottom:0px !important;
  }
}
