@import "../../scss/variables";

.verticle-view-card {
  padding-bottom: 0;
  .newarrivals-section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .outer-view-section {
      width: calc(50% - 8px);
      border-radius: $border-radius-8;
      min-height: 250px;
      background: var(--white);
      margin-bottom: 15px;
      padding: 10px;
      border: 1px solid var(--platinum);
      .pwa-image {
        text-align: center;
        img {
          width: 115px;
        }
      }
      .product-card-lower-inner {
        .name {
          -webkit-line-clamp: 2;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
          height: 2.8em;
          margin-bottom: 5px;
          line-height: 1.4em;
          font-size: $large-font;
          color: var(--onyx-black);
        }
        .brand {
          margin-top: 4px;
          margin-bottom: 5px;
          text-align: left;
          font-size: $small-font;
          color: var(--gray-web);
        }
        .prod-price-row {
          margin-bottom: 4px;
          .price {
            .prod-mrp {
              color: var(--onyx-black);
              text-decoration: line-through;
              opacity: 0.5;
              margin-right: 5px;
            }
            .prod-discount {
              font-weight: $font-bold;
              color: var(--slimy-green);
            }
          }
          .prod-selling-price {
            margin-top: 4px;
            font-size: 17px;
            color: var(--onyx-black);
            font-weight: $font-bold;
          }
        }
      }
    }
  }
}