@import '../../scss/variables';

.panel-head {
    background: #fff;
    border-top: 1px solid #d4d4d4;

    h3 {
        font-size: $extra-large-font;

        &.rotate-icon {
            .icon-down {
                transform: rotate(180deg);
            }
        }

        padding: 15px 5px;
        font-weight: bold;
        display: flex;
        align-items: center;
        position: relative;

        .related-icon {
            font-size: 20px;
        }

        .icon-down {
            position: absolute;
            right: 10px;
            top: 18px;
        }
    }
    & .ico-up {
        .iconaccordian {
            transform: rotate(180deg) !important;
        }
    }

    .iconaccordian {
        margin-left: auto;
    }
}

.panel-body {
    padding: 0px 5px 10px;
    background-color: red;
    background: #fff;
    display: none;
}

.open {
    display: block !important;
}

.icon-accordian {
    float: right;

    i {
        font-size: 14px;
    }
}

.ico-up {
    .icon-accordian {
        transform: rotate(180deg);
    }
}

.category_links {
    &>div {
        border-bottom: 1px solid #eaeaea;
        position: relative;
        margin-left: 30px;
        padding: 7px 0px;

        &:last-child {
            border: none;
        }

        a {
            padding: 7px 10px;
            font-size: 14px;
            display: block;
            width: 90%;
        }

        i {
            position: absolute;
            top: 12px;
            right: 0px;
            font-size: 20px;
        }
    }
}


.accordionWrapper {
    padding: 30px;
    background: #fff;
    float: left;
    width: 80%;
    box-sizing: border-box;
    margin: 10%;
    box-shadow: 0 1.5em 85px 0 rgba(0, 0, 0, 0.2);
}

.accordionItem {
    float: left;
    display: block;
    width: 100%;
    box-sizing: border-box;
    font-family: "Open-sans", Arial, sans-serif;
}

.accordionItemHeading {
    cursor: pointer;
    margin: 0px 0px 10px 0px;
    padding: 10px;
    background: #2980b9;
    color: #fff;
    width: 100%;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    box-sizing: border-box;
}

.close .accordionItemContent {
    height: 0px;
    transition: height 1s ease-out;
    -webkit-transform: scaleY(0);
    -o-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
    float: left;
    display: block;
}

.open .accordionItemContent {
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    width: 100%;
    margin: 0px 0px 10px 0px;
    display: block;
    -webkit-transform: scaleY(1);
    -o-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: top;
    -o-transform-origin: top;
    -ms-transform-origin: top;
    transform-origin: top;

    -webkit-transition: -webkit-transform 0.4s ease-out;
    -o-transition: -o-transform 0.4s ease;
    -ms-transition: -ms-transform 0.4s ease;
    transition: transform 0.4s ease;
    box-sizing: border-box;
}

.open .accordionItemHeading {
    margin: 0px;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
    -moz-border-radius-bottomright: 0px;
    -moz-border-radius-bottomleft: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    background-color: #bdc3c7;
    color: #7f8c8d;
}