@import './../variables';
%custom-green-radio-checkout {
    input[type="radio"] {
        display: none;
        &:checked + .custom-box::before {
            content: "\e912";
            color: $green-color;
        }
    }
    .custom-box {
        width: 18px;
        height: 18px;
        display: block;
        float: left;
        margin-right: 5px;
        position: relative;
        &::before {
            font-family: "icomooon_pwa";
            content: "\e912";
            font-size: 16px;
            color: #b9b9b9;
        }
    }
    .chk-txt {
        font-size: 15px;
        float: left;
        margin-left: 10px;
        line-height: 20px;
    }
}
%custom-radio-checkout {
    input[type="radio"] {
        display: none;
        &:checked + .custom-box::before {
            font-family: "icomooon_pwa";
            content: "\e9a6";
            color: $logo-color;
            font-size: 24px;
        }
    }
    .custom-box {
        width: 24px;
        float: left;
        margin-right: 5px;
        position: relative;
        line-height: 20px;
        &::before {
            font-family: "icomooon_pwa";
            content: "\e9a7";
            font-size: 24px;
            color: #303030;
        }
    }
    .chk-txt {
        font-size: 15px;
        float: left;
        margin-left: 10px;
        line-height: 20px;
    }
}
%pwa-universal-radio {
    input[type="radio"] {
        display: none;
        &:checked + .custom-box::before {
            font-family: "icomooon_pwa";
            content: "\e9a6";
            color: $logo-color;
            font-size: 24px;
        }
    }
    .custom-box {
        &::before {
            font-family: "icomooon_pwa";
            content: "\e9a7";
            font-size: 24px;
            color: #303030;
        }
    }
}
.radio-with-label-container {
    display: flex;
    margin: 10px 0px;
    label.radio-with-label {
        display: inline-flex;
        @extend %pwa-universal-radio;
        width: 160px;//(payment-radio-card-width)
        align-items: center;
        .custom-box {
            margin-right: 10px;
        }
        .radio-text {
            font-size: $medium-font;
        }
    }
}
.pwa-radio-list {
    .pwa-radio-list-item {
        display: flex;
        align-items: center;
        border-bottom: 1px solid $border-grey;
        padding: 10px 0px;
        &:last-child {
            border-bottom: none;
        }
        .payment-radio-btn {
            margin-right: 10px;
        }
        img {
            width: 35px;
            margin-right:15px;
            &.wallet-img {
                width: 140px;
            }
        }
        .pwa-radio-list-text {
            p {
                margin-bottom: 5px;
            }
        }
    }
}
