@import '../variables';
.pwa-tabs-container{
    display: flex;
    align-items: center;
    flex-wrap: no-wrap;
    transition: transform 300ms ease-in-out;
    scroll-behavior: smooth;
    overflow:auto;
    padding-top:10px;
    &::-webkit-scrollbar{
        width:0px;
    }
    .pwa-tab{
      color:$txt-color;
      font-size:$large-font;
      margin-right:10px;
      flex-shrink: 0;
      text-align: center;
      border:1px solid $border-color;
      border-radius:4px;
      padding:10px 15px;
      font-weight:bold;
      box-shadow: 0px 3px 8px #455B6314;
        &.selectedTab{
            border:1px solid $logo-color; 
            background:$color-red-light;
            color:$logo-color;
        }
      }
      .pwa-inline-tab{
        display: flex;
        flex-wrap: wrap;
      }
    
  .pwa-image-tab{
    display: inline-flex;
    align-items: center;
    border: 1px solid #efeff4;
    border-radius: 8px;
    min-width: 120px;
    width: 120px;
    margin-right: 10px;
    padding:5px;
    .tab-img{
        margin-right: 10px;
        background:var(--misty-rose);
        padding: 2px;
        border-radius: 20%;
        i{
           font-size: $large-font;
           color:var(--primary);
        }
    }
    .tab-img-txt{
        color: var(--gray-web);;
        font-size: 10px;
        width: calc(100% - 45px);
        line-height: 14px;
    }
  }
}
  .tab-content{
    margin-top:15px;
    position: relative;
    overflow:hidden;
    border:1px solid #E7E7E8;
    .inner-tab-content{
      display: flex;
      flex-wrap: nowrap;
      will-change: transform;
      transition: transform .25s cubic-bezier(0,0,.3,1);
  }
}
