<section *ngIf="flyOutData" class="trending-container pad-tb-10">
    <div class="view-all-strip">
        <ng-container *ngIf="tocd" >
            <h2>{{tocd}}</h2>
        </ng-container>
    </div>
    <ul class="category-grid-container">
        <li class="category-grid-card" *ngFor="let item of flyOutData | slice:0:6;let i=index"> 
            <a (click)="setCookieLink('Trending_Categories',item.categoryCode, 'listing', item.link)">
                <img src="{{item.imageUrl}}"  alt="trending-categories">
                <p>{{(item.categoryName) + (item.categoryName.length > 15 ? " ":"")}}</p>
            </a>
        </li>
    </ul> 
</section>