<div class="innerpopwrap">
    <span (click)="cancelOrder()" class="closepop">
        <i class="icon-close"></i>
    </span>
    <form [formGroup]="returnForm" (ngSubmit)="returnProduct(returnForm.value, returnForm.valid)"
        class="form-horizontal">
        <div class="returnwrap" [ngClass]="{'show': step == 1, 'hide': step !== 1}">
            <h2 class="f-size-16 mar-b-25">RETURN OR REPLACE</h2>
            <p class="cancelid f-size-14 text-500 mar-b-15">Order ID {{data.order_id}} | Placed on 20-05-2019</p>
            <p class="f-size-14 mar-b-5 text-500">Item</p>
            <div class="cancitem">
                <img src="{{imagePath}}web/dist/assets/img/placeholder.svg" width="100" height="100" alt="imagename" />
                <div class="itemname">
                    <h3 class="f-size-14 mar-b-10">{{data.product_name}}</h3>
                    <p class="mar-b-10">STATUS</p>
                    <p class="f-size-12 mar-b-10">Price
                        <span class="text-500">₹ {{data.price}}</span>
                    </p>
                    <p class="f-size-12 mar-b-10">Qty.
                        <span class="text-500">{{data.Quantity}}</span>
                    </p>
                </div>
            </div>
            <div class="row2">
                <div class="select_wrap mar-b-15">
                    <span class="inline-block">Return Action <sup>*</sup></span>
                    <select formControlName="requestType" class="select_btn  bg-white f-size-12">
                        <option value="">Select</option>
                        <option value="return">Return Action</option>
                        <option value="exchange">Exchange </option>
                    </select>
                    <p *ngIf="returnForm['controls']['requestType'].touched && !returnForm['controls']['requestType'].valid && returnForm['controls']['requestType'].errors.required"
                        class="f-size-10 text-red text-400 absolute top-33 ">Kidly enter valid email or mobile number
                    </p>
                </div>
                <div class="select_wrap mar-b-15">
                    <span class="inline-block">Reason for Return<sup>*</sup></span>
                    <select formControlName="reasonId" class="select_btn  bg-white f-size-12">
                        <option value="">Select your reason</option>
                        <option *ngFor="let cancelReason of cancelReasons" [value]="cancelReason.id">
                            {{cancelReason.text}}</option>
                    </select>
                    <p *ngIf="returnForm['controls']['reasonId'].touched && !returnForm['controls']['reasonId'].valid && returnForm['controls']['reasonId'].errors.required"
                        class="f-size-10 text-red text-400 absolute top-33 error-txt">Kidly enter valid email or mobile
                        number</p>
                </div>
                <div class="select_wrap mar-b-15">
                    <span class="inline-block">Quantity<sup>*</sup></span>
                    <select formControlName="quantity" class="select_btn  bg-white f-size-12">
                        <option value="valOf" *ngFor="let valOf of [1,2,3,4,5,6,7,8,9,10]; let i = index">{{valOf}}
                        </option>
                    </select>
                    <p *ngIf="returnForm['controls']['quantity'].touched && !returnForm['controls']['quantity'].valid && returnForm['controls']['quantity'].errors.required"
                        class="f-size-10 text-red text-400 absolute top-33 error-txt">Kidly enter valid email or mobile
                        number</p>
                </div>
                <div class="select_wrap mar-b-15">
                    <span class="inline-block">Upload Photo<sup>*</sup></span>
                    <div class="uploadwrap">
                        <div class="uploadbtn"><input type="file" formControlName="productImage"
                                (change)="addItemImage($event)"><span>+</span></div>
                        <div class="upphoto" *ngFor="let itemImage of itemImages; let i = index">
                            <img src="{{imagePath}}web/dist/assets/img/placeholder.svg" appImageToSrc
                                [itemImage]="itemImage" />
                            <span><i class="icon-close" (click)="removeItemImage(i)"></i></span>
                        </div>
                        <p *ngIf="returnForm['controls']['productImage'].touched && !returnForm['controls']['productImage'].valid && returnForm['controls']['productImage'].errors.required"
                            class="f-size-10 text-red text-400 absolute top-33 error-txt">Kidly enter valid email or
                            mobile number</p>
                    </div>
                </div>
            </div>
        </div>
        <div formGroupName="bankDetail" class="bankdetail" [ngClass]="{'show': step == 2, 'hide': step !== 2}">
            <h2 class="f-size-16 mar-b-25" (click)="step = 1"><i class="icon-home_back_arrow"></i><span>RETURN</span>
            </h2>
            <div class="row2">
                <div class="select_wrap mar-b-15">
                    <span class="inline-block">Bank Name <sup>*</sup></span>
                    <select formControlName="bankName" class="select_btn  bg-white f-size-12">
                        <option value="1">Select your bank</option>
                        <option value="1">abc</option>
                        <option value="2">bcd </option>
                    </select>
                    <p *ngIf="returnForm['controls']['bankDetail']['controls']['bankName'].touched && !returnForm['controls']['bankDetail']['controls']['bankName'].valid && returnForm['controls']['bankDetail']['controls']['bankName'].errors.required"
                        class="f-size-10 text-red text-400 absolute top-33 error-txt">Kidly enter valid email or mobile
                        number</p>
                </div>
                <div class="select_wrap mar-b-15">
                    <span class="inline-block">IFSC Code<sup>*</sup></span>
                    <input type="text" formControlName="ifscCode" placeholder="Type IFSC Code"
                        class="f-size-12 inputfield">
                    <p *ngIf="returnForm['controls']['bankDetail']['controls']['ifscCode'].touched && !returnForm['controls']['bankDetail']['controls']['ifscCode'].valid && returnForm['controls']['bankDetail']['controls']['ifscCode'].errors.required"
                        class="f-size-10 text-red text-400 absolute top-33 error-txt">Kidly enter valid email or mobile
                        number</p>
                </div>
                <div class="select_wrap mar-b-15">
                    <span class="inline-block">Account Holder Name<sup>*</sup></span>
                    <input type="text" formControlName="acountName" placeholder="Type Name"
                        class="f-size-12 inputfield">
                    <p *ngIf="returnForm['controls']['bankDetail']['controls']['acountName'].touched && !returnForm['controls']['bankDetail']['controls']['acountName'].valid && returnForm['controls']['bankDetail']['controls']['acountName'].errors.required"
                        class="f-size-10 text-red text-400 absolute top-33 error-txt">Kidly enter valid email or mobile
                        number</p>
                </div>
                <div class="select_wrap mar-b-15">
                    <span class="inline-block">Account Number<sup>*</sup></span>
                    <input type="text" formControlName="acountNo" placeholder="Type Number"
                        class="f-size-12 inputfield">
                    <p *ngIf="returnForm['controls']['bankDetail']['controls']['acountNo'].touched && !returnForm['controls']['bankDetail']['controls']['acountNo'].valid && returnForm['controls']['bankDetail']['controls']['acountNo'].errors.required"
                        class="f-size-10 text-red text-400 absolute top-33 error-txt">Kidly enter valid email or mobile
                        number</p>
                </div>
                <div class="select_wrap mar-b-15">
                    <span class="inline-block">Comment</span>
                    <textarea class="addcomment f-size-12 inline-block" placeholder="Write a comment"></textarea>
                </div>
                <div class="select_wrap mar-b-15">
                    <span class="inline-block">Upload Cheque<span>(Optional)</span></span>
                    <div class="uploadwrap">
                        <div class="uploadbtn"><input type="file" formControlName="chequeUrl"
                                (change)="addChequeImage($event)"><span>+</span></div>
                        <div class="upphoto" *ngIf="chequeImage">
                            <img src="" appImageToSrc [itemImage]="chequeImage" />
                            <span><i class="icon-close" (click)="removeChequeImage()"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="popaction mar-t-40 text-center">
            <button type="button" class="btn text-500 next f-size-14"
                [ngClass]="{'show inline-block': step == 1, 'hide': step !== 1}" (click)="step = 2"><i
                    class="icon-next_arrow"></i></button>
            <button type="button" [ngClass]="{'show inline-block': step == 2, 'hide': step !== 2}"
                (click)="cancelOrder()" class="btn text-500 discard f-size-14">Discard</button>
            <button class="btn text-500 return f-size-14"
                [ngClass]="{'show inline-block': step == 2, 'hide': step !== 2}" type="submit"
                [disabled]="!returnForm.valid">RETURN</button>
        </div>
    </form>
</div>