.orderactionpopup{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    text-align: center;
    background: rgba(0,0,0,0.4);
    z-index: 99;
    .show {
      display: block;
    }
    .hide {
      display: none;
    }
    .closepop{
      position: absolute;
      right: 10px;
      top: 10px;
      font-size: 20px;
      display: inline-block;
      cursor: pointer;
    }
    .innerpopwrap{
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
      width: 520px;
      transform: translateY(-50%);
      top: 50%;
      background:#fff;
      border-radius:3px;
      padding:20px 20px 30px;
      text-align: left;
      h2{
        font-weight:600;
        color: #000;
        i{
          font-size: 12px;
          margin-right: 10px;
          display: inline-block;
          vertical-align: middle;
          cursor: pointer;
        }
        span{
          display: inline-block;
          vertical-align: middle;
        }
        }
      .cancitem{
        position: relative;
        padding-left:120px;
        min-height: 120px;
        img{
          position: absolute;
          left:0;
          top:0;
        }
        .itemname{
          color: #000;
          h3{
            font-weight: 400;
          }
          p{
            color: #141414;
            span{margin-left: 10px;color: #000;}
          }
        }
      } 
      .row2{
        .select_wrap{
          width:100%;
          position: relative;
          .error-txt{
            right: 0;
          }
          span{
            display: inline-block;
            width:35%;
            color: #272727;
            vertical-align: top;
            height:32px;
            line-height:32px;
            sup{
              color: #DA191E;
            }
            span{
              display: block;
              line-height: 4px;
            }
          }
          select.select_btn{
            display: inline-block;
            border:#D6D6D6 1px solid;
            width:64%;
            height: 32px;
            color: #262626;
          }
          .addcomment,.inputfield{
            border: #D6D6D6 1px solid;
            width:64%;
            height: 80px;
            color: #262626;
            border-radius: 3px;
            padding: 10px 15px;
            &::-webkit-input-placeholder { /* Edge */
              color: #aeaeae;
              opacity: 1;
            }
            
            &:-ms-input-placeholder { /* Internet Explorer 10-11 */
              color: #959595;
              opacity: 1;
            }
            
            &::placeholder {
              color: #959595;
              opacity: 1;
            }
          }
          .inputfield{
            height: 35px;
            padding:0 15px;
          }
          .uploadwrap{
            width:64%;
            display: inline-block;
            .uploadbtn{
              width:70px;
              height: 70px;
              position: relative;
              line-height:70px;
              border:1px solid #D6D6D6;
              margin-right: 10px;
              border-radius: 3px;
              display: inline-block;
              vertical-align: top;
              text-align: center;
              span{
                font-size: 31px;
                height: 24px;
                display: inline-block;
                vertical-align: middle;
                line-height: 24px;
                font-weight:500;
              }
              input{
                position: absolute;
                left:0;right:0;
                top:0;bottom: 0;
                cursor: pointer;
                opacity: 0;              
              }
            }
            .upphoto{
              padding:3px;
              width:70px;
              height: 70px;
              line-height:70px;
              border:1px solid #D6D6D6;
              margin-right: 10px;
              border-radius: 3px;
              display: inline-block;
              vertical-align: top;
              text-align: center;
              position: relative;
              img{
                  max-width:100%;
                  max-height: 100%;
                  display: block;
              }
              span{
                width:13px;
                height: 13px;
                line-height: 13px;
                display: inline-block;
                position: absolute;
                cursor: pointer;
                right:3px;
                top:3px;
                color: #5D5D5D;
                i{
                  color:#5D5D5D;
                }
              }
            }
          }
        }
      }   
    }
    .popaction{
      .btn{
        height:42px;
        padding: 0 10px;
        width:130px;
        border-radius: 4px;
        &.discard{
          background: none;
          color: #3D3D3D; 
          border:none; 
          margin-right: 50px;
          width:auto;
          height: auto;      
        }
        &.cancel{
          background: #3D3D3D;
          color:#fff; 
        }
        &.next{
          border-radius:50% !important;
          width:40px;
          height: 40px;
          line-height:40px;
          background: #3875FD;
          padding: 0;
          i{
            font-size: 25px;
            color: #fff;
          }        
          &:disabled{
            background: #E3E3E3;
          }
        }
        &.return{
          background: #F5681E;
          color:#fff; 
        }
      }
    }
  }