<ul class="bread-head  hidden-sm-down">
    <li [routerLink]="['/']">Home <span class="arrow-icon">
        <i class="icon-next" aria-hidden="true"></i></span> </li>
    <li class="item f-size-12" [routerLink]="['/articles']" > Articles <span class="arrow-icon"><i class="icon-next"
                aria-hidden="true"></i></span> </li>
    <li class="item f-size-12"> {{breadCrumbTitle}}</li>
</ul>
<section class="dynamic-articlesmainwrap">
    <section class="container-fluid">
        <cms [cmsData]="articles"></cms>
    </section>
</section>