<checkout-header [step]="(tabIndex - 1)"></checkout-header>
<ng-container *ngIf="isBrowser && isCheckoutResolved">
    <!-- <h1>isContinue {{isContinue}}</h1> -->
    <continue *ngIf="tabIndex < 4 && user && user.authenticated != 'false'" [isContinue]="isContinue"
        [tabIndex]="tabIndexList.invoiceType" (updateTabIndex)="tabIndexUpdated(tabIndexList.invoiceType+1)"></continue>

    <cart-updates *ngIf="tabIndex<3" [itemsValidationMessage]="itemsValidationMessage"></cart-updates>
    <section class="checkout-container-v2" *ngIf="tabIndex<2 && user != null && user.authenticated == 'false'">
        <div class="">
            <checkout-login-v2></checkout-login-v2>
        </div>
    </section>

    <div class="payment-modal-bottom" *ngIf="tabIndex === 2 || tabIndex === 3">
        <delivery-address *ngIf="tabIndex === 2" [invoiceType]="invoiceType"
            [addressFormButtonText]="addressFormButtonText" (updateTabIndex)="tabIndexUpdated($event)"
            (updateCheckoutAddress$)="checkoutAddressUpdated($event)"
            (unServicableItems$)="unServicableItemsUpdated($event)">
        </delivery-address>

        <cart (itemsValidationMessage$)="itemsValidationMessageUpdated($event)"
            (updateTabIndex)="tabIndexUpdated($event)" [cartSessionUpdated$]="cartSessionUpdated$"></cart>
        <div class="ordersummary-container">
            <order-summary [cartSessionUpdated$]="cartSessionUpdated$"></order-summary>
        </div>
    </div>

    <div *ngIf="tabIndex===4" id="paymentMethod">
        <payment (updateTabIndex)="tabIndexUpdated($event)"></payment>
    </div>
</ng-container>