<div class="address-list" *ngIf="addresses && addresses.length>0">
  <form>
    <div *ngFor="let address of addresses; let i = index;" [class.withRadioContainer]="showRadio" [class.active-multiple-address]="showRadio && sai == i" class="multiple-address">
      <!-- for reference -->
      <!-- <label>
        Todo
        <input type="radio" [value]="address.idAddress"
            [checked]="isAddressSelected(address.idAddress)"
            (change)="updateAddressId($event, address.idAddress)">
        <span class="custom-box icon-box"></span>
        <span class="chk-txt">
            <span class="heading-container">
                <span class="heading">
                    <span class="address-name">{{address.addressCustomerName | slice:0:60}}</span> &nbsp;
                </span>
            </span>
            <span class="txt">{{address | checkoutAddress}}</span>
            <span class="txt">{{address.phone}}</span>
            <span class="address-btn-section">
                <span class="small-btn edit"
                    (click)="handleAction($event, ACTION_TYPES.EDIT, address)">EDIT</span>
                <span class="small-btn delete"
                    (click)="handleAction($event,ACTION_TYPES.SELECTED, address)">
                    DELIVER HERE
                </span>
            </span>
        </span>
    </label> -->
    <!-- for reference end -->
      <label>
        <input *ngIf="showRadio" type="radio" name="sai"
          [checked]="(sai == i) || (addresses && addresses.length > 0 && addresses.length < 2)" value="i"
          (change)="selectAddress(address,type, i)">
        <span *ngIf="showRadio" class="custom-box icon-box"></span>
        <span class="chk-txt">
          <span class="heading-container">
            <span class="heading">
              <!-- <i class="icon-arrow-right-s-line"></i> -->
              <span class="address-name" [ngClass]="{'persnName':!showRadio}">{{address.addressCustomerName | slice:0:60}}</span> &nbsp;
            </span>
          </span>
          <span class="txt">{{displayAddress(address)}}</span>
          <span *ngIf="layoutType == 'SINGLE'">Mobile : {{address.phone}}</span>
          <span class="txt" *ngIf="layoutType == 'LIST' ">{{address.phone}}</span>
          <span *ngIf="showRadio && sai === i" class="address-btn-section">
            <span class="small-btn edit" (click)="deleteAddress(i, type, address)">
              DELETE
            </span>
            <!-- <span  class="small-btn delete" (click)="selectAddress(address,type, i)" > -->
            <span  class="small-btn delete" (click)="updateAddressV1({index: i, type: type, address: address})" >
              EDIT
            </span>
          </span>
        </span>
      </label>
      <!-- <span class="bin-icon">
        <img *ngIf="showRadio && (layoutType == 'LIST') && (router.url.indexOf('/checkout') == -1)" src="assets/img/delete-bin-fill.svg"
        (click)="deleteAddress(i,type,address)">
      </span> -->
    </div>
  </form>
</div>

<app-bottom-menu *ngIf="sbm && sbm.index != undefined && layoutType == 'LIST'" (outData$)="onUpdate($event)">
  <ul class="container" content>
    <!-- <li (click)="updateAddress()">Edit</li> -->
    <li (click)="deleteAddress()">Delete</li>
  </ul>
</app-bottom-menu>