@import '../../scss/variables';
.persnName {
    font-size: $medium-font;
    font-weight: bold;
    // &:after {
    //     content: "|";
    //     padding: 0px 10px;
    //     position: absolute;
    // }
    &+span {
        padding-left: 10px;
    }
}

.multiple-address {
    padding: 15px;
    &.withRadioContainer {
        @extend %white-card;
        &:last-child {
            border-bottom: none;
        }
        .chk-txt {
            margin-left: 5px;
            .address-name{
                font-size: $medium-font;
                font-weight: bold
            }
        }
    }
    @extend %clear-fix;
    label {
        float: left;
        width: 93%
    }
    .bin-icon{
        float: right;
        text-align: right;
        padding: 10px 0;
        width: 7%
    }
}

.address-btn-section {
    display: block;
    margin-top: 10px;
    .small-btn {
        color: $btn-color-red;
        width: 45%;
        padding: 5px;
        // margin-right: 15px;
        border-radius: 4px;
        text-align: center;
        float: left;
        font-weight: bold;
    }
    .edit {
        background: $color-red-light;
        color: $btn-color-red;
    }
    .delete {
        background: $btn-color-red;
        color: #fff;
        float: right;

    }
}

.content-popup {
    height: calc(100% - 50px);
}