<section class="Bestseller card card-wrap pwa-row" *ngIf="productList && productList.length>0">
<div class="pwa-col-12">
    <div class="view-all-strip">
        <h4>You May Also Like</h4>
        <span>AD</span>
    </div>
    <product-card-vertical-container [numberOfItems]="productList.length" >
        <ng-container *ngFor="let product of productList;let pIndex=index">
            <product-card-vertical-grid-view [product]="product" [cardMetaInfo]='cardMetaInfo' [hideAd]="true"
                [cardFeaturesConfig]='cardFeaturesConfig' [pIndex]="pIndex" [enableTracking]="true"
                [analytics]="analytics">
            </product-card-vertical-grid-view >
        </ng-container>
    </product-card-vertical-container>
</div>   
</section>