<section class="pwa-row mt-10 sponsered pad-r-0" *ngIf="productList && productList.length>0">
<div class="pwa-col-12">
    <div class="view-all-strip">
        <h3 class="heading-3">You May Also Like</h3>
        <span>AD</span>
    </div>
    <product-card-vertical-container [numberOfItems]="productList.length" >
        <ng-container *ngFor="let product of productList;let pIndex=index">
            <product-card-vertical-grid-view [product]="product" [cardMetaInfo]='cardMetaInfo' [hideAd]="true"
                [cardFeaturesConfig]='cardFeaturesConfig' [moduleUsedIn]="'SPONSERED_ADS'" [pIndex]="pIndex" [enableTracking]="true"
                [analytics]="analytics">
            </product-card-vertical-grid-view >
        </ng-container>
    </product-card-vertical-container>
</div>   
</section>