<section class="pwa-row pwa-row-noPad" [ngClass]="{'mt-10': applyExtraMargin}" >
    <div class="pwa-col-12">
        <div *ngIf="!isFromOosSimilarCard" class="pdp-section-header">
            <h3 class="heading-3">
               {{productStaticData.about_this_product}}
            </h3>
        </div>
        <div *ngIf="productKeyFeatures && productKeyFeatures?.length > 0" class="key-features">
            <h2 class="heading-3"> {{productStaticData.key_features}}</h2>
            <ul class="feature-list">
                <li *ngFor="let feature of productKeyFeatures; let i = index" [class.hide]='i > 2'>
                    <p>
                        <span>{{feature}}.</span>
                    </p>
                </li>
            </ul>
            <div *ngIf="!isFromOosSimilarCard" (click)="handleProductInfoPopup('key features', 'show_all_key_features')" class="show-all-strip">
                <span>{{productStaticData.show_all_key_features}}</span>
            </div>
        </div>

        <div class="product-specification" *ngIf="productAttributes != null">
            <h2 class="heading-3">{{productStaticData.product_specifications}}</h2>
            <table style="width:100%" class="product-spec">
                <tr>
                    <td class="left">
                        <div>{{productStaticData.brand}}</div>
                    </td>
                    <td class="right">
                        <div *ngIf="productBrandDetails">
                            <a class="brandName" (click)="$event.preventDefault(); commonService.navigateTo(getBrandLink(productBrandDetails));" [href]='baseDomain + getBrandLink(productBrandDetails)'>{{productBrandDetails['brandName']}}</a>
                        </div>
                    </td>
                </tr>
                <tr *ngIf="showNavToStorePage">
                    <td class="left">
                        <!-- <div>Explore {{productBrandDetails['brandName']}} store </div> -->
                      <div>{{productStaticData.brand_store}} </div>

                    </td>
                    <td class="right">
                        <div *ngIf="productBrandDetails">
                            <a class="brandName" [href]='baseDomain + productBrandDetails["storeLink"]'
                                (click)="commonService.navigateTo([productBrandDetails['storeLink']])">{{productStaticData.brand_store_text
                                    .replace('___brand___',productBrandDetails['brandName'])}}</a>
                        </div>
                    </td>
                </tr>
                <tr *ngFor="let attr of productAttributes | objectToArray:'associative'; let i=index" [class.hide]='i > 2'>
                    <td class="left">
                        <div>{{attr.key}}</div>
                    </td>
                    <td class="right">
                        <div *ngFor="let item of attr.value">
                            {{item}}
                        </div>
                    </td>
                </tr>
            </table>
            <div *ngIf="!isFromOosSimilarCard" (click)="handleProductInfoPopup('specifications', 'show all specifications')"
                class="show-all-strip spec">
                <span>{{productStaticData.show_all_specifination}}</span>
            </div>
        </div>

        <div class="prod-detail" *ngIf="!isFromOosSimilarCard">
            <h2 class="heading-3">{{productStaticData.product_details}}</h2>
            <ng-container *ngIf="this.productDescripton != undefined else noProdDesc">
                <p [innerHTML]="this.productDescripton"></p>
                <p *ngIf="productCategoryDetails" class="static-desc"> Browse through the extensive list of
                    <a class="blueText" [href]="baseDomain + '/' + productCategoryDetails['categoryLink']"
                        (click)="$event.preventDefault();navigateLink('/'+ (productCategoryDetails ? productCategoryDetails['categoryLink'] : ''))">
                        {{productCategoryDetails['categoryName']}}</a> at Moglix. Shop online for other
                    <a class="blueText" [href]="baseDomain + '/' + productBrandCategoryUrl"
                        (click)="$event.preventDefault();navigateLink('/'+ productBrandCategoryUrl)">{{productBrandDetails
                        ?
                        productBrandDetails['brandName'] : ''}}
                        {{productCategoryDetails['categoryName']}}.</a> available at Moglix in the lowest price range.
                </p>
            </ng-container>
            <ng-template #noProdDesc>
                <p *ngIf="productCategoryDetails">
                    {{productName}} is a premium quality product from {{productBrandDetails ?
                    productBrandDetails['brandName'] : ''}}. Moglix is a well-known ecommerce platform for qualitative
                    range
                    of <a class="blueText" [href]="baseDomain + '/' + productCategoryDetails['categoryLink']"
                        (click)="$event.preventDefault();navigateLink('/'+productCategoryDetails['categoryLink'])">{{productCategoryDetails
                        ?
                        productCategoryDetails['categoryName'] : ''}}</a>. All {{productName}} are manufactured by using
                    quality assured material and advanced techniques, which make them up to the standard in this highly
                    challenging field. The materials utilized
                    to manufacture {{productName}}, are sourced from the most reliable and official vendors, chosen
                    after
                    performing detailed market surveys. {{productBrandDetails ? productBrandDetails['brandName'] : ''}}
                    products are widely acknowledged in the
                    market for their high quality. We are dedicatedly involved in providing an excellent quality array
                    of <a class="blueText" [href]="baseDomain + '/' + productBrandCategoryUrl"
                        (click)="$event.preventDefault();navigateLink('/'+productBrandCategoryUrl)">
                        {{productBrandDetails ? productBrandDetails['brandName'] : ''}} {{productCategoryDetails ?
                        productCategoryDetails['categoryName'] : ''}}</a>.
                </p>
            </ng-template>
            <div (click)="handleProductInfoPopup('product details',productStaticData.read_more)" class="show-all-strip">
                <span>{{productStaticData.read_more}}</span>
            </div>
        </div>

        <div *ngIf="productVideos && productVideos.length > 0 && !isFromOosSimilarCard" class="prod-detail detail-videos">
            <h2 class="heading-3">{{productStaticData.product_videos}}</h2>
            <div [style.width]="productVideos.length * 252">
                <div class="prod-desc-video-container clearfix">
                    <div *ngFor="let video of productVideos" class="prod-desc-video">
                        <input class="youtube_icon" (click)="$event.stopPropagation();showYTVideo(video['link'])"
                            type="image" src="{{imagePathAsset}}assets/img/youtube_icon.svg"
                            border="border of the image" alt="text">
                        <img [src]="video['link'] | ytthumbnail:'hqdefault'">
                        <a target="_blank" href="{{video.link}}"><span class="heading-4 mt-10">{{video.title}}</span></a>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="productDocumentInfo && productDocumentInfo.length > 0" class="pdf_section mt-10">
            <h3 class="heading-3">Product Specification Document</h3>
            <div class=" pwa-row pdf_list">
                <ng-container *ngFor="let pdf of productDocumentInfo">
                    <a target="_blank" class="pdf_anchr" href="{{DOCUMENT_URL + pdf.path}}">
                        <div class="pwa-row pdf_link">
                            <span class="pdf-img">
                                <img src="{{imagePathAsset}}assets/img/download.svg">
                            </span>
                            <div class="pdf-text">
                                <h4>{{pdf.name}}</h4>
                                <span>DOWNLOAD NOW</span>
                            </div>
                        </div>
                    </a>
                </ng-container>
            </div>
        </div>
    </div>
</section>