@import "../../scss/variables";
@import '../../components/category-card/category-card.component';

.fixedCategory {
    position: relative;
    display: block;
}

.commonCategory {
    position: fixed;
    top: 52px;
    z-index: 1;
    width: $fullwidth;
}

.cluster-body {
    background: var(--white);
    img {
        width: auto;
    }
    .lazy-components {
        min-height: 140px;
    }
}
.product_h3 {
    background: var(--white);
    padding: 15px 5px 5px;
    h3 {
        font-size: $large-font;
        text-transform: capitalize;
    }
}

.l0_footer_data {
    padding: 20px 15px;
    background: var(--ghost-white);
}

.footer_section {
    p {
        font-size: $medium-font;
        line-height: $small-line-height-1;
    }
    h2 {
        font-size: $extra-large-font;
        padding: 10px 0;
    }
    h1 {
        font-size: $extra-large-1-font;
        padding-bottom: 10px;
    }
    a {
        color: var(--bleu-de-france) !important;
    }
    hr {
        margin-bottom: 10px;
    }
}

.page-not-found {
    background: var(--white);
    img {
        margin: 50px 0 30px 0;
    }
    h3 {
        font-size: $extra-large-font;
    }
    .not_found_txt {
        font-size: $large-font;
        padding-bottom: 10px;
    }
}

.categories-list {
    li {
        margin-bottom: 30px;
        @include gridForCategory("3", "20");
        i {
            width: 75px;
            height: 75px;
            display: block;
            margin: auto;
            background: var(--platinum);
            border-radius: 50%;
            font-size: 35px;
            line-height: 75px;
            margin-bottom: 5px;
        }
        span {
            font-size: $large-font;
        }
    }
}





