@import "../../scss/variables";
@import "../../scss/components/home-listing";

.fixedCategory {
    position: relative;
    display: block;
}

.commonCategory {
    position: fixed;
    top: 52px;
    z-index: 1;
    width: 100%;
}

.cluster-body {
    // padding-top: 100px;
    img {
        width: auto;
    }
    .lazy-components {
        min-height: 140px;
    }
}
.product_h3 {
    background: #fff;
    padding: 15px 5px 5px;
    h3 {
        font-size: 16px;
        text-transform: capitalize;
    }
}

.l0_footer_data {
    padding: 20px 15px;
    background: #dadada;
}

.footer_section {
    p {
        font-size: 12px;
        line-height: 18px;
    }
    h2 {
        font-size: 16px;
        padding: 10px 0;
    }
    h1 {
        font-size: 18px;
        padding-bottom: 10px;
    }
    a {
        color: #0061d5 !important;
    }
    hr {
        margin-bottom: 10px;
    }
}

.page-not-found {
    background: $white;
    img {
        margin: 50px 0 30px 0;
    }
    h3 {
        font-size: $extra-large-font;
    }
    .not_found_txt {
        font-size: $large-font;
        padding-bottom: 10px;
    }
}

.categories-list {
    li {
        margin-bottom: 30px;
        @include gridForCategory("3", "20");
        i {
            width: 75px;
            height: 75px;
            display: block;
            margin: auto;
            background: $gray-color;
            border-radius: 50%;
            font-size: 35px;
            line-height: 75px;
            margin-bottom: 5px;
        }
        span {
            font-size: $large-font;
        }
    }
}

.category-card-scroll-bar {
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
    box-shadow: 0 3px 6px rgb(0 0 0 / 16%);
    padding: 10px;
    background: #f8f8f8;
    category-card {
        .category-card-container {
            background: #f8f8f8;
            .category-OverBlk {
                .category-block {
                    min-width: 180px;
                    &.selected-block {
                        border: 1px solid #d9232d;
                        background: #f4e1e5;
                    }
                }
            }
        }
    }
    &::-webkit-scrollbar {
        display: block;
    }
}

:host category-card {
    background-color: #d9232d;
    padding-left: 50px;
    .category-OverBlk {
        .category-block {
            min-width: 180px;
            background-color: #d9232d;
            &.selected-block {
                border: 1px solid #d9232d;
                background: #f4e1e5;
            }
        }
    }
}

