<div *ngIf="data" class="l0CategoryContainer">

    <app-cluster-category
        *ngIf="data['category_cluster'] && data['category_cluster']['data'] && data['category_cluster']['data'].length > 0"
        [data]="data['category_cluster']" [extraData]="extraData"></app-cluster-category>

    <div class="cluster-body">

        <div>
            <ng-container #BannerComponent></ng-container>
        </div>
        <div>
            <ng-container #AllCategoryComponent></ng-container>
        </div>
        <div>
            <ng-container #NewArrivalComponent></ng-container>
        </div>
        <div>
            <ng-container #TrendingCategoryComponent></ng-container>
        </div>

        <div>
            <ng-container #FeaturedBrandComponent></ng-container>
        </div>
        <div>
            <ng-container #FeatureBannerComponent></ng-container>
        </div>
        <div>
            <ng-container #BestSellerComponent></ng-container>
        </div>
        <div>
            <ng-container #FeaturedCategoryComponent></ng-container>
        </div>
        <div>
            <ng-container #ClusterVideoComponent></ng-container>
        </div>

        <app-cluster-footer
            *ngIf="data['footer_data'] && data['footer_data']['data'] && data['footer_data']['data'].length > 0"
            [data]="data['footer_data']"></app-cluster-footer>
    </div>
</div>

<div *ngIf="pageNotFound">
    <app-page-not-delivered></app-page-not-delivered>

    <section class="test toggle-panel mt-10 about_moglix" id="footerContainer">
        <div class="toggle-head pad-lr-0">
            <div class="container" (click)="clickFooter()">
                <p class="f-left heading">More about Moglix</p>
            </div>
        </div>
        <footer class="card-30 toggle-content footerScroll">
            <div [innerHTML]="kfooter?.footerData()"></div>
        </footer>
    </section>
</div>