.fixedCategory {
    position: relative;
    display: block;
}

.commonCategory {
    position: fixed;
    top: 52px;
    z-index: 1;
    width: 100%;
}

.cluster-body {
    padding-top: 100px;
    img {
        width: auto;
    }
    .lazy-components {
        min-height: 140px;
    }
}

.l0_heading {
    font-size: 16px;
    margin-bottom: 8px;
    text-transform: capitalize;
    padding: 0px;
    &.center {
        text-align: center;
    }
}

.otherCategoryBlock {
    padding: 15px 5px;
    background: #ECECEC;
    ul {
        margin: 0px;
        padding: 0px;
        li {
            list-style: none;
            float: left;
            width: 50%;
            padding: 5px;
            .innerCategory {
                background: #fff;
                border: 1px solid #C4C4C4;
                border-radius: 3px;
                box-shadow: 0px 3px 6px #00000005;
                height: 235px;
                img {
                    max-height: 100%;
                    max-width: 100%;
                    width: 100%;
                }
                .imgBlock {
                    height: 160px;
                }
            }
            .detailsBlock {
                position: relative;
                text-align: center;
                padding: 10px 10px 10px 10px;
                h3 {
                    font-size: 14px;
                    padding: 0px 0px 5px 0px;
                }
                p {
                    color: #D9232D;
                    font-size: 12px;
                    font-weight: 500;
                }
            }
        }
    }
}

.product_h3 {
    background: #fff;
    padding: 15px 5px 5px;
    h3 {
        font-size: 16px;
        text-transform: capitalize;
    }
}

.l0_footer_data {
    padding: 20px 15px;
    background: #dadada;
}

.footer_section {
    p {
        font-size: 12px;
        line-height: 18px;
    }
    h2 {
        font-size: 16px;
        padding: 10px 0;
    }
    h1 {
        font-size: 18px;
        padding-bottom: 10px;
    }
    a {
        color: #0061D5 !important;
    }
    hr {
        margin-bottom: 10px;
    }
}