@import '../../scss/layout/horizontalProductListing';
@import '../../scss/components/tabs';

.popularDeals {
  background: var(--ghost-white);
  padding: 5px 0 15px;

  .view-all-strip {
    h3 {
      font-size: $extra-large-font
    }
  }

  .pwa-tabs-container {
    padding: 5px 15px 15px;
  }

  .product-card-section {
    padding-left: 15px;
    min-height: 345px;
  }
}

.no-result-found-container {
  width: 100%;
  min-height: 345px;
  display: grid;
  text-align: center;
  align-items: center;
  background: var(--white);
  border-radius: 8px;
  .not-found-section{
    padding: 20px;
    text-align: center;
    .no-product{
        width: 218px;
        padding: 15px 0;
    }
    p{
        font-size: $medium-font;
        line-height: $small-line-height;
        color: var(--spanish-gray);
    }
}
img{
    border-radius: 8px;
    margin: 5px 0;
}
}