@import '../../scss/layout/horizontalProductListing';
@import '../../scss/components/tabs';

.popularDeals{
    background:var(--ghost-white);
    padding: 5px 0 15px;
    .view-all-strip{
      h3{
        font-size:$extra-large-font
      }  
    }
    .pwa-tabs-container{
        padding: 5px 15px 15px; 
    }
    .product-card-section{
      padding-left: 15px;
      min-height: 345px;
    }
}