<section class=" popularDeals mt-10 pad-r-0" *ngIf="miscTabArray['0']['data'] || miscTabArray['1']['data'] ||                                                                                                                                                       miscTabArray['2']['data']">
    <section class="pwa-col-12">
        <div class="view-all-strip pad-lr-15">
            <h3>Your Activity</h3>
        </div>
        <div class="pwa-tabs-container" id="tabs">
            <ng-container *ngFor="let item of miscTabArray;let tabIndex = index">
                <div class="pwa-tab pwa-tab-variant2" *ngIf="item['data']" [ngClass]="{'selectedTab':selectedIndex == tabIndex}"
                (click)="setProductList(tabIndex,item['data']);onClick($event)">
                    {{item['name']}}
                </div>
            </ng-container>
        </div>
        <div class="product-card-section">
            <product-card-vertical-container [containerId]="'topDealsContainer'" [numberOfItems]="10">
                <ng-container *ngFor="let product of selectedProducts; let pIndex=index">
                    <product-card-vertical-grid-view [section]="'product-popular-deals'" [product]="product"
                        [cardMetaInfo]='cardMetaInfo' [moduleUsedIn]="'POPULAR_DEALS'" [cardFeaturesConfig]='cardFeaturesConfig' [pIndex]="pIndex"
                        [enableTracking]="true" [analytics]="analytics">
                    </product-card-vertical-grid-view>
                </ng-container>
            </product-card-vertical-container>
        </div>
    </section>
</section>
<br><br>
