<div class="custom-promocode" *ngIf="appliedPromocode != undefined && appliedPromocode.length > 0"
    (click)="$event.stopPropagation();openPromoCodeList()">
    <custom-promo-code [isPromocodeList]="false"></custom-promo-code>
</div>
<div class="promocode-list" *ngIf="appliedPromocode != undefined && appliedPromocode.length == 0">
    <!-- <p class="open-offers" (click)="$event.stopPropagation();openPromoCodeList()">APPLY COUPON </p> -->

    <div class="pwa-row pad-0 promo-strip">
        <div class="coupen-strip-section">
            <!-- <div class="coupen-card"> -->
            <div class="apply-coupon" *ngIf="_cartService?.topMatchedPromoCode?.promoCode && moduleUsedIn != 'quick-checkout'">
                <div class="inner-coupon">
                    <i class="icon-coupon-3-fill-1"></i>
                    <div class="coupen-code"> 
                        <h3>{{_cartService?.topMatchedPromoCode.promoCode}}</h3>
                        <p class="promo-description">{{_cartService?.topMatchedPromoCode.promoDescription}}</p>
                    </div>
                </div>
                <button class="btn" (click)="$event.stopPropagation();submitPromocode($event, _cartService?.topMatchedPromoCode?.promoCode)">APPLY</button>
            </div>
            <!-- </div> -->
            <div class="coupen-strip" (click)="$event.stopPropagation();openPromoCodeList()">
                <div class="coupen-icon">
                    <i class="icon-coupon-3-fill-1"></i>
                </div>
                <div class="coupen-text">
                    <h3>{{viewCouponHeaderText}}</h3> 
                </div>
                <i class="icon-next"></i>
            </div>
        </div>
    </div>
</div>
<promo-code-list (closePromoOfferPopup)="closePromoListPopUp($event)" *ngIf="showPromoOfferPopup">
</promo-code-list>