<section class="screen-view popup select-offers open">
  <div class="container">
    <div class="head-sec">
      <i class="icon-circle-delete f-left" (click)="closePromoOfferPopup.emit(false)"></i>
      <p class="txt">ALL OFFERS</p>
    </div>
  </div>
  
  <app-promo-apply (removeCustomPromoCode)="handleRemoveCustomPromoCode($event)" (applyCustomPromoCode)="handleApplyCustomPromoCode($event)"></app-promo-apply>
  
  <div class="custom-cbox">
    <p class="mt-15 border-top">Take advantage of our exclusive offers</p>
    <ng-container *ngFor="let item of allPromoCodes; let i = index;">
      <label for="{{i}}couponcode" [class.selected]="isCheckedBox.checked" (click)="setPromoCode(item)">          
        <input [id]="i+'couponcode'" type="radio" name="promo-code" value="{{item.promoCode}}" #isCheckedBox>
        <span class="custom-box"></span>
        <span class="chk-txt">
          <span class="promo-label">
              {{item.promoCode}}
          </span>
          <span class="promo-description">{{item.promoDescription}}</span>
          </span>
      </label>
    </ng-container>
  </div>
</section>