<ng-container *ngIf="options.productNew">
    <ng-container *ngIf="contentType=='IMAGE'">
        <div [attr.id]="'prodImg' + itemIndex" class="img-block" (click)="clicked()" >
            <div class="inner_block" >
                <div class="pinch-zoom element" style="transform-origin: 0% 0%;" >
                    <img *ngIf="itemIndex == 0"src="{{item['default']}}" height="330" width="330" alt="{{productName}}" >
                    <img *ngIf="itemIndex > 0" id="{{item['default']}}" height="330" width="330"  >
                </div>
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="contentType=='YOUTUBE_VIDEO'">
        <div [attr.id]="'prodImg' + itemIndex" class="img-block">
            <div class="inner_block">
                <div class="inner_element" style="transform-origin: 0% 0%;">
                    <input class="youtube_icon" (click)="$event.stopPropagation();showYTVideo(item['video'])" type="image" src="{{imageAssetURL}}assets/img/youtube_icon.svg" border="border of the image" alt="text">
                    <img [src]="item['video'] | ytthumbnail:'hqdefault'" height="330" width="330"  >
                </div>
            </div>
        </div>
    </ng-container>
</ng-container>
<!-- slider for home siema -->
<ng-container *ngIf="options?.topCarousel">
    <div class="item pointer wp-100 pad-lr-15">
        <a [routerLink]="item?.link" (click)="setBannerCookie(item?.caption)">
            <img *ngIf="itemIndex == 0" src="{{item.image_name}}" class="wp-100" alt="Banner" width="312" height="117">
            <img *ngIf="itemIndex > 0" id="{{item.image_name}}" class="wp-100" alt="Banner" width="312" height="117">

        </a>
    </div>
</ng-container>
<!-- slider for manufacturer store -->
<ng-container *ngIf="options.manufacturer">
    <div class="supplier_review_section center-block">
        <p>{{item?.image_general[0]?.general_text}}</p>
        <p class="author">{{item?.image_general[0]?.general_url}}</p>
    </div>
</ng-container>
<!-- RFQ brand slides -->
<ng-container *ngIf="options.brandCarousel">
    <div class="no-hover pad-lr-5 block pointer">
        <div class="text-center">
            <div class="img_block pad-tb-xs-15">
                <img src="{{item.src}}" class="img-responsive">
            </div>
        </div>
    </div>
</ng-container>
<ng-container *ngIf="options.testimonial">
    <div class="inner-container test">
        <div>
            <p class="comp-name"><img src="{{item.src}}"></p>
            <p class="cust-name test1">{{item.name}} |
                <span>{{item.company}}</span>
            </p>
            <p class="revw-txt">{{item.review}}</p>
        </div>
        <div class="dots">
            <button class="tsbtn" [class.active]="itemIndex ==  0" (click)="goTo(0,'.testimonial-siema')"></button>
            <button class="tsbtn" [class.active]="itemIndex ==  1" (click)="goTo(1,'.testimonial-siema')"></button>
        </div>
    </div>
</ng-container>
<!-- End RFQ brand slides -->