<app-pop-up (outData$)="outData($event)" [class.open1]="displayVariant2Popup" [headerType]="'pop-up-header1'"
    [data]="{headerText: 'Reviews & Ratings'}">
    <!-- <div class="head-sec header_add_edit" header>
        <div class="container">
            <i class="icon-back f-left white_text" (click)="closeVariant2Popup()"></i>
            <p class="txt header_text page-name">Reviews and Ratings</p>
        </div>
    </div> -->
    <div class="content-popup reviewSection" content>
        <div class="pwa-row">
            <p style="font-size: 14px;">
                {{ rawReviewsData?.productName}}
            </p>
        </div>
        <div class="pwa-row">
            <div class="pwa-col-6">
                <div class="overall-rating">
                    <h3>{{ rawReviewsData?.summaryData?.final_average_rating | number:'1.1-1' }}<i
                            class="icon-rating-star"></i>
                    </h3>
                    <p class="small-txt">Average Rating based on {{ rawReviewsData?.summaryData?.final_rating }}
                        ratings and {{ rawReviewsData?.summaryData?.review_count }} reviews</p>
                </div>
            </div>
            <div class="pwa-col-6">
                <div class="rating-scale">
                    <div class="inner-scale">
                        <span>5</span>
                        <span class="rating-bar">
                            <span class="bar"
                                [style.width.%]="(rawReviewsData?.summaryData?.five_star_count/rawReviewsData?.summaryData?.review_count)*100"
                                class="bar dark-green"></span>
                        </span>
                    </div>
                    <div class="inner-scale">
                        <span>4</span>
                        <span class="rating-bar">
                            <span class="bar"
                                [style.width.%]="(rawReviewsData?.summaryData?.four_star_count/rawReviewsData?.summaryData?.review_count)*100"
                                class="bar light-green"></span>
                        </span>
                    </div>
                    <div class="inner-scale">
                        <span>3</span>
                        <span class="rating-bar">
                            <span class="bar"
                                [style.width.%]="(rawReviewsData?.summaryData?.three_star_count/rawReviewsData?.summaryData?.review_count)*100"
                                class="bar yellow"></span>
                        </span>
                    </div>
                    <div class="inner-scale">
                        <span>2</span>
                        <span class="rating-bar">
                            <span class="bar"
                                [style.width.%]="(rawReviewsData?.summaryData?.two_star_count/rawReviewsData?.summaryData?.review_count)*100"
                                class="bar light-red"></span>
                        </span>
                    </div>
                    <div class="inner-scale">
                        <span>1</span>
                        <span class="rating-bar">
                            <span class="bar"
                                [style.width.%]="(rawReviewsData?.summaryData?.one_star_count/rawReviewsData?.summaryData?.review_count)*100"
                                class="bar red"></span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="pwa-row review-btn">
            <div class="pwa-col-12">
                <button class="btn secondry-btn" (click)="emitWriteReview()">WRITE A REVIEW</button>
            </div>
        </div>
        <div *ngFor="let review of rawReviewsData?.reviewList; let i = index;" class="reviewRow popup-reviewRow">
            <div class="pwa-row innerRow popup-innerRow">
                <div class="pwa-col-6 reviewRow-col">
                    <div class="small-stars">
                        <i class="icon-rating-star" [class.yellow-txt]="review?.rating >= 0"></i>
                        <i class="icon-rating-star" [class.yellow-txt]="review?.rating >= 1"></i>
                        <i class="icon-rating-star" [class.yellow-txt]="review?.rating >= 2"></i>
                        <i class="icon-rating-star" [class.yellow-txt]="review?.rating >= 3"></i>
                        <i class="icon-rating-star" [class.yellow-txt]="review?.rating >= 4"></i>
                    </div>
                    <p class="customer-name">{{review?.user_name}}</p>
                    <p class="small-txt grey-txt cust-date">
                        {{ review?.date_unix | date: 'longDate' }}
                    </p>
                </div>
                <div class="pwa-col-6 align-right">
                    <p class="small-txt green-txt" *ngIf="review?.is_approved">Verified Purchase</p>
                </div>
                <div>
                    <h3 class="heading-3-txt">
                        {{ review?.review_subject }}
                    </h3>
                    <p class="content">
                        {{ review?.review_text }}
                    </p>
                </div>
            </div>
            <div class="pwa-row">
                <div class="pwa-col-6">
                    <!-- <strong>Report Abuse</strong> -->
                </div>
                <div class="pwa-col-6 align-right">
                    <button class="suggstn-btn" [ngClass]="{'active':review.like=='1'}"
                        (click)="$event.stopPropagation();postHelpful(review,'1','0',i)">
                        <span class="small-txt">{{ review?.is_review_helpful_count_yes?.value || 0 }}</span>
                        <i class="icon-like"></i>
                    </button>
                    <button class="suggstn-btn" [ngClass]="{'active':review.dislike=='1'}"
                        (click)="$event.stopPropagation();postHelpful(review,'0','1',i)">
                        <span class="small-txt">{{review?.is_review_helpful_count_no?.value || 0 }}</span>
                        <i class="icon-dislike"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</app-pop-up>