<app-pop-up (outData$)="outData($event)" [class.open1]="displayVariant2Popup" *ngIf="displayVariant2Popup"
    [data]="{class: 'payment-popup addAddressPopup', headerCustom:true}">
    <div class="head-sec header_add_edit" header>
        <div class="container">
            <i class="icon-back f-left white_text" (click)="closeVariant2Popup()"></i>
            <p class="txt header_text page-name">Review & Rating</p>
        </div>
    </div>
    <div class="content-popup card mt-15 pad-15" content>
        <p>review-rating works!</p>
    </div>
</app-pop-up>