<div *ngIf="displayPage">
    
    <div class="pwa-row items-center cart-items-info" *ngIf="isQuickorder">
        <h3 class="pad-0">{{_cartService.getGenericCartSession?.itemsList.length}} item(s) in your cart</h3>
        <button class="btn quaternary-btn-2 add-from-wishlist-item" (click)="openWishList()">+ ADD FROM WISHLIST</button>
    </div>
    <ng-container *ngFor="let item of _cartService.getGenericCartSession.itemsList; let itemIndex = index;">
        <div *ngIf="(!item.oos) && item['text1']" class="realTimePrice">
            <span>{{item['text1']}}
                <strong>{{item['oPrice'] | currency:'INR' : 'symbol' : '1.2-2'}} </strong> to <strong>
                    {{item['nPrice'] | currency:'INR' : 'symbol' : '1.2-2'}}</strong></span>
        </div>
        <!-- use this in for oos item -->
        <div  class="realTimePrice" *ngIf="(item.oos)">
            <span>Product not available for now</span>
        </div>
        <div [ngClass]="{'realTimeUpdate':item['text1']}" class="card relative ">
            <div class="pwa-row pad-0" [ngClass]="{'oos':item.oos}">
                <div class="pwa-col-12">
                    <div class="product-left">
                        <div class="product-img product-img-v2">
                            <img (click)="redirectToProductURL(item.productUrl)" src="{{item.productImg}}">
                        </div>
                    </div>
                    <div class="product-detail">
                        <div class="p-name">
                            <a (click)="redirectToProductURL(item.productUrl)"> {{ (item.productName.length > 50) ?
                                (item.productName | slice:0:59) + '..' : (item.productName) }}</a>
                        </div>
                        <p *ngIf="!item.oos" class="price clearfix">
                            <span class="price-mrp gray-txt"><span class="strike-off-upper"><span
                                        class="strike-off"></span>₹{{item.amount | mathRound | number :
                                    '1.2-2'}}</span>
                                <!-- // remove this discount taxPercentage as this not yet synced with PDP -->
                                <!-- <span class="green-txt">&nbsp;({{item.taxPercentage}}%
                                    OFF)</span> -->
                            </span>
                            <span class="after-disc"
                                *ngIf="item.priceWithoutTax > 0 && item.bulkPrice==null">&nbsp;₹{{item.priceWithoutTax |
                                mathRound | number : '1.2-2'}}
                            </span>
                            <span class="after-disc" *ngIf="item.bulkPrice!==null">&nbsp;₹{{item.bulkPriceWithoutTax |
                                mathRound | number : '1.2-2'}}</span>
                        </p>
                        <p class="prepaid-discount-txt"
                            *ngIf="_cartService.prepaidDataMapping && _cartService.prepaidDataMapping[item.productId] && _cartService.prepaidDataMapping[item.productId]['applicable'] && (_cartService.prepaidDataMapping[item.productId]['minimumCartValue'])">
                            You get {{_cartService.prepaidDataMapping[item.productId]['amount'] | currency:'INR' :
                            'symbol' : '1.0-0'}} prepaid discount</p>
                    </div>

                </div>
            </div>
            <div *ngIf="!item.oos" class="cart-item-block pad-15">
                <div class="qty_section">
                    <span class="qty-txt">Qty</span>
                    <div class="quantity-block">
                        <span *ngIf="item.productQuantity > item.moq"
                            (click)="$event.stopPropagation();handleItemQuantityChanges(itemIndex, 'decrement')"
                            class="remove-qty qty-block">&#8722;</span>
                        <i (click)="$event.stopPropagation();handleItemQuantityChanges(itemIndex, 'decrement')"
                            *ngIf="item.productQuantity <= item.moq" class="icon-bin qty-block single-quantity"></i>
                        <input data-numbersOnly type="text" maxlength="3" [value]="item.productQuantity"
                            (focusout)="$event.stopPropagation();handleItemQuantityChanges(itemIndex, 'update', $event.target.value)" />
                        <span (click)="$event.stopPropagation();handleItemQuantityChanges(itemIndex, 'increment')"
                            class="add-qty qty-block">&#43;</span>
                    </div>
                </div>
                <div class="price-dtl-block">
                    <span class="price-block-left" [appKpToggle]="{idName:'showPrice'+(itemIndex+1),iconMode : true}">
                        <span>
                            <strong *ngIf="item.bulkPrice === null && !item.oos"
                                class="price-val">{{item.priceWithoutTax *
                                item.productQuantity | mathRound | currency:'INR' : 'symbol' : '1.2-2' }}</strong>
                            <strong *ngIf="item.bulkPrice !== null && !item.oos"
                                class="price-val">{{item.bulkPriceWithoutTax *
                                item.productQuantity | mathRound | currency:'INR' : 'symbol' : '1.2-2' }}</strong><br>
                            <strong *ngIf="item.oos" class="price-val">Not Available</strong>
                            <span class="grey-txt" *ngIf="item?.shippingCharges == 0 && !item?.oos">Price Details</span>
                            <span class="grey-txt" *ngIf="item?.shippingCharges > 0 && !item?.oos">Price + Shipping
                            </span>
                            <span id="natxt" class="grey-txt " *ngIf="item.oos">NA</span>
                        </span>
                        <i class="icon-down"></i>
                    </span>
                </div>
            </div>

            <!-- <div class="cart-btm pad-15 ">
                <span class="coup-disc green-txt">Coupon discount - ₹100</span>
                <span class="free-ship green-txt">Free Shipping <i class="icon-free_shipping"></i></span>
            </div> -->
            
            <div class="pwa-row pad-t-0"
                *ngIf="_cartService.prepaidDataMapping && _cartService.prepaidDataMapping[item.productId] && !(_cartService.prepaidDataMapping[item.productId]['applicable']) && (_cartService.prepaidDataMapping[item.productId]['amount']) && (_cartService.prepaidDataMapping[item.productId]['minimumCartValue'])">
                <div class="shop-more-container">
                    <p class="shop-more-text">Shop more for {{_cartService.prepaidDataMapping[item.productId]['amount']|
                        currency:'INR' : 'symbol' : '1.0-0'}} & get <span
                            class="prepaid-discount-txt"><strong>{{_cartService.prepaidDataMapping[item.productId]['discountIn']|
                                currency:'INR' : 'symbol' : '1.0-0'}} prepaid discount</strong></span> in the same
                        category.</p>
                    <p class="add-products-btn"
                        (click)="similarProduct(item.productName,item.categoryCode,item.brandName,item.productId)">ADD
                        PRODUCTS</p>
                </div>
            </div>
            <div class="pwa-row pad-t-0" *ngIf="_cartService.prepaidDataMapping && _cartService.prepaidDataMapping[item.productId] && (_cartService.prepaidDataMapping[item.productId]['applicable']) 
            && (_cartService.prepaidDataMapping[item.productId]['minimumCartValue']==null)
            && (_cartService.prepaidDataMapping[item.productId]['amount'])
            && (_cartService.prepaidDataMapping[item.productId]['discountIn'])">
                <div class="shop-more-container sigle-line-txt">
                    <p><span class="prepaid-discount-txt"><strong>Extra
                                {{_cartService.prepaidDataMapping[item.productId]['discountIn']}} OFF</strong></span>
                        while you make online payment.</p>
                </div>
            </div>
            <div *ngIf="item.oos" class="oos-item-block">
                <div (click)="$event.stopPropagation();removeItemFromCart(itemIndex, null);deleteProduct($event);">
                    <span>
                        <i class="icon-bin"></i>
                        REMOVE
                    </span>
                </div>
                <div class="oos-text" *ngIf="isQuickorder" (click)="openSimillarList(item.msnid, item)">
                    <h3 class="font-medium red-txt ">VIEW SIMILAR ITEMS</h3>
                </div>
            </div>
            <div [ngClass]="{'oos':item.oos}" class="price-breakup" [id]="'showPrice'+(itemIndex+1)"
                style="display: none">
                <ul class="txt-list">
                    <li>
                        <span class="tag-label">Price</span>
                        <span class="tag-value">{{ item.tpawot | mathRound | currency:'INR' : 'symbol' : '1.2-2'
                            }}</span>
                    </li>
                    <li>
                        <span class="tag-label">{{item.taxPercentage}}% GST </span>
                        <span class="tag-value">₹{{ (item.tax | mathRound | number : '1.2-2') || 0 }}</span>
                    </li>
                    <li>
                        <span class="tag-label">Shipping</span>
                        <span class="tag-value">₹{{ (item.shippingCharges | mathRound | number : '1.2-2') || 0 }}</span>
                    </li>
                    <li>
                        <span class="tag-label">Coupon Discount</span>
                        <span class="tag-value green-txt">-₹{{(item.offer ? item.offer : 0) | mathRound | number :
                            '1.2-2'}}</span>
                    </li>
                    <li class="bold-txt">
                        <span class="tag-label">Total</span>
                        <span class="tag-value">₹{{ (item.totalPayableAmount + item.shippingCharges - item.offer |
                            mathRound |number : '1.2-2') || 0 }}</span>
                    </li>
                </ul>
            </div>
            <div class="cart-btm pad-15 " *ngIf="(item.offer >0) || (item.shippingCharges >0) ">
                <span class="coup-disc green-txt" *ngIf="item.offer > 0">Coupon discount - ₹{{(item.offer ? item.offer : 0) | mathRound | number :
                    '1.2-2'}}</span>
                <span class="free-ship green-txt" *ngIf="item.shippingCharges >0">Free Shipping <i class="icon-free_shipping"></i></span>
            </div>
            <!-- DO NOT REMOVE THIS SECTION IT WAS OF NEW DESIGN TO BE IMPLEMENTED LATER -->
            <!-- <div  class="coupen-and-discount">
                    <span>Coupon discount - ₹100</span>
                    <span>Free Shipping<i class="icon-delivery_y_5"></i></span>
                </div> -->
        </div>
    </ng-container>
</div>


<app-bottom-menu *ngIf="removableItem !== null">
    <div content>
        <div class="content-area removePopup">
            <div class="top-header-bottom-menu">
                <h3 class="heading-3">Are you sure to remove this item?</h3>
                <i class="icon-circle-delete" (click)="$event.stopPropagation();resetRemoveItemCart();"></i>
            </div>
            <div [ngClass]="{'realTimeUpdate':removableItem['text1']}" class="pwa-row pad-tb-15">
                <div class="pwa-col-12">
                    <div *ngIf="removableItem['text1']" class="realTimePrice">
                        <span>{{removableItem['text1']}}
                            <strong>{{removableItem['oPrice'] | currency:'INR' : 'symbol' : '1.2-2'}} </strong> to
                            <strong>
                                {{removableItem['nPrice'] | currency:'INR' : 'symbol' : '1.2-2'}}</strong></span>
                    </div>
                    <div class="pwa-row static-small-card-container">
                        <div class="product-img">
                            <img (click)="redirectToProductURL(removableItem.productUrl)"
                                src="{{removableItem.productImg}}">
                        </div>
                        <div class="product-description">
                            <p class="description-txt">{{ (removableItem.productName.length > 50) ?
                                (removableItem.productName | slice:0:48) + '..' : (removableItem.productName) }}</p>
                            <p class="product-qty" *ngIf="removableItem.packageUnit">Qty/Pack
                                :{{removableItem.packageUnit}}</p>
                            <!-- <p class="product-qty" *ngIf="!(removableItem.packageUnit)">Qty/Pack :{{removableItem.productQuantity}} Piece</p> -->
                        </div>
                    </div>
                    <div class="cta-row">
                        <button class="btn secondry-btn-1" (click)="$event.stopPropagation();deleteProduct($event)"><i
                            class="icon-bin"></i>&nbsp;REMOVE</button>
                        <button *ngIf="isQuickorder" (click)="$event.stopPropagation();addToPurchaseList();" cstatic-small-card-container
                            class="btn secondry-btn">MOVE TO WISHLIST</button>
                        <!-- <button class="btn secondry-btn" (click)="$event.stopPropagation();deleteProduct($event)"><i
                                class="icon-bin"></i>&nbsp;REMOVE</button> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</app-bottom-menu>

<ng-container #cartAddProductPopup></ng-container>