@import "./../../../scss/variables";
@import "../orders.scss";
@import "../../../scss/layout/card-boxed.scss";

.orderShipDet {
    .businessBox {
        margin: 0px;
        border: none;
        border: 1px solid var(--ghost-white);
        padding-bottom: 0px;
        .top_txt {
            padding: 5px 15px;
        }
    }
}
.orderbox {
    margin-bottom: 10px;
    padding: 0;
    padding-bottom: 1px;
    background-color: var(--white);
    &:first-child{
        padding-top:10px;
    }
    .orderSum {
        padding: 8px 15px 10px;
        // border-bottom: 1px solid var(--ghost-white);
        width: 100%;
        position: relative;
        .orderId {
            // display: block;
            color: var(--spanish-gray);
            font-size: $large-font;
            font-weight: $font-bolder;
            margin-bottom: 1px;
        }
        .orderDate{
            display:block !important;
        }
        .orderOthDet {
            span {
                display: inline-block;
                font-size: $medium-font;
                color: var(--spanish-gray);
            }
        }
    }
}

.orderIdtab {
    background: var(--white);
}

.orderdtBox {
    @extend %cards;
    padding-left: 0;
    padding-right: 0;
    position: relative;
    border: none !important;
    .orderdtBoxinner {
        position: relative;
        min-height: 80px;
        // padding: 0 10px;
        margin-bottom: 10px;
        border: 1px solid var(--ghost-white);
        border-radius: $border-radius-8;
        padding-top: 10px;
        &:last-child {
            margin-bottom: 0;
        }
        .orderdtbottom{
            display: flex;
            justify-content: space-between;
            align-items: center;
            
            .orderdtbottom-inner{
                
            }
            .orderstatus{
                color: var(--onyx-black) !important;
                font-size: $small-font;
                font-weight: bold;
                
            }
        }
    }
}
.norder {
    position: absolute;
    background: var(--white);
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    top: 0px;
    img {
        position: absolute;
        left: 0;
        right: 0;
        top: 24%;
        display: block;
        margin: auto;
        width: 200px;
    }
    .noordertext {
        font-size: 16px;
        bottom: 25%;
        position: absolute;
        left: 0;
        right: 0;
    }
}
.textgreen {
    color: var(--slimy-green);
}
.ico-order {
    position: absolute;
    right: 10px;
    top: 10px;
}

.status-circle {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-right: 10px;
}