@import "./../../../scss/variables";
pagination-controls {
    ul.ngx-pagination {
        float: none;
        text-align: center;
        width: 100%;
        overflow: hidden;
        margin-top: 0px;
        li {
            border-radius: 50%;
            height: 30px;
            width: 30px;
            text-align: center;
            font-size: $medium-font;
            padding: 0px !important;
            line-height: 30px;
            cursor: pointer;
            font-weight: $font-bolder;
        }
        li.current {
            background: #53534f;
            span {
                color: #fff;
            }
        }
    }
}

.ngx-pagination a:hover,
.ngx-pagination button:hover {
    background: transparent !important;
}

.orderbox {
    margin-bottom: 10px;
    padding: 0;
    .orderSum {
        padding: 8px 15px 10px;
        border-bottom: 1px solid #f2f2f2;
        position: relative;
        .orderId {
            display: block;
            color: #303030;
            font-size: $large-font;
            font-weight: $font-bolder;
            margin-bottom: 1px;
        }
        .orderOthDet {
            span {
                display: inline-block;
                font-size: $medium-font;
                color: #7a7a7a;
            }
        }
    }
}

.orderIdtab {
    background: #fff;
}

.orderdtBox {
    @extend %cards;
    padding-left: 0;
    padding-right: 0;
    position: relative;
    .orderdtBoxinner {
        position: relative;
        min-height: 80px;
        padding: 0 10px;
        margin-bottom: 10px;
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.ordercancBox {
    h3 {
        font-size: $medium-font;
        font-weight: $font-bolder;
        color: #222;
        margin-top: 10px;
        span {
            color: #777;
        }
    }
    h4 {
        font-size: $small-font;
        font-weight: 400;
        margin-bottom: 5px;
    }
    .cancreasons {
        select {
            border: 1px solid #ccc;
            height: 30px;
            width: 100%;
            border-radius: 3px;
            padding: 0 10px;
            background: #fff;
            font-size: $medium-font;
            color: #555;
        }
    }
}

.confirmbtn {
    background: $green-color;
}

.cancbtn {
    background: #555;
}

.actionbuttons {
    margin: 10px 0;
    button {
        padding: 8px 10px;
        border-radius: 2px;
        margin-right: 10px;
    }
}

.ordertrack {
    border-top: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    h3 {
        font-size: $medium-font;
        text-transform: uppercase;
        font-weight: $font-bolder;
        position: relative;
        .ordertrStatus {
            margin-left: 15px;
            color: #53534f;
            font-weight: 400;
            font-size: $medium-font;
            text-transform: capitalize;
            &.ordertrStatus {
                &.delivered {
                    color: $green-color;
                }
                &.cancelled,
                &.process {
                    color: #303030;
                }
            }
        }
        .gototarckorder {
            position: absolute;
            right: 0;
            color: $blue-link-color;
            height: 35px;
            top: 0;
            width: 20px;
            line-height: 35px;
        }
    }
}

.rateprod {
    padding: 10px 15px;
    margin-top: 15px;
    h4 {
        font-size: $large-font;
        color: #303030;
        font-weight: 400;
        margin-bottom: 7px;
    }
    .rate {
        position: relative;
        .ratestar {
            cursor: pointer;
            font-size: $extra-large-font;
            span {
                color: #a2a2a2;
                margin-right: 3px;
                &.rated {
                    color: $trackeryellow;
                }
            }
        }
        .writeReview {
            position: absolute;
            right: 0;
            top: -1px;
            color: $blue-link-color;
            font-size: $medium-font;
            cursor: pointer;
            display: inline-block;
        }
    }
}

.orderaddressBox {
    @extend %cards;
    h3 {
        color: #323232;
        font-size: $extra-large-font;
        font-weight: $font-bolder;
        text-transform: uppercase;
        padding-top: 0;
        padding-bottom: 5px;
    }
    span {
        font-size: $medium-font;
        line-height: 20px;
        display: block;
    }
}

.ordersumBox {
    @extend %cards;
    padding-right: 0;
    padding-left: 0;
    margin: 10px 0;
    h5 {
        padding: 10px 15px;
        font-size: $large-font;
        color: #141414;
        font-weight: 500;
        border-bottom: 1px solid #ddd;
        margin-bottom: 12px;
        span {
            float: right;
            display: inline-block;
            font-weight: $font-bolder;
        }
    }
    .chargestext {
        padding: 5px 15px;
        font-size: $medium-font;
        span {
            float: right;
            display: inline-block;
            &.paymode {
                font-size: $large-font;
            }
        }
    }
    .totPrice {
        padding: 10px 15px;
        font-size: $extra-large-font;
        color: #141414;
        font-weight: $font-bolder;
        margin-top: 12px;
        border-top: 1px solid #ddd;
        span {
            float: right;
            display: inline-block;
            font-weight: $font-bolder;
        }
    }
}

.trackOrderBox {
    @extend %cards;
    position: relative;
    color: #303030;
    border: 0;
    h3 {
        font-size: $extra-large-font;
        font-weight: $font-bolder;
        span {
            vertical-align: middle;
            margin-right: 10px;
            cursor: pointer;
        }
    }
    .orderdet {
        font-size: $large-font;
        padding: 10px 0;
        margin-bottom: 20px;
        h4 {
            font-weight: $font-bolder;
            font-size: $large-font;
            margin-bottom: 8px;
        }
        p {
            font-size: $medium-font;
        }
    }
    .trackerWrap {
        padding: 20px 0;
        list-style: none;
        position: static;
        li {
            position: relative;
            padding-left: 32px;
            height: 70px;
            &:last-child {}
            .grtrackerline {
                position: absolute;
                left: 0;
                width: 16px;
                height: 16px;
                border-radius: 50%;
                top: 0;
                z-index: 1;
                &.grtrackerline-40 {
                    left: calc(30% - 6px);
                }
            }
            &.newTrackerStyle {
                padding-left: 5px;
                &:before {
                    left: 30%;
                    border-left: 2px solid $trackeryellow;
                }
                &:first-child {
                    &:after {
                        display: none;
                    }
                }
                &:last-child {
                    &:after {
                        position: absolute;
                        left: calc(30% - 6px);
                        width: 16px;
                        height: 16px;
                        border-radius: 50%;
                        top: 0;
                        background: $green-color;
                        content: "";
                    }
                }
                .grLeftTracker {
                    width: 30%;
                    float: left;
                    padding-right: 30px;
                }
                .grRightTracker {
                    width: 70%;
                    float: right;
                    padding: 0px 30px 0px 30px;
                }
            }
            &:before {
                content: "";
                position: absolute;
                left: 6px;
                border-left: 2px solid #ddd;
                height: 70px;
                top: -55px;
            }
            .trackerdate {
                color: #7a7a7a;
                font-size: $medium-font;
                padding-top: 0px;
                span {
                    display: block;
                    font-size: $medium-font;
                    margin-top: 3px;
                }
            }
            .tracker_date {
                float: left;
                width: 40%;
                position: relative;
                text-align: right;
                padding-right: 20px;
                &:after {
                    content: "";
                    position: absolute;
                    right: 0px;
                    border-right: 3px solid #ddd;
                    width: 1px;
                    height: 70px;
                    top: 0px;
                }
                .tracker_span {
                    position: absolute;
                    right: -6px;
                    width: 16px;
                    height: 16px;
                    border-radius: 50%;
                    top: 0;
                    z-index: 1;
                    background: white;
                    border: 3px solid #ddd;
                }
            }
            .tracker_status {
                float: right;
                width: 60%;
                padding-left: 15px;
            }
            &.green_solid {
                .tracker_span {
                    background: $green-color;
                }
                &:before {
                    border-left: 1px solid $green-color;
                    border-right: 1px solid $green-color;
                    background: $green-color;
                }
                .trackerdate {
                    color: #141414;
                }
            }
            &.grsolid {
                .grtrackerline {
                    background: $green-color;
                }
                &:before {
                    border-left: 1px solid $green-color;
                    border-right: 1px solid $green-color;
                    background: $green-color;
                }
                .trackerdate {
                    color: #141414;
                }
            }
            &.grdashed {
                .grtrackerline {
                    background: #fff;
                    border: 1px solid #e1e1e1;
                }
                &:before {
                    border-left: 2px solid #e1e1e1;
                    // border-right: 1px solid #7A7A7A;
                    background: #fff;
                }
            }
            &.redsolid {
                .grtrackerline {
                    background: $error-color;
                }
                &:before {
                    border-left: 1px solid $error-color;
                    border-right: 1px solid $error-color;
                    background: $error-color;
                }
                .trackerdate {
                    color: #141414;
                }
            }
            &.yellsolid {
                .grtrackerline {
                    background: $trackeryellow;
                }
                &:before {
                    border-left: 2px solid $trackeryellow;
                    background: $trackeryellow;
                }
                .trackerdate {
                    color: #141414;
                }
            }
            &:first-child {
                &:after {
                    position: absolute;
                    left: 0;
                    width: 16px;
                    height: 16px;
                    border-radius: 50%;
                    top: 0;
                    background: $green-color;
                    content: "";
                }
                &:before {
                    background: none;
                    border: none;
                }
            }
        }
    }
}

.bottomft {
    position: absolute !important;
    bottom: 0;
    height: 50px;
    line-height: 49px;
    text-align: center;
    border-top: 2px solid #e3e3e3;
    left: 0;
    right: 0;
    span {
        text-transform: uppercase;
        font-size: $small-font;
        cursor: pointer;
        width: 50%;
        display: inline-block;
        border-right: 1px solid #ddd;
        color: #278bed;
        &:last-child {
            border-right: none;
        }
    }
}

.textgreen {
    color: $green-color;
}

.singleitem {
    padding-bottom: 50px;
}

.downloadinv {
    margin-top: 10px;
    @extend %cards;
    color: $blue-link-color;
    position: relative;
    font-size: $extra-large-font;
    padding: 15px 10px;
    cursor: pointer;
    &>i {
        color: #868686;
        font-size: 16px;
        margin-right: 10px;
    }
    .openemail {
        position: absolute;
        right: 15px;
        i {
            color: #868686;
            font-size: 16px;
        }
    }
}

.trackOrderBox {
    &.singleproStatus {
        border: none;
        padding: 0 15px;
        li {
            padding-left: 40px;
            font-size: $small-font;
            height: 84px;
            &:before {
                width: 0px;
                left: 10px;
                height: 84px;
                bottom: 84px;
            }
            .trackerdate {
                font-size: $small-font;
                span {
                    font-size: $small-font;
                }
                .dateTxt {
                    font-weight: bold;
                    color: #000;
                    small {
                        color: #989898;
                        font-size: $small-font;
                        display: block;
                        margin-top: 3px;
                        font-weight: normal;
                    }
                }
            }
            .gotoTrackerpage {
                font-size: 12px;
                color: #3875fd;
                display: inline-block !important;
                padding-left: 10px;
                .see-details {
                    color: #989898;
                }
            }
        }
    }
}

.rpolicy {
    margin-top: -40px;
    padding-left: 40px;
    font-size: $small-font;
    line-height: 15px;
    span {
        cursor: pointer;
        color: $blue-link-color;
    }
}

.singrating {
    border-top: 1px solid #ddd;
}

.returnOrderBox {
    @extend %cards;
    position: relative;
    color: #303030;
    height: 100%;
    padding-bottom: 60px;
    h3 {
        font-size: $extra-large-font;
        font-weight: $font-bolder;
        span {
            vertical-align: middle;
            margin-right: 10px;
            cursor: pointer;
        }
    }
    .reselect {
        border: 1px solid #888;
        padding: 10px;
        font-size: $medium-font;
        width: 100%;
        margin-bottom: 10px;
        span {
            display: block;
            position: relative;
            i {
                position: absolute;
                right: 0;
                font-size: 17px;
            }
        }
    }
    h4 {
        font-size: $medium-font;
        font-weight: $font-bolder;
        margin-bottom: 10px;
    }
}

.addimg {
    position: relative;
    line-height: 80px;
    width: 80px;
    height: 80px;
    border: 1px solid #666;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    margin-right: 10px;
    margin-bottom: 10px;
    input {
        position: absolute;
        left: 0;
        right: 0;
        width: 100%;
        top: 0;
        bottom: 0;
        opacity: 0;
    }
    i {
        font-size: 17px;
    }
}

.uppic {
    display: inline-block;
    border: 1px solid #666;
    position: relative;
    vertical-align: top;
    margin-right: 10px;
    margin-bottom: 10px;
    &:last-child {
        margin-right: 0;
    }
    img {
        display: block;
    }
    span {
        position: absolute;
        right: 0;
        color: #666;
        z-index: 1;
        cursor: pointer;
    }
}

.bottomBtn {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: $large-font;
    font-weight: $font-bolder;
    text-align: center;
    height: 50px;
    background: #fff;
    color: $blue-link-color;
    right: 0;
    width: 100%;
    box-shadow: 0px -3px 9px #ddd;
    border: none;
    border-radius: 0 !important;
    &.disabled {
        background: #b6b6b6;
        color: #fff;
    }
}

.returnedOrder {
    border: none;
    padding: 10px 0;
    .orderdtBoxinner {
        padding: 0;
        &>p {
            color: #8c8c8c;
            font-size: $medium-font;
            line-height: 18px;
            margin-bottom: 10px;
        }
        .note {
            color: #424242;
            font-size: $medium-font;
            line-height: 18px;
            strong {
                font-weight: 600;
            }
        }
    }
}

h4.pophead {
    padding: 10px;
    font-size: $medium-font;
    margin: 0;
}

.selectPopup {
    padding: 0px;
    list-style: none;
    border-top: 1px solid #ddd;
    font-size: 12px;
    max-height: 208px;
    overflow-y: auto;
    li {
        padding: 10px;
        font-size: $medium-font;
        line-height: 20px;
        border-bottom: 1px solid #ddd;
    }
    .checkmark {
        position: absolute;
        top: 3px;
        right: 0;
        height: 16px;
        width: 16px;
        background-color: #fff;
        border-radius: 50%;
        border: 1px solid #888;
        &:after {
            content: "";
            position: absolute;
            display: none;
        }
    }
    .seltext {
        display: block;
        position: relative;
        margin-bottom: 0px;
        padding-right: 30px;
        cursor: pointer;
        font-size: $medium-font;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
        }
        &:hover input~.checkmark {
            background-color: #ccc;
        }
        input:checked~.checkmark {
            background-color: #fff;
            border: 1px solid $blue-link-color;
        }
        input:checked~.checkmark:after {
            display: block;
        }
        .checkmark:after {
            top: 2px;
            left: 2px;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background: $blue-link-color;
        }
    }
}

.confirmbtn {
    background: $btn-color;
    text-transform: uppercase;
    box-shadow: none;
    color: #fff;
    font-size: 16px;
}

.cancelOrderBox {
    .commentBox {
        border: 1px solid #888;
        padding: 10px;
        font-size: $medium-font;
        width: 100%;
        margin-bottom: 10px;
        height: 100px;
    }
}

.cancOrderPop {
    padding: 10px 15px;
    h4 {
        font-size: $extra-large-font;
        text-align: center;
        padding: 10px;
        margin-bottom: 25px;
        text-transform: uppercase;
    }
    p {
        font-size: $medium-font;
    }
    .cancAction {
        margin: 20px 0 0;
        .btn {
            width: 100px;
            text-align: center;
            font-size: $large-font;
            text-transform: uppercase;
            border-radius: 3px;
            padding: 9px 10px;
            width: 47%;
            &.yes {
                color: #707070;
                border: 1px solid #707070;
                background: #fff;
                margin-right: 10px;
            }
            &.no {
                color: #fff;
                background: $btn-color;
                border: 1px solid $btn-color;
            }
        }
    }
}

.gotoTrackerpage {
    font-size: 12px;
    .icon-next {
        cursor: pointer;
        z-index: 10;
        margin-left: 5px;
        font-size: 10px;
    }
}

.overlay1 {
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    overflow-y: hidden;
    transition: 0.5s;
    overflow-y: scroll;
}

.orderdtDesc {
    position: relative;
    margin-bottom: 10px;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    &:last-child {
        border-bottom: none;
        margin-bottom: 0;
        padding-bottom: 0;
    }
    &:last-child {
        border: none;
    }
    .moreOptions {
        position: absolute;
        right: -11px;
        cursor: pointer;
        font-size: $extra-large-font;
        top: 0;
    }
    .orderproImg {
        float: left;
        width: 27%;
        padding: 5px;
        border: 1px solid #ddd;
        img {
            display: block;
            max-height: 100%;
            max-width: 100%;
        }
    }
    .orderproDesc {
        width: 73%;
        padding-left: 15px;
        float: right;
        padding-right: 5px;
        p {
            font-size: $large-font;
            color: #000;
            cursor: pointer;
            margin-bottom: 5px;
            line-height: 17px;
        }
        .orderstatus {
            font-size: $medium-font;
            display: block;
            span {
                display: block;
                padding-top: 3px;
            }
        }
        .orderqty {
            font-size: $medium-font;
            margin-bottom: 8px;
            .qtyleft {
                display: block;
                margin-bottom: 5px;
                color: #444;
                span {
                    font-weight: $font-bolder;
                    color: #111;
                }
                small {
                    color: #989898;
                    padding-left: 5px;
                }
            }
            .priceright {
                display: block;
                span {
                    font-weight: $font-bolder;
                    font-size: $large-font;
                }
            }
        }
    }
}

.iconaccordian {
    float: right;
}

.icon-next {
    &.ico-right {
        font-size: 11px;
        margin-left: 12px;
    }
}

.ico-order {
    position: absolute;
    right: 10px;
    top: 10px;
}

.buy-again {
    background: #f2720f;
    border: none;
    font-weight: 600;
    padding: 8px 10px;
    border-radius: 3px;
    color: #fff;
    font-size: 12px;
    a {
        color: #fff;
        display: block;
    }
}

.orderShipDet {
    .businessBox {
        margin: 0px;
        border: none;
        border-top: 1px solid #ccc;
        padding-bottom: 0px;
        .top_txt {
            padding: 5px 15px;
        }
    }
}

.norder {
    position: absolute;
    background: #fff;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    top: 60px;
    img {
        position: absolute;
        left: 0;
        right: 0;
        top: 7%;
        display: block;
        margin: auto;
    }
    .noordertext {
        font-size: 16px;
        bottom: 25%;
        position: absolute;
        left: 0;
        right: 0;
    }
    .startshop {
        position: absolute;
        bottom: 0;
        height: 50px;
        width: 100%;
        box-shadow: 1px 1px 15px #ccc;
        left: 0;
        right: 0;
        font-size: $large-font;
        background: #fff;
        color: $blue-link-color;
    }
}