@import '../../../scss/variables';
.key-features {
    padding: 15px 15px;
    background: var(--white);
    font-size: $large-font;
    .feature-list {
        li {
            p{
                margin-bottom :10px;
                &:before {
                    content:"•";
                    font-size:$extra-large-3-font;
                    padding-right: 10px;
                    vertical-align: top;
                    line-height: $medium-line-height;
                }
            }
            span {
                display: inline-block;
                width: 90%;
                line-height: $medium-line-height;
                vertical-align: top;
            }
        }
    }
}