<div class="category-page-container" *ngIf="data['data'] && data['data'].length > 0">
    <div class="view-all-strip ">
        <h3 class="heading-3">{{data.title}}</h3>
    </div>
    <div class="pl-15 pb-15">
        <product-card-vertical-container [numberOfItems]="ProductsData.length">
            <ng-container *ngFor="let product of ProductsData">
                <product-card-vertical-grid-view [moduleUsedIn]="'new arrival'" [product]="product">
                </product-card-vertical-grid-view>
            </ng-container>
        </product-card-vertical-container>
    </div>
</div>