<app-pop-up-variant2 (outData$)="outData($event)" [class.open1]="openEMIStepsPopup" *ngIf="openEMIStepsPopup"
    [data]="{class: 'payment-popup addAddressPopup addEmiSteps',headerCustom:true}">
    <div class="head-sec" header>
        <div class="container">
            <i class="icon-back f-left white_text" (click)="closeEMISteps($event)"></i>
            <p class="txt header_text page-name"> Pay In Installment in 4 Easy Steps...</p>
        </div>
    </div>
    <div class="content-popup card mt-15 pad-15" content>
        <div class="emi-steps">
            <h3 class="heading">Pay In Installment in 4 Easy Steps...</h3>
            <div class="step-num">
                <div class="number">
                    <span>1.</span>
                </div>
                <div class="det">
                    <p>See EMI plans of eligible products on product page.</p>
                </div>
            </div>
            <div class="step-img">
                <img src="assets/img/step1.png">
            </div>
            <div class="step-num">
                <div class="number">
                    <span>2.</span>
                </div>
                <div class="det">
                    <p>SAt the time of checkout select your plan as per your convenience</p>
                </div>
            </div>
            <div class="step-img">
                <img src="assets/img/step2.png">
            </div>
            <div class="step-num">
                <div class="number">
                    <span>3.</span>
                </div>
                <div class="det">
                    <p>Continue by filling you debit/credit card detail.</p>
                </div>
            </div>
            <div class="step-img">
                <img src="assets/img/step4.png">
            </div>
            <div class="step-num">
                <div class="number">
                    <span>4.</span>
                </div>
                <div class="det">
                    <p>After placing order, you will receive an email confirmation of your order, your monthly installment plan & terms.</p>
                </div>
            </div>
            <div class="step-img">
                <img src="assets/img/step4.png">
            </div>
            <div class="step-blw-det">
                <p>No Cost EMI offer of Moglix enables users to purchase *everything on EMI and experience easy shopping. This special scheme allows customers to purchase expensive products on EMI at the original price of the product that is split equally across the **EMI tenure. The interest a buyer is liable to pay is offered as an upfront discount on checkout. So, there are no addition costs such as interest, down payment or processing fee. Moglix offers No Cost EMI on all products across the site.</p>
                <p><strong>*Minimum order placed should be Rs.3000</strong></p>
                <p><strong>**Applicable on EMI tenure for 3 and 6 months only, across all banks.</strong></p>
                <p class="tnc">Terms and Conditions:</p>
                <div class="step-emi-det">
                    <h4>EMI Details</h4>
                    <ul>
                        <li>Select your preferred EMI option at the time of payment.</li>
                        <li>Final EMI is calculated on the total value of your order at the time of payment.</li>
                        <li>The Bank charges annual interest rates according to the reducing monthly balance. In the monthly reducing cycle, the principal is reduced with every EMI and the interest is calculated on the outstanding balance.</li>
                        <li> The minimum order value to avail the EMI payment option is Rs 3,000. In case of any kind of refund in an EMI transaction, interest already billed in a particular transaction will not be refundable under any circumstances. </li>
                        <li>While you will not be charged a processing fee for availing EMI option, the interest charged by the bank shall not be refunded.</li>
                        <li>You may check with the respective bank/issuer on how a cancellation, refund or pre-closure could affect the EMI terms, and what interest charges would be levied on you for the same.</li>
                      </ul> 
                </div>
            </div>
        </div>
    </div>
</app-pop-up-variant2>
