.emi-steps{
    .emiStepHeading{
        display: flex;
        align-items: center;
        padding-bottom: 20px;
        letter-spacing: 0.5px;
        i{
            margin-left: auto;
            font-size: 18px;
        }
    }
    .step-num{
        display: flex;
        align-items: flex-start;
        .number{
            width: 10%;
            span{
                font-size: 26px;
                line-height: 34px;
                color: #299E22;
            }
        }
        .det{
            width: 60%;
            
        }
    }
    .step-img{
        padding: 20px 10px;
    }
    .step-blw-det{
        p{
            line-height: 18px;
            margin-top: 20px;
        }
        .tnc{
            color: #979797;
            font-size: 10px;
        }
        .step-emi-det{
            margin-top: 20px;
            ul{
                margin-left: 10px;
                list-style-type: disc;
                li{
                    font-size: 10px;
                    line-height: 18px;
                    margin-top: 10px;
                }
            }
        }
    }
}

