@import '../../scss/variables';

.copyright-container{
    background: var(--white);
    .pwa-text{
        line-height: $large-line-height;
    }
    .disc-list{
        list-style: inherit;
        padding: 5px 10px;
        li{
            padding: 5px;
        }
    }
}