@import './../../../../scss/variables';
@import '../../../../scss/layout/forms.scss';
i.icon-circle-delete {
    z-index: 2;
}
.applied-code {
    position: relative;
    input:read-only {
        color: var(--slimy-green);
    }
    button:disabled {
        background: var(--slimy-green);
        border: 1px solid var(--slimy-green);
    }
    i {
        position: absolute;
        top: 12px;
        right: 128px;
        font-size: 16px;
    }
    .outline-input-label{
        margin-bottom: 0;
        width: 70%;
    }
    .apply-coupon{
        display: flex;
        label{
            margin-right:10px;
        }
        button{
            font-weight: 600;
            width: 30%;
            border-radius: $border-radius-8;
            font-size: $large-font;
        }
    }
}
.disabled{
    background: var(--form-label-grey);
}