<form class="promo-code container applied-code" (ngSubmit)="_cartService.genericApplyPromoCode()" autocomplete="off">
  <input autocomplete="false" name="hidden" type="text" style="display:none;">
  <div class="pos-rel">
    <input required name="appliedcart" type="text" placeholder="Enter Promocode here" [(ngModel)]="_cartService.appliedPromoCode" [readonly]="_cartService.isPromoCodeApplied"/>
    <i class="icon-circle-delete" *ngIf="_cartService.isPromoCodeApplied" (click)="$event.stopPropagation();_cartService.genericRemovePromoCode()"></i>
    <button type="submit" [disabled]="_cartService.isPromoCodeApplied">APPLY</button>
  </div>
</form>