<form class="pwa-row applied-code material-form" (ngSubmit)="_cartService.genericApplyPromoCode()">
  <div class="pwa-col-12 apply-coupon">
    <div class="outline-input-label">
      <label [class.is-focus]="couponCode.value.length!=0">
        <input #couponCode required name="appliedcart" type="text" [(ngModel)]="_cartService.appliedPromoCode" />
        <i class="icon-circle-delete" *ngIf="_cartService.appliedPromoCode" (click)="_cartService.genericRemovePromoCode()"></i>
        <span  class="label">Enter Promocode Here</span>
      </label>
    </div>
    <button class="btn secondry-btn">APPLY</button>
  </div>
</form>