@import './../../../../scss/variables';
@import '../../../../scss/layout/forms.scss';
i.icon-circle-delete {
    z-index: 2;
}
.applied-code {
    position: relative;
    input:read-only {
        color: var(--slimy-green);
    }
    button:disabled {
        background: var(--slimy-green);
        border: 1px solid var(--slimy-green);
    }
    i {
        position: absolute;
        top: 12px;
        right: 128px;
        font-size: 16px;
    }
    .outline-input-label{
        margin-bottom: 0;
        width: 70%;
    }
    .apply-coupon{
        display: flex;
        label{
            margin-right:10px;
        }
        button{
            font-weight: 600;
            width: 30%;
            border-radius: $border-radius-8;
            font-size: $large-font;
        }
    }
}
.disabled{
    background: var(--form-label-grey);
}

.coupen-strip {
    display: flex;
    background-color: var(--white);
    border-radius: 8px;
    padding: 15px;
    align-items: center;
    justify-content: unset;
    width: 100%;
    .coupen-icon {
        padding-right: 10px;
        i {
            font-size: $extra-large-3-font;
            color: var(--slimy-green);
        }
    }
    h3 {
        padding: 0px !important;
    }
    .coupen-text {
        max-width: 78%;
        font-size: $large-font;
        .green-promo-code {
            color: var(--slimy-green);
            font-weight: $font-bold;
        }
        .green-promo-code-min {
            font-size: x-small;
            color: var(--dim-gray);
        }
    }
    i{
        margin-left: auto;
        &.icon-delete {
            background: #c4c4c4;
            padding: 4px;
            border-radius: 50%;
            font-size: 10px;
            color: white;
            cursor: pointer;
        }
    }
    
}
.items-center{
    align-items: center;
}