.popularCategories {
    padding: 15px;
    background: #f2f2f2;
    .innerPopularSection {
        box-shadow: 0px 3px 6px #0000001a;
        border-radius: 4px;
        opacity: 1;
        background: #fff;
        padding: 15px 30px;
    }
    .heading-3 {
        border-bottom: 2px solid #e6e6e6;
        margin-bottom: 10px;
    }
    .popularCategoriesList {
        font-size: 13px;
        font-weight: 400;
        color: #2b2b2b;
        line-height: 21px;
        padding: 5px 0 0;
        text-decoration: none;
    }
}

::ng-deep {
    .category_data {
        padding: 0px 15px;
        background: #f2f2f2;
        h2 {
            font-size: 16px;
            padding: 10px 0;
        }
        p {
            font-size: 12px;
            line-height: 18px;
        }
        a {
            color: #0061d5 !important
        }
    }
    .body-bg {
        background: #f2f2f2;
    }
}