<app-bottom-menu *ngIf="Isoverlay" (outData$)="onUpdate($event); close(false)">
    <div class="quick-checkout" content *ngIf="isPopup">
        <div class="bottom-menu-header">
            <i class="icon-circle-delete delete-icon" (click)="close(false)"></i>
        </div>
        <div class="white-card">
            <div class="inner-card">
                <!--Price Details-->
                <div class="checkout-card">
                    <div class="pwa-image">
                     <img src="{{productImg}}"> 
                    </div>
                    <div class="price-block">
                        <p class="prod-mrp">₹{{cartService.getGenericCartSession.cart.tawot | mathFloor | number : '1.2-2'}}</p>
                        <p class="prod-selling-price">₹{{cartService.getGenericCartSession.cart.tawot | mathFloor | number : '1.2-2'}}
                             + {{item.taxPercentage}}% GST: ₹{{cartService.getGenericCartSession.cart.tawot+cartService.getGenericCartSession.cart.tpt | mathFloor | number : '1.2-2'}}</p>
                        <!-- <span class="green-txt" *ngIf="cartService.getGenericCartSession.cart.shippingCharges == 0 || null"><i class="icon-prepaid"></i>Free Shipping</span> -->
                        <p class="green-txt" *ngIf="cartService.getGenericCartSession.cart.shippingCharges == 0 || null"><i class="icon-prepaid"></i>Free Shipping</p>
                    </div>
                    <div class="qty_section">
                        <div class="quantity-block">
                            <span *ngIf="item.productQuantity > item.moq"
                                (click)="$event.stopPropagation();handleItemQuantityChanges(0, 'decrement')"
                                class="remove-qty qty-block">&#8722;</span>
                            <i (click)="$event.stopPropagation();handleItemQuantityChanges(0, 'decrement')"
                                *ngIf="item.productQuantity <= item.moq" class="icon-bin qty-block single-quantity"></i>
                            <input numbersOnly type="text" maxlength="3" [value]="item.productQuantity"
                                (focusout)="$event.stopPropagation();handleItemQuantityChanges(0, 'update', $event.target.value)" />
                            <span (click)="$event.stopPropagation();handleItemQuantityChanges(0, 'increment')"
                                class="add-qty qty-block">&#43;</span>
                        </div>
                    </div>
                </div>
                <!--Payment Summary-->
                <div class="small-accordion-panel" id="q_payment_summary">
                    <div class="panel-head" >
                        <h3 class="heading-3">
                            Payment Summary
                        </h3>
                        <i class="icon-expand" (click)="expandPaymentSummary(false)" *ngIf="isPaymentSummary"></i>
                        <i class="icon-collaps" (click)="expandPaymentSummary(true)" *ngIf="!isPaymentSummary"></i>

                    </div>
                    <div id="openHomeAccoridan"  class="panel-body " [class.hide]="isPaymentSummary">
                        <div class="">
                            <ul>
                                <li class="tag-item">
                                    <span class="tag-label">Amount</span>
                                    <span class="tag-value">₹{{cartService.getGenericCartSession.cart.tawot | mathFloor | number : '1.2-2'}}</span>
                                </li>
                                <li class="tag-item">
                                    <span class="tag-label">GST</span>
                                    <span class="tag-value">₹{{cartService.getGenericCartSession.cart.tpt | mathFloor | number : '1.2-2'}}</span>
                                </li>
                                <li class="tag-item">
                                    <span class="tag-label">Shipping</span>
                                    <span class="tag-value">₹{{ shippingCharges | mathFloor | number :'1.2-2' }}</span>
                                </li>
                                <li class="tag-item">
                                    <span class="tag-label">Coupon Discount</span>
                                    <span class="tag-value green-txt" *ngIf="cartService.getGenericCartSession.cart.totalOffer!==0 && cartService.getGenericCartSession.cart.totalOffer!==null">
                                        -₹{{cartService.getGenericCartSession.cart.totalOffer | mathFloor | number : '1.2-2'}}</span>
                                    <span class="tag-value green-txt" *ngIf="cartService.getGenericCartSession.cart.totalOffer==0 || cartService.getGenericCartSession.cart.totalOffer==null">-₹0.00</span>
                                </li>
                                <li class="tag-item last-tag-item">
                                    <span class="tag-label">Amount Payable</span>
                                    <span class="tag-value">₹{{cartService.totalDisplayPayableAmountWithOutPrepaid | mathCeil | number :'1.2-2'}}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--Delivery Address Section-->
            <div class="about-delivery" *ngIf="shippingAddress">
                <div class="about-delivery-txt">
                    <h4 class="heading-3">
                        Delivery Address
                    </h4>
                    <!-- <p>Ashish Kumar, Moglix, 5th floor, Tower - B, Prius Universal, sector-125, noida… | Mobile : 8263261175</p> -->
                    <p> {{shippingAddress.customerName}} , {{shippingAddress.addressLine}}- {{shippingAddress.postCode}}, {{shippingAddress.city}} | Mobile: {{shippingAddress.phone}}</p>
                </div>
                <span class="link-text" (click)="close(false)" >CHANGE</span>
            </div> 
            <!--COD available Section-->
            <div class="about-delivery">
                <span class="st-icon-cod">
                    <span class="icon-cod_1"></span>
                    <span class="icon-cod_2"></span>
                    <span class="icon-cod_3"></span>
                    <span class="icon-cod_4"></span>
                </span>
                <div class="about-delivery-txt">
                    <h4 class="green-txt">{{product.cod_available}}</h4>
                    <span>You can pay at the time of delivery</span>
                </div>
                <span class="link-text" (click)="close(false)">CHANGE</span>
            </div> 
            <!--Bussiness Checkbox Section-->
             <section class="invoice-container">
                <form>
                    <div class="invoice-select">
                        <label>
                            <input #checkBoxVal type="checkbox" [checked] = "purchasingForBusiness" (change)="getGstInvoice(checkBoxVal.checked)" *ngIf="purchasingForBusiness">
                            <input type="checkbox" [checked]="purchasingForBusiness" (change)="close(false)" *ngIf="!purchasingForBusiness">
                            <span class="custom-box icon-box"></span>
                        </label>
                        <div class="invoice-txt">
                            <p>Select if purchasing for business</p>
                            <span class="invoice-subtxt">We’ll ask for GST details</span>
                        </div>
                    </div>
                </form>
            </section>
            <!--Billing Address Section-->
            <div class="about-delivery" *ngIf="billingAddress">
                <div class="about-delivery-txt">
                    <h4 class="heading-3">
                        Billing Address
                    </h4>
                    <!-- <p>Ashish Kumar, Moglix, 5th floor, Tower - B, Prius Universal, sector-125, noida… | Mobile : 8263261175</p> -->
                    <p> {{billingAddress.customerName}} , {{billingAddress.addressLine}}- {{billingAddress.postCode}}, {{billingAddress.city}} | Mobile: {{billingAddress.phone}}</p>
                </div>
                <span class="link-text" (click)="close(false)" >CHANGE</span>
                <span class="link-text" ></span>
            </div>
            
            <!--Amount Payable-->
            <div class="continue-button">
                <div class="container payable">
                    <p class="total-mount">
                        <span class="payable-amnt">Amount Payable
                            <span><i class="icon-information" (click)="expandPaymentSummary(false)"></i></span>
                        </span>
                        ₹{{cartService.totalDisplayPayableAmountWithOutPrepaid | mathCeil | number : '1.2-2'}}
                    </p>
                    <button class="primary-full-btn" (click)="placeOrder()" >
                        PLACE ORDER
                    </button>
                </div>
            </div>
        </div>

        <!--Promocode Section-->
        <div class="promocode white-card">
            <div class="apply-promo no-border">
                <all-promocode-v1></all-promocode-v1>
                <!-- <p class="open-offers" (click)="$event.stopPropagation();openOfferPopUp()">VIEW ALL OFFERS</p> -->
            </div>
            <!-- <promo-code-list (closePromoOfferPopup)="closePromoListPopUp($event)" [isQuickCheckoutPopup] ="true" *ngIf="showPromoOfferPopup"></promo-code-list> -->
            <div class="alert-box" *ngIf="showPromoSuccessPopup">
                <div class="overlay" (click)="$event.stopPropagation();closePromoSuccessPopUp()"></div>
                <div class="content-area">
                    <div class="info-area">
                        <i class="icon-coupon-3-fill-1"></i>
                        <p class="applied-coupon">'{{cartService?.appliedPromoCode}}' applied</p>
                        <p class="saving-applid-coupon"><span>&#8377;{{cartService.getGenericCartSession.cart.totalOffer | mathFloor | number : '1.2-2'}}</span> saving with this coupon</p>
                        <p class="green-text">YAY!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</app-bottom-menu>