:root{
    --spacing-unit:1em;
    // padding
    --base-padding:1em;
    --card-padding: 1em 0.5em;
    --base-card-padding:1em;
    --base-inner-padding:0.5em;
    --base-heading-padding:0.5em 1.5em;
    //gutter
    --small-gutter-space:0.5em;
    // margin
    --base-margin:0.5em;
    --base-card-margin:1em;
    --large-base-margin:1em;  
   //text
    --base-text-margin:0.5em 0;
   //card
    --home-card-width:115px;
   //colors
    --light-cyan:#E5FBFA;
    --persian-green:#00a293;
    --white:#ffffff;
    --misty-rose:#fae0e1;
    --primary:#d9232d;
    --mint-cream:#F6FFF5;
    --slimy-green: #299e22;
    --bleu-de-france:#278bedff;
    --gray-web: #808080ff;
    --silver: #c4c4c4;
    --spanish-gray: #979797;
    --onyx-black: #3c3c3c;
    --black:#000000;
    --orange-red: #f5681e;
    --red-light-and-dark-gradient: linear-gradient(#d9232d, #f5555e);
    --text-color:#3C3C3C;
    --ghost-white:#EFEFF4;
    --cultured:#F9F9FB;
    --orange-red:#F5681E;
    --champagne-pink:#FFEBE0;
    --nyanza:#E0FDDF;
    --paleturquoise:#A9F0F6;
}