@import "./variables";
@import "./header-global-icon";

.expanded-home-header {
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
    min-height: 52px;
    .head-d-flex-inner {
        display: flex;
        align-items: center;
        flex-grow: 1;
        &:last-child {
            justify-content: flex-end;
        }
        // .icon-menu {
        //     margin-top: -5px;
        // }
        & > * {
            padding: 5px 5px 5px 0px;
            color: var(--onyx-black);
            margin-right: 10px;

            &:last-child {
                margin-right: 0px;
            }

            &:first-child {
                padding-left: 0px !important;
            }
        }

        .login-txt {
            color: var(--primary);
            background-color: var(--champagne-pink);
            border-radius: $border-radius-4;
            margin-right: 10px;
            font-weight: bold;
            padding: 5px 10px !important;
        }
    }
    .search-bar {
        width: 100%;
    }
}
.scrolledHeader {
    margin: auto;
    height: 54px;
    display: flex;
    justify-content: space-between;
    a {
        color: var(--onyx-black);
        &.search-bar {
            width: 65%;
            margin: 1px 0px 1px 5px;
            input {
                height: 35px !important;
            }
            &:after {
                top: 6px !important;
                font-size: 20px;
                color: var(--onyx-black);
            }
        }
    }
}
.plp-fixed-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    flex-grow: 1;
    padding: 0px 10px;
    align-items: center;
    min-height: 52px;
    & > * {
        vertical-align: middle;
        display: flex;
        justify-content: center;
        position: relative;
        font-size: $large-font;
        color: var(--onyx-black);
    }
    .page-name {
        width: 60%;
        justify-content: flex-start;
        font-size: $extra-large-font;
    }
    .moglix-app-logo {
        i {
            font-size: $extra-large-3-font;
        }
    }
    .search-bar-mini {
        position: relative;
        width: 55%;
        margin-left: 5px;
        input {
            background: var(--white);
            border: none;
            font-size: $large-font !important;
            color: var(--silver);
            font-weight: 400;
            height: 35px;
            width: 100%;
            padding: 0px 5px 0 30px;
            border-radius: $border-radius-8;
            border: 1px solid var(--silver);
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            &::-webkit-input-placeholder {
                color: var(--silver) !important;
            }
        }

        i {
            color: #303030;
            font-size: $large-font;
            position: absolute;
            z-index: 1;
            left: 6px;
            top: 8px;
            border-radius: 6px 0 0 6px;
        }
    }
}
.cart-header {
    display: flex;
    justify-content: flex-start;
    min-height: 50px;
    align-items: center;
    padding: 10px;
    i {
        margin-right: 15px;
    }
    .page-name {
        font-size: $large-font;
    }
    .right-content {
        margin-left: auto;
        padding-left: 5px;
        font-size: $large-font;
    }
}
.dashboard-header {
    display: flex;
    flex-wrap: wrap;
    padding: 5px 10px;
    .dashboard-inner {
        width: 60%;
        display: flex;
        align-items: center;
        &:nth-child(2) {
            justify-content: flex-end;
            width: 40%;
        }
        a {
            margin-right: 10px;
            &:last-child {
                margin-right: 0px;
            }
        }
    }
}
.logo-header{
    display: flex;
    justify-content: flex-start;
    min-height: 50px;
    align-items: center;
    padding: 5px 10px;
}
//search bar
.search-bar {
    margin-top: 10px;
    position: relative;
    @include placeholder {
        color: $place-holder-color;
        font-size: $extra-large-font;
    }
    .search-bar-input {
        height: 45px;
        width: 100%;
        border: 0;
        padding: 0 25px 0 40px;
        letter-spacing: -0.2px;
        display: inline-block;
        vertical-align: middle;
        border-radius: $border-radius-8;
        background-color: var(--white);
        line-height: 40px;
        border: 1px solid var(--silver);
        box-shadow: 0px 3px 6px #c4c4c429;
    }

    &:after {
        content: "\ea63";
        font-family: "icomooon_pwa";
        position: absolute;
        left: 10px;
        top: 10px;
        color: var(--primary);
        font-size: $extra-large-3-font;
    }
}
.page-name {
    width: 60%;
    justify-content: flex-start;
    font-size: $large-font;
}
.logo-container {
    justify-content: flex-end;
}
