/*New Style sheet for common modules*/

@import '../theme/sass/conf/variables';
@import '../../var';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

textarea,
input.text,
input,
select,
.input-checkbox {
    -webkit-appearance: none;
    border-radius: 0;
    outline: none;
}

input,
select {
    background-image: none;
    background: none;
    line-height: 18px;
    position: relative;
}

select {
    z-index: 2;
}

select.select-form {
    width: 100%;
    border: 1px solid #343434;
    height: 40px;
    padding: 0 10px;
    font-size: 14px;
    border-radius: 1px;
}

select.select-form+.icon-down {
    position: absolute;
    right: 10px;
    top: 11px;
    font-size: 14px;
}

input[type=text],
input[type=number] {
    font-size: $large-font !important;
}

option {
    padding: 5px;
}

img {
    border: none;
}

ul {
    list-style: none;
}

a {
    color: $link-color;
    text-decoration: none;
}

button {
    @extend %ripple;
}

.f-10 {
    font-size: $small-font;
}

.f-12 {
    font-size: $medium-font;
}

.f-14 {
    font-size: $large-font;
}

.f-16 {
    font-size: $extra-large-font;
}

.f-18 {
    font-size: 18px;
}

.clearfix,
ul,
[class*='grid'] {
    @extend %clear-fix;
}

body {
    background: $body-color;
    font-size: 12px;
    color: $txt-color;
    font-family: $font-family;
}

.stop-scroll {
    overflow: hidden;
    height: 100%;
}

.pos-rel {
    position: relative;
}

// .landscape{
//     position: fixed;
//     display: none;
//     width: 100%;
//     height: 100%;
//     background: #FFF9F9;
//     text-align: center;
//     padding: 15px 0;
//     top:0;
//     left: 0;
//     z-index: 200;
//     & > div{
//         width: 90%;
//         margin: auto;
//         max-width: 400px;
//     }
//     img{
//         margin-top: 40px;
//         max-height: 160px;
//     }
// }
.sprite-img {
    background-image: url('#{$cdn_url}mob/assets/img/poc/Sprite-PWA.svg');
}

// @media (min-width: 480px) and (orientation: landscape) {
//     .landscape{
//         display: block;
//     }
//     body{
//         overflow: hidden;
//     }
// }
.wp-100 {
    width: 100%;
}

.wp-50 {
    width: 50%;
}

.f-left {
    float: left;
}

.f-right {
    float: right;
}

.align-center {
    text-align: center;
}

.container {
    @extend %container;
}

.bold-txt {
    font-weight: 600;
}

.circle {
    border-radius: 50%;
    overflow: hidden;
}

.green-txt {
    color: $green-color;
}

.red-txt {
    color: $logo-color;
}

.yell-txt {
    color: #edce09;
}

.orange-txt {
    color: $btn-color;
}

.blue-txt {
    color: $blue-link-color;
}

.no-border {
    border: 0 !important;
}

.border-bottom {
    border-bottom: 1px solid $border-color;
}

.border-top {
    border-top: 1px solid $border-color;
}

.btn-red {
    border: 1px solid $logo-color;
    padding: 7px 9px;
    color: $logo-color;
    border-radius: 2px;
}

.btn {
    padding: 7px 9px;
    color: $white;
    border: 0;
    outline: 0;
    font-size: $extra-large-font;
    font-weight: 600;
    text-transform: uppercase;
    @extend %border-radius;
    @extend %box-shadow;
    &.disabledButton {
        background: #ccc;
        pointer-events: none;
        color: $disable-txt;
        border: 1px solid $disabled;
    }
}

.hide {
    display: none;
}

.show {
    display: block !important;
}

.inline-block {
    display: inline-block !important;
}

.other-strip {
    display: block;
    @extend %container;
    h3 {
        float: left;
        font-size: $extra-large-font;
        font-weight: 400;
        line-height: 30px;
    }
    i {
        float: right;
        font-size: 17px;
        line-height: 30px;
        padding: 10px 0;
        top: 0 !important;
    }
    @extend %clear-fix;
}

.sub-strip {
    padding: 5px 10px;
    border: solid $border-sec-color;
    border-width: 1px 0 1px 0;
    font-weight: bold;
    line-height: 20px;
    background: $body-color;
    font-size: 14px;
}

.body-bg {
    background: $body-color;
}

.plan-list {
    li {
        width: 100%;
        display: block;
        padding: 8px 0;
        font-size: $extra-large-font;
        a {
            color: $blue-link-color;
        }
        @extend %clear-fix;
    }
}

.tags-list {
    li {
        float: left;
        margin: 0 10px 10px 0;
        padding: 3px 12px;
        border: 1px solid #707070;
        &:last-child {
            margin-right: 0;
        }
        a {
            color: $blue-link-color;
            font-size: $extra-large-font;
        }
        @extend %border-radius;
    }
}

.disable-txt {
    color: $disable-txt;
}

// .ico-txt {
//     @extend %ico-txt;
// }
.clear-txt {
    font-size: $large-font;
    color: $blue-link-color;
    font-weight: bold;
}

.products-container {
    padding-bottom: 60px;
}

.filter-wrapper {
    position: fixed;
    // bottom: -200px;
    bottom: 0px;
    z-index: 5;
    left: 0px;
    width: 100%;
    box-shadow: 1px -3px 8px#cecece;
    background: $white;
    @extend %box-shadow;
    &.slide-up {
        bottom: 0;
    }
    button {
        width: 50%;
        height: 54px;
        border: none;
        background: transparent;
        float: left;
        font-size: $extra-large-font;
        font-weight: 500;
        text-align: center;
        i {
            padding-right: 10px;
        }
    }
}

.slide-up {
    transform: translateY(0px);
}

.label {
    color: $disable-txt;
    margin-bottom: 5px;
}

.value {
    font-weight: 600;
    font-size: $large-font;
}


/*Header Icons*/

.head-icons {
    &>* {
        float: left;
        margin-left: 5px;
        font-size: 20px;
        padding: 10px 5px;
        position: relative;
        color: $white;
    }
}

.home-icons {
    &>* {
        margin-left: 12px !important;
    }
}

.page-name {
    line-height: 26px;
    font-weight: 500;
    text-transform: capitalize;
    color: $white;
}

.page-name-black {
    color: $black;
}


/*Form Fields*/

::-webkit-input-placeholder {
    color: $place-holder-color;
    font-size: 16px;
}

 ::-moz-placeholder {
    color: $place-holder-color;
    font-size: 16px;
}

 :-ms-input-placeholder {
    color: $place-holder-color;
    font-size: 16px;
}

 :-moz-placeholder {
    color: $place-holder-color;
    font-size: 16px;
}

.bottom-stick {
    position: fixed;
    left: 0;
    width: 100%;
    bottom: 0;
    z-index: 2;
}

.promo-code {
    input {
        float: left;
        border: solid $border-sec-color;
        border-width: 1px 0 1px 1px;
        height: 40px;
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;
        width: 70%;
        padding-left: 10px;
        width: calc(100% - 115px);
    }
    button {
        float: left;
        border: 1px solid $logo-color;
        height: 40px;
        width: 115px;
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
        background: $logo-color;
        color: $white;
        font-size: $large-font;
        font-weight: 600;
    }
}

.applied-code {
    position: relative;
    input:read-only {
        color: $green-color;
    }
    button:disabled {
        background: $green-color;
        border: 1px solid $green-color;
    }
    i {
        position: absolute;
        top: 12px;
        right: 128px;
        font-size: 16px;
    }
}

.material-form {
    .input-field {
        margin-bottom: 30px;
        label {
            display: block;
            position: relative;
            input,
            select {
                width: 100%;
                border: solid $border-sec-color;
                border-width: 0 0 1px 0;
                height: 45px;
                padding: 14px 25px 0 0;
                font-size: $large-font;
                &.input-password {
                    padding: 14px 140px 0 0;
                }
            }
            textarea {
                width: 100%;
                border: solid $border-sec-color;
                border-width: 0 0 1px 0;
                height: 65px;
                padding: 14px 25px 0 0;
                font-size: $large-font;
            }
            .input-value {
                font-size: $extra-large-font;
                padding-top: 20px;
                display: block;
            }
            select+.icon-down {
                position: absolute;
                right: 6px;
                top: 23px;
                font-size: $large-font;
            }
            select:disabled+.icon-down {
                color: #898989;
            }
            .label {
                position: absolute;
                left: 0;
                font-size: $large-font;
                top: 20px;
                color: $disabled;
                @extend %transition;
            }
            &.is-focus .label,
            input:focus+.label,
            select:focus+.label {
                font-size: $medium-font;
                top: 5px;
            }
            textarea:focus+.label {
                font-size: $medium-font;
                top: 3px;
            }
            input:focus,
            textarea:focus {
                border-color: $active-border-color;
                &+.label {
                    color: $active-border-color;
                }
            }
            .edit-field {
                position: absolute;
                right: 0;
                top: 24px;
                font-size: $medium-font;
                font-weight: 500;
                color: $blue-link-color;
                cursor: pointer;
                &.verified {
                    color: #36BD40;
                    i {
                        padding-left: 5px;
                    }
                }
            }
            &.disableInput {
                opacity: 0.4;
                pointer-events: none;
            }
        }
    }
}

.input-sec {
    display: block;
    position: relative;
    input {
        width: 100%;
        border: solid $border-sec-color;
        border-width: 0 0 1px 0;
        height: 45px;
        padding: 14px 25px 0 0;
        font-size: $large-font;
    }
    .label {
        position: absolute;
        left: 0;
        font-size: $large-font;
        top: 20px;
        color: $disabled;
        @extend %transition;
    }
    &.is-focus .label,
    input:focus+.label {
        font-size: $medium-font;
        top: 5px;
    }
    input:focus {
        border-color: $active-border-color;
        &+.label {
            color: $active-border-color;
        }
    }
}

.error-txt {
    color: $error-color;
    margin-top: 5px;
}

.success-txt {
    color: $green-color;
    margin: 5px 0;
}

.continue-btn,
.signInbtn {
    color: $white;
    background: $btn-color;
    font-size: $extra-large-font;
    text-align: center;
    font-weight: 800;
    width: 100%;
    height: 45px;
    border: 0;
    outline: 0;
    @extend %ripple;
    &.disabledButton {
        border-color: $disabled;
        color: #fff;
        background: #B6B6B6;
    }
}

.otulineButton {
    background: $white-color;
    color: $btn-color;
    font-weight: 800;
    width: 100%;
    height: 45px;
    border: 1px solid $btn-color;
    outline: 0;
    @extend %ripple;
    font-size: $large-font;
}

.txt-list {
    li {
        @extend %clear-fix;
        padding: 10px 0;
        .tag-label {
            float: left;
        }
        .tag-value {
            float: right;
        }
    }
}


/* List view Design*/

.banner-ad {
    margin: 15px 0 0 0;
}

.card {
    @extend %cards;
    padding: 0;
    background: red;
}

.card-30 {
    @extend %cards;
    padding: 30px 0;
}

.full-height {
    height: 85vh;
    height: calc(100vh - 56px);
}

.card-head {
    @extend %clear-fix;
    .icon-grid-view,
    .icon-list-view {
        font-size: 21px;
        margin-top: 11px;
    }
}

.price {
    .after-discount {
        font-weight: bold;
        font-size: 20px;
        display: block;
        margin: 5px 0 5px 0;
    }
    .before-discount {
        text-decoration: line-through;
        opacity: 0.5;
        margin: 0 6px 0 0;
    }
    .discount {
        color: $green-color;
        font-weight: bold;
    }
}

.seller {
    margin-top: 10px;
    span {
        color: #9e9d9d;
    }
}

.icon-list-view,
.icon-grid-view {
    font-size: 21px;
    line-height: 30px;
}

.view-products {
    padding-bottom: 0;
    li {
        @extend %clear-fix;
        padding: 10px;
        position: relative;
        background: white;
        margin-bottom: 2px;
        .product-img {
            img {
                max-width: 100%;
                max-height: 100%;
            }
        }
        .description-txt {
            font-size: 14px;
            margin-bottom: 4px;
            line-height: 20px;
        }
        .request-text {
            font-weight: bold;
            font-size: 16px;
            color: $black;
            margin-top: 5px;
        }
    }
    li:last-child {
        border-bottom: none !important;
    }
    &.list {
        li {
            width: 100%;
            border-bottom: 1px solid $border-color;
            a {
                display: block;
            }
            .product-img {
                width: 84px;
                height: 84px;
                float: left;
            }
            .product-description {
                float: right;
                width: 75%;
                width: calc(100% - 104px);
            }
        }
    }
    &.grid {
        li {
            width: 50%;
            float: left;
            border-bottom: 1px solid $border-color;
            height: 260px;
            position: relative;
            &:nth-child(2n+1) {
                border-right: 1px solid $border-color;
            }
            .product-img {
                display: block;
                margin-bottom: 10px;
                height: 115px;
                text-align: center;
            }
            .product-description {
                width: 100%;
                margin-bottom: 5px;
            }
            .price {
                display: block;
            }
        }
    }
}


/* Pop Up */

.popup {
    position: fixed;
    // display: none;
    z-index: 99;
    &.screen-view {
        width: 100%;
        height: 100%;
        top: 120%;
        left: 0;
        background: $white;
        @extend %transition;
        &.payment-popup {
            background: $body-color;
            &>.container {
                width: 100%;
            }
            .head-sec {
                padding: 12px 0;
                margin: 0;
                @extend %box-shadow;
                background: $white;
                i {
                    font-size: 20px;
                    line-height: 24px;
                }
                i+.page-name {
                    font-size: $extra-large-font;
                    margin-left: 10px;
                }
            }
        }
    }
    .head-sec {
        position: relative;
        z-index: 5;
        @extend %ico-txt;
        margin: 15px 0;
        .txt {
            font-size: $extra-large-font;
            font-weight: 600;
            line-height: 21px;
            margin-left: 20px;
            span.subtxt {
                display: block;
                font-weight: normal;
                font-size: $large-font;
            }
        }
        &.top-head {
            padding: 12px 0 !important;
            i {
                line-height: 24px;
                font-size: 20px;
            }
            .page-name {
                margin-left: 5px;
            }
        }
    }
    .content-popup {
        height: 85%;
        height: calc(100% - 54px);
        overflow: auto;
    }
}

.open {
    .popup.screen-view {
        top: 0;
    }
}


/*Bottom popup*/

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.20);
    width: 100%;
    height: 100%;
}

.bottom-options {
    .overlay {
        z-index: 13;
        top: 120%;
    }
    .content-box {
        position: fixed;
        bottom: -100%;
        left: 0;
        padding: 15px 0;
        background: $white;
        z-index: 14;
        width: 100%;
        max-height: 40%;
        overflow: auto;
        @extend %transition;
        li {
            padding: 10px 0;
            font-size: $extra-large-font;
        }
        .container-head-sec {
            @extend %ico-txt-right;
            margin-bottom: 10px;
            .txt {
                font-size: $extra-large-font;
                font-weight: 700;
                line-height: 21px;
                span {
                    display: block;
                    font-size: $medium-font;
                    font-weight: 400;
                    padding-top: 5px;
                }
            }
        }
    }
    &.open {
        .overlay {
            top: 0;
        }
        .content-box {
            bottom: 0;
        }
    }
}

.open {
    .bottom-options {
        .overlay {
            top: 0;
        }
        .content-box {
            bottom: 0;
        }
    }
}

.head-popup {
    @extend %box-shadow;
    padding: 5px 0;
    margin-bottom: 15px;
}


/*Alert Box*/

.alert-box {
    .overlay {
        z-index: 11;
    }
    .content-area {
        @include translate(0,
        -50%);
        position: fixed;
        top: 50%;
        left: 7.5%;
        width: 85%;
        background: $white;
        z-index: 12;
        font-size: $large-font;
        @extend %border-radius;
        @extend %clear-fix;
        .green-block {
            background: #36BD40;
            .del-ico {
                color: white;
                font-size: 20px;
                padding: 10px 0px 0px 10px;
                display: inline-block;
            }
            .inner-txt {
                padding: 10px 0px 50px 0px;
                text-align: center;
                color: white;
                .info-title {
                    font-weight: 600;
                    color: white;
                    font-size: 16px;
                    letter-spacing: 0.5px;
                }
                i {
                    font-size: 35px;
                    display: inline-block;
                    padding-bottom: 15px;
                }
            }
        }
        .info-area {
            padding: 25px;
            .info-title {
                margin-bottom: 10px;
                line-height: 19px;
                font-size: $extra-large-font;
                font-weight: 500;
            }
            .info {
                line-height: 20px;
                font-size: $large-font;
            }
        }
        .button-area {
            border-top: 1px solid $border-color;
            position: relative;
            button {
                border: 0;
                background: $white;
                height: 50px;
                text-align: center;
                width: 50%;
                float: left;
                font-weight: 600;
                font-size: $large-font;
                &.continue {
                    color: $blue-link-color;
                    border-left: 1px solid $border-color;
                }
            }
        }
        &.bottom-layout {
            transform: none;
            bottom: 0px;
            left: 0;
            right: 0;
            width: 100%;
            top: auto;
        }
        .rfq-thanks-popup {
            text-align: center;
            padding: 30px;
            position: relative;
            i {
                position: absolute;
                right: 15px;
                top: 15px;
            }
            img {
                width: 110px;
            }
            .rfq-thanks-title {
                color: #393939;
                font-size: $medium-font;
                margin-top: 30px;
                margin-bottom: 10px;
                font-weight: bold;
            }
            .rfq-support-txt {
                font-size: 10px;
                color: RGBA(57, 57, 57, 0.5);
                line-height: 14px;
            }
            .alert-btn-row {
                margin-top: 30px;
                button {
                    font-size: 12px;
                    font-weight: bold;
                    background: #F2720F;
                    padding: 10px 20px;
                }
                p {
                    margin-top: 20px;
                    font-size: 12px;
                    font-weight: bold;
                }
            }
        }
    }
}


/*Custom Check box*/

.custom-cbox {
    label {
        display: block;
        padding: 10px 0;
        @extend %clear-fix;
        @extend %custom-check-box;
    }
}

.custom-cbox-checkout {
    label {
        display: block;
        padding: 10px 0;
        @extend %clear-fix;
        @extend %custom-radio-checkout;
    }
}

.custom-cbox-green {
    label {
        display: block;
        padding: 10px 0;
        @extend %clear-fix;
        @extend %custom-green-radio-checkout;
    }
}

.selectable-list {
    label {
        display: block;
        padding: 10px;
        @extend %clear-fix;
        .chk-box {
            @extend %custom-check-box;
        }
    }
}


/*Heading Classes*/

h3,
.heading-3 {
    font-size: $large-font;
    padding: 10px 0;
}

.heading-3-txt {
    color: $dark-gray-color;
    font-size: $medium-font;
}

.small-txt {
    font-size: $medium-font;
    font-weight: 400;
}

.normal-txt {
    font-weight: 400;
}

h2,
.heading-2 {
    font-size: 18px;
}

.heading-4 {
    font-size: $large-font;
    font-weight: 400;
}

.heading {
    font-size: $extra-large-font;
}


/*Margin Classes*/

.mt-15 {
    margin-top: 15px;
}

.mt-10 {
    margin-top: 10px;
}

.mb-15 {
    margin-bottom: 15px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-60 {
    margin-bottom: 60px;
}

.mr-15 {
    margin-right: 15px;
}

.mar-tb-15 {
    margin-top: 15px;
    margin-bottom: 15px;
}

.ml-5 {
    margin-left: 5px
}


/*padding Classes*/

.pt-15 {
    padding-top: 15px;
}

.pt-10 {
    padding-top: 10px;
}

.pb-15 {
    padding-bottom: 15px;
}

.pb-10 {
    padding-bottom: 10px;
}

.pad-lr-15 {
    padding-left: 15px !important;
    padding-right: 15px !important;
}

.pad-tb-10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.pad-tb-15 {
    padding-top: 15px;
    padding-bottom: 15px;
}

.pad-15 {
    padding: 15px !important;
}

.pad-10 {
    padding: 10px !important;
}

.pad-lr-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.no-pad {
    padding: 0 !important;
}


/*Line Height*/

.lh-18 {
    line-height: 18px;
}


/*.color-white*/

.bg-white {
    background: $white;
}


/*Utility*/

.toggle-panel {
    width: 100%;
    &.about_moglix {
        .toggle-head {
            background: $white-color;
            border: 0;
        }
        .toggle-content {
            margin: 0;
            border: 0;
        }
    }
    .toggle-head {
        border: solid $border-color;
        border-width: 1px 0 1px 0;
        padding: 15px 10px;
        background: $gray-color;
        @extend %clear-fix;
        p {
            font-weight: 600;
        }
        i {
            font-size: 16px;
        }
    }
    .toggle-content {
        margin-top: 10px;
    }
}


/*Static Pages*/

.static-container {
    .head {
        background: #366090;
        padding: 30px 0 60px 0;
        color: white;
        i {
            font-size: 50px;
        }
    }
    .container {
        margin: -30px auto 20px auto;
        line-height: 19px;
        .card {
            margin-top: 10px;
            border-color: #366090;
            color: #366090;
            padding: 15px;
            p {
                padding-left: 36px;
                b {
                    display: block;
                }
            }
        }
        .heading {
            i {
                margin-right: 10px;
                font-size: 25px;
                float: left;
                line-height: 26px;
            }
            span {
                float: left;
                line-height: 26px;
            }
        }
    }
}

.pwapage-wrap {
    background: #F5F5F5;
    padding: 0px;
    position: relative;
}

.pwapghead {
    background: #425291;
    padding: 20px 0px 60px;
    color: $white;
    text-align: center;
    i {
        font-size: 50px;
    }
    h1 {
        font-size: $extra-large-font;
        text-transform: uppercase;
        font-weight: 500;
    }
}

.upper-case {
    text-transform: uppercase;
}


/*Static Pages*/

#emailer {
    @extend %container;
    .emailer-tab {
        font-size: $large-font;
    }
    .hidden-sm-down {
        display: none;
    }
    .hidden-sm-up {
        a {
            display: block;
            margin: 0 -10px;
        }
    }
    .container-fluid {
        background: $white;
        @extend %clear-fix;
    }
    .prod_detail {
        h3 {
            font-weight: 400;
            line-height: 16px;
            padding: 0;
            color: $blue-link-color;
        }
        .prod_block {
            position: relative;
            margin-top: 10px;
        }
        .prod_price {
            font-size: $extra-large-font;
            font-weight: 500;
        }
        .line-through {
            text-decoration: line-through;
            color: #737373 !important;
            font-size: 12px;
            font-weight: 400;
        }
        .prod_discount {
            position: absolute;
            top: 24px!important;
            right: 0;
            color: $green-color;
        }
        h5 {
            font-weight: 600;
            color: #737373!important;
            font-size: $large-font
        }
    }
    .wp-xs-50 {
        width: 50%;
    }
    .prod_img {
        img {
            width: 100%;
        }
    }
}


/*Cart Common btn*/

.continue-button {
    padding: 10px 0;
    background: $white;
    position: fixed;
    left: 0px;
    bottom: 0px;
    z-index: 10;
    width: 100%;
    @extend %cards;
    text-transform: uppercase;
    box-shadow: rgba(0, 0, 0, .16) 0 -3px 5px;
    button {
        width: 175px;
        background: $btn-color;
        float: right;
        height: 55px;
        @extend %border-radius;
    }
    p {
        line-height: 55px;
        font-size: 18px;
        font-weight: 600;
        float: left;
        padding-left: 15px;
    }
}


/*address*/

.multiple-address {
    @extend %clear-fix;
    label {
        float: left;
        width: 95%
    }
    .icon-dot {
        float: right;
        text-align: right;
        padding: 10px 0;
        width: 5%
    }
}

.requestCallbck {
    .screen-view {
        &>.container {
            width: 100%;
        }
    }
}

header-nav {
    &.inner_head {
        &+div {
            padding-top: 50px;
        }
    }
}

.norder {
    position: absolute;
    background: #fff;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    top: 60px;
    img {
        position: absolute;
        left: 0;
        right: 0;
        top: 24%;
        display: block;
        margin: auto;
    }
    .noordertext {
        font-size: 16px;
        bottom: 25%;
        position: absolute;
        left: 0;
        right: 0;
    }
    .startshop {
        position: absolute;
        bottom: 0;
        height: 50px;
        width: 100%;
        box-shadow: 1px 1px 15px #ccc;
        left: 0;
        right: 0;
        font-size: $large-font;
        background: #fff;
        color: $blue-link-color;
    }
}

.payment-modal-bottom {
    margin-bottom: 90px;
}

.category_data {
    h2 {
        font-size: 16px;
        padding: 10px 0;
    }
    p {
        font-size: 12px;
        line-height: 18px;
    }
    a {
        color: #0061d5 !important
    }
}

.mb-65 {
    margin-bottom: 65px;
}


/*Checkout */

.link-color a {
    color: $blue-link-color;
}


/*Brand Page*/

.cms-content {
    table {
        margin: 0 -2%;
        th,
        td {
            font-size: 12px;
            font-weight: normal;
            text-align: left;
            border-bottom: 1px solid $border-color;
            padding: 5px;
        }
        th {
            font-weight: $font-bolder;
        }
    }
    a {
        color: #0061d5 !important;
    }
}

.desc-brand {
    a {
        color: blue;
        font-weight: 500;
    }
}

.autocompleteOff:-webkit-autofill,
.autocompleteOff:-webkit-autofill:focus {
    box-shadow: 0 0 0 1000px white inset;
    -webkit-text-fill-color: #fff;
}

.cc_num_label {
    display: block;
}

//checkout btn
.blue-border-btn {
    color: $blue-link-color;
    border: 1px solid #278BED;
    padding: 10px 20px;
    background: $white;
}

.blue-border-btn-full {
    color: $blue-link-color;
    border: 1px solid #278BED;
    padding: 8px 10px;
    width: 100%;
    text-align: center;
    background: $white;
    font-weight: 600;
    font-size: $medium-font;
}

.modalClass {
    .socialContainer {
        .separator-or {
            padding: 10px;
            margin: 0 auto;
        }
    }
    .bottom-options .content-box {
        max-height: 82%;
        //   min-height:60%;
    }
}

.heightFull {
    .bottom-options .content-box {
        height: 100%;
        max-height: 100%;
    }
}

.showVideoOverlay {
    .bottom-options .content-box {
        height: 100%;
        max-height: 100%;
        background-color: rgba(0, 0, 0, .85);
    }
    iframe {
        width: 360px;
        height: 202px;
        position: fixed;
        left: 50%;
        top: 50%;
        z-index: 14;
        transform: translateY(-50%) translateX(-50%);
    }
}

.dynamic-articlesmainwrap {
    a {
        color: #2d4f75;
        font-weight: bold;
        font-size: 10px;
    }
}

@media screen and (max-width:320px) {
    .neft-container {
        .txt-list {
            li {
                span {
                    font-size: 10px;
                }
            }
        }
    }
}