@import '../../app/scss/variables';
@import '../../app/scss/utils/spacing.scss';
// @import '../../app/scss/layout/forms.scss';
// @import './../scss/components/buttons.scss';

//Cards
.card {
    @extend %cards;
    padding: 0;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.20);
    width: 100%;
    height: 100%;
}
// helper classes 
.flex-dir-col {
    flex-direction: column;
}
.pwa-row {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 15px;
    align-items: center;
}

@for $i from 1 through 12{
    $colnum: $i;
   .pwa-col-#{$i} {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 ($fullwidth / $colmax)*$colnum;
        flex: 0 0 ($fullwidth / $colmax)*$colnum;
        max-width: ($fullwidth / $colmax)*$colnum;
        // padding-left: $default-gap;
        // padding-right: $default-gap;
    }
}




