@import './../../app/scss/variables';
.Qa {
    background: white;
    margin-top: 15px;
    padding: 16px 15px 4px;
    .faq-head {
        display: flex;
        h3 {
            width: 75%;
        }
        button {
            width: 25%;
        }
    }
    .display-qn {
        border-bottom: 1px dashed #e3e3e3;
        font-size: $medium-font;
        padding: 20px 0px 5px 0px;
    }
    .qna-block {
        border-bottom: 1px dashed #a2a2a2;
        .qn {
            display: flex;
            margin-top: 10px;
            .qn-right {
                margin-left: 3px;
            }
        }
        .answers {
            padding: 5px 0px;
            margin-left: 30px;
            .answer-block {
                padding-bottom: 5px;
                // border-bottom: 1px solid #70707036;
                display: flex;
                .answer {
                    padding: 10px 0px;
                }
                .ans-details {
                    margin-left: 3px;
                }
                // .answer-post {
                //     color: rgba(48, 48, 48, 0.5);
                //     font-size: $medium-font;

                //     .author {
                //         float: left;
                //         line-height: 26px;
                //     }

                //     .like-btn {
                //         float: right;
                //         border: 1px solid #707070;
                //         background: none;
                //         text-align: center;
                //         border-radius: 2px;

                //         i {
                //             font-size: 16px;
                //             color: #a5a5a5;
                //             border-right: 1px solid #a2a2a2;
                //             display: inline-block;
                //             padding: 5px 20px;
                //         }

                //         .like-count {
                //             display: inline-block;
                //             padding: 0 10px;
                //             color: #303030;
                //         }
                //     }
                // }
            }
            .view-all {
                color: #0d99ff;
                font-size: $large-font;
                line-height: 50px;
                margin-left: -30px;
                display: flex;
                align-items: center;
                .view-txt {
                    float: left;
                    margin-right: 10px;
                }

                i {
                    line-height: 21px;
                }
            }
        }
    }
    .view-more-faq-strip {
        padding: 15px 0px;
        .small-txt {
            color: #0d99ff;
            font-weight: bold;
            position: relative;
        }
        i {
            font-size: 20px;
            float: right;
            position: absolute;
            right: 0px;
            top: 0px;
        }
    }
}