// global icons

.icon-menu {
    font-size: $large-font  !important;
    color: var(--onyx-black);
}

.icon-cart1 {
    font-size: $extra-large-3-font  !important;
    color: var(--onyx-black);
}

.icon-back-arrow {
    font-size: $extra-large-2_5-font  !important;
    color: var(--onyx-black);
}

.icon-more_options {
    font-size: $extra-large-2-font  !important;
    color: var(--onyx-black);
}

.icon-moglix_app_logo {
    font-size: $extra-large-3-font  !important;
    color: var(--primary);
}

.icon-search {
    font-size: $extra-large-1-font  !important;
}

.icon-brand_store {
    font-size: $extra-large-3-font;
}