@import './variables';

.card-wrap{
    margin-top: 10px;
    padding: 0px 0px 0px 10px;
}
.upper-u-may-like-sec{
    margin-top: 10px;
    padding: 10px 10px;
    background-color: #fff;
    h4{
        font-size: 14px;
        margin-bottom: 10px;
    }
    span{
        font-size: 8px;
        border: 1px solid #C0C0C0;
        border-radius: 4px;
        padding: 3px 5px;
    }
}

.upper-view-all-sec{
    background-color: $white-color;
    display: flex;
    padding: 10px 10px;
    margin-top: 10px;
    h4{
        font-size: 14px;
    }
    span{
        font-size: 8px;
        border: 1px solid $border-color;;
        border-radius: 3px;
        padding: 5px;
    }
    .upper-view-all-sec-left{
        width: 70%;
        display: flex;
        align-items: center;
        h4{
            font-size: 14px;
        }
    }
    .upper-view-all-sec-right{
        text-align: right;
        width: 30%;
        button {
            text-align: right;
            padding: 8px 10px;
            background-color: $logo-color;
            text-transform: uppercase;
            color: $white-color;
            border: 0;
            margin: 0;
            border-radius: 3px;
            display: inline;
            font-size: 12px;
            font-weight: bold;
        }
    }
}

.vertical-scroll-container {
    background-color: $white-color;
    overflow-x: auto;
    width: 100%;
    ::-webkit-scrollbar {
        display: none;
    } 
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none; 
    .inner-scroll-container {
    }
}
