@import '../scss/variables';
//inline list item
.inline-list-item {
    background-color: var(--mint-cream);
    padding: 15px;
    align-items: center;
    border-bottom: 1px solid var(--platinum);
    .inline-list-icon {
        width: 10%;
        i {
            font-size: $extra-large-3-font;
            color: var(--slimy-green);
            &.icon-mobikwik {
                color: #2172B9;
            }
        }
    }
    .inline-list-text {
        width: 78%;
        padding-right: 8px;
        font-size: $large-font;
        .blue-promo-code {
            color: #2172B9;
            font-weight: $font-bold;
        }
        .green-promo-code {
            color: var(--slimy-green);
            font-weight: $font-bold;
        }
        .green-promo-code-min {
            font-size: x-small;
            color: rgb(136, 133, 133);
        }
    }
    .inline-list-link {
        width: 10%;
        i {
            font-size: $extra-large-2_5-font;
            color: #2172B9;
        }
    }
    p {
        font-size: $small-font;
    }
    small {
        color: var(--onyx-black);
        font-size: $medium-font;
    }
    strong {
        font-weight: 500;
    }
}

.inline-list-item-variant1 {
    background-color: var(--white);
    display: flex;
    align-items: center;
    padding: 15px;
    .inline-list-icon {
        width: 10%;
        i {
            font-size: $large-icon-font;
            color: var(--black);
        }
    }
    .inline-list-text {
        width: 60%;
        padding-right: 8px;
    }
    .inline-list-link {
        width: auto;
        margin-left: auto;
        .get-quote {
            padding: 10px 6px;
            color: var(--primary);
            background: var(--misty-rose);
            border-radius: $border-radius-6;
            font-weight: $font-bold;
        }
    }
    small {
        font-size: $medium-font;
        display: block;
        color: var(--gray-web);
    }
    p {
        font-size: $small-font;
    }
    strong {
        font-weight: bold;
        font-size: $large-font;
    }
}

.more-coupon-offers {
    border-bottom: 0;
    padding: 15px 15px 5px;
}