@import '../scss/variables';
.key-features {
    padding: 5px 15px 15px;
    background: var(--white);
    font-size: $large-font;
    border-bottom: 1px solid var(--silver);
    .feature-list {
        li {
            padding-bottom: 5px;
            p:before {
                content: "•";
                font-size: $extra-large-4-font;
                padding-right: 10px;
                vertical-align: top;
                line-height: $medium-line-height;
            }

            span {
                display: inline-block;
                width: 90%;
                line-height: $medium-line-height;
                vertical-align: top;
            }
        }
    }
}