@import './variables';
@import './layout/forms';

.payment-notification {
    span {
        color: var(--primary);
        background: #FFEDEE;
        padding: 6px 10px;
        font-size: $small-font;
        line-height: 14px;
        box-shadow: 0px 0px 2px #0000001A;
        border-radius: 4px;
        display: inline-block;
    }
}

.bank-list {
    .bank-list-item {
        display: flex;
        align-items: center;
        border-bottom: 1px solid var(--platinum);
        padding: 10px 0px;
        &:last-child {
            border-bottom: none;
        }
        .payment-radio-btn {
            margin-right: 10px;
        }
        img {
            width: 35px;
            margin-right: 15px;
            &.wallet-img {
                width: 140px;
            }
        }
        .bank-name {
            p {
                margin-bottom: 5px;
            }
        }
        span.lowsuccessRate {
            font-size: $small-font;
            color: var(--primary);
            display: block;
        }
    }
}



