@import '.././scss/components/panel-head.scss';    
    .price-table{
        border-top: none;
    }
    .body-bg {
        background: #f2f2f2;
    }
    .seo-table-container{
        background-color: #ffffff;
        padding: 0px 10px 15px 10px;
        .seo-table-data{
            box-shadow: 0px 3px 6px #0000001A;
            background: #f2f2f2;
            border-radius: 4px;
            margin-bottom: 10px;
            thead{
                tr{
                    border: none;
                    th{
                        border: none;
                        font-size: 12px;
                        text-align: left;
                        padding: 5px;
                  }  }
            }
            tbody{
               background-color: #ffffff;
               tr{
                border: none;
                td{
                    border: none;
                    font-size: 12px;
                    font-weight: normal;
                    text-align: left;
                    padding: 5px;
                }
            }           
         }
        }
    }
