@import "../scss/variables";

.product-specification {
    background: var(--white);
    padding: 5px 0 0;
    border-bottom: 1px solid var(--platinum);

    .heading-3 {
        padding: 10px 15px 15px;
    }
}

.product-spec {
    border-top: 1px dashed var(--platinum);
    font-size: $large-font;
    border-spacing:0px;
    border-collapse:collapse;

    tr {
        &:nth-child(2n) {
            background: var(--ghost-white);
        }

        td {
            padding: 10px 15px;
            vertical-align: top;

            &.left {
                border-right: 1px dashed var(--silver);
                border-bottom: 1px dashed var(--silver);
            }

            &.right {
                border-bottom: 1px dashed var(--silver);
            }

            div {
                width: $fullwidth;

                .brandName {
                    color: var(--blue);
                }
            }
            
            
        }
        &.show-more-row{
            padding:10px 0px;
            margin-bottom:10px;
            background:var(--white);
            text-align:center;
            .link-text{
                font-size:$medium-font;
                font-weight:bold;
            }
        }
    }
}