.prod-detail {
    padding: 5px 15px 15px;
    background: white;
    .heading-3 {
        padding-bottom: 5px;
    }
    p {
        font-size: $large-font;
        line-height: 21px;

        &:first-of-type {
            -webkit-line-clamp: 4;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            height: 6em;
        }

        &.static-desc {
            height: 0;
            visibility: hidden;
        }
    }

    .read-more {
        background: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        color: #0d99ff;
        font-size: 14px;
        border: none;
        padding-top: 10px;
        text-transform: capitalize;
    }

    &.detail-videos {
        border-top: 1px solid $border-color;
        padding: 5px 15px 15px;

        .heading-3 {
            padding-bottom: 10px;
        }
    }
}