//grouping-attribute-wrap-section
.grouping_wrap_pdp {
    background: var(--white);
    .singlewrap {
        border-bottom: 0.5px solid var(--platinum);
        padding: 0px 15px;
        overflow: hidden;
        &:last-of-type {
            border-bottom: none;
            padding-bottom: 0px;
        }
        ul {
            display: flex;
            overflow-x: scroll;
            white-space: nowrap;
            scrollbar-width: none;
            li {
                margin: 0px 10px 10px 0px;
                a {
                    display: inline-block;
                    padding: 8px 12px;
                    font-size: $medium-font;
                    font-weight: $font-bold;
                    color: var(--onyx-black);
                    width: $fullwidth;
                    text-align: center;
                    border: 1px solid var(--spanish-gray);
                    border-radius: $border-radius-8;
                    &.selected {
                        background: var(--border-red);
                        color: var(--primary);
                        border: 1px solid var(--primary);
                    }
                    &.inactive {
                        opacity: 0.5;
                        pointer-events: none;
                  }
              }
          }
      } 
   }
 }
