// Raise RFQ Animation
.shimmer {
    .wrapper {
        width: 0px;
        animation: fullView 0.5s forwards linear;
    }
    @keyframes fullView {
        100% {
            width: 100%;
        }
    }
    .shimmer-button {
        animation: shimmer 5s;
        animation-iteration-count: infinite;
        background: linear-gradient(to right, #d9232d 5%, #ffbebe5c 25%, #d9232d 35%);
        background-size: 1000px 100%;
        &.valid-button {
            background: linear-gradient(to right, #6bac39 5%, #ffbebe5c 25%, #6bac10 35%);
        }
    }

    @keyframes shimmer {
        0% {
            background-position: -450px 0;
        }

        100% {
            background-position: 450px 0;
        }
    }
    @keyframes bounce {
        50% {
            transform: translateX(5px);
        }
    }
    .arrow-container{
        i {
            margin-left: -8px;
            font-weight: bold;
            font-size: 16px;
        }
        i {
            display: inline-block;
        }
        .icon-animate-1 {
            animation: bounce 1s infinite;
            animation-delay: 0.6ms;
            animation-timing-function: linear;
            opacity: 0.3;
           
        }
        .icon-animate-2 {
            animation: bounce 1s infinite;
            animation-delay: 0.4ms;
            animation-timing-function: ease-in;
            opacity: 0.7;
        }
        .icon-animate-3 {
            animation: bounce 1s infinite;
            animation-delay: 0.4ms;
            animation-timing-function: ease-in-out;
            opacity: 1;
        }
        transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.75s;
    }
    .swiper{
        #animate-slider {
          transition: width 0.3s, border-radius 0.3s, height 0.3s;
          position: absolute;
          left: 0px;
          background-color: #d9232d;
          width: 60px;
          height: 45px;
          border-radius: 8px;
          @include center;
      
          &.unlocked {
              transition: all 0.3s;
              width: 100%;
              left: 0 !important;
              height: inherit;
              border-radius: 8px;
          }
      }
      .slide-text {
          color: var(--onyx-black);
          font-size: $medium-font;
          text-transform: uppercase;
          font-family: "Roboto", sans-serif;
          @include nonselect;
       }
       
    }
    #button-background {
        position: relative;
        width: 100%;
        height: 45px;
        border: white;
        border-radius: 0px;
        @include center;
    }
}
.buy-nowsec {
    margin-top: 10px;
    background-color: #ffffff;
    padding: 15px;
    .prodct-name {
        -webkit-line-clamp: 1;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
    .buynow-flex {
        display: flex;
        align-items: center;
        margin: 10px 0px;
        .bn-left {
            width: 75%;
            p {
                margin: 10px 0px;
                i {
                    color: #00c100;
                }
            }
        }
        .bn-right {
            width: 25%;
            img {
                width: 80px;
                height: 80px;
            }
        }
    }

    .button-sec {
        background-color: #eaeaea;
        padding: 10px;
        border-radius: 12px;
        p {
            text-align: center;
        }
        .button-area {
            margin-top: 10px;
            position: relative;
            .next-btn {
                i {
                    color: #ffffff;
                }
                position: absolute;
                top: 0px;
                width: 60px;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 45px;
                border-radius: 8px;
                &.next-btn-valid {
                    background-color: #6bac39;
                    right: 0px;
                }
                &.next-btn-invalid {
                    background-color: #d9232d;
                    left: 0px;
                }
            }
            button {
                background-color: #d9232d;
                opacity: 0.7;
                border: none;
                width: 100%;
                color: #ffffff;
                height: 45px;
                border-radius: 8px;
                font-weight: bold;
                &.valid-button {
                    background-color: #79be44;
                }
            }
        }
    }
}
