@import '../../scss/common-header';
// search-widget
.search-widget-container {
    position: relative;
    background: var(--misty-rose);
    border-bottom-left-radius: $border-radius-16;
    border-bottom-right-radius: $border-radius-16;
    .search-widget-section {
        width: $fullwidth;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 30px 15px 40px;
        margin-bottom: 20px;
        .inner-search-widget {
            width: $fullwidth;
            z-index: 1;
            p {
                font-size: $extra-large-2-font;
                font-weight: $font-bold;
                color: var(--spanish-gray);
                text-align: center;
                padding-bottom: 20px;
                span {
                    color: var(--onyx-black);
                }
            }
            .widget-search-bar {
                .widget-search-input {
                    height: 60px;
                    border-radius: 50px;
                    padding: 0 25px 0 50px;
                }
                &:after {
                    left: 18px;
                    top: 18px;
                }
            }
        }

    }
    .search-widget-bg {
        background-image: url('../../../assets/img/search_banner_image.png');
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0px;
        width: $fullwidth;
        background-repeat: no-repeat;
        height: 82px;  
        background-size: cover;  
        border-bottom-left-radius: $border-radius-16;
        border-bottom-right-radius: $border-radius-16;
    }
}






