<div class="otherCategoryBlock pwa-row pad-tb-0 mb-15" *ngIf="data['data'] && data['data'].length > 0">
    <h3 class="heading-3">{{data?.title}}</h3>
    <div class="trending-category-block pwa-row pad-lr-0 row-gutter-space">
        <div *ngFor="let item of data['data'] | slice:0:4;let i=index" class="inner-trending-category pwa-col-6">
            <div [routerLink]="['/'+item?.image_link]" class="innerCategory">
                <div class="imgBlock">
                    <img alt="{{item['image_title']}}" src="{{imagePath + item['image_name']}}">
                </div>
                <div class="detailsBlock">
                    <h3>{{item['image_title']}}</h3>
                    <p *ngIf="item['image_general']  && item['image_general'].length >0">
                        {{item['image_general'][0]['general_text']}}</p>
                </div>
            </div>
        </div>
    </div>
</div>