<app-pop-up [headerType]="'pop-up-header1'" [data]="{headerText: 'Write Question'}">
    <!-- <div class="head-sec header_add_edit" header>
        <div class="container">
            <i class="icon-back f-left white_text" (click)="closeVariant2Popup()"></i>
            <p class="txt header_text page-name">Write Question</p>
        </div>
    </div> -->
    <div class="content-popup ask-question-container" content>
            <div class="pwa-row ask-question-field material-form material-form-boxed">
                <div class="pwa-col-12 input-field-boxed">
                    <textarea [(ngModel)]="questionText" maxlength="200" placeholder="Type your question"></textarea>
                    <p class="char-counter-text">{{questionText.length}}/200</p>
                </div>
            </div>
            <div class="pwa-row info-list">
                <div class="pwa-col-12">
                    <ul>
                        <li><span>Be specific, ask questions about the product and not about price, delivery, service etc.</span></li>
                        <li><span>Ask for information which isn't captured in the product specification.</span></li>
                    </ul>
                </div>
            </div>
            <div class="fixed-bottom-cta">
                <button (click)="postQuestion()" class="btn primary-full-btn">SUBMIT YOUR QUESTION</button>
            </div> 
    </div>
</app-pop-up>