<app-pop-up [data]="{class: 'payment-popup addAddressPopup', headerCustom:true}">
    <div class="head-sec header_add_edit" header>
        <div class="container">
            <i class="icon-back f-left white_text" (click)="closeVariant2Popup()"></i>
            <p class="txt header_text page-name">Write Question</p>
        </div>
    </div>
    <div class="content-popup" content>
        <div class="ask-question-container">
            <div class="pwa-row ask-question-field material-form material-form-boxed">
                <div class="pwa-col-12 input-field-boxed">
                    <textarea [(ngModel)]="questionText" maxlength="200" placeholder="Type your question"></textarea>
                    <p class="char-counter-text">{{questionText.length}}/200</p>
                </div>
            </div>
            <div class="pwa-row info-list">
                <div class="pwa-col-12">
                    <ul>
                        <li>Be specific, ask questions about the product and not about price, delivery, service etc.</li>
                        <li>Ask for information which isn't captured in the product specification.</li>
                    </ul>
                </div>
            </div>
            <div class="stickyBottomBtn">
                <button (click)="postQuestion()" class="btn-red-bg">SUBMIT YOUR QUESTION</button>
            </div>   
        </div>

    </div>
</app-pop-up>