<section class="Bestseller card similar-prod" *ngIf="recentProductItems && recentProductItems.length>0">
    <div class="upper-view-all-sec">
        <div class="upper-view-all-sec-left">
            <h4>Recently Viewed</h4>
        </div>
        <!-- <div class="upper-view-all-sec-right">
            <button>VIEW ALL</button>
        </div> -->
    </div>
    <div class="vertical-scroll-container">
        <div class="inner-scroll-container" [style.width.px]="recentProductItems.length * 165">
            <ng-container *ngFor="let product of recentProductItems;" >
                <product-horizontal-card 
                    [product]="product"
                    [cardMetaInfo]='cardMetaInfo'
                    [cardFeaturesConfig]='cardFeaturesConfig' >
                </product-horizontal-card>
            </ng-container>
        </div>
    </div>
</section>