<section  *ngIf="recentProductItems && recentProductItems.length>0">
    <div class="view-all-strip">
            <h4>Recently Viewed</h4>
            <a href="" class="btn-red">VIEW ALL</a>
    </div>
    <!-- <div class="vertical-scroll-container">
        <div class="inner-scroll-container" [style.width.px]="recentProductItems.length * 165">
            <ng-container *ngFor="let product of recentProductItems;let pIndex = index" >
                <product-card 
                    [product]="product"
                    [cardMetaInfo]='cardMetaInfo'
                    [section]="'recently'"
                    [cardFeaturesConfig]='cardFeaturesConfig'
                    [pIndex]="pIndex"
                    [enableTracking]="true"
                    [analytics]="analytics">
                </product-card>
            </ng-container>
        </div>
    </div> -->
</section>