@import '../../../scss/variables';
@import '../../../scss/payment-common';
.wallet-container {
    label {
        padding: 10px 15px;
        border-bottom: 1px solid $border-color;
        &:last-child {
            border-bottom: 0;
        }
        img {
            width: 130px;
        }
        .custom-box {
            margin-top: 10px;
        }
    }
}

.walletInner {
    @extend %pwa-universal-radio;
    .pad-l-8 {
        padding-left: 8px;
    }
}