<!-- password-form -->
<form class="material-form" [formGroup]="fpForm">
    <shared-auth-header [isCheckout]="isCheckout"></shared-auth-header>
    <shared-auth-otp [otpFormArray]="otpForm" [source]="'forgot_password'" [identifier]="authFlow?.identifier"
        (otpEmitter)="captureOTP($event)" [withLabel]="false" [isForgotPassword]="true">
    </shared-auth-otp>
    <!--Password Section-->
    <div class="login-card shared-otp-card">
        <div class="outline-input-label">
            <label [class.is-focus]="password.value.length!=0">
                <input [type]="isPasswordType?'password':'text'" formControlName="password" autocomplete="off">
                <span class="label">Set Password</span>
                <i class="icon-view-password" *ngIf="password.value"
                    (click)="$event.stopPropagation();togglePasswordType()"></i>
                <ng-container *ngIf="(password.touched || password.dirty)">
                    <p class="error-field error-txt" *ngIf="password.hasError('required')">Please enter valid password.
                    </p>
                    <p class="error-field error-txt" *ngIf="password.hasError('minlength')">
                        {{password.errors.minlength}}</p>
                    <p class="error-field error-txt" *ngIf="password.hasError('space')">{{password.errors.space}}</p>
                </ng-container>
            </label>
        </div>
        <button class="btn btn-variant1" [class.btn-disabled]="isDisabled"
            (click)="$event.stopPropagation();updatePassword()">CONTINUE</button>
        <a class="forgot-pass" (click)="$event.stopPropagation();navigateTo(LOGIN_URL)">BACK TO SIGN IN</a>
    </div>
</form>






