<!-- password-form -->
<div class="shared-auth-header">
    <img class="left-arrow" src="{{imagePath}}assets/img/arrow-left-line.png">
    <i class="icon-logo bg-logo"></i>
</div>
<div class="outer-card">
    <h3 class="heading-custom-3">Enter 6 digit OTP for verification</h3>
    <p>One Time Password sent to {{authFlow?.identifier}}</p>
</div>
<div class="otp-card login-card">
    <form class="material-form" [formGroup]="fpForm">
        <!--OTP Section-->
        <div class="otp-form-inputs">
            <ng-container *ngFor="let control of otpForm['controls'];let cIndex=index">
                <!--added class='pseudo' for focus purpose-->
                <input placeholder="-" numbersOnly [formControl]="control" autofocus class="pseudo" maxlength="1"
                    (keyup)="moveFocus($event,control.valid, cIndex)">
            </ng-container>
        </div>
        <!--Yajya:Need to fix error and success text-->
        <div class="suceess-field" *ngIf="isOTPVerified"><span class="success-text">Number Verified</span> </div>
        <div class="error-field" *ngIf="!(isOTPVerified)"><span class="error-text">Number not Verified</span> </div>
        <div class="otp-text">
            <div class="otp-text-inner left">
                <span>Didn’t receive the code?</span><br>
                <span class="resend">Resend in {{ timer | otpTimer}}</span>
            </div>
            <!--Yajya:Resend OTP-->
            <div class="otp-text-inner right" [class.btn-disabled]="timer>0">
                <span (click)="$event.stopPropagation();startOTPTimer()">RESEND OTP</span>
            </div>
        </div>
        <!--Password Section-->
        <div class="outline-input-label">
            <label [class.is-focus]="password.value.length!=0">
                <input [type]="isPasswordType?'password':'text'" formControlName="password">
                <span class="label">Set Password</span>
                <i class="icon-view-password" *ngIf="password.value" (click)="$event.stopPropagation();togglePasswordType()"></i>
                <ng-container *ngIf="(password.touched || password.dirty)">
                    <p class="error-field error-txt" *ngIf="password.hasError('required')">Please enter valid password.
                    </p>
                    <p class="error-field error-txt" *ngIf="password.hasError('minlength')">
                        {{password.errors.minlength}}</p>
                    <p class="error-field error-txt" *ngIf="password.hasError('space')">{{password.errors.space}}</p>
                </ng-container>
            </label>
        </div>
        <button class="btn btn-variant1" [class.btn-disabled]="fpForm.invalid"
            (click)="$event.stopPropagation();updatePassword()">CONTINUE</button>
        <a class="forgot-pass" href="#" (click)="$event.stopPropagation();navigateTo(LOGIN_URL)">BACK TO SIGN IN</a>
    </form>

</div>