<!-- password-form -->
<div class="outer-card">
    <h3 class="heading-custom-3">Enter Password</h3>
    <p>Linked with 9717311486 & ashish.kumar@gmail.com</p>
</div>
<div class="login-card">
    <h3 class="heading-custom-3">Sign-In or Sign Up</h3>
    <form class="material-form">
        <div class="outline-input-label">
            <label [class.is-focus]="username.value.length!=0">
                <input type="text" formControlName="username">
                <span class="label">Enter Password</span>
                <i class="icon-view-password"></i>
                <ng-container *ngIf="isSubmitted && username.errors != null">
                    <p class="error-txt">{{getErrors(username.errors)}}</p>
                </ng-container>
            </label>
        </div>
        <button class="btn btn-variant1 btn-disabled">CONTINUE</button>
        <a class="forgot-pass" href="#">FORGOT PASSWORD?</a>
        <div class="login-seperator-text "> <span>Or</span></div>
        <button class="btn btn-variant1 btn-dark-grey">SIGN-IN WITH OTP</button>
    </form>
</div>

<!-- forgot-password-form -->
<div class="outer-card">
    <h3 class="heading-custom-3">Forgot Password</h3>
    <p>Enter register mobile number to receive verification code</p>
</div>
<div class="login-card">
    <form class="material-form">
        <div class="outline-input-label">
            <label [class.is-focus]="username.value.length!=0">
                <input type="text" formControlName="username">
                <span class="label">Enter Mobile Number/Email-ID</span>
                <ng-container *ngIf="isSubmitted && username.errors != null">
                    <p class="error-txt">{{getErrors(username.errors)}}</p>
                </ng-container>
            </label>
        </div>
        <button class="btn btn-variant1 btn-disabled">CONTINUE</button>
        <a class="forgot-pass" href="#">BACK TO SIGN IN</a>
    </form>
</div>

<!-- Reset-password-form -->
<div class="outer-card">
    <h3 class="heading-custom-3">Enter 6 digit OTP for verification</h3>
    <p>One Time Password sent to 9717311486</p>
</div>
<div class="login-card otp-card">
    <form class="otp-form otp-form-invalid otp-form-varified">
        <div class="otp-form-inputs">
            <input placeholder="-">
            <input placeholder="-">
            <input placeholder="-">
            <input placeholder="-">
            <input placeholder="-">
            <input placeholder="-">
        </div>
        <div class="error-field">
            <span class="error-text">OTP is not correct</span>
        </div>
    </form>

    <div class="otp-text">
        <div class="otp-text-inner left">
            <span>Didn’t receive the code?</span><br>
            <span class="resend">Resend in 00:20</span>
        </div>
        <div class="otp-text-inner right">
            <span>RESEND OTP</span>
        </div>
    </div>
    <form class="material-form">
        <div class="outline-input-label">
            <label [class.is-focus]="username.value.length!=0">
                <input type="text" formControlName="username">
                <span class="label">Set Password</span>
                <ng-container *ngIf="isSubmitted && username.errors != null">
                    <p class="error-txt">{{getErrors(username.errors)}}</p>
                </ng-container>
            </label>
        </div>
        <button class="btn btn-variant1 btn-disabled">CONTINUE</button>
        <a class="forgot-pass" href="#">BACK TO SIGN IN</a>
    </form>
</div>