@import '../../../../scss/variables';
@import '../../../../scss/base/typography.scss';
@import '../../../../scss/layout/cards.scss';
@import '../../../../scss/utils/utilities.scss';
.select-offers {
    margin-top: 10px;
    .promo-code {
        @extend %clear-fix;
        padding: 0 15px 15px 15px;
        p {
            font-weight: $font-bold;
            font-size: $large-font;
            margin-bottom: 5px;
        }
        border-bottom: 1px solid var(--silver);
    }
    .no-coupon-card-container{
        padding-top: 50px;
        .card{
            padding:70px 15px;
            .inner-no-coupon-card{
                text-align: center;
                img{
                    width: 100px;
                }
                p{
                    font-size: $large-font;
                    line-height: $small-line-height;
                    padding-top: 10px;
                }
            }
        }
    }
    .coupon-card-container {
        padding: 20px 15px 15px;
        .pwa-text{
            padding-bottom: 10px;
        }
        .card{
            padding: 15px;
            margin-bottom: 10px;
            .apply-coupon{
                display: flex;
                align-items: center;
                .inner-coupon{
                    width:65%;
                }
                h3{
                    padding: 0 0 5px;
                }
                .promo-description{
                    font-size: $medium-font;
                    line-height: $small-line-height;
                }
                button{
                    margin-left:auto;
                    align-self: self-start;
                }
            }
        }
    }
    .alert-box{
        .content-area{
            border-radius: 12px;
            .info-area{
                text-align: center;
                padding: 30px;
                i{
                    font-size: 35px;
                    color: var(--slimy-green);
                    padding-bottom: 15px;
                    display: block;
                }
                .applied-coupon{
                    font-weight: 600;
                    font-size: 14px;
                    padding-bottom: 20px;
                }
                .saving-applid-coupon{
                    font-size: 10px;
                    line-height: 16px;
                    display: grid;
                    line-height: $large-line-height;
                    padding-bottom: 15px;
                    span{
                        font-size: 28px;
                        font-weight: 600;
                    }
                }
                .green-text{
                    font-size: 14px;
                    color: var(--slimy-green);
                    font-weight: 600;
                }
            }
        }
    }
}


/*new css 20-09-2021*/
.popup {
    position: fixed;
    // display: none;
    z-index: 99;
    &.screen-view {
        width: $fullwidth;
        height: 100%;
        top: 120%;
        left: 0;
        overflow: scroll;
        background: $white;
        @extend %transition;
        &.open {
            top: 0;
        }
        .head-sec {
            padding: 12px 0;
            margin: 0;
            z-index: 5;
            position: relative;
            &:after {
                clear: both;
                content: '';
                display: block;
            }
            i {
                font-size: $extra-large-2-font;
                line-height: $large-line-height;
                float: left;
            }
            i+.page-name {
                font-size: $extra-large-font;
                margin-left: 10px;
            }
            .txt {
                font-size: $extra-large-font;
                font-weight: $font-bold;
                line-height: $medium-line-height;
                margin-left: 20px;
                float: left;
            }
        }
    }
}
//Promo PopUp
.select-offers {
    &.open {
        background-color: var(--white);
        // .container {
        //     height: initial;
        // }
    }
}