@import '../../../../scss/variables';
@import '../../../../scss/layout/cards.scss';
@import '../../../../scss/utils/utilities.scss';
.select-offers {
    .head-sec {}
    .promo-code {
        @extend %clear-fix;
        padding: 0 15px 15px 15px;
        p {
            font-weight: $font-bold;
            font-size: $large-font;
            margin-bottom: 5px;
        }
        border-bottom: 1px solid var(--silver);
    }
    .coupon-card-container {
        height: 79%;
        height: calc(100vh - 138px);
        overflow: auto;
        padding: 15px;
        border-top: 1px solid var(--silver);
        margin-top: 15px;
        .pwa-text{
            font-weight: $font-bold;
            padding-bottom: 10px;
        }
        label {
            border-top: 1px solid $border-color;
            &.selected {
                background: $checkbox-overly;
            }
            .promo-label {
                display: inline-block;
                padding: 5px;
                font-size: $large-font;
                font-weight: $font-bold;
                border: 1px dashed $border-sec-color;
            }
            .promo-description {
                display: block;
                font-size: $large-font;
                margin-top: 5px;
            }
        }
        .card{
            padding: 15px;
            margin-bottom: 10px;
            .apply-coupon{
                display: flex;
                align-items: center;
                .inner-coupon{
                    width:65%;
                }
                p {
                    font-size: $large-font;
                    display: block;
                }
                button{
                    margin-left:auto;
                }
            }
            .cart-value{
                font-size: $medium-font;
                line-height:$small-line-height;
                font-weight: $font-bold;
            }
        }
    }
}
/*new css 20-09-2021*/
.popup {
    position: fixed;
    // display: none;
    z-index: 99;
    &.screen-view {
        width: $fullwidth;
        height: 100%;
        top: 120%;
        left: 0;
        background: $white;
        @extend %transition;
        &.open {
            top: 0;
        }
        .head-sec {
            padding: 12px 0;
            margin: 0;
            z-index: 5;
            position: relative;
            &:after {
                clear: both;
                content: '';
                display: block;
            }
            i {
                font-size: $extra-large-2-font;
                line-height: $large-line-height;
                float: left;
            }
            i+.page-name {
                font-size: $extra-large-font;
                margin-left: 10px;
            }
            .txt {
                font-size: $extra-large-font;
                font-weight: $font-bold;
                line-height: $medium-line-height;
                margin-left: 20px;
                float: left;
            }
        }
    }
}
//Promo PopUp
.select-offers {
    &.open {
        background-color: var(--white);
        .container {
            height: initial;
        }
    }
}