@import '../../../../scss/variables';
@import '../../../../scss/base/typography.scss';
@import '../../../../scss/layout/cards.scss';
@import '../../../../scss/utils/utilities.scss';
.select-offers {
    padding-top: 10px;
    background: var(--white);
    &.open {
        background-color: var(--white);
    }
    .promo-code {
        @extend %clear-fix;
        padding: 0 15px 15px 15px;
        p {
            font-weight: $font-bold;
            font-size: $large-font;
            margin-bottom: 5px;
        }
        border-bottom: 1px solid var(--silver);
    }
    .no-coupon-card-container{
        padding-top: 50px;
        .card{
            padding:70px 15px;
            .inner-no-coupon-card{
                text-align: center;
                img{
                    width: 100px;
                }
                p{
                    font-size: $large-font;
                    line-height: $small-line-height;
                    padding-top: 10px;
                }
            }
        }
    }
    .coupon-card-container {
        padding: 20px 15px 15px;
        .pwa-text{
            padding-bottom: 10px;
            font-weight: $font-bold;
        }
        .card{
            padding: 20px 15px;
            margin-bottom: 10px;
            .apply-coupon{
                display: flex;
                align-items: center;
                .inner-coupon{
                    width:65%;
                }
                h3{
                    padding: 0 0 5px;
                }
                .promo-description{
                    font-size: $medium-font;
                    line-height: $small-line-height;
                }
                button{
                    margin-left:auto;
                    align-self: self-start;
                }
            }
        }
    }
    .alert-box{
        .overlay{
            background: rgba(0, 0, 0, 0.7);
        }
        .content-area{
            border-radius: 12px;
            .info-area{
                text-align: center;
                padding: 30px;
                i{
                    font-size: 35px;
                    color: var(--slimy-green);
                    padding-bottom: 15px;
                    display: block;
                }
                .applied-coupon{
                    font-weight: 600;
                    font-size: 14px;
                    padding-bottom: 20px;
                }
                .saving-applid-coupon{
                    font-size: 10px;
                    line-height: 16px;
                    display: grid;
                    line-height: $large-line-height;
                    padding-bottom: 15px;
                    span{
                        font-size: 28px;
                        font-weight: 600;
                    }
                }
                .green-text{
                    font-size: 14px;
                    color: var(--slimy-green);
                    font-weight: 600;
                }
            }
        }
    }
}

