@import "../../scss/variables";
@import "../../scss/components/checkbox.scss";
@import "../../scss/components/static-card-container.scss";
@import '../../scss/components/static-small-card-container.scss';

.fbt-card-container {
    background: var(--white);
    .fbt-close-ico {
        font-size: $extra-large-1-font;
        float: right;
        padding-right: 10px;
        line-height: $extra-large-line-height;
    }
    .static-small-card-container{
        border-radius: 0;
        .fbt_tag {
            background: #DBDBDB;
            color: #74777A;
            border-radius: $border-radius-6;
            padding: 4px 8px;
            margin-top: 4px;
            display: inline-block;
            font-size: $medium-font;
        }
        .fbt_price {
            font-weight: bold;
            font-size: 16px;
            display: block;
            margin: 5px 0 5px 0;
        }
    }
    .fbtList {
        li {
            margin-bottom: 0px;
            padding: 0px;
            font-size: $medium-font;
            display: flex;
            border-bottom: 1px solid var(--platinum);
            .fbtCheckBox {
                width: 50px;
                padding: 15px;
                label {
                    width: 20px;
                    @extend %custom-check-box-checkout;
                    height: 74px;
                    .custom-box {
                        font-size: $extra-large-2-font;
                        &::before {
                            content: "\e9a5";
                            font-family: 'icomooon_pwa';
                            color: var(--spanish-gray);
                        }
                    }
                }
            }
            .static-card-container{
                width:calc(100% - 50px);
                padding: 10px;
                border-left: 1px solid $border-color;
            }

        }
    }
    .fbdBottom {
        padding: 15px;
        h3 {
            padding: 5px 0px;
        }
        .grey-fbt-txt {
            color: var(--spanish-gray);
            font-size: $small-font;
            font-weight: normal;
            padding-left: 5px;
        }
    }
}