<ng-container *ngIf="page === 'pdp' || appPromoStatus">
  <div
    class="app-promo-container"
    [ngClass]="{
      'fixed-app-promo': isOverlayMode,
      hideAppPromo: scrolledViewPort > 200 && isOverlayMode
    }"
  >
    <!-- 1st varient  use homepage and plp-->
    <ng-container>
      <div class="app-promotion" *ngIf="showPromoCode && page != 'pdp'">
        <p>Download Moglix App</p>
        <span (click)="removePromo()">
          <i class="icon-circle-delete"></i>
        </span>
      </div>
      <div
        class="promo-code-container"
        (click)="openStore()"
        *ngIf="page != 'sideBar'"
      >
        <div class="mobile">
          <div *ngIf="page == 'pdp'; then pdpContent; else content"></div>
          <ng-template #pdpContent>
            <img src="{{ assetImgPath }}assets/img/Screen-5.svg" />
          </ng-template>
          <ng-template #content>
            <img src="{{ assetImgPath }}assets/img/Screen-2.svg" />
          </ng-template>
        </div>
        <div class="text-container">
          <div class="text">
            <strong>Get ₹100 Off* on your first order</strong>
            <p>Use code: <strong>HELLO</strong></p>
          </div>
          <div class="install-app">
            <button>OPEN APP</button>
          </div>
        </div>
      </div>
    </ng-container>
    <!-- 3rd varient used hamburger menu-->
    <div
      class="promo-code-container"
      (click)="openStore()"
      *ngIf="page == 'sideBar'"
    >
      <div class="mobile">
        <img src="{{ assetImgPath }}assets/img/Screen-7.svg" />
      </div>
      <div class="outer-text-section">
        <strong
          >Download Moglix App <br />& get ₹100 Off*
          <span>on your first order.</span></strong
        >
        <div class="text-container inner-txt-section">
          <div class="text use-code-text">
            <p>Use code: <strong>HELLO</strong></p>
          </div>
          <div class="install-app">
            <button class="open-app-promo">OPEN APP</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
