    /* APP PROMOTION */
    
    // .fix-in-bottom{
    //     position: fixed; bottom: 0; width: 100%; z-index: 9;
    .app-promotion {
        background: #F1F1F1;
        padding: 12px 15px;
        span {
            display: inline-block;
            vertical-align: middle;
            text-align: left;
        }
        p {
            display: inline-block;
            vertical-align: middle;
            font-size: 14px;
            line-height: 22px;
            padding-left: 10px;
        }
        strong {
            display: inline-block;
            color: #41AE0C;
            font-size: 14px;
            border: 1px dashed #41AE0C;
            background: #fff;
            padding: 1px 5px;
            border-radius: 4px;
            margin-top: 1px;
            line-height: 16px;
        }
        .install-app-text {
            font-size: 12px;
            color: #3C3C3C;
            font-weight: 400;
            line-height: 22px;
            padding-left: 0;
        }
    }
    .promotion-nonLogin {
        padding: 12px 15px;
        display: flex;
        align-items: center;
        background: var(--white);
        .mobile {
            padding-left: 0px;
        }
        img {
            width: auto;
        }
        .text {
            width: 50%;
            padding: 5px 0 0px 12px;
            strong {
                font-size: 13px;
                display: block;
                font-weight: 700;
            }
            p {
                color: #74777A;
                font-size: 11px;
                font-weight: 400;
                padding-top: 5px;
            }
        }
        .mobile {
            padding-left: 8px;
        }
        .play-store {
            padding: 5px 0px 0 0;
            margin-left: auto;
            display: inline-flex;
            img {
                width: 115px;
            }
        }
    }
    .content-mobile-app {
        background: #fff;
        padding: 12px 10px 12px 5px;
        // margin-top: -1px;
        display: flex;
        justify-content:flex-start;
        // align-items: center;
        
        img {
            width: auto;
        }
        .text {
            width: 50%;
            padding: 5px 0 0px 12px;
            strong {
                font-size: 13px;
                display: block;
                font-weight: 700;
            }
            p {
                color: #74777A;
                font-size: 11px;
                font-weight: 400;
                padding-top: 5px;
            }
        }
        .mobile {
            padding-left: 8px;
        }
        .play-store {
            padding: 5px 0px 0 0;
            margin-left: auto;
            display: inline-flex;
            img {
                width: 115px;
            }
        }
        .install-app {
            margin-left: auto;
            button {
                background: #db232e;
                font-size: 12px;
                font-weight: 700;
                border-radius: 4px;
                color: #fff;
                border: none;
                display: inline-block;
                padding: 10px 8px;
            }
        }
    }
    
    @media screen and (max-width: 320px) {
        .install-app {
            button {
                font-size: 10px !important;
            }
        }
    }