@import '../../scss/variables';
/* APP PROMOTION */
.app-promotion {
    background: var(--white);
    padding: 5px 10px;
    border-top-left-radius: $border-radius-8;
    border-top-right-radius: $border-radius-8;
    border: 1px solid var(--we-peep);
    display: flex;
    justify-content: space-between;
    align-items: center;

    span {
        display: inline-block;
        vertical-align: middle;

        i {
            font-size: $large-font;
        }

    }

    p {
        font-size: $medium-font;
        line-height: $small-line-height-1;
        color: var(--onyx-black);
    }
}

.app-promo-container {
    opacity: 1;
    transition: all 2s ease-in;
}

.hideAppPromo {
    transform: translateY(500px);
}

// 1st varient

.promo-code-container {
    align-items: flex-end;
    background: var(--misty-rose);
    width: $fullwidth;
    display: flex;
    border: 1px solid var(--we-peep);
    border-bottom: none;

    .mobile {
        display: inline-flex;
    }

    .text-container {
        display: inline-flex;
        width: calc(100% - 69px);
        justify-content: space-between;
        padding: 10px 8px 10px 0;
        align-items: center;

        .text {
            width: 72%;
            line-height: $small-line-height-1;
            color: var(--onyx-black);

            strong {
                font-size: 13px;
                span {
                    font-size: $small-font;
                    font-weight: $font-normal;
                }
            }

            p {
                color: var(--onyx-black);
                font-size: 13px;
                padding-top: 5px;

                strong {
                    display: inline-block;
                    color: var(--primary);
                    font-size: 13px;
                    border: 1px dashed var(--primary);
                    padding: 2px 5px;
                    border-radius: $border-radius-4;
                    margin-top: 1px;
                    line-height: $small-line-height;
                }
            }
        }

        .install-app {
            margin-left: auto;

            button {
                background: var(--primary);
                font-size: $medium-font;
                font-weight: $font-bold;
                border-radius: $border-radius-6;
                color: var(--white);
                border: none;
                display: inline-block;
                padding: 10px 7px;
            }
        }
    }
}
.home-app-promo{
    padding-bottom: 8px;
}
// 2nd varient
.outer-text-section {
    padding: 12px 5px 12px 0;
    width: calc(100% - 65px);

    strong {
        font-size: $medium-font;
        display: block;
        #first-order{
            font-weight: 400;
        }
    }

    .inner-txt-section {
        padding: 2px 5px 0 0;
        display: inline-flex;
        align-items: center;
        width: $fullwidth;

        .use-code-text {
            width: 73%;
        }
        .use-code-text1 {
            width: 65%;
        }
        .open-app-promo {
            padding: 7px 4px !important;
        }
    }
}
@media screen and (max-width: 334px) {
    .install-app {
        button {
            font-size: $small-font !important;
            padding: 10px 4px !important;
        }
    }
}

@media screen and (max-width: 345px) {
    .install-app {
        button {
            padding: 10px 5px !important;
        }
    }
}