<ng-container *ngIf="appPromoStatus && ( mobile_os == MOBILE_ENVS.ANDROID || mobile_os == MOBILE_ENVS.IOS )">
    <div [ngClass]="{'fixed-app-promo':isOverlayMode}">

        <ng-container *ngIf="!isUserAuthenticated">
            <div class="app-promotion" *ngIf="showPromoCode">
                <span (click)="removePromo()">
                    <img src="{{assetImgPath}}assets/img/App-promotion/close-line.png" alt="close-line">
                </span>
                <p>Get Rs 100 Off* on your first order via App<br> Use coupon <strong>HELLO</strong>
                </p>
            </div>

            <div class="content-mobile-app promotion-nonLogin" (click)="openPlayStore()"
                *ngIf="mobile_os == MOBILE_ENVS.ANDROID">
                <div class="mobile">
                    <img src="{{assetImgPath}}assets/img/App-promotion/mobile_icon.png">
                </div>
                <div class="text">
                    <strong>Download Moglix App</strong>
                    <p>4.1 <img src="{{assetImgPath}}assets/img/App-promotion/rating_star.svg"> | 5 lakh + downloads</p>
                </div>
                <div class="play-store">
                    <img src="{{assetImgPath}}assets/img/App-promotion/play_store.png">
                </div>
            </div>

            <!--App store image added-->
            <div class="content-mobile-app promotion-nonLogin" (click)="openAppStore()"
                *ngIf="mobile_os == MOBILE_ENVS.IOS">
                <div class="mobile">
                    <img src="{{assetImgPath}}assets/img/App-promotion/mobile_icon.png">
                </div>
                <div class="text">
                    <strong>Download Moglix App</strong>
                    <p>4.1 <img src="{{assetImgPath}}assets/img/App-promotion/rating_star.svg"> | 5 lakh + downloads</p>
                </div>
                <div class="play-store">
                    <img src="{{assetImgPath}}assets/img/App-promotion/app_store.png">
                </div>
            </div>

        </ng-container>

        <!--for install app code-->
        <ng-container *ngIf="isUserAuthenticated">
            <div class="app-promotion" *ngIf="showPromoCode">
                <p class="install-app-text">Get Personalized Experience & Best Deals on App </p>
            </div>
            <div class="content-mobile-app">
                <span class="install-app-cross" (click)="removePromo()">
                    <img src="assets/img/App-promotion/close-line.png">
                </span>
                <div class="mobile">
                    <img src="assets/img/App-promotion/mobile_icon.png">
                </div>
                <div class="text">
                    <strong>Download Moglix App</strong>
                    <p>4.1 <img src="assets/img/App-promotion/rating_star.svg"> | 5 lakh + downloads</p>
                </div>
                <div class="install-app" *ngIf="!_commonService.isAppInstalled && mobile_os == MOBILE_ENVS.IOS"
                    (click)="openAppStore()">
                    <button>INSTALL APP</button>
                </div>
                <div class="install-app" *ngIf="!_commonService.isAppInstalled && mobile_os == MOBILE_ENVS.ANDROID"
                    (click)="openPlayStore()">
                    <button>INSTALL APP</button>
                </div>
                <div class="install-app" *ngIf="_commonService.isAppInstalled">
                    <button (click)="openDeepLink()">Open Moglix App</button>
                </div>
            </div>
        </ng-container>

    </div>

</ng-container>