<ng-container *ngIf="templateRefInstance == null">
    <ng-container [ngSwitch]="type">
        <ng-container *ngSwitchCase="'COUPON'">
            <!-- <div>
                <h1>COUPON seketon here</h1>
            </div> -->
        </ng-container>
        <ng-container *ngSwitchCase="'PINCODE'">
            <!-- <div>
                <h1>PINCODE seketon here</h1>
            </div> -->
        </ng-container>
        <ng-container *ngSwitchCase="'RFQ'">
            <!-- <div>
                <h1>RFQ seketon here</h1>
            </div> -->
        </ng-container>
        <ng-container *ngSwitchCase="'FBT'">
            <!-- <div>
                <h1>FBT seketon here</h1>
            </div> -->
        </ng-container>
        <ng-container *ngSwitchCase="'SIMILAR'">
            <!-- <div>
                <h1>SIMILAR seketon here</h1>
            </div> -->
        </ng-container>
        <ng-container *ngSwitchCase="'SPONSERED'">
            <!-- <div>
                <h1>SPONSERED seketon here</h1>
            </div> -->
        </ng-container>
        <ng-container *ngSwitchCase="'APP_PROMO'">
            <!-- <div>
                <h1>APP_PROMO seketon here</h1>
            </div> -->
        </ng-container>
        <ng-container *ngSwitchCase="'RECENT'">
            <!-- <div>
                <h1>RECENT seketon here</h1>
            </div> -->
        </ng-container>
    </ng-container>
</ng-container>