@import '../../scss/root';
@import '../../scss/variables';
.bottom-options.open .content-box {
    bottom: 0;
    padding: 0px;
    border-radius: 20px 20px 0px 0px;
    max-height: 70% !important;
}

