<div [ngClass]="{'plp-container-header-adjust': !_commonService.isScrolledHeader && _productListService?.productListingData && _productListService?.productListingData > 0}">
    <app-promo  [page]="'search'" class="fixed-btm-app-prmo" [isOverlayMode]="true"></app-promo>
    <ng-container
        *ngIf="(didYouMean == undefined || didYouMean == '') && API_RESULT['searchData'][0].productSearchResult != undefined">
        <ng-container
            *ngIf="API_RESULT['searchData'][0].productSearchResult.correctedSearchString != undefined && API_RESULT['searchData'][0].productSearchResult.correctedSearchString !== null">
            <div class="card">
                <div class="container">
                    <div class="search-txt">
                        <p class="f-left">
                            <span>Showing results for
                                <i>{{API_RESULT['searchData'][0].productSearchResult.correctedSearchString}}</i></span><br />
                            <a class="blue-text"
                                (click)="redirectWithNoPreProcessRequiredParam(API_RESULT['searchData'][0].productSearchResult.inputSearchString)">Search
                                instead for {{API_RESULT['searchData'][0].productSearchResult.inputSearchString}}</a>
                        </p>
                    </div>
                </div>
            </div>
        </ng-container>
    </ng-container>

    <shared-product-listing #sharedProductList 
        (categoryClicked)="handleCategoryClicked($event)" 
        [categoryMidPlpFilterData]="API_RESULT['searchData'][0]?.categoriesPrimary"
        [headerName]="headerNameBasedOnCondition" 
        [pageName]="'SEARCH'"
        [searchKeyword]="API_RESULT['searchData'][0].productSearchResult.inputSearchString"
        [productsListingData]="_productListService?.productListingData">
    </shared-product-listing>

    <app-accordian (outerRoutingEvent)="goToRecommendedCategory($event)" [accordiansDetails]="accordiansDetails"></app-accordian>

    <!-- <div class="promo-container">
        <product-listing-app-promo></product-listing-app-promo>
    </div> -->

</div>