@import '../../scss/variables';

.related-search {
    p {
        font-size: $large-font;
        line-height: $extra-large-line-height;
        width: calc($fullwidth - 25px);

        a {
            color: var(--blue);
        }
    }
}

//No Result Found
.search-res {
    background: var(--white);

    .f-16 {
        font-size: $extra-large-font;
    }

    ::ng-deep {
        h3 {
            font-size: $extra-large-font;
        }

        .no-product {
            width: $fullwidth;
            margin: 0 auto 20px;
            max-width: 300px;
        }
    }
}

.search-txt {
    margin-top: 170px;
    p {
        font-size: $large-font;
        line-height: $small-line-height;
        padding: 15px 0;
        width: calc($fullwidth - 30px);
    }
}

.related-tags {
    @extend %cards;
    padding: 10px 0;
    margin-top: 15px;
}

.products-container {
    margin-bottom: 65px;
}

.blue-text {
    color: var(--bleu-de-france);
    font-size: $medium-font;
}

:host {
    display: block;
    margin: 55px 0px 0px 0px;

    .slide-up {
        transform: translateY(0);
    }
}

.mixed_category_result {
    display: flex;
    background: var(--ghost-white);
    flex-wrap: wrap;
    padding: 10px;

    .heading-3 {
        width: 100%;
    }

    &>div {
        display: inline-flex;
        margin-right: 10px;

        a {
            box-shadow: 0px 3px 6px #0000001A;
            margin-bottom: 8px;
            padding: 7px 10px;
            color: var(--bleu-de-france);
            border-radius: 4px;
            white-space: nowrap;
            font-weight: bold;
            font-size: 12px;
            background: var(--white);
        }
    }
}

.promo-container {
    margin-top: 15px;
}

.accordian_footer_panel {
    margin-top: 10px;
}
.fixed-btm-app-prmo {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 9;
}