<div [ngClass]="{'plp-container-header-adjust': !_commonService.isScrolledHeader}">

    <ng-container
        *ngIf="(didYouMean == undefined || didYouMean == '') && API_RESULT['searchData'][0].productSearchResult != undefined">
        <ng-container
            *ngIf="API_RESULT['searchData'][0].productSearchResult.correctedSearchString != undefined && API_RESULT['searchData'][0].productSearchResult.correctedSearchString !== null">
            <div class="card">
                <div class="container">
                    <div class="search-txt">
                        <p class="f-left">
                            <span>Showing results for
                                <i>{{API_RESULT['searchData'][0].productSearchResult.correctedSearchString}}</i></span><br />
                            <a class="blue-text"
                                (click)="redirectWithNoPreProcessRequiredParam(API_RESULT['searchData'][0].productSearchResult.inputSearchString)">Search
                                instead for {{API_RESULT['searchData'][0].productSearchResult.inputSearchString}}</a>
                        </p>
                    </div>
                </div>
            </div>
        </ng-container>
    </ng-container>

    <shared-product-listing #sharedProductList 
        (categoryClicked)="handleCategoryClicked($event)" 
        [categoryMidPlpFilterData]="API_RESULT['searchData'][0]?.categoriesPrimary"
        [headerName]="headerNameBasedOnCondition" 
        [pageName]="'SEARCH'"
        [searchKeyword]="API_RESULT['searchData'][0].productSearchResult.inputSearchString"
        [productsListingData]="_productListService?.productListingData">
    </shared-product-listing>

    <div class="accordian_footer_panel"
        *ngIf="API_RESULT['searchData'][0]?.categoriesRecommended && _commonService.selectedFilterData.page < 2">
        <div class="panel-head" style="margin-top: 0px;">
            <div class="container">
                <h3 class="heading-3" [closeOtherTabs]="true"
                    [appKpToggle]="{idName: 'attributeAccoridan', iconMode : true}">
                    Related Searches
                    <span class="icon-accordian">
                        <i class="icon-down"></i>
                    </span>
                </h3>
            </div>
        </div>
        <div [id]="'attributeAccoridan'" [style.display]="'block'" class="panel-body">
            <div class="container category_links">
                <div
                    *ngFor="let category of API_RESULT['searchData'][0]?.categoriesRecommended | slice:0:10; let i = index;">
                    <a (click)="goToRecommendedCategory(category?.categoryId, category)">{{ category?.categoryName
                        }}</a>
                </div>
            </div>
        </div>
    </div>

    <div class="promo-container">
        <product-listing-app-promo></product-listing-app-promo>
    </div>

</div>