<div class="cat_filter_wrap">
    <div class="prod_filter">
        <ng-container *ngIf="isBrowser" #filter></ng-container>
        <!-- <filter *ngIf="isBrowser" [bucketsUpdated]="bucketsUpdated" [pageName]="pageName" [sortByComponentUpdated]="sortByComponentUpdated"  (filterSelected)="onFilterSelected($event)"></filter> -->
    </div>
</div>
<div class="products-container">
    <div>
        <div class="card">
            <div class="container">
                <div class="search-txt"
                    *ngIf="(didYouMean == undefined || didYouMean == '') && productSearchResult != undefined">
                    <p class="f-left"
                        *ngIf="productSearchResult.correctedSearchString != undefined && productSearchResult.correctedSearchString !== null">
                        <span>Showing results for
                            <i>{{productSearchResult.correctedSearchString}}</i></span><br />
                        <a class="blue-text"
                            (click)="redirectWithNoPreProcessRequiredParam(productSearchResult.inputSearchString)">Search
                            instead for {{productSearchResult.inputSearchString}}</a>
                    </p>

                    <p class="f-left"
                        *ngIf="(productSearchResult.correctedSearchString === undefined || productSearchResult.correctedSearchString === null) && productSearchResult.searchDisplayOperation == 'or'">
                        <span>
                            Showing {{productSearchResult.totalCount}} results for
                            "{{productSearchResult.displayString}}"</span>
                    </p>
                    <p class="f-left"
                        *ngIf="toggleRcommendFlag && ((productSearchResult.correctedSearchString === undefined || productSearchResult.correctedSearchString === null) && productSearchResult.searchDisplayOperation != 'or')">
                        <span>Showing {{productSearchResult.totalCount}} results for
                            "{{ productSearchResult.displayString ?
                            productSearchResult.displayString :
                            productSearchResult.inputSearchString}}"</span>
                    </p>
                </div>
            </div>
        </div>

        <div class="mixed_category_result"  *ngIf="relatedSearchResult">
            <h3 class="heading-3">Are you looking for…</h3>
            <ng-container *ngFor="let category of relatedSearchResult; let i = index;" >
                <div *ngIf="i < 3">
                    <a (click)="goToRecommendedCategory(category?.categoryId)">{{ category?.categoryName }}</a>
                </div>
            </ng-container>
        </div>
        <div class="search-res">
            <product-list [itemCount]="this.paginationData?.itemCount" [productsUpdated]="productsUpdated"></product-list>
            <div class="filter-wrapper">
                <button type="button" (click)="filterUp()">
                    <i class="icon-filter" aria-hidden="true"></i>
                    <span class="txt">
                        FILTER
                        <span *ngIf="filterCounts && filterCounts>0">({{filterCounts}})</span></span>
                </button>

                <button type="button" (click)="toggleSortBy($event)">
                    <i class="icon-sort-by" aria-hidden="true"></i>
                    <span class="txt">SORT BY</span>
                </button>
            </div>
            <ng-container *ngIf="isBrowser" #sortBy></ng-container>
        </div>
        <div class="card mt-15" [ngClass]="{'hide': !productSearchResult || !productSearchResult['totalCount']}">
            <span observeVisibility [debounceTime]="100" (visible)="onVisiblePagination($event)"></span>
            <ng-template *ngIf="isBrowser" #pagination></ng-template>
        </div>
    </div>
</div>