<div class="home_accordian_footer">
    <ng-container *ngFor="let item of dataArray; let i = index">
        <div class="home_accordian_footer_panel" *ngIf="carouselData[item] && carouselData[item]?.data?.brand_block.length">
            <div class="panel-head">
                <div class="container">
                    <h3 class="heading" [appKpToggle]="{idName: 'openHomeAccoridan'+i , iconMode : true}">
                        Brands from {{ carouselData[item]['layout_name'] }}
                        <span class="icon-accordian">
                            <i class="icon-down"></i>
                        </span>
                    </h3>
                </div>
            </div>
            <div [id]="'openHomeAccoridan' + i" style="display:none;" class="panel-body">
                <div class="container category_links">
                    <div *ngFor="let data of carouselData[item]['data']['brand_block']">
                        <a [routerLink]="['/' + data.brand_url]">{{ data.brandName }}</a>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
</div>