@import '../../../scss/layout/forms';
@import '../../../scss/layout/cards';
@import '../../../scss/components/buttons';


.full-height {
    height: 85vh;
    height: calc(100vh - 56px);
}
.business-password{
   background:var(--white);
   form{
       flex:1;
   }
   .card{
       padding:5px 10px;
       margin-bottom:30px;
   }
   .static{
       &:first-child{
        border-bottom: 1px solid var(--ghost-white);
       }
   }
   .secondry-btn{
       width: 100%;
   }
}
