<section class="full-height pwa-row business-password">
        <form #passwordForm="ngForm" (ngSubmit)="onSubmit(passwordForm.value)" class="material-form" novalidate>
            <div class="card">
                <div class="input-field static">
                    <label class="is-focus">
                    <span class="input-value">{{userInfo && userInfo.email}}</span>
                    <span class="label">Email</span>
                   </label>
                </div>
                <div class="input-field static">
                    <label class="is-focus">
                    <span class="input-value">{{userInfo && userInfo.phone}}</span>
                    <span class="label">Mobile Number</span>
                </label>
                </div>
            </div>
            <div class="outline-input-label">
                <label [class.is-focus]="current.value && current.value.length!=0">
                <input type="password" minlength="8" name="current" #current="ngModel" ngModel required>
                <span class="label">Current Password *</span>
                </label>
                <p *ngIf="current.errors && (current.dirty || current.touched)" class="error-txt">Password should be of min. 8 characters
                </p>
            </div>
            <div class="outline-input-label">
                <label [class.is-focus]="new.value && new.value.length!=0">
                <input type="password" minlength="8" name="new" #new="ngModel" ngModel required pattern="[^\s]+">
                <span class="label">New Password *</span>
                </label>
                <p *ngIf="new.errors && (new.dirty || new.touched)" class="error-txt">{{new.errors | passworderror}}</p>
            </div>
            <div class="outline-input-label" [class.mb-10]="(confirm.errors && (confirm.dirty || confirm.touched)) || (confirm.value != new.value)">
             <label [class.is-focus]="confirm.value && confirm.value.length!=0">
                <input type="password" minlength="8" name="confirm" #confirm="ngModel" ngModel required>
                <span class="label">Confirm Password *</span>
             </label>
                <p *ngIf="(confirm.errors && (confirm.dirty || confirm.touched)) || (confirm.value != new.value)" class="error-txt">Make sure both the passwords are same</p>
            </div>
            <div class="mb-10">
                <p [class.error-txt]="error" [class.success-txt]="!error">{{ errorMsg }}</p>
            </div>
            <button [disabled]="!passwordForm.form.valid || ((confirm.value?.length < 8) || (confirm.value != new.value))" class="btn secondry-btn">Save Changes</button>
        </form>
</section>