.idle-search-container {
    position: relative;
    i {
        position: absolute;
        font-size: 20px;
        width: 30px;
        right: 0px;
        display: flex;
        justify-content: flex-end;
        padding: 20px !important;
    }
    .text-box {
        padding: 50px 40px 20px;
        h1,
        h2,
        p {
            text-align: center;
        }
        h1 {
            font-size: 26px;
            line-height: 32px;
        }
        h2 {
            font-size: 24px;
            line-height: 32px;
            font-weight: 400;
        }
        p {
            font-size: 16px;
            line-height: 32px;
        }
    }
    .input-box {
        background-color: #f7cc7d;
        padding: 30px 40px 20px;
        position: relative;
        .top-search-box {
            background-color: #ffffff;
            border-radius: 8px;
            height: 50px;
            position: relative;
            box-shadow: 0px 0px 6px #f5681e;
            input {
                padding: 0px 20px;
                border: none;
                height: 50px;
                margin-left: 10px;
            }
            .icon-search {
                position: absolute;
                top: -2px;
                left: 5px;
                font-size: 15px;
            }
        }
        .triangle-down {
            position: absolute;
            top: -1px;
            left: 50%;
            transform: translate(-50%, 0%);
            width: 0;
            height: 0;
            border-left: 12px solid transparent;
            border-right: 12px solid transparent;
            border-top: 15px solid #fff;
        }
    }
}
