.idle-search-container{
    .text-box{
        padding: 20px;
        h1, h2, p{
            text-align: center;
        }
    }
    .input-box{
        background-color: #f7cc7d;
        padding: 20px;
    }
}