@import "../../scss/variables";
@import "../../scss/components/carousel.scss";
@import '../../scss/key-features.scss';
@import '../../scss/prod-specifications.scss';
@import '../../scss/product-details.scss';
@import '../../scss/bottom-bar.scss';
.pdp-section-header {
    margin-top: 10px;
    padding: 5px 15px;
    background: #fff;
    border-bottom: 1px solid $border-color;
    &.blue-header{
        background:#E5F3FF;
    } 
    .heading-3 {
        font-size: $extra-large-font;
        font-weight: bold;
    }
}
.pdp-container {
    padding: 10px 0px;
    background: #f2f2f2;
    position: relative;
    margin-bottom: 60px;
    .inline-heading{
        display:flex;
        align-items:center;
        .heading-3{
            width:70%;
        }
        & > div{
            width:30%;
            text-align:right;
        }
    }

    &.pdp-container-remove {
        margin-bottom: 0px;
    }

    .info-to-buyer-next {
        background-color: #FFEBE0;
        border: 1px solid #F5681E;
        border-radius: 4px;
        margin-bottom: 10px;
        width: 96%;
        margin: auto;
        padding: 5px 10px;
        display: flex;

        .info-to-buyer-l {
            width: 70%;
            display: flex;
            align-items: center;
        }

        .info-to-buyer-r {
            width: 30%;

            a {
                color: #0E61D5 !important;
                background-color: #ffffff;
                border-radius: 4px;
                padding: 5px 10px;
                float: right;
            }
        }
    }

    .info-to-buyer {
        margin-top: 10px;
        display: none !important;
        background-color: #F8D3D5;
        border: 1px solid #D9232D;
        border-radius: 4px;
        margin-bottom: 10px;
        width: 100%;
        padding: 5px 10px;
        display: flex;

        .info-to-buyer-l {
            width: 70%;
            display: flex;
            align-items: center;
        }

        .info-to-buyer-r {
            width: 30%;

            a {
                color: #0E61D5 !important;
                background-color: #ffffff;
                border-radius: 4px;
                padding: 5px 10px;
                float: right;
            }
        }
    }

    .prod-carsl {
        &.oos {
            position: relative;

            &+.image_tag {
                top: 147px;
            }

            p {
                background: #000;
                color: #fff;
                font-size: 14px;
                position: absolute;
                left: 50%;
                top: 50%;
                font-weight: bold;
                padding: 15px;
                opacity: 0.5;
                -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
            }

            .img-block {
                img {
                    position: relative;
                }
            }
        }

        &.before-init {
            height: 360px;
            overflow: hidden;

            &.hasOneImage {
                height: 333px;
            }
        }
    }

    .thumb-carsl {
        background: white;
        overflow-x: scroll;
        overflow-y: hidden;
        width: auto;
        border-top: 0.5px solid #e2e2e2;
        padding: 20px 0px 0px 15px;

        .thumb-parent {
            width: 115%;

            &>div {
                padding-top: 2px;
                float: left;
                width: 55px;
                height: 65px;
                text-align: center;
                margin-right: 5px;

                .thumb-img {
                    width: 40px;
                    height: 40px;
                }

                .thumb-text {
                    display: block;
                    font-size: 9px;
                }
            }
        }
    }

    .prod-description {
        padding: 20px 15px 5px;
        background: white;
        position: relative;

        .prod-name {
            font-weight: 700;
            line-height: 24px;
            letter-spacing: 0.5px;
            font-size: 18px;
        }

        .prod-inner-desc {
            padding: 5px 0px;
            display: block;
            display: flex;
            align-items: center;

            .rating-box {
                background: #5BA621;
                padding: 5px;
                border-radius: 3px;
                color: white;
                font-weight: 600;
                color: white;

                i {
                    color: white;
                    padding-left: 5px;
                }
            }

            .prod-status {
                font-size: 13px;
                padding-left: 5px;

                .status {
                    color: #5BA621;
                    font-weight: bold;

                    &.s_oos {
                        color: #ea2222;
                        font-weight: 800;
                    }
                }

                .prod-status-right {
                    display: block;
                    color: #000;

                    .review {
                        color: rgba(48, 48, 48, 1);
                        font-size: $medium-font;
                    }

                    .left-pipe {
                        position: relative;
                        padding-left: 5px;

                        &::after {
                            position: absolute;
                            content: "|";
                            top: 0px;
                            left: 0px;
                            color: #000;
                        }
                    }
                }
            }
        }

        .share-prod {
            color: #0D99FF;
            font-size: 14px;
            text-align: center;
            font-size: 14px;
            font-weight: 500;
            border-top: 1px solid #a2a2a2;
            padding-top: 15px;
            margin-top: 15px;

            span {
                margin-left: 10px;
                display: block;
            }
        }

        .aor {
            .prod-inner-desc {
                padding-bottom: 15px;
            }
        }

        .price-block {
            padding: 5px 0px 0px 0px;

            .mrp {
                font-size: $small-font;
                color: #a2a2a2;

                span {
                    color: #5BA621;
                    text-decoration: initial;
                    font-weight: bold;
                }

                small {
                    font-size: 12px;
                    padding-right: 5px;
                    letter-spacing: 0.5px;
                    text-decoration: line-through;
                }
            }

            .actual-price {
                padding: 5px 0px 0 0;
                color: #000;
                font-size: 20px;
                font-weight: 700;
                letter-spacing: 0.5px;

                small {
                    font-size: $small-font;
                    font-weight: normal !important;
                    display: block;
                    padding-top: 5px;
                    color: #74777A;
                }
            }
        }
    }
 .prod-services {
        background: white;
        margin-top: 20px;

        .bold {
            font-weight: 500;
        }
    }

.similar-prod {
    margin-top: 10px;
}

.Qa {
    background: white;
    margin-top: 15px;
    padding: 5px 15px 25px;

    .display-qn {
        border-bottom: 1px dashed #e3e3e3;
        font-size: $medium-font;
        padding: 20px 0px 5px 0px;
    }

    .question {
        margin-top: 10px;
        font-size: 14px;
        font-weight: 500;

        .qn-number {
            float: left;
            width: 5%;
            margin-right: 10px;
        }

        .qn-txt {
            float: left;
            width: 90%;
            line-height: 21px;
        }
    }

    .answers {
        padding: 5px 15px;
        border-bottom: 1px dashed #a2a2a2;

        .answer-block {
            padding-bottom: 5px;

            .answer {
                padding: 5px 10px;
            }

            .answer-post {
                color: rgba(48, 48, 48, 0.5);
                font-size: $medium-font;

                .author {
                    float: left;
                    line-height: 26px;
                }

                .like-btn {
                    float: right;
                    border: 1px solid #707070;
                    background: none;
                    text-align: center;
                    border-radius: 2px;

                    i {
                        font-size: 16px;
                        color: #A5A5A5;
                        border-right: 1px solid #a2a2a2;
                        display: inline-block;
                        padding: 5px 20px;
                    }

                    .like-count {
                        display: inline-block;
                        padding: 0 10px;
                        color: #303030;
                    }
                }
            }
        }

        .view-all {
            color: #0D99FF;
            font-size: $large-font;
            padding-top: 10px;

            .view-txt {
                float: left;
                margin-right: 10px;
            }

            i {
                line-height: 21px;
            }
        }
    }
}
}
.pdpCard{
    margin:10px 0px 0px;
    padding:0px;
    &:first-of-type{
        margin-top:0px !important;
        background:red;
    }
  }
.pdp-card-breadcrumb{
    background:var(--white);
    padding: 10px 15px;
    border-bottom:1px solid #E3E3E3;
    li{
        list-style: none;
        display:inline;
        margin-right: 10px;
        font-size: $small-font;
        line-height:16px;
    
        &:not(:last-child):after {
            content: "\e95c";
            font-family: 'icomooon_pwa' !important;
            font-weight: bolder;
            font-size: 8px !important;
            margin-left: 10px;
            margin-right: 0px;
        }
        &:hover{
            color: #0061d5 !important;
        }
    }
}
 
  
  