 <div class="similar-articlewrap"  [ngStyle]="customStyle">
    <div class="col-md-4">
      <section class="similar-article">
        <span class="image-info">
          <img src="https://ik.imagekit.io/moglix/cms/flyout/Images_2021-01-19_14-45-35_app--banner-laptops.png" />
        </span>
        <h3>The 9 Best Office Printers of 2021</h3>
        <p>
          No matter what is your industry type, the safety of your employees can’t be an afterthought. You need safety products that
          will ensure that your employees, equipment and even the business are safe from all sorts of hazards and safety threats.
          At Moglix, we understand the need for safety and offer you a wide range of top quality safety products at affordable
          prices.
        </p>
        <a href="">
          Read full article
        </a>
      </section>
      <section class="similar-article">
        <span class="image-info">
          <img src="https://ik.imagekit.io/moglix/cms/flyout/Images_2021-01-19_14-45-35_app--banner-laptops.png" />
        </span>
        <h3>The 9 Best Office Printers of 2021</h3>
        <p>
          No matter what is your industry type, the safety of your employees can’t be an afterthought. You need safety products that
          will ensure that your employees, equipment and even the business are safe from all sorts of hazards and safety threats.
          At Moglix, we understand the need for safety and offer you a wide range of top quality safety products at affordable
          prices.
        </p>
        <a href="">
          Read full article
        </a>
      </section>
      <section class="similar-article">
        <span class="image-info">
          <img src="https://ik.imagekit.io/moglix/cms/flyout/Images_2021-01-19_14-45-35_app--banner-laptops.png" />
        </span>
        <h3>The 9 Best Office Printers of 2021</h3>
        <p>
          No matter what is your industry type, the safety of your employees can’t be an afterthought. You need safety products that
          will ensure that your employees, equipment and even the business are safe from all sorts of hazards and safety threats.
          At Moglix, we understand the need for safety and offer you a wide range of top quality safety products at affordable
          prices.
        </p>
        <a href="">
          Read full article
        </a>
      </section>
    </div>
  </div>