.career-component {
    .head {
        background: #366090;
        padding: 30px 0 60px 0;
        color: white;
        font-size: 16px;
        i {
            font-size: 50px;
        }
    }
    .card {
        line-height: 19px;
        p {
            font-size: 14px;
        }
        a {
            display: block;
            padding-top: 10px;
            color: #0061d5;
        }
    }
    .career-card1 {
        margin: -30px auto 10px auto;
        padding: 30px 15px;
        .heading {
            color: #fff;
            font-size: 16px;
        }
    }
    .career-card2 {
        border-color: #366090;
        margin-top: 10px;
        color: #366090;
        margin-bottom: 20px;
        padding: 15px;
        ul {
            margin-top: 10px;
            margin-bottom: 15px;
            li {
                line-height: 20px;
                margin-bottom: 5px;
            }
        }
        .heading {
            font-size: 18px;
            color: #366090;
            font-size: 18px;
            font-weight: 400;
        }
    }
    .small_heading {
        font-size: 12px;
        margin: 5px 0px;
    }
}