@import '../../scss/variables';
@import '../../scss/components/buttons.scss';

body {
    margin: 0;
    padding: 0;
}

.cs-section {
    background-image: url('/assets/img/revamp-career/moglixteam.jpg');
    background-repeat: no-repeat;
    height: 500px;
    background-position: 50% 0%;
    width: $fullwidth;
    background-size: cover;
    position: relative;
    .page-title {
        position: absolute;
        top: 50%;
        left: 25px;
        right: 0;
        max-width: 1170px;
        margin: auto;
        transform: translateY(-50%);
        color: $white-color;
        .header-content {
            margin-top: 15px;
            .arrow-vid-img {
                position: absolute;
                width: 70px;
                height: 70px;
                top: 0;
                color: var(--primary) !important;
            }
            p {
                width: 90%;
                color: $white-color;
                font-size: $extra-large-font;
                line-height: 28px;
            }
          
        }
        h1 {
            padding-top: 100px;
            line-height: 39px;
            font-size: 29px;
            font-weight: $font-normal;
        }
    }
}

#page_header {
    &:before {
        content: '';
        position: absolute;
        background: rgba(0, 0, 0, 0.61);
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }
}

.main-content {
    padding: 40px 15px;
    text-align: center;
    background: $white-color;
    .inner-content {
        max-width: 1140px;
        margin: auto;
        h2 {
            font-size: 28px;
            color: $txt-color;
            font-weight: $font-bold;
            padding-bottom: 20px;
        }
        p {
            color: $txt-color;
            line-height: 19px;
            font-size: $large-font;
        }
        .widget-wrap {
            display: flex;
            flex-wrap: wrap;
            padding: 60px 0;
            margin: 0 15px;
            .widget-items {
                margin-bottom: 0;
                background: #FCFCFC;
                padding: 30px 50px;
                min-height: 230px;
                margin: auto;
                &:nth-child(even) {
                    background: #f1f1f1;
                }
                .widget-img {
                    display: block;
                    margin: auto;
                    width: auto;
                }
                h4 {
                    font-size: $large-font;
                    font-weight: 600;
                    color: $txt-color;
                    padding: 20px 0 10px;
                }
            }
        }
    }
}

.qualities-section {
    background: #D1D1D7;
    padding: 60px 0;
    .inner-content {
        max-width: 900px;
        margin: auto;
        h2 {
            font-size: 28px;
            text-align: center;
            font-weight: $font-bold;
            color:  $txt-color;
        }
        p {
            text-align: center;
            padding: 30px 15px 60px;
            line-height: 1.5;
            color: $txt-color;
        }
    }
    /* overlay images */
    .image {
        position: relative;
        width: 290px;
        margin: auto;
        margin-bottom: 45px;
        h3 {
            color: $txt-color;
            font-size: 20px;
            font-weight: $font-normal;
            text-align: center;
            padding-top: 20px;
        }
        img {
            display: block;
            width: auto;
            margin: auto;
            height: 188px;
        }
        .image-overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: $fullwidth;
            height: 100%;
            background: #db232e;
            color: $white-color;
            border-radius: $border-radius;
            font-weight: 500;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 10px 20px;
            font-size: $large-font;
            text-align: center;
            opacity: 0;
            transition: opacity 0.25s;
            height: 250px;
            &:hover {
                opacity: 1;
                &>* {
                    transform: translateY(0);
                }
            }
            &>* {
                transform: translateY(20px);
                transition: transform 0.25s;
            }
            .image-title {
                font-size: 16px;
                color: $white-color;
                $font-bold: 700;
                padding-bottom: 10px;
            }
            blur {
                backdrop-filter: blur(5px);
            }
        }
    }
}

.team-wrap {
    background: $white-color;
    padding: 50px 15px;
    .hear-from-team {
        text-align: center;
        margin: auto;
        h2 {
            font-size: 26px;
            color: $txt-color;
            font-weight: $font-bold;
            padding-bottom: 30px;
        }
        .team-wrap-overlay {
            position: relative;
            width: $fullwidth;
            margin-bottom: 20px;
            img {
                display: block;
                width: $fullwidth;
                height: auto;
                max-width: 350px;
                margin: auto;
            }
            .text {
                font-size: 16px;
                position: absolute;
                left: 20px;
                right: 20px;
                z-index: 1;
                font-weight: 500;
                padding: 15px;
                text-align: left;
                background: $white-color;
                bottom: 75px;
                line-height: 24px;
                color: #3c3c3c;
            }
            .team-member-name {
                position: absolute;
                left: 20px;
                right: 20px;
                bottom: 20px;
                color: #db232e;
                font-weight: 600;
                background: #f1f1f1;
            }
            .hover {
                position: absolute;
                top: 0;
                height: 100%;
                opacity: 0;
                transition: .5s ease;
                transform: translate(0, 0);
                left: 0;
                right: 0;
                margin: auto;
                .text {
                    height: 355px;
                }
            }
            &:hover {
                .hover {
                    opacity: 1;
                }
            }
            .normal {
                transition: .5s ease;
            }
            &:hover {
                .normal {
                    opacity: 1;
                }
            }
            .hover {
                background-color: rgba(0, 0, 0, 0.5);
            }
        }
    }
}

.cta-wrap {
    background: $white-color;
    padding: 0 15px;
    .call-to-action {
        margin: auto;
        max-width: 1140px;
        background: #db232e;
        color: $white-color;
        border-radius: 12px;
        padding: 30px;
        .inner-text {
            text-align: left;
            display: inline-block;
            h2 {
                font-size: 22px;
                font-weight: 700;
                color: $white-color;
                padding-bottom: 10px;
                line-height: 20px;
            }
            p {
                font-size: 15px;
                color: $white-color;
                line-height: 1.5;
            }
          
        }
        button{
            margin-top:35px;
        }
    }
}