@import '../../scss/variables';
@import '../../scss/components/buttons.scss';
@import '../../scss/root';
@import '../../scss/layout/grid.scss';

.cs-section {
    background-image: url('/assets/img/revamp-career/moglixteam.jpg');
    background-repeat: no-repeat;
    height: 500px;
    background-position: 50% 0%;
    width: $fullwidth;
    background-size: cover;
    position: relative;
    .page-title {
        position: absolute;
        top: 50%;
        left: 25px;
        right: 0;
        margin: auto;
        transform: translateY(-50%);
        color: var(--white);
        .header-content {
            margin-top: 15px;
            .arrow-vid-img {
                position: absolute;
                width: 70px;
                height: 70px;
                top: 0;
                color: var(--primary) !important;
            }
            p {
                width: 80%;
                color: var(--white);
                font-size: $extra-large-font;
                line-height: $large-line-height;
            }
            button{
                margin-top: 50px;
                &.explorebtn{
                    padding: 15px 30px;
                    font-size: $large-font;
                    font-weight:$font-bold;
                    border-radius: $border-radius-8;
                }
            }
        }
        h1 {
            padding-top: 100px;
            line-height: $large-line-height;
            font-size: $extra-large-4-font;
            font-weight: $font-bold;
            color: var(--white);
        }
    }
}

.page-header {
    &:before {
        content: '';
        position: absolute;
        background: rgba(0, 0, 0, 0.61);
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }
}

.main-content {
    padding: 70px 15px;
    text-align: center;
    background: var(--ghost-white);
    .inner-content {
        margin: auto;
        h2 {
            font-size: $extra-large-3-font;
            color: var(--text-color);
            padding-bottom: 20px;
            span{
                color: var(--primary);
            }
        }
        p {
            color: var(--text-color);
            line-height:$medium-line-height;
            font-size: $large-font;
        }
        .career-wrap {
            padding: 40px 0 0;
            .inner-career-items {
                background: var(--white);
                padding: 30px 50px;
                min-height: 230px;
                margin: 0 auto 5px;
                border-radius: $border-radius-8;
                .culture-img {
                    display: block;
                    margin: auto;
                    width: auto;
                }
                h4 {
                    font-size: $extra-large-font;
                    color: var(--text-color);
                    padding: 20px 0 10px;
                }
            }
        }
    }
}

.qualities-section {
    background: var(--quartz);
    padding: 70px 15px 15px;
    .inner-content {
        margin: auto;
        h2 {
            font-size: $extra-large-3-font;
            text-align: center;
            font-weight: $font-bold;
            color:  var(--text-color);
            line-height: $large-line-height;
            span{
                color: var(--primary);
            }
        }
        p {
            text-align: center;
            font-size: $large-font;
            padding: 15px 0 50px;
            line-height: $medium-line-height;
            color: var(--text-color);
        }
    }
    /* overlay images */
    .image {
        position: relative;
        width: 290px;
        margin: auto;
        margin-bottom: 45px;
        h3 {
            color: var(--text-color);
            font-size: $large-font;
            font-weight: $font-bold;
            text-align: center;
            padding-top: 20px;
        }
        img {
            display: block;
            width: auto;
            margin: auto;
        }
        .image-overlay {
            position: absolute;
            top: 0;
            left: 10%;
            right: 10%;
            background: var(--primary);
            color: var(--white);
            border-radius: $border-radius-8;
            font-weight: 500;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 10px 20px;
            font-size: $large-font;
            line-height: $medium-line-height;
            text-align: center;
            opacity: 0;
            transition: opacity 0.25s;
            height: 250px;
            &:hover {
                opacity: 1;
                &>* {
                    transform: translateY(0);
                }
            }
            &>* {
                transform: translateY(20px);
                transition: transform 0.25s;
            }
            .image-title {
                font-size: $extra-large-font;
                color: var(--white);
                font-weight: $font-bolder;
                padding-bottom: 20px;
            }
            blur {
                backdrop-filter: blur(5px);
            }
        }
    }
}

.team-wrap {
    background: var(--ghost-white);
    padding: 70px 15px 65px;
    .hear-from-team {
        text-align: center;
        margin: auto;
        h2 {
            font-size: $extra-large-3-font;
            color: var(--text-color);
            font-weight: $font-bold;
            padding-bottom: 40px;
            span{
                color: var(--primary);
            }
        }
        .team-wrap-overlay {
            position: relative;
            width: $fullwidth;
            margin-bottom: 20px;
            img {
                display: block;
                width: $fullwidth;
                height: auto;
                margin: auto;
            }
            .text {
                font-size: 16px;
                position: absolute;
                left: 20px;
                right: 20px;
                z-index: 1;
                font-weight: 500;
                padding: 15px;
                text-align: left;
                background: var(--white);
                bottom: 75px;
                line-height: $large-line-height;
                color: var(--onyx-black);
                border-radius: $border-radius-8;
            }
            .team-member-name {
                position: absolute;
                bottom: 20px;
                color: var(--onyx-black);
                font-weight: $font-bolder;
                background: var(--ghost-white);
                justify-content: space-between;
                display: flex;
                align-items: center;
                border-radius: $border-radius-8;
                span{
                    font-weight: $font-normal;
                    display: inline-block;
                }
            }
            .hover {
                position: absolute;
                top: 0;
                height: 100%;
                opacity: 0;
                transition: .5s ease;
                transform: translate(0, 0);
                left: 0;
                right: 0;
                margin: auto;
                .text {
                    height: 355px;
                }
            }
            &:hover {
                .hover {
                    opacity: 1;
                }
            }
            .normal {
                transition: .5s ease;
            }
            &:hover {
                .normal {
                    opacity: 1;
                }
            }
            .hover {
                background-color: rgba(0, 0, 0, 0.5);
            }
        }
    }
}
.cta-wrap {
    background: var(--ghost-white);
    padding: 0 15px;
    .call-to-action {
        margin: auto;
        background: var(--primary);
        color: var(--white);
        border-radius: 12px;
        padding: 30px;
        .inner-text {
            text-align: left;
            h2 {
                font-size: $extra-large-4-font;
                color: var(--white);
                padding-bottom: 20px;
                line-height: 20px;
            }
            p {
                font-size: $extra-large-font;
                color: var(--white);
                line-height: $large-line-height;
            } 
        }
        button{
            margin-top:35px;
            font-size: $large-font;
            border-radius: $border-radius-8;
            padding: 15px 30px;
        }
    }
}