@import "../../../scss/static.scss";

h1,
h2,
h3,
h4,
h5 {
  font-weight: 400 !important;
}

.h1,
h1 {
  font-size: 2.5rem;
}

.h3,
h3 {
  font-size: 1.15rem;
}

.lh-24 {
  line-height: 24px;
}

.mar-tb-10 {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}
.bg-sidebar {
  padding: 15px 0;
  h2 {
    font-size: 1rem !important;
    padding: 10px 0px 0;
    font-weight: normal;
    margin-bottom: 20px;
    text-align: left;
  }
  h4 {
    font-size: 1rem !important;
    padding: 10px 0px 0;
    font-weight: normal;
    margin-bottom: 20px;
    text-align: left;
  }
  ul {
    list-style: none !important;
    li {
      margin: 0 0 10px;
      text-align: left;
      a {
        color: #0061d5 !important;
        font-size: 12px;
      }
    }
  }
}
.bg-grey {
  padding: 10px;
  h1.headingmain {
    font-weight: 400 !important;
    font-size: 1.35rem;
  }
}

.card {
  padding: 10px 15px;
  margin-bottom: 15px;
}
