<div class="pwa-row pwa-row-noPad moglix-insight mt-10 pad-t-0">
  <div class="pdp-section-header">
    <h3 class="heading-3">
      <i class="icon-Moglix-Insight"></i> Moglix Insights
    </h3>
  </div>
  <div class="pwa-col-12 moglix-insight-inner pad-lr-15">
    <div class="moglix-insight-trustWidget pad-10" *ngIf="data['brand'] && data['brand']['message']">
      <div class="content-desc">
        <p [innerHTML]="data['brand']['message']"></p>
      </div>
    </div>
    <div class="moglix-insight-trustWidget pad-10" *ngIf="data['price'] && data['price']['message']">
      <div class="content-desc">
        <p [innerHTML]="data['price']['message']"></p>
      </div>
    </div>
  </div>
</div>
<!-- <pre>{{data['brand']['message']|json}}</pre> -->