@import '../../scss/variables';
@import '../../../app/scss/components/banner';
@import '../../scss/components/category-grid-card';
@import '../../scss/components/pager';
@import '.././../scss/common-header.scss';


::ng-deep {
    .home-parent {
        background: var(--white);
        h2 {
            font-size: $extra-large-font;
            text-transform: capitalize;
        }
    }
}

.internalBanner{
    min-height: 130px;
}

.category-grid-container {
    padding-top: 15px;
}

/*Top Widgets*/
.fixed-btm-app-prmo {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 9;
}

.home-app-promo {
    bottom: 54px;
}

.categories-container {
    min-height: 300px;
}

.home-card-container {
    display: flex;
    flex-wrap: wrap;

    category-card {
        width: 50%;
    }
}

.btn-red {
    font-weight: $font-bolder;
    border-radius: 2px;
}

// BestSellers
.bestSeller {
    background: #ddd;
    padding-bottom: 10px;
}

.featr_arrival {
    padding-bottom: 15px;

    &.featr_arrival-skeleton {
        background: var(--white);

        .view-all-strip {
            background: var(--white) !important;
        }
    }

}

.recently-container {
    padding-top: 15px;
    margin-bottom: 10px;

    &::ng-deep {
        .view-all-strip {
            padding: 0px 15px;
        }
    }
}

.css-banner-component {
    position: relative;
    .indicator-container{
        position: absolute;
        bottom: 10px;
        background: var(--onyx-black);
        left: 50%;
        transform: translateX(-50%);
        opacity: 0.78;
        border-radius: 8px;
        padding: 4px 8px;
        display: flex;
        span{
            width: 6px;
            height: 6px;
            border-radius: 10px;
            display: inline-block;
            background: rgba(255,255,255,.4);
            margin-right: 8px;
            &:last-child{
                margin-right: 0;
            }
            
        }
        .active{
            background: #fff;
            width: 23px;
            height: 6px;
        }
    }
}
// search-widget
.search-widget-container {
    position: relative;
    background: var(--misty-rose);
    border-bottom-left-radius: $border-radius-16;
    border-bottom-right-radius: $border-radius-16;
    .search-widget-section {
        width: $fullwidth;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 25px 15px 40px;
        margin-bottom: 20px;
        .inner-search-widget {
            width: $fullwidth;
            z-index: 1;
            p {
                font-size: $large-font;
                color: var(--dim-gray);
                padding: 0 0px 10px 20px;
                span {
                    font-weight: $font-bold;
                    font-size: $extra-large-1-font;
                    color: var(--onyx-black);
                    display: block;
                    padding-top: 2px;
                }
            }
            .widget-search-bar {
                @include placeholder{
                    color: var(--dim-gray);
                }
                .widget-search-input {
                    height: 60px;
                    border-radius: 50px;
                    padding: 0 25px 0 50px;
                }
                &:after {
                    left: 18px;
                    top: 18px;
                }
            }
        }

    }
    .search-widget-bg {
        background-image: url('../../../assets/img/search_banner_image.png');
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0px;
        width: $fullwidth;
        background-repeat: no-repeat;
        height: 82px;  
        background-size: cover;  
        border-bottom-left-radius: $border-radius-16;
        border-bottom-right-radius: $border-radius-16;
    }
}

.mutiple-banner-cards{
    display: flex;
    overflow-y:auto;
    @extend %hide-scrollbar;
   .pwa-banner{
       flex:0 0 90%;
       margin-right:10px;
       &:last-of-type{
           margin-right:0px;
       }
   } 
}

.popular-Deals-Section{
    width: 100%;
    .popularDeals{
        background: var(--ghost-white) !important;
    }
}

#container-div {
   height: 125px;
}

#home-banner-second {
    overflow-y: auto;
    float: left;
    transition: all 200ms ease-out 0s;

    .mySlides {
        float: left;
        width: 300px;
        margin-right: 10px;

        img {
            width: 100%;
        }
    }

    .internal-scroll {
        overflow-y: auto;
    }
}

::ng-deep{
    bulk-rquest-form-popup-lazy{
        .load-bulk-rfq{
            padding: 20px 15px 10px !important;
        }
    }
}