@import '../../scss/variables';
@import '../../scss/layout/grid.scss';
@import '../../scss/root';

.moglixhainacampwrap {
    .moglixHainaBanner {
        background: var(--orange-red);
        padding: 20px 15px;
        h2 {
            font-size: $xl-2-font;
            color: var(--white);
            font-weight: $font-normal;
            line-height: $large-line-height;
        }
        h1 {
            font-size: $xl-3-font;
            color: var(--white);
            padding: 15px 0 20px;
            box-sizing: border-box;
        }
        p {
            font-size: $large-font;
            color: var(--white);
            line-height: $ml-2-line-height;
        }
        .watch-now {
            background: var(--white);
            border-radius: 5px;
            color: var(--onyx-black);
            padding: 9px 20px;
            font-size: $small-font;
            font-weight: $font-normal;
            margin: 25px 0;
        }
    }
    .celebrates-wrap {
        width: $fullwidth;
        background-color: var(--cultured);
        padding: 30px 0 40px 0;
        .content-box{
            padding: 10px 0;
            margin: auto;
            p{
                color: var(--primary);
                font-size: $xl-1-font;
                text-align: center;
                margin-bottom: 20px;
                span{
                    text-decoration: line-through;
                }
            }
            img {
                width: 93%;
                margin: 0 auto -50px;
                display: block;
            }
            .txt-content{
                background: var(--ghost-white);
                padding: 75px 20px 26px 20px;
                p{
                    color: var(--onyx-black);
                    text-align: left;
                    font-size: $large-font;
                    line-height: $ml-line-height;
                }
            }
        }
    }
    .moglixhaina-head{
        margin-bottom: 20px;
        h2{
            font-size:$xlm-2-font;
            color: var(--onyx-black);
            text-align: center;
            span{
                color: var(--primary);
            }
        }
    }
    .categories-section{
        padding: 50px 0 30px;
        background: var(--white);
        .inner-block{
            &:first-child {
                .category-wrap {
                    &>div.category-innercontent {
                        background: var(--cream);
                    }
                }
            }
            &:last-child {
                .category-wrap {
                    &>div.category-innercontent {
                        background: var(--nyanza);
                    }
                }
            }
            .category-wrap {
                img {
                    width: $fullwidth;
                    display: block;
                    max-width: 320px;
                    margin: 0 auto -100px;
                }
                .category-innercontent {
                    background: var(--champagne-pink);
                    border-radius: 10px;
                    padding: 120px 30px 30px;
                    h3 {
                        font-size: $xl-1-font;
                        margin-bottom: 10px;
                    }
                    p {
                        font-size: $large-font;
                        line-height: $ml-line-height;
                    }
                    .explore-now {
                        font-size: $small-font;
                        padding: 12px 8px;
                        border-radius: $border-radius;
                        margin-top: 20px;
                    }
                } 
            }
        }  
    }
    .popular-categories {
        background: var(--white);
        padding: 20px 0 30px;
        .popular-category-list{
            list-style: none;
            padding: 0;
            margin: 0;
            li {
                display: inline-block;
                width: $fullwidth;
                vertical-align: top;
                margin-bottom: 30px;
                .category-wrap-item {
                    position: relative;
                    img {
                        display: block;
                    }
                    h3 {
                        font-size: $large-font;
                        font-weight: 600;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        color: var(--onyx-black);
                        span {
                            color: var(--spanish-gray);
                            display: block;
                            font-weight: $font-normal;
                            margin-top: 5px;
                            font-size: $medium-font;
                        }
                    }
                }
            }
        }
    }
    .industrialneed-wrap{
        background: var(--paleturquoise);
        border-radius: 10px;
        padding: 40px 5px 0;
        margin-bottom: 40px;
        .industrial-heading{
            padding-bottom: 30px;
            h2{
                font-size: $xl-2-font;
                font-weight: $font-normal;
                text-align: center;
            }
        }
        .listingview-inner {
            background: var(--white);
            border-radius: 10px;
            padding: 15px;
            text-align: left;
            min-height: auto;
            margin-bottom: 15px;
            img {
                width: 60px;
                margin-bottom: 15px;
            }
            h3 {
                font-size: $xl-1-font;
                font-weight: 500;
                margin-bottom: 10px;
            }
            p {
                font-size: $large-font;
                line-height: $ml-2-line-height;
            }
        }
    }
    .watchaction-wrap {
        width: $fullwidth;
        padding: 40px 0 30px ;
        .watch-action-heading{
            padding: 0 15px;
            h3{
                font-size: $xl-2-font;
                font-weight: $font-normal;
                color: var(--onyx-black);
                padding: 10px 0;
            }
        }
        .video-action{
            width: $fullwidth;
            .video-block{
                margin-bottom: 20px;
                .video-thumb{
                    padding: 135px 20px;
                    background-size: cover !important;
                    position: relative;
                    .playbtn {
                        position: absolute;
                        top: 50%;
                        transform: translatey(-50%);
                        left: 0;
                        right: 0;
                        width: 65px;
                        height: 65px;
                        background: url(https://business.moglix.com/wp-content/themes/route-child/img/moglixhaina/video_play.svg) no-repeat top left;
                        background-size: 100%;
                        margin: auto;
                        cursor: pointer
                    }
                    .video-text {
                        position: absolute;
                        bottom: 10px;
                        color: var(--white);
                        font-size: $large-font;
                        line-height: $medium-line-height;
                        font-weight: $font-bolder;
                        span {
                            display: block;
                            color: var(--white);
                            font-weight: $font-normal;
                            font-size: $medium-font;
                            padding-top: 6px
                        }
                    }
                }  
            } 
        }
    }
    .moglix-awardsection{
        position: relative;
        padding: 40px 0 0;
        background: url(https://business.moglix.com/wp-content/themes/route-child/img/moglixhaina/mobile_background.jpg) no-repeat center top #125e9e;
        height: 580px;
        .moglix-list{
            position: absolute;
            color: var(--white);
            width: $fullwidth;
            .list-container{
                margin-bottom: 10px;
                width: $fullwidth;
                .list-item{
                    img{
                        width: 34px;
                        justify-content: flex-start;
                        margin-bottom: 15px;
                    }
                    &:nth-child(odd){
                        padding-right: 10px;
                    }
                    &:nth-child(even){
                        padding-left: 10px;
                    }
                    .counter-text{
                        font-size: $medium-font;
                        line-height: $medium-line-height;
                        margin-bottom: 0;
                        font-weight: $font-bold;
                    }
                    span{
                        font-size: $small-font;
                        line-height: $medium-line-height;
                    }
                    &:before{
                        border-right: 1px solid hsla(0,0%,100%,.2);
                        height: 40px;
                        content: "";
                        position: absolute;
                        right: 0;
                    }
                }
            }

        }
    }
    .awards-section{
        position: absolute;
        margin-top: -130px;
        width: $fullwidth;
        .award-container{
            padding: 30px 15px;
            background: var(--white);
            border-radius: 10px;
            box-shadow: 0 3px 50px rgba(0, 0, 0, 0.16);
            h2{
                font-size: $xl-2-font;
                font-weight: 400;
                margin-bottom: 15px;
            }
            .industry-recognition{
                margin-bottom: 20px;
                padding: 0;
                .recognition-column{
                    &:nth-child(odd){
                        padding-right: 5px;
                    }
                    &:nth-child(even){
                        padding-left: 5px;
                    }
                    .overlay-section{
                        position: relative;
                        width: $fullwidth;
                        border: 1px solid var(--silver);
                        .overlay-image {
                            display: block;
                            max-width: 120px;
                            margin: 16px auto;  
                        }
                        .overlay-text {
                            position: absolute; 
                            height:100%;
                            bottom: 0; 
                            background: #000000cc;
                            width: $fullwidth;
                            transition: .5s ease;
                            opacity:0;
                            color: var(--white);
                            font-size: $medium-font;
                            padding: 10px;
                            text-align: center;
                            align-items: center;
                            justify-content: center;
                            display: flex;
                        }
                        &:hover .overlay-text {
                            opacity: 1;
                        }  
                    }
                } 
            }   
        }
    }
    .formforenterprise {
        display: none;
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5);
        z-index: 56789999;
        .inner-formforentprise {
            width: $fullwidth;
            position: fixed;
            left: 0;
            right: 0;
            overflow-y: auto;
            transform: translateY(-50%);
            top: 50%;
            width: 60%;
            margin: auto;
            background: var(--black);
            .crossthispop {
                cursor: pointer;
                top: 0;
                right: 0;
                height: 20px;
                width: 20px;
                background: var(--white);
                z-index: 2;
                position: absolute;
                line-height: $ml-line-height;
                color: var(--primary);
                font-size: $xl-1-font;
                text-align: center;
            }
            .videoareawrap {
                position: relative;
                padding-bottom: 56.25%;
                padding-top: 25px;
                height: 0;
                iframe {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: $fullwidth;
                    height: 100%;
                }
            }
        }
    }
    .moglixhainavideopop{
        .inner-formforentprise {
            width: $fullwidth;
        }
    }
}    