<app-pop-up (outData$)="handleClose($event)" class="bs-popup" *ngIf="displayAddressListPopup"
    [data]="{closeClass:'icon-back f-left',paraClass:'f-left page-name f-16',class: 'payment-popup addAddressPopup addCustomHeight',selector:displayAddressListPopup, headerText:headerText}">
    <div class="head-sec" header>
        <i class="icon-circle-delete f-left"></i>
        <p class="txt">headerText ({{addresses.length}})</p>
    </div>
    <div class="content-popup" content>
        <div class="add-address-substrip">
            <!--Todo-->
            <button class="btn secondry-full-btn" (click)="handleAction($event, ACTION_TYPES.ADD, null)">
                + ADD NEW ADDRESS
            </button>
        </div>
        <div class="address-container">
            <div class="address-list">
                <form>
                    <div class="multiple-address" [class.active-multiple-address]="isAddressSelected(address.idAddress)"
                        [class.withRadioContainer]="showRadio"
                        *ngFor="let address of addresses; let addressIndex = index">
                        <label>
                            <!--Todo-->

                            <span class="chk-txt">
                                <input type="radio" [value]="address.idAddress"
                                    [checked]="isAddressSelected(address.idAddress)"
                                    (change)="updateAddressId($event, address.idAddress)">
                                <span class="custom-box icon-box"></span>
                                <span class="heading-container">
                                    <span class="heading">
                                        <span class="address-name">{{address.addressCustomerName | slice:0:60}}</span>
                                        &nbsp;
                                    </span>
                                </span>
                                <span class="txt">{{address | checkoutAddress}}</span>
                                <span class="txt">{{address.phone}}</span>
                                <span class="address-btn-section">
                                    <span class="small-btn edit"
                                        (click)="handleAction($event, ACTION_TYPES.EDIT, address)">EDIT</span>
                                    <span class="small-btn delete"
                                        (click)="handleAction($event,ACTION_TYPES.SELECTED, address)">
                                        DELIVER HERE
                                    </span>
                                </span>
                            </span>
                        </label>
                    </div>
                </form>
            </div>
        </div>
    </div>
</app-pop-up>