<div id="wrapper">
		<!--1st block logo -->
		<div class="about_fstwrp" *ngIf="companyOverview && aboutData">
			<div class="abt-logo about-us">
				<h2>
					The
					<img class="logo-img" src="{{API.IMAGE_BASE_URL}}img/others/2018/May/about-page/moglix-logo.png" alt = "Moglix">Tale
				</h2>
				<h4>Born to Excel</h4>
				<span class="abt-span">BUSINESS & INDUSTRIAL SUPPLIES</span>
			</div>
			<div class="about-text">
				<p>{{companyOverview.element_url}}</p>
			</div>
		</div>
	
	
		<!--2nd block video -->
		<div class="about-video">
			<div class="iframe">
				<iframe style="border:8px solid white" width="100%" height="200" src="https://www.youtube.com/embed/Ic4sPepThRM"
				 frameborder="0" allowfullscreen></iframe>
			</div>
			<div class="about-video-div">
				<h1>PASSION</h1>
				<p class="text-white">
					With the marketplace proactively hopping onto the global bandwagon, we at Moglix,
					passionately strive for a comprehensive revolution in the industrial supply operations across the globe. With a
					mission to tide over the gap between B2B merchants and consumers, our vision documents the development of an
					exclusive digital-trade ecosystem, tailor made to satisfy the diverse needs of buyers and sellers.
				</p>
			</div>
		</div>
	
	
		<!--3rd block wall of fame -->
	
		<div class="about-wall">
			<div class="inner">
				<div class="first-wall">
					<h1>WALL OF FAME</h1>
					<p>All roads that lead to success have to pass through hard work boulevard, at some point of time.</p>
				</div>
				<div class="last-wall">
					<div><img src="{{API.IMAGE_BASE_URL}}img/others/2018/May/about-page/wall1_1.png" alt = "wall of fame 1"></div>
					<div><img src="{{API.IMAGE_BASE_URL}}img/others/2018/May/about-page/wall2.png" alt = "wall of fame Moglix"></div>
				</div>
			</div>
		</div>
	
	
		<!--4th block -->
	
		<div class="about-pointer">
			<div class="about-pointer_inner">
				<h2>Brainchild of one,&nbsp;MOGLIX is now regarded as one of
					the most trusted online B2B marketplace</h2>
				<div class="abt_number">
					<span class="count block">450000</span>
					<p class="text-white">
						Assortment of industry essential
						products, listed under
						30+ categories.</p>
				</div>
				<div class="abt_number">
					<span class="count block">150000</span>
					<p class="text-white">
						SME clients, in addition to
						250+ Enterprises & Corporates.
					</p>
				</div>
				<div class="abt_number">
					<span class="count block">25000</span>
					<p class="text-white">
						Pin Codes serviceable across
						the country. Last mile deliveries
						are not of any concern.
					</p>
				</div>
				<div class="abt_number">
					<span class="count block">2000</span>
					<p class="text-white">
						Supplier base across nation,
						to address your diverse requirements.
					</p>
				</div>
			</div>
		</div>
	
	
		<!--4th block -->
		<div class="about_first about-people" *ngIf="memberInfo && aboutData">
			<div class="about-people-wrap">
	
				<h3>
					<span>PEOPLE BEHIND THE SCENE </span>
					
				</h3>
	
				<div class="">
					<p class="">Moglis, that is how we like to be called, backed by a team of young and,
						dynamically adept professionals, coming from academically refined institutions, like IITs/IIMs and ISBs, Moglix
						aims to make online buying an effortless and time-saving process for buyers.</p>
				</div>
			</div>
	
			<div class="center-block">
				<div class="segment">
					<div class="about-people-section" *ngFor="let item of memberInfo| slice:0:1">
						<img src="{{API.IMAGE_BASE_URL}}{{item.image_name}}" alt = "ceo">
						<p class="text-white text-center pad-b-10">{{item.image_title}}<span>CEO & Founder,</span><span>Moglix</span></p>
					</div>
				</div>
				<div class="segment " >
					<div class="about-people-section" *ngFor="let item of memberInfo | slice:1">
						<img src="{{API.IMAGE_BASE_URL}}{{item.image_name}}" alt = "Sandeep Goel">
							<!-- <p class="text-white text-center pad-b-10">{{item.image_title}} <span>Managing Director,</span><span>Strategy & Operations</span></p> -->
							<p class="text-white text-center pad-b-10">{{item.image_title}} <span></span><span></span></p>

					</div>
				</div>
			</div>
		</div>
	</div>