@import '../../scss/variables';
@import '../../scss/root';

.about-container {
    margin: 0px auto;
    overflow: hidden;
    .about-first-wrap {
        padding: 30px 20px;
        background: var(--dark-brown-gradient);
        text-align: center;
        height: 313px;
        .about-logo{
            position: relative;
            h1{
                font-size: 28px;
                color: var(--white);
                padding-bottom: 10px;
            }
            .about-span{
                color: var(--white);
                font-size: $large-font;
            }
        }
    }
    .about-summary-section{
        padding: 0 20px 70px;
        background: var(--ghost-white);
        .about-summary{
            background: var(--white);
            border-radius: $border-radius-8;
            padding: 20px;
            margin-top: -155px;
            p{
                text-align: center;
                font-size: $large-font;
                line-height: $large-line-height;
                color: var(--onyx-black);
                &:first-child{
                    padding-bottom: 15px;
                }
            }
        }
    }
    .about-video {
        background: var(--ghost-white);
        padding: 0 20px 70px;
        .video-section{
            iframe{
                width: $fullwidth;
                height:180px;
                border-radius: $border-radius-8;
            }
        }
        .about-video-description {
            padding: 30px 0px 0;
            text-align: center;
            .desc-text {
                font-size:$large-font;
                line-height: $large-line-height;
                color: var(--onyx-black);
                padding-top: 10px;
            }
        }
    }
    .wall-fame-contatiner{
        padding: 0;
        .wall-fame-section{
            background: var(--white);
            position: relative;
            padding: 0 20px 65px;
            &:before{
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                width: 0;
                height: 0;
                border-top: 70px solid var(--ghost-white);
                border-right: 381px solid var(--white);

            }
            .inner-wall-fame{
                padding: 130px 20px 40px; 
                text-align: center;
                .wall-fame-desc{
                    font-size:$large-font;
                    line-height: $large-line-height;
                    color: var(--onyx-black);
                    padding-top: 10px;
                }
            }
            .image-wall-fame-section{
                padding: 0;
                .award-fram{
                    background: var(--champagne-pink);
                    border-radius: $border-radius-8;
                    padding: 10px;
                    text-align: center;
                    margin: 0 8px 15px 0;
                }
                .award-fram-container{
                    img{
                        max-width: 100%;
                    }
                    .award-date{
                        font-size: $medium-font;
                        padding: 8px 0 15px;
                    }
                    .award-desc{
                        font-size:$large-font;
                        line-height: $medium-line-height;
                        color: var(--onyx-black);
                    }
                }
                .bg-light-cyan{
                    background: var(--nyanza);
                }
                .right-fame-container{
                    margin: 0 0 15px 8px;
                }
                .bg-light-pink{
                    background: var(--champagne-pink);
                }
                .bg-light-blue{
                    background: var(--light-blue);
                }
            }  
        }
    }
    .about-pointer-container{
        padding: 0;
        .about-pointer-section{
            background: var(--black);
            padding: 140px 20px 50px;
            position: relative;
            &:before{
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                width: 0;
                height: 0;
                border-top: 70px solid var(--white);
                border-right: 381px solid var(--black);

            }
            h1{
                color: var(--white);
                margin-bottom: 30px;
            }
            .inner-about-pointer{
                margin-bottom: 20px;
                .inner-description{
                    border-left: $border-radius-2 solid var(--primary);
                    width: 100%;
                    h1{
                        padding-left: 15px;
                        margin-bottom: 5px;
                    }
                }
                p{
                    font-size: $large-font;
                    line-height: $medium-line-height;
                    color: var(--spanish-gray);
                    padding-left: 17px;
                }
            }
        }
    }
    .about-people-container {
        background: var(--ghost-white);
        padding: 70px 20px 0 20px;
        .about-people-wrap {
            padding-bottom: 30px;
            box-sizing: border-box;
            text-align: center;
            h1{
                span{
                    color: var(--primary);
                }
            }
            p {
                font-size: $large-font;
                line-height: $large-line-height;
                padding: 10px 0;
                color: var(--text-color);
            }
        }
        .segment {
            width: $fullwidth;
            padding: 0;
            padding-bottom: 20px;
            img {
                width: $fullwidth;
                display: block;
                border-radius: 8px 8px 20px 8px;
            }
            p {
                padding-top: 10px;
                text-align: center;
                font-weight: $font-bolder;
                color: var(--onyx-black);
                font-size: $medium-font;
                line-height: $small-line-height;
                span {
                    display: block;
                    font-weight: $font-normal;
                }
            }
            .about-persons{                
                &:nth-child(odd) {
                    padding: 0 10px 0px 0px;
                }
                &:nth-child(even) {
                    padding: 0 0px 0px 10px;
                }
            }
        }
    }
}