@import '../../scss/variables';
@import '../../scss/root';
// @import '../../scss/layout/grid.scss';

.about-container {
    margin: 0px auto;
    overflow: hidden;
    .about-first-wrap {
        padding: 70px 20px 35px 20px;
        background: $light-gray-gradient;
        .about-logo {
            border-left: 6px solid var(--text-color);
            text-align: center;
            height: 120px;
            position: relative;
            color: var(--text-color);
            border-bottom: 6px solid var(--text-color);
            border-right: 6px solid var(--text-color);
            h2 {
                position: absolute;
                top: -22px;
                left: 0px;
                right: 0;
                margin: 0 auto;
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    width: 150px;
                }
            }
            h4 {
                position: relative;
                left: 0px;
                top: 50px;
                font-size: $extra-large-font;
                text-transform: uppercase;
            }
            .about-span {
                position: absolute;
                bottom: -18px;
                right: 0;
                left: 0;
                width: 67%;
                margin: 0 auto;
                background: var(--primary);
                padding: 8px 0px;
                border-radius: 17px;
                text-align: center;
                color: var(--white);
                font-size: $medium-font;
                line-height: $medium-line-height;
                font-weight: $font-bolder;
            }
            &:after {
                width: 30px;
                height: 6px;
                position: absolute;
                right: 0;
                top: 0;
                content: "";
                background: var(--text-color);
            }
            &:before {
                width: 30px;
                height: 6px;
                position: absolute;
                left: 0;
                top: 0;
                content: "";
                background: var(--text-color);
            }
        }
        .about-summary {
            p {
                &:first-child {
                    padding: 40px 0 0px 0;
                }
                padding-top:15px;
                font-size: $large-font;
                color: var(--text-color);
                line-height: $large-line-height;
            }
        }
    }
    .about-video {
        background: var(--primary);
        padding: 40px 20px 0 20px;
        .video-section{
            iframe{
                border: 8px solid var(--white);
                width: $fullwidth;
                height:200px;
            }
        }
        .about-video-description {
            padding: 30px 0px;
            .text-white {
                text-align: left;
                width: 90%;
                margin: 0px auto ;
                font-size:$large-font;
                line-height: $large-line-height;
                color: var(--white);
            }
        }
        h1 {
            font-size: $extra-large-1-font;
            color: var(--white);
            text-align: center;
            text-transform: uppercase;
            padding: 0 0 10px 0;
        }
    }
    .about-wall-fame-container {
        background:url("#{$cdn_url}/assets/img/others/wall-bg.jpg") repeat top left;
        padding: 30px 20px 10px 20px;
        h1 {
            font-size: $extra-large-1-font;
            text-align: center;
            color: var(--text-color);
        }
        p {
            font-size: $large-font;
            font-weight: $font-normal;
            margin: 16px 0;
            color: var(--text-color);
        }
    }
    .about-pointer {
        background:url("#{$cdn_url}/assets/img/others/pointer_background.jpeg");
        padding: 30px 20px;
        text-align: center;
        color: var(--white);
        h2 {
            color: var(--white);
            font-size: $large-font;
            margin: 0 0 35px 0;
            font-weight: normal;
        }
        .about-number {
            margin: 0 0 35px 0;
            &:first-child {
                margin: 0;
            }
            .count-block {
                color: var(--primary);
                font-size: $extra-large-5-font;
            }
            span::after {
                content: "+";
                padding-left: 10px;
            }
            p{
                font-size: $medium-font;
            }
        }
    }
    .about-people-container {
        background: $light-gray-gradient;
        padding: 20px 20px 0 20px;
        .about-people-wrap {
            padding-bottom: 12px;
            box-sizing: border-box;
            h3 {
                font-size: $extra-large-1-font;
                color: var(--primary);
                text-align: center;
            }
            p {
                font-size: $large-font;
                line-height: $large-line-height;
                padding: 10px 0;
                color: var(--text-color);
            }
        }
        .segment {
            width: 100%;
            padding: 0;
            padding-bottom: 20px;
            img {
                width: 100%;
                display: block;
            }
            p {
                background: var(--primary);
                height: 75px;
                padding-top: 5px;
                text-align: center;
                font-weight: $font-bolder;
                color: var(--white);
                span {
                    display: block;
                    font-size: $medium-font;
                    line-height: $medium-line-height;
                    color: var(--white);
                    font-weight: normal;
                }
            }
            .about-persons{
                                
                &:nth-child(odd) {
                    padding: 0 10px 0px 0px;
                }
                &:nth-child(even) {
                    padding: 0 0px 0px 10px;
                }
            }
        }
    }
}


