<app-pop-up  [data]="{class: 'payment-popup addAddressPopup', headerCustom:true}">
    <div class="head-sec header_add_edit" header>
        <div class="container">
            <i class="icon-back f-left white_text" (click)="closeVariant2Popup()"></i>
            <p class="txt header_text page-name">Frequently Asked Questions</p>
        </div>
    </div>
    <div class="content-popup card mt-15 hp-100 pad-b-70" content>
        <section class="pdp-section-card">
            <div class="pwa-row">
                <p class="display-qn">
                    Displaying Questions
                    <span>{{questionAnswerList?.data.qlist.length}}</span> of
                    <span>{{questionAnswerList?.data.qlist.length}} </span>
                </p>
            </div>
            <div *ngFor="let item of questionAnswerList?.data.qlist; let i = index;" class="reviewRow popup-reviewRow">
                <div class="pwa-row innerRow popup-innerRow">
                    <div class="qna-block">
                        <div class="qn">
                            <span class="heading-3">Q{{i+1}}:</span>
                            <span class="qn-right heading-3"> {{item.questionText}}</span>
                        </div>
                    </div>
                </div>
                <p style="margin-left: 29px;">Ans: {{item.answerText}}</p>
            </div>
            <div class="question-submit">
                <button (click)="toggleAskQuestionPopup()" class="btn btn-red">ASK YOUR QUESTION</button>
            </div>
        </section>
    </div>
</app-pop-up>