@import "./../../scss/variables";
.orderdtDesc {
    position: relative;
    border-bottom: 1px solid var(--ghost-white);
    background: var(--white);
    padding: 10px;
    display: flex;
    .moreOptions {
        position: absolute;
        right: -11px;
        cursor: pointer;
        font-size: $extra-large-font;
        top: 0;
    }
    .orderproImg {
        width: 27%;
        padding: 5px;
        img {
            display: block;
            max-height: 100%;
            max-width: 100%;
        }
    }
    .orderproDesc {
        width: 73%;
        padding-left: 15px;
        padding-right: 5px;
        p {
            font-size: $medium-font;
            line-height: $small-line-height;
            color: var(--black);
            color: var(--onyx-black);
            cursor: pointer;
            margin-bottom: 5px;
            line-height: 17px;
        }
        .orderstatus {
            font-size: $medium-font;
            display: block;
            span {
                display: block;
                padding-top: 3px;
            }
        }
        .orderqty {
            font-size: $medium-font;
            margin-bottom: 8px;
            .qtyleft {
                display: block;
                margin-bottom: 5px;
                color: #444;
                font-weight: bold;
                font-size: $extra-large-font;
                .qtynum {
                    font-size: $medium-font;
                    font-weight: normal;
                }
                span {
                    font-weight: $font-bolder;
                    color: #111;
                }
                small {
                    color: #989898;
                    padding-left: 5px;
                }
            }
            .priceright {
                display: block;
                span {
                    font-weight: $font-bolder;
                    font-size: $large-font;
                }
            }
        }
    }
}
// .card-boxed {
//     margin: 15px;
//     background-color: var(--white);
//     border-radius: 8px;
//     .card-upper {
//         position: relative;
//         border-bottom: 1px solid var(--ghost-white);
//         background: var(--white);
//         padding: 10px;
//         display: flex;
//         border-radius: 8px 8px 0px 0px;
//         .card-img {
//             width: 27%;
//             padding: 5px;
//             img {
//                 display: block;
//                 max-height: 100%;
//                 max-width: 100%;
//             }
//         }
//         .card-desc {
//             width: 73%;
//             padding-left: 15px;
//             padding-right: 5px;
//             p {
//                 font-size: $medium-font;
//                 line-height: $small-line-height;
//                 color: var(--black);
//                 color: var(--onyx-black);
//                 cursor: pointer;
//                 margin-bottom: 5px;
//                 line-height: 17px;
//             }
//             .orderstatus {
//                 font-size: $medium-font;
//                 display: block;
//                 span {
//                     display: block;
//                     padding-top: 3px;
//                 }
//             }
//             .orderqty {
//                 font-size: $medium-font;
//                 margin-bottom: 8px;
//                 .qtyleft {
//                     display: block;
//                     margin-bottom: 5px;
//                     color: #444;
//                     font-weight: bold;
//                     font-size: $extra-large-font;
//                     .qtynum {
//                         font-size: $medium-font;
//                         font-weight: normal;
//                     }
//                     span {
//                         font-weight: $font-bolder;
//                         color: #111;
//                     }
//                     small {
//                         color: #989898;
//                         padding-left: 5px;
//                     }
//                 }
//                 .priceright {
//                     display: block;
//                     span {
//                         font-weight: $font-bolder;
//                         font-size: $large-font;
//                     }
//                 }
//             }
//         }
//     }
//     .card-bottom {
//         .card-bottom-inner {
//             display: flex;
//             justify-content: space-between;
//             align-items: center;
//             .buy-again {
//                 border: none;

//                 color: var(--white);
//                 font-size: 12px;
//                 // position: absolute;
//                 right: 0px;
//                 a {
//                     color: var(--white);
//                     display: block;
//                     background: var(--primary);
//                     font-weight: 600;
//                     border-radius: $border-radius-4;
//                     padding: 8px 10px;
//                 }
//             }
//         }
//         .orderstatus {
//             color: var(--onyx-black) !important;
//             font-size: $small-font;
//             font-weight: bold;
//             .dot {
//                 color: red;
//             }
//         }
//     }
// }

.ordersumBox {
    // @extend %cards;
    padding-right: 0;
    background-color: var(--white);
    padding-left: 0;
    margin: 10px 15px 70px;
    border-radius: $border-radius-8;
    display: block;
    h5 {
        padding: 10px 15px;
        font-size: $large-font;
        color: var(--onyx-black);
        font-weight: 500;
        border-bottom: 1px solid var(--ghost-white);
        span {
            float: right;
            display: inline-block;
            font-weight: $font-bolder;
        }
    }
    .chargestext {
        padding: 10px 15px;
        font-size: $medium-font;
        span {
            float: right;
            display: inline-block;
            &.paymode {
                font-size: $large-font;
            }
        }
    }
    .totPrice {
        padding: 10px 15px;
        font-size: $large-font;
        color: var(--onyx-black);
        font-weight: $font-bolder;
        margin-top: 12px;
        border-top: 1px solid var(--ghost-white);
        span {
            float: right;
            display: inline-block;
            font-weight: $font-bolder;
        }
    }
}
