@import '../../scss/variables';
@import '../../scss/components/radio';
.emiTabs {
    display: flex;
    padding: 20px 30px;
    border-radius: 4px;
    background: var(--ghost-white);
    .emiTab {
        flex: 1;
        box-shadow: 0px 3px 8px #455B6314;
        color: #3C3C3C;
        padding: 10px 0px;
        font-size: $large-font;
        text-align: center;
        font-weight: bold;
        background: var(--white);
        &:first-child{
            border-top-left-radius: $border-radius-8;
            border-bottom-left-radius: $border-radius-8;
        }
        &:last-child{
            border-top-right-radius: $border-radius-8;
                border-bottom-right-radius: $border-radius-8;
        }
        &.selectedTab {
            background: var(--champagne-pink);
            color: var(--primary);
            border: 1px solid var(--primary);
        }
    }
}
.emi-top-details{
    padding: 20px 20px 0px;
     background-color: var(--ghost-white);
    .emi-top-details-inner{
        display: flex;
        align-items: center;
        span.bullet{
            margin-right: 10px;
            font-size: 40px; line-height: 10px;
        }   
        .emi-top-details-inner-left{
            width: 15%;
            img{
                width: 24px;
                margin-right: 10px;
            }
        }
        .emi-top-details-inner-mid{
            width: 75%;
            span{
                font-size: 10px;
                color: #3C3C3C;
            }
        }
        .emi-top-details-inner-last{
            width: 10%;
        }      
    }
    .how-it-work{
        margin-top: 20px;
        padding: 8px;
        border-radius: 8px;
        border: 1px solid #EFEFF4;
        background-color: #fff;
        
    }
    .find-txt{
        p{
            line-height: 18px;
        }
    }
}
.emiTabContent {
    margin-top: 15px;
}

.emiHeading {
    padding: 20px 0px;
}

.emi-plans {
    margin: 5px 0px 15px;
    .heading-3{
        font-size:$medium-font;
    }
    span {
        font-size: $small-font;
    }
    .emi-plans-heading {
        display: flex;
        padding: 10px;
        font-weight: bold;
        .align-left-auto {
            margin-left: auto;
        }
    }
    .emi-plans-list {
        border: 1px solid #EFEFF4;
        border-radius: $border-radius-8;
        background-color: #fff;
        .emi-plans-list-item {
            @extend %pwa-universal-radio;
            display: flex;
            padding: 20px 10px;
            border-bottom: 1px solid #EFEFF4;
            &:last-child {
                border-bottom: none;
            }
            .emi-amount {
                margin-left: 10px;
                p {
                    font-size: $medium-font;
                    font-weight: bold;
                }
            }
            .emi-total-payable {
                margin-left: auto;
                font-weight: bold;
            }
        }
    }
}

.payment-dropdown-popup {
    .overlay {
        z-index: 12;
        background: rgba(0, 0, 0, 0.7);
    }
    .payment-dropdown-content {
        z-index: 12;
        border-radius: 8px;
        box-shadow: 0px 3px 16px #0000001A;
        position: fixed;
        top: 40%;
        transform: translateY(-40%);
        width: 80%;
        max-height: 90%;
        overflow-y: scroll;
        margin: 0 auto;
        background: #fff;
        left: 0;
        right: 0;
        .payment-dropdown-header {
            padding: 5px 0px;
            border-bottom: 1px solid var(--platinum);
            h3 {
                padding: 10px 15px;
            }
            i {
                font-size: 16px;
                position: absolute;
                right: 10px;
                top: 15px;
            }
        }
    }
    .payment-dropdown-listItem {
        border-bottom: 1px solid var(--platinum);
        display: flex;
        padding: 10px 15px;
        align-items: center;
        .radio-box {
            @extend %pwa-universal-radio;
        }
        .custom-box {
            margin-right: 10px;
        }
        .listItem_txt {
            font-size: $large-font;
        }
    }
}

.payment_accordion {
    background: #fff;
    .payment_accordion_item {
        box-shadow: 0px 1px 0px #00000029;
        .icon-img {
            width: 20px;
        }
        &.selectedAccordion {
            .payment-accordion_body {
                display: block;
            }
        }
    }
}

.payment-accordion_header {
    display: flex;
    height: 60px;
    align-items: center;
    padding: 0px 15px;
    border-top: 1px solid #E5E5E5;
    background:#fff;
    .icon-down {
        margin-left: auto;
        font-size: $medium-font;
    }
    .ico-accord-left {
        font-size: 20px;
        width:36px;
        margin-right: 10px;
    }
    .accordion-text {
        font-size: $large-font;
        margin-left: 15px;
    }
}
.payment-accordion_body {
    padding: 0px 20px 1px 20px;
}

.note-section {
   padding-bottom:10px;
    p {
        padding-bottom: 10px;
        font-size: 10px;
        line-height: 20px;
    }
}
.step-blw-det{
    padding:15px;
    background: var(--ghost-white);
    p{
        line-height: 18px;
        margin-top: 20px;
    }
    .tnc{
        color: #979797;
        font-size: 10px;
    }
    .step-emi-det{
        margin-top: 20px;
        ul{
            margin-left: 10px;
            list-style-type: disc;
            li{
                margin-top: 10px;
                font-size: 10px;
                line-height: 18px;
            }
        }
    }
}

.b-text{
    font-weight: 600;
}