<ng-container *ngIf="sub_category_Data">
<section class="slp_subcategory clearfix">
  <div class="sub-categoryRow clearfix">
    <h2 class="slp-heading clearfix">Sub Categories </h2>

    <div class="outerBlock pad-lr-5" *ngFor="let subCategory of sub_category_Data | slice:0:4">
      <div class="subCatBlock">
        <a [routerLink]="'/'+subCategory?.categoryDetails?.categoryLink">
          <img [src]="defaultImage" lazyLoad="{{imagePath}}{{subCategory.categoryDetails.mainImageLink}}" alt = "{{subCategory.categoryDetails.categoryName}}"> 
          <p>{{subCategory.categoryDetails.categoryName}}</p>
        </a>
      </div>
    </div>
    <h4 class="view-catTxt"><a (click)="openPopup=true;" class="viewAllTxt">VIEW MORE</a>
      <i class="icon-next"></i>
    </h4>
  </div>
</section>

<app-pop-up *ngIf="openPopup" (outData$)="outData($event)"
  [headerType]="'pop-up-header1'">
  <div class="content-popup" content>
    <div class="popRow">
      <div class="outerBlock pad-lr-5" *ngFor="let subCat of sub_category_Data">
        <div class="subCatBlock">
            <a [routerLink]="'/'+subCat?.categoryDetails?.categoryLink">
            <img [src]="defaultImage" lazyLoad="{{imagePath}}{{subCat.categoryDetails.mainImageLink}}">
            <p>{{subCat.categoryDetails.categoryName}}</p>
          </a>
        </div>
      </div>
    </div>
  </div>
</app-pop-up>
</ng-container>