@import "../../scss/variables";
.highIndex {
     ::ng-deep {
        .bottom-bar {
            z-index: 105 !important;
        }
    }
}

.scroll-arrow-pdp {
    background: var(--onyx-black);
    position: fixed;
    bottom: 80px;
    right: 10px;
    padding: 12px;
    border-radius: 100%;
    box-shadow: 0px 2px 10px #00000029;
    z-index: 8;
    opacity: 0.5;
    i {
        color: var(--white);
        font-size: $extra-large-1-font;
    }
}

::ng-deep .bread-crumb {
    margin-bottom: 10px;
    background-color: var(--white) !important;
}

.coupon {
    min-height: 250px;
    width: 100%;
    background: var(--white);
}

.pincode {
    min-height: 100px;
    background: var(--white);
}

.common-product {
    min-height: 390px;
    width: 100%;
    background-color: var(--white);
}

.promo {
    min-height: 75px;
    width: 100%;
}