@import "../../../scss/variables";
@import "../login-card.scss";
// New login start
.login-bg {
    ::ng-deep shared-auth-header {
        height: 54px !important;
    }
    // background: linear-gradient(#d9232d, #f5555e);
    background: var(--red-light-and-dark-gradient);
    min-height: 100vh !important;
    overflow-y: scroll;
    position: relative;
    &.checkout-login-bg {
        padding: 0px 0px 15px;
    }
    .skip-btn {
        position: absolute;
        top: 0px;
        z-index: 99;
        right: 20px;
        font-size: 10px;
        background-color: rgba(60, 60, 60, 0.45098039215686275);
        padding: 7px 9px;
        border-radius: 6px;
    }
    .login-bg-img {
        background-image: url("../../../../assets/img/login-bg-img.png");
        min-height: 1px;
        position: absolute;
        top: 470px;
        bottom: 0px;
        width: 100%;
        background-position: top;
        background-size: 130%;
        background-position-x: center;
    }
    .fixed-view {
        position: relative;
        left: 0;
        right: 0;
        width: 100%;
        .bg-moglix-logo {
            width: 90px;
            display: block;
            margin: auto;
        }
        .heading {
            color: var(--white);
        }
        .heading-padding {
            color: var(--white);
            padding-top: 45px;
        }
        .login-card {
            @extend %login-card;
            // autocomplete list css
            .outline-input-label {
                .auto-complete-list {
                    position: absolute;
                    z-index: 9;
                    left: 0;
                    right: 0;
                    ul {
                        width: 100%;
                        list-style: none;
                        max-height: 100em;
                        padding: 0;
                        margin: 0;
                        overflow: scroll;
                        overflow-x: hidden;
                        background-color: var(--white);
                        box-shadow: 0px 3px 16px #b1abab;
                        border-radius: 8px;
                        li {
                            padding: 10px;
                            color: #303030;
                            font-size: $large-font;
                            line-height: 2em;
                            border-bottom: 1px solid #efeff4;
                            &.email-recoman-text {
                                font-size: $small-font;
                                color: #979797;
                                font-weight: bold;
                                border-bottom: none;
                                padding-bottom: 0px;
                            }
                        }
                    }
                }
            }
        }
        .terms-n-policy {
            padding: 5px 15px 15px;
            p {
                font-size: $small-font;
                color: var(--white);
                text-align: center;
                a {
                    text-decoration: underline;
                    color: var(--white);
                }
            }
        }
    }
}
