@import '../../scss/variables';
@import '../../scss/utils/utilities.scss';

.privacy{
    padding:0px;
    .privacy-desc{
        background: var(--white);
        text-align: left;
    }
    p{
        font-size: $medium-font; 
        color: var(--text-color);
        line-height: 24px;
        margin-bottom: 10px;
    }
    ul{
        li{
            line-height: $medium-line-height;
        }
    }  
}