<div class="trending-search-container" *ngIf="trendingCatName?.length > 0">
    <h3 class="search_heading"><i class="icon-trending"></i>Trending Searches</h3>
    <div class="trending-search-inner">
        <ng-container *ngFor="let prod of trendingCatName">
            <ng-container *ngIf="prod.categoryName">
                <div>
                    <a (click)="navigateTo(prod.categoryLink, {tS:'yes'})">{{prod.categoryName}}</a>
                </div>
            </ng-container>
        </ng-container>
    </div>
</div>

<div class="top_categories" *ngIf="topCategories?.length > 0">
    <h3 class="search_heading"><i class="icon-trending"></i>Top Categories</h3>
    <div class="search_product_categories">
        <ng-container *ngFor="let item of topCategories;">
            <ng-container *ngIf="item.categoryImage">
                <div class="search_product_category" (click)="navigateTo(item.categoryLink, {tS:'yes'})">
                    <img [src]="CONSTANTS.IMAGE_BASE_URL + item.categoryImage">
                    <span class="prodText">{{ item?.categoryName }}</span>
                </div>
            </ng-container>
        </ng-container>
    </div>
</div>