<div class="trending-search-container" *ngIf="trendingCatName?.length > 0">
    <h3 class="search_heading"><i class="icon-trending"></i>Trending Searches</h3>
</div>
<div class="pwa-tabs-container">
    <ul class="pwa-inline-tab" id="elementTabs">
        <li *ngFor="let prod of trendingCatName | slice:0: _commonService.limitTrendingCategoryNumber; let i = index;"
            class="pwa-tab mb-10">
            <ng-container *ngIf="prod.categoryName">
                <div>
                    <a (click)="navigateTo(prod.categoryLink, {tS:'yes'})">{{prod.categoryName}}</a>
                </div>
                <!-- <div class="show_more"
                    *ngIf="(i === ((trendingCatName | slice:0: _commonService.limitTrendingCategoryNumber).length - 1) && ((trendingCatName.length - _commonService.limitTrendingCategoryNumber) >= 0))"
                    (click)="updateLimitTrendingCategoryNumber()">
                    {{ trendingCatName.length !== _commonService.limitTrendingCategoryNumber ? (trendingCatName.length -
                    _commonService.limitTrendingCategoryNumber) + ' more searches...' : 'Show less' }}
                </div> -->
            </ng-container>
            
        </li>
    </ul>
</div>


<div class="top_categories" *ngIf="topCategories?.length > 0">
    <h3 class="search_heading"><i class="icon-top_categories"></i>Top Categories</h3>
    <div class="search_product_categories">
        <ng-container *ngFor="let item of topCategories;">
            <ng-container *ngIf="item.categoryImage">
                <div class="search_product_category" (click)="navigateTo(item.categoryLink, {tc:'yes'})">
                    <img [src]="CONSTANTS.IMAGE_BASE_URL + item.categoryImage">
                    <span class="prodText">{{ item?.categoryName }}</span>
                </div>
            </ng-container>
        </ng-container>
    </div>
</div>