@import '../../scss/variables';
.pwa-row {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   padding:10px 15px;
}
@for $i from 1 through 12 {
    $colnum: $i;
    .pwa-col-#{$i} { 
        -webkit-box-flex: 0;
        -ms-flex: 0 0 ($fullwidth / $colmax)*$colnum;
        flex: 0 0 auto;
        max-width: ($fullwidth / $colmax)*$colnum;
        width:($fullwidth / $colmax)*$colnum;
      //   padding-left: $default-gap;
      //   padding-right: $default-gap;
     }
}

