<section class="container upiBlockInner">


    <div class="payment-notification" *ngIf="lsrMessage">
        <span>Low success rate currently observed for <strong>{{lsrMessage}}</strong>. If possible, use an alternate payment mode</span>
    </div>
    <div id="upi_block" class="upi-block continer">
        <form [formGroup]="upiForm" (ngSubmit)="pay(upiForm.value, upiForm.valid)" class="form-horizontal">
            <div class="material-form material-form-boxed" *ngIf="upiChecked">
                <div class="input-field-boxed">
                    <label>Please enter your UPI ID</label>
                    <input type="text" class="upicode" formControlName="upi" [value]="" placeholder="Ex: mobileNumber@upi" #upicode>
                    <span *ngIf="upicode?.value?.length!=''" class="clearupi" (click)="upicode.value=''"><i
                            class="fa fa-times"></i></span>
                </div>
            </div>
            <div class="upi_icons">
                <span class="upi_label">We support following UPI IDs</span>
                <div class="upi-box-wrap">
                    <div class="upi_box">
                        <img src="./assets/img/upi_icons/paytm_upi.png">
                    </div>
                    <div class="upi-box">
                        <img src="./assets/img/upi_icons/gpay_upi.png">
                    </div>
                    <div class="upi-box">
                        <img src="./assets/img/upi_icons/bhim_upi.png">
                    </div>
                    <div class="upi-box">
                        <img src="./assets/img/upi_icons/phonepe_upi.png">
                    </div>
                    <div class="upi-box">
                        <img src="./assets/img/upi_icons/whatsapp_upi.png">
                    </div>
                </div>
            </div>

            <div *ngIf="prepaidDiscount>0" class="o-hidden text-black pad-t-15">Prepaid Discount : ₹ {{prepaidDiscount | number : '1.2-2'}}</div>

            <div class="continue-button">
                <div class="container">
                    <p class="total-mount" *ngIf="totalPayableAmount>0">
                        <span class="payable-amnt">Payable Amount</span> ₹ {{totalPayableAmount | mathCeil | number : '1.2-2'}} </p>
                    <button type="submit" [disabled]="!upiForm.valid" class="btn">PAY</button>
                </div>
            </div>
        </form>
    </div>
</section>

<tez-upi-form *ngIf="isValid==true && uType==10 && type=='retail'" [data]="upiData"></tez-upi-form>
<razor-pay *ngIf="isValid&&type=='tax'" [data]="upiData"></razor-pay>