<div class="search-not-found-container">
    <div class="not-found-section">
        <h2 *ngIf="helpText.length == 1 ">
            {{ helpText[0] }}
        </h2>
        <h2 *ngIf="helpText.length > 1 ">
            <ng-container *ngFor="let item of helpText">{{item}}<br /></ng-container>
        </h2>
        <img class="no-product" src="../../../../assets/img/no-product.png">
        <p *ngIf="helpSubText.length == 1 ">
            {{ helpSubText[0] }}
        </p>
        <p *ngIf="helpSubText.length > 1 ">
            <ng-container *ngFor="let item of helpSubText">{{item}}<br /></ng-container>
        </p>
    </div>
    <div class="pwa-row">
        <div class="pwa-col-12">
            <img _ngcontent-ssr-pwa-c92="" src="/assets/img/search-card-plp.svg">
            <trending-categories [tocd]="'Trending Categories'" [flyOutData]="notFoundCategories"></trending-categories>

        </div>
    </div>
</div>