 <!-- <div class=" ">
  <div *ngIf="myRfqList && myRfqList.length > 0">
    <div class="orderbox" *ngFor="let list of myRfqList; index as i;" (click)="list.toggle = !list.toggle">
      <div class="orderIdtab" data-toggle="collapse" [attr.data-target]="'#demo' + i">
        <div class="orderSum">
          <span class="orderId">RFQ Id : {{list.id}}</span>
          <span class="orderOthDet">
            <span class="ordernoItems">{{list.itemData.length}} Item |</span>
            <span class="orderDate">
              Placed on {{list.createdDate | date:'shortDate'}}
            </span>
          </span>

        </div>
      </div>
      <div *ngIf="list.toggle" [attr.id]="'demo' + i" [class.in]="i == 0" class="collapse">
        <div class="orderdtBox" id="one">
          <div class="orderdtBoxinner">
            <div class="orderdtDesc clearfix" *ngFor="let data of list.itemData">
              <div class="orderproImg">
                <img src="{{imagePath}}web/dist/assets/img/placeholder.svg">
              </div>
              <div class="orderproDesc">
                <p>
                  Product:
                  <span *ngIf="data.prodReference == null; else productLink">{{ data.productName }}</span>
                  <ng-template #productLink><a [routerLink]="'/'+data.productURL"> {{ data.productName }}</a>
                  </ng-template>
                </p>
                <span class="orderstatus"><span>Brand:</span> {{ data.brand }} </span>

                <div class="orderqty clearfix">
                  <span class="qtyleft">Qty :{{data.quantity }}</span>
                  <span class="priceright">Status :<span *ngIf="data.customerStatusText=='New'"
                      class="text-green">Created</span>
                    <span *ngIf="data.customerStatusText!=='New'" class="text-green">{{data.customerStatusText}}</span>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>   -->
<section class="my-rfq-list" *ngIf="myRfqList && myRfqList.length > 0" >
  <ng-container *ngFor="let list of myRfqList; index as i;">
    <div class="my-rfq-list-item">
      <div *ngFor="let data of list.itemData; index as i" class="card-boxed">
        <div>
          <p class="mt-15">
            <span>RFQ ID. {{list.id}} ({{list.itemData.length}} Item)</span>
          </p>
        </div>
        <div class="card-upper">
            <div class="card-img">
                 <img src="{{imagePath}}web/dist/assets/img/placeholder.svg">
            </div>
            <div class="card-desc">
              <p>
                <span *ngIf="data.prodReference == null; else productLink">{{ data.productName }}</span>
                <ng-template #productLink><a [routerLink]="'/'+data.productURL"> {{ data.productName }}</a>
                </ng-template>
              </p>
              <!-- <span class="orderstatus"><span>Brand:</span> {{ data.brand }} </span> -->
              <div class="orderqty">
                <span class="qtyleft"> 
                  <span>Qty:{{data.quantity}}</span>
                </span>
                
             </div>
          </div>
        </div>
        <div class="card-bottom">
              <div class="card-bottom-inner">
                <span class="status-circle created"></span>
                <span class="orderstatus">
                  <!-- <i class="dot">&#x2022;&nbsp;</i> -->
                  
                  <span *ngIf="data.customerStatusText=='New'" class="text-green">Created</span>
                  <span *ngIf="data.customerStatusText!=='New'" class="text-green">{{data.customerStatusText}}</span>
                  <ng-container><p>Placed on {{list.createdDate | date }}</p> </ng-container>  
                </span>              
              </div>  
        </div>
      </div>  
    </div>
  </ng-container>
</section>

