@import '../../scss/variables';
pagination-controls {
    display: block;
    text-align: center;
    ul.ngx-pagination {
        overflow: hidden;
        margin-top: 0px;
        padding: 0px;
        // background: var(--white);
        li {
            font-size: $medium-font;
            background: transparent;
            margin: 0 1px;
            font-weight: normal;
            color: #565656!important;
            border-radius: 50%;
            height: 30px;
            width: 30px;
            text-align: center;
            line-height: $large-line-height;
            a {
                font-size: $medium-font;
                font-weight: $font-normal;
                line-height: $extra-large-1-line-height;
                height: 30px;
                padding: 0 !important;
                &:hover {
                    background: none !important;
                }
            }
            &.current {
                background: var(--onyx-black);
                padding: 3px 0;
                font-size: $large-font;
                span {
                    color: var(--white);
                }
            }
            &.pagination-previous {
                display: inline-block !important;
                opacity: 1 !important;
            }
            &.pagination-next {
                display: inline-block !important;
                opacity: 1 !important;
            }
            &.disabled {
                // opacity: 0.45 !important;
                margin-right: 30px;
            }
        }
    }
}

.ngx-pagination .pagination-previous a::before,
.ngx-pagination .pagination-previous.disabled::before {
    content: 'PREV' !important;
    color: var(--blue);
    display: none;
    font-weight: bold;
}

.ngx-pagination .pagination-previous.disabled::before,
.ngx-pagination .pagination-next.disabled::after {
    color: var(--silver) !important;
}

.ngx-pagination .pagination-next a::after,
.ngx-pagination .pagination-next.disabled::after {
    content: 'NEXT' !important;
    color: var(--blue);
    display: none;
    font-weight: bold;
    .disabled{
        color: var(--silver);
    }
}