@import '../../scss/variables';
.ngx-pagination .pagination-previous a::before,
.ngx-pagination .pagination-previous.disabled::before,
.ngx-pagination .pagination-next a::after,
.ngx-pagination .pagination-next.disabled::after {
    margin: 0px !important;
}

pagination-controls {
    display: block;
    text-align: center;
    ul.ngx-pagination {
        float: none !important;
        text-align: center;
        width: $fullwidth;
        overflow: hidden;
        margin-top: 0px;
        padding: 15px 0px;
        background: var(--white);
        li {
            font-size: $medium-font;
            background: transparent;
            margin: 0 2px;
            font-weight: normal;
            color: #565656!important;
            border-radius: 50%;
            height: 30px;
            width: 30px;
            text-align: center;
            line-height: $large-line-height;
        
            &.disabled {
                opacity: 0.45 !important;
            }
            a {
                font-size: $medium-font;
                font-weight: $font-normal;
            }
            &.current {
                background: var(--onyx-black);
                padding: 3px 0;
                font-size: 11px;
                span {
                    color: var(--white);
                }
            }
        }
    }
} 
.ngx-pagination .pagination-previous a::before,
.ngx-pagination .pagination-previous.disabled::before {
    content: 'PREV' !important;
    color: var(--blue);
    display: none;
}
.ngx-pagination .pagination-next a::after,
.ngx-pagination .pagination-next.disabled::after {
    content: 'NEXT' !important;
    color: var(--blue);
}
.ngx-pagination a,
.ngx-pagination button {
    line-height: $extra-large-1-line-height;
    height: 30px;
    padding: 0 !important;
}
li.pagination-previous {
    margin-right: 30px !important;
    display: inline-block !important;
    opacity: 1 !important;
}
.ngx-pagination a:hover, .ngx-pagination button:hover {
    background: none !important;
  }
@media only screen and (max-width:768px) {
    ul.ngx-pagination {
        float: none;
        text-align: center;
        width: $fullwidth;
        overflow: hidden;
        margin-top: 0px;
    }
    .prod_nav {
        margin-top: 20px !important;
        margin-bottom: 20px !important;
    }
    brand {
        .prod_nav {
            margin-bottom: 40px !important;
        }
    }
}