@import "../../scss/variables";
@import '../../scss/components/checkbox';
@import '../../scss/components/radio';
@import '../../scss/layout/forms';
.invoice-container {
    @extend %white-card;
    background: $white;
    padding: 15px;
    margin-top: 10px;
    border: none;
    .invoice-select {
        display: flex;
        align-items: center;
        label {
            width: 20px;
            @extend %custom-check-box-checkout;
        }
        .invoice-txt {
            padding-left: 10px;
            p {
                font-size: $large-font;
                font-weight: bold;
                margin-bottom: 2px;
            }
            .invoice-subtxt {
                color: #9c9292;
                font-size: $medium-font;
            }
        }
    }
}

.add-address-substrip {
    text-align: center;
    padding: 15px;
}

.address-container {
    margin-top: 10px;
    @extend %cards;
    background-color: var(--ghost-white);
    padding: 0 0 0 0;
    border: 0; 
    .shipping-container {
        @extend %white-card;
        margin-top: 10px;
        @extend %cards;
        padding: 0px;
        border: 0;
        .addButtonContainer {
            padding: 15px;
            .quaternary-btn-1{
                width: $fullwidth;
            }
        }
    }
}
.sub-strip {
    padding: 15px 10px 0px !important;
    border: 0;
    &:not(:first-child) {
        margin-top: 20px;
    }
    h4 {
        float: left;
        font-weight: bold;
        color: $txt-color;
        font-size: $medium-font;
        i {
            font-size: 14px;
            margin-left: 5px;
        }
    }
}
.address-list {
    @extend %clear-fix;
    label {
        display: block;
        @extend %custom-radio-checkout;
        @extend %clear-fix;
        .chk-txt {
            font-size: $medium-font;
            // width: calc(100% - 40px);
            width: 100%;
            margin-left: 0px;
            .heading-container {
                display: block;
                @extend %clear-fix;
                margin-bottom: 5px;
                .heading {
                    font-weight: 500;
                    float: left;
                    line-height: 20px;
                }
                .icon-dot {
                    line-height: 26px;
                    float: right;
                }
            }
            .txt {
                display: block;
                font-size: $medium-font;
                width: 100%;
                line-height: $small-line-height;
            }
        }
    }
}

.persnName {
    font-size: $medium-font;
    font-weight: bold;
    // &:after {
    //     content: "|";
    //     padding: 0px 10px;
    //     position: absolute;
    // }
    & + span {
        padding-left: 10px;
    }
}

form {
    &.material-form{
        background-color: var(--white) !important;
    }
    .multiple-address {
        padding: 15px;
        &.active-multiple-address{
            border: 1px solid var(--primary);
            .address-btn-section{
                display: block;
            }
        }
        .address-btn-section{
            display: none;
        }
        &.withRadioContainer {
            @extend %white-card;
        }
        @extend %clear-fix;
        .bin-icon {
            float: right;
            text-align: right;
            padding: 10px 0;
            width: 7%;
        }
    }
}
.address-btn-section {
    display: block;
    margin-top: 10px;
    .small-btn {
        color: $btn-color-red;
        width: calc(50% - 10px);
        padding: 5px;
        // margin-right: 15px;
        border-radius: 4px;
        text-align: center;
        float: left;
        font-weight: bold;
        &:last-child{
            // margin-right: 0px;
            float: right;
        }
    }
    .edit {
        background: $color-red-light;
        color: $btn-color-red;
    }
    .delete {
        background: $btn-color-red;
        color: #fff;
    }
}

// .addAddressPopup {
//     .header_add_edit {
//         // background: #ffffff !important;
//         &.head-sec {
//             padding: 12px 0;
//             margin: 0;
//             @extend %box-shadow;
//             background: $white;
//             i {
//                 font-size: 20px;
//                 line-height: 24px;
//                 color: #fff;
//             }
//             i + .page-name {
//                 font-size: $extra-large-font;
//                 margin-left: 10px;
//                 line-height: 26px;
//                 color: #fff;
//                 float: left;
//             }
//         }
//     }
//     .content-popup {
//         height: calc(100% - 100px);
//         overflow: auto;
//         margin-top:15px;
//     }
// }


.varified-checkbox {
    @extend %custom-check-box-checkout;
}

.multiple-address-checkout{
    padding: 15px 15px 0 !important;
}



