// rfq flow pahse2 scss

@import '../../scss/variables';
@import '../../scss/layout/cards';
@import '../../scss/layout/forms';
@import '../../scss/components/buttons';

.card{
    padding: 20px 15px 15px ;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.2);
    border: none;
}
.bulkRFQ{
    height: calc(100% - 58px);
    background: var(--ghost-white);
    padding: 15px;

    .stepper-wrapper {
        margin-top: 15px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 25px;

        .stepper-item {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            flex: 1;
            img{
                height: 30px;
                width: 30px;
                z-index: 5;
                // margin-top: -5px;
            }
            i {
                font-size: 28px;
                z-index: 5;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 25px;
                height: 25px;
                border-radius: 50%;
                background: var(--white);
                margin-bottom: 6px;
                color: var(--slimy-green);
            }

            .step-counter {
                position: relative;
                z-index: 5;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 25px;
                height: 25px;
                border-radius: 50%;
                background: var(--silver);
                margin-bottom: 6px;
                color: var(--white);
                font-weight: bold;
                border: 2px solid var(--ghost-white);
                margin-top: -2px;
                &.whtBg{
                    background-color: var(--ghost-white) !important;
                    border: none !important;
                }

                &.active {
                    border-color: var(--slimy-green);
                    color: var(--slimy-green);
                    background: var(--white);
                    margin-right: 28px;

                    &::after {
                        border-color: red;
                    }
                }
                &.active2{
                    border-color: var(--slimy-green);
                    color: var(--slimy-green);
                    background: var(--white);
                    margin-right: -30px;
                }
            }

            &:before {
                position: absolute;
                content: "";
                border-bottom: 2px solid #ccc;
                width: 100%;
                top: 10px;
                left: -50%;
                z-index: 2;
            }

            &:after {
                position: absolute;
                content: "";
                border-bottom: 2px solid #ccc;
                width: 100%;
                top: 10px;
                left: 50%;
                z-index: 2;
            }

            &:first-child:before {
                content: none;
            }

            &:last-child:after {
                content: none;
            }

            &.active {
                &::after {
                    border-color: var(--slimy-green);
                }

                &::before {
                    border-color: var(--slimy-green);
                }
            }
        }
    }
    .quantity-block {
        .qty-field {
            width: 65%;
        }
    }

    .qty-field {
        position: relative;
    }

    .qty-dropdown {
        position: absolute;
        background: var(--white);
        border-radius: $border-radius-8;
        box-shadow: 0 0 8px 0px rgba(0, 0, 0, .1);
        z-index: 1;
        top: 45px;
        min-height: 305px;

        p {
            padding: 15px;
            font-size: 9px;
            color: var(--spanish-gray);
            font-weight: $font-bold;
        }

        ul {
            li {
                border-bottom: 1px solid var(--ghost-white);
                padding: 15px;
                font-size: 14px;

                &:last-child {
                    border-bottom: none;
                }
            }
        }
    }
    .secondry-btn {
        width: 100%;
    }
    .thanks-query-container {
        .heading-txt {
            padding: 15px 15px 20px;
            text-align: center;

            p {
                font-size: 14px;
                color: var(--gray-web);
                padding-top: 10px;
            }
        }
    }
    .required-qty-txt {
        font-size: 12px;
        color: var(--onyx-black);
        line-height: 18px;
    }
}

.rfq-phase2-container {
    padding: 15px;

    .header-strip {
        display: flex;
        align-items: center;
        padding-bottom: 15px;

        i {
            width: 10%;
            font-size: 24px;
        }

        .heading-name {
            p {
                padding-top: 5px;
            }

            .succes-icon {
                margin-left: 120px;
                font-size: 45px;
                color: var(--slimy-green);
            }
        }
    }
}

.thanks-for-query{
   
    .query-header{
        text-align: center;
        img{
            width: 40px;
            margin-bottom: 15px;
        }
        h3{
            font-size: $extra-large-font;
        }
        p{
            font-size: $large-font;
        }
        
    }
    .query-body{
        background-color: var(--white);
        .query-inner{
            padding-top: 5px !important;
            &.query-inner-upper{
                border-bottom: 1px solid var(--ghost-white);
            }
            .label{
                color: var(--gray-web);
                margin: 15px 0 5px;
            }
            h4{
                font-size: $large-font;
            }
            .query-inner-flx{
                display: flex;
                .flx-child{
                    width: 50%;
                }
            }
        }
    }
}

::ng-deep{
    .pop-up-header3{
        .text-section{
            h3{
                font-size: $extra-large-font;
            }
            .page-name{
                font-size: $medium-font !important;
                line-height: 18px !important;
            }
        }
    }
    .error-field{
        margin-top: 0px;
        padding-top: 5px;
        .error-txt{
            margin-left: 0px !important;
        }
    }
}
::ng-deep{
    .screen-view{
        background-color: var(--ghost-white) !important;
    }
}