.green-txt {
    color: var(--slimy-green);
}

.red-txt {
    color: var(--primary);
}

.orange-txt {
    color: var(--orange-red);
}

.success-txt {
    color : var(--slimy-green);
    margin: 5px 0;
}

.yellow-txt {
    color: #fdb92c !important;
}

.yellow-bg {
    background-color: #fdb92c !important;
}

.bg-white {
    background: var(--white);
}

.error-txt {
    color     : var(--primary);
    margin-top: 5px;
    font-size : $small-font;

    &.inline-error {
        margin-left: 10px;
        font-size  : 12px;
        display    : inline-block;
        margin-top : 0px;
    }
}

.grey-txt {
    font-size: 12px;
    color: var(--onyx-black);
    opacity: 0.5;
}

.light-green {
    background: #6bcf1b;
}

.dark-green {
    background: #309615;
}

.red-bg {
    background: var(--primary) !important;
}

.gray-bg {
    background: var(--spanish-gray) !important;
}
.link-text{
    color:var(--bleu-de-france);
}
