 /*Mixins*/
        
 @mixin gridForCategory($noOfItems, $space: null) {
    @if $space {
        width: calc(100% / #{$noOfItems} - (#{$space}px / #{$noOfItems}));
    }
    @else {
        width: calc(100% / #{$noOfItems});
    }
    float:left;
}

@mixin transform($transforms) {
    -moz-transform: $transforms;
    -o-transform: $transforms;
    -ms-transform: $transforms;
    -webkit-transform: $transforms;
    transform: $transforms;
}

@mixin rotate ($deg) {
    @include transform(rotate(#{$deg}deg));
}

@mixin scale($scale) {
    @include transform(scale($scale));
}

@mixin translate ($x, $y) {
    @include transform(translate($x, $y));
}

@mixin placeholder {
     ::-webkit-input-placeholder {
        @content
    }
     :-moz-placeholder {
        @content
    }
     ::-moz-placeholder {
        @content
    }
     :-ms-input-placeholder {
        @content
    }
}
@mixin pwa-right-custom($width){
    width:$width;
   // .pwa-col-left{
   //   -webkit-box-flex: 0;
   //   -ms-flex: 0 0 calc($fullwidth - $width);
   //   flex: 0 0 calc($fullwidth - $width);
   // }
   // .pwa-col-right{
   //   -webkit-box-flex: 0;
   //   -ms-flex: 0 0 $width;
   //   flex: 0 0 $width;
   // }
 }