 /*Mixins*/
        
 @mixin gridForCategory($noOfItems, $space: null) {
    @if $space {
        width: calc(100% / #{$noOfItems} - (#{$space}px / #{$noOfItems}));
    }
    @else {
        width: calc(100% / #{$noOfItems});
    }
    float:left;
}

@mixin transform($transforms) {
    -moz-transform: $transforms;
    -o-transform: $transforms;
    -ms-transform: $transforms;
    -webkit-transform: $transforms;
    transform: $transforms;
}

@mixin rotate ($deg) {
    @include transform(rotate(#{$deg}deg));
}

@mixin scale($scale) {
    @include transform(scale($scale));
}

@mixin translate ($x, $y) {
    @include transform(translate($x, $y));
}
@mixin pwa-custom-row($width,$leftFixedWidth:false){
    @if $leftFixedWidth{
        .pwa-col-left{
            -ms-flex: 0 0 $width;
            flex: 0 0 $width;
            text-align:left;
        }
        .pwa-col-right{
            -ms-flex: 0 0 calc(100% - #{$width});
            flex: 0 0 calc(100% - #{$width});
        }
    }
    @else{
        .pwa-col-left{
            -ms-flex: 0 0 calc(100% - #{$width});
            flex: 0 0 calc(100% - #{$width});
            text-align:left;
        }
        .pwa-col-right{
            -webkit-box-flex: 0;
            -ms-flex: 0 0 $width;
            flex: 0 0 $width;
            text-align:right;
        }
    }
} 

@mixin placeholder {
     ::-webkit-input-placeholder {
        @content
    }
     :-moz-placeholder {
        @content
    }
     ::-moz-placeholder {
        @content
    }
     :-ms-input-placeholder {
        @content
    }
}

