// Aligment Classes
.align-right {
    text-align: right;
}

.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}
//float --- backup
.f-left {
    float: left;
}

.f-right {
    float: right;
}

//border
.no-border {
    border: 0 !important;
}
// border
.border-top {
    border-top: 1px solid $border-color;
}

//common classes
.container {
    @extend %container;
}

// align items
.align-center{
    align-items: center;
}

.pwa-text{
    font-size: $medium-font;
    line-height:$medium-line-height;
    padding-bottom: 5px;
}


.list-information {
    list-style: disc;
    font-size: $medium-font;
    line-height: $small-line-height;
}

