@import "../../scss/variables";
@import "./slp.scss";
.displayCategoryName {
    font-size: 16px;
}

:host {
    display: block;
    margin-top: 108px;
    .slide-up {
        transform: translateY(0);
    }
    .filter-wrapper {
        position: fixed;
        bottom: 0;
        z-index: 5;
        left: 0;
        width: 100%;
        box-shadow: 1px -3px 8px #cecece;
        background: #fff;
        &.slide-up {
            bottom: 0;
        }
        button {
            width: 50%;
            height: 54px;
            border: none;
            background: transparent;
            float: left;
            font-size: 16px;
            font-weight: 500;
            text-align: center;
            i {
                padding-right: 10px;
            }
        }
    }
}

.sub_category_heading {
    font-size: $large-font;
    font-weight: 600;
    padding: 10px 0px;
    span {
        font-weight: 400;
    }
}

// Listing Cards Section
.view-products {
    padding-bottom: 0;
    li {
        @extend %clear-fix;
        padding: 10px;
        position: relative;
        background: white;
        margin-bottom: 2px;
        .product-img {
            img {
                max-width: 100%;
                max-height: 100%;
            }
        }
        .description-txt {
            font-size: 14px;
            margin-bottom: 4px;
            line-height: 20px;
        }
        .request-text {
            font-weight: bold;
            font-size: 16px;
            color: $black;
            margin-top: 5px;
        }
    }
    li:last-child {
        border-bottom: none !important;
    }
    &.list {
        li {
            width: 100%;
            border-bottom: 1px solid $border-color;
            a {
                display: block;
            }
            .product-img {
                width: 84px;
                height: 84px;
                float: left;
            }
            .product-description {
                float: right;
                width: 75%;
                width: calc(100% - 104px);
            }
        }
    }
}

.cate-container {
    .bg_white {
        background: #fff;
    }
    // margin-bottom: 65px;
    .sub-cate-container {
        background: #e9f0f4;
        h1 {
            font-size: 16px;
        }
    }
    .card-head {
        border-bottom: 1px solid $border-color;
    }
}

.productTags {
    position: absolute;
    width: 70px;
    top: 10px;
    left: 0px;
    img {
        max-width: 100%;
    }
}

.card-head {
    @extend %clear-fix;
    border-bottom: 1px solid #e6e6e6;
    .icon-grid-view,
    .icon-list-view {
        font-size: 21px;
        margin-top: 11px;
    }
}

.price {
    .after-discount {
        font-weight: bold;
        font-size: 20px;
        display: block;
        margin: 5px 0 5px 0;
    }
    .before-discount {
        text-decoration: line-through;
        opacity: 0.5;
        margin: 0 6px 0 0;
    }
    .discount {
        color: $green-color;
        font-weight: bold;
    }
}

.seller {
    margin-top: 10px;
    span {
        color: #9e9d9d;
    }
}

.icon-list-view,
.icon-grid-view {
    font-size: 21px;
    line-height: 30px;
}

.reviewRatingWrap {
    padding-bottom: 8px;
    .reviewRating {
        background: #458d00;
        color: #fff;
        border-radius: 3px;
        padding: 4px;
        font-size: 10px;
        font-weight: 500;
        margin-right: 5px;
        img {
            width: 10px;
        }
    }
    .ratingCount {
        color: #c0c0c0;
        font-size: 10px;
        font-weight: 500;
    }
}

.quickLinksSection {
    border-radius: 4px;
    opacity: 1;
    padding: 15px;
    background: #f2f2f2;
    .heading-3 {
        border-bottom: 1px solid #ddd;
        margin-bottom: 10px;
    }
    .innerBrandSection {
        box-shadow: 0px 3px 6px #0000001a;
        border-radius: 4px;
        background: $white;
        padding: 15px 30px;
        margin: 0px 15px;
    }
    h4 {
        font-size: 16px;
        font-weight: bold;
        line-height: 19px;
        padding-bottom: 18px;
    }
    .quickLinkList {
        color: #3c3c3c;
        border: 1px solid #fff;
        background: #fff;
        padding: 8px;
        border-radius: 6px;
        display: inline-block;
        margin: 0 10px 10px 0;
        width: auto;
        font-size: 14px;
    }
}

// Brand Specific BreadCrumb
.bread-head {
    // background-color: white;
    padding: 10px;
}

.bread-head li {
    list-style: none;
    display: inline;
    margin-right: 10px;
    cursor: pointer;
}

.bread-head li:not(:last-child):after {
    content: ">";
    margin-left: 10px;
    margin-right: -5px;
}

.visibility {
    visibility: hidden;
    display: none;
}

::ng-deep {
    .slpLayout1 {
        @include layout1;
    }
    .slpLayout2 {
        @include layout2;
    }
    .bscategory {
        background: #fff;
        .bscatwrap {
            padding: 15px 15px 0;
            .slp-heading {
                padding: 5px 10px 5px 0;
            }
        }
    }
    .bsrow {
        border-top: 1px solid rgba(162, 162, 162, 0.5);
        margin: 0 -15px;
        display: flex;
        flex-wrap: wrap;
        .bs_item {
            width: 50%;
            padding: 10px;
            position: relative;
            float: left;
            &::before {
                bottom: 0;
                left: 0;
                right: 0;
                content: '';
                position: absolute;
                height: 1px;
                background: rgba(162, 162, 162, 0.5);
            }
            &:nth-child(odd) {
                &::after {
                    bottom: 0;
                    top: 0;
                    right: 0;
                    content: '';
                    position: absolute;
                    width: 1px;
                    background: rgba(162, 162, 162, 0.5);
                }
            }
            .bs_item_img {
                a {
                    display: block;
                    margin: 0;
                }
                img {
                    max-width: 100%;
                    display: block;
                    margin: 0;
                }
            }
            .bs_item_desc {
                min-height: 100px;
                h3 {
                    font-size: $large-font;
                    font-weight: 400;
                    padding-bottom: 5px;
                }
                .safetysh_price {
                    color: rgba(43, 43, 43, 1);
                    font-weight: 500;
                    font-size: 15px;
                    margin-bottom: 5px;
                }
                .safetysh_discount {
                    display: block;
                    color: $green-color;
                    font-size: $medium-font;
                    font-weight: 500;
                    margin-bottom: 1px;
                    span {
                        text-decoration: line-through;
                        color: rgba(43, 43, 43, 0.5);
                        font-weight: 400;
                        margin-right: 10px;
                        display: inline-block;
                    }
                }
                .brandname {
                    color: rgba(43, 43, 43, 0.5);
                    span {
                        color: rgba(43, 43, 43, 1);
                    }
                }
            }
        }
    }
    .viewallbs {
        color: $logo-color;
        border: 1px solid $logo-color;
        border-radius: 2px;
        text-transform: uppercase;
        font-size: 10px;
        position: absolute;
        right: 0;
        display: inline-block;
        height: 25px;
        line-height: 25px;
        top: 0;
        padding: 0 10px;
    }
    .shopbycol {
        float: left;
        width: 50%;
        padding: 0 5px;
        margin-bottom: 10px;
    }
    .shopbywrap {
        padding: 12px 10px;
        border-radius: 3px;
        background: #fff;
        box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
        min-height: 295px;
    }
    .shopbyimgwrap {
        height: 151px;
        img {
            max-width: 100%;
            height: 100%;
        }
    }
    .safetyshopbywrap {
        background: #fff;
        padding: 15px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    }
    h2.slp-heading {
        font-size: 14px;
        text-transform: uppercase;
    }
    .slp-heading {
        position: relative;
        font-size: 20px;
        color: #2A2A2A;
        font-weight: 700;
        padding-bottom: 5px;
        margin-bottom: 15px;
        &:before {
            position: absolute;
            left: 0;
            width: 80px;
            background: #2A2A2A;
            content: '';
            bottom: 0;
            height: 2px;
        }
    }
}

// Panel Head Footer
.panel-head {
    background: #fff;
    margin-top: 10px;
    h3 {
        padding: 15px 0;
    }
}

.common_table {
    th,
    td {
        font-size: 12px;
        font-weight: normal;
        text-align: left;
        border-bottom: 1px solid $border-color;
        padding: 5px;
    }
}

.safetyban {
    .slp-heading {
        text-transform: uppercase;
        font-size: 20px !important;
    }
}

.recent-article-container {
    padding: 15px 0px 0px 0px;
}