<div class="cat_filter_wrap">
    <div class="prod_filter">
        <ng-container *ngIf="_commonService?.isBrowser" #filter></ng-container>
    </div>
</div>

<breadcrumb-nav [breadcrumb]="breadcrumbData"></breadcrumb-nav>
<div [class.visibility]="!((layoutType == 1 || layoutType == 2) && firstPageContent)">
    <div class="row splnewpage" [class.visibility]="!isSLPPage" [class.slpLayout1]="layoutType == 1" [class.slpLayout2]="layoutType == 2">
        <div class="container-fluid safetyshoebannersrow">
            <ng-container *ngIf="_commonService?.isBrowser" #catStatic></ng-container>
            <ng-container *ngIf="_commonService?.isBrowser" #slpSubCategoryRef></ng-container>
            <ng-container *ngIf="_commonService?.isBrowser" #shopByBrand></ng-container>
            <ng-container *ngIf="_commonService?.isBrowser" #catBestsellers></ng-container>
        </div>
        <div class="container-fluid safetyshshopbytype">
            <ng-container *ngIf="_commonService?.isBrowser" #shopbyFeatr></ng-container>
        </div>
    </div>
</div>

<div class="container-fluid category">
    <div class="row">
        <ng-container *ngIf="_commonService?.isBrowser" #cms></ng-container>
    </div>
</div>
<div class="cate-container" id=category-cards-section>
    <div class="bg_white">
        <div class="sub-cate-container">
            <div [class.visibility]="!showSubcategoty" class="container pt-10">
                <p *ngIf="getRelatedCatgory?.children!==undefined && getRelatedCatgory?.children!==null" class="sub_category_heading">{{getRelatedCatgory?.categoryDetails?.categoryName}}
                    <span class="light-txt f-16" *ngIf="getRelatedCatgory?.children!==null">({{getRelatedCatgory?.children.length}}
                        Categories)</span>
                </p>
                <ng-container *ngIf="_commonService?.isBrowser" #subCategory></ng-container>
            </div>
        </div>
        <div class="clearfix"></div>
        <ng-container>
            <product-list [itemCount]="paginationData?.itemCount" [productsUpdated]="productsUpdated" [productsCount]="paginationUpdated" [relatedCatgoryListUpdated]="relatedCatgoryListUpdated"></product-list>
        </ng-container>
        <div class="filter-wrapper">
            <button type="button" (click)="filterUp()">
                <i class="icon-filter" aria-hidden="true"></i> <span class="txt"> FILTER <span *ngIf="filterCounts && filterCounts>0">({{ filterCounts }})</span></span>
            </button>

            <button type="button" (click)="toggleSortBy({sortBy: true})">
                <i class="icon-sort-by" aria-hidden="true"></i>
                <span class="txt">SORT BY</span>
            </button>
        </div>
        <ng-container *ngIf="_commonService?.isBrowser" #sortBy></ng-container>
        <div [class.visibility]="this.paginationData?.itemCount == 0">
            <span observeVisibility [debounceTime]="100" (visible)="onVisiblePagination($event)"></span>
            <ng-template *ngIf="_commonService?.isBrowser" #pagination></ng-template>
        </div>
    </div>

    <div class="quickLinksSection" *ngIf="buckets.length > 0 && firstPageContent">
        <h4>Quick Links</h4>
        <a *ngFor="let category of productCategoryNames" href="{{categoryLinkLists[category]}}" class="quickLinkList">{{category}}</a>
    </div>


    <div *ngIf="productListLength && firstPageContent" observeVisibility [debounceTime]="100" (visible)="onVisibleRecentArticles($event)">
        <ng-container *ngIf="_commonService?.isBrowser" #recentArticles></ng-container>
    </div>
    <!--ODP-1221-->
    <div [class.visibility]="!firstPageContent">
        <category-footer [categoryFooterData]='categoryFooterData'></category-footer>
    </div>
</div>