<div class="pwa-row pwa-row-noPad pad-0 coupon-area">
    <div class="pwa-col-12">
        <div class="pdp-section-header">
            <h3 class="heading-3">
                Offers & Coupons
            </h3>
        </div>
        <div class="pwa-row inline-list-item" *ngFor="let item of allofferData; let i=index;">
            <div class="inline-list-icon">
                <i class="icon-coupon-3-fill-1"></i>
            </div>
            <div class="inline-list-text">
                <span >Get GST invoice and save up to {{gstPercentage}}% on business purchases.</span>
            </div>
            <div class="nline-list-link">
                <span class="link-text" (click)="sendOfferData(item)">VIEW</span>
            </div>
        </div>
        <div class="pwa-row inline-list-item"  (click)="openEmiPopup()">
            <div class="inline-list-icon">
                <i class="icon-coupon-3-fill1"></i>
            </div>
            <div class="inline-list-text">
                <strong>EMIs Available </strong>
                <small>On min. purchase of Rs. 3000 across banks and Rs. 4500 for Bajaj Finserv</small>
            </div>
            <div class="inline-list-link">
                <span class="link-text" *ngIf="!disableEMIView">VIEW</span>
            </div>
        </div>
        <div class="pwa-row inline-list-item" (click)="openEmiPopup()">
        <div class="inline-list-icon">
            <i class="icon-coupon-3-fill-1"></i>
        </div>
        <div class="inline-list-text">
            <strong>EMIs Available </strong>
            <small>On min. purchase of Rs. 3000 across banks and Rs. 4500 for Bajaj Finserv</small>
        </div>
        <div class="inline-list-link">
            <span class="link-text" *ngIf="!disableEMIView">VIEW</span>
        </div>
    </div>
  </div>
</div>
