@import "../../scss/variables";
.deals-list {
    .heading-3 {
        padding-left: 15px;
        border-bottom: 0.5px solid #E3E3E3;
    }
    li {
        @extend %clear-fix;
        border-bottom: 0.5px solid #E3E3E3;
        padding: 15px;
        &.location {
            background: rgba(65, 123, 253, 0.1);
        }
        .ico_offer {
            font-size: $extra-large-font;
            float: left;
            line-height: initial;
            padding-right: 10px;
        }
        .gst-icon {
            float: left;
            padding-right: 10px;
            img {
                height: 20px;
            }
        }
        .ofr_txt {
            font-size: $large-font;
            float: left;
            width: 70%;
            width: calc(100% - 90px);
            padding-bottom: 2px;
            .first-txt {
                font-weight: 500;
                line-height: 21px;
            }
            small {
                font-size: $medium-font;
                padding-top: 5px;
                display: block;
            }
        }
        .ico-right {
            float: right;
            color: #0D99FF;
            line-height: 21px;
            font-weight: 500;
            font-size: $medium-font;
        }
        small {
            color: #303030;
            font-size: $medium-font;
        }
        strong {
            font-weight: 500;
        }
        .full-txt {
            color: $btn-color;
            font-size: $large-font;
            font-weight: bold;
            padding-bottom: 10px;
        }
    }
    li.active {
        background: rgba(65, 123, 253, 0.1);
    }
}

.coupen-area{
    background-color: #F6FFF5;
    .coupen-header{
        padding: 15px;
        border-bottom: 1px solid #E3E3E3;
        h4{
            font-size: $large-font;
            span{
                color: #299E22;
            }
        }
        p{
            color: #8e8b8b;
            font-size: $medium-font;
        }
    }
    .coupen-body-area{
        padding: 15px !important;
        width: 100%;
        align-items: center;
        margin: 0px !important;
        padding: 10px 0px;
        border-bottom: 1px solid #E3E3E3;
        .cb-icon{
            width: 10%;
            img{
                width: 20px;
            }
        }
        .cb-text{
            width: 80%;
            p{
                font-size: $large-font;
                span{
                    color: #299E22;
                }
                .emi-price{
                    color: #303030;
                }
            }
            .small-txt{
                font-size: $medium-font;
                color: #8e8b8b;
            }
        }
        .cb-view{
            width: 10%;
            p{
                color: #278BED;
                font-size: $medium-font;
            }
        }
        
    }
}

// start moglix benifits
// .moglix-benifits{
//     h4{
//         font-size: $extra-large-font;
//     }
//     .moglix-benifits-body{
//         display: flex;
//         flex-wrap: wrap;
//         padding: 15px !important;
//         overflow: scroll;
//         .moglix-benifits-feature{
//             width: 35%;
//             border: 1px solid #EFEFF4;
//             border-radius: 4px;
//             padding: 10px;
//             .mbf-left{
//                 img{
//                     width: 14px;
//                 }
//             }
//         }
//     }
// }

.moglix-benifits {
    margin: 10px 0px;
    background: #fff;
    padding: 15px 15px 5px;
    .moglix-benifits-InnerContainer {
        overflow-y: hidden;
        overflow-x: scroll;
        width: auto;
        scrollbar-width: none;
        /* Firefox 64 */
        padding-bottom: 15px;
        .moglix-benifits-Inner {
            border: 1px solid #EFEFF4;
            border-radius: 8px;
            width: 140px;
            margin-right: 10px;
            padding: 10px;
            float: left;
            .returnImg {
                background: #FAE0E1;
                padding: 6px;
                border-radius: 20%;
                float: left;
                width: 28px;
                margin-top: 5px;
                text-align: center;
                vertical-align: middle;
                img {
                    vertical-align: top;
                }
            }
            .returnTxt {
                color: #0061D5;
                font-size: 12px;
                width: calc(100% - 45px);
                float: right;
                line-height: 18px;
            }
        }
    }
}