.share-container {
    padding: 0px 4px;
    li {
        float: left;
        width: 16.6%;
        text-align: center;
        padding: 0px;
        a {
            font-size: 24px;
            padding-right: 2px;
            margin-right: 0px;
            span {
                display: block;
                padding-top: 7px;
                font-size: 12px;
            }
            &.more {
                i {
                    display: block;
                    transform: rotate(90deg);
                    -ms-transform: rotate(90deg);
                    -webkit-transform: rotate(90deg);
                }
                a {
                    font-size: 30px;
                    color: #666;
                }
            }
        }
    }
}