@import '../../scss/variables';
.column-field {
    .w-65 {
        width: 65%;
        float: left;
    }
    .w-30 {
        width: 30%;
        float: right;
    }
}

button.continue-btn[disabled] {
    background: #bdbdbd;
}

.for-varification {
    position: relative;
    .for-varification-r {
        position: absolute;
        bottom: 8px;
        right: 0px;
        a.show {
            color: #176fd8 !important;
            text-align: right;
            display: none;
            font-size: $large-font;
        }
        span.hidden {
            color: #209F19 !important;
            font-size: $medium-font;
            i {
                font-size: $large-font;
                display: inline-block;
                vertical-align: middle;
                color: #5ba621;
                padding-left: 5px;
            }
        }
    }
}

.varified-checkbox {
    @extend %custom-check-box-checkout
}