<div>
    <form [formGroup]="addressForm" class="material-form" (ngSubmit)="onSubmit(addressForm.value)">
        <div class="outline-input-label mb-25">
            <label [class.is-focus]="addressCustomerName.value.length!=0">
                <input formControlName="addressCustomerName" type="text" placeholder="">
                <span class="label">Name*</span>
            </label>
            <p *ngIf="addressCustomerName.touched && addressCustomerName.invalid && addressCustomerName.errors['required']"
                class="error-txt">Kindly enter your full name</p>
            <p *ngIf="addressCustomerName.touched && addressCustomerName.invalid && addressCustomerName.errors['pattern']"
                class="error-txt">Name cannot contain numeric values</p>
        </div>
        <!-- <input formControlName="idAddress" type="hidden"> -->
        <!-- <div class="input-field">
            
        </div> -->
        <div class="outline-input-label mb-25">
            <label [class.is-focus]="isEmail.value.length!=0">
                <input formControlName="email" type="text" placeholder="" #isEmail>
                <span class="label">Email (Optional)</span>
            </label>
            <p *ngIf="email.touched && email.invalid && email.errors['required']" class="error-txt">Kindly enter your
                email</p>
            <p *ngIf="email.touched && email.invalid && email.errors['invalidEmail'] && email.value.length>0"
                class="error-txt">Enter valid email</p>
        </div>
        <div class="outline-input-label mb-25 for-varification">
            <div class="for-varification-l">
                <label [class.is-focus]="isPhone.value.length!=0">
                    <input formControlName="phone" type="text" placeholder="" #isPhone>
                    <span class="label">Phone Number*</span>
                </label>
            </div>
            <div class="form-inline-cta" *ngIf="phoneVerified.value">
                <span class="hidden" href="">VERIFIED</span>
            </div>
            <p *ngIf="phone.touched && phone.invalid && phone.errors['required']" class="error-txt">Kindly enter your 10
                digit contact number</p>
            <p *ngIf="phone.touched && phone.invalid && phone.errors['invalidPhone'] && phone.value.length>0"
                class="error-txt">Kindly enter your 10 digit contact no.</p>
        </div>
        <div class="outline-input-label mb-25">
            <label [class.is-focus]="isAltPhone.value.length!=0">
                <input formControlName="alternatePhone" type="text" placeholder="" #isAltPhone>
                <span class="label">Alternate Phone Number (Optional)</span>
            </label>
            <p *ngIf="alternatePhone.touched && alternatePhone.invalid && alternatePhone.errors['pattern'] && alternatePhone.value.length>0"
                class="error-txt">
                Kindly enter your 10 digit contact no.</p>
        </div>
        <div class="outline-input-label mb-25">
            <label [class.is-focus]="isAddress.value.length!=0">
                <input formControlName="addressLine" type="text" placeholder="" #isAddress maxlength="150">
                <span class="label">Address*</span>
            </label>
            <p *ngIf="addressLine.touched && addressLine.invalid && addressLine.errors['required']" class="error-txt">
                Kindly enter your address</p>
            <p *ngIf="addressLine.touched && addressLine.invalid && addressLine.errors['pattern']" class="error-txt">
                Special characters are not allowed in address.</p>
        </div>
        <div class="column-field material-form clearfix">
            <div class="outline-input-label mb-25 w-48">
                <label [class.is-focus]="isCountry.value!='Select Country' && isCountry.value!=''">
                    <select formControlName="idCountry" (change)="onCountryChange($event)" #isCountry disabled>
                        <option selected="selected" *ngFor="let country of countryList" [value]="country.idCountry">
                            {{country.name}}</option>
                    </select>
                    <i class="icon-down"></i>
                    <span class="label">Country*</span>
                </label>
                <p *ngIf="idCountry.touched && idCountry.invalid && idCountry.errors['required']" class="error-txt">
                    Kindly select your country</p>
            </div>
            <div class="outline-input-label mb-25 w-48 column-r">
                <label [class.is-focus]="isPincodeSec.value.length!=0">
                    <input (keypress)="checkNumeric($event)" formControlName="postCode" type="number" placeholder=""
                        #isPincodeSec>
                    <span class="label">Pin Code*</span>
                </label>
                <p *ngIf="postCode.touched && postCode.invalid && postCode.errors['required']" class="error-txt">Kindly
                    enter your pincode</p>
                <p *ngIf="postCode.touched && postCode.errors && postCode.errors['invalidPostCode']" class="error-txt">
                    Pincode should contain valid 6 digits</p>
                <p *ngIf="postCode.valid && !isPinCodeApiValid" class="error-txt">Invalid Pincode
                </p>
            </div>
        </div>
        <div class="outline-input-label mb-25">
            <label [class.is-focus]="isState.value!='Select State' && isState.value!=''">
                <select formControlName="idState" #isState disabled>
                    <option *ngFor="let state of stateList" [value]="state.idState">{{state.name}}</option>
                </select>
                <i class="icon-down"></i>
                <span class="label">State*</span>
            </label>
            <p *ngIf="idState.touched && !idState.valid && idState.errors['required']" class="error-txt">Kindly select
                your state</p>
        </div>
        <div class="outline-input-label mb-25">
            <label [class.is-focus]="isCity.value.length!=0">
                <input formControlName="city" type="text" placeholder="" #isCity disabled>
                <span class="label">City*</span>
            </label>
            <p *ngIf="city.touched && city.invalid && city.errors['required']" class="error-txt">Kindly enter your
                city/district/town</p>
            <p *ngIf="city.touched && city.invalid && city.errors['pattern']" class="error-txt">Special characters not
                allowed in city/district/town</p>
        </div>
        <div class="outline-input-label mb-25">
            <label [class.is-focus]="isLandmark.value.length != 0">
                <input formControlName="landmark" type="text" placeholder="" #isLandmark>
                <span class="label">Landmark (Optional)</span>
            </label>
            <p *ngIf="landmark.touched && !landmark.valid && landmark.errors['pattern']" class="error-txt">Special
                Characters are not allowed.</p>
        </div>
        <div class="card mt-10" *ngIf="isShowInvoiceGst">
            <div class="container">
                <label>
                    <input formControlName="isGstInvoice" type="checkbox" name="" checked>
                    <span class="custom-box icon-box"></span>
                    <span class="chk-txt">Need GST compliant invoice for my purchases</span>
                </label>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="fixed-bottom-cta">
            <button [disabled]="addressForm.invalid" type="submit" class="btn primary-full-btn">{{buttonText}}</button>
        </div>
    </form>
</div>

<!-- <div class="login-card">
    <form class="material-form">
        <div class="outline-input-label mb-25">
            <label>
                <input type="tel" numbersOnly maxlength="10" formControlName="phone">
                            <span class="label">Enter Mobile Number</span>
            </label>
        </div>
    </form>
</div> -->