<loader [showLoader]="isReqProcessing"></loader>
<div class="otp_container">
    <div class="stepHeader">
        <h3 class="heading-3">Enter OTP & Continue Shopping</h3>
        <p class="heading-3-txt">Check the OTP received on below {{usernameType == 'e' ? 'email':'mobile number'}}</p>
    </div>
    <div class="material-form" [formGroup]="otpForm">
        <div class="input-field">
            <label [class.is-focus]="username.value.length!=0">
                <input type="text" [formControl]="username" formControlName="username" readonly>
                <span class="label">Mobile Number/Email ID</span>
                <p class="edit-field" (click)="$event.stopPropagation();onEdit()" *ngIf="username.valid">EDIT</p>
            </label>
            <ng-container *ngIf="(isSubmitted) && username.errors != null">
                <p class="error-txt" *ngIf="username.hasError('required')">Please provide Email ID/Mobile Number.</p>
            </ng-container>
        </div>
        <div class="input-field resendOtpField">
            <label [class.is-focus]="otp.value.length!=0">
                <span class="resendOtpTxt" *ngIf="isTicking">Resend OTP in {{timerLabel}}</span>
                <input type="text" formControlName="otp" maxlength="6" inputmode="numeric" autocomplete="one-time-code" [readonly]="isOTPValidated" #otpField /> 
                <span class="label">Enter OTP</span>
                <p class="edit-field" *ngIf="canRequestOTP && !isOTPValidated" (click)="$event.stopPropagation();fetchOTP()">RESEND</p>
                <span *ngIf="!canRequestOTP && !isOTPValidated" class="edit-field disabled">RESEND OTP</span>
                <span *ngIf="isOTPValidated" class="icon-done"></span>
            </label>
            <ng-container *ngIf="invalidOTPMessage || (isSubmitted && otp.errors != null)">
                <p class="error-txt" *ngIf="otp.hasError('required')">Please provide valid OTP.</p>
                <p class="error-txt" *ngIf="otp.hasError('minlength') || otp.hasError('pattern')">OTP must contain 6 digits.
                </p>
                <p class="error-txt" *ngIf="invalidOTPMessage && otp.errors == null">{{invalidOTPMessage}}</p>
            </ng-container>
        </div>
    </div>
    <button class="btn signInbtn" (click)="$event.stopPropagation();authenticate()">CONTINUE</button>
</div>