<ng-container *ngIf="cmsData">
    <ng-container *ngFor="let item of cmsData">
        <div class="row {{ background }} no-margin" [ngSwitch]="item[componentLabel]" *ngIf="item[data]">
            <cms-carausel></cms-carausel>
            <dynamic-image-component *ngIf="item[componentLabel] === 'image_component_two' || item[componentLabel] === 'image_component_six' || item[componentLabel] === 'image_component_four' || item[componentLabel] === 'image_component_three' " [titleData]="item[titleData]" [listOfImgs]="item[data]" [imagePath]="imagePath"></dynamic-image-component>
            <main-banner *ngSwitchCase="'main_banner_component'" [data]="item[data]" [imagePath]="imagePath">
            </main-banner>
            <main-banner *ngSwitchCase="'HomePageFullWidthImage'" [data]="item[data]" [imagePath]="imagePath">
            </main-banner>
            <text *ngSwitchCase="'text_component'" [title]="item[title]" [data]="item[data]"></text>
            <image-text *ngSwitchCase="'image_text_component'" [data]="item[data]" [imagePath]="imagePath">
            </image-text>
            <products-details *ngSwitchCase="'product_details_component'" [listOfProducts]="item[data]"
            [titleData]="item['titleData']" [imagePath]="imagePath"></products-details>
            <small-image *ngSwitchCase="'small_image_component'" [listOfImgs]="item[data]" [imagePath]="imagePath">
            </small-image>
            <full-image *ngSwitchCase="'full_image_component'" [listOfImgs]="item[data]" [imagePath]="imagePath">
            </full-image>
            <similar-articles *ngSwitchCase="'similar_articles_component'" [data]="item[data]" ></similar-articles>
        </div>
</ng-container>

