<section class="purchase-list">
    <ng-container *ngFor="let item of wishlistData;let pIndex=index;">
        <product-card-horizontal-grid-view  [product]="item" 
            [cardFeaturesConfig]='cardFeaturesConfig' [pIndex]="pIndex" >
        </product-card-horizontal-grid-view>     
            <!-- <div class="clearfix">
                <div class="product-img">
                    <img src="{{imagePath}}{{item.productDetail.productBO.productPartDetails[item.productDetail.productBO.partNumber].images[0].links.medium}}"
                        alt="product Image">
                </div>
                <div class="product-description">
                    <div class="p-name">
                        <p class="description-txt f-left"
                            routerLink="/{{item.productDetail.productBO.productPartDetails[item.productDetail.productBO.partNumber].canonicalUrl}}">
                            {{ ((item.productName != null ) && (item.productName.length>50) )? (item.productName | slice:0:50)+'..':(item.productName)}}
                        </p>
                        <i class="icon-dot f-right" (click)="showBox(i)"></i>

                    </div>
                    <p class="price" *ngIf="!item.productDetail.productBO.outOfStock">
                        <span class="after-discount">
                            {{item.productDetail.productBO.productPartDetails[item.productDetail.productBO.partNumber].productPriceQuantity['india'].priceWithoutTax | currency: 'INR' : 'symbol' : '1.0-0'}}
                        </span>

                        <span class="before-discount"
                            *ngIf="item.productDetail.productBO.productPartDetails[item.productDetail.productBO.partNumber].productPriceQuantity['india'].mrp">
                            {{item.productDetail.productBO.productPartDetails[item.productDetail.productBO.partNumber].productPriceQuantity['india'].mrp | currency: 'INR' : 'symbol' : '1.0-0'}}
                        </span>

                        <span class="discount"
                            *ngIf="item.productDetail.productBO.productPartDetails[item.productDetail.productBO.partNumber].productPriceQuantity['india'].mrp">
                            {{discountPrice(item.productDetail.productBO.productPartDetails[item.productDetail.productBO.partNumber].productPriceQuantity['india'].mrp,item.productDetail.productBO.productPartDetails[item.productDetail.productBO.partNumber].productPriceQuantity['india'].priceWithoutTax | mathCeil)}}%
                            Off
                        </span>

                    </p>
                    <div class="cart" *ngIf="!item.productDetail.productBO.outOfStock"
                        (click)="addNow(item.productDetail)"> ADD TO CART</div>
                    <div class="cart grayLabel" *ngIf="item.productDetail.productBO.outOfStock"> OUT OF STOCK</div>
                </div>
            </div> -->    
    </ng-container>
        
    <div class="norder" *ngIf="purchaseLists && purchaseLists.length==0">
        <img src="{{imagePath}}b/I/P/B/d/no-order-image.png" width="200" />

        <div class="noordertext">Your WishList list is empty. Save items you like. Review them anytime and add to cart.
        </div>
        <button [routerLink]="['/']" class="btn startshop">START SHOPPING</button>
    </div>
</section>
<div class="bottom-options open" *ngIf="spp">
    <div class="overlay" (click)="spp =false"></div>
    <div class="content-box" content>
        <ul class="container">
            <li class="remove"
                (click)="removeItemFromPurchaseList(purchaseLists[elementIndex].productDetail.productBO); this.aori(null, purchaseLists[elementIndex].productDetail)">
                Remove from WishList</li>
            <li class="cancel" (click)="spp=false">Cancel </li>
        </ul>
    </div>
</div>