<section class="purchase-list">
    <ng-container *ngFor="let item of wishlistData;let pIndex=index;">
        <div class="pwa-row plp-card-list">
            <div class="pwa-col-12" >
        <product-card-horizontal-list-view  [product]="item" 
            [cardFeaturesConfig]='cardFeaturesConfig' [pIndex]="pIndex" >
        </product-card-horizontal-list-view> 
    </div>
    </div>
    </ng-container>
        
    <div class="norder" *ngIf="purchaseLists && purchaseLists.length==0">
        <img src="{{imagePath}}b/I/P/B/d/no-order-image.png" width="200" />
        <div class="noordertext">Your WishList list is empty. Save items you like. Review them anytime and add to cart.
        </div>
        <button [routerLink]="['/']" class="btn startshop">START SHOPPING</button>
    </div>

</section>
<div class="bottom-options open" *ngIf="spp">
    <div class="overlay" (click)="spp =false"></div>
    <div class="content-box" content>
        <ul class="container">
            <li class="remove"
                (click)="removeItemFromPurchaseList(purchaseLists[elementIndex].productDetail.productBO); this.aori(null, purchaseLists[elementIndex].productDetail)">
                Remove from WishList</li>
            <li class="cancel" (click)="spp=false">Cancel </li>
        </ul>
    </div>
</div>