@import "../../../scss/variables";
.shared-auth-header{
    height: 50px;
    display: flex;
    background: transparent;
    padding: 0px 15px;
    align-items: center;
    .icon-logo {
        font-size: 70px;
        margin-left: 15px;
        color: $logo-color !important;
    }
    .icon-back-arrow{
        font-size: 24px;
    }
    &.white-shared-auth-header{
        .icon-logo {
            color: $white !important;
        }
        .icon-back-arrow{
            color: $white !important;
        } 
    }
}