<ng-container>
    <div class="shared-auth-header" [class.white-shared-auth-header]="isWhiteHeader">
        <i class="icon-back-arrow" *ngIf="overrideBackBtn" (click)="$event.stopPropagation();onBackBtnClick();"></i>
        <i class="icon-back-arrow" *ngIf="!overrideBackBtn" (click)="$event.stopPropagation();navigateBack()"></i>
        <i class="icon-logo" *ngIf="overrideBackBtn" (click)="$event.stopPropagation();onHomepageBtnClick();"></i>
        <i class="icon-logo" *ngIf="!overrideBackBtn" (click)="$event.stopPropagation();navigateToHome(HOME_URL)"></i>
        <button class="btn skip-btn quinary-btn" (click)="onSkipBtnClick$.emit(true)" *ngIf="enableSkipBtn">SKIP NOW</button>
    </div>
</ng-container>