@import "../../../scss/variables";
.shared-auth-header{
    position: relative;
    .skip-btn {
        position: absolute;
        top: 12px;
        z-index: 99;
        right: 20px;
        font-size: 10px;
        background-color: #fae0e1;
        color: #D9232D;
        box-shadow: none;
    }
    height: 50px;
    display: flex;
    background: transparent;
    padding: 0px 15px;
    align-items: center;
    .icon-logo {
        font-size: 70px;
        margin-left: 15px;
        color: $logo-color !important;
    }
    .icon-back-arrow{
        font-size: 24px;
    }
    &.white-shared-auth-header{
        .icon-logo {
            color: $white !important;
        }
        .icon-back-arrow{
            color: $white !important;
        } 
    }
}