@import './../../scss/variables';
@import '../../scss/components/checkbox';
@import '../../scss/components/radio';
@import '../../scss/components/bottom-popup';
@import '../../modules/bottomMenu/bottom-menu.component';

.sort-by {
    text-align: left;
    .container {
        width: 100%;
    }
    label {
        display: block;
        padding: 21px 10px;
        border-top: 1px solid #EFEFF4;
    }
    .heading-3 {
        padding: 20px 10px;
        position: relative;
        i {
            position: absolute;
            right: 15px;
            font-size: 20px;
        }
    }
}
#emailer,
.container,
.other-strip {
    width: 96%;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

.sortByLayout {
    label {
        display: block;
        padding: 15px;
        @extend %clear-fix;
        @extend %custom-radio-checkout;
    }
.custom-cbox label .chk-txt,
.selectable-list label .chk-box .chk-txt {
    float: left;
    margin-left: 10px;
    line-height: 20px;
    width: calc(100% - 38px);
    font-size: 14px;
 }
}