<!-- <div class="bottom-options sort-by" >
    <div class="overlay" (click)="toggleFilter.emit(true)"></div>
    <div class="content-box roundedBox">
            <h3 class="heading-3">Sort By <i class="icon-circle-delete" (click)="toggleFilter.emit(true)"></i></h3>
    </div>
</div> -->
<app-bottom-menu *ngIf="showFilter">
  <div class="overlay" (click)="toggleFilter()"></div>
  <div content class="sort-by roundedBox" id="sortBy {{ _commonService.selectedFilterData['sortBy'] }} ">
    <div class="top-header-bottom-menu">
      <h3 class="heading-3">Sort By</h3>
      <i class="icon-circle-delete" (click)="toggleFilter()"></i>
    </div>
    <div class="sortByLayout">
      <label>
        <span class="chk-box">
          <input class="hidden" type="radio" name="sortBy"
            [checked]="_commonService.selectedFilterData['sortBy'] == 'popularity'"
            (change)="toggleFilter(); _commonService.selectedFilterData['sortBy'] = 'popularity'; _commonService.applyFilter()">
          <span class="custom-box icon-box"></span>
        </span>
        <span class="chk-txt">Popularity</span>
      </label>
  
      <label>
        <span class="chk-box">
          <input class="hidden" type="radio" name="sortBy"
            [checked]="_commonService.selectedFilterData['sortBy'] == 'lowPrice'"
            (change)="toggleFilter();  _commonService.selectedFilterData['sortBy'] = 'lowPrice'; _commonService.applyFilter()">
          <span class="custom-box icon-box"></span>
        </span>
        <span class="chk-txt"> Price - Low To High</span>
      </label>
  
      <label>
        <span class="chk-box">
          <input class="hidden" type="radio" name="sortBy"
            [checked]="_commonService.selectedFilterData['sortBy'] == 'highPrice'"
            (change)="toggleFilter();  _commonService.selectedFilterData['sortBy'] = 'highPrice'; _commonService.applyFilter()">
          <span class="custom-box icon-box"></span>
        </span>
        <span class="chk-txt">Price - High To Low</span>
      </label>
    </div>
  </div>
</app-bottom-menu>