<div class="bottom-options sort-by" id="sortBy {{ _commonService.selectedFilterData['sortBy'] }} ">
    <div class="overlay" (click)="toggleFilter.emit(true)"></div>
    <div class="content-box">
        <div class="container">
            <h3 class="heading-3">Sort By <i class="icon-circle-delete"></i></h3>
            <div class="custom-cbox">
                <label>
            <span class="chk-box">
              <input class="hidden" type="radio" name="sortBy" [checked]="_commonService.selectedFilterData['sortBy'] == 'popularity'" (change)="toggleFilter.emit(true); _commonService.selectedFilterData['sortBy'] = 'popularity'; _commonService.applyFilter()">
              <span class="custom-box icon-box"></span>
            </span>
            <span class="chk-txt">Popularity</span>
          </label>

                <label>
            <span class="chk-box">
              <input class="hidden" type="radio" name="sortBy" [checked]="_commonService.selectedFilterData['sortBy'] == 'lowPrice'" (change)="toggleFilter.emit(true);  _commonService.selectedFilterData['sortBy'] = 'lowPrice'; _commonService.applyFilter()">
              <span class="custom-box icon-box"></span>
            </span>
            <span class="chk-txt">Low To High Price</span>
          </label>

                <label>
            <span class="chk-box">
              <input class="hidden" type="radio" name="sortBy" [checked]="_commonService.selectedFilterData['sortBy'] == 'highPrice'" (change)="toggleFilter.emit(true);  _commonService.selectedFilterData['sortBy'] = 'highPrice'; _commonService.applyFilter()">
              <span class="custom-box icon-box"></span>
            </span>
            <span class="chk-txt">High To Low Price</span>
          </label>

            </div>
        </div>
    </div>
</div>