<div class="bottom-options sort-by" id="sortBy">
    <div class="overlay" (click)="updateParent({sortByOpt : false})"></div>
    <div class="content-box">
      <div class="container">
        <h3 class="heading">SORT BY</h3>
        <div class="custom-cbox">
          <label>
            <span class="chk-box">
              <input class="hidden" type="radio" name="sortBy" [checked]="sortBy == 'popularity'" (change)="updateSortBy('popularity')">
              <span class="custom-box icon-box"></span>
            </span>
            <span class="chk-txt">Popularity</span>
          </label>
  
          <label>
            <span class="chk-box">
              <input class="hidden" type="radio" name="sortBy" [checked]="sortBy == 'lowPrice'" (change)="updateSortBy('lowPrice')">
              <span class="custom-box icon-box"></span>
            </span>
            <span class="chk-txt">Low Price</span>
          </label>
  
          <label>
            <span class="chk-box">
              <input class="hidden" type="radio" name="sortBy" [checked]="sortBy == 'highPrice'" (change)="updateSortBy('highPrice')">
              <span class="custom-box icon-box"></span>
            </span>
            <span class="chk-txt">High Price</span>
          </label>
  
        </div>
      </div>
    </div>
  </div>
  
  <!-- <ul class="f-left inline_list no-margin no-padding hidden-md-down">
    <li class="text-500">SORT BY</li>
    <li class="text-uppercase f-size-13" [ngClass]="{active:sortBy=='popularity'}" (click)="updateSortBy('popularity')">Popularity</li>
    <li class="text-uppercase f-size-13" [ngClass]="{active:sortBy=='lowPrice'}" (click)="updateSortBy('lowPrice')">Low Price</li>
    <li class=" text-uppercase f-size-13" [ngClass]="{active:sortBy=='highPrice'}" (click)="updateSortBy('highPrice')">High Price</li>
</ul>


<select class="pad-tb-5 f-size-13 bg-trans no-border center-block hidden-lg-up block" (change)="updateSortBy(selectedOption.value)" #selectedOption>
  <option class="text-500">SORT BY</option>
  <option class="text-uppercase f-size-13" value="popularity" [selected]="sortBy == 'popularity'">Popularity</option>
  <option class="text-uppercase f-size-13" value="lowPrice" [selected]="sortBy == 'lowPrice'">Low Price</option>
  <option class="text-uppercase f-size-13" value="highPrice" [selected]="sortBy == 'highPrice'">High Price</option>
</select> -->
