.sort-by {
    text-align: left;
    .container {
        width: 100%;
    }
    label {
        display: block;
        padding: 21px 10px;
        border-top: 1px solid #EFEFF4;
    }
    .heading-3 {
        padding: 20px 10px;
        position: relative;
        i {
            position: absolute;
            right: 15px;
            font-size: 20px;
        }
    }
}

.overlay {
    position: fixed;
    left: 0;
    background: rgba(0, 0, 0, .2);
    width: 100%;
    height: 100%;
    top: 0;
}

.bottom-options .overlay {
    z-index: 13;
    top: 120%;
}

.bottom-options.open .overlay {
    top: 0;
}

.bottom-options .content-box {
    position: fixed;
    bottom: -100%;
    left: 0;
    padding: 0px;
    background: #fff;
    z-index: 14;
    width: 100%;
    max-height: 45%;
    overflow: auto;
    &.roundedBox {
        border-radius: 16px 16px 0px 0px;
    }
    &.open {
        .overlay {
            top: 120%;
        }
        &.content-box {
            bottom: 0;
        }
    }
}

#emailer,
.container,
.other-strip {
    width: 96%;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

.custom-cbox label .chk-txt,
.selectable-list label .chk-box .chk-txt {
    float: left;
    margin-left: 10px;
    line-height: 20px;
    width: calc(100% - 38px);
    font-size: 14px;
}