<div class="pwa-row prod-description mb-10">
    <div class="pwa-col-12">
        <h1 class="prod-name heading" *ngIf="productName">{{productName}}</h1>
        <div class="pdp-price-qty-block">
            <div class="price-block" *ngIf="productMrp > 0">
                <ng-container *ngIf="productMrp > 0">

                    <!-- NON BULK PRICE BLOCK STARTS -->
                    <ng-container *ngIf="selectedProductBulkPrice==null">
                        <p class="actual-price" *ngIf="productPrice > 0">
                            <small *ngIf="(+(productPrice-priceWithoutTax) > 0)" >
                                <ng-container *ngIf="+productMrp == +productPrice" >MRP&nbsp;</ng-container>
                                {{productPrice | mathFloor | currency: 'INR' : 'symbol' : '1.0-0'}}&nbsp;(Incl. of all taxes)
                            </small>
                        </p>
                        <p class="actual-price main-price">
                            <strong>{{priceWithoutTax | currency: 'INR' : 'symbol' : '1.0-0'}}
                                <small class="inline-price" *ngIf="(+(productPrice-priceWithoutTax) > 0)" >
                                    <i class="icon-expand"></i>{{ +(productPrice-priceWithoutTax) | currency: 'INR' : 'symbol' : '1.0-0'}} GST
                                </small>
                            </strong>
                            
                        </p>
                        <p class="mrp" *ngIf="(productMrp > productPrice) && (productDiscount != undefined && productDiscount>0 && productMrp > 0)">
                            MRP&nbsp;<small>{{productMrp | currency: 'INR' : 'symbol' : '1.0-0'}}</small>
                            <span >
                             {{ productDiscount | number:'1.0-0'}}% OFF
                            </span>
                        </p>
                    </ng-container> 
                    <!-- NON BULK PRICE BLOCK ENDS -->

                    <!-- BULK PRICE BLOCK STARTS -->
                    <ng-container *ngIf="selectedProductBulkPrice!=null">
                        <p class="actual-price" *ngIf="selectedProductBulkPrice['bulkSellingPrice'] > 0">
                            <small *ngIf="(+(selectedProductBulkPrice['bulkSellingPrice']-selectedProductBulkPrice['bulkSPWithoutTax'])) > 0" >
                                {{selectedProductBulkPrice['bulkSellingPrice'] | mathFloor | currency: 'INR' : 'symbol' : '1.0-0'}}&nbsp;(Incl. of all taxes)
                            </small>
                        </p>
                        <p class="actual-price main-price">
                            <strong>{{selectedProductBulkPrice['bulkSPWithoutTax'] | currency: 'INR' : 'symbol' : '1.0-0'}}</strong>
                            <small class="inline-price" *ngIf="(+(selectedProductBulkPrice['bulkSellingPrice']-selectedProductBulkPrice['bulkSPWithoutTax'])) > 0" >
                                <i class="icon-expand"></i>{{ +(selectedProductBulkPrice['bulkSellingPrice']-selectedProductBulkPrice['bulkSPWithoutTax']) | currency: 'INR' : 'symbol' : '1.0-0' }} GST
                            </small>
                        </p>
                        <p class="mrp" *ngIf="(productMrp > selectedProductBulkPrice['bulkSellingPrice'])">
                            MRP&nbsp;<small>{{productMrp | currency: 'INR' : 'symbol' : '1.0-0'}}</small>
                            <span >
                             {{selectedProductBulkPrice['calculatedDiscount'] | mathFloor | number:'1.0-0'}}% OFF
                            </span>
                        </p>
                    </ng-container> 
                    <!--BULK PRICE BLOCK ENDS -->

                </ng-container>
            </div>
            <!-- <div class="price-block" *ngIf="productMinimmumQuantity > 1 && (productOutOfStock || !productMrp)">
                <p class="actual-price">
                    <small>
                        Min Order Qty :
                        <span>{{productMinimmumQuantity}} Pack</span>
                    </small>
                </p>
             </div> -->

            <div class="qty_section" *ngIf="!productOutOfStock && productMrp > 0">
                <div class="quantity-block">
                    <span class="add-qty qty-block" (click)="updateProductQunatity('DECREMENT')">&#8722;</span>
                    <input id="product_quantity" [formControl]="qunatityFormControl" [value]="productMinimmumQuantity"
                        (focusout)="onChangeCartQuanityValue()" type="text" min="1" maxlength="3" numbersOnly />
                    <span class="remove-qty qty-block" (click)="updateProductQunatity('INCREMENT')">&#43;</span>
                </div>
                <div class="quan-details" *ngIf="productMinimmumQuantity>1">
                    <p>Qty Per Pack :
                        <span>{{priceQuantityCountry['packageUnit']}}</span>
                    </p>
                    <p>Min Order Qty :
                        <span>{{productMinimmumQuantity}} Pack</span>
                    </p>
                </div>
            </div>

        </div>
        <div class="prod-inner-desc" (click)="scrollToResults('reviewSection',-30)">
            <span class="rating-box" *ngIf="starsCount > 0">{{starsCount | number : '1.1-1'}}
                <i class="icon-rating-star"></i>
            </span>
            <div class="prod-status">
                <!-- <h4 class="status" *ngIf="!productOutOfStock && productMrp > 0">IN STOCK</h4> -->
                <p class="prod-status-right">
                    <small class="review" (click)="scrollToResults('reviewSection',-30)"
                        *ngIf="rawReviewsData?.reviewList?.length > 0"> {{rawReviewsData.reviewList.length}}
                        Reviews
                    </small>
                </p>
            </div>
        </div>
        <!--recently bought product section -->
        <div class="pwa-inline-tooltip" *ngIf="rawProductCountMessage">
            <i class="icon-trending"></i>
            <span class="pwa-tooltip-text">>{{rawProductCountMessage}}</span>
        </div>
    </div>
</div>