 //product-description.scss
 @import "../../scss/variables";
 @import "../../scss/quantity.scss";
 @import "../../scss/components/tooltip.scss";
 @import "../../scss/product-description.scss";
 

.image-rotate-section{
    border: 1px solid var(--bleu-de-france);
    padding: 3px 8px;
    display: inline-flex;
    align-items: center;
    border-radius: 4px;
    position: absolute;
    top: -27px;
    right: 47px;
    p{
        font-size: 14px;
        font-weight: bold;
        color: var(--bleu-de-france);
        margin-right: 6px;
        line-height: 17px;
    }
}
