.menubar-horizontal-section{
    background: #fff;
    padding: 10px 15px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px; 
    display: flex;
    justify-content: space-between;
    box-shadow: 0 5px 15px;
    .menu-icon-txt{
        padding: 5px;
        text-align: center;
        color: var(--silver);
        i{
            font-size: 22px;
        }
        p{
            font-size: 9px;
            padding-top: 4px;
        }
        &.menu-selected{
            color: var(--primary);
        }
    }
}