@import "../../scss/variables";
.menubar-horizontal-container {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 12;
    display: block;
    .menubar-horizontal-section {
        background: var(--white);
        padding: 10px 15px;
        border-top-left-radius: $border-radius-16;
        border-top-right-radius: $border-radius-16;
        display: flex;
        justify-content: space-between;
        box-shadow: 0px -3px 8px 0px rgba(0,0,0, .1);

        .menu-icon-txt {
            padding: 0 5px;
            text-align: center;
            color: var(--onyx-black);

            i {
                font-size: $extra-large-3-font;
            }
            span{
                width: 22px;
                height: 22px;
                border-radius: 50%;
                background-color: var(--white);
                display: inline-flex;
                vertical-align: text-bottom;
                color: var(--onyx-black);
                border: 2px solid var(--onyx-black);
                align-items: center;
                justify-content: center;
                margin-bottom: 3px;
                font-weight: bold;
                margin-top: 2px;
            }

            p {
                font-size: 10px;
                font-weight: bold;
                padding-top: 4px;
            }

            &.menu-selected {
                color: var(--primary);
            }
        }
        .search-container{
            position: absolute;
            transform: translate(-50%, -50%);
            top: 40%;
            background:#F5F5F5;
            border-radius: 50%;
            box-shadow: 0px 0px 5px 0px rgba(0,0,0, .1);
            .search-inner-sec{
                background: #fff;
                margin: 3px;
                padding: 10px;
                border-radius: 50%;
                height: 58px;
                width: 58px;
                .menu-icon-txt{
                    i{
                        font-size: 28px;
                    }
                }
            }
        }
    }
}