<!-- homepage menubar -->
<section>
  <div class="menubar-horizontal-section">
      <div class="menu-icon-txt menu-selected">
          <i class="icon-home2"></i>
          <p>Home</p>
      </div>
      <!-- <div class="menu-icon-txt">
          <i class="icon-profile"></i>
          <p>Log-In</p>
      </div> -->
      <div class="menu-icon-txt">
          <i class="icon-profile"></i>
          <p>Profile</p>
      </div>
      <div class="menu-icon-txt">
          <i class="icon-search"></i>
          <p>Search</p>
      </div>
      <div class="menu-icon-txt">
          <i class="icon-my-orders"></i>
          <p>Orders</p>
      </div>
      <div class="menu-icon-txt">
          <i class="icon-cart1"></i>
          <p>My Cart</p>
      </div>
  </div>
</section>