@import "../../scss/variables";

/*widget css*/
.widget-container {
    display: flex;
    flex-flow: column wrap;
    margin-top: 10px;

    .widget-items {
        display: flex;
        background: #fff;
        border-bottom: 1px solid #efeff4;
        padding: 20px 15px;

        &:last-child {
            border-bottom: 0;
        }

        &>i {
            margin-left: auto;
            display: flex;
            align-items: center;
            color: #000;
            font-size: $large-font;
        }

        p {
            color: #303030;
            font-size: $large-font;
            font-weight: 500;
            line-height: 19px;
            font-weight: bold;
            padding-bottom: 5px;
        }

        .explore-now {
            color: var(--bleu-de-france);
            font-size: $medium-font;
            font-weight: bold;
            vertical-align: bottom;
        }

        .content-Wrap {
            display: flex;
            flex-direction: column;
            flex: 1;
        }
    }
}