<section class="widget-container pwa-row pad-0" *ngIf="productCategoryDetails">
    <div class="pwa-col-12">
        <a (click)="$event.preventDefault();sendWidgetTracking('category'); commonService.setSectionClickInformation('pdp_widget', 'listing'); commonService.navigateTo('/'+productCategoryDetails['categoryLink'], true)"
            [href]="[baseDomain+'/'+productCategoryDetails['categoryLink']]" class="widget-items">
            <span class="content-wrap">
                <p>More from {{productCategoryDetails['categoryName']}}</p>
                <span class="explore-now">Explore Now</span>
            </span>
            <i class="icon-next"></i>
        </a>
        <a (click)="$event.preventDefault();sendWidgetTracking('brand + category'); commonService.setSectionClickInformation('pdp_widget', 'listing'); commonService.navigateTo('/'+productBrandCategoryUrl, true);$event.preventDefault()"
            [href]="[baseDomain+'/'+productBrandCategoryUrl]" class="widget-items">
            <span class="content-wrap">
                <p>More from {{productBrandDetails ? productBrandDetails['brandName'] : ''}}
                    {{productCategoryDetails ? productCategoryDetails['categoryName'] : ''}}</p>
                <span class="explore-now">Explore Now</span>
            </span>
            <i class="icon-next"></i>
        </a>
    </div>
</section>