<section class="widget-container pwa-row pad-0 mt-10" *ngIf="productCategoryDetails">
    <div class="pwa-col-12">
        <a (click)="$event.preventDefault();sendWidgetTracking('category'); commonService.setSectionClickInformation('pdp_widget', 'listing'); commonService.navigateTo('/'+productCategoryDetails['categoryLink'], true)"
            [href]="[baseDomain+'/'+productCategoryDetails['categoryLink']]" class="widget-items">
            <div class="content-wrap">
                <p>{{productStaticData.more_from.replace('___categoryName___',productCategoryDetails['categoryName'])}}</p>
                <span class="explore-now">{{productStaticData.explore_now}}</span>
            </div>
            <i class="icon-next"></i>
        </a>
        <a (click)="$event.preventDefault();sendWidgetTracking('brand + category'); commonService.setSectionClickInformation('pdp_widget', 'listing'); commonService.navigateTo('/'+productBrandCategoryUrl, true);$event.preventDefault()"
        More from   [href]="[baseDomain+'/'+productBrandCategoryUrl]" class="widget-items">
            <div class="content-wrap">
                <p>
                    {{productStaticData.more_from_brand
                    .replace('___categoryName___',productCategoryDetails ? productCategoryDetails['categoryName'] : '')
                    .replace('___brandName___',productBrandDetails ? productBrandDetails['brandName'] : '')
                    }} 
                   </p>
                <span class="explore-now">{{productStaticData.explore_now}}</span>
            </div>
            <i class="icon-next"></i>
        </a>
    </div>
</section>