<section [debounceTime]="200" observeVisibility (visible)="onVisiblePastOrders($event)">
    <ng-container id="past-orders" class="Bestseller card similar-prod" *ngIf="pageDisplay">
        <div class="upper-view-all-sec">
            <div class="upper-view-all-sec-left">
                <h4>Buy It Again</h4>
            </div>
        </div>
        <div class="vertical-scroll-container">
            <div class="inner-scroll-container" [style.width.px]="productList.length * 165">
                <ng-container *ngFor="let product of productList;let pIndex=index">
                    <product-horizontal-card [section]="'past-orders'" [product]="product" [cardMetaInfo]='cardMetaInfo'
                        [cardFeaturesConfig]='cardFeaturesConfig' [pIndex]="pIndex" [enableTracking]="true"
                        [analytics]="analytics">
                    </product-horizontal-card>
                </ng-container>
            </div>
        </div>
    </ng-container>
</section>