<div class="signUpFormContainer">
    <div class="stepHeader">        
        <p class="heading-3-txt">Please enter your Mobile Number/Email ID to proceed.</p>
    </div>

    <div>
        <div class="material-form" [formGroup]="loginForm">
            <div class="input-field" formGroupName="identifierForm">
                <label [class.is-focus]="identifierFormControl.identifier.value && identifierFormControl.identifier.value.length!=0">
                        <input type="text" [readonly]="isIdentifierVerified" formControlName="identifier">
                        <span class="label">Mobile Number/Email Id*</span>
                        <p class="edit-field" *ngIf="isIdentifierVerified" (click)="resetForm()">
                            EDIT
                        </p>
                        <ng-container
                            *ngIf="isSubmitted && identifierFormControl['identifier'].errors != null">
                            <p class="error-txt">{{getErrors(identifierFormControl.identifier.errors)}}</p>
                        </ng-container>
                </label>
            </div>
            <div class="input-field" formGroupName="phoneFrom" *ngIf="isIdentifierVerified && (isNewUser == true) && (identifierType == IDENTIFIER.EMAIL)">
                <label [class.is-focus]="phoneFromControl.phone.value && phoneFromControl.phone.value.length!=0">
                        <input type="text" class="input-password" formControlName="phone">
                        <span class="label">Mobile Number</span>
                        <ng-container
                            *ngIf="isSubmitted && isSignUpSubmitted && phoneFromControl['phone'].errors != null && phoneFromControl['phone'].errors.required == true ">
                            <p class="error-txt">Please provide phone number</p>
                        </ng-container>
                        <ng-container
                            *ngIf="isSubmitted && isSignUpSubmitted && phoneFromControl['phone'].errors != null && !phoneFromControl['phone'].errors.required  && phoneFromControl['phone'].errors.invalidPhone == true ">
                            <p class="error-txt">Please provide valid phone number</p>
                        </ng-container>
                    </label>
            </div>
            <div class="input-field" formGroupName="passwordFrom" *ngIf="isIdentifierVerified && (isNewUser === false)">
                <label [class.is-focus]="passwordFromControl.password.value && passwordFromControl.password.value.length!=0">
                        <input type="password" class="input-password" formControlName="password">
                        <span class="label">Password*</span>
                        <p class="edit-field" (click)="forgotPassword()" >
                            FORGOT PASSWORD?
                        </p>
                        <ng-container *ngIf="isSubmitted && isSignInSubmitted && passwordFromControl['password'].errors != null">
                            <p class="error-txt" *ngIf="passwordFromControl['password'].errors.required">Please provide password</p>
                            <p class="error-txt" *ngIf="passwordFromControl['password'].errors.minlength">Password should be of min. 8 characters</p>
                        </ng-container>
                </label>
            </div>
            <button class="btn signInbtn" type="button" (click)="submit()">
                    CONTINUE
                </button>
            <ng-container *ngIf="isIdentifierVerified && (isNewUser === false)">
                <p class="or_seperator">Or</p>
                <button class="btn otulineButton" type="button" (click)="otpLogin()">
                        REQUEST OTP
                </button>
            </ng-container>
        </div>
        <div class="clearfix socialContainer ">
            <div class="login-seperator-text "> <span>Continue with Social Media</span></div>
            <div class="clearfix ">
                <!-- <social-login class="o-hidden" (slWorking$)="slWorking($event)"></social-login> -->
            </div>
        </div>
    </div>
</div>