@import '../../scss/variables';

.cart-errors{
    border-top:1px solid #F5681E;
    border-bottom:1px solid #F5681E;
    background:$cart-errors-bg;
    width:100%;
    padding: 0px 5px 10px;
    margin-top:10px;
    // margin:10px auto;
    // box-shadow: 0pt 1pt 1pt #00000026;
    .panel-head{
      .titleError{
        color:$txt-color;
        padding:10px 15px 5px 10px;
        font-size:$large-font;
      }
     }
     .panel-body{
      padding:0px 20px;
      ul{
        list-style:outside;
        li{
          margin:8px 0px;
          line-height:18px;
        }
      }
     }
     .prod-name{
       color:#278BED;
       font-weight:500;
     }
  }
  .unservicable{
    @extend %clear-fix; 
    .prod-name{
      float: left;
      width: calc(100% - 100px);
      color:$txt-color;
      font-weight:400;
    }
    .view-btn{
      float: right;
    }
  }
  .view-btn{
    background:$white;
    padding:5px 8px;
    display:inline-block;
    font-size:$medium-font;
    border-radius:3px;
    color:#278BED;
    font-weight:bold;
  }