@import '../../../scss/variables';
@import '../payment-continue-btn.scss';
@import '../../../scss/layout/forms';
.upiBlockInner{
    .info-txt{
        font-size:$small-font;
        color:var(--spanish-gray);
        margin-bottom:10px;
      }
    .outline-input-label{
        margin-bottom:5px;
    }  
}
.upi-block {
    .custom-cbox {
        label {
            padding: 10px 15px;
            border-bottom: 1px solid $border-color;
            &:last-child {
                border-bottom: 0;
            }
            img {
                width: 130px;
            }
            .custom-box {
                margin-top: 10px;
            }
        }
    }
}

.upi-box {
    width: 145px;
    border: 1px solid #d3d3d3;
    padding: 0px;
    height: 60px;
    line-height: 56px;
    position: relative;
    padding-left: 32px;
    .upi-option {
        position: absolute;
        width: 100%;
        top: 0;
        bottom: 0;
        left: -2px;
        margin: 0;
        .upi-input {
            display: inline-block !important;
            width: 15px;
            height: 15px;
            opacity: 0;
        }
        .upi-label {
            // background: white;
            width: 23px;
            display: block;
            position: absolute;
            left: 10px;
            top: 0px;
            &:before {
                font-size: 18px !important;
                color: #ddd;
                margin-right: 5px !important;
            }
        }
        .upi-input+.upi-label:before {
            color: #ddd;
        }
        .upi-input.checked+.upi-label:before {
            color: #36bd40;
        }
    }
    img {
        max-width: 100%;
        width: 50px;
    }
}

.fillUpibox {
    padding: 25px 0;
    &>span {
        font-size: 13px;
        margin-bottom: 3px;
        display: block;
    }
    .upiInput {
        position: relative;
        width: 240px;
        input {
            height: 40px;
            width: 100%;
            border: 1px solid #d6d6d6;
            border-radius: 3px;
            padding: 0 40px 0 10px;
        }
        .clearupi {
            color: #fff;
            width: 20px;
            height: 20px;
            background: #53534F;
            border-radius: 50%;
            display: block;
            position: absolute;
            right: 10px;
            cursor: pointer;
            top: 9px;
            text-align: center;
            line-height: 20px;
            i {
                color: #fff;
                -webkit-text-stroke: 1px;
                -webkit-text-stroke-color: #53534F;
            }
        }
    }
}

.error {
    color: red;
    padding-top: 5px;
}

.upiBlockInner {
    padding-bottom: 15px;
}

.paytm-upi-img {
    margin-top: 20px;
    img {
        width: 130px;
    }
}