<section class="upiBlockInner">
    <div id="upi_block" class="upi-block continer">
            <form [formGroup]="upiForm" (ngSubmit)="paytmApicall(upiForm.value)" class="form-horizontal">
                    <div class="material-form" *ngIf="upiChecked">
                        <div class="outline-input-label">
                            <label [class.is-focus]="upicode.value.length!=0">
                                <input placeholder="" type="text" class="upicode" formControlName="upi" [value]=""
                                    (keyup)="resetLoginError($event)" #upicode placeholder="">
                                    <span class="label">
                                        Please enter your UPI ID
                                    </span>
                            </label>
                            <span *ngIf="upicode?.value?.length!=''" class="clearupi" (click)="upicode.value=''"><i
                                    class="fa fa-times"></i></span>
                            <p *ngIf="upiForm.controls['upi'].touched && upiForm.controls['upi'].errors?.required"
                                class="text-red error">Kindly enter upi</p>
                            <p *ngIf="upiForm.controls['upi'].touched && upiForm.controls['upi'].errors?.pattern"
                                class="text-red error">Enter valid upi</p>
                            <p *ngIf="upiError && upicode.value.length > 0 && !validUpi" class="text-red error">
                                {{upiError.message}}</p>
                        </div>
                        <p class="info-txt">Ex: mobileNumber@upi</p>
                    </div>
                <div class="paytm-upi-img">
                    <img src="{{imagePath+imageFolder}}/Mobile.png">
                </div>
                <div *ngIf="prepaidDiscount>0" class="o-hidden text-black pad-t-15">Prepaid Discount : ₹
                    {{prepaidDiscount | number : '1.2-2'}}</div>

                <div class="continue-button">
                    <div class="container">
                        <p class="total-mount" *ngIf="totalPayableAmount>0">
                            <span class="payable-amnt">Payable Amount</span> ₹ {{totalPayableAmount | mathCeil | number
                            : '1.2-2'}}
                        </p>
                        <button [disabled]="!upiForm.valid" type="submit" class="btn">PAY</button>
                    </div>
                </div>
            </form>
        </div>
</section>
<paytm-upi-form *ngIf="isValid==true" [data]="upiData"></paytm-upi-form>