<div id="return_policy" class="faq_text_wrap">
    <h2 class="text-500 f-size-18 mar-tb-20">Customer Return Policy</h2>
    <p class="text-500">Moglix is happy to serve customer and fulfil their requirements. If customer receives any
        product which fulfils the below
        mentioned criterion, customer is eligible for return / exchange:
    </p>
    <ul class="no-list-style no-padding pad-l-20 pad-b-10 points_text">
        <li>Product is used/altered/poor in quality/Defective product.</li>
        <li>Physical / in-transit damage to the product.</li>
        <li>Branded product received seal opened.</li>
        <li>Empty packet/some items or accessories are missing.</li>
        <li>Significant difference found in Moglix website as comparison to product.</li>
    </ul>
    <h4 class="caret_style f-size-18 mar-tb-10">Customer is not eligible for return/exchange if</h4>
    <ul class="no-list-style  no-padding pad-l-20 pad-b-10 points_text">
        <li>Its “No longer needed”.</li>
        <li>Customer tried to handle the industrial product and unable to use it which promotes any tear/damage.
        </li>
        <li>Made to Product(on demand) will not be returned.</li>
    </ul>
    <h4 class="caret_style f-size-18 mar-tb-10">Guidelines for Return/Exchange:</h4>
    <ol class=" no-padding pad-l-20 pad-b-10 points_text" type="i">
        <li>For Products purchased on Moglix, in the event the customer has any concern with the Product, the customer
            shall
            inform to Moglix Customer care within 48 Hours of product delivery.
        </li>
        <li>Customer must share video with Customer care team while opening the package in case of Empty
            Package/Quantity issue.
        </li>
        <li>If customer is sharing photographs of product it must be four angle photograph (Videography will be highly
            appreciated).
        </li>
        <li>In case of Industrial goods return will be accepted only in case of wrong, defective, damaged product.
        </li>
        <li>In Case of Faulty electronics product, customer need to contact nearest service centre for repair/
            replacement.
        </li>
        <li>All products must be in new and unopened condition with all the original packing, tags, inbox literature,
            warranty/
            guarantee card, freebies and accessories including keys, straps and locks intact.
        </li>
        <li>Moglix shall endeavour to process the customer refund within 7 (Seven) working days from the date of request
            made
            to the Customer Care team.
        </li>
    </ol>
    <h4 class="caret_style f-size-18 mar-tb-10">Below Mentioned products are non-returnable:</h4>
    <table class="mar-b-20">
        <tbody>
            <tr>
                <td>Category</td>
                <td>Product Type</td>
            </tr>
            <tr>
                <td>Automotive</td>
                <td>Lubricants, greases, oils, waxes, polishes &amp; other liquid.</td>
            </tr>
            <tr>
                <td>Medical or Lab Supplies</td>
                <td>No return policy against any issue.</td>
            </tr>
            <tr>
                <td>Tapes, Adhesives, Sealants, Welding, Paints &amp; Coatings, Lubricants, Coolants &amp; Industrial
                    Oils
                </td>
                <td>Adhesives (all liquids), hazardous materials and lubricants.</td>
            </tr>
            <tr>
                <td>Abrasives</td>
                <td>Abrasive Powders &amp; Pastes no return.</td>
            </tr>
            <tr>
                <td>Cleaning Equipment</td>
                <td>Floor Polishers / Cleaning Sprays</td>
            </tr>
            <tr>
                <td>Electricals</td>
                <td>Refunds will not be initiated on electrical / Electronic products / large appliances.</td>
            </tr>
            <tr>
                <td>Lighting and Luminaries</td>
                <td>All type of Lights is non-returnable.</td>
            </tr>
            <tr>
                <td>Measurement &amp; Testing</td>
                <td>Calibration related issues should be handled by Supplier / Manufacturer directly.</td>
            </tr>
        </tbody>
    </table>
    <p>Note: Moglix is always happy to help customer if customer fails to understand the working of product, Customer
        can contact.
        Moglix customer care team either through email / phone. If customer received defective product after 1st time
        exchange,
        Moglix will connect customer with Supplier/Brand to troubleshoot the issue.</p>
    <h4 class="caret_style f-size-18 mar-tb-10">Refund Policy</h4>
    <p class="text-500">The refunds in accordance with the above guidelines shall be as per the following:</p>
    <ol class=" no-padding pad-l-20 points_text" type="i">
        <li>In case of pre-paid order, the refund will be processed through payment gateway or any other online banking
            / electronic
            funds transfer system approved by Reserve Bank India and will reflect in same account of customer buying the
            Product from where customer has paid the transaction amount.
        </li>
        <li>For cash on delivery transactions, refunds, if any, will be made via demand draft/NEFT/Cheque etc. in favour
            of the
            customer buying the Products, as per the details provided by the customer.
        </li>
        <li>The customer buying the Products will not be charged for the pickup, and no other deductions shall be made
            on refunds
            confirmed to the customer buying the Product.
        </li>
    </ol>
    <p class="">Refunds / Returns shall NOT be allowed in the following cases:</p>
    <ol class="pad-b-30  no-padding pad-l-20 points_text" type="i">
        <li>Return request is made outside the specified time frame of 48 (Forty-Eight) hours as specified above.
        </li>
        <li>In case where price tags, labels, original packing, freebies and accessories, box are missing.</li>
        <li>If the Product is damaged by the customer, in any manner as may be determined by Moglix at its sole
            discretion.
        </li>
        <li>If Product has been used by the customer.</li>
        <li>If Product sold as combo/sets cannot be returned as individual Product.</li>
    </ol>
</div>