@import '../../scss//variables.scss';
@import '../../scss/root';

.hide{
  display: none;
}
.show{
  display: block;
}

.ico-expand{
  .icon-expand{
    &:before{
      content: "\e919";
    }
    
  }
}


.faqfixedhead{
  padding-top:140px;
  position: relative;
  .faq-search{
    background: var(--primary);
    padding-top: 35px !important;
    text-align: center;
    position: fixed;
    top: 80px;
    z-index: 1;
    width: $fullwidth;
    .searchfield{
      margin-bottom: -24px;
    }
  }
  .faq-search-container{
    padding:0 15px;
    margin-top: -30px;
    margin-bottom: 30px;
    .help-txt{
      font-size: $extra-large-font;
      color: var(--white);
      font-weight: $font-bold;
      padding-bottom: 22px;
    }
    .searchfield{
      box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
      background: var(--white);
      position: relative;
      border-radius:$border-radius-8;
      overflow: hidden;
      border: 1px solid var(--silver);
      input{
        height: 45px;
        border: none;
        width: $fullwidth;
        padding: 10px 70px 15px 15px;
        font-size:$large-font;
      }
      button{
        width: 43px;
        right: 0;
        top: 0;
        position: absolute;
        bottom: 0;
        font-size: 16px;
        background: var(--white);
        border: none;
        z-index: 1;
        cursor: pointer;
        i{
          font-size:$extra-large-font;
          color: var(--primary);
        }
      }
      .crosstext{
        position: absolute;
        right: 50px;
        top: 14px;
        i{
          font-size:$medium-font;
        }
      }
    }
    .searchresult{
      position: absolute;
      width: calc(100% - 35px);
      background: var(--white);
      z-index: 1;
      max-height:480px;
      overflow-y: auto;
      box-shadow: 0 3px 7px #999;
      left: 0px;
      right:0;
      margin:0 auto;
      top: 124px;
      text-align: left;
      border-radius:$border-radius-8;
      li{
        a{
          display: block;
          padding: 10px;
          border-bottom: 1px solid #ddd;
          font-size: $large-font;
          &::first-letter{
            text-transform: capitalize;
          }
        }
      }
    }
  }
  .fq-wrap{
    margin-bottom:15px;
    padding-top: 0px;
    &.card{
      border:none;
    }
    .faq-inner-wrap{
      background: var(--white);
      border-radius: 8px;
    
      .faq-top-border{
        border-top-left-radius: $border-radius-8;
        border-top-right-radius: $border-radius-8;
      }
      .faq-bottom-border{
        border-bottom-left-radius: $border-radius-8;
        border-bottom-right-radius: $border-radius-8;
      }
      .collapsed-content{
        background: #fff;
        .questwrap{
          border-top:1px solid var(--ghost-white);
          padding: 15px 15px;
          &:first-child{
            border:none;
          }
          h4{
            font-size:$large-font;
            margin-bottom:10px;
            line-height: $medium-line-height;
            &:first-child{
              border-top:none;
              margin-top:0px;
            }
            &::first-letter{
              text-transform: capitalize;
            }
          }
          p{
            font-size:$medium-font;
            line-height:$medium-line-height;
          }
          .list-information{
            font-size:$medium-font;
            margin-top: 10px;
            line-height: $medium-line-height;
            padding-left: 8px;
            li{
              padding-bottom: 5px;
            }
          }
        }
        table{
          border:1px solid #efefef;
          border-collapse: collapse;
          margin-bottom:10px;
          th{
            padding:5px 10px;
            font-weight:500;
            text-align: left;
            border-bottom:1px solid #efefef;
            &:first-child{
              border-right:1px solid #efefef;
            }
          }
          td{
            padding:5px 10px;
            &:first-child{
              border-right:1px solid #efefef;
            }
          }
        }
      }
    } 
  }
  .black-overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top:0;
    background: rgba(0,0,0,0.7);
  }
}
.fqhead{
  background: var(--white);
  box-shadow:0px 1px 6px rgba(0, 0, 0, 0.2);
  padding: 18px 15px;
  position: relative;
  font-size:$extra-large-font;
  font-weight:$font-normal;
  color:var(--onyx-black);
  display: flex;
  justify-content: space-between;
  & > span{
    i.icon-collaps{
      visibility:hidden;
      width:0;
      height: 0;        
    }
  }
  &.active{
    span{
      i.icon-expand{
        visibility:hidden;
        width:0;
        height: 0; 
      }
      i.icon-collaps{
        visibility:visible;
        width:auto;
        height: auto; 
      }
    }
  }
}
.hidden-sm-down{display: none;}