<div id="order_tracking" class="faq_text_wrap">
    <h2 class="text-500 f-size-18 mar-tb-20">Order Tracking</h2>
    <ul class="no-list-style no-padding caret_style">
        <li class="text-500">How do I place an order? </li>
    </ul>

    <ul class="pad-l-20 points_text">
        <li>Ordering at Moglix is easy. Placing your first order at Moglix? Please follow the below mentioned steps:
        </li>
        <li>Just select the items you want to shop.</li>
        <li>Enter your shipping address</li>
        <li>Enter your payment information and you are home.</li>
        <li>If you need any assistance give us a call. We would love to take your order over phone. You may contact us on +91
            8448 233 444 to book your order on COD mode. {{ CONSTANTS.CUSTOMER_CARE_TIME.call_timing_text }}
        </li>
    </ul>

    <ul class="no-list-style no-padding caret_style">
        <li class="text-500">Does Moglix sell the products?</li>
    </ul>

    <p class="">All the products on this website are sold by the suppliers registered with Moglix directly to the customers. Moglix provides
        only the marketplace services to its customers and suppliers. Moglix protects the interests of its buyers under buyer
        protection policy. More more details, please read our FAQs.</p>


    <ul class="no-list-style no-padding caret_style">
        <li class="text-500">How will my order be delivered to me?
        </li>
    </ul>

    <p class="">Your order would be delivered through reputed courier companies at your doorstep. Bulk Orders (greater than 10) & heavy
        items are shipped through surface & may take more than 10 days for delivery.</p>

    <ul class="no-list-style no-padding caret_style">
        <li class="text-500">How will I know if order is placed successfully? </li>
    </ul>

    <p class="">Once your Order is successfully placed, you will receive a confirmation over email and text message from Moglix.com.
        This mail will have all the details related to your order. Order details can also be viewed at My Account > Order
        history, if you have placed the order through your log in id.
    </p>

    <ul class="no-list-style no-padding caret_style">
        <li class="text-500">What is the standard delivery time?
        </li>
    </ul>

    <p class="">Standard delivery time is 2-4 days, however for some products delivery time may vary depending upon the availability
        or depending upon the size of the order.
    </p>

    <ul class="no-list-style no-padding caret_style">
        <li class="text-500">Why is standard delivery time different for some products?</li>
    </ul>

    <p class="">Time taken to deliver a product depends upon the below mentioned parameters:</p>

    <ul class="pad-l-20 points_text">
        <li>Stock availability</li>
        <li>Size of the order</li>
        <li>Shipping Address</li>
        <li>Size of the product</li>
        <li>Make to Order products</li>
    </ul>
    <ul class="no-list-style no-padding caret_style">
        <li class="text-500">Will I be informed once my order is processed?
        </li>
    </ul>

    <p class="">Once your order is confirmed and processed, you will receive a shipment notification via E-mail/SMS advising you on the
        estimated date of delivery. You can also TRACK ORDER online. Please note tracking information may not be available
        for all carriers.</p>

    <ul class="no-list-style no-padding caret_style">
        <li class="text-500">I got a confirmation call for my order. Why is that?
        </li>
    </ul>

    <p class="">You receive a confirmation call for your order to verify if there isn't any change with your order.</p>
   
    <ul class="no-list-style no-padding caret_style">
        <li class="text-500">Do you take orders over phone?
        </li>
    </ul>

    <p class="">Yes. We do take orders over phone. You may contact us on +91 8448 233 444 to book your order on COD mode. {{CONSTANTS.CUSTOMER_CARE_TIME.call_timing_text}} </p>
    <ul class="no-list-style no-padding caret_style">
        <li class="text-500">How do I check the status of my order?
        </li>
    </ul>
    <p class="">Our order status is updated to you via emails and sms at every step. Once your order is placed you would receive an sms
        and an email with your order details. Once your order is dispatched you receive an sms with your tracking details.
        Please check your spam and old sms-es for the status of your order, if you don't see any updates. In case of any
        unforeseen events which delay your order you would receive a special update from our end.</p>
    <ul class="no-list-style no-padding caret_style">
        <li class="text-500">Why have I not received my order yet?
        </li>
    </ul>

    <p class="">Due to unforeseen circumstances, it is possible that your order might get delayed. We will send you an E-mail/SMS informing
        you about the delay along with the new expected delivery date. Visit the MY ORDERS page in your account and click
        on TRACK ORDER to get real time status of your order.
    </p>
    <ul class="no-list-style no-padding caret_style">
        <li class="text-500">Can I place a bulk order for an item(s)?
        </li>
    </ul>

    <p class="">Yes we accept bulk orders, please place an order and we will call you on the number provided by you.</p>
    
    <ul class="no-list-style no-padding caret_style">
        <li class="text-500">Can I add an item to my order after I have placed my order?
        </li>
    </ul>

    <p class="">Unfortunately no, however you can simply place another order.</p>
    
    <ul class="no-list-style no-padding caret_style">
        <li class="text-500">I tried placing order using my credit card but it isn't working. Can you help me place an order?
        </li>
    </ul>

    <p class="">Yes if your debit/credit card isn't working we can always take your order over phone. Do call us on +91 8448 233 444. {{CONSTANTS.CUSTOMER_CARE_TIME.call_timing_text}}</p>

    <ul class="no-list-style no-padding caret_style">
        <li class="text-500">I tried placing my order using my debit card/credit card/Net Banking but the order was not successful. What happens
            to the money deducted from the card?
        </li>
    </ul>

    <p class="">Please check your bank/credit card account to first ensure if your account has been debited. If your account has been
        debited after a payment failure, it is normally rolled back by banks within 7 business days. The time taken can vary
        from bank to bank and we unfortunately won't be able to expedite this. Please check with your bank for more details.
        If your bank informs you otherwise please get back to us. If the money has been credited to our account we would
        initiate refund within 3 days of your request. Receipt of the refund would however depend on the mode of payment
        mode chosen by you. The expected timelines are as below:
    </p>

    <ul class="no-padding pad-l-20 no-list-style point_text">
        <li>Net Banking 5-7 business days</li>
        <li>Debit Card 5-7 business days</li>
        <li>Credit Card 7-21 business days</li>
    </ul>

    <ul class="no-list-style no-padding caret_style">
        <li class="text-500">I am placing an order as a gift to my loved one. Will she receive the price tags and invoice?
        </li>
    </ul>

    <p class="">Yes. Because of the prevalent regulations we send the invoice along with the product. Tags are also left intact so that
        a product can be returned if your loved one faces any problem with it.
    </p>
    <ul class="no-list-style no-padding caret_style">
        <li class="text-500">I am placing an order as a gift to my loved one. Will she receive the price tags and invoice?
        </li>
    </ul>

    <p class="">Yes. Because of the prevalent regulations we send the invoice along with the product. Tags are also left intact so that
        a product can be returned if your loved one faces any problem with it.
    </p>

    <ul class="no-list-style no-padding caret_style">
        <li class="text-500">What is the difference between shipping and delivery?
        </li>
    </ul>

    <p class="">Shipping refers to packing and dispatching of your order. While placing an order, you will find a shipping timeline on
        the products displayed on the website (e.g. dispatched within 5 days). This refers to the number of working days
        it will take to dispatch the product from our end. The delivery may take 1-3 days depending on the address specified
        for the order.
    </p>

    <ul class="no-list-style no-padding caret_style">
        <li class="text-500">Which courier company will deliver my order? Is it possible to choose my preferred delivery partner?
        </li>
    </ul>

    <p class="">For a smooth delivery of your orders, we have tied up with a number of trustworthy delivery partners. Once your order
        is dispatched, you will be informed about the shipping details via E-mail/SMS. Unfortunately, we do not offer the
        option to choose your preferred delivery partner. However, we will inform you when such services are rolled out in
        future.
    </p>

    <ul class="no-list-style no-padding caret_style">
        <li class="text-500">What should I do if I find my package opened or tampered with upon delivery?
        </li>
    </ul>

    <p class="">Moglix believes in making your shopping experience perfect. However, if you receive an open or a tampered package, please
        do not accept it. Report this concern by clicking on Return/Replace option in your MY ORDERS page within the TrustPay
        period. We will look at it immediately and get back to you.
    </p>

    <ul class="no-list-style no-padding caret_style">
        <li class="text-500">Why did I receive a partial order?
        </li>
    </ul>

    <ul class="no-padding pad-l-20 points_text">
        <li>We are sorry you had to experience this but please check if your order contains items with different delivery time.
            Items with different delivery times are shipped to you separately. Do not worry; your order is on its way to
            you!</li>
        <li>The expected date and time of delivery will be communicated to you before the dispatch of your order. Under rare
            circumstances, if we are unable to fulfill your order, we will refund you the full payment made towards that
            particular product, at the earliest.</li>
    </ul>

    <ul class="no-list-style no-padding caret_style">
        <li class="text-500">The status on the tracking website shows delivery was attempted but I was not there to receive. Is it possible to
            get the delivery now?
        </li>
    </ul>

    <p class="">The courier companies usually make more than one attempt to deliver your order. In case you do not receive your order,
        please get in touch with us.
    </p>
</div>