<div id="payment_policy" class="faq_text_wrap">
    <h2 class="text-500 f-size-18 mar-tb-20">Payment Policy</h2>
    <ul class="no-list-style no-padding caret_style">
        <li class="text-500">What are the modes of payment for purchasing on Moglix.com? What payment methods do you accept?
        </li>
    </ul>
    <p class="">We accept the following modes of payment:</p>
    <ul class="pad-l-20 points_text">
        <li>Debit/Credit Cards/Net banking of all major banks</li>
        <li>Cash On Delivery (COD)</li>
        <li>NEFT/RTGS</li>
    </ul>
    <ul class="no-list-style no-padding caret_style">
        <li class="text-500">What is COD (Cash On Delivery)? Are there any additional charges for COD orders?
        </li>
    </ul>
    <ul class="pad-l-20 points_text">
        <li>COD refers to Cash On Delivery. It doesn’t matter if you don’t have a Credit/Debit card or online shopping is not
            your forte. If you are not comfortable making an online payment on Moglix.com, you can opt for the Cash on Delivery
            (C-o-D) payment method instead. Moglix offers you the option of paying for the purchase at your doorstep. Just
            place your order and make cash payment to our COD partner upon the delivery of your item.
        </li>
        <li>Not all deals/products have COD option. Please check the deal page before buying. Moglix does not offer COD at all
            locations. Please enter your pin code to check the availability of COD option at your location.
        </li>
    </ul>
    <ul class="no-list-style no-padding caret_style">
        <li class="text-500">How do I place Cash on Delivery (C-O-D) order?
        </li>
    </ul>
    <ul class="pad-l-20 points_text">
        <li>All items that have the "Cash on Delivery Available" icon are valid for order by Cash on Delivery.</li>
        <li>Add the item(s) to your cart and proceed to checkout. When prompted to choose a payment option, select "Pay By Cash
            on Delivery". Enter the CAPTCHA text as shown, for validation.
        </li>
        <li>Once verified and confirmed, your order will be processed for shipment in the time specified, from the date of confirmation.
            You will be required to make a cash-only payment to our courier partner at the time of delivery of your order
            to complete the payment.
        </li>
    </ul>
    <ul class="no-list-style no-padding caret_style">
        <li class="text-500">Can I pay COD (Cash On Delivery) for every product I buy on Moglix?
        </li>
    </ul>
    <p class="">For most of the products, COD is available and is mentioned on the product page. However, due to logistics concern, this
        option might not be available for few products.</p>
    <ul class="no-list-style no-padding caret_style">
        <li class="text-500">How can I pay if COD option is not available on my address?
        </li>
    </ul>
    <p class="">If COD option is not available on your address you can always opt for Net Banking or Credit/Debit Card. In case you don't
        have a Net Banking or Debit Card options please contact your bank for Debit Card/Credit Card issue.</p>
    <ul class="no-list-style no-padding caret_style">
        <li class="text-500">Why isn't COD available to me?</li>
    </ul>
    <ul class="pad-l-20 points_text">
        <li>Cash on Delivery (COD) option is not offered by our Courier partners at few serviceable locations. Hence, based on
            your location COD option may not be available to you. However, you can always opt for payment through Net Banking
            or Credit/Debit Card.
        </li>
        <li>We also restrict Cash on Delivery facility for certain customers based on our long-term experience. To know more,
            please refer to our Terms and Conditions.
        </li>
    </ul>
    <ul class="no-list-style no-padding caret_style">
        <li class="text-500">How do I pay using a credit/debit card?
        </li>
    </ul>
    <p class="">We accept payments made by credit/debit cards issued in India.</p>
    <p class=" ">Credit cards</p>
    <ul class="pad-l-20 points_text">
        <li>We accept payments made using Visa, MasterCard and American Express credit cards.</li>
        <li>To pay using your credit card at checkout, you will need your card number, expiry date, three-digit CVV number (found
            on the backside of your card). After entering these details, you will be redirected to the bank's page for entering
            the online 3D secure password.
        </li>
    </ul>
    <p class="">Debit cards</p>
    <ul class="pad-l-20 points_text">
        <li>We accept payments made using Visa, MasterCard and Maestro debit cards.</li>
        <li>To pay using your debit card at checkout, you will need your card number, expiry date (optional for Maestro cards),
            three-digit CVV number (optional for Maestro cards). You will then be redirected to your bank's secure page for
            entering your online password (issued by your bank) to complete the payment.
        </li>
    </ul>
    <ul class="no-list-style no-padding caret_style">
        <li class="text-500">Is it safe to use my credit/debit card on Moglix? </li>
    </ul>
    <ul class="pad-l-20 points_text">
        <li>Your online transaction on Moglix is secure with the highest levels of transaction security currently available on
            the Internet. Moglix uses PayU as a payment gateway to protect your card information while securely transmitting
            it to the respective banks for payment processing.
        </li>
        <li>All credit card and debit card payments on Moglix are processed through secure and trusted payment gateways managed
            by leading banks. Banks now use the 3D secure password service for online transactions, providing an additional
            layer of security through identity verification.
        </li>
    </ul>
    <ul class="no-list-style no-padding caret_style">
        <li class="text-500">What is a 3D secure password?
        </li>
    </ul>
    <ul class="pad-l-20 points_text">
        <li>The 3D secure password is implemented by VISA and MasterCard in partnership with card issuing banks under the "Verified
            by VISA" and "Mastercard SecureCode" services, respectively.
        </li>
        <li>The 3D Secure password adds an additional layer of security through identity verification for your online credit/debit
            card transactions. This password, which is created by you, is known only to you. This ensures that only you can
            use your card for online purchases.
        </li>
    </ul>
    <ul class="no-list-style no-padding caret_style">
        <li class="text-500">What steps does Moglix take to prevent card fraud? </li>
    </ul>
    <ul class="pad-l-20 points_text">
        <li>Moglix realizes the importance of a strong fraud detection and resolution capability. We and our online payments
            partners monitor transactions continuously for suspicious activity and flag potentially fraudulent transactions
            for manual verification by our team.
        </li>
        <li>In the rarest of rare cases, when our team is unable to rule out the possibility of fraud categorically, the transaction
            is kept on hold, and the customer is requested to provide identity documents. The ID documents help us ensure
            that the purchases were indeed made by a genuine card holder. We apologize for any inconvenience that may be
            caused to customers and request them to bear with us in the larger interest of ensuring a safe and secure environment
            for online transactions.
        </li>
    </ul>
    <ul class="no-list-style no-padding caret_style">
        <li class="text-500">My transaction failed but the money was deducted from my account. What should I do?</li>
    </ul>
    <ul class="pad-l-20 points_text">
        <li>We regret the inconvenience caused. Please send us a mail on care@moglix.com with your transaction details and we
            will look into it immediately.
        </li>
        <li>If your money has not reached us, it will surely be refunded back to your account.</li>
    </ul>
    <ul class="no-list-style no-padding caret_style">
        <li class="text-500">What should I do if my payment fails? </li>
    </ul>
    <p class="">In case of a payment failure, please retry ensuring that information passed on to payment gateway is accurate i.e. account
        details, billing address, password (for net banking), your internet connection is not disrupted in the process. If
        your account has been debited after a payment failure, it is normally rolled back to your bank account within 7 business
        days. All you need is to call us through at +91 8448 233 444. Call Timings:- 9:30 AM to 7 PM</p>
    <ul class="no-list-style no-padding caret_style">
        <li class="text-500">Can I use my bank's Internet Banking feature to make a payment?
        </li>
    </ul>
    <p class="">Yes. Moglix offers you the convenience of using your bank's Internet Banking service to make a payment towards your order.
        With this you can directly transfer funds from your bank account, while conducting a highly secure transaction. We
        accept payment through Internet Banking from almost all banks.</p>
    <ul class="no-list-style no-padding caret_style">
        <li class="text-500">Can I make a credit/debit card or Internet Banking payment on Moglix through my mobile? </li>
    </ul>
    <p class="">Yes, you can make credit card payments through the mobile site. Moglix uses PayU as a payment gateway for credit/ debit
        card payment. PayU uses high end technology to protect your card information.</p>
</div>