<div id="refund_policy" class="faq_text_wrap">
    <h2 class="text-500 f-size-18 mar-tb-20">Refund</h2>
    <ul class="no-padding caret_style no-list-style">
        <li class="text-500">I've still not received the refund to my bank account. Why?</li>
    </ul>
    <p class="">If you have received a mail from us confirming your refund request then rest assured that we have initiated your refund
        request and are following up with financial organisations for the same.
    </p>
    <p class="">Sometimes financial organisations take a longer time to process the refund request. However, if the refund hasn't happened
        by the date we promised, you can contact us. We will gladly help you.</p>
    <ul class="no-padding caret_style no-list-style">
        <li class="text-500">When are Refunds provided?</li>
    </ul>
    <p class="">We work to provide the most hassle-free online shopping experience. You are covered and your money safe. We initiate
        the refund process as soon as we receive the details</p>
    <ul class="pad-l-20">
        <li>Damaged products are returned to our warehouse and has been quality checked.</li>
    </ul>
    <ul class="no-padding caret_style no-list-style">
        <li class="text-500">I paid the amount upfront while purchasing product from Moglix, how do I get the refund?
        </li>
    </ul>
    <p class="">Your payment is secured. In case of prepaid orders (paid through credit card/debit card/net banking), the amount is refunded
        in the same account as you had made payment from within 7-10 working days</p>
    <ul class="no-padding caret_style no-list-style">
        <li class="text-500">I paid cash on delivery, how would I get the refund?</li>
    </ul>
    <p class="">If the mode of payment was cash on delivery (COD), we will initiate a NEFT bank transfer to your bank account. Moglix
        will contact you for your bank account details. It normally takes 7-10 days for your money to get reflected in your
        bank account.</p>
    <ul class="no-padding caret_style no-list-style">
        <li class="text-500">What are the details you require to process NEFT refund?</li>
    </ul>
    <p class="">Once you agree for NEFT refund, you will receive an email from Moglix customer support team asking for.</p>
    <ul class="pad-l-20 points_text">
        <li>Bank Name</li>
        <li>Account Number</li>
        <li>Account Holder’s name</li>
        <li>IFSC code</li>
        <li>Location of the Bank</li>
    </ul>
    <p class="">We initiate refund process as soon as we receive the details from you and it takes 7-10 working days for the money to
        be credited to your account.</p>
    <ul class="no-padding caret_style no-list-style">
        <li class="text-500">Can I ask for NEFT refund if I paid through Credit Card/Debit Card/Net banking?
        </li>
    </ul>
    <p class="">No, in case you paid via credit card/debit card/net banking, the amount will be refunded in the same account as you had
        made payment from.</p>
    <ul class="no-padding caret_style no-list-style">
        <li class="text-500">How long will it take to refund? </li>
    </ul>
    <p class="">It takes 7-10 working days for the money to be credited to your account.
    </p>
</div>