@import '../../scss/variables';
.select-offers {
    .head-sec {}
    .promo-code {
        @extend %clear-fix;
        padding: 0 15px 15px 15px;
        p {
            font-weight: 600;
            font-size: $large-font;
            margin-bottom: 5px;
        }
        border-bottom: 1px solid $border-color;
    }
    .custom-cbox {
        height: 79%;
        height: calc(100vh - 138px);
        overflow: auto;
        p {
            padding: 15px;
            font-size: $large-font;
            font-weight: 600;
            display: block;
        }
        label {
            padding: 15px;
            border-top: 1px solid $border-color;
            &.selected {
                background: $checkbox-overly;
            }
            .promo-label {
                display: inline-block;
                padding: 5px;
                font-size: $large-font;
                font-weight: 600;
                border: 1px dashed $border-sec-color;
            }
            .promo-description {
                display: block;
                font-size: $large-font;
                margin-top: 5px;
            }
        }
    }
}


/*new css 20-09-2021*/

.popup {
    position: fixed;
    // display: none;
    z-index: 99;
    &.screen-view {
        width: 100%;
        height: 100%;
        top: 120%;
        left: 0;
        background: $white;
        @extend %transition;
        &.open {
            top: 0;
        }
        .head-sec {
            padding: 12px 0;
            margin: 0;
            z-index: 5;
            position: relative;
            &:after {
                clear: both;
                content: '';
                display: block;
            }
            i {
                font-size: 20px;
                line-height: 24px;
                float: left;
            }
            i+.page-name {
                font-size: $extra-large-font;
                margin-left: 10px;
            }
            .txt {
                font-size: 16px;
                font-weight: 600;
                line-height: 21px;
                margin-left: 20px;
                float: left;
            }
        }
    }
}