@import '../../scss/variables';

.floating-widget-container {
    position: fixed;
    bottom: 60px;
    left: 0;
    right: 0;
    background: var(--ghost-white);
    z-index: 6;
    border: 1px solid #C4C4C4;
    border-radius: 16px 16px 0 0;
    padding: 15px;
    border-bottom: none;
    box-shadow: 0px -6px 6px rgba(0, 0, 0, .2);

    .floating-product-container {
        display: flex;
        justify-content: space-between;

        .product-name {
            font-size: 14px;
            font-weight: $font-bold;
            padding-right: 15px;
            -webkit-line-clamp: 2;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }

        i {
            font-size: 16px;
        }
    }

    .price-container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .price-section {
            .actual-price {
                font-size: $medium-font;
                color: var(--dim-gray);
                padding-top: 8px;
            }

            .main-price {
                padding-top: 3px;

                strong {
                    .price {
                        font-size: 20px;
                    }

                    .gst-price {
                        font-size: 12px;
                        font-weight: normal;
                        color: var(--dim-gray);
                    }
                }
            }

            .mrp-price {
                font-size: 12px;
                color: var(--dim-gray);
                padding-top: 3px;

                .actual-mrp {
                    text-decoration: line-through;
                }
            }
        }

        .coupon-section {
            text-align: center;

            .copy-coupon-container {
                border: 2px dashed var(--slimy-green);
                padding: 4px 30px;
                border-radius: $border-radius-4;
                background: #E0FDDF;
                color: var(--slimy-green);
                font-weight: bold;
                font-size: 12px;
                margin-bottom: 2px;
                line-height: 21px;

                &.active {
                    background: var(--slimy-green);
                    color: var(--white);
                }
            }

            .copy-text {
                font-size: $small-font;
                color: var(--dim-gray);
            }
        }
    }
}