<div class="floating-widget-container">
    <div class="floating-product-container">
        <p class="product-name">Timberwood TW12 Genuine Leather Steel Toe Black Safety Shoes, Size: 9</p>
        <i class="icon-circle-delete"></i>
    </div>
    <div class="price-container">
        <div class="price-section">
            <div class="actual-price">
                ₹1270 (Incl. of all taxes)
            </div>
            <div class="main-price">
                <strong>
                    <span class="price">₹1200</span>
                    <span class="gst-price">
                        + ₹70 GST
                    </span>
                </strong>
            </div>
            <div class="mrp-price">
                <span>MRP ₹1999 <span class="green-txt"><b>33% OFF</b></span></span>
            </div>
        </div>
        <div class="coupon-section">
            <div class="copy-coupon-container active">
                SAF100
            </div>
            <span class="copy-text">Copy to Apply Coupon</span>
        </div>
    </div>

</div>