<ng-container *ngIf="inlineFilterData">
    <div class="filter-container">
        <ng-container *ngIf="inlineFilterData.name === GLOBAL_CONSTANT?.inlineFilter[0];  else nonCategory">
            <div class="inline-filter-card-list">
                <div class="inner-card-list">
                    <p class="filter-heading">
                        Show By &nbsp;{{ inlineFilterData.name }}
                    </p>
                    <ng-container *ngFor="let item of inlineFilterData.terms[0]?.childCategoryList; let k = index;">
                        <div class="inline-filter-card-one">
                            <div class="inline-filter-card-value" *ngIf="k % 2 === 0" (click)="checkAndApplyFilter(inlineFilterData.name, item)">{{ item.term }}</div>
                        </div>
                    </ng-container>
                </div>
                <div class="inner-card-list">
                    <ng-container *ngFor="let item of inlineFilterData.terms[0]?.childCategoryList; let k = index;">
                        <div class="inline-filter-card-two">
                            <div class="inline-filter-card-value card-value-2 "  *ngIf="k % 2 === 1" (click)="checkAndApplyFilter(inlineFilterData.name, item)">{{ item.term }}</div>
                        </div>
                    </ng-container>
                </div>
            </div>
        </ng-container>
        <ng-template #nonCategory>
            <div class="inline-filter-card-list">
                <div class="inner-card-list">
                    <ng-container *ngFor="let item of inlineFilterData.terms; let i = index;">
                        <div class="inline-filter-card-one" *ngIf="i % 2 === 0">
                            <div class="inline-filter-card-value" [class.disabled]="!item?.enabled" [class.active]="item?.selected" (click)="checkAndApplyFilter(inlineFilterData.name, item)">{{ item.term | addFilterSymbol:inlineFilterData.name }}</div>
                        </div>
                    </ng-container>
                </div>
                <div class="inner-card-list">
                    <ng-container *ngFor="let item of inlineFilterData.terms; let i = index;">
                        <div class="inline-filter-card-two"  *ngIf="i % 2 === 1">
                            <div class="inline-filter-card-value card-value-2" [class.disabled]="!item?.enabled" [class.active]="item?.selected" (click)="checkAndApplyFilter(inlineFilterData.name, item)">{{ item.term | addFilterSymbol:inlineFilterData.name }}</div>
                        </div>
                    </ng-container>
                </div>
            </div>
        </ng-template>