@import '../../scss/variables';
.filter-container {
    @extend %cards;
    background-color: #3C3C3C;
    .filter-btn {
        display: inline-block;
        padding: 10px 20px;
        background: #da4038;
        color: white;
        font-size: 14px;
        margin: 5px;
        border-radius: 10px;
        &.active {
            background: white;
            color: #da4038;
        }
        &.disabled {
            opacity: 0.6;
            pointer-events: none;
            background: grey;
        }
    }
    .filter-heading {
        font-size: 14px;
        margin-bottom: 5px;
        text-transform: capitalize;
        font-weight: bold;
        color: #fff;
        padding: 10px 0px 0px 10px;
    }
}

// .inline-filter-container {
//     background: #3C3C3C;
//     .inline-filters {
//         display: flex;
//         overflow-x: scroll;
//         .inline-filter-card {
//             white-space: nowrap;
//             a {
//                 display: inline-block;
//                 padding: 10px 20px;
//                 background: #fff;
//                 color: #3C3C3C;
//                 font-size: 14px;
//                 margin: 5px;
//                 border-radius: 4px;
//                 box-shadow: 0px 3px 6px #0000001A;
//             }
//         }
//     }
// }
.inline-filter-card-list {
    padding: 5px 40px 10px 10px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    display: block;
    background-color: #3C3C3C;
    font-size: 14px;
    .inline-filter-card-one {
        margin-right: 10px;
        display: inline-block;
        vertical-align: top;
    }
    .inline-filter-card-two {
        margin-right: 10px;
        display: inline-block;
        vertical-align: bottom;
    }
    .inline-filter-card-value {
        label {
            width: 25px;
            @extend %custom-check-box-checkout;
        }
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 15px;
        font-weight: 500;
        text-align: center;
        width: 100%;
        border-radius: 4px;
        background-color: #fff;
        margin-top: 5px;
        margin-bottom: 5px;
        font-weight: bold;
        font-size: 12px;
        &.card-value-2 {
            margin-bottom: 5px;
        }
    }
}

.skeleton-filter-container{
    background: #F1F1F1;
    
    .skeleton-inline-filter-card-list{
        padding: 10px 40px 10px 10px;
        overflow-x: hidden;
        overflow-y: hidden;
        white-space: nowrap;
        display: block;
        
        .heading-filter{
            height: 18px;
            background: #FFF;
            border-radius: 6px;
            width: 130px;
            margin-bottom: 10px;
            position: relative;
            overflow: hidden;
        }

        .inline-filter-card-one{
            margin-right: 10px;
            display: inline-block;
            vertical-align: top;
            padding: 1.2rem 2.2rem;
            background: #fff;
            border-radius: 6px;
            margin-bottom: 5px;
            position: relative;
            overflow: hidden;
        }

        .inline-filter-card-two{
            margin-right: 10px;
            display: inline-block;
            vertical-align: top;
            padding: 1.2rem 3.2rem;
            background: #fff;
            border-radius: 6px;
            margin-bottom: 5px;
            position: relative;
            overflow: hidden;
        }

        .inline-filter-card-three{
            margin-right: 10px;
            display: inline-block;
            vertical-align: top;
            padding: 1.2rem 3.2rem;
            background: #fff;
            border-radius: 6px;
            margin-top: 5px;
            position: relative;
            overflow: hidden;
        }

    }

    .heading-filter::before, .inline-filter-card-one::before, .inline-filter-card-two::before, .inline-filter-card-three::before{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to right, #FFF 0%, rgba(0,0,0,0.03) 40%, #FFF 100%,  #F9FAF9 30%);
        background-size: 450px 400px;
        background-repeat: no-repeat;
        animation: shimmer 1s linear infinite;
        -webkit-animation: shimmer 1s linear infinite;;
        top:0;
        right: 0;
    }

    .heading-filter::before, .inline-filter-card-one::before, .inline-filter-card-two::before, .inline-filter-card-three::before{
        animation-delay: 0.4s;
        -webkit-animation-delay: 0.4s;
    }
    
}

@keyframes shimmer{
    0%{
        background-position: -450px 0;
    }

    100%{
        background-position: 450px 0;
    }
    
}

.sachin{
    label {
        width: 20px;
        @extend %custom-check-box-checkout;
    }
}

.custom-box {
    font-size: 14px !important;
    @extend %transition;
    
}