    /* below code for top widgets and trending categories*/
    @import '../../scss/variables';
    @import '../../../app/scss/components/banner';
    @import '../../../app/scss/layout/cards.scss';
     ::ng-deep {
        .home-parent{
            h2 {
                font-size: $large-font;
                text-transform: uppercase;
            }
        }
    }
    /*Top Widgets*/
   .fixed-btm-app-prmo {
        position: fixed;
        bottom: 0;
        width: 100%;
        z-index: 9;
    }
   .categories-container {
        min-height: 300px;
    }
   .banner-ad {
        margin: 10px 0px;
        a {
            display: block;
        }
        img {
            width: 100%;
        }
        &.bulk {
            margin-bottom: 0px;
        }
    }
 .home-card-container{
        display: flex;
        flex-wrap: wrap;
        category-card{
            width: 50%;
        }
    }
  .btn-red {
        font-weight: $font-bolder;
        border-radius: 2px;
    }
    // BestSellers
    .bestSeller {
        background: #ddd;
        padding-bottom: 10px;
    }
    
    //Feature Brand Arrival
    .featr_arrival {
        background: #ddd;
        margin-top: 10px;
    }
    
    .deals-offers {
        margin-top: 0px;
        margin-bottom: 10px;
    }
    .Recently-view {
        margin-top: 0px;
    }

    