<div class="css-banner-component">
    <div class="internalBanner h-auto-xs o-hidden relative">
        <ng-container *ngIf="carouselData.bannerData && carouselData.bannerData['data'].length>0">
            <siema-carousel [defaultImage]="defaultBannerImage" [imagePath]="imagePathBanner" [options]="options"
                [items]="carouselData.bannerData['data']" [appendSiemaItems$]="appendSiemaItemSubjects['bannerData']">
            </siema-carousel>
        </ng-container>
    </div>
</div>

<div class="allCategory">
    <div class="categoryOverBlk">
        <div class="clearfix">
            <div class="commonCategorySlide" *ngFor="let item of clustorCategories | slice:0:5">
                <div class="innerSlide">
                    <a [routerLink]="['/'+item.category_url]">
                        <div class="categoryImg">
                            <img src="{{imagePath + 'img/cluster/'+item.category_image}}">
                        </div>
                        <div class="categoryName">
                            <span>{{item['CategoryName']}}</span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="commonCategorySlide">
                <div class="innerSlide">
                    <a [routerLink]="['/all-categories']">
                        <div class="categoryImg view_all_img">
                            <img src="{{imagePath + 'img/cluster/Group 10310.svg'}}">
                        </div>
                        <div class="categoryName">
                            <span>View All Categories </span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="banner-ad" *ngFor="let im of middleImageJsonData;let i = index;">
    <a *ngIf="i==0" href="{{im.image_link}}">
        <img [src]="imagePath + im.image_name" alt="banner add">
    </a>
</section>

<!-- Section for feature Brands -->
<div class="featr_brand clearfix">
    <div observeVisibility [debounceTime]="300" (visible)="onVisibleFeaturedBrands($event)">
        <ng-container #FeaturedBrands></ng-container>
    </div>
</div>

<div observeVisibility [debounceTime]="300" (visible)="onVisibleCategories($event)">
    <ng-container #Categories></ng-container>
</div>

<!-- Featured Arrivals Section -->
<div observeVisibility [debounceTime]="300" (visible)="onVisibleFeaturedArrivals($event)">
    <ng-container #FeaturedArrivals></ng-container>
</div>

<!-- Pop up -->

<app-pop-up *ngIf="openPopup" (outData$)="outData($event)" class="bs-popup"
    [data]="{closeClass:'icon-back f-left',paraClass:'f-left page-name f-16',class: 'payment-popup',selector:'openPopup',headerText:categoryNameFromHomePage}">
    <div class="content-popup card-30" content>
        <ul class="view-products no-border list" [class.border-top]="categoryNameFromHomePage !== ''">
            <li *ngFor="let item of carouselData[dataKeyToPopUpPage]['data']['product_data']">
                <a [routerLink]="item.productlink" class="clearfix">
                    <div class="product-img">
                        <img [defaultImage]="defaultImage" [lazyLoad]="imagePath + item.imageLink_medium"
                            alt="product Image">
                    </div>
                    <div class="product-description">
                        <p class="description-txt">{{item.productName | slice:0:60}}
                            <span *ngIf="item.productName.length>60">...</span>
                        </p>
                        <p class="price">
                            <span
                                class="before-discount">₹{{beforeDiscount(item.pricewithouttax,item.discount_percentage)}}
                            </span>
                            <span class="discount">{{item.discount_percentage | mathCeil}}% OFF</span>
                            <span class="after-discount">{{item.pricewithouttax | currency: 'INR' : 'symbol' :
                                '1.0-0'}}</span>
                        </p>
                        <p class="seller">
                            <span>By :</span> {{getBrandName(item.short_description)}}
                        </p>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</app-pop-up>