@import '../../scss/variables';
@import '../../../app/scss/components/banner';
@import '../../scss/components/category-grid-card';
@import '../../scss/components/pager';

    
     ::ng-deep {
        .home-parent{
            background:var(--white);
            padding-top: 10px;
            h2 {
                font-size: $extra-large-font;
                text-transform: capitalize;
            }
        }
    }
    .category-grid-container{
        padding-top: 15px;
    }
    /*Top Widgets*/
   .fixed-btm-app-prmo {
        position: fixed;
        bottom: 0;
        width: 100%;
        z-index: 9;
    }
   .categories-container {
        min-height: 300px;
    }
 .home-card-container{
        display: flex;
        flex-wrap: wrap;
        category-card{
            width: 50%;
        }
    }
  .btn-red {
        font-weight: $font-bolder;
        border-radius: 2px;
    }
    // BestSellers
    .bestSeller {
        background: #ddd;
        padding-bottom: 10px;
    }
    .featr_arrival{
        background:var(--Light-grayish-orange);
        padding-bottom:15px;
        &.featr_arrival-skeleton{
            background:var(--white);
            .view-all-strip{
                background:var(--white) !important;
            }
        }

    }
    .recently-container{
        padding-top: 15px;
        margin-bottom:10px;
        &::ng-deep {
        .view-all-strip{
            padding:0px 15px;
        }
     }
    }
    .css-banner-component{
        position: relative;
    }
