<div class="home-parent">
    <app-promo [page]="'home'" class="fixed-btm-app-prmo" *ngIf="isBrowser" [isOverlayMode]="true"></app-promo>
    <div class="pwa-row">
        <div class="pwa-col-12">
            <div class="css-banner-component">
                <div class="internalBanner" *ngIf="isBrowser">
                    <ng-container *ngIf="carouselData.bannerData && carouselData.bannerData['data'].length>0">
                        <siema-carousel [defaultImage]="defaultBannerImage" [imagePath]="imagePathBanner" [options]="options"
                            [items]="carouselData.bannerData['data']"
                            [appendSiemaItems$]="appendSiemaItemSubjects['bannerData']">
                        </siema-carousel>
                    </ng-container>
                </div>
                <div class="internalBanner" *ngIf="isServer">
                    <img *ngIf="carouselData.bannerData && carouselData.bannerData['data'].length>0"
                        [src]="carouselData.bannerData.data[0].image_name" alt="banner">
                    <img *ngIf="!(carouselData.bannerData && carouselData.bannerData['data'].length>0)"
                        [src]="defaultBannerImage" alt="banner">
                </div>
            </div>
        </div>
   </div>
    <div class="pwa-row pwa-row-noPad">
        <div class="pwa-col-12 pad-lr-15">
            <trending-categories [tocd]="'Trending Categories'" [flyOutData]="flyOutData"></trending-categories>
            <section class="pwa-banner" *ngFor="let im of middleImageJsonData;let i = index;">
                <a class="full-banner" *ngIf="i==0" href="{{im.image_link}}">
                    <img [src]="imagePath + im.image_name" alt="banner add">
                </a>
            </section>

            <!-- <div class="home-card-container">
                    <category-card *ngFor="let item of clustorCategories| slice:0:5" [page]="'home'"
                        [routerLink]="item.category_url" [image]="imagePath + 'img/cluster/'+item.category_image"
                        [title]="item['CategoryName']">
                    </category-card>
                    <category-card [page]="'home'" [routerLink]="['/all-categories']" [image]="imagePath + 'img/cluster/Group 10310.svg'"
                        [title]="'View All Categories'">
                    </category-card>
                </div> -->

            <div class="pwa-col-12 category-grid-container mb-10">
                <div *ngFor="let item of clustorCategories| slice:0:5" class="category-grid-card"
                    [routerLink]="item.category_url">
                    <a>
                        <img alt={{item.CategoryName}} src="{{clusterimagePath + 'img/cluster/'+item.category_image}}">
                        <p class="category-text">{{item.CategoryName}}</p>
                    </a>
                </div>
                <div class="category-grid-card" [routerLink]="['/all-categories']">
                    <a>
                        <img alt="View All Categories" src="{{clusterimagePath + 'img/cluster/all_categories.png'}}">
                        <p class="category-text">View All Categories</p>
                    </a>
                </div>
            </div>

        </div>
        <div class="pwa-col-12 pad-lr-15">
            <div observeVisibility class="featr_brand clearfix" [debounceTime]="50"
                (visible)="onVisibleFeaturedBrands($event)">
                <div>
                    <ng-container #FeaturedBrands></ng-container>
                </div>
            </div>
        </div>
        <div class="pwa-col-12 recently-container">
            <div observeVisibility [ngClass]="{'categories-container': !showRecentlyViewedCarousel}"
                *ngIf="showRecentlyViewedCarousel" [debounceTime]="50" (visible)="onVisibleCarousel($event)">
                <ng-container #RecentlyViewedCarouselComponent></ng-container>
            </div>
        </div>
        <div observeVisibility class="pwa-col-12" [debounceTime]="50" (visible)="onVisibleCategories($event)">
            <ng-container #Categories></ng-container>
        </div>
        <!-- Section for feature Arrival -->
        <div observeVisibility class="featr_arrival pwa-col-12 pad-lr-15" [debounceTime]="50"
            (visible)="onVisibleFeaturedArrivals($event)">
            <ng-container #FeaturedArrivals></ng-container>
        </div>
        <ng-container class="bs-popup" #HomePopupComponet></ng-container>

        <div class="pwa-col-12">
            <home-accordians [carouselData]="carouselData"></home-accordians>
        </div>
        <whatsapp-toast (click)="sendTrackingData()" [customText]="'Hi, I want to buy from Moglix'"></whatsapp-toast>
    </div>

    <!-- section for trending categories-->
</div>