@import '../../scss/variables';
@import '../../../app/scss/components/banner';
@import '../../scss/components/category-grid-card';
@import '../../scss/components/pager';
@import '.././../scss/common-header.scss';


::ng-deep {
    .home-parent {
        background: var(--white);

        h2 {
            font-size: $extra-large-font;
            text-transform: capitalize;
        }
    }
}

.category-grid-container {
    padding-top: 15px;
}

/*Top Widgets*/
.fixed-btm-app-prmo {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 9;
}

.home-app-promo {
    bottom: 62px;
}

.categories-container {
    min-height: 300px;
}

.home-card-container {
    display: flex;
    flex-wrap: wrap;

    category-card {
        width: 50%;
    }
}

.btn-red {
    font-weight: $font-bolder;
    border-radius: 2px;
}

// BestSellers
.bestSeller {
    background: #ddd;
    padding-bottom: 10px;
}

.featr_arrival {
    background: var(--Light-grayish-orange);
    padding-bottom: 15px;

    &.featr_arrival-skeleton {
        background: var(--white);

        .view-all-strip {
            background: var(--white) !important;
        }
    }

}

.recently-container {
    padding-top: 15px;
    margin-bottom: 10px;

    &::ng-deep {
        .view-all-strip {
            padding: 0px 15px;
        }
    }
}

.css-banner-component {
    position: relative;
}


// search-widget
.search-widget-container {
    position: relative;
    background: var(--misty-rose);
    border-bottom-left-radius: $border-radius-16;
    border-bottom-right-radius: $border-radius-16;
    .search-widget-section {
        width: $fullwidth;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 30px 15px 40px;
        margin-bottom: 20px;
        .inner-search-widget {
            width: $fullwidth;
            z-index: 1;
            p {
                font-size: $extra-large-2-font;
                font-weight: $font-bold;
                color: var(--spanish-gray);
                text-align: center;
                padding-bottom: 20px;
                span {
                    color: var(--onyx-black);
                }
            }
            .widget-search-bar {
                .widget-search-input {
                    height: 60px;
                    border-radius: 50px;
                    padding: 0 25px 0 50px;
                }
                &:after {
                    left: 18px;
                    top: 18px;
                }
            }
        }

    }
    .search-widget-bg {
        background-image: url('../../../assets/img/search_banner_image.png');
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0px;
        width: $fullwidth;
        background-repeat: no-repeat;
        height: 82px;  
        background-size: cover;  
        border-bottom-left-radius: $border-radius-16;
        border-bottom-right-radius: $border-radius-16;
    }
}