@import '../../scss/variables';
@import '../../scss/layout/cards.scss';
@import '../../scss/components/tabs.scss';
@import '../../scss/components/static-card-container.scss';

.customPopHeight{
      height:calc(100vh - 50px)!important;
  }
.oos-btn-cta{
  position: fixed;
  bottom: 0px;
  z-index: 500;
  width: 100%;
  background: red;
  height: 50px;
}
ngx-siema-slide{
  ::ng-deep {
    display:block;
  }
}

.about-this-product{
  background: var(--white);
  height: calc(100% - 80px);
  overflow-y:auto;
}
.tab-content{
  margin-top: 5px;
  border-top: 1px solid var(--silver) !important;
  border: none;
}

