<app-pop-up (outData$)="closeProducInfo($event)" [class.open1]="openProductInfo"
    [data]="{class: 'payment-popup addAddressPopup',headerCustom:true, selector:'openProductInfo'}">
    <div class="head-sec header_add_edit" header>
        <div class="container">
            <i class="icon-back f-left white_text" (click)="closeProducInfo($event)"></i>
            <p class="txt header_text page-name">Product Info</p>
        </div>
    </div>
    <div class="content-popup card mt-15" content>
        <!--Yajya Design code goes here w.r.t each companent-->
        <div class="card-container list-view">
            <div class="left">
                <ng-container>
                    <img src="{{productInfo['imgURL']}}" enhanceImgByNetwork height="125" width="125" />
                </ng-container>
            </div>
            <div class="right">
                <div class="name">
                    <span>{{productInfo['name']}}</span>
                    <!--<span>...</span>-->
                </div>
                <div class="brand">
                    <span>By: {{productInfo['brandName']}}</span>
                </div>
                <div class="price-details" *ngIf="productInfo['productMrp'] > 0">
                    <div class="left">
                        <div class="price" *ngIf="productInfo['productMrp'] > productInfo['priceWithoutTax']">
                            <span class="crossed">{{productInfo['productMrp'] | currency: 'INR' : 'symbol' :
                                '1.0-0'}}</span>
                            <ng-container
                                *ngIf="productInfo['productDiscount'] != undefined && productInfo['productDiscount']>0 && productInfo['productMrp'] > 0">
                                <span class="green-label" *ngIf="productInfo['bulkPriceWithoutTax']==null">
                                    {{((productInfo['productMrp'] -
                                    productInfo['priceWithoutTax'])/productInfo['productMrp'])*100 | mathFloor |
                                    number:'1.0-0'}}% OFF
                                </span>
                                <span class="green-label" *ngIf="productInfo['bulkPriceWithoutTax']!=null">
                                    {{ productInfo['bulkDiscount'] | mathFloor | number:'1.0-0'}}% OFF% OFF
                                </span>
                            </ng-container>
                        </div>
                        <div class="main-price">
                            <span
                                *ngIf="productInfo['priceWithoutTax'] > 0 && productInfo['bulkPriceWithoutTax']==null">{{productInfo['priceWithoutTax']
                                | currency: 'INR' : 'symbol' : '1.0-0'}}</span>
                            <span *ngIf="productInfo['bulkPriceWithoutTax']!==null">{{productInfo['bulkPriceWithoutTax']
                                | currency: 'INR' : 'symbol' : '1.0-0'}}</span>
                        </div>
                        <div class="out-of-stock-text" *ngIf="productInfo['productOutOfStock']">
                            <span>Available on Request</span>
                        </div>
                        <!-- <div *ngIf="false" class="out-of-stock-price">
                            <span>713</span>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
        <section class="tabs-container">
            <ul class="tabs">
                <ng-container *ngFor="let tab of tabs; let i = index">
                    <li class="tab" [class.selectedTab]="selectedIndex === i" (click)="updateTab(tab,i)">{{tab | titlecase}}</li>
                </ng-container>
            </ul>
        </section>
        <div class="tab-content" [ngSwitch]="defaultInfo" [style.width.px]="totalInnerWIdth*tabs.length">
            <div class="inner-tab-content" [ngStyle]="{'transform': shiftLeft }">
                <div [ngStyle]="{'min-width.px':innerWidth,'width.px':innerWidth}" class="tabSlide">
                    <key-features [features]="modalData['key features']"></key-features>
                </div>
                <div [ngStyle]="{'min-width.px':innerWidth,'width.px':innerWidth}" class="tabSlide activeTab ">
                    <specifications [specifications]="modalData['specifications']">
                    </specifications>
                </div>
                <div [ngStyle]="{'min-width.px':innerWidth,'width.px':innerWidth}" class="tabSlide">
                    <product-details [details]="modalData['product details']"></product-details>
                </div>
                <div [ngStyle]="{'min-width.px':innerWidth,'width.px':innerWidth}" class="tabSlide" *ngIf="hasVideos">
                    <videos [videos]="modalData['videos']" [name]="productInfo['name']" ></videos>
                </div>
                <div [ngStyle]="{'min-width.px':innerWidth,'width.px':innerWidth}" class="tabSlide">
                    <images [images]="modalData['images']"></images>
                </div>
            </div>
        </div>
    </div>
</app-pop-up>