<app-pop-up (outData$)="closeProducInfo($event)" [class.open1]="openProductInfo"
    [data]="{class: 'payment-popup addAddressPopup',headerCustom:true, selector:'openProductInfo'}">
    <div class="head-sec header_add_edit" header>
        <div class="container">
            <i class="icon-back f-left white_text" (click)="closeProducInfo($event)"></i>
            <p class="txt header_text page-name">Product Info</p>
        </div>
    </div>
    <div class="content-popup card mt-15" content>
        <!--Yajya Design code goes here w.r.t each companent-->
        <div class="card-container list-view">
            <div class="left">
                <ng-container>
                <img 
                        src="https://cdn.moglix.com/p/I/1/G/d/MINI1G7ZIGS84-xlarge.jpg"
                        enhanceImgByNetwork
                        height="125" width="125" />
                </ng-container>
            </div>
            <div class="right">
                <div class="name">
                    <span>Dr. Morepen Gluco One 25 Strips, BG 03<span>...</span></span>
                </div>
                <div class="brand">
                    <span>By: Luminous</span>
                </div>
                <div class="price-details">
                    <div class="left">
                        <div class="price">
                            <span class="crossed">999</span>
                            <span class="green-label">56% OFF</span> 
                        </div>
                        <div class="main-price">
                            <span>999</span>
                        </div>
                        <div *ngIf="false" class="out-of-stock-text" >
                            <span>Available on Request</span>
                        </div>
                        <div *ngIf="false" class="out-of-stock-price">
                            <span>713</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section class="tabs-container">
            <ul class="tabs">
                <ng-container  *ngFor="let tab of tabs; let i = index">
                    <li class="tab" [class.selectedTab]="selectedIndex === i" (click)="updateTab(tab,i)">{{tab | titlecase}}</li>
                </ng-container>
            </ul>
        </section>
        <div class="tab-content" [ngSwitch]="defaultInfo">
            <!-- [style.width.px]="totalInnerWIdth*5" -->
            <div class="inner-tab-content"  [ngStyle]="{'transform': shiftLeft }">
                <div [ngStyle]="{'min-width.px':innerWidth,'width.px':innerWidth}" class="tabSlide activeTab ">
                    <specifications  [specifications]="modalData['specifications']">
                    </specifications>
                </div>
              <div [ngStyle]="{'min-width.px':innerWidth,'width.px':innerWidth}" class="tabSlide">
                  <product-details  [details]="modalData['product details']"></product-details>
              </div>
              <div [ngStyle]="{'min-width.px':innerWidth,'width.px':innerWidth}" class="tabSlide" >
                  <videos [videos]="modalData['videos']"></videos>
              </div>
              <div [ngStyle]="{'min-width.px':innerWidth,'width.px':innerWidth}" class="tabSlide">
                  <images  [images]="modalData['images']"></images>
              </div>
              <div [ngStyle]="{'min-width.px':innerWidth,'width.px':innerWidth}" class="tabSlide">
                  <key-features  [features]="modalData['key features']"></key-features>
              </div>
            </div>
        </div>
    </div>
</app-pop-up>