<app-bottom-menu>
    <div content>
        <div class="verifyPopup">
            <div class="top-header-bottom-menu">
                <h3 class="heading-3">Select Variant</h3>
                <i class="icon-circle-delete" (click)="hide()"></i>
            </div>
            <div class="select-container" *ngIf="productGroupData">
                <div class="static-card-container">
                    <div class="product-img">
                        <img alt="{{product.productName}}" src="{{imageCdnPath + product.mainImageLink}}" />
                    </div>
                    <div class="product-description">
                        <p class="description-txt">{{product.productName | slice:0:60 }} <span
                            *ngIf="product.productName.length>60">...</span></p>
                        <p class="brand">By : {{product.brandName}}</p>
                        <div class="price">
                            <span class="before-discount">{{ product.mrp | mathFloor | currency: 'INR' : 'symbol' :
                                '1.0-0' }}</span>
                            <span class="discount">{{product.discount}}% OFF</span>
                            <span class="after-discount">{{ product.priceWithoutTax | mathFloor | currency: 'INR' : 'symbol' :
                                '1.0-0' }}</span>
                        </div>
                        <div class="oos-listing-section" *ngIf="product.priceWithoutTax == 0">
                            <div class="out-of-stock-text">
                                <p>Available on Request</p>
                                <span class="after-discount">{{ product.priceWithoutTax | mathFloor | currency: 'INR' : 'symbol' :
                                    '1.0-0' }}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="select-warp" *ngFor="let variants of productGroupData.filterAttributesList">
                    <h3 class="heading-3">Select {{variants['name']}}</h3>
                    <ul>
                        <ng-container *ngFor="let item of variants['items']">
                            <li *ngIf="item.active" [ngClass]="{'selected': item.selected}"
                                (click)="emitVariant(item.msn)">
                                {{item['value']}}
                            </li>
                        </ng-container>
                    </ul>
                </div>
            </div>
            <div class="fixed-bottom-cta">
                <button *ngIf="!isSelectedVariantOOO && product.priceWithoutTax != 0" class="btn primary-full-btn"
                    (click)="continueToCart()">
                    CONTINUE
                </button>
                <button *ngIf="isSelectedVariantOOO || product.priceWithoutTax == 0" class="btn primary-full-btn"
                    (click)="continueToSendQuery()">
                    SEND QUERY
                </button>
            </div>
        </div>
    </div>
</app-bottom-menu>