<div class="custom-popup-bottom">
    <div class="open">
        <div class="bottom-options">
            <div class="overlay"></div>
            <div class="content-box verifyPopup">
                <div class="top-heading">
                    <h3 class="heading-3">Select Variant</h3>
                    <i class="icon-circle-delete" (click)="hide()"></i>
                </div>
                <div class="select-container" *ngIf="productGroupData">
                    <div class="card-container">
                        <div class="left">
                            <img alt="{{product.productName}}" src="{{imageCdnPath + product.mainImageLink}}" height="125" width="125" />
                        </div>
                        <div class="right">
                            <div class="rating">
                                <span class="avgrating" *ngIf="product.avgRating">
                            {{product.avgRating | rating | number : '1.1-1' }}
                            <i class="icon-rating-star"></i>
                        </span>
                                <span class="count" *ngIf="product.ratingCount">( {{product.ratingCount}} )</span>
                            </div>
                            <div class="name">
                                <span>{{product.productName | slice:0:60 }}<span *ngIf="product.productName.length>60">...</span></span>
                            </div>
                            <div class="brand">
                                <span>By: {{product.brandName}}</span>
                            </div>
                            <div class="price-details">
                                <div class="left">
                                    <div class="price">
                                        <span class="crossed">{{ product.mrp | mathFloor | currency: 'INR' : 'symbol' : '1.0-0' }}</span>
                                        <span class="green-label">{{product.discount}}% OFF</span>
                                    </div>
                                    <div class="main-price">
                                        <span>{{ product.priceWithoutTax | mathFloor | currency: 'INR' : 'symbol' : '1.0-0' }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="select-warp" *ngFor="let variants of productGroupData.filterAttributesList">
                        <h3 class="heading-3">Select {{variants['name']}}</h3>
                        <ul>
                            <li *ngFor="let item of variants['items']" [ngClass]="{'selected': item.selected, 'inactive': !item.active}" (click)="emitVariant(item.msn,item.selected, item.active)">
                                {{item['value']}}
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="stickyBottomBtn">
                    <button class="btn continue-btn" (click)="continueToCart()" [disabled]="productGroupData.isOutOfStock">
                    CONTINUE
                </button>
                </div>
            </div>
        </div>
    </div>