@import '../../scss/variables';
@import '../../../styles.scss';
@import '../../modules/bottomMenu/bottom-menu.component.scss';
@import '../../scss/components/static-card-container.scss';
.select-container {
    width: $fullwidth;
    background-color: var(--white);
    padding-bottom:60px;
    .select-warp {
        padding: 10px;
        width:$fullwidth;
        .heading-3 {
            padding-bottom: 5px;
        }
        ul {
            width:$fullwidth;
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            li {
                font-size: 14px;
                padding: 0px 10px;
                border: 1px solid var(--platinum);
                margin-right: 8px;
                margin-top: 4px;
                margin-bottom: 4px;
                border-radius:$border-radius-8;
                line-height: 33px;
                font-weight: $font-bold;
                min-width: 34px;
                min-height: 34px;
                text-align: center;
            }
            li.selected {
                background-color: var(--misty-rose);
                border: 1px solid var(--primary);
                color: var(--primary);
            }

            li.inactive {
                background-color: var(--white);
                border: 1px solid var(--platinum);
                color:var(--silver);
            }
        }
    }
}
// TODO : static card replacement Done

.static-card-container{
    padding: 15px;
    border-bottom: 1px solid var(--platinum);
    .oos-listing-section{
        padding-top: 10px;
        .out-of-stock-text{
            color: var(--spanish-gray);
            font-size: $small-font;
            span{
                font-size: $large-font;
                font-weight: $font-bold;
            }
        }
    }
}