<div class="sub-strip">
    <div class="container">
        <!-- <h4 class="heading" (click)="salpu.shipping = getAddressList(addressList, 1).length > 1 ? true : false">Shipping Address ({{getAddressessCount(addressList, 1)}}) <i class="icon-dropdown" *ngIf="getAddressessCount(addressList, 1) > 1"></i></h4> -->
        <h4 class="heading">Delivery Address ({{getAddressessCount(addressList, 1)}})</h4>
        <!-- <span class="add-address" (click)="updateCheckoutAddressIndex(globalConstants['newAddress'], 1)">ADD</span>  -->
    </div>
</div>
<div class="address-container">
    <div class="shipping-container">
        <app-address-list (closePopUp$)="closePopUpBySelect($event)" (outData$)="outData($event)"
            [layoutType]="'SINGLE'" [addresses]="shippingAddressList" [type]="1" [showRadio]="false">
        </app-address-list>
        <div class="addButtonContainer">
            <div class="container">
                <button class=" btn redBgButton center-aligned-button-noborder" *ngIf="shippingAddressList.length > 0"
                    style="text-transform: uppercase;" (click)="salpu.shipping = true">Change or Add address</button>
                <button class="btn redBgButton center-aligned-button-noborder" *ngIf="shippingAddressList.length == 0"
                    style="text-transform: uppercase;"
                    (click)="updateCheckoutAddressIndex(globalConstants['newAddress'], 1, null, true)">Add new
                    address</button>
            </div>
        </div>
    </div>
    <invoice-type (outData$)="outData($event)"
        [taxHeading]="(invoiceTypeSectionHeadingText)?invoiceTypeSectionHeadingText:'Use GSTIN for Business Purchase'"
        [taxSubHeading]="(invoiceTypeSectionSubheadingText)?invoiceTypeSectionSubheadingText:'Claim input tax credit on your purchase.'">
    </invoice-type>
    <div class="sub-strip">
        <div class="container">
            <!-- <h4 class="heading" (click)="salpu.billing = getAddressList(addressList, 2).length > 1 ? true : false">Billing Address ({{getAddressessCount(addressList, 2)}}) <i class="icon-dropdown" *ngIf="getAddressessCount(addressList, 2) > 1"></i></h4> -->
            <h4 class="heading">Billing Address ({{getAddressessCount(addressList, 2)}})</h4>
            <!-- <span class="add-address" (click)="updateCheckoutAddressIndex(globalConstants['newAddress'],2)">ADD</span> -->
        </div>
    </div>
    <div class="shipping-container" *ngIf="invoiceType==='tax'">
        <app-address-list (closePopUp$)="closePopUpBySelect($event)" (outData$)="outData($event)"
            [layoutType]="'SINGLE'" [addresses]="billingAddressList" [type]="2" [showRadio]="false">
        </app-address-list>
        <div class="addButtonContainer">
            <div class="container">
                <button *ngIf="billingAddressList.length > 0" class="btn redBgButton center-aligned-button-noborder"
                    style="text-transform: uppercase;" (click)="salpu.billing = true">Change or Add address</button>
                <button *ngIf="billingAddressList.length == 0" class="btn redBgButton center-aligned-button-noborder"
                    style="text-transform: uppercase;"
                    (click)="updateCheckoutAddressIndex(globalConstants['newAddress'], 2, null, true)">Add new
                    address</button>
            </div>
        </div>


    </div>


    <!-- LIST OF ADDRESS POP UP STARTS  -->
    <app-pop-up *ngIf="salpu.shipping" (outData$)="outData($event)" class="bs-popup"
        [data]="{closeClass:'icon-back f-left',paraClass:'f-left page-name f-16',class: 'payment-popup addAddressPopup addCustomHeight',selector:'salpu.shipping',headerText:'Delivery Address'}">
        <div class="head-sec" header>
            <i class="icon-circle-delete f-left" (click)="salpu.shipping = false; closePopup(1)"></i>
            <p class="txt">Delivery Address ({{getAddressessCount(addressList, 1)}})</p>
            <!-- <span class="add-address" (click)="updateCheckoutAddressIndex(globalConstants['newAddress'], 1)" >ADD</span> -->
        </div>
        <div class="content-popup" content>
            <div class="add-address-substrip">
                <button class="btn btn-red-bordered center-aligned-button-noborder"
                    (click)="updateCheckoutAddressIndex(globalConstants['newAddress'], 1, null, true)">
                    + ADD NEW ADDRESS
                </button>
            </div>
            <app-address-list (closePopUp$)="closePopUpBySelect($event)" (outData$)="outData($event)"
                [addresses]="getAddressList(addressList, 1)" [type]="1" [showRadio]="true" content></app-address-list>
            <!-- <button (click)="selectAddress()" class="continue-btn btn">{{(deliverHereCTAText)?deliverHereCTAText:'DELIVER HERE'}}</button> -->
        </div>
    </app-pop-up>
    <!-- LIST OF ADDRESS POP UP ENDS  -->

    <app-pop-up *ngIf="salpu.billing" (outData$)="outData($event)" class="bs-popup"
        [data]="{closeClass:'icon-back f-left', paraClass:'f-left page-name f-16',class: 'payment-popup addAddressPopup addCustomHeight',selector:'salpu.billing',headerText:'Billing Address'}">
        <div class="head-sec" header>
            <i class="icon-circle-delete f-left" (click)="salpu.billing = false; closePopup(2)"></i>
            <p class="txt">Billing Address ({{getAddressessCount(addressList, 2)}})</p>
            <!-- <span class="add-address" (click)="updateCheckoutAddressIndex(globalConstants['newAddress'], 2)">ADD</span> -->
        </div>
        <div class="content-popup" content>
            <div class="add-address-substrip">
                <button class="btn btn-red-bordered center-aligned-button-noborder"
                    (click)="updateCheckoutAddressIndex(globalConstants['newAddress'], 2, null, true)">
                    + ADD NEW ADDRESS
                </button>
            </div>
            <app-address-list (closePopUp$)="closePopUpBySelect($event)" (outData$)="outData($event)"
                [addresses]="getAddressList(addressList, 2)" [type]="2" content [showRadio]="true"></app-address-list>
            <!-- <button (click)="selectAddress()" class="continue-btn btn">{{(deliverHereCTAText)?deliverHereCTAText:'DELIVER HERE'}}</button> -->
        </div>
    </app-pop-up>

    <app-pop-up-variant2 *ngIf="saf.sa || saf.ba" (outData$)="outData($event)" [class.open1]="saf.sa || saf.ba"
        [data]="{class: 'payment-popup addAddressPopup',headerCustom:true}">
        <div class="head-sec header_add_edit" header>
            <div class="container">
                <i class="icon-back f-left white_text" (click)="saf.sa = saf.ba = false;"></i>
                <p class="txt header_text page-name"> {{(editMode)? "Add" : "Edit" }} {{saf.sa ? "Delivery" :
                    "Billing"}} Address</p>
            </div>
            <!-- <span class="add-address">ADD</span> -->
        </div>
        <div class="content-popup card mt-15 pad-15" content>
            <shipping-address *ngIf="saf.sa" [invoiceType]="invoiceType" [addressType]="addressType"
                [isGstEnable]="isGstEnable" (acou$)="acou($event)" [address]="saf.address"
                [buttonText]="addressFormButtonText" [verifiedPhones]="verifiedPhones">
            </shipping-address>
            <billing-address *ngIf="saf.ba" [invoiceType]="invoiceType" [addressType]="addressType"
                [isGstEnable]="isGstEnable" (acou$)="acou($event)" [address]="saf.address"
                [buttonText]="addressFormButtonText">
            </billing-address>
        </div>
    </app-pop-up-variant2>

    <div class="alert-box" *ngIf="false">
        <div class="overlay"></div>
        <div class="content-area">
            <div class="info-area">
                <p class="info-title">Use this location?</p>
                <p class="info">D-188, Block D, Sector - 10, Noida, Uttarpradesh,201301</p>
            </div>
            <div class="button-area">
                <button class="cancel">CANCEL</button>
                <button class="continue">APPLY</button>
            </div>
        </div>
    </div>
</div>