@import "../../scss/variables";
@import "../../scss/components/checkbox";
@import "../../scss/components/radio";
@import "../../scss/layout/forms.scss";
@import '../../../app/modules/shared-checkout-address/common-checkout.scss';
.sub-strip {
    padding: 15px 10px 0px;
    border: 0;
    // &:not(:first-child) {
    //     margin-top: 20px;
    // }
    h4 {
        float: left;
        font-weight: 500;
        color: $txt-color;
        font-size: $medium-font;
        font-weight: bold;
        i {
            font-size: $medium-font;
            margin-left: 5px;
        }
    }
}

.address-list {
    @extend %clear-fix;
    // @extend %container;
    label {
        // padding: 10px 0;
        display: block;
        @extend %custom-radio-checkout;
        @extend %clear-fix;
        .chk-txt {
            font-size: $medium-font;
            width: calc(100% - 40px);
            margin-left: 0px;
            .heading-container {
                display: block;
                @extend %clear-fix;
                margin-bottom: 5px;
                .heading {
                    font-weight: 500;
                    float: left;
                    line-height: 20px;
                }
                .icon-dot {
                    line-height: 26px;
                    float: right;
                }
            }
            .txt {
                display: block;
                font-size: $medium-font;
                line-height: $small-line-height;
            }
        }
    }
}

.add-address {
    &::before {
        content: "+";
        margin-right: 5px;
        display: inline-block;
        font-size: 18px;
    }
    float: right;
    font-size: 16px;
    font-weight: 600;
    color: $blue-link-color;
}

.add-address-substrip {
    background: #f2f2f2;
    text-align: center;
    padding: 15px;
    .btn-red-bordered{
        font-size: $large-font;
        border-radius: $border-radius-8;
        height: 40px;
    }
    .blue-border-btn-full {
        font-size: $large-font;
        padding: 10px;
        border-radius: 0px;
    }
}

// .addAddressPopup{
//     background: #fff !important;;
//     .head-sec{
//       background:$logo-color !important;
//       i{
//         color:$white
//       }
//     }
//   }


.addAddressPopup {
    .header_add_edit {
        background: #d9232d !important;
        &.head-sec {
            padding: 12px 0;
            margin: 0;
            @extend %box-shadow;
            background: $white;
            i {
                font-size: 20px;
                line-height: 24px;
            }
            i + .page-name {
                font-size: $extra-large-font;
                margin-left: 10px;
                line-height: 26px;
                color: #fff;
                float: left;
            }
        }
    }
    .content-popup {
        height: calc(100% - 100px);
        overflow: auto;
        margin-top: 0px;
    }
}



.header_text {
    line-height: 26px !important;
}
