@import '../../scss/variables';
@import '../../scss/layout/cards.scss';

.installation-container{
  .installtion-services-container{
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 70px 0;
    .text-action{
      span{
        border-left: 3px solid var(--primary);
        padding: 0 0 0 15px;
        font-size: $extra-large-1-font;
        color: var(--onyx-black);
        margin: 0 0 20px 0;
        display: inline-block;
      }
      .first-text{
        p{
          font-size: $extra-large-font;
          font-weight:$font-bolder;
          padding: 10px 0;
          text-transform: uppercase;
          color: var(--primary);
          &:first-child{
            color: var(--onyx-black);
          }
        }
        .explore-now{
          background-color: var(--black);
          padding: 8px 70px;
          border-radius: 0;
          box-shadow: none;
          font-weight: $font-normal;
          text-transform: uppercase;
          font-size: $large-font;
          margin-top: 20px;
        }
      }
    }
  }
  .services-section{
    padding: 8px 15px;
    .services-block{
      padding: 10px 10px 20px;
      border: none;
      .install-inner-text{
        padding: 15px;
        p{
          font-size: $extra-large-2-font;
          color: var(--primary);
          margin-bottom: 15px;
        }
        ul{
          list-style: initial;
          color: var(--onyx-black);
          line-height: $medium-line-height;
          font-size: $medium-font;
        }
      }
      .book-now{
        border: 1px solid var(--black);
        color: var(--onyx-black);
        background: none;
        font-size: $large-font;
      }
    }
  }
}