@import "../../scss/variables";
@import "../../scss/components/checkbox.scss";
@import '../../scss/layout/forms.scss';
@import '../../scss/components/buttons.scss';
@import '../../modules/bottomMenu/bottom-menu.component.scss';
 
.rfqForm {
    .product-rfq {
        .multiple-form-field {
            display: flex;
            &>div {
                width: 60%;
                &:first-child {
                    width: 40%;
                }
            }
            margin-bottom: 0;
        }
        .outline-input-label {
            margin-bottom: 20px !important;
        }
        .rfq-checkbox {
            margin-bottom: 15px;
            @extend %clear-fix;
            label {
                @extend %custom-check-box-checkout;
                .custom-box {
                    font-size: $large-font;
                    width: 14px;
                    height: 14px;
                }
            }
            .chk-txt {
                font-size: $medium-font;
                width: calc(100% - 25px);
                float: right;
                .heading {
                    font-weight: $font-bold;
                    display: block;
                    font-size: $large-font;
                    color: var(--onyx-black);
                    line-height: $medium-line-height;
                }
                .txt {
                    font-size: $medium-font;
                    color: var(--onyx-black);
                    font-weight: $font-bold;
                }
            }
        }
        input,
        select {
            width: 100%;
            border: 1px solid #343434;
            border-width: 1px;
            height: 40px;
            padding: 0px 10px 0px 10px;
            font-size: 14px;
            border-radius: 3px;
            background: var(--white);
            font-family: inherit;
        }
        label.indusrty {
            position: relative;
            display: block;
            select+.icon-down {
                position: absolute;
                right: 10px;
                top: 15px;
                font-size: $large-font;
            }
        }
        @include placeholder {
            font-size: $large-font;
        }
        input {
            &:read-only {
                background: #E7E7E7;
            }
        }
        padding: 15px;
        p {
            // color: #f5681e;
            // font-size: 14px;
            // font-weight: bold;
            // line-height: 19px;
            &.error-txt {
                color: var(--primary);
                margin-top: 5px;
                font-weight: normal !important;

                &.break-line {
                    padding-left: 40px;
                }
            }
        }
        span {
            color: #53534f;
            font-weight: $font-normal;
            font-size: $medium-font;
            line-height: $small-line-height;
        }
        .req-qty {
            padding: 20px 0;
            display: flex;
            label {
                width: calc(100% - 160px);
                font-size: $large-font;
                line-height: $large-line-height;
            }
            .quantity-block {
                width: 160px;
                display: inline-flex;
                justify-content: flex-end;
                flex-wrap: wrap;
                .qty-btn {
                    width: 30px;
                    height: 30px;
                    text-align: center;
                    background: #dbedff;
                    border: 1px solid #8bc5ff;
                    line-height: 30px;
                    font-size: $large-font;
                    border-radius: $border-radius-2;
                }
                .add-qty {
                    margin-right: 5px;
                }
                .remove-qty {
                    margin-left: 5px;
                }
                input {
                    width: 60px;
                    padding: 0px;
                    height: 30px;
                    background: #ddd;
                    text-align: center;
                    border: none;
                    background: var(--white);
                    border-radius: $border-radius-2;
                    border: 1px solid #333;
                    font-size: $large-font;
                    font-weight: 500;
                }
            }
        }
    }
    .pdp-rfq-popup {
        .bottom-options.open[_ngcontent-ssr-pwa-c83] .content-box {
            bottom: 50px;
        }
    }
    .in-instock {
        background: var(--white);
        padding: 0px 8px;
    }
    .stickyRfqButton {
        position: fixed;
        width: $fullwidth;
        bottom: 0;
        height: 50px;
        left: 0;
        right: 0;
        &.bg-red {
            background: $logo-color;
        }
    }
}

.f-size-26 {
    font-size: 26px;
}