<ng-container *ngIf="templateRefInstance != null">
  <ng-container [ngSwitch]="type">
    <!-- REVIEW POINTS:: formatting missing -->
    <!-- REVIEW POINTS:: temp structure to be commented -->
    <!-- REVIEW POINTS:: Incorrect imp of switch case -->
    <ng-container *ngSwitchCase="'RECENTLY'">
      <!-- REVIEW POINTS:: use similar PDP skeleton structure and scss -->
      <div>
                <h1>RECENTLY seketon here</h1>
            </div>

    </ng-container>
  </ng-container>

  <ng-container [ngSwitch]="type">
    <ng-container *ngSwitchCase="'FEATURED-ARRIVALS'">
      <div>
                <h1>FEATURED-ARRIVALS seketon here</h1>
            </div>

    </ng-container>
  </ng-container>

  <ng-container [ngSwitch]="type">
    <ng-container *ngSwitchCase="'CATEGORIES'">
      <div>
                <h1>categoriesInstance seketon here</h1>
            </div>

    </ng-container>
  </ng-container>

</ng-container>
