<product-card-list-view
    [product]="product"
    [cardFeaturesConfig]="cardFeaturesConfig"
    [prodUrl]="prodUrl"
    [imageCdnPath]="imageCdnPath"
    [isOutOfStockByPrice]="isOutOfStockByPrice"
    [isOutOfStockByQuantity]="isOutOfStockByQuantity"
    [productReviewCount]="productReviewCount"
    [defaultImage]="defaultImage"
    [isPDPImageLazyLoaded]="isFirstView"
    ($isVisible)="cardVisisble($event)"
    ($showYTVideo)="showYTVideo($event)"
    ($naviagteToPDP)="navigateToPDP()"
    ($buyNow)="buyNow($event) "
    ($showRfqForm)="openRfqForm()"
    ($tracking)="sendTracking($event)"
    ($titleTracking)="trackProductTitle($event)"
>
</product-card-list-view>

<ng-container #variantPopup></ng-container>
<ng-container #addToCartToast></ng-container>
<ng-container #productRFQ></ng-container>
<ng-container #alertBox></ng-container>



