@import "../../scss/variables";
@media screen and (max-width: 320px) {
    .card-container {
        .left {
            width: 85px;
            text-align: center;

            img {
                max-width: 100%;
            }
        }
        .right {
            width: calc(100% - 95px);
        }
    }
}

.card-container{
    @extend %horizontal-card-container;
    &.grid-view-scrollable {
        width: 100%;
        padding: 10px 7px;
        border: 1px solid #e3e3e3;
        border-radius: 6px;
        background-color: #fff;
        flex-direction: column;

        .left {
            width: 100%;
            text-align: center;
            position: relative;
        }
        .right {
            width: 100%;

            .name {
                -webkit-line-clamp: 2;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                height: 2.8em;
                margin-bottom: 5px;
                line-height: 1.6em;
            }
            .brand {
                span {
                    text-align: left;
                }

                margin-bottom: 10px;
            }

            .price-details {
                flex-direction: column;
                min-height: 45px;

                .left {
                    text-align: left;
                    width: 100%;

                    .main-price {
                        margin-bottom: 8px;
                    }
                }

                .right {
                    text-align: left;
                    width: 100%;
                }
            }
        }
    }
    &.home-grid-view {
        width: 100%;
        padding: 10px 7px;
        border: 1px solid #e3e3e3;
        border-radius: 6px;
        background-color: #fff;
        flex-direction: column;

        .left {
            width: 100%;
            text-align: center;
            position: relative;
        }
        .right {
            width: 100%;

            .name {
                -webkit-line-clamp: 2;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                height: 2.8em;
                margin-bottom: 5px;
                line-height: 1.6em;
            }
            .brand {
                span {
                    text-align: left;
                }

                margin-bottom: 10px;
            }

            .price-details {
                flex-direction: column;
                min-height: 45px;

                .left {
                    text-align: left;
                    width: 100%;

                    .main-price {
                        margin-bottom: 8px;
                    }
                }

                .right {
                    text-align: left;
                    width: 100%;
                }
            }
        }
    }
    &.list-view {
        .left {
            width: 100px;
        }
        .right {
            width: calc(100% - 115px);
            .price-details {
                flex-direction: row;
                .left {
                    text-align: left;
                    width: calc(100% - 120px);
                }
                .right {
                    text-align: right;
                    width: 115px;
                }
            }
        }
    }
    .left {
        width: 100px;
        text-align: center;
        position: relative;

        img {
            width: 100%;
            height: auto;
            max-width: 100px;
        }
        .tags {
            position: absolute;
            top: 0px;
            left: 0px;

            img {
                height: 18px;
                width: 80px;
            }
        }
    }
    .right {
        width: calc(100% - 115px);

        .rating {
            position: relative;
            font-size: $small-font;
            height: 20px;
            display: flex;
            align-items: center;
            margin-top: 5px;
            margin-bottom: 5px;

            .ads {
                position: absolute;
                right: 10px;
                padding: 1px 3px;
                border: 1px solid #c0c0c0;
                border-radius: 2px;
            }

            span {
                margin-right: 5px;
            }
            .avgrating {
                display: inline;
                background-color: #458d00;
                padding: 3px 5px;
                color: #fff;
                border-radius: 3px;
                font-size: $small-font;

                i {
                    padding-left: 2px;
                    font-size: 7px;
                }
            }
            .count {
                color: #c0c0c0;
            }
        }
        .name {
            span {
                text-align: left;
                font-size: $large-font;
                color: #303030;
                line-height: 16px;
            }
        }
        .brand {
            span {
                margin-top: 4px;
                text-align: left;
                font-size: $medium-font;
                color: #b1b1b1;
            }

            margin-bottom: 10px;
        }
        .price-details {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            color: #2b2b2b;
            .left {
                text-align: left;
                width: calc(100% - 120px);
                .price {
                    font-size: $small-font;
                    margin-bottom: 5px;

                    span {
                        margin-right: 4px;
                    }
                    .crossed {
                        text-decoration: line-through;
                        opacity: 0.5;
                    }

                    .green-label {
                        font-weight: bold;
                        color: #3b9e26;
                    }
                }
                .main-price {
                    font-size: $large-font;
                    font-weight: bold;
                }
                .out-of-stock-text {
                    font-size: $small-font;
                    opacity: 0.5;
                }
                .out-of-stock-price {
                    font-size: $large-font;
                    opacity: 0.5;
                    font-weight: bold;
                    margin-top: 4px;
                    margin-bottom: 10px;
                }
            }
            .right {
                text-align: right;
                width: 115px;
                button {
                    width: calc(100% - 40px);
                    text-transform: uppercase;
                    font-size: $small-font;
                }
            }
        }
    }
}
.youtubeThumbnail-listing {
    padding-top: 10px;
    .thumbnail {
        background-size: cover;
        height: 120px;
        background-position: center center;
        background-repeat: no-repeat;
        position: relative;
        margin: 0px 10px;
        border-radius: 8px;
    }
    .youtube_icon {
        width: 70px;
        height: 70px;
        transform: translate(-50%, -50%);
        position: absolute;
        top: 50%;
        left: 50%;
    }
}

.add_cart_btn {
    border: 1px solid $logo-color;
    display: inline-block;
    border-radius: 4px;
    margin-right: 8px;
    width: 32px;
    text-align: center;
    vertical-align: middle;
    line-height: 28px;
    i {
        font-size: 20px;
        color: $logo-color;
        vertical-align: middle;
    }
}
.keyfeatures {
    background-color: #fff;
    padding: 0px 8px 8px 18px;
    ul {
        list-style: disc;

        li {
            color: #7b7b7b;
            font-size: $small-font;
            margin-bottom: 5px;
        }
    }
}
.no-card-border {
    border-bottom: 1px solid #e2e2e2;
    background: #fff;
}
.card-vertical {
    width: 165px;
    padding: 5px 7px 20px;
    min-height: 90px;
    background: white;
    float: left;
    // display: inline-flex;
    // &.card-half-width{
    //     width: 50%;
    //     display: inline-flex;
    // }
    // &.card-custom-width{
    //     width: 165px;
    // }
}
// .card-vertical-home{
//     width: 50% !important;
// }
.home-grid-view{
    width: 100%;
}
.available-item-card {
    width: 330px;
    border-radius: 8px;
    background: #fff;
    .card-container {
        padding: 5px 10px 5px 5px;
        .left {
            width: 90px;
            img {
                width: 90px;
            }
        }
        .right {
            width: calc(100% - 100px);
            .name {
                -webkit-line-clamp: 2;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                height: 2.8em;
                margin-bottom: 5px;
                line-height: 1.6em;
            }
            .rating {
                margin-top: 0px;
            }
            .green-label {
                margin-right: 0px !important;
            }
        }
    }
}
.s-h-l {
    pointer-events: none;
    opacity: 0;
    height: 0px;
    display: block;
}
.send-query-btn {
    width: 100% !important;
}
