
<div [ngClass]="{'plp-container-header-adjust': !_commonService.isScrolledHeader}" >
    <app-promo  [page]="'brand'" class="fixed-btm-app-prmo" [isOverlayMode]="true"></app-promo>
    <div class="container-fluid" [class.hidden]="_commonService.selectedFilterData.page > 1">
        <div class="row">
            <data-cms [background]="'bg-trans'" [cmsData]="API_RESPONSE?.brand[3]?.data?.data"></data-cms>
        </div>
    </div>
    
    <!-- Brand Product List Data -->
    <ng-container
        *ngIf="API_RESPONSE['brand'][1][0].categoryName && couponForbrandCategory && API_RESPONSE['brand'][0].brandName">
        <div class="instant-discount-container">
            <div class="discount-icon">
                <img src="../../../assets/img/best_deals.png" *ngIf="couponForbrandCategory && couponForbrandCategory['percentageDiscount']" >
                <img src="../../../assets/img/best_deals.png" style="width: 50px"  *ngIf="couponForbrandCategory && couponForbrandCategory['absoluteDiscount']" >
            </div>
            <div class="discount-text" *ngIf="couponForbrandCategory && couponForbrandCategory['absoluteDiscount']">
                <p class="green-txt">
                    {{ productStaticData?.pay_online_get_extra }} {{couponForbrandCategory['absoluteDiscount'] | currency:'INR' : 'symbol' : '1.0-0'}} {{ productStaticData?.off }}
                </p>
                <p>
                    {{ productStaticData?.using }} <b>{{ productStaticData?.wallets }}</b> {{ productStaticData?.on_min_cart_value }}
                    {{couponForbrandCategory['minimumCartValue'] | mathCeil | currency: 'INR' : 'symbol' :'1.0-0'}} {{productStaticData?.in}} {{API_RESPONSE['brand'][0].brandName}} {{API_RESPONSE['brand'][1][0].categoryName}}
                </p>
            </div>
            <div class="discount-text" *ngIf="couponForbrandCategory && couponForbrandCategory['percentageDiscount']">
                <p class="green-txt">
                    {{ productStaticData?.pay_online_get_extra }} {{couponForbrandCategory['percentageDiscount']}}% {{ productStaticData?.off }} {{ productStaticData?.on }} {{API_RESPONSE['brand'][0].brandName}} {{API_RESPONSE['brand'][1][0].categoryName}}
                </p>
                <p *ngIf="couponForbrandCategory['minimumCartValue']">
                    {{ productStaticData?.using }} <b>{{ productStaticData?.wallets }}</b> {{ productStaticData?.on_min_cart_value }}
                    {{couponForbrandCategory['minimumCartValue'] | mathCeil | currency: 'INR' : 'symbol' :'1.0-0'}} in {{API_RESPONSE['brand'][0].brandName}} {{API_RESPONSE['brand'][1][0].categoryName}}
                </p>
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="_commonService.selectedFilterData.page < 2">
        <ng-container *ngIf="adsenseData && adsenseData['TOP_BANNERS']">
            <adsense-main-banner [data]="adsenseData['TOP_BANNERS']"
                [analyticsIdentifier]="'TOP_BANNERS_'+adsenseData['ANALYTIC_IDENTIFIER']"></adsense-main-banner>
        </ng-container>
        <ng-container *ngIf="adsenseData && adsenseData['PROMOTOTED_BRAND_ADS']">
            <adsense-promoted-brands-unit [data]="adsenseData['PROMOTOTED_BRAND_ADS']"
                [analyticsIdentifier]="'PROMOTOTED_BRAND_ADS_'+adsenseData['ANALYTIC_IDENTIFIER']">
            </adsense-promoted-brands-unit>
        </ng-container>
        <ng-container *ngIf="adsenseData && adsenseData['FEATURED_PRODUCT_ADS']">
            <adsense-feature-products-unit [data]="adsenseData['FEATURED_PRODUCT_ADS']"
                [analyticsIdentifier]="'FEATURED_PRODUCT_ADS_'+adsenseData['ANALYTIC_IDENTIFIER']">
            </adsense-feature-products-unit>
        </ng-container>
    </ng-container>


    <div class="pwa-row cate-container"
        *ngIf="API_RESPONSE['brand'][1][0].categoryName && _commonService.selectedFilterData.page < 2">
        <div class="pwa-col-12">
            <div class="sub-cate-container np-btm" >
                    <p class="desc-brand"> {{ productStaticData?.moglix_offers_quality_genuine }}
                        <a class="text-blue"
                            [routerLink]="[(this._router.url.split('/brands/' + this._activatedRoute.snapshot.params['brand'])[1]).split('#')[0].split('?')[0]]"
                            style="text-transform: capitalize">
                            {{API_RESPONSE['brand'][1][0].categoryName}}
                        </a> {{ productStaticData?.from_renowned_brand }}
                        <a class="text-blue"
                            [routerLink]="['/brands/' + API_RESPONSE['brand'][0].friendlyUrl]">{{API_RESPONSE['brand'][0].brandName}}</a>.
                        {{ productStaticData?.brand_cat_heading }} {{(API_RESPONSE['brand'][1][0]?.heading | removeHTML)}}. {{ productStaticData?.brand_cat_desc }}
                    </p>
            </div>
        </div>
    </div>

    <shared-product-listing [adsenseData]="adsenseData" [pageName]="'BRAND'" [brandName]="API_RESPONSE['brand'][0].brandName"
        [brandUrl]="API_RESPONSE['brand'][0].friendlyUrl"
        [headerName]="productStaticData?.shop + ' ' + (API_RESPONSE['brand'][1][0]?.heading ? (API_RESPONSE['brand'][1][0]?.heading | removeHTML) : API_RESPONSE['brand'][0].brandName) + (API_RESPONSE['brand'][1][0].categoryName ? ' ' + productStaticData?.online : ' ' + productStaticData?.products)"
        [productsListingData]="_productListService?.productListingData"
        [informativeVideosData]="informativeVideosData"
        [isAcceptLanguage] = 'isAcceptLanguage'
        [categoryName]="API_RESPONSE['brand'][1][0].categoryName">      
    </shared-product-listing>

    <recent-viewed-products-wrapper [pageName]="'brand'" [moduleUsedIn]="(API_RESPONSE['brand'][1][0].categoryName)?'PRODUCT_RECENT_PRODUCT_BRAND_CATEGORY':'PRODUCT_RECENT_PRODUCT_BRAND'"></recent-viewed-products-wrapper>

    <ng-container *ngIf="_commonService.selectedFilterData.page < 2 && adsenseData && adsenseData['VIDEOS_ADS']">
        <adsense-related-videos [data]="adsenseData['VIDEOS_ADS']" [analyticsIdentifier]="'VIDEOS_ADS_'+adsenseData['ANALYTIC_IDENTIFIER']"></adsense-related-videos>
    </ng-container>
    
    <app-accordian [accordiansDetails]="accordiansDetails"></app-accordian>
    
    <div class ="promo-container">
        <product-listing-app-promo></product-listing-app-promo>
    </div>
       
    <brand-details-footer [productStaticData]='productStaticData' *ngIf="_commonService.selectedFilterData.page < 2" [brandDetailsFooterData]="brandFooterData">
    </brand-details-footer>
    
    <!-- Breadcrump of brand page -->
    <ul class="bread-head no-margin mar-b-15" [ngClass]="{'notFoundEl': !(API_RESPONSE['brand'][0]['active']) }">
        <li [routerLink]="['/']" class="f-size-12"> <a [href]="baseDomain + '/'">{{ productStaticData?.home }}</a></li>
        <li [routerLink]="['/brand-store']" class="item f-size-12"><a [href]="baseDomain + '/brand-store'">{{ productStaticData?.brand }}</a></li>
        <li class="item f-size-12">
            <a [routerLink]="['/brands/' + API_RESPONSE['brand'][0].friendlyUrl]" style="text-transform: capitalize">
                {{API_RESPONSE['brand'][0].brandName}}</a>
        </li>
        <li *ngIf="API_RESPONSE['brand'][1][0]?.categoryName" class="item f-size-12">
            <a (click)="navigateTo()" style="text-transform: capitalize">{{API_RESPONSE['brand'][1][0]?.categoryName}}</a>
        </li>
    </ul>
</div>