@import "../../scss/variables";
.light-txt {
  font-weight: 400;
}
.cate-container {
  background: white;
  margin-bottom: 65px;
}
.sub-cate-container {
  background: #e9f0f4;
}

.ico-expand {
  .icon-expand {
    &:before {
      content: "\e919";
    }
  }
}
.pt-1 {
  padding-top: 1px;
}
.panel-head {
  background: #fff;
  margin-top: 10px;
}
.brand-tbl {
  th,
  td {
    font-size: 12px;
    font-weight: normal;
    text-align: left;
    border-bottom: 1px solid $border-color;
    padding: 5px;
  }
}
.date-text {
  font-size: 12px;
}
.titleCategory p {
  width: calc(100% - 25px);
  display: inline-block;
}

.brandsSection {
  padding: 15px;
  background: #f2f2f2;

  .innerBrandSection {
    box-shadow: 0px 3px 6px #0000001a;
    border-radius: 4px;
    opacity: 1;
    background: #fff;
    padding: 15px 30px;
  }

  h4 {
    font-size: 14px;
    font-weight: bold;
    color: #303030;
    line-height: 19px;
    padding-bottom: 8px;
  }
  .border-bottom {
    border: 1px solid #ddd;
    display: block;
    margin: auto;
    margin-bottom: 5px;
  }
  .brandList {
    font-size: 13px;
    font-weight: 400;
    color: #2b2b2b;
    line-height: 21px;
    padding: 5px 0 0;
    text-decoration: none;
  }
}

.bread-head {
  background-color: white;
  padding: 10px;
}

.bread-head li {
  list-style: none;
  display: inline;
  margin-right: 10px;
  cursor: pointer;
}

.bread-head li:not(:last-child):after {
  content: ">";
  margin-left: 10px;
  margin-right: -5px;
}