@import "../../scss/variables";

:host {
  display: block;
  margin: 0px 0px 75px ​0px;

  .slide-up {
    transform: translateY(0);
  }

  .filter-wrapper {
    position: fixed;
    bottom: 0;
    z-index: 5;
    left: 0;
    width: 100%;
    box-shadow: 1px -3px 8px #cecece;
    background: #fff;

    &.slide-up {
      bottom: 0;
    }

    button {
      width: 50%;
      height: 54px;
      border: none;
      background: transparent;
      float: left;
      font-size: 16px;
      font-weight: 500;
      text-align: center;
    }
  }
}
