<div class="container-fluid" [class.hidden]="_commonService.selectedFilterData.page > 1">
    <div class="row">
        <cms [background]="'bg-trans'" [cmsData]="API_RESPONSE?.brand[3]?.data?.data"></cms>
    </div>
</div>

<!-- Brand Product List Data -->
<div class="cate-container"
    *ngIf="API_RESPONSE['brand'][1][0].categoryName && _commonService.selectedFilterData.page < 2">
    <div class="sub-cate-container np-btm">
        <div class="container pt-10">
            <p class="desc-brand"> Moglix offers superior quality and genuine
                <a class="text-blue"
                    [routerLink]="[(this._router.url.split('/brands/' + this._activatedRoute.snapshot.params['brand'])[1]).split('#')[0].split('?')[0]]"
                    style="text-transform: capitalize">
                    {{API_RESPONSE['brand'][1][0].categoryName}}
                </a> from a renowned brand
                <a class="text-blue"
                    [routerLink]="['/brands/' + API_RESPONSE['brand'][0].friendlyUrl]">{{API_RESPONSE['brand'][0].brandName}}</a>.
                Easily browse through our assortment and explore more about price, specifications, availability, and
                deals online for {{(API_RESPONSE['brand'][1][0]?.heading | removeHTML)}}. Buy these products
                at best prices and get them delivered at your doorstep across India.
            </p>
        </div>
    </div>
    <div class="clearfix"></div>
</div>

<shared-product-listing [pageName]="'BRAND'" [brandName]="API_RESPONSE['brand'][0].brandName"
    [brandUrl]="API_RESPONSE['brand'][0].friendlyUrl"
    [headerName]="'Shop ' + (API_RESPONSE['brand'][1][0]?.heading ? (API_RESPONSE['brand'][1][0]?.heading | removeHTML) : API_RESPONSE['brand'][0].brandName) + (API_RESPONSE['brand'][1][0].categoryName ? ' Online' : ' Products')"
    [productsListingData]="_productListService?.productListingData">
</shared-product-listing>


<div class="accordian_footer_panel">
    <ng-container *ngIf="popularLinks?.length > 0">
        <div class="panel-head" style="margin-top: 0px;">
            <div class="container">
                <h3 class="heading-3" [appKpToggle]="{idName: 'popularBrandCategoryAccord', iconMode : true}">
                    Popular Brand Categories
                    <span class="icon-accordian">
                        <i class="icon-down"></i>
                    </span>
                </h3>
            </div>
        </div>
        <div [id]="'popularBrandCategoryAccord'" [style.display]="popularLinks?.length > 0 ? 'block' : 'none'"
            class="panel-body">
            <div class="container category_links">
                <div *ngFor="let category of popularLinks | slice:0:10">
                    <a (click)="accordianNav(getUrlPathName(API_RESPONSE.brand[1][0].categoryLinkList[category]));$event.preventDefault()" href="{{API_RESPONSE.brand[1][0].categoryLinkList[category]}}">{{
                        API_RESPONSE['brand'][0].brandName + ' ' + category }} </a>
                </div>
            </div>
        </div>
    </ng-container>

    <ng-container *ngIf="popularCategories?.length > 0">
        <div class="panel-head" style="margin-top:0px;">
            <div class="container">
                <h3 class="heading-3" [appKpToggle]="{idName: 'popularCategoryAccord', iconMode : true}">
                    Popular Categories
                    <span class="icon-accordian">
                        <i class="icon-down"></i>
                    </span>
                </h3>
            </div>
        </div>
        <div [id]="'popularCategoryAccord'"
            [style.display]="(popularLinks?.length === 0 && popularCategories?.length > 0)? 'block' : 'none'"
            class="panel-body">
            <div class="container category_links">
                <div *ngFor="let category of popularCategories | slice:0:10">
                    <a (click)="accordianNav(category?.link);$event.preventDefault()" href="{{baseDomain}}/{{category?.link}}">{{ category?.name }} </a>
                </div>
            </div>
        </div>
    </ng-container>

    <ng-container *ngIf="API_RESPONSE.brand[4] && API_RESPONSE.brand[4].data && API_RESPONSE.brand[4].data.length > 0">
        <div class="panel-head" style="margin-top: 0px;">
            <div class="container">
                <h3 class="heading-3" [appKpToggle]="{idName: 'attributeAccoridan', iconMode : true}">
                    Related Searches
                    <span class="icon-accordian">
                        <i class="icon-down"></i>
                    </span>
                </h3>
            </div>
        </div>
        <div [id]="'attributeAccoridan'"
            [style.display]="(!popularLinks?.length && !popularCategories?.length && API_RESPONSE.brand[4].data?.length > 0) ? 'block' : 'none'"
            class="panel-body">
            <div class="container category_links" *ngIf="API_RESPONSE.brand[4] && API_RESPONSE.brand[4].data">
                <div *ngFor="let attribute of API_RESPONSE.brand[4].data | slice:0:10">
                    <a (click)="accordianNav(attribute.friendlyUrl);$event.preventDefault()" href="{{baseDomain}}/{{attribute.friendlyUrl}}">{{ attribute.title }}</a>
                </div>
            </div>
        </div>
    </ng-container>

    <ng-container
        *ngIf="API_RESPONSE.brand[2]?.mostSoledCategories && API_RESPONSE.brand[2]?.mostSoledCategories.length > 0">
        <div class="panel-head" style="margin-top: 0px;">
            <div class="container">
                <h3 class="heading-3" [appKpToggle]="{idName: 'mostSoldAccoridan', iconMode : true}">
                    Similar Category
                    <span class="icon-accordian">
                        <i class="icon-down"></i>
                    </span>
                </h3>
            </div>
        </div>
        <div [id]="'mostSoldAccoridan'"
            [style.display]="(!popularLinks?.length && !popularCategories?.length && !API_RESPONSE.brand[4].data?.length && API_RESPONSE.brand[2].mostSoledCategories.length > 0 ) ? 'block' : 'none'"
            class="panel-body">
            <div class="container category_links">
                <div *ngFor="let attribute of API_RESPONSE.brand[2]?.mostSoledCategories  | slice:0:10">
                    <a (click)="accordianNav(attribute.categoryLink);$event.preventDefault()" href="{{baseDomain}}/{{attribute.categoryLink}}">{{ attribute.categoryName }}</a>
                </div>
            </div>
        </div>
    </ng-container>
</div>

<product-listing-app-promo></product-listing-app-promo>

<brand-details-footer *ngIf="_commonService.selectedFilterData.page < 2" [brandDetailsFooterData]="brandFooterData">
</brand-details-footer>

<!-- Breadcrump of brand page -->
<ul class="bread-head no-margin mar-b-15" [ngClass]="{'notFoundEl': !(API_RESPONSE['brand'][0]['active']) }">
    <li [routerLink]="['/']" class="f-size-12">Home</li>
    <li [routerLink]="['/brand-store']" class="item f-size-12">Brand</li>
    <li class="item f-size-12">
        <a [routerLink]="['/brands/' + API_RESPONSE['brand'][0].friendlyUrl]" style="text-transform: capitalize">
            {{API_RESPONSE['brand'][0].brandName}}</a>
    </li>
    <li *ngIf="API_RESPONSE['brand'][1][0]?.categoryName" class="item f-size-12">
        <a (click)="navigateTo()" style="text-transform: capitalize">{{API_RESPONSE['brand'][1][0]?.categoryName}}</a>
    </li>
</ul>