.RTO-wrap {
    width: 100%;
    margin: auto;
    margin-top: 20px;
    padding: 15px 6px;
    .cancellation-feedback-wrap {
        box-shadow: 0px 3px 15px #0000001f;
        border-radius: 8px;
        .cancellation-head {
            background: #4196fb;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
            .text {
                text-align: left;
                color: #fff;
                padding: 20px 15px;
                display: inline-block;
                p {
                    color: #fff;
                    font-size: 12px !important;
                    font-weight: 400;
                }
                h1 {
                    font-size: 24px;
                    font-weight: 700;
                    padding-bottom: 5px;
                }
            }
            .image {
                display: inline-block;
                text-align: right;
                vertical-align: top;
                .pImage {
                    width: 40px;
                }
            }
        }
        .order-id {
            background: #fff;
            padding: 25px 7px;
            border-bottom-right-radius: 8px;
            border-bottom-left-radius: 8px;
            p {
                font-size: 16px;
                font-weight: 400;
                color: #3c3c3c;
                padding-bottom: 10px;
            }
            .product-details {
                border: 1px solid #e5e5e5;
                max-width: 438px;
                width: 100%;
                padding: 15px 0;
                border-radius: 8px;
                .image {
                    vertical-align: top;
                    display: inline-block;
                    padding: 0 5px;
                    img {
                        width: 20px;
                    }
                }
                .text {
                    display: inline-block;
                    p {
                        font-size: 12px !important;
                        font-weight: 400;
                        line-height: 15px;
                        width: 250px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
            }
        }
    }
    .cancel-order-radio {
        background: #fff;
        border-radius: 8px;
        margin-top: 20px;
        padding: 30px 15px;
        box-shadow: 0px 3px 15px #0000001f;
        .asterick {
            color: #db232e;
            display: inline-block;
        }
        span {
            display: block;
            margin-bottom: 15px;
            &:last-child {
                margin-bottom: 0;
            }
            label {
                vertical-align: middle;
                font-size: 15px;
                margin: 0;
            }
        }
        input[type="radio"] {
            width: 24px;
            height: 24px;
            display: inline-block;
            vertical-align: middle;
            margin: 0 10px 0 0;
            -webkit-appearance: radio;
        }
        textarea {
            padding: 10px;
            width: 100%;
        }
        p {
            padding-bottom: 20px;
            font-size: 16px;
        }
        form {
            .form-group {
                display: block;
                margin-bottom: 20px;
                input[type="checkbox"] {
                    display: inline-block !important;
                    margin-right: 10px;
                    vertical-align: middle;
                    width: 20px;
                    height: 20px;
                    -webkit-appearance: checkbox;
                }
                label {
                    font-size: 15px;
                    font-weight: 400;
                    vertical-align: middle;
                    margin: 0;
                }
                textarea {
                    border: 1px solid #cccccc;
                    margin-left: 25px;
                    margin-top: 12px;
                    vertical-align: middle;
                    border-radius: 6px;
                    padding: 10px;
                    width: 100%;
                    max-width: 224px;
                }
            }
        }
    }
    .submit {
        background: #f5681e;
        border-radius: 3px;
        padding: 15px;
        font-size: 14px;
        font-weight: 700;
        color: #fff;
        margin-top: 30px;
        border: none;
        display: block;
        width: 100%;
        margin-bottom: 30px;
    }
}

@media screen and (min-width: 360px) {
    .text {
        p {
            font-size: 9px !important;
            line-height: 14px;
            font-weight: 400;
        }
    }
}

@media screen and (min-width: 320px) {
    .text {
        p {
            font-size: 8px !important;
            line-height: 12px;
        }
    }
    .image {
        // .chair {
        //     width: 35px !important;
        // }
    }
}
