<section class="revamp-brandStore">
    <div class="head-bs">
        <img src="assets/img/brand-store.png">
    </div>

    <!--brand store carousel-->
    <div id="brand-store-carousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="assets/img/top-banner.png">
            </div>

            <div class="carousel-item">
                <img src="assets/img/top-banner.png">
            </div>
        </div>
    </div>

    <!--Moglix Recommended-->
    <div class="moglix-recommended">
        <h2>Moglix Recommended</h2>
        <div class="product-image">
            <img src="assets/img/product.png">
        </div>
        <div class="product-image">
            <img src="assets/img/product.png">
        </div>
    </div>

    <div class="banner-wrap">
        <img src="assets/img/banner-3.png">
    </div>
    <div class="banner-wrap">
        <img src="assets/img/banner-3.png">
    </div>

    <!--In The Spotlight-->
    <div class="spotlight-section">
        <h2>In The Spotlight</h2>
        <div id="brand-store-carousel" class="carousel slide spotlight-carousel" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="assets/img/brand.png">
                </div>

                <div class="carousel-item">
                    <img src="assets/img/brand.png">
                </div>
                <div class="carousel-item">
                    <img src="assets/img/brand.png">
                </div>
                <div class="carousel-item">
                    <img src="assets/img/brand.png">
                </div>
                <div class="carousel-item">
                    <img src="assets/img/brand.png">
                </div>
            </div>
        </div>
    </div>

    <!--Brands for your Home Productivity-->
    <div class="brands-home-productivity">
        <h2>Brands for your Home Productivity</h2>
        <img src="assets/img/brand_store.png">
    </div>

    <div id="brand-store-carousel" class="carousel slide spotlight-carousel" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active brand-logo">
                <img src="assets/img/brand-1.png">
            </div>
            <div class="carousel-item brand-logo">
                <img src="assets/img/brand-1.png">
            </div>
            <div class="carousel-item brand-logo">
                <img src="assets/img/brand-1.png">
            </div>
            <div class="carousel-item brand-logo">
                <img src="assets/img/brand-1.png">
            </div>
            <div class="carousel-item brand-logo">
                <img src="assets/img/brand-1.png">
            </div>
            <div class="carousel-item brand-logo">
                <img src="assets/img/brand-1.png">
            </div>
            <div class="carousel-item brand-logo">
                <img src="assets/img/brand-1.png">
            </div>
            <div class="carousel-item brand-logo">
                <img src="assets/img/brand-1.png">
            </div>
        </div>
    </div>

    <div id="brand-store-carousel" class="carousel slide spotlight-carousel" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active brand-logo">
                <img src="assets/img/brand-1.png">
            </div>
            <div class="carousel-item brand-logo">
                <img src="assets/img/brand-1.png">
            </div>
            <div class="carousel-item brand-logo">
                <img src="assets/img/brand-1.png">
            </div>
            <div class="carousel-item brand-logo">
                <img src="assets/img/brand-1.png">
            </div>
            <div class="carousel-item brand-logo">
                <img src="assets/img/brand-1.png">
            </div>
            <div class="carousel-item brand-logo">
                <img src="assets/img/brand-1.png">
            </div>
            <div class="carousel-item brand-logo">
                <img src="assets/img/brand-1.png">
            </div>
            <div class="carousel-item brand-logo">
                <img src="assets/img/brand-1.png">
            </div>
        </div>
    </div>

    <!--Premium Brand-->
    <div class="premium-brand">
        <h2>Premium Brand</h2>
        <div class="inner-premium-band">
            <img src="assets/img/banner_3.png">
        </div>
        <div class="inner-premium-band">
            <img src="assets/img/banner_3.png">
        </div>

        <div class="inner-premium-band">
            <img src="assets/img/banner_3.png">
        </div>
        <div class="inner-premium-band">
            <img src="assets/img/banner_3.png">
        </div>
    </div>

    <!--For a productive home office-->

    <div class="home-office">
        <h2>For a productive home office</h2>

        <div class="outer-wrap-HO">
            <div class="inner-home-office">
                <img src="assets/img/home-office.png">
            </div>
            <div class="inner-home-office">
                <img src="assets/img/home-office.png">
            </div>
            <div class="inner-home-office">
                <img src="assets/img/home-office.png">
            </div>
        </div>

        <div class="outer-wrap-HO">
            <div class="inner-home-office">
                <img src="assets/img/home-office.png">
            </div>
            <div class="inner-home-office">
                <img src="assets/img/home-office.png">
            </div>
            <div class="inner-home-office">
                <img src="assets/img/home-office.png">
            </div>
        </div>

        <div class="outer-wrap-HO">
            <div class="inner-home-office">
                <img src="assets/img/home-office.png">
            </div>
            <div class="inner-home-office">
                <img src="assets/img/home-office.png">
            </div>
            <div class="inner-home-office">
                <img src="assets/img/home-office.png">
            </div>
        </div>
    </div>
</section>

<section class="brands-container bg-white brandBlock">
    <!-- <div *ngIf="brandsLogo && brandsLogo.length > 0" class="container">
        <ul class="brands-logo">
            <li *ngFor="let brand of brandsLogo">
                <a [routerLink]="'/'+brand.image_link">
                    <img src="{{API['IMAGE_BASE_URL']}}{{brand.image_name}}">
                </a>
            </li>
        </ul>
    </div> -->
    <div class="panel-head">
        <h3 class="heading titleBrand" [appKpToggle]="{idName: 'letterContainer',iconMode :true}">
            ALL BRANDS
            <span class="iconaccordian">
                <i class="icon-expand"></i>
            </span>
        </h3>
    </div>
    <div id="letterContainer" style="display:none;">
        <div id="letterId" class="row bg-lightGrey alphabetBlock">
            <div class="innerBlock">
                <ul>
                    <li *ngFor="let letter of final_arr;let j= index;">
                        <a (click)="scrollToList(j)">{{letter['letter']}}</a>
                    </li>
                </ul>
            </div>
        </div>
        <div id="letterName" class="row bg-white nameBlock">
            <p>Showing
                <span>{{total_count}}</span>&nbsp;Brands
            </p>
            <div id="alphabet_{{i}}" class="fullNameBlock clearfix" *ngFor="let brand of final_arr;let i = index;">
                <span class="letter">{{brand['letter']}}</span>
                <ul>
                    <li *ngFor="let nameA of brand.nameArr">
                        <a href="{{nameA.link}}">{{nameA.name}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!-- CMS content of Brand page -->
<div class="container-fluid" *ngIf="cmsData">
    <div class="row">
        <cms [background]="'bg-trans'" [cmsData]="cmsData"></cms>
    </div>
</div>

<section class="brands-container bg-white brandBlock">
    <div *ngIf="brandsLogo && brandsLogo.length > 0" class="container">
        <ul class="brands-logo">
            <li *ngFor="let brand of brandsLogo">
                <a [routerLink]="'/'+brand.image_link">
                    <img src="{{API['IMAGE_BASE_URL']}}{{brand.image_name}}">
                </a>
            </li>
        </ul>
    </div>
    <div class="panel-head">
        <h3 class="heading titleBrand" [appKpToggle]="{idName: 'letterContainer',iconMode :true}">
            ALL BRANDS
            <span class="iconaccordian">
                <i class="icon-expand"></i>
            </span>
        </h3>
    </div>
    <div id="letterContainer" style="display:none;">
        <div id="letterId" class="row bg-lightGrey alphabetBlock">
            <div class="innerBlock">
                <ul>
                    <li *ngFor="let letter of final_arr;let j= index;">
                        <a (click)="scrollToList(j)">{{letter['letter']}}</a>
                    </li>
                </ul>
            </div>
        </div>
        <div id="letterName" class="row bg-white nameBlock">
            <p>Showing
                <span>{{total_count}}</span>&nbsp;Brands
            </p>
            <div id="alphabet_{{i}}" class="fullNameBlock clearfix" *ngFor="let brand of final_arr;let i = index;">
                <span class="letter">{{brand['letter']}}</span>
                <ul>
                    <li *ngFor="let nameA of brand.nameArr">
                        <a href="{{nameA.link}}">{{nameA.name}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>