@import '../../../scss/variables';
:host{
  padding: 5px 0px 0px 0px;
  display: block;
}
.brands-container{
  background: var(--white);
  padding: 0;
  .about{
    width: 80%;
    margin: 15px auto;
    font-size: $large-font;
  }
  .panel-head{
    background:var(--cultured);
    margin-top: 10px;
    h3{
      font-size: $extra-large-font;
      padding: 15px 15px;
      .iconaccordian{
        float: right;
      }
    }
  }
}
.brandBlock{
  .alphabetBlock{
    overflow-x:scroll;
     width:$fullwidth;
    .innerBlock{
      width:1300px;
      background:var(--ghost-white);
      top: 0;
      ul{
        margin-bottom:0px;
        padding:15px;
        li{
          list-style:none;
          float:left;
          margin: 5px;
          width: 70px;
          text-align:center;
          a{
            display:block;
            background:var(--primary);
            border-radius:$border-radius;
            padding:10px 20px;
            color:var(--white);  
            font-size:$extra-large-font;
            font-weight:$font-bold;
          }
        }
      }
    }
  }
  .nameBlock{
    background: var(--white);
    padding:10px 10px;
    & >p{
      font-weight:200;
      font-size:18px;
      padding-bottom:40px;
      span{
          color:var(--primary);
      }
    }
    .fullNameBlock{
      margin-bottom:20px;
      span{
        &.letter{
          background:var(--primary);
          border-radius:$border-radius;
          padding:5px 20px;  
          color:var(--white);
          font-weight:bold;
          display:inline-block;
          margin-bottom:5px;
        }
      }
        ul{
          width:100%;
          li{
            list-style:none;
            float:left;
            width:33.3%;
            a{
              display:block;
              padding:5px;
              font-size:$medium-font;
              word-break: break-all;
            }
          }
        }
    }
  }
}
.ico-expand{
  .icon-expand{
    &:before{
      content: "\e919";
    }
  }
}