<div class="smallimages-articlewrap"  [ngStyle]="customStyle">
    <!-- {{listOfImgs.length}} -->
    <div [style.width.px]="listOfImgs.length * 135" class="smallimages-articlewrap-inner">
        <div class="smallimages-article" *ngFor="let item of listOfImgs">
            <img src="{{imagePath + item['imageLink']}}" [alt]="item['imageTitle']" (click)="$event.stopPropagation();_cmsService.navigateTo(item['redirectPageLink'], {navigation:'brand_store_' + componentName  + item['imageTitle'] })" />
        </div>
    </div>
</div>