<ng-container *ngIf="images.length">
    <div class="mainImageLarge">
        <img src="{{images[currentImageIndex].large}}">
    </div>
    <div (touchstart)="$event.stopPropagation();" class="thumbnailImageSlider">
        <div class ="thumbnailImageSlider-wrap">
           <div *ngFor="let image of images;let imgIndex=index;">
            <img src="{{image.medium}}"
                [class.activeImgSlide]="imgIndex === currentImageIndex"
                (click)="$event.stopPropagation();updateImageIndex(imgIndex)">
           </div>
         </div>
    </div>
</ng-container>