<ng-container *ngIf="images.length">
    <div class="mainImageLarge">
        <img src="{{images[currentImageIndex].large}}">
        <app-pop-up-variant2 *ngIf="show360popupFlag" (outData$)="outData($event)" [headerType]="'pop-up-header1'" [data]="{headerText: ''}">
            <div class="content-popup" content>
                <div [debounceTime]="100" data-observeVisibility (visible)="load360ViewComponent()">
                    <ng-container #product3dContainerRef></ng-container>
                </div>
            </div>
        </app-pop-up-variant2>
    </div>
    <div (touchstart)="$event.stopPropagation();" class="thumbnailImageSlider">
        <div class ="thumbnailImageSlider-wrap">
            <button (click)="load360ViewComponent()">
                Load 360 viewer
            </button>
           <div *ngFor="let image of images;let imgIndex=index;">
            <img src="{{image.medium}}"
                [class.activeImgSlide]="imgIndex === currentImageIndex"
                (click)="$event.stopPropagation();updateImageIndex(imgIndex)">
           </div>
         </div>
    </div>
</ng-container>
