@import '../../../scss/variables';
.mainImageLarge {
    img {
        width: $fullwidth;
        height:360px;
    }
}
.thumbnailImageSlider{
    width: $fullwidth;
    .thumbnailImageSlider-wrap{
       display:flex;
       overflow-x:auto;
       background: var(--ghost-white);
       padding:15px;
       &::-webkit-scrollbar {
           display: none;
       } 
       -ms-overflow-style: none;  /* IE and Edge */
       scrollbar-width: none; 
       &>div{
        margin-right:15px;
        .activeImgSlide{
          border: 1px solid var(--primary);
        }
        &:last-child{
            margin-right:0px;
        }
         img{
             width:100px;
             height:100px;
         }
     }
    }
}

