@import '../../scss/variables.scss';

.load-bulk-rfq{
    width: 100%;
    .load-bulk-rfq-inner{
        background-image: radial-gradient(#FDF7BA, #FFE3CA);
        .buy-with-gst{
            display: flex;
            align-items: center;
            .bwg-txt{
                width: 60%;
                h2{
                    font-size: $extra-large-1-font;
                    line-height: 25px;
                }
                p{
                    font-size: $medium-font;
                    line-height: $small-line-height;
                }
            }
            .bwg-img{
                width: 40%;
                img{
                    width: 100%;
                }

            }
            
        }
        button{
            cursor: pointer;
        }
    }
    
}