@import '../../../../scss/variables';
.text-article {
    margin: 0px;
    font-size: $large-font;
    padding: 0px 15px;
    h1 {
        color: var(--onyx-black);
        font-size: $extra-large-2-font;
        margin: 0;
        // padding: 0 0 5px 0;
    }
    h2 {
        color: var(--onyx-black);
        font-size: $extra-large-1-font;
        margin: 0;
        padding: 20px 0px 0px 0px;
    }
    h3 {
        color: var(--onyx-black);
        font-size: $extra-large-font;
        margin: 0;
        padding: 20px 0px 0px 0px;
    }
    p {
        color: var(--onyx-black);
        font-size: $large-font;
        padding: 10px 0 0 0;
        margin: 0;
        line-height: $medium-line-height;
        a {
            font-size: $large-font;
        }
    }
    ul, ol, dl {
        padding: 10px 0 0 15px;
        margin: 0;
        list-style: unset;
        li {
            font-size: $large-font;
            padding: 0 0 20px 0;
            color: var(--gray-web);
        }
    }
    table {
        font-size: $medium-font;
        border: 1px solid var(--gray-web);
        width: $fullwidth;
        margin: 20px 0 15px 0;
        border-radius: $border-radius-6;
        border-collapse: collapse;
        th {
            background-color: var(--ghost-white);
            width: 20%;
        }
        th,
        td {
            border: 1px solid var(--gray-web);
            padding: 10px 5px;
            text-align: center;
            width: 20%;
            p {
                font-size: $medium-font;
                padding: 5px;
                a {
                    font-size: $medium-font;
                }
            }
        }
    }
}