<section class="page-not-found">
  <img src="{{API['IMAGE_BASE_URL']}}1/img/Truck.png" class=" wp-100">
  <div class="container align-center">
    <h3 class="f-16">Oops!!! Page not Delivered!!</h3>
    <p class="mb-15 pb-10 f-14">We apologize! The page could not be delivered as the address does not exist on this planet.</p>
    <ul class="categories-list">
      <li [routerLink]="['/electricals/211000000']">
        <i class="icon-electricals"></i>
        <span>Electricals</span>
      </li>
      <li [routerLink]="['/hand-tools/112000000']">
        <i class="icon-hand-tool"></i>
        <span>Hand Tools</span>
      </li>
      
      <li [routerLink]="['/safety-and-security/116000000']">
        <i class="icon-safety"></i>
        <span>Safety</span>
      </li>
      <li [routerLink]="['/security/120000000']">
        <i class="icon-security"></i>
        <span>Security</span>
      </li>
      <li [routerLink]="['/power-tools/114000000']">
        <i class="icon-power-tool"></i>
        <span>Power Tools</span>
      </li>
      <li [routerLink]="['/all-categories']">
        <i class="icon-all-category"></i>
        <span>more</span>
      </li>
    </ul>
  </div>
</section>