<div class="body-bg pt-1" *ngIf="brandDetailsFooterData?.firstPageContent">
    <div class="container-fluid pad-lr-0" [ngClass]="{'notFoundEl' : !brandDetailsFooterData?.iba }">
        <div id="openCat3" class="category_data" style="display: block;">
            <div class="container cms-content">
                <div [innerHTML]="((brandDetailsFooterData?.brandCatDesc !== null && brandDetailsFooterData?.brandCatDesc !== '') ? brandDetailsFooterData?.brandCatDesc : (brandDetailsFooterData?.showDesc == true ? brandDetailsFooterData?.brandShortDesc : '<h2> Genuine Products from '+ brandDetailsFooterData?.brand + ' at the Best Prices Online at Moglix </h2>

            <p> '+ brandDetailsFooterData?.brand + ' products are procured through reliable distributors and dealers in India and several other countries worldwide. We, at Moglix, offer more than
            ' + brandDetailsFooterData?.productCount + ' products by '+ brandDetailsFooterData?.brand + ' that are listed on our online store. These are suitable for personal or commercial use in various industries, homes, businesses and offices. These listings have been properly curated and arranged in various product categories such as ' +   brandDetailsFooterData?.categoryNames + ' to provide easy navigation and seamless user experience.</p><br />
            
            <p>Moglix is one stop solution if you are looking online for best deals and offers on '+ brandDetailsFooterData?.brand + ' products. We also offer the option of bulk buying or wholesale prices on these products. Having a pan India presence including major cities like Delhi NCR, Mumbai, Chennai, Bengaluru, Kolkata, Chennai, Pune, Jaipur, Hyderabad, and Ahmedabad, Moglix provides timely doorstep delivery nation-wide.</p>
            
            ')) ">
                </div>
            </div>
        </div>
    </div>
    <app-price-list-table
        [heading]="brandDetailsFooterData?.heading ? (brandDetailsFooterData?.heading | removeHTML) : brandDetailsFooterData?.brand"
        *ngIf="brandDetailsFooterData?.productSearchResult && brandDetailsFooterData?.productSearchResult['products'].length>0 && brandDetailsFooterData?.productSearchResultSEO.length > 0"
        [priceListData]="brandDetailsFooterData.productSearchResultSEO">
    </app-price-list-table>
</div>