@import "../../scss/variables";
@import '../../modules/bottomMenu/bottom-menu.component.scss';
@import '../../scss/components/static-card-container';

.oosProduct {
  opacity: 0.5;
}

.unavailableItems {
  padding-bottom: 70px;

  .top-header-bottom-menu {
    border-bottom: none;
    border-bottom: none;
    position: sticky;
    top: -1px;
    width: 100%;
    padding-left: 15px;
    background-color: var(--white);
    z-index: 1;
  }

  .static-card-container {
    border: 1px solid var(--ghost-white);
    border-radius: $border-radius-8;
  }

  .red-txt {
    font-size: $small-font;
    padding-top: 10px;
  }

  .oos {
    opacity: 0.5;
    pointer-events: none;
  }
}

.cta-row {
  display: flex;
  width: 100%;
  margin-top: 20px;
  justify-content: space-between;
  padding: 5px 15px;
  background-color: var(--white) !important;

  button {
    &:first-child {
      width: calc(45% - 10px);
    }

    &:nth-child(2) {
      width: calc(55% - 10px);
    }

    i {
      padding-right: 2px;
    }
  }
}
::ng-deep{
  product-card-vertical-grid-view{
      &:last-child{
          .product-vertical-grid-card{
              margin-right: 5px;
          }
      }
  }
}