@import "../../scss/variables";
@import '../../modules/bottomMenu/bottom-menu.component.scss';
@import '../../scss/components/static-card-container';

.oosProduct {
    opacity: 0.5;
}
.unavailableItems{
  .top-header-bottom-menu{
    border-bottom:none;
  }
  .static-card-container{
    border:1px solid var(--ghost-white);
    border-radius:$border-radius-8;
  }
    .red-txt{
      font-size:$small-font;
      padding-top:10px;
    }
    .oos{
      opacity:0.5;
      pointer-events:none;
    }
  }



