@import "../../../scss/variables";
@import "../login-card.scss";
// New login start
.otp-outer-card {
    padding: 15px 15px 0px 15px;
    p {
        font-size: $medium-font;
        line-height: $small-line-height;
        color: var(--onyx-black);
    }
}
.login-card {
    @extend %login-card;
}
.otp-card {
    @extend %otp-card;
}
.shared-otp-card{
    margin-top: 15px !important;
}
.login-card{
    border-radius: $login-card-border !important;
}
.success-field{
    margin-left: 10px;
    .success-txt{
        font-size: $small-font;
    }
}