@import "../../../scss/variables";
@import "../login-card.scss";
// New login start
.otp-outer-card {
    padding: 15px 15px 0px 15px;
    p {
        font-size: $medium-font;
        line-height: 16px;
        color: #3C3C3C;
    }
}
.login-card {
    @extend %login-card;
}
.otp-card {
    @extend %login-card;
}
