<div class="otp-outer-card">
    <h3 class="heading-custom-3">Enter 6 digit OTP for verification</h3>
    <p> One Time Password sent to {{authFlow.identifier}}
        <ng-container *ngIf="isEmailLogin">& associated mobile number.</ng-container>
    </p>
</div>
<!--shared-otp-card:class used for only forgot password case to megre OTP and forgot password field.-->
<div class="otp-card login-card pad-15 mar-15" [class.shared-otp-card]="isForgotPassword">
    <form class="otp-form" [class.otp-form-invalid]="otpFormArray.dirty && isOTPFormDisabled"
        [class.otp-form-varified]="otpFormArray.dirty && !(isOTPFormDisabled)">
        <div class="otp-form-inputs">
            <ng-container *ngFor="let control of otpFormArray['controls'];let cIndex=index">
                <!--added class='pseudo' for focus purpose-->
                <input type="tel" autocomplete="on"  placeholder="-" (paste)="onPaste($event, cIndex)" data-numbersOnly pattern="\d*" [formControl]="control"
                    autofocus class="pseudo" maxlength="1" (keyup)="moveFocus($event, control.valid, cIndex)"
                    [readonly]="isOTPVerified">
            </ng-container>
        </div>
        <div class="error-field pt-10" *ngIf="otpFormArray.dirty && (otpFormArray.invalid) && !(isOTPVerified)"><span
                class="error-txt mt-10">Number not Verified</span> </div>
        <div class="error-field" *ngIf="(otpFormArray.valid) && incorrectOTP"><span
                class="error-txt">{{incorrectOTP}}</span> </div>
        <div class="success-field pt-10" *ngIf="isOTPVerified"><span class="success-txt">Number Verified</span></div>
        
    </form>
    <div class="otp-text">
        <div class="otp-text-inner left">
            <span>Didn’t receive the code?</span><br>
            <span class="resend">Resend in {{ timer | otpTimer}}</span>
        </div>
        <div class="otp-text-inner right">
            <button class="btn btn-transparent-red" [class.btn-disabled]="disableResend"
                (click)="$event.stopPropagation();resendOTP()">RESEND OTP</button>
        </div>
    </div>
    <button class="btn secondry-btn" [class.disabled]="isDisabled" *ngIf="withLabel"
        (click)="$event.stopPropagation();emitVerifiedOTP()">{{label | uppercase}}</button>
</div>