@import "../../../scss/variables";
// New login start
.otp-outer-card {
    padding: 15px 15px 0px 15px;
    p {
        font-size: 12px;
        line-height: 16px;
        color: #3c3c3c;
    }
}
.otp-card {
    .otp-form {
        .otp-form-inputs {
            display: flex;
            justify-content: space-between;
            input {
                width: 40px;
                border: 1px solid #c4c4c4;
                text-align: center;
                box-shadow: 0px 3px 8px 0px #00000029;
            }
        }
        &.otp-form-invalid {
            input {
                border: 1px solid #d9232d !important;
            }
        }
        &.otp-form-varified {
            input {
                border: 1px solid #299e22 !important;
            }
            .error-text {
                color: #299e22 !important;
            }
        }
    }
    .otp-text {
        padding: 10px 0px 40px 0px;
        display: flex;
        align-items: center;
        .otp-text-inner {
            width: 50%;
        }
        .left {
            span {
                font-size: $small-font;
                &.resend {
                    font-weight: bold;
                }
            }
        }
        .right {
            text-align: center;
            span {
                font-size: $large-font;
                font-weight: bold;
                color: #d9232d;
            }
        }
    }
}
