@import './../../scss/variables';

#subcCategoryTop {
  background: var(--white);
  border-radius: $border-radius-8;

  li {
    min-height: 155px;
    max-height: 155px;

    &:nth-child(1) {
      border-right: 1px solid var(--ghost-white);
      border-bottom: 1px solid var(--ghost-white);
    }

    &:nth-child(odd) {
      border-right: 1px solid var(--ghost-white);
      border-bottom: 1px solid var(--ghost-white);
    }

    &:nth-child(2n) {
      border-bottom: 1px solid var(--ghost-white);

    }

    .prod-image {
      min-height: 92px;
      text-align: center;
      img{
        width: 78px;
      }
    }

    h4 {
      font-size: $medium-font;
      font-weight: $font-normal;
      text-align: center;
    }
  }
  .show-more {
    display: block;
    padding: 20px;
  }
  .primary-full-btn {
    background: var(--white);
    color: var(--primary);
    text-align: center;
    line-height: 10px;
  }
}