@import './../../scss/variables';
#subcCategoryTop {
  background: $white;
  border-radius: 8px;
  li {
    @include gridForCategory('2');
    min-height: 155px;
    max-height: 155px;
    &:nth-child(1){
      border-right: 1px solid #EFEFF4;
      border-bottom: 1px solid #EFEFF4;
    }
    &:nth-child(odd){
      border-right: 1px solid #EFEFF4;
      border-bottom: 1px solid #EFEFF4;
    }
    &:nth-child(2n){
      border-bottom: 1px solid #EFEFF4;
      
    }
    .prod-image {
      min-height: 92px;
      text-align: center;
    }
    h4 {
      font-size: $medium-font;
      font-weight: 400;
      text-align: center;
    }
  }
  .show-more {
    display: block;
    padding: 20px;
  }
}