@import '../../scss/variables';
.emi-container{
  h3{
    float: none;
  }
  .step-1{
    margin-bottom: 20px;
   
  }
  .step-2{
    .tab-head{
      text-align: center;
      font-weight: 600;
      font-size: $extra-large-font;
      padding:10px 30px;
      background: #dedede;
      li{
        // @include gridForCategory('3' , null);
        width:37%;
        float: left;
        &:first-child{
          width:25%;
        }
      }
    }
    .tab-interest{
      label{
        padding: 10px;
        span{
          // @include gridForCategory('3' , null);
          width:37%;
          float: left;
          font-size: $medium-font;
          &:first-child{
            width:25%;
          }
          text-align: center;
          .chk-txt{
            font-weight: bold;
            margin-left: 0;
          }
        }
      }
    }
  }
}

.column-field{
  .w-45{
    width: 45%;
  }
  .w-30{
    width: 30%;
  }
  .w-65{
    width: 65%;
  }
}
.cvv-info{
  .icon-cvv{
      font-size: 22px;
      float: left;
      margin-top: 22px;
  }
  p{
    width: calc(100% - 45px);
    float: right;
    margin-top: 17px;
  }
}
.card-30{
  padding-bottom: 10px;
}
p{
  a{
    color: $blue-link-color;
  }
}