<div *ngIf="!isEmiEnable" class="f-size-16 text-red"> {{message}} </div>
<section class="emiTabInner">

    <!-- <div class="payment-notification">
        Low success rate currently observed for Axis and HDFC. If possible, use an alternate payment mode
    </div> -->

    <h3 class="heading-3 emiHeading">
        Select From Credit/Debit Card
    </h3>

    <div class="emiTabs">
        <div class="emiTab" [class.selectedTab]="paymentMethod == CARD_TYPES.creditCard" (click)="changeCardType(CARD_TYPES.creditCard)">
            <span>Credit Card</span>
        </div>
        <div class="emiTab" [class.selectedTab]="paymentMethod == CARD_TYPES.debitCard" (click)="changeCardType(CARD_TYPES.debitCard)">
            <span>Debit Card</span>
        </div>
    </div>

    <div class="emiTabContent">
        <form [formGroup]="emiForm" class="material-form">

            <ng-container formGroupName="requestParams">

                <div (click)="showBanks()" class="custom_select_box">
                    <label>Select Bank</label>
                    <div class="custom_select_input">
                        <span>{{ selectedBankName || 'Select Bank' }}</span>
                        <i class="icon-dropdown"></i>
                    </div>
                </div>

                <select-popup [itemArray]="dataEmi" [displayKey]="'bankname'" [valueKey]="'key'" [headerLabel]="'Select Bank'" [isVisible]="bankSelectPopUp" (selectedValue$)="selectedBankChange($event)" [type]="'EMI'" [compare]="selectedBank"></select-popup>

                <ng-container *ngIf="emiResponse">
                    <div class="emi-plans" *ngIf="noCostEmiCount[selectedBank] && noCostEmiCount[selectedBank]['noCost'] > 0">
                        <h3 class="heading medium-heading">No Cost EMI Plans</h3>
                        <div class="emi-plans-list">
                            <ng-container *ngFor="let emi of emiResponse[selectedBank] | objectToArray:'associative'; index as i;">
                                <label *ngIf="emi.value.emi_interest_paid === 0" class="emi-plans-list-item">
                                    <label class="payment-radio-btn">
                                        
                                        <input formControlName="bankcode" [checked]="selectedEMIKey == emi.key" type="radio" [value]="emi.key"
                                            (click)="selectEmI(getEmiMonths(emi.key), emi.value.emiBankInterest, emi.value.transactionAmount, emi)" [id]="emi.key">
                                        <span class="custom-box"></span>
                                    </label>
                                <div class="emi-amount">
                                    <p>₹{{emi.value.emi_value | mathCeil | number : '1.2-2'}}</p>
                                    <span>for {{getEmiMonths(emi.key) < 10 ? getEmiMonths(emi.key) :
                                                getEmiMonths(emi.key) }} months <span class="green-txt">@0%
                                                p.a.</span></span>
                                </div>
                                <span class="emi-total-payable">₹{{emi.value.transactionAmount | number :
                                        '1.2-2'}}</span>
                                </label>
                            </ng-container>
                        </div>
                    </div>

                    <div class="emi-plans" *ngIf="noCostEmiCount[selectedBank] && noCostEmiCount[selectedBank]['withCost'] > 0">
                        <h3 class="heading medium-heading">Standered EMI Plans </h3>
                        <div class="emi-plans-list">
                            <ng-container *ngFor="let emi of emiResponse[selectedBank] | objectToArray:'associative'">
                                <label *ngIf="emi.value.emi_interest_paid !== 0" class="emi-plans-list-item">
                                    <label class="payment-radio-btn">
                                        
                                        <input formControlName="bankcode" type="radio" [checked]="selectedEMIKey == emi.key" [value]="emi.key"
                                            (click)="selectEmI(getEmiMonths(emi.key), emi.value.emiBankInterest, emi.value.transactionAmount, emi)" [value]="emi.key"
                                            [id]="emi.key">
                                        <span class="custom-box"></span>
                                    </label>
                                <div class="emi-amount">
                                    <p>₹{{emi.value.emi_value | mathCeil | number : '1.2-2'}}</p>
                                    <span>for {{getEmiMonths(emi.key) < 10 ? getEmiMonths(emi.key) :
                                                getEmiMonths(emi.key) }} months {{emi.value.emi_interest_paid> 0 ? +
                                                emi.value.emiBankInterest + '%' :
                                                '0 %' }} p.a.</span>
                                </div>
                                <span class="emi-total-payable">₹{{emi.value.transactionAmount | number :
                                        '1.2-2'}}</span>
                                </label>
                            </ng-container>
                        </div>
                    </div>
                </ng-container>

                <section class="creditDebitCardInner noPad">
                    <h3 class="heading-3">Please enter your card details</h3>
                    <div class="material-form material-form-boxed">
                        <div class="input-field-boxed">
                            <label>Card Number</label>
                            <input type="text" id="cc-number" formControlName="ccnum" type="tel" #ccNumber kpAutocompleteOff placeholder="Enter Card Details">
                        </div>
                        <div class="card-expiryDate" *ngIf="!(bajajFinservField)">
                            <label>Expiry Date</label>
                            <div class="multiple-form-field">
                                <div class="input-field-boxed">
                                    <input type="hidden" formControlName="ccexpmon" #expireMonth />
                                    <div class="custom_select_box" (click)="openMonthPopUp()">
                                        <div class="custom_select_input" [class.selectedInput]="selectedMonth">
                                            <span>{{selectedMonth || 'MM'}}</span>
                                        </div>
                                    </div>
                                    <select-popup [itemArray]="expMons" [displayKey]="'value'" [valueKey]="'key'" [headerLabel]="'Select Month'" [isVisible]="monthSelectPopupStatus" (selectedValue$)="selectMonth($event)" [type]="'MONTH'" [compare]="selectedMonth"></select-popup>
                                    <!-- <select placeholder="MM" formControlName="ccexpmon" #expireMonth>
                                        <option *ngFor="let expMon of expMons" [value]="expMon.key">{{expMon.value}}</option>
                                    </select> -->
                                </div>
                                <div class="input-field-boxed">
                                    <input type="hidden" formControlName="ccexpyr" #expireYear />
                                    <div class="custom_select_box" (click)="openYearPopUp()">
                                        <div class="custom_select_input" [class.selectedInput]="selectedYear">
                                            <span>{{selectedYear || 'YYYY'}}</span>
                                        </div>
                                    </div>
                                    <select-popup [itemArray]="expYrs" [displayKey]="'value'" [valueKey]="'key'" [headerLabel]="'Select Year'" [isVisible]="yearSelectPopupStatus" (selectedValue$)="selectYear($event)" [type]="'YEAR'" [compare]="selectedYear"></select-popup>
                                    <!-- <select placeholder="YYYY" formControlName="ccexpyr" #expireYear>
                                        <option *ngFor="let expYr of expYrs" [value]="expYr">{{expYr}}</option>
                                    </select> -->
                                </div>
                            </div>
                        </div>
                        <div class="cvvField" *ngIf="!(bajajFinservField)">
                            <label>Enter CVV</label>
                            <div class="multiple-form-field">
                                <div class="input-field-boxed">
                                    <input type="password" id="cc-number" formControlName="ccvv" #ccNumber kpAutocompleteOff placeholder="CVV" maxlength="3">
                                </div>
                                <i class="icon-cvv"></i>
                                <span class="cvv-text">
                                    Last 3 digits printed on <br /> the back of the card.
                                </span>
                            </div>
                        </div>
                        <div class="input-field-boxed">
                            <label>Name On Card</label>
                            <input type="text" formControlName="ccname" placeholder="Name On Card">
                        </div>
                    </div>
                </section>

            </ng-container>

            <div class="continue-button">
                <div class="container">
                    <p class="total-mount" *ngIf="totalPayableAmount>0">
                        <span class="payable-amnt">Payable Amount</span> ₹ {{totalPayableAmount | number : '1.2-2'}}
                    </p>
                    <button type="submit" [disabled]="!emiForm.valid" (click)="pay(emiForm.value, emiForm.valid)" class="btn">PAY</button>
                </div>
            </div>


        </form>
    </div>

    <div class="emi-note-text" *ngIf="nocostEmiDiscount > 0">
        <b>Note: </b>The interest to be charged by the bank of <b>Rs. {{nocostEmiDiscount | number : '1.2-2'}} </b>is
        already discounted
        from the total price of your purchased order, as No Cost EMI Discount. In case of credit card, the card limit will
        be consumed for your total purchase amount of <b>Rs. {{this.totalPayableAmount | mathCeil | number : '1.2-2'}}</b> ,
        and released after the amount is converted to an EMI.
    </div>

    <!-- <p class="emi-note-text">
        <b>Note:</b> The bank will continue to charge interest on NO Cost EMI plans as per existing
        rates. However, the interest to be charged by the bank will be passed on to you as an upfront discount
    </p> -->


</section>

<payu-form *ngIf="isValid&&type=='retail'" [data]="payuData"></payu-form>
<razor-pay *ngIf="isValid&&type=='tax'" [data]="payuData"></razor-pay>