.accordian_footer_panel{
    margin-top: 10px;
}

::ng-deep{
    .accordian_footer_panel {
        margin-top: 1px;

        .panel-head {
            background: #fff;

            h3 {
                padding: 15px 5px;
                font-weight: bold;
                text-transform: capitalize;
            }
        }

        .panel-body {
            padding: 0px 5px 10px;
            background: #fff;
        }

        .icon-accordian {
            float: right;

            i {
                font-size: 14px;
            }
        }

        .ico-up {
            .icon-accordian {
                transform: rotate(180deg);
            }
        }

        .category_links {
            display: flex;
            flex-wrap: wrap;

            &>div {
                display: inline-flex;
                margin-right: 10px;

                a {
                    border: 1px solid #C4C4C4;
                    margin-bottom: 8px;
                    padding: 7px 10px;
                    color: #278BED;
                    border-radius: 4px;
                    white-space: nowrap;
                    font-weight: bold;
                    font-size: 14px;
                    background: #fff;
                }
            }
        }
    }
}

