<div class="accordian_footer_panel">
    <ng-container *ngIf="popularLinks?.length > 0">
        <div class="panel-head" style="margin-top: 0px;" >
            <div class="container">
                <h3 class="heading-3" [closeOtherTabs]="true" [appKpToggle]="{idName: 'popularBrandCategoryAccord', iconMode : true}">
                    Popular Brand Categories
                    <span class="icon-accordian">
                        <i class="icon-down"></i>
                    </span>
                </h3>
            </div>
        </div>
        <div [id]="'popularBrandCategoryAccord'" [style.display]="popularLinks?.length > 0 ? 'block' : 'none'" class="panel-body">
            <div class="container category_links">
                <div *ngFor="let category of popularLinks | slice:0:10">
                    <a (click)="$event.stopPropagation();sendAdobeTracking('SHOP BY RELATED BRAND CATEGORY', ACCORDIAN_DATA[1][category], ACCORDIAN_DATA[1][category]);$event.preventDefault()" [href]="[prodUrl+'/'+ACCORDIAN_DATA[1][category]]">
                        {{ categoryBrandDetails.brand.brandName + ' ' + category }} 
                    </a>
                </div>
            </div> 
        </div>
    </ng-container>
    <ng-container *ngIf="ACCORDIAN_DATA[0].length > 0">
        <div class="panel-head" style="margin-top: 0px;" >
            <div class="container">
                <h3 class="heading-3" [closeOtherTabs]="true" [appKpToggle]="{idName: 'attributeAccoridan', iconMode : true}">
                    Related Searches
                    <span class="icon-accordian">
                        <i class="icon-down"></i>
                    </span>
                </h3>
            </div>
        </div>
        <div [id]="'attributeAccoridan'" [style.display]="(ACCORDIAN_DATA[1].length === 0 && ACCORDIAN_DATA[0]?.length > 0) ? 'block' : 'none'" class="panel-body">
            <div class="container category_links" >
                <div *ngFor="let attribute of ACCORDIAN_DATA[0] | slice:0:10">
                    <a   (click)="$event.stopPropagation();sendAdobeTracking('SHOP BY RELATED CATEGORY', attribute.friendlyUrl, attribute.friendlyUrl);$event.preventDefault()" [href]="[prodUrl+'/'+attribute.friendlyUrl]">
                        {{ attribute.title }}
                    </a>
                </div>
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="ACCORDIAN_DATA[2].length > 0">
        <div class="panel-head" style="margin-top: 0px;" >
            <div class="container">
                <h3 class="heading-3" [closeOtherTabs]="true" [appKpToggle]="{idName: 'mostSoldAccoridan', iconMode : true}">
                    Shop by Related Categories
                    <span class="icon-accordian">
                        <i class="icon-down"></i>
                    </span>
                </h3>
            </div>
        </div>
        <div [id]="'mostSoldAccoridan'" [style.display]="(ACCORDIAN_DATA[1].length === 0 && ACCORDIAN_DATA[0].length === 0 && ACCORDIAN_DATA[2]?.length > 0) ? 'block' : 'none'" class="panel-body">
            <div class="container category_links">
                <div *ngFor="let attribute of ACCORDIAN_DATA[2]  | slice:0:10">
                    <a (click)="$event.stopPropagation();sendAdobeTracking('SHOP BY RELATED CATEGORY', attribute.categoryName, attribute.categoryLink);$event.preventDefault()" [href]="[prodUrl+'/'+attribute.categoryLink]">
                        {{ attribute.categoryName }}
                    </a>
                </div>
            </div>
        </div>
    </ng-container>
</div>