<div class="accordian_footer_panel">
    <!-- <ng-container *ngIf="popularLinks?.length > 0">
        <div class="panel-head" style="margin-top: 0px;" >
            <div class="container">
                <h3 class="heading-3" [appKpToggle]="{idName: 'popularBrandCategoryAccord', iconMode : true}">
                    Popular Brand Categories
                    <span class="icon-accordian">
                        <i class="icon-down"></i>
                    </span>
                </h3>
            </div>
        </div>
        <div [id]="'popularBrandCategoryAccord'" style="display:none;" class="panel-body">
            <div class="container category_links">
                <div *ngFor="let category of popularLinks | slice:0:10">
                    <a  href="{{getUrlPathName(API_RESPONSE.brand[1][0].categoryLinkList[category])}}">{{ API_RESPONSE['brand'][0].brandName + ' ' + category }} </a>
                </div>
            </div>
        </div>
    </ng-container> -->
    <!-- <ng-container *ngIf="popularCategories?.length > 0 && !_activatedRoute.snapshot.params.category">
        <div class="panel-head" style="margin-top: 0px;" >
            <div class="container">
                <h3 class="heading-3" [appKpToggle]="{idName: 'popularCategoryAccord', iconMode : true}">
                    Popular Categories
                    <span class="icon-accordian">
                        <i class="icon-down"></i>
                    </span>
                </h3>
            </div>
        </div>
        <div [id]="'popularCategoryAccord'" style="display:none;" class="panel-body">
            <div class="container category_links">
                <div *ngFor="let category of popularCategories | slice:0:10">
                    <a  href="{{category?.link}}">{{ category?.name }} </a>
                </div>
            </div>
        </div>
    </ng-container> -->
    <!-- <ng-container *ngIf="">
        <div class="panel-head" style="margin-top: 0px;" >
            <div class="container">
                <h3 class="heading-3" [appKpToggle]="{idName: 'attributeAccoridan', iconMode : true}">
                    Related Searches
                    <span class="icon-accordian">
                        <i class="icon-down"></i>
                    </span>
                </h3>
            </div>
        </div>
        <div [id]="'attributeAccoridan'" style="display:none;" class="panel-body">
            <div class="container category_links" *ngIf="API_RESPONSE.brand[4] && API_RESPONSE.brand[4].data" >
                <div *ngFor="let attribute of API_RESPONSE.brand[4].data | slice:0:10">
                    <a  href="{{attribute.friendlyUrl}}">{{ attribute.title }}</a>
                </div>
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="API_RESPONSE.brand[2]?.mostSoledCategories && API_RESPONSE.brand[2]?.mostSoledCategories.length > 0">
        <div class="panel-head" style="margin-top: 0px;" >
            <div class="container">
                <h3 class="heading-3" [appKpToggle]="{idName: 'mostSoldAccoridan', iconMode : true}">
                    Similar Category
                    <span class="icon-accordian">
                        <i class="icon-down"></i>
                    </span>
                </h3>
            </div>
        </div>
        <div [id]="'mostSoldAccoridan'" style="display:none;" class="panel-body">
            <div class="container category_links">
                <div *ngFor="let attribute of API_RESPONSE.brand[2]?.mostSoledCategories  | slice:0:10">
                    <a  href="{{attribute.categoryLink}}">{{ attribute.categoryName }}</a>
                </div>
            </div>
        </div>
    </ng-container> -->
</div>