.ico-txt {
    color: #303030;
}

.recentSearchProduct {
    color: #333333 !important;
    line-height: 24px;
}

.interfaceIcon {
    float: right;
    font-size: 22px;
    color: #a3a3ab;
}

.recentSearchWrapper {
    border-bottom: 1px solid #f1f1f1;
    padding-bottom: 10px;
    .clearHistoryText {
        color: #2680EB;
        font-size: 10px;
        font-weight: bold;
        text-transform: uppercase;
    }
}

.crossIcon {
    padding: 0px 15px 0 2px;
    font-size: 8px;
    font-weight: bold;
}

.searchHistoryWrapper {
    margin-top: 10px;
    .plan-list {
        li {
            padding: 10px 0px 10px 5px;
        }
    }
}

.normal-text {
    text-transform: unset !important;
}