<div class="container searchHistoryWrapper">
    <div class="clearfix recentSearchWrapper" *ngIf="shd && shd.length>0">
        <h4 class="search_heading">
            <span class="f-left"><i class="icon-search-history"></i>Recent Searches</span>
            <span class="f-right clearHistoryText" (click)="csh()">Clear History</span>
        </h4>
    </div>
    <ul *ngIf="shd && shd.length>0" class="plan-list">
        <li *ngFor="let item of shd">
            <i class="icon-delete crossIcon"></i>
            <a (click)="navigateTo(item.extras)" class="recentSearchProduct">{{item.name}}</a>

            <img (click)="addToSearchBar($event, item.name)" src="{{imagePathAsset}}assets/img/interface.png" class="interfaceIcon">
        </li>
    </ul>
    <ul *ngIf="shd && shd.length===0" class="plan-list">
        <li class="disable-txt normal-text">There is no search history</li>
    </ul>
</div>