.ico-txt {
    color: #303030;
}

.recentSearchProduct {
    color: #333333 !important;
}

.interfaceIcon {
    float: right;
    padding: 5px 0 0;
}

.recentSearchWrapper {
    padding-bottom: 15px;
    .clearHistoryText {
        color: #db232e;
        font-size: 14px;
        font-weight: bold;
    }
}

.crossIcon {
    padding: 0 8px 0 2px;
    width: 18px;
    display: inline-block;
}