.ico-txt {
    color: #303030;
}

.recentSearchProduct {
    color: #333333 !important;
    line-height: 24px;
}

.interfaceIcon {
    float: right;
    font-size: 22px;
    color: var(--light-black);
}

.recentSearchWrapper {
    padding-top: 12px;

    .clearHistoryText {
        color: var(--primary);
        font-size: 10px;
        font-weight: bold;
        text-transform: uppercase;
    }
}
.crossIcon {
    margin: 0px 15px 0 2px;
    font-size: 6px;
    font-weight: bold;
    background: var(--light-black);
    color: var(--white);
    border-radius: 50%;
    padding: 4px;
}

.searchHistoryWrapper {
    margin-top: 10px;

    .plan-list {
        li {
            padding: 10px 0px 10px 5px;
        }
    }
}

.normal-text {
    text-transform: unset !important;
}