<!--OTP:do not remove comments-->
<shared-auth-header [isCheckout]="isCheckout"></shared-auth-header>
<ng-container *ngIf="authFlow?.identifier">
    <div *ngIf="isOTPFlow; then otpform else passwordform">
        <!--depending on the condition template will get rendered-->
    </div>
</ng-container>

<!--OTP Template-->
<ng-template #otpform>
    <div>
        <shared-auth-otp [otpFormArray]="otpForm" [source]="'login_otp'" [identifier]="authFlow?.identifier"
            (otpEmitter)="captureOTP($event)"></shared-auth-otp>
        <!--Note:will be displayed only for registered users-->
        <ng-container>
            <!--*ngIf="authFlow?.isUserExists"-->
            <!--Use this shared-otp-card:use this for forgot paswword-->
            <div class="login-card shared-otp-card">
                <div class="login-seperator-text "> <span>Or</span></div>
                <button class="btn btn-variant1 btn-dark-grey" (click)="toggleOTPPassword($event)">
                    SIGN-IN WITH PASSWORD
                </button>
            </div>
        </ng-container>
    </div>
</ng-template>

<!--Forgot Password Template-->
<ng-template #passwordform>
    <div class="outer-card">
        <h3 class="heading-custom-3">Enter Password</h3>
        <p>Linked with {{authFlow?.identifier}}</p>
    </div>
    <div class="login-card">
        <form class="material-form">
            <div class="outline-input-label">
                <label [class.is-focus]="password.value.length!=0">
                    <input [type]="isPasswordType?'password':'text'" [formControl]="password" autocomplete="off">
                    <i class="icon-view-password show-pass" [class.active-password-icon]="isPasswordType"  *ngIf="password.value" (click)="$event.stopPropagation();togglePasswordType()"></i>
                    <span class="label">Enter Password</span>
                    <ng-container *ngIf="isPasswordSubmitted && password.errors != null">
                        <p class="error-txt" *ngIf="password.errors.minlength">{{password.errors.minlength}}
                        </p>
                    </ng-container>
                    <p class="error-txt" *ngIf="password.valid && incorrectPassword">Incorrect password, please try with correct password</p>
                </label>
            </div>
            <button class="btn btn-variant1" [class.btn-disabled]="password.invalid"
                (click)="$event.stopPropagation();submitPassword()">CONTINUE</button>
                <a class="forgot-pass" (click)="$event.stopPropagation();navigateToForgotPassword()"> FORGOT PASSWORD?</a>
            <div class="login-seperator-text"> <span>Or</span></div>
            <button class="btn btn-variant1 btn-dark-grey" (click)="toggleOTPPassword($event)">
                SIGN-IN WITH OTP
            </button>
            <a class="forgot-pass" (click)="$event.stopPropagation();navigateToLogin()" *ngIf="isLoginUsingEmail">BACK TO SIGN IN</a>
        </form>
    </div>
</ng-template>