@import "../../../scss/variables";
@import "../login-card.scss";


// New login start
.outer-card {
    padding: 15px 15px 0px 15px;
    p {
        font-size: $medium-font;
        line-height: $small-line-height;
        color: #3c3c3c;
    }
}
.login-card {
    @extend %login-card;
}
.otp-card {
    @extend %otp-card;
}
.shared-auth-header {
    height: 50px;
    display: flex;
    background: transparent;
    padding: 0px 15px 0px 20px;
    align-items: center;
    .icon-logo {
        font-size: 70px;
        margin-left: 15px;
        color: $logo-color !important;
    }
    .icon-back-arrow {
        font-size: 70px;
        margin-left: 15px;
        color: $logo-color !important;
    }
    .left-arrow {
        width: 20px;
    }
}
