<!--OTP-->
<div class="outer-card">
    <h3 class="heading-custom-3">Enter 6 digit OTP for verification</h3>
    <p>One Time Password sent to 9717311486 & ashish.kumar@gmail.com</p>
</div>
<div class="otp-card login-card">
    <form class="otp-form otp-form-invalid otp-form-varified">
        <div class="otp-form-inputs">
            <input placeholder="-">
            <input placeholder="-">
            <input placeholder="-">
            <input placeholder="-">
            <input placeholder="-">
            <input placeholder="-">
        </div>
        <div class="error-field">
            <span class="error-text">OTP is not correct</span>
        </div>
    </form>

    <div class="otp-text">
        <div class="otp-text-inner left">
            <span>Didn’t receive the code?</span><br>
            <span class="resend">Resend in 00:20</span>
        </div>
        <div class="otp-text-inner right">
            <span>RESEND OTP</span>
        </div>
    </div>
    <button class="btn btn-variant1 btn-disabled">CONTINUE</button>
    <div class="login-seperator-text "> <span>Or</span></div>
    <button class="btn btn-variant1 btn-dark-grey">SIGN-IN WITH PASSWORD</button>
</div>

<!-- otp-card-only-otp -->
<div class="outer-card">
    <h3 class="heading-custom-3">Enter 6 digit OTP for verification</h3>
    <p>One Time Password sent to 9717311486</p>
</div>
<div class="otp-card login-card">
    <form class="otp-form otp-form-invalid otp-form-varified">
        <div class="otp-form-inputs">
            <input placeholder="-">
            <input placeholder="-">
            <input placeholder="-">
            <input placeholder="-">
            <input placeholder="-">
            <input placeholder="-">
        </div>
        <div class="error-field">
            <span class="error-text">OTP is not correct</span>
        </div>
    </form>

    <div class="otp-text">
        <div class="otp-text-inner left">
            <span>Didn’t receive the code?</span><br>
            <span class="resend">Resend in 00:20</span>
        </div>
        <div class="otp-text-inner right">
            <span>RESEND OTP</span>
        </div>
    </div>
    <button class="btn btn-variant1 btn-disabled">CONTINUE</button>
</div>