<section class="banner-ad bulk" *ngFor="let im of middleImageJsonData;let i = index;">
    <a *ngIf="i==2" href="{{im.image_link}}">
        <img [defaultImage]="defaultImage" [lazyLoad]="imagePath + im.image_name" alt="banner add">
    </a>
</section>
<section>
    <product-horizontal-card></product-horizontal-card>
</section>

<ng-container *ngFor="let category of categories | slice:0:5;let i = index;">
    <section *ngIf="carouselData[category.dataKey] && carouselData[category.dataKey]['data']" class="deals-offers card"
        [class.bestSeller]="i == 0">
        <div class="container clearfix pad-tb-10">
            <h2 class="f-left f-14 pad-tb-10 upper-case">{{carouselData[category.dataKey]['layout_name']}}</h2>
            <a *ngIf="category.viewAllLink; else showPop"
                [routerLink]="'/'+carouselData[category.dataKey]['layout_url']"
                (click)="setSourceLink(carouselData[category.dataKey]['layout_url'])"
                routerLinkActive="router-link-active" class="btn-red f-right">VIEW ALL
            </a>
            <ng-template #showPop>
                <a (click)="openPopup=true;sendDataToPopUP.emit(category.dataKey);getCategoryLabel(carouselData[category.dataKey]['layout_name'])"
                    class="btn-red f-right">VIEW ALL {{carouselData[category.dataKey]['data']['product_data'].length}}</a>
            </ng-template>
        </div>
        <div class="container clearfix">
            <ul class="category-brand border-top"
                *ngIf="carouselData[category.dataKey]['layout_name'] != 'Bestsellers'">
                <div *ngIf="carouselData[category.dataKey]['data']['category_block'].length  !== 0 else brandBlock">
                    <li *ngFor="let item of carouselData[category.dataKey]['data']['category_block'] | slice : 0:4">
                        <a [routerLink]="item['category_url']"
                            (click)="setCategoryorBrandCookie(item['CategoryName'],'tcat')">
                            <img [defaultImage]="defaultImage" [lazyLoad]="imagePath+item.category_image"
                                alt="category image" class="category-img">
                            <p>{{item['CategoryName']}}</p>
                        </a>
                    </li>
                </div>
                <ng-template #brandBlock>
                    <li *ngFor="let items of carouselData[category.dataKey]['data']['brand_block'] | slice : 0:4">
                        <a [routerLink]="items['brand_url']"
                            (click)="setCategoryorBrandCookie(items['brandName'],'tbrand')">
                            <img [defaultImage]="defaultImage" [lazyLoad]="imagePath+items.brand_image"
                                alt="category image" class="category-img">
                            <p>{{items['brandName']}}</p>
                        </a>
                    </li>
                </ng-template>
            </ul>

            <ul class="view-products">
                <product-card-vertical-container [numberOfItems]="carouselData[category.dataKey]['data']['product_data'].length || 0">
                    <ng-container *ngFor="let item of mapProductData(carouselData[category.dataKey]['data']['product_data']) | slice : 0:4;let pIndex=index">
                        <product-horizontal-card 
                        [section]="'Bestseller'"
                        [product]="item"
                        [cardFeaturesConfig]='cardFeaturesConfig'
                        [pIndex]="pIndex" 
                        [enableTracking]="true">
                     </product-horizontal-card>
                    </ng-container>
                </product-card-vertical-container>

        </div>
    </section>
</ng-container>
<section class="banner-ad mar-b-10 mar-t-10" *ngFor="let im of middleImageJsonData;let i = index;">
    <a *ngIf="i==1" href="{{im.image_link}}">
        <img [defaultImage]="defaultImage" [lazyLoad]="imagePath + im.image_name" alt="banner add">
    </a>
</section>
