@import '../../scss/variables.scss';
@import '../../scss/components/home-listing.scss';
.banner-ad {
    margin: 10px 0px;
    a {
        display: block;
    }
    img {
        width: 100%;
    }
    &.bulk {
        margin-bottom: 0px;
    }
}
.category-wrap{
    .view-all-strip{
        @extend %view-all-strip;
    }
}
.category-brand {
    li {
        font-size: 12px;
        text-align: center;
        padding: 5px;
        @include gridForCategory('4', null);
        img {
            margin-bottom: 10px;
            width: 100%;
        }
    }
}
 
