@import '../../scss/variables.scss';
@import '../../scss/components/home-listing.scss';
.category-wrap{
    margin-top:var(--spacing-unit);
    .view-all-strip{
        @extend %view-all-strip;
    }
}
.category-brand {
    li {
        font-size: 12px;
        text-align: center;
        padding: 5px;
        @include gridForCategory('4', null);
        img {
            margin-bottom: 10px;
            width: 100%;
        }
    }
}
 
.home-grid-view{
    display: flex;
}
