<section class="banner-ad bulk" *ngFor="let im of middleImageJsonData;let i = index;">
    <a *ngIf="i==2" href="{{im.image_link}}">
        <img [defaultImage]="defaultImage" [lazyLoad]="imagePath + im.image_name" alt="banner add">
    </a>
</section>
<ng-container *ngFor="let category of categories | slice:0:5;let i = index;">
    <section *ngIf="carouselData[category.dataKey] && carouselData[category.dataKey]['data']" class="card pwa-col-12"
        [class.bestSeller]="i == 0">

        <div class="view-all-strip">
            <h2>{{ carouselData[category.dataKey]['layout_name'] | uppercase }}</h2>
            <a href="" class="btn-red">VIEW ALL</a>
        </div>

        <product-card-vertical-container *ngIf="carouselData[category.dataKey]['layout_name'] == 'Bestsellers'"
            [numberOfItems]="carouselData[category.dataKey]['data']['product_data'].length">
            <ng-container *ngFor="let product of carouselData[category.dataKey]['data']['product_data']">
                <product-card-vertical-grid-view [product]="product"></product-card-vertical-grid-view>
            </ng-container>
        </product-card-vertical-container>
        
        <product-card-vertical-container *ngIf="carouselData[category.dataKey]['layout_name'] != 'Bestsellers'"
            [numberOfItems]="4" [isScroll]="false" >
            <ng-container *ngFor="let product of carouselData[category.dataKey]['data']['product_data'] | slice : 0:4">
                <product-card-vertical-block-view [product]="product"></product-card-vertical-block-view>
            </ng-container>
        </product-card-vertical-container>

    </section>
</ng-container>

<section class="banner-ad mar-b-10 mar-t-10" *ngFor="let im of middleImageJsonData;let i = index;">
    <a *ngIf="i==1" href="{{im.image_link}}">
        <img [defaultImage]="defaultImage" [lazyLoad]="imagePath + im.image_name" alt="banner add">
    </a>
</section>