@import '../../scss/variables.scss';
@import '../../scss/layout/grid.scss';

.pad-tb-10{
    padding-top: 10px;
    padding-bottom: 10px;
}

.banner-ad {
    margin: 10px 0px;
    a {
        display: block;
    }
    img {
        width: 100%;
    }
    &.bulk {
        margin-bottom: 0px;
    }
}

.deals-offers {
    margin-top: 0px;
    margin-bottom: 10px;
}

.category-brand {
    margin: 5px 0 0 0;
    padding-bottom: 5px;
    border-bottom: 1px solid $border-color;
    li {
        font-size: 12px;
        text-align: center;
        padding: 5px;
        @include gridForCategory('4', null);
        img {
            margin-bottom: 10px;
            width: 100%;
        }
    }
}

// Listing View
.icon-list-view,
.icon-grid-view {
    font-size: 21px;
    line-height: 30px;
}

.bestSeller {
    background: #ddd;
    padding-bottom: 10px;
}