@import "../../../scss/variables";
@import "../../../scss/components/rating";
.product-horizontal-card {
    background-color: var(--white);
    border-radius: $border-radius-8;
    .youtubeThumbnail-listing {
        padding-top: 10px;
        .thumbnail {
            background-size: cover;
            height: 120px;
            background-position: center center;
            background-repeat: no-repeat;
            position: relative;
            margin: 0px 10px;
            border-radius: 8px;
        }
        .youtube_icon {
            width: 70px;
            height: 70px;
            transform: translate(-50%, -50%);
            position: absolute;
            top: 50%;
            left: 50%;
        }
    }
    .card-container {
        padding: 10px;
        width: 100%;
        .inner-container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            .left {
                width: 100px;
                text-align: center;
                position: relative;
                img {
                    width: 100%;
                    height: auto;
                    max-width: 100px;
                }
                .tags {
                    text-align: left;
                    img {
                        border-radius: 4px 0px 0px 4px;
                        max-width: 70px;
                    }
                }
            }
            .right {
                width: calc(100% - 110px);
                .brand {
                    margin-top: 4px;
                    text-align: left;
                    font-size: $small-font;
                    color: var(--silver);
                    font-weight: $font-bold;
                }
                .name {
                    font-size: $large-font;
                }
                .name-with-icon{
                    display: inline-flex;
                    align-items: flex-start;
                    .name{
                        width:90%;
                    }
                    i{
                        font-size:$extra-large-2-font;
                    }
                   }
                .price-details {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    color: #2b2b2b;
                    margin-bottom: 8px;
                    margin-top: 2px;
                    align-items: center;
                    .left {
                        text-align: left;
                        width: calc(100% - 110px);
                        .price {
                            font-size: $medium-font;
                            margin-bottom: 4px;
                            margin-top: 4px;
                            .prod-mrp {
                                // color: var(--gray-web);
                                text-decoration: line-through;
                                opacity: 0.5;
                                margin-right: 5px;
                                color: #3c3c3c;
                            }
                            .prod-discount {
                                font-weight: bold;
                                color: #3b9e26;
                            }
                        }
                        .prod-selling-price {
                            font-size: $large-font;
                            font-weight: bold;
                            margin-bottom: 4px;
                            margin-top: 4px;
                        }
                        .out-of-stock-text {
                            font-size: $small-font;
                            opacity: 0.5;
                        }
                        .out-of-stock-price {
                            font-size: $large-font;
                            opacity: 0.5;
                            font-weight: bold;
                            padding-top: 4px;
                        }
                    }
                    .right {
                        text-align: right;
                        width: 110px;
                    }
                }
            }
            .card-btn-row {
                display: flex;
                button {
                    flex-basis: calc(100% - 40px);
                    padding: 8px;
                    font-size: 10px;
                }
            }
        }
    }
    // Key Features
    .keyfeatures {
        padding: 0px 8px 8px 5px;
        ul {
            padding: 0;
            li {
                color: #7b7b7b;
                font-size: $small-font;
                list-style: none;
                margin-top: 5px;
                line-height: 1.3em;
                position: relative;
                padding: 0 0 0 12px;
                &::before {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 3px;
                    width: 6px;
                    height: 6px;
                    background-color: #7b7b7b;
                    border-radius: 50%;
                    -moz-border-radius: 50%;
                    -webkit-border-radius: 50%;
                }
            }
        }
    }
}
