<div class="otp-modal">
    <div class="otp-top-area">
        <div class="otp-entertext">
            <h5>Enter the OTP</h5>
        </div>
        <div class="otp-crossbtn">
            <button (click)="$event.stopPropagation();closeModal()">X</button>
        </div>
    </div>
    
    
    <p>OTP has been sent to {{phone}} for verification.</p>
    <input type="text" maxlength="6" placeholder="Enter OTP" [formControl]="otp">
    <p *ngIf="isTicking">{{tickerLabel}}</p>
    <p *ngIf="otpErrorMessage">{{otpErrorMessage}}</p>
    <button (click)="$event.stopPropagation();resendOTP();" *ngIf="!(isTicking)">RESEND</button>
    <button (click)="$event.stopPropagation();validateOTP(otp.value)" [disabled]="otp.invalid">CONTINUE</button>
</div>