<div class="otp-modal">
    <div class="otp-top-area">
        <div class="otp-entertext">
            <h5>Enter the OTP</h5>
            <p>OTP has been sent to <strong>{{phone}}</strong> for verification.</p>
        </div>
        <div class="otp-crossbtn">
            <!-- <button >X</button> -->
            <i (click)="$event.stopPropagation();closeModal()" class="icon-circle-delete"></i>
        </div>
    </div>
    <div class="otp-time-counter">
        <p>Resend OTP in <span *ngIf="isTicking">{{tickerLabel}}</span></p>
    </div>
    <div class="otp-area">
        <div class="otp-area-l">
            <input type="text" maxlength="6" placeholder="Enter OTP" [formControl]="otp">
        </div>
        <div class="otp-area-r">
          <p>Resend OTP in {{ tickerLabel }}</p>
          <button (click)="$event.stopPropagation();sendOTP();" [disabled]="isTicking">RESEND OTP</button>
          <span>VERIFIED <i class="icon-done"></i></span>
        </div>
      <p class="error-msg" *ngIf="otpErrorMessage">{{otpErrorMessage}}</p>
       <button class="btn-cont" (click)="$event.stopPropagation();validateOTP(otp.value)"
        [disabled]="otp.invalid">CONTINUE</button>
</div>