@import '../../scss/variables';
@import '../../scss/components/home-listing';
.view-all-strip{
    @extend %view-all-strip;
    background: var(--Light-grayish-orange);
    padding:0 0 10px;
}
.featr_arrival{
    background: var(--Light-grayish-orange);
    .view-products{
        border: 1px solid var(--ghost-white);
        li{
            background: none;
        }
    } 
    .quinary-btn{
        background: var(--white);
    } 
    .prod-name{
        font-size: $medium-font !important;
    }
}