<ng-container *ngIf="featureArrivalData && featureArrivalData.length > 0" >
    <section class="featr_arrival">
            <div class="view-all-strip">
                <h2>Featured Arrivals</h2>
                <a [routerLink]="['/deals/fresh-arrivals']" routerLinkActive="router-link-active"
                    class="quinary-btn">VIEW ALL
                </a>
            </div>
            <ul class="view-products grid-variant1">
                <li *ngFor="let item of featureArrivalData | slice:0:4">
                    <a [routerLink]="item.image_link" (click)="setCookieFeatured(item.image_title)">
                     <div class ="product-card">
                        <div class="product-img">
                            <img [defaultImage]="defaultImage" [lazyLoad]="imagePath + item.image_name" alt="product Image">
                        </div>
                        <div class="product-description">
                            <p class="prod-name">
                                {{item.image_title}}
                            </p>
                            <p *ngFor="let imggen of item.image_general" class="product_helpLink">
                                <a [routerLink]="imggen.general_url"
                                    (click)=setCookieFeatured(item.image_title)>{{imggen.general_text}}</a>
                            </p>
                        </div>
                     </div>
                    </a>
                </li>
            </ul>
    </section>
</ng-container>