// @import '../../scss/layout/grid.scss';
@import '../../scss/variables';
@import '../../scss/components/home-listing.scss';

.view-all-strip{
    @extend %view-all-strip;
    border: none;
    padding: 0 0 10px; 
    justify-content: space-between;
    background: var(--Light-grayish-orange);
}
.featr_arrival{
    background: var(--Light-grayish-orange);
    padding: 15px;
    .view-products{
        border: 1px solid var(--ghost-white);
        li{
            background: none;
        }
    }  
}