<section class="bank-container netBankingInner">
    <!-- Removed as per for hotfix -->
    <!-- <div class="payment-notification" *ngIf="lowSuccessBanks && lowSuccessBanks.length">
        <span>Low success rate currently observed in cases highlighted separately. If possible, use an alternate payment mode.</span>
    </div> -->

    <div id="net_block">
        <ul class="bank-list">
            <li class="bank-list-item" (click)="selectBank(banks, true)" *ngFor="let banks of topBanks">
                <label class="payment-radio-btn">
                    <input [checked]="selectedBankCode==banks['code']" type="radio" name="net_radio" >
                    <span class="custom-box"></span>
                </label>
                <img src="{{imagePath}}assets/payments/{{bankImages[banks['id']]}}">
                <div class="bank-name">
                    <p class="">{{banks['name']}}</p>
                    <span *ngIf="!banks['up_status']" class="lowsuccessRate">Low success rate observed</span>
                </div>
            </li>
        </ul>

        <form [formGroup]="netBankingForm" (ngSubmit)="pay(netBankingForm.value, netBankingForm.valid)" class="material-form mt-15">
            <div formGroupName="requestParams">
                <div class="input-field">
                    <input formControlName="paymentId" hidden>
                    <input formControlName="bankname" #bank hidden>

                    <div class="custom_select_box" (click)="openYearPopUp()">
                        <div class="custom_select_input">
                            <span>{{ selectedBankName || 'Other Banks'}}</span>
                            <i class="icon-dropdown"></i>
                        </div>
                    </div>

                    <select-popup [itemArray]="othersBanks" [displayKey]="'name'" [valueKey]="'code'" [headerLabel]="'Select Bank'" [compare]="selectedBankCode" [type]="'NETBANKING'" [isVisible]="bankSelectPopupStatus" (selectedValue$)="selectBank($event)"></select-popup>

                    <div class="payment-notification mt-15" *ngIf="commonFailureMsg">
                        <span>Low success rate observed</span>
                    </div>

                </div>
            </div>

            <div class="continue-button">
                <div class="container">
                    <p class="total-mount" *ngIf="totalPayableAmount>0">
                        <span class="payable-amnt">Payable Amount</span> ₹ {{totalPayableAmount | mathCeil | number : '1.2-2'}} </p>
                    <button type="submit" [disabled]="!netBankingForm.valid" class="btn">PAY</button>
                </div>
            </div>
            <div *ngIf="prepaidDiscount>0" class="o-hidden text-black pad-t-15">Prepaid Discount : ₹ {{prepaidDiscount | number : '1.2-2'}}</div>
        </form>

    </div>
</section>

<payu-form *ngIf="isValid&&type=='retail'" [data]="payuData"></payu-form>
<razor-pay *ngIf="isValid&&type=='tax'" [data]="payuData"></razor-pay>