@import '../../../scss/variables';
@import '../../../scss/payment-common';
@import '../payment-continue-btn.scss';

.netBankingInner {
    padding-bottom: 20px;
    @extend %pwa-universal-radio;
}

span.lowsuccessRate {
    font-size: $small-font;
    color: $logo-color;
    display: block;
}