<div class="related-video-container mt-10">
    <h1>Related HP Product Videos</h1>
    <div class="related-video-section">
        <div class="video-outer-section">
            <div class="video-inner-container">
                <img src="../../../assets/img/videoImg1.jpg">
                <img src="../../../assets/img/youtube_icon.svg" class="youtube-icon">
            </div>
            <p>HP - Tank Printer With Bhopali | Review | Moglix</p>
        </div>
        <div class="video-outer-section">
            <div class="video-inner-container">
                <img src="../../../assets/img/videoImg1.jpg">
                <img src="../../../assets/img/youtube_icon.svg" class="youtube-icon">
            </div>
            <p>HP - Tank Printer With Bhopali | Review | Moglix</p>
        </div>
        <div class="video-outer-section">
            <div class="video-inner-container">
                <img src="../../../assets/img/videoImg1.jpg">
                <img src="../../../assets/img/youtube_icon.svg" class="youtube-icon">
            </div>
            <p>HP - Tank Printer With Bhopali | Review | Moglix</p>
        </div>
    </div>
</div>