<div [ngStyle]="customStyle">
    <div class="brand-container">
        <h3 [ngStyle]="titleData?.style" *ngIf="titleData"> {{ titleData?.titleName }} </h3>
        <div class="pwa-row brand-items-wrap">
            <div class="pwa-col-6 brand-items" *ngFor="let list of listOfImgs">
                <img class="pointer" [attr.src]="imagePath + list?.imageLink"  [alt]="list?.imageTitle" (click)="$event.stopPropagation();_cmsService.navigateTo(list?.redirectPageLink, {navigation:'brand_store_' + componentName + list?.imageTitle })">
            </div>
        </div>
    </div>
</div>