<div class="container-fluid"  [ngStyle]="customStyle">
    <div class="row brand-container">
        <h3 [ngStyle]="titleData?.style" class="f-size-16 mar-tb-20" *ngIf="titleData"> {{ titleData?.titleName }} </h3>
        <div class="brand-items-wrap">
            <div class="brand-items" *ngFor="let list of listOfImgs">
                <img class="pointer" [attr.src]="imagePath + list?.imageLink"  [alt]="list?.imageTitle" (click)="$event.stopPropagation();naivgateTo(list?.redirectPageLink)">
            </div>
        </div>
    </div>
</div>