@import '../../../../scss/variables';
.brand-container {
    padding: 10px 10px 0;
    .brand-items{
        width: 48%;
    }
    img {
        max-width: 100%;
    }
    h3{
        font-size: $large-font;
        color: var(--onyx-black);
        padding: 10px 0;
    }
    .brand-items-wrap {
        padding: 0;
        .brand-items {
            margin-bottom: 15px;
            img{
                box-shadow: 0px 3px 6px #0000001A;
                border-radius: $border-radius;
            }
            &:nth-child(odd) {
                padding: 0 6px 0px 0px;
            }
            &:nth-child(even) {
                padding: 0 0px 0px 6px;
            }
        }
    }
}