.urt-contaier {
    background-color: #ececec;
    padding: 15px;
    .utr-form {
        background-color: #ffffff;
        padding: 15px;
        border-radius: 8px;
        h3 {
            font-size: 18px;
            line-height: 27px;
            color: #191919;
            opacity: 1;
        }
        form {
            .form-input-box{
                background-color: #FAF7F7;
                padding: 15px;
                border-radius: 8px;
                .form-input{
                    &:nth-child(2n){
                        margin-top: 10px;
                    }
                    label{
                        color: #3C3C3C;
                        font-size: 14px;
                        font-weight: bold;
                    }
                    input{
                        border: #3C3C3C;
                        border: 1px solid #707070;
                        width: 100%;
                        background-color: #FFFFFF;
                        height: 50px;
                        padding: 0px 10px;
                        border-radius: 4px;
                        margin-top: 5px;
                        &:placeholder
                        {
                            color:#3C3C3C;
                        }
                    } 
                } 
            }
            button{
                padding: 10px 10px;
                width: 100%;
                height: 50px; 
                background-color: #D9232D;
                text-transform: uppercase;
                color: #FFF;
border: 0;
margin: 0;
border-radius: 3px;
font-size: 14px;
margin-top: 20px;
font-weight: bold;                   
            }           
        }
    }
    .utr-notes{
        margin-top: 20px;
        h2{
            font-size: 18px;
            line-height: 27px;
        }
        .note{
            background-color: #E5E5E5;
            padding: 15px;
            border-radius: 8px;
            margin-top: 15px;
            h5{
                font-size: 14px;
                line-height: 24px;
                color: #3C3C3C;
            }
            p{
                color: #7E7E7E;
                font-size: 16px;
                line-height: 24px;
            }
        }
    }
    
}
