<app-bottom-menu *ngIf="show" (outData$)="hide()">
    <div content>
        <div class="return-policies">
            <div class="top-header-bottom-menu">
                <h3>Return & Warranty Policy</h3>
                <i class="icon-circle-delete"></i>
            </div>
            <div class="return-tbl">
                <div class="tblflx return-tbl-head">
                    <div class="flxinner reason">
                        <p>Reason for Return</p>
                    </div>
                    <div class="flxinner refund-prod">
                        <p>Return Periods</p>
                    </div>
                    <div class="flxinner return-policy">
                        <p>Return Policy</p>
                    </div>
                </div>
                <div class="tblflx return-tbl-body">
                    <div class="flxinner">
                        <p>Missing product</p>
                    </div>
                    <div class="flxinner">
                        <p>2 days from delivery</p>
                    </div>
                    <div class="flxinner">
                        <p>Full refund & replacement</p>
                    </div>
                </div>
                <div class="tblflx return-tbl-body">
                    <div class="flxinner">
                        <p>Wrong product</p>
                    </div>
                    <div class="flxinner">
                        <p>2 days from delivery</p>
                    </div>
                    <div class="flxinner">
                        <p>Full refund & replacement</p>
                    </div>
                </div>
                <div class="tblflx return-tbl-body">
                    <div class="flxinner">
                        <p>Damaged product</p>
                    </div>
                    <div class="flxinner">
                        <p>2 days from delivery</p>
                    </div>
                    <div class="flxinner">
                        <p>Full refund & replacement</p>
                    </div>
                </div>
                <div class="tblflx return-tbl-body">
                    <div class="flxinner">
                        <p>Defective product</p>
                    </div>
                    <div class="flxinner">
                        <p>7 days from delivery</p>
                    </div>
                    <div class="flxinner">
                        <p>Full refund & replacement</p>
                    </div>
                </div>
            </div>
            <div class="warranty-policy">
                <h4>Customer Warranty Policy</h4>
                <p>The warranty is at the discretion of brand. On-site and off-site warranty shall be confirmed by brand only.</p>
                <p>In case the product is received in Defective/Missing condition, the customer needs to connect the brand.</p>
            </div>
            <div class="read-full-cta">
                <button>Read Full Return Policy<i class="icon-arrow-right-s-line"></i></button>
            </div>
        </div>
    </div>
    
</app-bottom-menu>