<app-bottom-menu *ngIf="show" (outData$)="hide()">
    <div content>
        <div class="social-links">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ut deserunt numquam molestiae, quae magni, labore quod
            dicta odit aperiam veniam fugit. Magni voluptate in illum fugiat voluptas, quia similique recusandae.<br><hr>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ut deserunt numquam molestiae, quae magni, labore quod
            dicta odit aperiam veniam fugit. Magni voluptate in illum fugiat voluptas, quia similique recusandae.<br><hr>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ut deserunt numquam molestiae, quae magni, labore quod
            dicta odit aperiam veniam fugit. Magni voluptate in illum fugiat voluptas, quia similique recusandae.<br><hr>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ut deserunt numquam molestiae, quae magni, labore quod
            dicta odit aperiam veniam fugit. Magni voluptate in illum fugiat voluptas, quia similique recusandae.<br><hr>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ut deserunt numquam molestiae, quae magni, labore quod
            dicta odit aperiam veniam fugit. Magni voluptate in illum fugiat voluptas, quia similique recusandae.<br><hr>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ut deserunt numquam molestiae, quae magni, labore quod
            dicta odit aperiam veniam fugit. Magni voluptate in illum fugiat voluptas, quia similique recusandae.<br><hr>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ut deserunt numquam molestiae, quae magni, labore quod
            dicta odit aperiam veniam fugit. Magni voluptate in illum fugiat voluptas, quia similique recusandae.<br><hr>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ut deserunt numquam molestiae, quae magni, labore quod
            dicta odit aperiam veniam fugit. Magni voluptate in illum fugiat voluptas, quia similique recusandae.<br><hr>

        </div>
    </div>
    
</app-bottom-menu>