<div class="corporate-gifting-page">
    <div class="corporate-gifting-tabs-header">
      <ul>
        <li>Appliances&nbsp;&&nbsp;Utilities</li>
        <li>IT&nbsp;&&nbsp;Electronics</li>
        <li>Kitchen&nbsp;Appliances</li>
        <li>Large&nbsp;Appliances</li>
        <li>Fitness</li>
        <li>Home</li>
        <li>Lifestyle</li>
        <li>IOT</li>
        <li>Sports</li>
        <li>Grooming</li>
      </ul>
    </div>
  
    <div class="corporate-gifting-tabs-body-main">
      <h4>Choose from a variety of gifting options below and submit your selection.</h4>
      <div class="corporate-gifting-tabs-body">
        <div class="corporate-gifting-tabs-body-left">
          <div class="product-area">
            <div class="product-area-inner">
              <div class="product-img">
                <img src="/assets/img/corporate-giftinf-item.png"> 
                <div class="check-icon">
                  <i class="fa fa-check-square" style="font-size:24px"></i>
                </div>
              </div>
              <div class="product-title">
                <h5>Usha 500w white blue mixer grinder</h5>
              </div>
              <div class="price">
                <p><span class="original-price">₹3849</span> &nbsp; <span>₹2111</span></p>
              </div>
              <div class="product-qty">
                <div class="btn-minus product-qty-child">
                  <a href=""><p>-</p></a>
                </div>
                <div class="total-no product-qty-child">
                  <p>0</p>
                </div>
                <div class="btn-plus product-qty-child">
                  <a href=""><p>+</p></a>
                </div>
              </div>
            </div>
            <div class="product-area-inner">
              <div class="product-img">
                <img src="/assets/img/corporate-giftinf-item.png"> 
                <div class="check-icon">
                  <i class="fa fa-check-square" style="font-size:24px"></i>
                </div>
              </div>
              <div class="product-title">
                <h5>Usha 500w white blue mixer grinder</h5>
              </div>
              <div class="price">
                <p><span class="original-price">₹3849</span> &nbsp; <span>₹2111</span></p>
              </div>
              <div class="product-qty">
                <div class="btn-minus product-qty-child">
                  <a href=""><p>-</p></a>
                </div>
                <div class="total-no product-qty-child">
                  <p>0</p>
                </div>
                <div class="btn-plus product-qty-child">
                  <a href=""><p>+</p></a>
                </div>
              </div>
            </div>
            <div class="product-area-inner">
              <div class="product-img">
                <img src="/assets/img/corporate-giftinf-item.png"> 
                <div class="check-icon">
                  <i class="fa fa-check-square" style="font-size:24px"></i>
                </div>
              </div>
              <div class="product-title">
                <h5>Usha 500w white blue mixer grinder</h5>
              </div>
              <div class="price">
                <p><span class="original-price">₹3849</span> &nbsp; <span>₹2111</span></p>
              </div>
              <div class="product-qty">
                <div class="btn-minus product-qty-child">
                  <a href=""><p>-</p></a>
                </div>
                <div class="total-no product-qty-child">
                  <p>0</p>
                </div>
                <div class="btn-plus product-qty-child">
                  <a href=""><p>+</p></a>
                </div>
              </div>
            </div>
            <div class="product-area-inner">
              <div class="product-img">
                <img src="/assets/img/corporate-giftinf-item.png"> 
                <div class="check-icon">
                  <i class="fa fa-check-square" style="font-size:24px"></i>
                </div>
              </div>
              <div class="product-title">
                <h5>Usha 500w white blue mixer grinder</h5>
              </div>
              <div class="price">
                <p><span class="original-price">₹3849</span> &nbsp; <span>₹2111</span></p>
              </div>
              <div class="product-qty">
                <div class="btn-minus product-qty-child">
                  <a href=""><p>-</p></a>
                </div>
                <div class="total-no product-qty-child">
                  <p>0</p>
                </div>
                <div class="btn-plus product-qty-child">
                  <a href=""><p>+</p></a>
                </div>
              </div>
            </div>
            <div class="product-area-inner">
              <div class="product-img">
                <img src="/assets/img/corporate-giftinf-item.png"> 
                <div class="check-icon">
                  <i class="fa fa-check-square" style="font-size:24px"></i>
                </div>
              </div>
              <div class="product-title">
                <h5>Usha 500w white blue mixer grinder</h5>
              </div>
              <div class="price">
                <p><span class="original-price">₹3849</span> &nbsp; <span>₹2111</span></p>
              </div>
              <div class="product-qty">
                <div class="btn-minus product-qty-child">
                  <a href=""><p>-</p></a>
                </div>
                <div class="total-no product-qty-child">
                  <p>0</p>
                </div>
                <div class="btn-plus product-qty-child">
                  <a href=""><p>+</p></a>
                </div>
              </div>
            </div>
            <div class="product-area-inner">
              <div class="product-img">
                <img src="/assets/img/corporate-giftinf-item.png"> 
                <div class="check-icon">
                  <i class="fa fa-check-square" style="font-size:24px"></i>
                </div>
              </div>
              <div class="product-title">
                <h5>Usha 500w white blue mixer grinder</h5>
              </div>
              <div class="price">
                <p><span class="original-price">₹3849</span> &nbsp; <span>₹2111</span></p>
              </div>
              <div class="product-qty">
                <div class="btn-minus product-qty-child">
                  <a href=""><p>-</p></a>
                </div>
                <div class="total-no product-qty-child">
                  <p>0</p>
                </div>
                <div class="btn-plus product-qty-child">
                  <a href=""><p>+</p></a>
                </div>
              </div>
            </div>
            <button class="submit btn-view-more" id="submit">VIEW MORE</button>
          </div>
        </div>
        <div class="corporate-gifting-tabs-body-right">
          <div class="form-area">
            <div class="form-header">
                <img src="/assets/img/gifting-form-bg.png"> 
                <div class="form-header-show">
                    <h4>Get the perfect<br> corporate gift solution</h4>
                </div>
            </div>
            <div class="form-body">
              <h5>4 Product Selected. Go For It!</h5>
              <form>
                <input class="name" id="name" placeholder="First Name*">
                <input class="email" id="email" placeholder="Email ID*">
                <input class="mobile-number" id="mobile-number" placeholder="Mobile No*">
                <textarea class="message" id="message" placeholder="Message"></textarea>
                <button class="submit" id="submit">SUBMIT REQUEST</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>