<div class="corporate-gifting-page">

    <div class="corporate-gifting-tabs-header">
      <ul>
        <ng-container *ngFor="let category of giftingData; index as i;" >
          <li [ngClass]="{'active': i === selectedCategoryIndex}" (click)="updateSelectedCategory(i)" >{{category.name}}</li>
        </ng-container>
      </ul>
    </div>
  
    <div class="corporate-gifting-tabs-body-main">
      <h4 *ngIf="selectedProductCount == 0" >Choose from a variety of gifting options below and submit your selection.</h4>
      <h4 *ngIf="selectedProductCount > 0" >{{selectedProductCount}} Product Selected. Go For It!</h4>
      <div class="corporate-gifting-tabs-body">
        <div class="corporate-gifting-tabs-body-left">
          <div class="product-area">

            <div class="product-area-inner" 
              *ngFor="let product of giftingData[selectedCategoryIndex]['products'];  index as productIndex;" >
              <div class="product-img">
                <img src="/assets/img/corporate-giftinf-item.png"> 
                <label class="check-icon">
                    <input type="checkbox" (click)="selectProduct(productIndex, $event)" ><span style="width: 20px;" class="custom-box"></span>
                </label>
              </div>
              <div class="product-title">
                <h5>{{product.name}}</h5>
              </div>
              <div class="price">
                <p><span class="original-price">{{product.mrp}}</span> &nbsp; <span>{{product.price}}</span></p>
              </div>
              <div class="product-qty">

                <div class="btn-minus product-qty-child"  *ngIf="!product.isAdded">
                  <span>-</span>
                </div>
                <div class="btn-minus product-qty-child" (click)="decrement(productIndex)" [ngClass]="{'active': product.isAdded}" *ngIf="product.isAdded" >
                  <span>-</span>
                </div>

                <div class="total-no product-qty-child">
                  <p>{{product.quantity}}</p>
                </div>


                <div class="btn-plus product-qty-child" *ngIf="!product.isAdded">
                  <span>+</span>
                </div>
                <div class="btn-plus product-qty-child" (click)="increment(productIndex)" [ngClass]="{'active': product.isAdded}"
                  *ngIf="product.isAdded">
                  <span>+</span>
                </div>


              </div>

            </div>
            <!-- <button class="submit btn-view-more" id="submit">VIEW MORE</button> -->
          </div>
        </div>
        <div class="corporate-gifting-tabs-body-right">
          <div class="form-area">
            <div class="form-header">
                <img src="/assets/img/gifting-form-bg.png"> 
                <div class="form-header-show">
                    <h4>Get the perfect<br> corporate gift solution</h4>
                </div>
            </div>
            <div class="form-body" [formGroup]="requestForm"  >
                <input class="name" id="name" formControlName="name" placeholder="Name*">
                <div class="error" *ngIf="isFormSubmited && requestForm.get('name').hasError('required')" >Name is required</div>
                <input class="email" id="email" formControlName="email" placeholder="Email ID*">
                <div class="error" 
                  *ngIf="isFormSubmited && (requestForm.get('email').hasError('required') ) " >Email is required</div>
                  <div class="error" 
                  *ngIf="isFormSubmited && (requestForm.get('email').hasError('email') ) " >Please enter valid email address</div>
                <input class="mobile-number" formControlName="phone" id="mobile-number" placeholder="Mobile No*">
                <div class="error" 
                  *ngIf="isFormSubmited && (requestForm.get('phone').hasError('required') ) " >Mobile No. is required</div>
                  <div class="error" 
                  *ngIf="isFormSubmited && (requestForm.get('phone').hasError('pattern') ) " >Please enter valid phone number</div>
                <textarea class="message" formControlName="message" id="message" placeholder="Message"></textarea>
                <button class="submit" (click)="submit()" id="submit">SUBMIT REQUEST</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>