@import '../../scss/variables';
@import '../../scss/base/typography.scss';
@import '../../scss/layout/cards.scss';

.testimonial-container{
	.card{
		border-color: var(--ghost-white);
		margin-bottom:15px;
		padding: 15px;
		.testimonial-heading{
			display: flex;
			i{
				margin-left: auto;
			}
		   }
	 }
}