@import '../../scss/variables';
@import '../../scss/base/typography.scss';
@import '../../scss/layout/cards.scss';
@import '../../scss/utils/utilities.scss';

.testimonial-container{
	.card{
		border-color: var(--ghost-white);
		margin-bottom:15px;
		padding: 15px;
		.testimonial-heading{
			display: flex;
			i{
				margin-left: auto;
			}
		}
		.content{
			.list-information {
				li {
				  margin: 10px 0 0 10px;
				  &:last-child{
					  margin-bottom: 10px;
				  }
				}
			}
		}
	 }
}