@import '../../scss/variables';
@import '../../scss/base/typography.scss';
@import '../../scss/layout/cards.scss';

.testimonial-container{
	.card{
		border-color: var(--ghost-white);
		margin-bottom:15px;
		.testimonial-heading{
			display: flex;
			align-items: center;
			i{
				margin-left: auto;
			}
		   }
		.decimal-list{
			list-style: decimal;
			padding-left: 15px;
			li{
				padding: 5px;
			}
		 }
	 }
}