@import '../../scss/variables';
.cod-payContainer {
    margin: 0 3px;
    background: var(--ghost-white);
}
.save-amount-text{
    font-size: 12px;
    text-align: center;
    margin-bottom: 8px;
    color: var(--onyx-black);
    font-weight: 600;
}
.cod-payBtn {
    display: flex;

    .cod-btn {
        height: 55px;
        margin: 2px;
        padding: 0 8px;

        .text-container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 55px;

            .text {
                font-size: 12px;

                p {
                    display: flex;
                    align-items: center;

                    img {
                        width: 30px;
                        padding-left: 5px;
                    }
                }

                .cod-price {
                    font-size: 14px;
                    display: block;
                    margin-top: 4px;
                    line-height: 20px;
                }

                .price-section {
                    display: flex;
                    align-items: center;
                    margin-top: 4px;
                    font-size: 14px;
                    line-height: 20px;

                    .price-mrp {
                        font-size: 12px;
                        // text-decoration: line-through;
                        margin-top: 0;
                        line-height: 12px;
                        padding-right: 6px;
                        font-weight: 400;

                        .strike-off-upper {
                            position: relative;

                            .strike-off {
                                height: 1px;
                                background-color: var(--white);
                                top: 7px;
                                position: absolute;
                                right: 3px;
                                width: 100%;
                            }
                        }
                    }
                }
            }

            i {
                font-size: 14px;
            }
        }
    }
}

.bg-blue {
    background: #278BED;
}

@media only screen and (min-width: 315px) and (max-width: 340px){
    .cod-payBtn{
        .cod-btn{
            .text-container{
             .text{
                font-size: 11px;
                .price-section{
                    font-size: 11px;
                }
             }   
            }
        }
    }

}

.cod-popup {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: var(--white);
    border-radius: 8px;
    width: 100%;
    padding: 15px;
    .cod {
        width: 100%;

        img {
            width: 208px;
        }
        h3 {
            font-size: $extra-large-2-font;
            line-height: 30px;
        }
        .btn-sec{
            display: flex;
            padding-top: 30px;
            .small-btn{
                padding: 10px 0;
                width: calc(35% - 15px)
            }
            .big-btn{
                padding: 10px 0;
                width: 65%;
                margin-left: 15px;
            }
            
        }
    }
   
}