<div class="pad-tb-10 cod-payContainer">
    <p class="save-amount-text">Pay online & save extra ₹500 OFF on this order.</p>
    <div class="cod-payBtn">
        <div class="cod-btn btn primary-full-btn bg-blue">
            <div class="text-container">
                <div class="text" (click)="validateCart()">
                    <p>CASH ON DELIVERY</p>
                    <span class="cod-price">₹{{payableAmount}}</span>
                </div>
                <i class="icon-next"></i>
            </div>
        </div>
        <div class="cod-btn btn primary-full-btn">
            <div class="text-container">
                <div class="text" (click)="continueToPayment()">
                    <p>PAY ONLINE <img src="../../../assets/img/online-pay.png"></p>
                    <span class="price-section">
                        <!-- <span class="mrp-price">₹{{payableAmount}}</span> -->

                        <span class="price-mrp gray-txt">
                            <span class="strike-off-upper">
                                <span class="strike-off"></span>
                                ₹{{payableAmount}}
                            </span>
                        </span>
                        <b>₹{{payableAmount - cartService.totalPrepaidSaving}}</b>
                    </span>
                </div>
                <i class="icon-next"></i>
            </div>
        </div>
    </div>
</div>