<p *ngIf="_cartService.totalPrepaidSaving>0 && this.displayMode == 'FLOATING'" class="discount-offer">
    <span class="large-text" >
        Pay online & save EXTRA {{_cartService.totalPrepaidSaving | currency:'INR' : 'symbol' : '1.0-0'}} OFF
    </span>
    <br/>
    <span class="small-text" >
        via UPI, EMI, Credit/Debit Card, Net Banking, Wallets
    </span>   
</p>
<p class="small-text-v2" *ngIf="_cartService.totalPrepaidSaving>0 && this.displayMode == 'LABEL'" >
    You are saving {{_cartService.totalPrepaidSaving | currency:'INR' : 'symbol' : '1.0-0'}} with {{displayText}}.
</p>