@import '../../scss/variables';

.discount-offer {
    background-color: var(--slimy-green);
    color: var(--white);
    font-weight: $font-bold;
    text-align: center;
    padding: 10px;
    font-size: $medium-font;
    margin-top: -5px;
    margin-bottom: 5px;
    width: 100%;
    text-transform: none;
}

.large-text {
    font-weight: $font-bold;
    font-size: $large-font;
}

.small-text {
    font-weight: $font-bold;
    font-size: $small-font;
}

.small-text-v2{
    font-size: $medium-font;
    color: var(--slimy-green);
    font-weight: $font-bold;
}
.offer-info-section{
    display: flex;
    align-items: center;
}
.info-icon{
    color: var(--bleu-de-france);
    margin-left: 5px;
}