

<div id="create_rfq">

    <div class="rfq">
        <div class="rfq-banner">
            <h2>Buying for Your Business?</h2>
            <h2>Get the Best Quotes. 100+ Products at Bargain Deals + GST Benefit</h2>
        </div>
        <div class="rfq-form-container">
            <div class="rfq-form-heading">
                <h2>
                    Fill your bulk query requirement & our experts will get in touch with you with the best -
                    <span>All of this within 30 min.</span>
                </h2>
            </div>
            <form>
                <div class="personal-details">
                    <div class="form-pd-field">
                        <label>Full Name*</label>
                        <input type="text" placeholder="Enter full name">
                        <div class="error-txt">
                            Kindly enter your name
                        </div>
                    </div>
                    <div class="form-pd-field">
                        <label>Email ID*</label>
                        <input type="text" placeholder="Enter Email ID">
                    </div>
                    <div class="form-pd-field">
                        <label>Mobile No*</label>
                        <input type="text" placeholder="Enter Mobile No">
                    </div>
                    <div class="form-pd-field">
                        <label>Company (optional)</label>
                        <input type="text" placeholder="Enter Company (optional)">
                    </div>
                    <button class="btn btn-variant1 btn-disabled">SUBMIT REQUEST</button>
                </div>
            </form>
        </div>
    </div>
    <!-- success popup -->
    <!-- <div class="thanks-pop">
        <div class="top-cross-area">
            <img src="assets/img/close-circle-fill.svg">
        </div>
        <div class="pop-img-area">
            <img src="assets/img/checkbox-circle-fill-m.svg">
        </div>
        <div class="pop-text-area">
            <h5>Thanks for submitting the query, we will call you with the best discounts within 30 min.</h5>
        </div>
    </div> -->
</div>