@import "../../scss/variables.scss";
@import '../../scss/layout/cards.scss';
@import '../../scss/layout/forms.scss';

//  new design
.rfq {
  .bannerBlock {
    // ISSUE replace with cdn url
    background-image: url(../../../assets/img/rfq-banner-img.png);
    padding: 30px 20px 60px;
    p {
      font-size: $extra-large-1-font;
      line-height: $extra-large-line-height;
      color: var(--white);
      text-align: center;
      font-weight: $font-bold;
    }
  }
  .card{
    padding: 15px;
    box-shadow: 0px 3px 12px #00000014;
    border: none;
    margin-top: -40px;
    .rfq-form-heading{
      padding-bottom: 15px;
      p {
        text-align: center;
        font-size: $large-font;
        line-height: 21px;
        color: var(--onyx-black);
        span {
          font-weight: 600;
        }
      }
    }
    label{
      font-size:$medium-font;
      color: var(--onyx-black);
    }
    .secondry-btn{
      width: 100%;
    }
  }
}

// success popup
.thanks-pop {
  padding: 20px;
  width: 100%;
  background-color: var(--white);
  .top-cross-area {
    img {
      width: 25px;
    }
    display: flex;
    justify-content: flex-end;
  }
  .pop-img-area {
    img {
      width: 100px;
    }
    display: flex;
    justify-content: center;
  }
  .pop-text-area {
    margin-top: 20px;
    h5 {
      font-size: 18px;
      line-height: 22px;
      text-align: center;
    }
  }
  .pop-text-area-v2 {
    margin-top: 40px;
    text-align: 'center';
    width: 100%;
  }
}
