<div id="quickOrderPage" class="pwa-row pwa-row-noPad">
    <div class="pwa-col-12">
        <div *ngIf="_cartService.getGenericCartSession?.itemsList?.length > 0" class="mb-65">
            <!-- <cart-notifications (viewUnavailableItems$)="viewUnavailableItemsFromNotifacions($event)"></cart-notifications> -->
            <quick-order-all-address [addDeliveryOrBilling]="addDeliveryOrBilling"
            (emitDeliveryAddressSelectEvent$)="handleDeliveryAddressEvent($event)"
            (emitBillingAddressSelectEvent$)="handleBillingAddressEvent($event)"
            (emitInvoiceTypeEvent$)="handleInvoiceTypeEvent($event)"
            ></quick-order-all-address>
            
            <all-promocode-v1></all-promocode-v1>
            <cart-notifications (viewUnavailableItems$)="viewUnavailableItemsFromNotifacions($event)"></cart-notifications>
            <prepaid-offer></prepaid-offer>
            <cart [moduleName]="'QUICKORDER'" ></cart>

              <!--homeMiscellaneousCarousel ( Buy it again, Recently Viewed, wishlist & my RFQ section)-->
            <ng-container *ngIf="_localAuthService.isUserLoggedIn()"></ng-container>  
            <section class="popular-Deals-section" id="popularDeals" data-observeVisibility [debounceTime]="100" (visible)="callHomePageWidgetsApis()">
                <ng-container #homeMiscellaneousCarousel></ng-container>
                <div class="mb-15">
                    <home-page-skeletons [type]="'SIMILAR'" [templateRefInstance]="homeMiscellaneousCarouselInstance"></home-page-skeletons>
                </div>
            </section> 

            <gst-details></gst-details>
            <order-summary></order-summary>
            <generic-offers></generic-offers>
            <div class="fixed-bottom-cta">
                <button class="btn primary-full-btn" (click)="navigateToCheckout()" >{{ _commonService?.userSession?.authenticated === 'true' ? 'CONTINUE TO CHECKOUT' : 'SIGN IN TO CHECKOUT' }}</button>
            </div>
        </div>
        <cart-no-item *ngIf="isCartNoItems" class="pwa-col-12"></cart-no-item>
        <shared-checkout-unavailable-items 
            *ngIf="_cartService?.showUnavailableItems" 
            [data]="{ page: 'all', items: _cartService?.unavailableItemsList, removeUnavailableItems: _cartService?.removeUnavailableItems.bind(_cartService)  } ">
        </shared-checkout-unavailable-items>
    </div>
</div>