<ng-container *ngIf="priceDataWithoutProcessing && priceDataWithoutProcessing.length > 0">
    <div *ngIf="chartType == 'price'" class="single-widget">
        <div class="inner-widget-section">
            <div class="widget-heading">
                <p><img src="{{imagePathAsset}}assets/img/insight.svg"> Moglix Insight</p>
                <p class="heading-txt">Top {{priceDataWithoutProcessing.length}} price-range of {{categoryName}}</p>
            </div>
            <div class="single-widget-container pad-lr-0">
                <div id="price-chart" style="width:100%;"></div>
                <div class="single-card-container">
                    <div (click)="generateFragmentUrl('price',formatPrice(price.interval))"
                        *ngFor="let price of priceDataWithoutProcessing" class="card">

                        <p class="dots"></p>
                        <p>
                            {{price.orderPercentage}}% of users purchase <b>power tools</b> in range
                            <b>{{formatPrice(price.interval)}}</b>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>
<ng-container *ngIf="brandDataWithoutProcessing && brandDataWithoutProcessing.length > 0">
    <div *ngIf="chartType =='brand'" class="single-widget">
        <div class="inner-widget-section">
            <div class="widget-heading">
                <p><img src="{{imagePathAsset}}assets/img/insight.svg"> Moglix Insight</p>
                <p class="heading-txt">Top {{brandDataWithoutProcessing.length}} Brands of {{categoryName}}</p>
            </div>
            <div class="single-widget-container pad-lr-0">
                <div id="brand-chart" style="width:100%;"></div>
                <div class="single-card-container">
                    <div (click)="generateFragmentUrl('brand',brand.brandName)"
                        *ngFor="let brand of brandDataWithoutProcessing" class="card">
                        <p>
                            {{brand.orderPercentage}}% of users purchase {{categoryName}} of {{brand.brandName}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="attributeDataWithoutProcessing && attributeDataWithoutProcessing.length > 0">
    <div *ngIf="chartType =='attribute'" class="multiple-widgets">
        <div class="inner-widget-section">
            <div class="widget-heading">
                <p><img src="{{imagePathAsset}}assets/img/insight.svg"> Moglix Insight</p>
                <p class="heading-txt">{{categoryName}} purchase as per </p>
            </div>
            <div class="multiple-widgets-container">
                <div  *ngFor="let attribute of attributeDataWithoutProcessing;let i = index" class="attribute-chart-container"> 
                    <div  [id]="'attribute-chart'+i" style="width:100%;"></div>
                    <div (click)="generateFragmentUrl(attribute.attributeName,maxValue(attribute.attributePercentange))" class="card">
                        {{attribute.attributeName}}
                        <p class="dots"></p>
                        <p>
                             {{maxValue(attribute.attributePercentange,'percent')}}% of users purchase <b>{{categoryName}}</b> in <b>{{maxValue(attribute.attributePercentange)}}</b> 
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>