.card{
    background:var(--white);
    border-radius:8px;
    box-shadow: rgba(0, 0, 0, 0.16) -1px 2px 5px;
    padding:15px;
    margin: 10px 0 0;
    border: 1px solid #E3E3E3;
    width: 240px;
    display: flex;
    .dots{
        width: 16px;
        height: 10px;
        border-radius: 100%;
        background-color: #3c3c3c;
        margin-right: 5px;
    }

}

.multiple-widgets{
    margin: 0 10px;
    .multiple-widgets-container{
        display: flex; 
        overflow: auto;
        background: #fff;
        border-radius: 8px;
        .attribute-chart-container{
            margin: 10px 0px 10px 10px;
            &:last-child{
                margin-right: 10px;
            }
        }
    }
}

.inner-widget-section{
    background: #fff;
    border-radius: 8px;
    .widget-heading{
        padding: 10px;
        background: #fff;
        width: 100%;
        border-radius: 8px;
        p{
            font-size: 10px;
            line-height: 16px;
            display: flex;
            color: #D9232D;
            font-weight: 600;
            img{
                width: 15px !important;
                margin-right: 5px;
            }
        }
        .heading-txt{
            font-size: 16px ;
            font-weight: bold;
            line-height: 24px;
            color: #3c3c3c;
            padding-top: 5px;
        }
    }
}