@import "../../scss/variables";
@import "../../scss/components/checkbox";
@import "./../../scss/layout/forms.scss";
.column-field {
  .w-48 {
    width: 48%;
    float: left;
  }
  .column-r {
    float: right;
  }
}

button.continue-btn[disabled] {
  background: #bdbdbd;
}
.edit-field {
  top: 14px !important;
  right: 10px !important;
}

input,
select {
  width: 100%;
  height: 40px !important;
  border: 1px solid var(--silver);
  border-radius: 8px !important;
  padding: 0px 10px !important;
  background-color: var(--white) !important;
}

.verified{
  background-color: var(--slimy-green);
  color: var(--white) !important;
  padding: 8px;
  border-radius: 6px;
  top: 5px !important;
  right: 5px !important;
  font-weight: bold !important;
}