<ng-container *ngIf="cartNotifications">
    <p>Cart Notifications</p>
    <hr>
    <section *ngIf="displayNonServiceableItems">
        {{nonServiceableItems | json }}
    </section>
    <hr>
    <section *ngIf="displayNonCashDeliverableItems">
        {{nonCashonDeliverableItems | json }}
    </section>
    <hr>
    <section *ngIf="displaypriceUpdatedItems">
        {{priceUpdateItems | json }}
    </section>
    <hr>
    <section *ngIf="displayoutOfStockItems">
        {{outOfStockItems | json }}
    </section>
</ng-container>