@import '../../scss/variables';
::ng-deep {
    .category_data {
        padding: 0px 15px;
        background: #f2f2f2;
        h2 {
            font-size: 16px;
            padding: 10px 0;
            text-transform: none;
        }
        p {
            font-size: 12px;
            line-height: 18px;
        }
        a {
            color: #0061d5 !important
        }
    }
    .body-bg {
        background: #f2f2f2;
        #openCat2{
            padding: 10px;
            .table-cate-btm{
                box-shadow: 0px 3px 6px #0000001A;
                border: 1px solid #F1F1F1;
                background: #f2f2f2;
                border-radius: 4px;
                margin-bottom: 10px;
                tbody{
                   background-color: #ffffff;
                   tr{
                    border: none;
                    td{
                        border: none;
                    }
                }           
            }
        }

        }
        
    }
}

.panel-head {
    background: #fff;
    margin-top: 10px;
    h3 {
        padding: 15px 5px;
        font-weight: bold;
        text-transform: capitalize;
    }
}


.m_faqHeading {
    padding: 25px 0 10px 10px;
    box-sizing: border-box;
    font-size: 14px;
}

.m_faqQuestion {
    padding: 10px 20px;
    font-size: 16px;
    position: relative;
     :before {
        content: "Q:";
        font-size: 18px;
        position: absolute;
        left: -8px;
        font-weight: bold;
    }
}

.m_faqAnswer {
    font-size: 12px;
    line-height: 18px;
    position: relative;
    padding: 0px 20px;
    &:before {
        content: "A:";
        font-size: 18px;
        position: absolute;
        left: -8px;
        font-weight: bold;
    }
}

.category-tbl {
    th,
    td {
        font-size: 12px;
        text-align: left;
        border-bottom: 1px solid $border-color;
        padding: 5px;
    }
}


.common_table {
    th,
    td {
        font-size: 12px;
        text-align: left;
        border-bottom: 1px solid $border-color;
        padding: 5px;
    }
}

.openFaq_div{
    padding-left: 20px;
    padding-right: 20px;
}