@import './app/scss/variables';
@font-face {
    font-family: "icomooon_pwa";
    src: url('#{$cdn_url}assets/fonts/icomoon_pwa.ttf') format('truetype');
}
// font-icons
@import './app/scss/root';
@import './app/scss/font-icons/flat-icons.scss';
@import './app/scss/font-icons/stacked-icons.scss';
@import './app/scss/utils/utilities.scss';
@import './app/scss/utils/colors.scss';
@import './app/scss/components/buttons.scss';
@import './app/scss/base/typography.scss';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: $body-color;
    font-size: 12px;
    color: $txt-color;
    font-family: $font-family;
}
.clearfix,
ul,
[class*='grid'] {
    @extend %clear-fix;
}
img {
    border: none;
    width: 100%;
}
ul {
    list-style: none;
    padding:0px;
    margin:0px;
}
a {
    color: $link-color;
    text-decoration: none;
}
.promo-code {
    input {
        float: left;
        border: solid $border-sec-color;
        border-width: 1px 0 1px 1px;
        height: 40px;
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;
        width: 70%;
        padding-left: 10px;
        width: calc(100% - 115px);
    }

    button {
        float: left;
        border: 1px solid $logo-color;
        height: 40px;
        width: 115px;
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
        background: $logo-color;
        color: $white;
        font-size: $large-font;
        font-weight: 600;
    }
}

.hide {
    display: none;
}

.plp-container-header-adjust{
    margin-top: 169px;
}
// Common Header Css
header-nav {
    &.inner_head {
        &+div {
            margin-top: 50px;
        }
    }
    &.remove_inner_head {
        &+div {
            margin-top: 0px !important;
        }
    }
}











