@import './app/scss/variables';

// @font-face {
//     font-family: 'icomooon_pwa';
//     font-display: swap;
//     src: local('icomoon_pwa.eot');
//     src: local('icomoon_pwa.eot'),
//     url('#{$cdn_url}assets/fonts/icomoon_pwa.ttf') format('truetype');
//     font-weight: normal;
//     font-style: normal;
// }

@font-face {
    font-family: "icomooon_pwa";
    src: url('#{$cdn_url}assets/fonts/icomoon_pwa.ttf') format('truetype');
}
// font-icons
@import './app/scss/font-icons/flat-icons.scss';
@import './app/scss/font-icons/stacked-icons.scss';
//spacing
// @import './app/scss/utils/spacing.scss';
// common classes
@import './app/scss/utils/utilities.scss';
// colors
@import './app/scss/utils/colors.scss';
// buttons
// @import './app/scss/components/buttons.scss';






* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // font-family: Arial, Helvetica, sans-serif;
}


body {
    background: $body-color;
    font-size: 12px;
    color: $txt-color;
    font-family: $font-family;
}


.clearfix,
ul,
[class*='grid'] {
    @extend %clear-fix;
}

img {
    border: none;
    width: 100%;
}

ul {
    list-style: none;
}

a {
    color: $link-color;
    text-decoration: none;
}
.promo-code {
    input {
        float: left;
        border: solid $border-sec-color;
        border-width: 1px 0 1px 1px;
        height: 40px;
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;
        width: 70%;
        padding-left: 10px;
        width: calc(100% - 115px);
    }

    button {
        float: left;
        border: 1px solid $logo-color;
        height: 40px;
        width: 115px;
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
        background: $logo-color;
        color: $white;
        font-size: $large-font;
        font-weight: 600;
    }
}

.hide {
    display: none;
}

.plp-container-header-adjust{
    margin-top: 169px;
}
// Common Header Css
header-nav {
    &.inner_head {
        &+div {
            margin-top: 50px;
        }
    }
    &.remove_inner_head {
        &+div {
            margin-top: 0px !important;
        }
    }
}
//head icons
// .head-icons{
//     &>* {
//         float: left;
//         margin-left: 5px;
//         font-size: 20px;
//         padding: 10px 5px;
//         position: relative;
//         color: $white;
//     }
// }

.small-font{
    font-size: $small-font;
}
.medium-font{
    font-size: $medium-font;
}
.large-font{
    font-size: $large-font;
}
.extra-large-font{
    font-size: $extra-large-font;
}










