<ng-container *ngIf="bestSeller_Data">
<section class="bscategory">
    <div class="bscatwrap">
        <div class="view-all-strip">
            <h3 class="slp-heading">{{ productStaticData?.best_sellers }}</h3>
                <a (click)="openPopup=true;" class="btn quinary-btn">{{ productStaticData?.view_all }}</a>
            
        </div>
        <div class="verticle-view-card mb-15">
            <div class="pwa-col-12 newarrivals-section row-gutter-space">
                <div class="outer-view-section pwa-col-6" *ngFor="let product of bestSeller_Data">
                    <a [routerLink]="'/'+product.productlink" >
                    <div class="pwa-image">
                        
                            <img [src]="defaultImage" lazyLoad="{{imagePath}}{{product.imageLink_medium}}"
                                alt="{{product.productName}}" />

                    </div>
                    <div class="product-card-lower-inner">
                        <div class="name">{{product.productName | slice:0:30}} </div>
                        <p class="brand">{{ productStaticData?.by }}: <span>{{getBrandBy(product.short_description)}}</span></p>
                        <div class="prod-price-row">
                            <div class="price">
                                <span class="prod-mrp">₹{{product.mrp}}</span> 
                                <span class="prod-discount">{{product.discount_percentage}}% {{productStaticData?.off}}</span>
                            </div>
                            <p class="prod-selling-price">₹{{product.sellingPrice}}</p>
                        </div>

                    </div>
                </a>
                </div>
            </div>
        </div>
    </div>
</section>

<app-pop-up *ngIf="openPopup" (outData$)="outData($event)" class="bs-popup"
    [headerType]="'pop-up-header1'"
    [data]="{headerText:'Bestsellers'}">
    <div class="content-popup" content>
        <!-- <p class="pad-10 f-14 bold-txt upper-case">{{categoryNameFromHomePage}}</p> -->
        <div class="pwa-row verticle-view-card mb-15 pt-15">
            <div class="pwa-col-12 newarrivals-section row-gutter-space">
            <div class="outer-view-section pwa-col-6" *ngFor="let product of bestSeller_Data">
                <!-- <a [routerLink]="product.productlink" class="clearfix"> -->
                <a [routerLink]="'/'+product.productlink" class="clearfix">
                    <div class="pwa-image">
                        <img [src]="defaultImage" lazyLoad="{{imagePath}}{{product.imageLink_medium}}"
                            alt="{{product.productName}}">
                    </div>
                    <div class="product-card-lower-inner">
                        <div class="name">{{product.productName | slice:0:60}} <span *ngIf="product.productName.length>60">...</span></div>
                        <p class="brandname" style="color: #6f6f6f;"><span>{{ productStaticData?.by }} :</span>{{getBrandBy(product.short_description)}}</p>
                        <div class="prod-price-row">
                            <div class="price">
                                <span class="prod-mrp" style="color: #6f6f6f">₹{{product.mrp}}</span> 
                                <span class="prod-discount">{{product.discount_percentage}}% {{ productStaticData?.off }}</span>
                            </div>
                            <p class="prod-selling-price">₹{{product.sellingPrice}}</p>
                        </div>  
                    </div>
                </a>
            </div>
            </div>
        </div>
    </div>
</app-pop-up>
</ng-container>