@import "../../../scss/variables";
@import "../../../scss/root";
// @import '../../../scss/layout/grid.scss';

.featuredBanner{
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
    @extend %hide-scrollbar;
    padding: 0 15px;
}