@import "../../../scss/variables";
@import "../../../scss/root";
// @import '../../../scss/layout/grid.scss';

.featuredBanner{
    .featrBannerBlock{
        overflow-y:hidden;
        overflow-x:scroll;
        width:auto;
        background: var(--white);
        @extend %hide-scrollbar;
    }
    .featrBannerSlide{
        float: left;
        margin-right:10px;
        width: 340px;
            img{
                width:$fullwidth;
            }
    }
}