@import "../../../scss/variables";
@import "../../../scss/root";
// @import '../../../scss/layout/grid.scss';

.featuredBanner{

    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
    @extend %hide-scrollbar;
    padding: 0 15px;
    .featrBannerSlide{
        padding-right: 15px;
        &:last-child{
            padding-right: 0px;
        }
        a{
            img{
                border-radius: 8px;
                max-height: 150px;
                width: 100%;
            }
        }
    }
}