<button (click)="filterUp()" style="padding: 10px 30px; background: white;">Filter Up</button>
<button (click)="toggleSortBy()" style="padding: 10px 30px; background: white;">Sort By</button>
<ng-container #filter></ng-container>
<ng-container #sortBy></ng-container>

<div class="list-heading">
    <div class="left" *ngIf="productsListingData.totalCount">
        {{productsListingData.totalCount}} Products below
    </div>
    <!-- <div class="right">Showing 20 out of {{productsListingData.totalCount}} products</div> -->
</div>

<ng-container *ngFor="let product of productsListingData.products; let i = index;">
    <filter-mid-plp [position]="i" [filterData]="productsListingData.filterData" *ngIf="i === 5 || i === 10 || i === 15"></filter-mid-plp>
    <product-horizontal-card [product]="product">
    </product-horizontal-card>
</ng-container>

<span observeVisibility [debounceTime]="100" (visible)="onVisiblePagination()"></span>
<ng-template #pagination></ng-template>