@import '../../scss/variables';

.list-heading {
    width: 100%;
    padding: 7px 10px;
    .list-num {
        font-size: 10px;
    }
    .list-name {
        padding: 5px 0px;
        font-weight: 600;
        text-transform: capitalize;
        font-size: 16px;
    }
}

.filter-wrapper {
    position: fixed;
    // bottom: -200px;
    top: 54px;
    z-index: 10;
    left: 0px;
    width: 100%;
    box-shadow: 0px 12px 16px #455B631A;
    border-top: 1px solid var(--ghost-white);
    background: $white;
    @extend %box-shadow;
    &.translateHeader {
        transform: translateY(60px);
        transition-timing-function: ease-in-out;
        transition: 0.2s all;
    }
    &.slide-up {
        bottom: 0;
    }
    button {
        width: 50%;
        height: 54px;
        border: none;
        background: transparent;
        float: left;
        font-size: $medium-font;
        text-align: left;
        padding: 0 12px;
        .txt {
            display: inline-block;
            vertical-align: middle;
            line-height: 16px;
        }
        &:first-of-type {
            position: relative;
            &:after {
                content: "";
                position: absolute;
                height: 25px;
                border-right: 1px solid #ddd;
                right: 0px;
                top: 15px;
            }
        }
        i {
            padding-right: 10px;
            font-size: 20px;
            vertical-align: middle;
        }
        .filter_count {
            color: #D9232D;
            background: #f9cece;
            border-radius: 4px;
            padding: 2px 5px;
            margin-left: 10px;
            font-size: 11px;
            vertical-align: middle;
        }
    }
}

.filter_chips {
    padding: 20px 10px;
    background: $white-color;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    width: auto;
    &::-webkit-scrollbar {
        display: none;
    }
    .filter_chip {
        background: #F1F1F1;
        border-radius: $border-radius;
        padding: 4px;
        margin-right: 10px;
        line-height: 11px;
        &>* {
            vertical-align: middle;
            display: inline-block;
        }
        i {
            padding-left: 5px;
        }
    }
}

.no-product {
    width: 100%;
    margin: 0 auto 20px auto;
    max-width: 300px;
}

.fixed-btm-app-prmo {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 9;
}

// Ankit Css

.skeleton-filter-container{
        width: 50%;
        float: left;
        font-size: $medium-font;
        text-align: left;

        span{
            padding: 0.1rem 3rem;
            background: #d7d7d7;
            background: #F1F1F1;
            border-radius: 6px;
            position: relative;
            overflow: hidden;
        }
        
        span::before{
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background-image: linear-gradient(to right, #F1F1F1 0%, rgba(0,0,0,0.03) 40%, #F1F1F1 100%,  #F1F1F1 30%);
            background-size: 450px 400px;
            background-repeat: no-repeat;
            animation: shimmer 1s linear infinite;
            -webkit-animation: shimmer 1s linear infinite;;
            top:0;
            right: 0;
        }

        span::before{
            animation-delay: 0.4s;
            -webkit-animation-delay: 0.4s;
        }
}

@keyframes shimmer{
    0%{
        background-position: -450px 0;
    }

    100%{
        background-position: 450px 0;
    }
    
}
.titleDescription{
    padding-top: 5px;
    font-size: 12px !important;
}
.plp-card-list{
    &.pwa-row{
        padding:0px 10px !important;
        margin-bottom:10px;
    }
}