<button (click)="filterUp()" style="padding: 10px 30px; background: white;">Filter Up</button>
<button (click)="toggleSortBy()" style="padding: 10px 30px; background: white;">Sort By</button>
<ng-container #filter></ng-container>
<ng-container #sortBy></ng-container>

<div class="list-heading">
    <div class="left" *ngIf="productsListingData.listingHeading" >{{productsListingData.listingHeading}}</div>
    <div class="right">Showing 20 out of {{productsListingData.totalCount}} products</div>
</div>

<ng-container>
    <product-horizontal-card 
        *ngFor="let product of productsListingData.products" 
        [product]="product">
    </product-horizontal-card>
</ng-container>

<span observeVisibility [debounceTime]="100" (visible)="onVisiblePagination($event)"></span>
<ng-template #pagination></ng-template>