@import '../../scss/variables';
.list-heading {
    width: 100%;
    padding: 7px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    border-bottom: 1px solid #d7d7d7;
    border-top: 1px solid #d7d7d7;
    div {
        width: 50%;
    }
    div.left {
        width: 45%;
        text-align: left;
        font-size: 12px;
        font-weight: 500;
    }
    div.right {
        width: 55%;
        text-align: right;
        font-size: 10px;
        margin-left: auto;
    }
    .list-name{
        padding: 5px 0px;
        font-size: 16px !important;
        font-weight: 600 !important;
    }
}

.filter-wrapper {
    position: fixed;
    // bottom: -200px;
    top: 54px;
    z-index: 5;
    left: 0px;
    width: 100%;
    box-shadow: 0px 12px 16px #455B631A;
    background: $white;
    @extend %box-shadow;
    &.slide-up {
        bottom: 0;
    }
    button {
        width: 50%;
        height: 54px;
        border: none;
        background: transparent;
        float: left;
        font-size: $medium-font;
        font-weight: bold;
        text-align: left;
        padding: 0 12px;
        .txt {
            display: inline-block;
            vertical-align: middle;
        }
        &:first-of-type {
            position: relative;
            &:after {
                content: "";
                position: absolute;
                height: 25px;
                border-right: 1px solid #ddd;
                right: 0px;
                top: 15px;
            }
        }
        i {
            padding-right: 10px;
            font-size: 20px;
            vertical-align: middle;
        }
        .filter_count {
            color: #D9232D;
            background: #f9cece;
            border-radius: 4px;
            padding: 2px 5px;
            margin-left: 10px;
            font-size: 12px;
        }
    }
}

.filter_chips {
    padding: 20px 10px;
    background: #fff;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    width: auto;
    .filter_chip {
        background: #F1F1F1;
        border-radius: 4px;
        padding: 5px 5px;
        font-weight: bold;
        margin-right: 10px;
        i {
            padding-left: 5px;
        }
    }
}