<div class="filter-btn-container">
    <button (click)="toggleSortBy()">Sort By <span>{{ 'popularity' }}</span></button>
    <button (click)="filterUp()">Filters <span class="price-filter">{{ '2' }}</span></button>
</div>

<div class="list-heading">
    <div class="left" *ngIf="productsListingData.totalCount">
        {{productsListingData.totalCount}} Products below
    </div>
</div>

<ng-container *ngFor="let product of productsListingData.products; let i = index;">
    <filter-mid-plp [position]="i" [filterData]="productsListingData.filterData" *ngIf="i === 5 || i === 10 || i === 15"></filter-mid-plp>
    <product-horizontal-card [product]="product">
    </product-horizontal-card>
</ng-container>

<span observeVisibility [debounceTime]="100" (visible)="onVisiblePagination()"></span>
<ng-template #pagination></ng-template>

<ng-container #filter></ng-container>
<ng-container #sortBy></ng-container>