<div class="main-container" *ngIf="this.cartSession != null">
    <shared-checkout-stepper [headers]="STEPPER"></shared-checkout-stepper>
    <cart-notifications (viewUnavailableItems$)="viewUnavailableItemsFromNotifacions($event)"> </cart-notifications>
    <ng-container>
        <section>
            <div class="fixed-bottom-cta pad-0">
                <prepaid-offer-checkout></prepaid-offer-checkout>
            <div *ngIf="isUserLoggedIn else hideContinue" class="payment-strip">
                <div class="amount-left-section">
                    <span class="payable-amnt">Amount Payable
                        <span (click)="scrollPaymentSummary();">
                            <i class="icon-information"></i>
                        </span>
                    </span>
                    <ng-container *ngIf="_cartService.totalPrepaidSaving==0">
                    <ng-container *ngIf="_cartService.getGenericCartSession.cart.totalOffer==0 || _cartService.getGenericCartSession.cart.totalOffer==null" >₹{{ (_cartService.getGenericCartSession.cart.tawot + _cartService.getGenericCartSession.cart.tpt + _cartService.getGenericCartSession.cart.shippingCharges) | mathRound | number : '1.2-2'}}</ng-container>
                    <ng-container *ngIf="_cartService.getGenericCartSession.cart.totalOffer!==0 && _cartService.getGenericCartSession.cart.totalOffer!==null" >₹{{ (_cartService.getGenericCartSession.cart.tawot + _cartService.getGenericCartSession.cart.tpt + _cartService.getGenericCartSession.cart.shippingCharges - _cartService.getGenericCartSession.cart.totalOffer) | mathRound | number : '1.2-2'}}</ng-container>
                    </ng-container>
                    <ng-container *ngIf="_cartService.totalPrepaidSaving>0">
                        <ng-container
                            *ngIf="_cartService.getGenericCartSession.cart.totalOffer==0 || _cartService.getGenericCartSession.cart.totalOffer==null">
                            ₹{{ (_cartService.getGenericCartSession.cart.tawot + _cartService.getGenericCartSession.cart.tpt +
                            _cartService.getGenericCartSession.cart.shippingCharges -_cartService.totalPrepaidSaving) | mathRound | number :
                            '1.2-2'}}</ng-container>
                        <ng-container
                            *ngIf="_cartService.getGenericCartSession.cart.totalOffer!==0 && _cartService.getGenericCartSession.cart.totalOffer!==null">
                            ₹{{ (_cartService.getGenericCartSession.cart.tawot + _cartService.getGenericCartSession.cart.tpt +
                            _cartService.getGenericCartSession.cart.shippingCharges - _cartService.getGenericCartSession.cart.totalOffer
                            -_cartService.totalPrepaidSaving) | mathRound | number : '1.2-2'}}</ng-container>
                    
                    </ng-container>
                </div>
                <button [disabled]="!(hasCartItems)" class="btn primary-btn"
                    (click)="$event.stopPropagation();continueToPayment()">
                    CONTINUE
                </button>
            </div>
        </div>
            <ng-template #hideContinue>
                <div></div>
            </ng-template>
        </section>
        <all-addresses [addDeliveryOrBilling]="addDeliveryOrBilling"
            (emitDeliveryAddressSelectEvent$)="handleDeliveryAddressEvent($event)"
            (emitBillingAddressSelectEvent$)="handleBillingAddressEvent($event)"
            (emitInvoiceTypeEvent$)="handleInvoiceTypeEvent($event)"></all-addresses>
        <cart [moduleName]="'CHECKOUT'"></cart>
        <order-summary></order-summary>
        <generic-offers></generic-offers>
        <shared-checkout-unavailable-items *ngIf="_cartService?.showUnavailableItems"
            [data]="{ page: 'all', items: _cartService?.unavailableItemsList, removeUnavailableItems: _cartService?.removeUnavailableItems.bind(_cartService)  } ">
        </shared-checkout-unavailable-items>
    </ng-container>
</div>
<ng-container #txnDeclined></ng-container>