<div class="main-container" >
    <shared-checkout-stepper [headers]="STEPPER"></shared-checkout-stepper>
    <cart-notifications (viewUnavailableItems$)="viewUnavailableItemsFromNotifacions($event)"> </cart-notifications>
    <ng-container *ngIf="hasCartItems">
        <section>
            <div *ngIf="isUserLoggedIn else hideContinue" class="fixed-bottom-cta payment-strip">
                <div class="amount-left-section">
                    <span class="payable-amnt">Amount Payable
                        <span (click)="scrollPaymentSummary();">
                            <i class="icon-information"></i>
                        </span>
                    </span>
                    ₹&nbsp;{{ payableAmount | mathCeil | number : '1.2-2'}}
                </div>
                <button [disabled]="!(hasCartItems)" class="btn primary-btn" (click)="$event.stopPropagation();continueToPayment()">
                    CONTINUE
                </button>
            </div>
            <ng-template #hideContinue>
                <div></div>
            </ng-template>
        </section>
        <all-addresses [addDeliveryOrBilling]="addDeliveryOrBilling"
            (emitDeliveryAddressSelectEvent$)="handleDeliveryAddressEvent($event)"
            (emitBillingAddressSelectEvent$)="handleBillingAddressEvent($event)"
            (emitInvoiceTypeEvent$)="handleInvoiceTypeEvent($event)"></all-addresses>
        <cart [moduleName]="'CHECKOUT'"></cart> 
        <order-summary></order-summary>
        <generic-offers></generic-offers>
        <shared-checkout-unavailable-items *ngIf="_cartService?.showUnavailableItems" [data]="{ page: 'all', items: _cartService?.unavailableItemsList, removeUnavailableItems: _cartService?.removeUnavailableItems.bind(_cartService)  } "></shared-checkout-unavailable-items>
    </ng-container>
</div>