<div class="payment-dropdown-popup">
    <div class="overlay"></div>
    <div class="payment-dropdown-content">
        <div class="payment-dropdown-header">
            <h3 class="heading-3">Select Bank</h3>
            <i class="icon-circle-delete f-right"></i>
        </div>
        <div class="payment-dropdown-body">
            <ul>
                <li *ngFor="let i of [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18]" class="payment-dropdown-listItem">
                    <label>
                    <input type="radio"  name="1" value="1">
                    <span class ="custom-box"></span>
                </label>
                    <span class="listItem_txt">Standard Chartered Bank</span>
                </li>
            </ul>
        </div>
    </div>
</div>