<div class="payment-dropdown-popup" *ngIf="isVisible">
    <div class="overlay"></div>
    <div class="payment-dropdown-content">
        <div class="payment-dropdown-header">
            <h3 *ngIf="headerLabel" class="heading-3">{{headerLabel}}</h3>
            <i class="icon-circle-delete f-right" (click)="onSelect(null)"></i>
        </div>
        <div class="payment-dropdown-body">
            <ul>
                <li *ngFor="let item of itemArray" class="payment-dropdown-listItem" (click)="onSelect(item)">
                    <span class="radio-box">
                        <ng-container [ngSwitch]="type">
                            <input type="radio" [checked]="item['code'] == compare" *ngSwitchCase="'NETBANKING'">
                            <input type="radio" [checked]="item['key'] == compare" *ngSwitchCase="'EMI'">
                            <input type="radio" [checked]="item['value'] == compare" *ngSwitchCase="'MONTH'">
                            <input type="radio" [checked]="item['value'] == compare" *ngSwitchCase="'YEAR'">
                            <input type="radio" value="{{item[valueKey]}}" *ngSwitchDefault>
                        </ng-container>
                        <span class="custom-box"></span>
                    </span>
                    <span class="listItem_txt" *ngIf="type == 'MONTH'; else keyNames">{{item['key']}}</span>
                    <ng-template #keyNames>
                        <span class="listItem_txt" >{{item[displayKey]}}</span>
                    </ng-template>
                </li>
            </ul>
        </div>
    </div>
</div>