//common popup
@import '../../scss/variables';
@import '../../scss/components/radio';

.payment-dropdown-popup {
    .overlay {
        z-index: 12;
        background: rgba(0, 0, 0, 0.7);
    }
    .payment-dropdown-content {
        z-index: 12;
        border-radius: 8px;
        box-shadow: 0px 3px 16px #0000001A;
        position: fixed;
        top: 40%;
        transform: translateY(-40%);
        width: 80%;
        max-height: 90%;
        overflow-y: scroll;
        margin: 0 auto;
        background: #fff;
        left: 0;
        right: 0;
        .payment-dropdown-header {
            padding: 5px 0px;
            border-bottom: 1px solid var(--platinum);
            h3 {
                padding: 10px 15px;
            }
            i {
                font-size: 16px;
                position: absolute;
                right: 10px;
                top: 15px;
            }
        }
    }
    .payment-dropdown-listItem {
        border-bottom: 1px solid var(--platinum);
        display: flex;
        padding: 10px 15px;
        align-items: center;
        .radio-box {
            @extend %pwa-universal-radio;
        }
        .custom-box {
            margin-right: 10px;
        }
        .listItem_txt {
            font-size: $large-font;
        }
    }
}