<div class="content-popup" content>
    <div class="delivery-details-area pwa-row mt-10">
        <div class="delivery-details container pwa-col-12">
            <h3 class="heading-3">Delivery Details</h3>
            <div class="delivery-details-inner">
                <div class="delivery-details-inner-img">
                    <i class="icon-map-pin-fill"></i>
                </div>
                <div class ="details-right">
                    <div class="pwa-search-input">
                        <input (keyup)="checkPinocdeKey($event)"
                            oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                            [formControl]="pincode" class="inp-box" type="number" placeholder="Enter your pincode"
                            maxlength="6">
                        <div class="input-group-append">
                            <span (click)="checkAvailblityOnPinCode()" class="btn-submit">CHECK</span>
                        </div>    
                    </div>
                    <p class="availability-text">
                        Check serviceability at your location
                    </p>
                </div>
                
            </div>
        </div>
        <div *ngIf="pincode.hasError('pattern')" class="invalid-txt pwa-col-12">
            <p class="right-txt">Invalid pincode provided</p>
        </div>
        <div class="about-delivery pwa-col-12" *ngIf="!(itemShippingAmount > 0)">
            <span class="st-icon-shipping">
                <span class="icon-delivery_1"></span>
                <span class="icon-delivery_2"></span>
                <span class="icon-delivery_3"></span>
                <span class="icon-delivery_4"></span>
                <span class="icon-delivery_5"></span>
                <span class="icon-delivery_6"></span>
                <span class="icon-delivery_7"></span>
                <span class="icon-delivery_8"></span>
            </span>
            <div class="about-delivery-txt">
                <h4 class="green-txt">Free Delivery</h4>
                <span class="green-txt">No shipping charge on this order</span>
            </div>
        </div>
        <div class="about-delivery pwa-col-12" *ngIf="isServiceable && isPincodeAvailble && itemShippingAmount > 0">
            <span class="st-icon-shipping">
                <span class="icon-delivery_1"></span>
                <span class="icon-delivery_2"></span>
                <span class="icon-delivery_3"></span>
                <span class="icon-delivery_4"></span>
                <span class="icon-delivery_5"></span>
                <span class="icon-delivery_6"></span>
                <span class="icon-delivery_7"></span>
                <span class="icon-delivery_8"></span>
            </span>
            <div class="about-delivery-txt">
                <h4>Shipping applicable - ₹{{itemShippingAmount}}</h4>
                <span>On this order</span>
            </div>
        </div>
        <ng-container *ngIf="isPincodeAvailble && !pincode.hasError('pattern')">
            <div class="about-delivery pwa-col-12" *ngIf="isServiceable">
                <span class="st-icon-delivery_available">
                    <span class="icon-delivery_y_1"></span>
                    <span class="icon-delivery_y_2"></span>
                    <span class="icon-delivery_y_3"></span>
                    <span class="icon-delivery_y_4"></span>
                    <span class="icon-delivery_y_5"></span>
                </span>
                <div class="about-delivery-txt">
                    <h4>Delivery available at {{pincode.value}} in {{deliveryDays}}</h4>
                </div>
            </div>
            <div class="about-delivery pwa-col-12" *ngIf="!(isServiceable)">
                <span class="st-icon-delivery_not_available">
                    <span class="icon-delivery_n_1"></span>
                    <span class="icon-delivery_n_2"></span>
                    <span class="icon-delivery_n_3"></span>
                    <span class="icon-delivery_n_4"></span>
                    <span class="icon-delivery_n_5"></span>
                </span>
                <div class="about-delivery-txt">
                    <h4 class="red-txt">Delivery unavailable at {{pincode.value}}</h4>
                </div>
            </div>
            <div class="about-delivery pwa-col-12" *ngIf="isServiceable && (isCashOnDelivery)">
                <span class="st-icon-cod">
                    <span class="icon-cod_1"></span>
                    <span class="icon-cod_2"></span>
                    <span class="icon-cod_3"></span>
                    <span class="icon-cod_4"></span>
                </span>
                <div class="about-delivery-txt">
                    <h4 class="green-txt">COD Available</h4>
                    <span>You can pay at the time of delivery</span>
                </div>
            </div>
            <div class="about-delivery pwa-col-12" *ngIf="isServiceable && !isCashOnDelivery">
                <span class="st-icon-prepaid">
                    <span class="icon-prepaid_1"></span>
                    <span class="icon-prepaid_2"></span>
                    <span class="icon-prepaid_3"></span>
                    <span class="icon-prepaid_4"></span>
                    <span class="icon-prepaid_5"></span>
                </span>
                <div class="about-delivery-txt">
                    <h4>Prepaid payment only</h4>
                </div>
            </div>
        </ng-container>
    </div>
</div>    