@import "../../scss/variables";
@import '../../scss/check-pincode.scss';

.delivery-details-area {
    background-color: var(--white);
    padding:5px 0 10;
    .delivery-details {
        .delivery-details-inner {
            display: flex;
            align-items: center;
            .delivery-details-inner-img {
                width: 10%;
                i {
                    font-size: $extra-large-3-font;
                    color: var(--primary);
                }
            }
            .details-right{
                width: 90%;
                .pwa-search-input{
                    display:flex;
                    position: relative;
                    input {
                        -webkit-box-flex: 1;
                        -ms-flex: 1 1 auto;
                        flex: 1 1 auto;
                        padding: 0px 10px;
                        position: relative;
                        width: 1%;
                        border: 1px solid var(--silver);
                        border-radius: $border-radius-8;
                        border-top-right-radius: 0;
                        border-bottom-right-radius: 0;
                        outline:0px;
                    }
                    .input-group-append{
                        margin-left: -1px;
                        span{
                            white-space: nowrap;
                            background-color:var(--primary);
                            border: $border-radius-2 solid var(--primary);
                            border-top-right-radius: $border-radius-8;
                            border-bottom-right-radius:$border-radius-8;
                            color: $white;
                            font-weight: $font-bold;
                            display: flex;
                            align-items: center;
                            padding: 10px 15px;
                        }
                    }   
                }
                .availability-text {
                    font-size: $small-font;
                    color: var(--gray-web);
                    margin-top: 4px;
                }
            }
        }
    }
    .invalid-txt {
        padding: 5px 45px 0px;
        color: var(--primary);
    }
    .about-delivery {
        min-height: 56px;
        display: flex;
        align-items: center;
        img {
            width: 24px;
        }
        .about-delivery-txt {
            h4 {
                font-size: $medium-font;
            }
    
            span {
                font-size: $small-font;
                color: var(--gray-web);
            }
        }
    }
}


