<div class="accordian_footer_panel">
    <div *ngFor="let details of accordiansDetails; let i = index">
        <ng-container *ngIf="details.data?.length > 0 && !details.isNotVisible">
            <div class="panel-head" style="margin-top: 0px;" >
                <div class="container">
                    <h3 class="heading-3" (click)="changeTab(i)" [ngClass]="{'rotate-icon':isShown[i]}" >
                        <i class="icon-brand_store related-icon"></i>&nbsp; {{details.name}}
                            <span class="icon-accordian">
                            <i class="icon-down"></i>
                        </span>
                    </h3>
                </div>
            </div>
            <div class="panel-body" [ngClass]="{'open':isShown[i]}" >
                <div class="container category_links">
                    <div *ngFor="let data of  details.data | slice:0:10">
                        <a (click)="$event.preventDefault();accordianNav(getUrlPathName(data.link), details?.outerNavRouteEvent, data)"
                            [href]="[data.link.includes('http') ? data.link : prodUrl + '/' + data.link ]">
                            <span *ngIf="details.name=='Popular Brand Categories'">{{details.extra}} </span>{{data.name}}
                        </a>
                        <i class="icon-arrow-right-s-line"></i>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</div>