@import '../../scss/variables';
.accordian_footer_panel {
    margin-top: 10px;
    .panel-head {
        background: #fff;
        border-top: 1px solid #d4d4d4;
        h3 {
            font-size: $extra-large-font;
            &.rotate-icon{
                .icon-down{
                    transform: rotate(180deg); 
                }
            }
            padding: 15px 5px;
            font-weight: bold;
            display: flex;
            align-items: center;
            position: relative;
            .related-icon {
                font-size: 20px;
            }
            .icon-down {
                position: absolute;
                right: 10px;
                top: 18px;
            }
        }
    }
    .panel-body {
        padding: 0px 5px 10px;
        background-color: red;
        background: #fff;
        display: none;
    }
    .open {
        display: block !important;
    }
    .icon-accordian {
        float: right;

        i {
            font-size: 14px;
        }
    }
    .ico-up {
        .icon-accordian {
            transform: rotate(180deg);
        }
    }
    .category_links {
        & > div {
            border-bottom: 1px solid #eaeaea;
            position: relative;
            margin-left: 30px;
            padding: 7px 0px;
            &:last-child {
                border: none;
            }
            a {
                padding: 7px 10px;
                font-size: 14px;
                display: block;
                width: 90%;
            }
            i {
                position: absolute;
                top: 12px;
                right: 0px;
                font-size: 20px;
            }
        }
    }
}
