<div class="cart-header">
    <i class="icon-back-arrow" id="icon-back" (click)="$event.stopPropagation();handleNavigation()"></i>
    <span class="page-name" *ngIf="title">
        {{ title }} 
        </span>
    <!-- <span class="right-content" *ngIf="displayCartInfo">Amount:&nbsp;&#8377;{{totalPayableAmount | mathCeil | number : '1.2-2'}}</span>
     -->
     <span class="right-content" *ngIf="_cartService.totalDisplayPayableAmountWithOutPrepaid > 0 && isQuickorder">Amount:&nbsp;&#8377;{{_cartService.totalDisplayPayableAmountWithOutPrepaid | mathCeil | number : '1.2-2'}}  <i class="icon-information" (click)="scrollPaymentSummary()"></i></span>
</div>
