@import "../../../../scss/variables";

.cart-btn{
    border: 0;
    width: 49.5%;
    height: 100%;
    font-weight: 600;
    border-radius: $border-radius-8;
    font-size: $large-font;
    &.white{
        margin-right: 1%;
    }
    i {
        font-size: 24px;
        display: inline-block;
        vertical-align: middle;
        padding-right: 8px;
    }
    span {
        display: inline-block;
        vertical-align: middle;
    }
}

.red {
    background: var(--primary);
    color: var(--white);
}

.white {
    background: var(--white);
    color: var(--primary);
}

.cart-btn-fullwidth{
    @extend .cart-btn;
    width: 100%;
}