@import '../../scss/variables';
.socsharehead {
    padding: 20px;
}
.app-promotion-img{
    display: table;
    margin: auto;
    li{
        display: table-cell;
        padding-right: 15px;
        &:last-child{
            padding-right: 0;
        } 
    }
}
.social-links {
    display: table;
    margin: auto;
    li {
        display: table-cell;
        a {
            font-size: 32px;
            margin-right: 10px;
            display: block;
            color: var(--primary) !important;
        }
        &:last-child {
            a {
                margin-right: 0;
            }
        }
        .icon-facebook {
            color: #3B5998 !important;
        }
        .icon-instagram {
            color: #3f729b !important;
        }
        .icon-linkedin {
            color: #0077b5 !important;
        }
        .icon-twitter {
            color: #1DA1F2 !important;
        }
        .icon-google {
            color: #DD4B39 !important;
        }
        .icon-blog {
            color: #E96E1D !important;
        }
        .icon-mail {
            color: #1451d8 !important;
        }
        .icon-whatsapp {
            color: #25D366 !important;
        }
    }
}

.main-links {
    width: 100%;
    text-align: center;
}

.links {
    padding: 20px 0;
    display: table;
    margin: auto;
    width: auto;
    li {
        display: inline-block;
        padding: 0;
        a {
            margin: 5px 0;
            padding: 0 10px;
            font-size: 12px;
            display: block;
            border-right: 1px solid #303030;
        }
        &:last-child {
            a {
                border: none;
            }
        }
        
        &.ml {
            margin-left: 65px;
        }
        &:last-child {
            border-right: 0;
        }
    }
}

.copyright {
    font-size: $small-font;
    text-align: center;
}

.footer-note {
    font-size: $small-font;
    background: $body-color;
    line-height: 18px;
    padding: 10px;
    p {
        margin-bottom: 15px;
    }
}