@import '../../../scss/variables';
@import '../../../scss/payment-common';
@import '../payment-continue-btn.scss';
@import '../../../scss/components/radio.scss';
@import '../../../scss/components/checkbox.scss';
.radio-with-label{
    align-items: flex-start !important;
}
.saved-details {
    // @extend %white-card;
    // margin: 0px 0px 15px;
    background-color: var(--white);
    border-radius: $border-radius-8;
    h3 {
        padding-left: 15px;
    }
    .chk-txt{
        width: 100%;
    }
    .detail-txt {
        //float: left;
        width: calc(100% - 45px);
        display: block;
        .card-no {
            vertical-align: middle;
        }
        .input-sec {
            width: 100%;
            padding-right: 0;
            max-height: 0;
            overflow: hidden;
            @extend %transition;
            input {
                border-color: var(--blue);
                height: 30px;
                width: 80px;
                border: 1px solid #D7D7D7;
                border-radius: 4px;
                padding: 5px;
                // margin-top: 10px;
                &::placeholder {
                    font-size: 14px;
                }
            }
        }
        .new-guidelines{
            border-radius: $border-radius-8;
            background-color:#FFEBE0;
            margin-top: 8px;
            .new-container{
                display: flex;
                align-items: center;
                padding: 10px;
                .checkbox-container{
                    @extend %custom-check-box-checkout;
                    .custom-box{
                        display: block;
                        margin-right: 0 !important;
                    }
                }
                .rbi-guidlines-txt{
                    padding-left: 15px;
                    p{
                        font-size: $small-font;
                        line-height: $small-line-height;
                        padding-bottom: 5px;
                    }
                    .know-more-btn{
                        color: var(--bleu-de-france);
                        font-weight: $font-bold;
                    }
                }
            }
        }
    }
    input:checked~.chk-txt .input-sec {
        max-height: 126px
    }
    .card-detail {
        position: relative;
        padding: 10px 15px 15px;
        &:last-child{
            border-bottom: 0px;
        }
        .delete-ico {
            position: absolute;
            right: 15px;
            top: 20px;
        }
        label {
            margin-bottom: 5px;
            width: 100%;
            // padding: 10px 10px;
            // border-bottom: 1px solid var(--platinum);
        }
        &:last-child {
            label {
                border-bottom: 0;
            }
        }
    }
}

.img-logo {
    margin-top: -3px;
    img {
        width: 60px;
    }
}

.radio-with-label-container {
    display: flex;
   
    label.radio-with-label {
        display: inline-flex;
        @extend %pwa-universal-radio;
        width: 160px;
        .custom-box {
            margin-right: 10px;
            margin-top: -5px;
            font-size: 24px;
        }
        .radio-text {
            font-size: $medium-font;
        }
    }
}

.new-guidelines{
    border-radius: $border-radius-8;
    background-color: var(--we-peep);
    margin-top: 8px;
    margin-left: 30px;
    .new-container{
        display: flex;
        align-items: center;
        padding: 10px;
        .checkbox-container{
            @extend %custom-check-box-checkout;
            .custom-box{
                display: block;
                margin-right: 0 !important;
            }
        }
        .rbi-guidlines-txt{
            padding-left: 15px;
            p{
                font-size: $small-font;
                line-height: $small-line-height;
                padding-bottom: 5px;
            }
            .know-more-btn{
                color: var(--bleu-de-france);
                font-weight: $font-bold;
            }
        }
    }
}