@import '../../../scss/variables';
@import '../../../scss/payment-common';
@import '../payment-continue-btn.scss';
.saved-details {
    h3 {
        padding-left: 15px;
    }
    .detail-txt {
        //float: left;
        width: 80%;
        width: calc(100% - 45px);
        .card-no {
            display: block;
            // margin: 6px 0;
        }
        .input-sec {
            width: 80px;
            padding-right: 0;
            max-height: 0;
            overflow: hidden;
            @extend %transition;
            input {
                border-color: $blue-link-color;
                padding: 5px 5px 0 0;
                height: 30px;
                &::placeholder {
                    font-size: 14px;
                }
            }
        }
    }
    input:checked~.chk-txt .input-sec {
        max-height: 100px
    }
    .card-detail {
        position: relative;
        .delete-ico {
            position: absolute;
            right: 15px;
            top: 20px;
        }
        label {
            padding: 10px 10px;
            // border-bottom: 1px solid $border-color;
        }
        &:last-child {
            label {
                border-bottom: 0;
            }
        }
    }
}

.img-logo {
    img {
        width: 60px;
    }
}