<div class="pwa-row pad-b-0"  *ngIf="_cartService.totalPrepaidSaving>0">
    <div class="dropped-price-container">
        <div class="drop-icon">
            <img src="../../../../assets/img/drop-price.png">
        </div>
        <div class="dropped-price-desc">
            <p class="g-text">WOW! You got EXTRA ₹{{_cartService.totalPrepaidSaving | mathRound | number :'1.2-2' }} OFF</p>
            <p>
                By paying online via <b>UPI, EMI, Credit/Debit Card, Net Banking, Wallets</b>
            </p>
        </div>
    </div>
</div>