@import '../../scss/variables';

.dropped-price-container {
    border: 1px solid var(--slimy-green);
    padding: 15px;
    // margin-top: px;
    width: 100%;
    margin-bottom: -5px;
    border-radius: $border-radius-8;
    display: flex;
    align-items: center;
    background-color: var(--white);

    .drop-icon {
        img {
            width: 24px;
        }
    }

    .dropped-price-desc {
        padding-left: 10px;

        p {
            font-size: $medium-font;
            line-height: $small-line-height;
        }

        .g-text {
            color: var(--slimy-green);
            font-size: $large-font ;
            font-weight: $font-bold;
            padding-bottom: 5px;
        }

        .before-discount {
            text-decoration: line-through;
        }

    }
}