<section *ngIf="isBrowser" class="business-form">
    <form [formGroup]="businessDetailForm" (ngSubmit)="this.onSubmit(this.businessDetailForm.value, this.businessDetailForm.valid)" class="material-form" novalidate>
        <div>
            <div>
                <!--GSTIN-->
                <div class="input-field">
                    <label [class.is-focus]="gstin.value.length!=0">
                        <input type="text" formControlName="gstin" maxlength="15">
                        <span class="label">GSTIN*</span>
                        <ng-container *ngIf="gstin.valid">
                            <span class="edit-field verified" *ngIf="isGSTINVerified">VERIFIED
                                <i class="icon-check-active"></i>
                            </span>
                            <span class="edit-field" *ngIf="!(isGSTINVerified)"
                                (click)="$event.stopPropagation();verifyGSTIN();">
                                VERIFY NOW
                            </span>
                        </ng-container>
                    </label>
                    <ng-container *ngIf="gstin.touched || gstin.dirty">
                        <p class="error-txt" *ngIf="gstin.hasError('required')"> Kindly enter your GSTIN </p>
                        <p class="error-txt" *ngIf="gstin.hasError('minlength')"> Kindly enter a valid GSTIN of 15-digit
                        </p>
                    </ng-container>
                </div>
                <!--Business Entity Name-->
                <div class="input-field">
                    <label [class.is-focus]="companyName.value.length!=0" [class.disableInput]="!(isGSTINVerified)">
                        <input maxlength="75" type="text" formControlName="companyName" [readonly]="!(isGSTINVerified)">
                        <span class="label">Business Entity Name*</span>
                    </label>
                    <ng-container *ngIf="companyName.dirty && companyName.errors != null">
                        <p class="error-txt" *ngIf="companyName.hasError('required')">
                            Kindly enter your business entity name
                        </p>
                    </ng-container>
                </div>
                <!--Business Email Id-->
                <div class="input-field">
                    <label [class.is-focus]="email.value != null && email.value.length!=0" [class.disableInput]="!(isGSTINVerified)">
                        <input formControlName="email" type="text" [readonly]="!(isGSTINVerified)">
                        <span class="label">Business Email Id (Optional)</span>
                    </label>
                    <ng-container *ngIf="email.dirty && email.errors != null">
                        <p class="error-txt" *ngIf="email.hasError('invalidEmail')">
                            Kindly enter valid email
                        </p>
                    </ng-container>
                </div>
                <!--Business  Phone No.-->
                <div class="input-field">
                    <label [class.is-focus]="phone.value != null && phone.value.length!=0" [class.disableInput]="!(isGSTINVerified)">
                        <input formControlName="phone" type="text" [readonly]="!(isGSTINVerified)">
                        <span class="label">Business Phone No.*</span>
                    </label>
                    <ng-container *ngIf="phone.dirty && phone.errors != null">
                        <p class="error-txt" *ngIf="phone.hasError('required')">
                            Kindly enter your business phone number
                        </p>
                        <p class="error-txt" *ngIf="phone.hasError('invalidPhone')">
                            Kindly enter valid phone number
                        </p>
                    </ng-container>
                </div>
                <!--PIN-->
                <div class="input-field">
                    <label [class.is-focus]="postCode.value != null && postCode.value.length!=0" [class.disableInput]="!(isGSTINVerified)">
                        <input formControlName="postCode" type="text" [readonly]="!(isGSTINVerified)">
                        <span class="label">PIN*</span>
                    </label>
                    <ng-container *ngIf="postCode.dirty">
                        <p class="error-txt" *ngIf="!isPinCodeAvailble && postCode.valid">
                            Pincode does't exists
                        </p>
                        <p class="error-txt" *ngIf="postCode.errors">
                            {{postCode.errors | pincodeerror}}
                        </p>
                    </ng-container>
                </div>
            </div>
            <div>
                <div formGroupName="address">
                    <!--Registered Address-->
                    <div class="input-field">
                        <label [class.is-focus]="addressLine.value != null && addressLine.value.length!=0" [class.disableInput]="!(isGSTINVerified)">
                            <input formControlName="addressLine" type="text" [readonly]="!(isGSTINVerified)">
                            <span class="label">Registered Address*</span>
                        </label>
                        <ng-container *ngIf="addressLine.dirty && addressLine.errors != null">
                            <p class="error-txt" *ngIf="addressLine.hasError('required')">
                                Kindly enter your registered address
                            </p>
                            <p class="error-txt" *ngIf="addressLine.hasError('pattern')">
                                Special characters are not allowed
                            </p>
                        </ng-container>
                    </div>
                    <!--City-->
                    <div class="input-field">
                        <label [class.is-focus]="city.value != null && city.value.length!=0" class="disableInput">
                            <input formControlName="city" type="text" readonly>
                            <span class="label">City*</span>
                        </label>
                    </div>
                    <!--State-->
                    <div class="input-field">
                        <label class="is-focus">
                            <select disabled formControlName="idState" #isSelectedState disabled>
                                <option *ngFor="let state of stateList" [value]="state.idState">{{state.name}}</option>
                            </select>
                            <i class="icon-down"></i>
                            <span class="label">State*</span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="successfulMessage">
            <p>Data is successfully saved</p>
        </div>
        <button [disabled]="!(canSave)" class="btn continue-btn bottom-stick" [class.disabledButton]="!(canSave)" type="submit">SAVE</button>
    </form>
</section>