@import "../../../scss/_variables.scss";
@import '../../../scss/layout/forms';
@import '../../../scss/layout/cards';

.full-height {
  height: 85vh;
  height: calc(100vh - 56px);
}
.business-form {
  background:var(--white);
  form{
    flex:1
  }
}