<!-- sign-up-form -->
<shared-auth-header [isCheckout]="isCheckout"></shared-auth-header>
<ng-container *ngIf="currentStep === 'OTP'">
    <shared-auth-otp [otpFormArray]="otpForm" [isCheckout]="isCheckout" [source]="'signup'" [identifier]="phone.value"
        (otpEmitter)="captureOTP($event)" [withLabel]="false"></shared-auth-otp>
</ng-container>

<ng-container *ngIf="currentStep === 'DETAILS'">
    <div class="outer-card">
        <h3 class="heading-custom-3">{{isSingupUsingPhone?'Almost Done!':'Looks like you’re new here!'}}</h3>
        <p class="error-field error-txt">{{isSingupUsingPhone?'Just a few more details':'Please provide below information'}}</p>
    </div>
    <div class="login-card">
        <form class="material-form" [formGroup]="signupForm">
            <div class="outline-input-label">
                <label [class.is-focus]="firstName.value.length!=0">
                    <input 
                        [ngClass]="{'invalid-input': (isSubmitted && (firstName.hasError('required') || (!(firstName.hasError('required')) && firstName.hasError('whitespace'))))  }"
                        type="text" formControlName="firstName" maxlength="20">
                    <span class="label">Enter User Name*</span>
                    <ng-container *ngIf="isSubmitted && firstName.invalid">
                        <p class="error-field error-txt" *ngIf="firstName.hasError('required')">Enter user name</p>
                        <p class="error-field error-txt"
                            *ngIf="!(firstName.hasError('required')) && firstName.hasError('whitespace')">
                            Username cannot start with space(s)</p>
                    </ng-container>
                </label>
            </div>
            <div class="outline-input-label" *ngIf="!(isSingupUsingPhone)">
                <label [class.is-focus]="phone.value.length!=0">
                    <input 
                        [ngClass]="{'invalid-input': ( isSubmitted && ((phone.invalid && phone.hasError('startwithzero')) || (phone.invalid && !phone.hasError('startwithzero')) || (signupForm.valid && isUserExists)) )} "
                        type="tel" numbersOnly formControlName="phone" maxlength="10" autocomplete="off">
                    <span class="label">Enter Mobile Number*</span>
                    <ng-container *ngIf="isSubmitted && phone.invalid">
                        <p class="error-field error-txt" *ngIf="phone.invalid && phone.hasError('startwithzero')">Mobile Number should not begin with 0</p>
                        <p class="error-field error-txt" *ngIf="phone.invalid && !phone.hasError('startwithzero')">Enter 10 digit mobile number</p>
                    </ng-container>
                    <p class="error-field error-txt" *ngIf="isSubmitted && signupForm.valid && isUserExists">Number already exists, try different number or try
                        sign-in</p>
                </label>
            </div>
            <div class="outline-input-label" *ngIf="isSingupUsingPhone">
                <label [class.is-focus]="email.value.length!=0">
                    <input 
                    [ngClass]="{'invalid-input': (isSubmitted && ((email.errors && email.errors.invalidCharT) || (signupForm.valid && isUserExists)) ) }"
                    type="text" formControlName="email" maxlength="100" autocomplete="off">
                    <span class="label">Enter Email-ID (Optional)</span>
                    <ng-container *ngIf="isSubmitted && email.invalid">
                        <p class="error-field error-txt" *ngIf="email.errors && email.errors.invalidCharT">
                            Enter valid Email-ID
                        </p>
                    </ng-container>
                    <p class="error-field error-txt" *ngIf="isSubmitted && signupForm.valid && isUserExists">
                        Email already exists, try different email or try sign-in</p>
                </label>
            </div>
            <div class="outline-input-label">
                <label [class.is-focus]="password.value.length!=0">
                    <input 
                       [ngClass]="{'invalid-input': (isSubmitted && ( (password.hasError('minlength')) || (password.hasError('space')) ))}"
                        [type]="isPasswordType?'password':'text'" formControlName="password" maxlength="20" autocomplete="off">
                    <span class="label">Enter Password (Optional)</span>
                    <i class="icon-view-password" [class.active-password-icon]="!isPasswordType" *ngIf="password.value" (click)="$event.stopPropagation();togglePasswordType()"></i>
                    <ng-container *ngIf="isSubmitted && password.invalid">
                        <p class="error-field error-txt" *ngIf="password.hasError('minlength')">{{password.errors.minlength}}</p>
                        <p class="error-field error-txt" *ngIf="password.hasError('space')">{{password.errors.space}}</p>
                    </ng-container>
                </label>
            </div>
            <button class="btn btn-variant1" (click)="validateUser($event)">
                SIGN-UP NOW
            </button>
        </form>
        <p class="safe-text">Your details are safe with us.</p>
    </div>
</ng-container>