@import "../../../scss/variables";
// New login start
.outer-card {
    padding: 15px 15px 0px 15px;
    p {
        font-size: $medium-font;
        line-height: 16px;
        color: #3C3C3C;
    }
}
.login-card {
    @extend %login-card;
}
